<div class="container" id="inhalt">
  <h1>
    Zertifikat Hochschullehre Mathematik / Certificate Teaching of Mathematics
    in Higher Education
  </h1>
  <!--

On May 17, 2024, the Faculty of Mathematics and Physics of the University of Freiburg adopted regulations for a Teaching Certificate for scientists on an early career stage. 
<ul>
<li> <a href="satzung-web.pdf">Official regulations (German)</a>
<li> <a href="satzung-englisch-web.pdf">Unofficial English translation</a>
</ul>

<h2> What</h2>
The Mathematical Institute certifies your teaching activities. The certificate can be included in applications in academia, e.g., tenure track or tenured positions. It shows what you have done. It also communicates that you care about teaching and understand its importance.

The certificate has two levels:
<ul>
<li>Level 1: Supporting teaching activities, e.g., as an ''Assistent'' to a lecture or seminar. These are typical for the early postdoc stage (at least at German universities).
<li>Level 2: Independent teaching, e.g., teaching a lecture class or running a seminar. For postdocs, this requires approval by the Institute and appointment as an examiner. Is is typical for an advanced postdoc stage or junior professorship.
</ul>
The requirements reflect what (in our judgement) is expected from you when applying to more and more advanced academic positions.

<h2> Who</h2>
Everyone who is teaching at the Mathematical Institute, independent of employment status, and has not yet done the Habilitation (or equivalent).

<h2> How</h2>
The certificate has three elements:
<ol>
<li>feedback from a peer tandem partner
<li>a teaching statement
<li>teaching events
</ol>
<h3>Tandem</h3>
You and your tandem partner both choose a class in which you will visit each other twice during the semester. You should give each other feedback, discuss plans, strengths and weaknesses.

The Division for Teaching in Higher Education of the University of Freiburg has recomendations on how to organize and structure such peer feedback, see
<a href="https://www.hochschuldidaktik.uni-freiburg.de/angebote/zertifikat/koll_hospi">Kollegiale Lehrhospitation</a>

You can find a tandem partner at the informational meeting that will take place early each semester, see below.

<h3>Teaching Statement</h3>
It has become the standard internationally to include not only a research statement, but also a teaching statement with job applications in academia. You should describe your approach to teaching, your experience and your plans. 
A few years ago, the AMS notices published a 
<a href="https://www.ams.org/notices/201501/rnoti-p59.pdf"> guide for beginners</a> in the Notices of the AMS. The contents of the teaching statement will change as you gain experience. Often people also include student evaluations.

We ask you to write your teaching statement and submit it to  your advisor/mentor for feedback.



<h3>Teaching events</h3>
This is the core of the certificate: your actual experience. The list in 
<a href="satzung-web.pdf">Anhang A (German)</a> or
 <a href="satzung-englisch-web.pdf">Appendix A (Englisch translation)</a>
contains typical teaching events at the Department of Mathematics and gives thema weight of 1 or 2 points. For each level  of the Certificate, you have to teach at least 5 points from the respective list. With a full teaching load, it will take you 2-3 semesters to fulfill the requirements.

<h3>How to apply</h3>
<ul>
<li>Fill in the <a href="???">form</a>. Make sure that you have reached 5 points. 
<li>In addition, print the form and collect the necessary signatures from advisors/mentors and tandem partners. In case you want to be awarded points for non-standard teaching events, also see Prof. Huber-Klawitter.
<li>Send the form by e-mail to Ms Caffier at the examination office and hand the print-out in with Ms Caffier.
</ul>
Voil&agrave;!

<h3>Data Protection</h3>
We will use your data for the following purposes:
<ol>
<li>to issue the certificate;
<li>to reissue the certificate including additional teaching events;
<li>in anonymized form for statistical evaluations and quality control;
<li>to verify the validity of your certificate in case of legitimate enquiries.
</ol>

Your data will be deleted at the end of the academic year 8  years after the latest issue of your certificate.

<h2>What else</h2>
<h3>The Abteilung Hochschuldidaktik</h3>
The <a href="https://www.hochschuldidaktik.uni-freiburg.de">Section of Teaching in Higher Education of the University of Freiburg</a> makes a whole range of offers to professionalize teaching at the university level. They have workshops all year round. Of particular interest for you may be either individual coaching or the Baden-Württemberg Zertifikat.

There offers do not address the special situation of mathematics, so we see their program as complementary to ours.

<h3>Habilitation</h3>
This is a postdoctoral academic degree traditional in German speaking countries, but also elsewhere in Europe. Its role is regulated in law, on the level of the University and of the Faculty of Mathematics and Physics. 

It is foreseen at the end of postdoc phase, ca. 3 to 6 years after the PhD. The degree qualifies your for indepdendent teaching and advising of theses on all levels.

 Either Habilitation or equivalent achievements are necessary to be hired on a W2- or W3-professorship in German Universities. 
For more details, see the <a href="https://www.math.uni-freiburg.de/lehre/dokumente/HabilOmathphys-02-12-03_Aend_01-10-06-Druckvorlage.pdf">Regulations for habilitation</a>.

<h2> For questions</h2>
At present, Prof. Huber-Klawitter is responsible for all questions and decisions around the certificate. <p>
Paperwork is handled by Ms Caffier in the examination office.


Early every semester we will hold a meeting for everyone who is interested in the certificate. This will provide a good opportunity to clear up questions.
We will time it before teaching plans for the following semester are finalized. It will also provide a good forum to find tandem partners.
The meeting will be announced on the Wochenprogramm and by e-mail to members of the Institute (please make sure that you are on the mailing list ''mathfak-wiss''). 


<h2> FAQ</h2>
<ul>
<li> <b>I am a Juniorprofessor at the Department. Can I obtain the Certificate?</b><br>
Yes. You can probably reach Level 2 (independent teaching) very easily.</p>

<li> <b>I am working for my doctorate. Can I obtain the Certificate?</b><br>
Yes, presumably on Level 1. You probably have lower teaching duties than a postdoc, but if you are teaching regularly, you will collect enough points.</p>

<li> <b> I am on a grant/research position. Can I obtain the Certificate?</b><br>
Yes, if you teach.</p> 
<li> <b>I got my certificate last year, but now have taught another class.</b><rr>
If the new teaching activities are on the same level as before, we will reissue the certificate including the new event. You do not have repeat the other components.</p>
<li> <b>I got the certificate on Level 1, now I am thinking about Level 2. Do I have to write a new teaching statement?</b><br>
Yes, you do. You also have to find a tandem partner again.</p>
<li> <b>I taught Topology at Bonn/Warwick/..... Does this count? </b><br>
No, we only certify things that happen at Freiburg. There is one exception: when you organize a summer school or give a lecture series at such an event while you are based at Freiburg.</p>
<li> <b>I am working as teaching assistent (''Tutor'') this semester, i.e., holding an excercise class and correcting excercises. Does this count?</b><br>
No, it does not. In the case of small advanced lectures with only one excercise group, the ''Assistent'' usually also does the excercise class including correcting the homework. This counts because you are doing the job of an ''Assistent''.
</p>
<li><b> What does ''other teaching event'' mean?</b> <br>
Things we did not think of, but should really count. Please check with the person responsible for the certificate.</p>
<li><b>I am the Assistent of a lecture. How should we arrange the tandem visits?</b><br>
Be creative. If you are standing in for the lecturer, this would be the ideal moment. If there is a weekly meeting with the teaching assistents, your tandem partner could visit and give feedback on that. Discuss your thoughts behind the choices of excercises, etc.
<li> <b>I am the Assistent of a seminar. How should we arrange the tandem visits?</b><br> 
Be creative. Discuss the thoughts behind your program before the event. Did it work out like planned? Your tandem partner could be present when you are meeting a student. They can attend a talk and give feedback how they.</p>
<li><b> I want to obtain the Certificate at Level 2. I am only doing Level 1 stuff this semester, but would like to work with a tandem partner. Can I do that?
</b>
<br>
Yes, you can. If there is no hurry, it might be better to wait for a better opportunity, though.</p>
<li> <b>What does ''coadvising a Bachelor project'' mean?</b><br>
You do not have official responsibility, but you are doing most of the actual supervision, e.g., regular meetings with the student.  </p>
<li><b> Do I have to submit my teaching statement?</b><br>
No, you don't. Give it to your supervisor/mentor and get his feedback.</p>
<li><b>Do I have to write a report on my activities with my tandem partner?</b><br>
No, you don't. </p>
<li> <b>My question is not on the list!</b><br>
Ask Prof. Huber-Klawitter.
</ul>


-->
  <div class="accordion accordion-flush" id="accordionExample">
    <div class="accordion-item" id="what">
      <h4 class="accordion-header" id="headerwhat">
        <button
          aria-controls="whatContent"
          aria-expanded="{% if anchor == 'what' %}true{% else %}false{% endif %}"
          class="accordion-button {% if anchor != 'what' %}collapsed{% endif %}"
          data-bs-target="#whatContent"
          data-bs-toggle="collapse"
          type="button"
        >
          <h3 class="h5">
            What is the Certificate Teaching of Mathematics in Higher Education?
          </h3>
        </button>
      </h4>
      <div
        aria-labelledby="whatContent"
        class="accordion-collapse collapse {% if anchor == 'what' %}show{% endif %}"
        data-bs-parent="#accordionExample"
        id="whatContent"
      >
        <div class="accordion-body" id="whatContent">
          <p>
            The Mathematical Institute certifies teaching activities for
            scientists at an early career stage. The certificate can be included
            in applications in academia, e.g., tenure track or tenured
            positions. It shows what you have done. It also communicates that
            you care about teaching and understand its importance. The
            certificate has two levels:
          </p>
          <ul>
            <li>
              <b> Level 1: Supporting teaching activities </b>
              e.g., as an ''Assistent'' to a lecture or seminar.
              <br />
              These are typical for the early postdoc stage (at least at German
              universities).
            </li>
            <li>
              <b> Level 2: Independent teaching </b>
              , e.g., teaching a lecture class or running a seminar.
              <br />
              For postdocs, this requires approval by the institute and
              appointment as an examiner. It is typical for an advanced postdoc
              stage or junior professorship.
            </li>
          </ul>
          The requirements reflect what (in our judgement) is expected from you
          when applying to more and more advanced academic positions.
          <p>
            The regulations for the teaching certificate were adopted by the
            Faculty of Mathematics and Physics of the University of Freiburg on
            May 17, 2024.
          </p>
          <ul>
            <li>
              <a
                href="/static/pdf/lehrende/Satzung-Zertifikat_Hochschullehre.deutsch.pdf"
              >
                Official regulations (German)
              </a>
            </li>
            <li>
              <a
                href="/static/pdf/lehrende/Satzung-Zertifikat_Hochschullehre.englisch.pdf"
              >
                Unofficial English translation
              </a>
            </li>
          </ul>
          At present, Prof. Huber-Klawitter is responsible for all questions and
          decisions around the certificate.
        </div>
      </div>
    </div>
    <div class="accordion-item" id="who">
      <h4 class="accordion-header" id="headerwho">
        <button
          aria-controls="whoContent"
          aria-expanded="{% if anchor == 'who' %}true{% else %}false{% endif %}"
          class="accordion-button {% if anchor != 'who' %}collapsed{% endif %}"
          data-bs-target="#whoContent"
          data-bs-toggle="collapse"
          type="button"
        >
          <h3 class="h5">Who is eligible for the certificate?</h3>
        </button>
      </h4>
      <div
        aria-labelledby="whoContent"
        class="accordion-collapse collapse {% if anchor == 'who' %}show{% endif %}"
        data-bs-parent="#accordionExample"
        id="whoContent"
      >
        <div class="accordion-body" id="whoContent">
          <p>
            Everyone who is teaching at the Mathematical Institute, independent
            of employment status, and has not yet done the Habilitation.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item" id="how">
      <h4 class="accordion-header" id="headerhow">
        <button
          aria-controls="howContent"
          aria-expanded="{% if anchor == 'how' %}true{% else %}false{% endif %}"
          class="accordion-button {% if anchor != 'how' %}collapsed{% endif %}"
          data-bs-target="#howContent"
          data-bs-toggle="collapse"
          type="button"
        >
          <h3 class="h5">How can I apply for the certificate?</h3>
        </button>
      </h4>
      <div
        aria-labelledby="howContent"
        class="accordion-collapse collapse {% if anchor == 'how' %}show{% endif %}"
        data-bs-parent="#accordionExample"
        id="howContent"
      >
        <div class="accordion-body" id="howContent">
          <p>The certificate has three elements:</p>
          <ol>
            <li>feedback from a peer tandem partner</li>
            <li>a teaching statement</li>
            <li>teaching events</li>
          </ol>
          <h4>Tandem</h4>
          You and your tandem partner both choose a class in which you will
          visit each other twice during the semester. You should give each other
          feedback, discuss plans, strengths and weaknesses.
          <br />
          The Department of Higher Education Didactics of the University of
          Freiburg has recommendations on how to organize and structure such
          peer feedback, see
          <a
            href="https://www.hochschuldidaktik.uni-freiburg.de/angebote/zertifikat/koll_hospi"
          >
            Kollegiale Lehrhospitation
          </a>
          .
          <br />
          You can find a tandem partner at the informational meeting that will
          take place early each semester, see below.
          <h4>Teaching Statement</h4>
          It has become the standard internationally to include not only a
          research statement, but also a teaching statement with job
          applications in academia. You should describe your approach to
          teaching, your experience and your plans. A few years ago, the AMS
          Notices published a
          <a href="https://www.ams.org/notices/201501/rnoti-p59.pdf">
            guide for beginners
          </a>
          in the Notices of the AMS. The contents of the teaching statement will
          change as you gain experience. Often people also include student
          evaluations. We ask you to write your teaching statement and submit it
          to your advisor/mentor for feedback.
          <h4>Teaching events</h4>
          This is the core of the certificate: your actual experience. The list
          in
          <a
            href="/static/pdf/lehrende/Satzung-Zertifikat_Hochschullehre.deutsch.pdf"
          >
            Anhang A (German)
          </a>
          or
          <a
            href="/static/pdf/lehrende/Satzung-Zertifikat_Hochschullehre.englisch.pdf"
          >
            Appendix A (Englisch translation)
          </a>
          contains typical teaching events at the Mathematical Institute and
          gives them a weight of 1 or 2 points. For each level of the
          Certificate, you have to teach at least 5 points from the respective
          list. With a full teaching load, it will take you 2-3 semesters to
          fulfil the requirements.
          <h4>How to apply</h4>
          <ul>
            <li>
              Fill in the
              <a href="???"> </a>
              form (in preparation). Make sure that you have reached 5 points.
            </li>
            <li>
              In addition, print the form and collect the necessary signatures
              from advisors/mentors and tandem partners. In case you want to be
              awarded points for non-standard teaching events, also see Prof.
              Huber-Klawitter.
            </li>
            <li>
              Send the form by e-mail to Ms Caffier at the examination office
              and hand the print-out in with Ms Caffier.
            </li>
          </ul>
          Voilà!
          <h4>For questions</h4>
          At present, Prof. Huber-Klawitter is responsible for all questions and
          decisions around the certificate. Paperwork is handled by Ms Caffier
          in the examination office.
          <br style="margin-bottom: 5px" />
          Early every semester we will hold a meeting for everyone who is
          interested in the certificate. This will provide a good opportunity to
          clear up questions. We will time it before teaching plans for the
          following semester are finalized. It will also provide a good forum to
          find tandem partners. The meeting will be announced on the
          Wochenprogramm and by e-mail to members of the institute (please make
          sure that you are on the mailing list ''mathfak-wiss'').
        </div>
      </div>
    </div>
    <div class="accordion-item" id="else">
      <h4 class="accordion-header" id="headerelse">
        <button
          aria-controls="elseContent"
          aria-expanded="false"
          class="accordion-button collapsed"
          data-bs-target="#elseContent"
          data-bs-toggle="collapse"
          type="button"
        >
          <h3 class="h5">What else do I need to know?</h3>
        </button>
      </h4>
      <div
        aria-labelledby="elseContent"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
        id="elseContent"
      >
        <div class="accordion-body" id="elseContent">
          <p></p>
          <h4>The ''Abteilung Hochschuldidaktik''</h4>
          The
          <a href="https://www.hochschuldidaktik.uni-freiburg.de">
            Department of Higher Education Didactics
          </a>
          of the University of Freiburg makes a whole range of offers to
          professionalize teaching at the university level. They have workshops
          all year round. Of particular interest for you may be either
          individual coaching or the Baden-Württemberg Zertifikat. There offers
          do not address the special situation of mathematics, so we see their
          program as complementary to ours.
          <h4>Habilitation</h4>
          This is a postdoctoral academic degree traditional in German speaking
          countries, but also elsewhere in Europe. Its role is regulated in law,
          on the level of the University and of the Facultyof Mathematics and
          Physics. It is foreseen at the end of postdoc phase, approx. 3 to 6
          years after the PhD. The degree qualifies your for indepdendent
          teaching and advising of theses on all levels. Either Habilitation or
          equivalent achievements are necessary to be hired on a W2- or
          W3-professorship in German Universities. For more details, see the
          <a
            href="/static/pdf/lehrende/HabilOmathphys-02-12-03_Aend_01-10-06-Druckvorlage.pdf"
          >
            regulations for habilitation
          </a>
          .
        </div>
      </div>
    </div>
    <div class="accordion-item" id="faq">
      <h4 class="accordion-header" id="headerfaq">
        <button
          aria-controls="faqContent"
          aria-expanded="false"
          class="accordion-button collapsed"
          data-bs-target="#faqContent"
          data-bs-toggle="collapse"
          type="button"
        >
          <h3 class="h5">FAQ</h3>
        </button>
      </h4>
      <div
        aria-labelledby="faqContent"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
        id="faqContent"
      >
        <div class="accordion-body" id="faqContent">
          <p></p>
          <ul style="margin-bottom: 5px">
            <li style="margin-bottom: 10px">
              <b>
                I am a Juniorprofessor at the institute. Can I obtain the
                certificate?
              </b>
              <br />
              Yes. You can probably reach Level 2 (independent teaching) very
              easily.
            </li>
            <li style="margin-bottom: 10px">
              <b>
                I am working for my doctorate. Can I obtain the certificate?
              </b>
              <br />
              Yes, presumably on Level 1. You probably have lower teaching
              duties than a postdoc, but if you are teaching regularly, you will
              collect enough points.
            </li>
            <li style="margin-bottom: 10px">
              <b>
                I am on a grant/research position. Can I obtain the certificate?
              </b>
              <br />
              Yes, if you teach.
            </li>
            <li style="margin-bottom: 10px">
              <b>
                I got my certificate last year, but now have taught another
                class.
              </b>
              <br />
              If the new teaching activities are on the same level as before, we
              will reissue the certificate including the new event. You do not
              have to repeat the other components.
            </li>
            <li style="margin-bottom: 10px">
              <b>
                I got the certificate on Level 1, now I am thinking about Level
                2. Do I have to write a new teaching statement?
              </b>
              <br />
              Yes, you do. You also have to find a tandem partner again.
            </li>
            <li style="margin-bottom: 10px">
              <b> I taught topology at Bonn/Warwick/... – does this count? </b>
              <br />
              No, we only certify things that happen at Freiburg. There is one
              exception: when you organize a summer school or give a lecture
              series at such an event while you are based at Freiburg.
            </li>
            <li style="margin-bottom: 10px">
              <b>
                I am working as teaching assistent (''Tutor'') this semester,
                i.e., holding an excercise class and correcting excercises. Does
                this count?
              </b>
              <br />
              No, it does not. In the case of small advanced lectures with only
              one excercise group, the ''Assistent'' usually also does the
              excercise class including correcting the homework. This counts
              because you are doing the job of an ''Assistent''.
            </li>
            <li style="margin-bottom: 10px">
              <b> What does ''other teaching event'' mean? </b>
              <br />
              Things we did not think of, but should really count. Please check
              with Prof. Huber-Klawitter.
            </li>
            <li style="margin-bottom: 10px">
              <b>
                I am the Assistent of a lecture. How should we arrange the
                tandem visits?
              </b>
              <br />
              Be creative. If you are standing in for the lecturer, this would
              be the ideal moment. If there is a weekly meeting with the
              teaching assistents, your tandem partner could visit and give
              feedback on that. Discuss your thoughts behind the choices of
              excercises, etc.
            </li>
            <li style="margin-bottom: 10px">
              <b>
                I am the Assistent of a seminar. How should we arrange the
                tandem visits?
              </b>
              <br />
              Be creative. Discuss the thoughts behind your program before the
              event. Did it work out like planned? Your tandem partner could be
              present when you are meeting a student. They can attend a talk and
              give feedback.
            </li>
            <li style="margin-bottom: 10px">
              <b>
                I want to obtain the certificate at Level 2. I am only doing
                Level 1 stuff this semester, but would like to work with a
                tandem partner. Can I do that?
              </b>
              <br />
              Yes, you can. If there is no hurry, it might be better to wait for
              a better opportunity, though.
            </li>
            <li style="margin-bottom: 10px">
              <b> What does ''coadvising a Bachelor project'' mean? </b>
              <br />
              You do not have official responsibility, but you are doing most of
              the actual supervision, e.g., regular meetings with the student.
            </li>
            <li style="margin-bottom: 10px">
              <b> Do I have to submit my teaching statement? </b>
              <br />
              No, you don't. Give it to your supervisor/mentor and get his
              feedback.
            </li>
            <li style="margin-bottom: 10px">
              <b>
                Do I have to write a report on my activities with my tandem
                partner?
              </b>
              <br />
              No, you don't.
            </li>
            <li style="margin-bottom: 10px">
              <b> My question is not on the list! </b>
              <br />
              Ask Prof. Huber-Klawitter.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item" id="data">
      <h4 class="accordion-header" id="headerdata">
        <button
          aria-controls="dataContent"
          aria-expanded="false"
          class="accordion-button collapsed"
          data-bs-target="#dataContent"
          data-bs-toggle="collapse"
          type="button"
        >
          <h3 class="h5">Data Protection</h3>
        </button>
      </h4>
      <div
        aria-labelledby="dataContent"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
        id="dataContent"
      >
        <div class="accordion-body" id="dataContent">
          <p>We will use your data for the following purposes:</p>
          <ol>
            <li>to issue the certificate;</li>
            <li>
              to reissue the certificate including additional teaching events;
            </li>
            <li>
              in anonymized form for statistical evaluations and quality
              control;
            </li>
            <li>
              to verify the validity of your certificate in case of legitimate
              enquiries.
            </li>
          </ol>
          Your data will be deleted at the end of the academic year 5 years
          after the latest issue of your certificate.
        </div>
      </div>
    </div>
  </div>
</div>
