<h3>Ordnung</h3>
<ul>
  <li>
    <a
      href="https://www.jsl.uni-freiburg.de/promotionsordnungen/Promotionsordnung_MathPhys_Fakultaet_06_06_2016.pdf"
    >
      Promotionsordnung
    </a>
    (
    <a
      href="/static/pdf/studiengaenge/promotion/promotionsordnung-fr-2016_eng.pdf"
    >
      in english
    </a>
    )
  </li>
  <li>
    <a
      href="https://www.jsl.uni-freiburg.de/promotionsordnungen/rahmenpromotionsordnung_i.d.F._vom_27_10_2016.pdf"
      >Rahmenpromotionsordnung</a
    >
  </li>
</ul>
<h3>Vordrucke</h3>
<ul>
  <li>
    <a
      href="/static/pdf/studiengaenge/promotion/Merkblatt_und_Immatrikulationsantrag_Promovierende.pdf"
    >
      Merkblatt und Antrag auf Immatrikulation/Registrierung
    </a>
  </li>
  <li>
    <a
      href="/static/pdf/studiengaenge/promotion/01-Promotionsvereinbarung-Vordruck-Formular.pdf"
    >
      Promotionsvereinbarung
    </a>
  </li>
  <li>
    <a
      href="/static/pdf/studiengaenge/promotion/02-Promotionsvereinbarung-Hinweisblatt.pdf"
    >
      Hinweisblatt zur Promotionsvereinbarung
    </a>
  </li>
  <li>
    <a
      href="/static/pdf/studiengaenge/promotion/03-Promotion-Anlage-1.pdf"
    >
      Anlage 1 zur Promotionsvereinbarung
    </a>
  </li>
  <li>
    <a
      href="/static/pdf/studiengaenge/promotion/04-Promotion-Anlage-2.pdf"
    >
      Anlage 2 zur Promotionsvereinbarung
    </a>
  </li>
  <li>
    <a
      href="/static/pdf/studiengaenge/promotion/06-Promotion-Antrag-Eroeffnung.pdf"
    >
      Antrag auf Eröffnung des Promotionsverfahrens
    </a>
  </li>
  <li>
    <a href="/static/pdf/studiengaenge/promotion/05-Promotion-Anlage-3-Abfrage.pdf">
      Abfrage Promotionsvereinbarung
    </a>
  </li>
  <li>
    Vorlage für das Titelblatt (
    <a href="/static/pdf/studiengaenge/promotion/Titelblatt_Dissertation.pdf">
      pdf
    </a>
    ,
    <a href="/static/pdf/studiengaenge/promotion/Titelblatt_Dissertation.docx">
      docx
    </a>
    ,
    <a
      href="/static/pdf/studiengaenge/promotion/Dissertation-Titelseite-20230427.zip"
    >
      TeX (.zip)
    </a>
    )
  </li>
  <li>
    <a
      href="/static/pdf/studiengaenge/promotion/07-Promotion-Eidesstattliche-Versicherung.pdf"
    >
      Eidesstattliche Versicherung
    </a>
  </li>
  <li>
    <a
      href="/static/pdf/studiengaenge/promotion/08-Promotion-Eidesstattliche-Versicherung-Belehrung.pdf"
    >
      Belehrung über die Eidesstattliche Versicherung
    </a>
  </li>
  <li>
    <a href="/static/pdf/studiengaenge/promotion/09-Promotion-Vorveroeffentlichungen.pdf">
      Veröffentlichungen
    </a>
  </li>
  <li>
    <a
      href="/static/pdf/studiengaenge/promotion/10-Promotion-Druckerlaubnis.pdf"
    >
      Druckerlaubnis nach §13 Abs. 2
    </a>
  </li>
</ul>
