<div class="container" id="inhalt">
  <h1>Promotion</h1>
  <h2>Kontaktadresse</h2>
  <p>
    Dekanat, Ernst-Zermelo-Straße 1
    <br />
  </p>
  <ul>
    <li>
      Claudia Zier, Raum 428, Tel: 0761 203 5534
      <br />
      E-Mail:
      <a href="mailto:claudia.zier@mathphys.uni-freiburg.de">
        claudia.zier@mathphys.uni-freiburg.de
      </a>
    </li>
  </ul>
  <div id="accordion"></div>
  <div class="accordion accordion-flush" id="accordionExample">
    <div class="accordion-item">
      <h3 class="accordion-header">
        <button
          aria-controls="_betreuungContent"
          aria-expanded="false"
          class="accordion-button collapsed"
          data-bs-target="#_betreuungContent"
          data-bs-toggle="collapse"
          type="button"
        >
          <h2>Schritt für Schritt zur Promotion</h2>
        </button>
      </h3>
      <div
        aria-labelledby="_betreuungContent"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
        id="_betreuungContent"
      >
        <div class="accordion-body" id="betreuungContent">
          <div id="accordionStep"></div>
          <div class="accordion" id="accordionExampleStep">
            <div class="accordion-item">
              <h3 class="accordion-header">
                <button
                  aria-controls="step0"
                  aria-expanded="false"
                  class="accordion-button collapsed"
                  data-bs-target="#step0"
                  data-bs-toggle="collapse"
                  type="button"
                >
                  <h3>Schritt 0: Betreuung der Dissertation</h3>
                </button>
              </h3>
              <div
                aria-labelledby="_betreuungContent"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionExampleStep"
                id="step0"
              >
                <div class="accordion-body" id="step0Content">
                  <p>
                    Abgesehen von verschiedenen
                    <a
                      href="http://www.frs.uni-freiburg.de/de/iga/promotionsprogramme"
                    >
                      Promotionsprogrammen
                    </a>
                    müssen an einer Promotion Interessierte zunächst von einer
                    zur Promotionsbetreuung berechtigte Person (siehe §3 der PO)
                    eine Betreuungszusage erhalten.
                  </p>
                  <p>
                    Die in Frage kommenden Betreuer/innen finden Sie unter den
                    Dozenten auf
                    <a
                      href="https://www.math.uni-freiburg.de/forschung/index.html?l=de"
                    >
                      dieser Seite
                    </a>
                    .
                  </p>
                  <p>
                    Nach der Betreuungszusage muss zwischen Ihnen und dem
                    Betreuer/ der Betreuerin eine Promotionsvereinbarung
                    abgeschlossen werden.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h3 class="accordion-header">
                <button
                  aria-controls="step1"
                  aria-expanded="false"
                  class="accordion-button collapsed"
                  data-bs-target="#step1"
                  data-bs-toggle="collapse"
                  type="button"
                >
                  <h3>Schritt 1: Promotionsvereinbarung</h3>
                </button>
              </h3>
              <div
                aria-labelledby="_betreuungContent"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionExampleStep"
                id="step1"
              >
                <div class="accordion-body" id="step1Content">
                  <p>
                    Voraussetzung für die Annahme als Doktorand/in ist der
                    Abschluss einer Promotionsvereinbarung mit dem/der
                    Betreuer/in.
                  </p>
                  <ol>
                    <li>
                      <a
                        href="/static/pdf/studiengaenge/promotion/Hinweisblatt_Promotionsvereinbarung.pdf"
                      >
                        Hinweisblatt zur Promotionsvereinbarung
                      </a>
                    </li>
                    <li>
                      <a
                        href="/static/pdf/studiengaenge/promotion/Promotionsvereinbarung_MathPhys_Vordruck.pdf"
                      >
                        Promotionsvereinbarung
                      </a>
                    </li>
                    <li>
                      <a
                        href="/static/pdf/studiengaenge/promotion/Anlage1_Promotionsvereinbarung_fin.doc"
                      >
                        Anlage 1 zur Promotionsvereinbarung
                      </a>
                    </li>
                    <li>
                      <a
                        href="/static/pdf/studiengaenge/promotion/Anlage2_Promotionsvereinbarung_fin.doc"
                      >
                        Anlage 2 zur Promotionsvereinbarung
                      </a>
                    </li>
                  </ol>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h3 class="accordion-header">
                <button
                  aria-controls="step2"
                  aria-expanded="false"
                  class="accordion-button collapsed"
                  data-bs-target="#step2"
                  data-bs-toggle="collapse"
                  type="button"
                >
                  <h3>Schritt 2: Annahme als Doktorand/Doktorandin</h3>
                </button>
              </h3>
              <div
                aria-labelledby="_betreuungContent"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionExampleStep"
                id="step2"
              >
                <div class="accordion-body" id="step2Content">
                  <p>
                    Ab Januar 2024 stellen Sie den Antrag auf Annahme als
                    Doktorand/in online über
                    <a
                      href="https://wiki.uni-freiburg.de/campusmanagement/doku.php?id=hisinone:promotionsinteresse:annahmeantrag_kopie"
                    >
                      HISinOne:
                    </a>
                  </p>
                  <p>
                    Der Antrag auf Annahme als Doktorand wird im letzten Schritt
                    aus den eingegebenen Angaben generiert.
                  </p>
                  <p>
                    Nach Fertigstellung bitte den ausgedruckten und
                    unterschriebenen Antrag zusammen mit allen weiteren
                    notwendigen Unterlagen (§ 6 Abs. 2) im Dekanat der Fakultät,
                    Ernst-Zermelo-Str. 1, IV OG, Raum 428, einreichen. Bitte
                    beachten Sie, dass eine Entscheidung über die Annahme als
                    Doktorand/Doktorandin nur auf Basis eines vollständigen
                    Antrages erfolgen kann. Über die Annahme entscheidet der
                    Promotionsausschuss.
                  </p>
                  <p>
                    Die Entscheidung des Promotionsausschusses wird Ihnen
                    schriftlich mitgeteilt und im Falle der Ablehnung begründet
                    (§ 7 Abs. 3 Satz 3 RPO).
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h3 class="accordion-header">
                <button
                  aria-controls="step3"
                  aria-expanded="false"
                  class="accordion-button collapsed"
                  data-bs-target="#step3"
                  data-bs-toggle="collapse"
                  type="button"
                >
                  <h3>
                    Schritt 3: Immatrikulations - bzw. Registrierungspflicht
                  </h3>
                </button>
              </h3>
              <div
                aria-labelledby="_betreuungContent"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionExampleStep"
                id="step3"
              >
                <div class="accordion-body" id="step3Content">
                  <p>
                    Nach der Annahme als Doktorand/in durch die Fakultät müssen
                    Sie sich im
                    <a href="http://www.studium.uni-freiburg.de/de">
                      Service Center Studium
                    </a>
                    an der Universität Freiburg immatrikulieren (siehe § 38 Abs.
                    5, Satz 1, erster Halbsatz des Landeshochschulgesetzes
                    [LHG]). Die Immatrikulationspflicht gilt für alle
                    Promovierenden, die nach dem 30.März 2018 an der Universität
                    Freiburg als Doktorand/in angenommen werden.
                  </p>
                  <p>
                    Eine Ausnahme besteht für Promovierende, die hauptberuflich
                    an der Universität Freiburg tätig sind (Arbeitsvertrag mit
                    einem Umfang von mindestens der Hälfte der regelmäßigen
                    Arbeitszeit); sie können sich von der
                    Immatrikulationspflicht befreien lassen.
                  </p>
                  <p>
                    Alle Promovierenden, die bereits vor dem 30.März 2018 als
                    Doktorand/in angenommen worden sind, sind zur
                    Immatrikulation berechtigt, aber nicht verpflichtet.
                    Promovierende, die sich nicht immatrikulieren lassen, sind
                    zur Registrierung verpflichtet. Weitere Informationen finden
                    Sie auf der Seite des
                    <a
                      href="https://www.frs.uni-freiburg.de/de/promovierende/index"
                    >
                      Freiburg Research Services.
                    </a>
                  </p>
                  <p>Siehe auch:</p>
                  <ul>
                    <li>
                      <a
                        href="/static/pdf/studiengaenge/promotion/Flyer_Imm_Reg_deu.pdf"
                      >
                        Flyer (deutsch)
                      </a>
                    </li>
                    <li>
                      <a
                        href="/static/pdf/studiengaenge/promotion/Flyer_Imm_Reg_engl.pdf"
                      >
                        Flyer (engl)
                      </a>
                    </li>
                  </ul>
                  <p>
                    Hinweis: Den "Antrag auf Immatrikulation/ Registrierung für
                    Promovierende" finden Sie auf der Webseite des Service
                    Center Studiums. Download Link:
                    <a
                      href="http://www.studium.uni-freiburg.de/de/studierendenservices/immatrikulation/docs/Uni-Freiburg-Merkblatt-und-Immatrikulationsantrag-Promovierende.pdf"
                    >
                      Merkblatt und Antrag auf Immatrikulation/Registrierung
                    </a>
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h3 class="accordion-header">
                <button
                  aria-controls="step4"
                  aria-expanded="false"
                  class="accordion-button collapsed"
                  data-bs-target="#step4"
                  data-bs-toggle="collapse"
                  type="button"
                >
                  <h3>
                    Schritt 4: Eröffnung des Promotionsverfahren/Abgabe der
                    Dissertation
                  </h3>
                </button>
              </h3>
              <div
                aria-labelledby="_betreuungContent"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionExampleStep"
                id="step4"
              >
                <div class="accordion-body" id="step4Content">
                  <p>
                    Nach Fertigstellung der Dissertation stellen Sie im Dekanat
                    den Antrag auf Eröffnung des Promotionsverfahrens. Dem
                    Antrag sind die in der Promotionsordnung unter § 7
                    aufgeführten Unterlagen beizufügen.
                  </p>
                  <ol>
                    <li>
                      <a
                        href="/static/pdf/studiengaenge/promotion/Antrag auf Eröffnung des Promotionsverfahrens.docx"
                      >
                        Antrag auf Eröffnung des Promotionsverfahrens
                      </a>
                    </li>
                    <li>
                      <a
                        href="/static/pdf/studiengaenge/promotion/Eidesstattliche Versicherung-Formular.pdf"
                      >
                        Eidesstattliche Versicherung
                      </a>
                    </li>
                    <li>
                      <a
                        href="/static/pdf/studiengaenge/promotion/Belehrung_eidesstattliche_Versicherung.pdf"
                      >
                        Belehrung über die Bedeutung und die strafrechtlichen
                        Folgen der Eidesstattlichen Versicherung
                      </a>
                    </li>
                    <li>
                      <a
                        href="/static/pdf/studiengaenge/promotion/Veröffentlichungen.doc"
                      >
                        Veröffentlichungen
                      </a>
                    </li>
                    <li>
                      <a
                        href="/static/pdf/studiengaenge/promotion/Abfrage_PromVereinbarung.docx"
                      >
                        Abfrage Promotionsvereinbarung
                      </a>
                    </li>
                    <li>
                      Vorlage für das Titelblatt (
                      <a
                        href="/static/pdf/studiengaenge/promotion/Titelblatt_Dissertation.pdf"
                      >
                        pdf
                      </a>
                      ,
                      <a
                        href="/static/pdf/studiengaenge/promotion/Titelblatt_Dissertation.docx"
                      >
                        docx
                      </a>
                      ,
                      <a
                        href="/static/pdf/studiengaenge/promotion/Dissertation-Titelseite-20230427.zip"
                      >
                        TeX (.zip)
                      </a>
                      )
                    </li>
                  </ol>
                  <!--                  <h4>
                    Eröffnung des Promotionsverfahrens für bereits nach der
                    alten Promotionsordnung angenommene DoktorandInnen (siehe
                    Übergangsbestimmung)
                  </h4>
                  <ul>
                    <li>
                      Antrag auf Eröffnung des Promotionsverfahrens (
                      <a
                        href="/static/pdf/studiengaenge/promotion/Übergangsbestimmung_Antrag_auf_Eroeffnung_des_Promotionsverfahren_neue_PromO.docx"
                      >
                        docx
                      </a>
                      ,
                      <a
                        href="/static/pdf/studiengaenge/promotion/Übergangsbestimmung_Antrag_auf_Eroeffnung_des_Promotionsverfahren_neue_PromO.pdf"
                      >
                        pdf
                      </a>
                      )
                    </li>
                  </ul>-->
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h3 class="accordion-header">
                <button
                  aria-controls="step5"
                  aria-expanded="false"
                  class="accordion-button collapsed"
                  data-bs-target="#step5"
                  data-bs-toggle="collapse"
                  type="button"
                >
                  <h3>Schritt 5: Disputation / Mündliche Prüfung</h3>
                </button>
              </h3>
              <div
                aria-labelledby="_betreuungContent"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionExampleStep"
                id="step5"
              >
                <div class="accordion-body" id="step5Content">
                  <p>
                    Nach Eingang sämtlicher Gutachten und dem Vorschlag der
                    Gutachter auf Annahme der Dissertation bestellt der
                    Promotionsauschuss die Prüfungskommission für die mündliche
                    Prüfung und die Festlegung des Gesamtergebnisses der
                    Promotion.
                  </p>
                  <p>
                    Der Doktorand/Die Doktorandin vereinbart mit der
                    Prüfungskommission einen Termin für die mündliche Prüfung
                    (Disputation).
                  </p>
                  <p>
                    Die Disputation, die in deutscher oder englischer Sprache
                    abzuhalten ist, ist eine vertiefte wissenschaftliche
                    Aussprache, die zeigen soll, dass der Doktorand/die
                    Doktorandin das Fachgebiet, dem die Dissertation entstammt,
                    beherrscht und aktuelle Entwicklungen seines/ihres Fachs
                    kennt. Sie erstreckt sich darüber hinaus auf ausgewählte
                    Themen angrenzender Fachgebiete, die sachlich und methodisch
                    mit dem Arbeitsgebiet zusammenhängen. Die Disputation hat
                    eine Dauer von etwa 90 Minuten; sie beginnt mit einem etwa
                    30-minütigen Vortrag des Doktoranden/der Doktorandin über
                    die Dissertation. Der/Die Vorsitzende der Prüfungskommission
                    leitet die Disputation; er/sie kann auch Fragen aus der
                    Öffentlichkeit zu dem Vortrag des Doktroanden/der
                    Doktorandin zulassen. Die Disputation ist
                    fakultätsöffentlich.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h3 class="accordion-header">
                <button
                  aria-controls="step6"
                  aria-expanded="false"
                  class="accordion-button collapsed"
                  data-bs-target="#step6"
                  data-bs-toggle="collapse"
                  type="button"
                >
                  <h3>Schritt 6: Veröffentlichung der Dissertation</h3>
                </button>
              </h3>
              <div
                aria-labelledby="_betreuungContent"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionExampleStep"
                id="step6"
              >
                <div class="accordion-body" id="step6Content">
                  <p>
                    Der Doktorand/Die Doktorandin ist verpflichtet, innerhalb
                    eines Jahres nach Bestehen der mündlichen Prüfung die
                    eingereichte und angenommene Dissertation, gegebenenfalls
                    mit den von der Prüfungskommission verlangten
                    beziehungsweise genehmigten Änderungen, der
                    wissenschaftlichen Öffentlichkeit in angemessener Weise
                    durch Vervielfältigung und Verbreitung zugänglich zu machen.
                  </p>
                  <p>
                    Vor der Veröffentlichung ist die Dissertation zur Erteilung
                    der Druckerlaubnis dem verantwortlichen Betreuer/ der
                    verantwortlichen Betreuerin vorzulegen. Die Druckerlaubnis
                    ist auf einem Formblatt abzugeben und zur Promotionsakte zu
                    nehmen.
                  </p>
                  <p>
                    <a
                      href="/static/pdf/studiengaenge/promotion/PromO_neu_Druckerlaubnis_§13Abs.2.docx"
                    >
                      Druckerlaubnis nach §13 Abs. 2
                    </a>
                  </p>
                  <p>
                    Die Dissertation gilt als veröffentlicht, wenn sie die
                    Bedingungen laut §13 Abs. 3 der Promotionsordnung erfüllt.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h3 class="accordion-header">
                <button
                  aria-controls="step7"
                  aria-expanded="false"
                  class="accordion-button collapsed"
                  data-bs-target="#step7"
                  data-bs-toggle="collapse"
                  type="button"
                >
                  <h3>Schritt 7: Vollzug der Promotion und Urkunde</h3>
                </button>
              </h3>
              <div
                aria-labelledby="_betreuungContent"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionExampleStep"
                id="step7"
              >
                <div class="accordion-body" id="step7Content">
                  <p>
                    Die Promotion wird durch die Aushändigung der Urkunde
                    vollzogen.
                  </p>
                  <p>
                    Die Promotionsurkunde wird erst ausgehändigt, wenn der
                    Doktorand/die Doktorandin gemäß § 13 Abs. 3 die
                    Pflichtexemplare der Dissertation bei der Fakultät für
                    Mathematik und Physik abgeliefert hat.
                  </p>
                  <p>
                    Vor der Aushändigung der Promotionsurkunde hat der
                    Doktorand/die Doktorandin nicht das Recht, den Doktorgrad zu
                    führen, auch nicht mit einem Zusatz.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item" id="_promotion">
      <h3 class="accordion-header" id="header_promotion">
        <button
          aria-controls="_promotionContent"
          aria-expanded="false"
          class="accordion-button collapsed"
          data-bs-target="#_promotionContent"
          data-bs-toggle="collapse"
          type="button"
        >
          <h2>Allgemeine Hinweise</h2>
        </button>
      </h3>
      <div
        aria-labelledby="_promotionContent"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
        id="_promotionContent"
      >
        <div class="accordion-body" id="promotionContent">
          <h3>
            Aufgaben und Pflichten des Doktoranden/der Doktorandin sowie des
            Betreuers/der Betreuerin
          </h3>
          <p>
            Diese sind in der Promotionsvereinbarung geregelt. Insbesondere
            stellt der verantwortliche Betreuer/Die verantwortliche Betreuerin
            sicher, dass der Doktorand/die Doktorandin mit den Regeln guter
            wissenschaftlicher Praxis vertraut gemacht wurde.
          </p>
          <p>
            <a
              href="https://uni-freiburg.de/forschung/wp-content/uploads/sites/2/2020/10/Uni-Freiburg-Ordnung-Redlichkeit-in-der-Wissenschaft.pdf"
            >
              Redlichkeitsordnung (deutsch)
            </a>
          </p>
          <p>
            <a
              href="https://uni-freiburg.de/forschung/wp-content/uploads/sites/2/2020/10/Uni-Freiburg-Ordnung-Redlichkeit-in-der-Wissenschaft-en.pdf"
            >
              Redlichkeitsordnung (englisch)
            </a>
          </p>
          <p>
            Zwei Jahre nach Annahme als Doktorand/Doktorandin überprüft der
            verantwortliche Betreuer/ die verantwortliche Betreuerin, ob das
            Promotionsvorhaben fortgeführt werden kann, und teilt das Ergebnis
            der Überprüfung dem Promotionsausschuss mit.
          </p>
          <h3>Vertrauenspersonen für Promovierende</h3>
          <p>
            Für das Mathematische und das Physikalische Institut gibt es jeweils
            eine Vertrauensperson. Sie werden vom Doktorand:innenkonvent für
            jeweils zwei Jahre gewählt.
          </p>
          <p>Die aktuell gewählten Vertrauenspersonen sind:</p>
          <p>
            Für das Mathematische Institut Frau Prof. Nadine Große;
            E-Mail-Adresse:
          </p>
          <p>
            <a href="mailto:nadine.grosse@math.uni-freiburg.de">
              nadine.grosse@math.uni-freiburg.de
            </a>
          </p>
          <p>
            Für das Physikalische Institut Herr apl. Prof. Thomas Filk;
            E-Mail-Adresse:
          </p>
          <p>
            <a href="mailto:Thomas.Filk@physik.uni-freiburg.de">
              Thomas.Filk@physik.uni-freiburg.de
            </a>
          </p>
          <p></p>
          <p>
            <i> Sie erfüllen die folgenden Aufgaben: </i>
          </p>
          <ul>
            <li>
              Beratung bei Fragen zu den Promotionsrahmenbedingungen, z.B.
              Regelmäßigkeit inhaltlicher Betreuungsgespräche, Arbeit für den
              Lehrstuhl, Teilnahme an Konferenzen
            </li>
            <li>
              Im Konfliktfall Abgabe einer Einschätzung der Situation und
              Aufzeigen von Möglichkeiten zur Lösung
            </li>
            <li>
              Bei Bedarf kann ein vermittelndes Gespräch mit allen
              Konfliktbeteiligten geführt werden
            </li>
            <li>
              In komplexeren Fällen Weiterleitung an GraCe (Link:
              <a
                href="https://www.frs.uni-freiburg.de/de/iga/beratung/konfliktberatung"
              >
                https://www.frs.uni-freiburg.de/de/iga/beratung/konfliktberatung
              </a>
              ) oder die zentrale Ombudsstelle der Universität (
              <a href="https://www.frs.uni-freiburg.de/de/ombudsstelle/index">
                https://www.frs.uni-freiburg.de/de/ombudsstelle/index
              </a>
              )
            </li>
          </ul>
          <h3>Doktorandenvertretung der Fakultät für Mathematik und Physik</h3>

          <p>
            Die Doktorandenvertreter der Fakultät für Mathematik und Physik
            kümmern sich um die Vernetzung der Promovierenden durch Organisation
            von Veranstaltungen und um die Vertretung ihrer Rechte. Alle
            weiteren Infos finden sich auf der Website der
            Doktorandenvertretung:
            <br />
            <a href="https://www.phd.mathphys.uni-freiburg.de/">
              https://www.phd.mathphys.uni-freiburg.de
            </a>
          </p>
          <br />
          <br />
          Neue Promovierende können sich auf den Mailverteiler der
          Doktorandenvertretung anmelden durch Senden einer leeren Mail an:
          <br />
          <a href="mailto:phdstudents-subscribe@mathphys.uni-freiburg.de">
            phdstudents-subscribe@mathphys.uni-freiburg.de
          </a>
        </div>
      </div>
    </div>
    <div class="accordion-item" id="links">
      <h2 class="accordion-header" id="headerlinks">
        <button
          aria-controls="linksContent"
          aria-expanded="false"
          class="accordion-button collapsed"
          data-bs-target="#linksContent"
          data-bs-toggle="collapse"
          type="button"
        >
          <h2>Links und Downloads</h2>
        </button>
      </h2>
      <div
        aria-labelledby="linksContent"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
        id="linksContent"
      >
        <div class="accordion-body" id="linksContent">
          <h3>Vordrucke</h3>
          <ul>
            <li>
              <a
                href="/static/pdf/studiengaenge/promotion/promotionsordnung-fr-2016.pdf"
              >
                Promotionsordnung
              </a>
              (
              <a
                href="/static/pdf/studiengaenge/promotion/promotionsordnung-fr-2016_eng.pdf"
              >
                in english
              </a>
              )
            </li>
            <li>
              <a
                href="/static/pdf/studiengaenge/promotion/Merkblatt_und_Immatrikulationsantrag_Promovierende.pdf"
              >
                Merkblatt und Antrag auf Immatrikulation/Registrierung
              </a>
            </li>
            <li>
              <a
                href="/static/pdf/studiengaenge/promotion/Promotionsvereinbarung_MathPhys_Vordruck.pdf"
              >
                Promotionsvereinbarung
              </a>
            </li>
            <li>
              <a
                href="/static/pdf/studiengaenge/promotion/Anlage1_Promotionsvereinbarung_fin.doc"
              >
                Anlage 1 zur Promotionsvereinbarung
              </a>
            </li>
            <li>
              <a
                href="/static/pdf/studiengaenge/promotion/Anlage2_Promotionsvereinbarung_fin.doc"
              >
                Anlage 2 zur Promotionsvereinbarung
              </a>
            </li>
            <li>
              <a
                href="/static/pdf/studiengaenge/promotion/Antrag auf Eröffnung des Promotionsverfahrens.docx"
              >
                Antrag auf Eröffnung des Promotionsverfahrens
              </a>
            </li>
            <li>
              <a
                href="/static/pdf/studiengaenge/promotion/Abfrage_PromVereinbarung.docx"
              >
                Abfrage Promotionsvereinbarung
              </a>
            </li>
            <li>
              Vorlage für das Titelblatt (
              <a
                href="/static/pdf/studiengaenge/promotion/Titelblatt_Dissertation.pdf"
              >
                pdf
              </a>
              ,
              <a
                href="/static/pdf/studiengaenge/promotion/Titelblatt_Dissertation.docx"
              >
                docx
              </a>
              ,
              <a
                href="/static/pdf/studiengaenge/promotion/Dissertation-Titelseite-20230427.zip"
              >
                TeX (.zip)
              </a>
              )
            </li>
            <li>
              <a
                href="/static/pdf/studiengaenge/promotion/Eidesstattliche Versicherung-Formular.pdf"
              >
                Eidesstattliche Versicherung
              </a>
            </li>
            <li>
              <a
                href="/static/pdf/studiengaenge/promotion/Veröffentlichungen.doc"
              >
                Veröffentlichungen
              </a>
            </li>
            <li>
              <a
                href="/static/pdf/studiengaenge/promotion/PromO_neu_Druckerlaubnis_§13Abs.2.docx"
              >
                Druckerlaubnis nach §13 Abs. 2
              </a>
            </li>
          </ul>

          <h3>
            Beratungseinrichtungen an der Albert-Ludwigs-Universität Freiburg
          </h3>
          <ul>
            <li>
              <a href="https://www.frs.uni-freiburg.de/de/iga">
                Zentrale Servicestelle für Promovierende: Freiburg Graduate
                Centre (GraCe)
              </a>
            </li>
            <li>
              <a href="http://www.frs.uni-freiburg.de/">
                Seite des Freiburg Research Services
              </a>
            </li>
            <li>
              <a
                href="https://www.frs.uni-freiburg.de/de/iga/finanzierung/foerderberatung"
              >
                Förderberatung
              </a>
            </li>
            <!--            <li>
              <a href="http://www.welcomecenter.uni-freiburg.de/front-page">
                Welcome Service for Internationals
              </a>
            </li>-->
            <li>
              <a href="https://www.frs.uni-freiburg.de/de/ombudsstelle/index">
                Ombudsverfahren für Promovierende und Betreuende
              </a>
            </li>
            <!--            <li>
              <a
                href="http://www.frs.uni-freiburg.de/de/iga/beratung/korrekturservice"
              >
                Korrekturservice
              </a>
            </li>-->
            <li>
              <a
                href="http://www.frs.uni-freiburg.de/de/iga/beratung/sprachtandem"
              >
                Sprachtandem
              </a>
            </li>
            <!--            <li>
              <a
                href="http://www.frs.uni-freiburg.de/de/iga/beratung/schreibberatung"
              >
                Schreibberatung
              </a>
            </li>-->
            <li>
              <a
                href="http://www.frs.uni-freiburg.de/de/iga/beratung/karriereberatung"
              >
                Karriereberatung
              </a>
            </li>
            <!--            <li>
              <a
                href="http://www.frs.uni-freiburg.de/de/iga/beratung/gruendungsberatung"
              >
                Gründungsberatung
              </a>
            </li>-->
            <li>
              <a
                href="http://www.frs.uni-freiburg.de/de/iga/beratung/individuelles-coaching"
              >
                Transfer-Coaching
              </a>
            </li>
            <li>
              <a
                href="http://www.frs.uni-freiburg.de/de/iga/promotion/betreuungskultur"
              >
                Kompass zur guten Betreuung von Promovierenden
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
