<!-- Hier alle Fälle aus ('all', 'bsc', '2hfb', 'msc', 'mscdata', 'med', 'mederw') auflisten, falls diese Frage in dem entsprechenden FAQ auftauchen soll. -->
{% if which in ('all', 'bsc', '2hfb', 'msc', 'mscdata', 'med', 'mederw',
'meddual') %}
<div class="accordion-item">
  <h3 class="accordion-header">
    <button
      type="button"
      class="accordion-button"
      style="background-color: white"
      data-bs-target="#{{key}}"
      aria-controls="{{key}}"
      aria-expanded="true"
      data-bs-toggle="collapse"
    >
      <h3 class="h5">
        Ich will einen Lesekurs zum Thema X bei Dozent Y machen. Was muss ich
        dabei beachten?
      </h3>
    </button>
  </h3>
  <div
    aria-labelledby="{{key}}"
    class="accordion-collapse collapse {% if show == 'alleantworten' %}show{% endif %}"
    data-bs-parent="#accordion{{tag}}"
    id="{{key}}"
  >
    <div class="accordion-body">Am besten ...</div>
  </div>
</div>
{% endif %}
