<!-- Hier alle Fälle aus ('all', 'bsc', '2hfb', 'msc', 'mscdata', 'med', 'mederw', 'meddual') auflisten, falls diese Frage in dem entsprechenden FAQ auftauchen soll. -->
{% if which in ('all', 'msc') %}
<div class="accordion-item">
  <h3 class="accordion-header">
    <button
      type="button"
      class="accordion-button"
      style="background-color: white"
      data-bs-target="#{{key}}"
      aria-controls="{{key}}"
      aria-expanded="true"
      data-bs-toggle="collapse"
    >
      <h3 class="h5">
        Wie plane ich am besten meinen Studienverlauf im MSc Mathematik?
      </h3>
    </button>
  </h3>
  <div
    aria-labelledby="{{key}}"
    class="accordion-collapse collapse {% if show == 'alleantworten' or show == key %}show{% endif %}"
    data-bs-parent="#accordion{{tag}}"
    id="{{key}}"
  >
    <div class="accordion-body">
      Im Studienverlaufsplan sehen Sie, welche Module Sie am Ende des MSc
      Mathematik absolviert haben müssen. Um all diese Module zu absolvieren,
      gibt es verschiedene Wege der Planung. Eine gewisse Sonderrolle kommt
      dabei der Masterarbeit zu, weil die Betreuung der Arbeit individuell von
      einem Dozenten durchgeführt wird. Wenn Sie schon wissen, in welchem
      Bereich Sie diese Arbeit schreiben wollen, legt das das Thema des
      Vertiefungsmoduls nahe. Eventuell werden auch Seminare in diesem Bereich
      angeboten, die Sie besuchen können.
      <br />
      Die weiteren Module Reine und Angewandte Mathematik ergeben sich eventuell
      ebenfalls aus dem Vertiefungsgebiet, weil dieses noch Vorkenntnisse
      erfordert, die Sie noch nicht haben.
    </div>
  </div>
</div>
{% endif %}
