<div class="container" id="inhalt">
  <br />
  <div class="row">
    <div class="col-auto">
      <h1>Lehrveranstaltungen</h1>
      <table class="table table-lg table-striped table-hover table-borderless">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">
              <center>
                <div>Veranstaltungs-</div>
                <div>verzeichnis</div>
              </center>
            </th>
            <th scope="col">Kommentare</th>
            <th scope="col">
              <center>
                <div>Ergänzungen zu den</div>
                <div>Modulhandbüchern</div>
              </center>
            </th>
            <th scope="col">
              <center>
                <div>Verwendbarkeits-</div>
                <div>tabelle</div>
              </center>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for key, value in semester_dict.items() %}
          <tr>
            <th scope="row">{{value["name"]}}</th>
            <td>
              <center>
                <a
                  href="{{url_for('showlehrveranstaltungen', lang=lang, semester=key)}}"
                  ><i class="fa-solid fa-link"></i
                ></a>
              </center>
            </td>
            <td>
              <center>
                {% if value["komm_exists"] %}
                <a
                  href="{{url_for('static', filename='pdf/lehrveranstaltungen/'+key+'.pdf')}}"
                ></a>
                {% endif %}
              </center>
            </td>
            <td>
              <center>
                {% if value["mh_exists"] %}
                <a
                  href="{{url_for('static', filename='pdf/lehrveranstaltungen/'+key+'mh.pdf')}}"
                ></a>
                {% endif %}
              </center>
            </td>
            <td>
              <center>
                {% if value["verw_exists"] %}
                <a
                  href="{{url_for('static', filename='pdf/lehrveranstaltungen/'+key+'verw.pdf')}}"
                ></a>
                {% endif %}
              </center>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <br />
      <h2>Ältere Semester</h2>
      {% for key, value in semester_dict_old.items() %}
      <a href="{{url_for('showlehrveranstaltungen', lang=lang, semester=key)}}"
        >{{ value }}</a
      >
      <a
        href="{{url_for('static', filename='pdf/lehrveranstaltungen/'+key+'.pdf')}}"
        >(Kommentare)</a
      >
      <br />
      {% endfor %}
      <!-- <h2>Intern</h2>
      <ul>
        <li>
          <a
            href="http://home.mathematik.uni-freiburg.de/intern/raumplan/index.html"
            >Raumpläne</a
          >
        </li>
      </ul>
      <ul>
        <li>
          <a
            href="http://home.mathematik.uni-freiburg.de/intern/fuer_dozenten/lehrveranstaltungsplanung.html"
            >längerfristige Lehrveranstaltungsplanung</a
          >
        </li>
      </ul>-->
    </div>
  </div>
</div>
