<div class="container" id="inhalt">
 <h1>
  Lehrveranstaltungen im Sommersemester 2007
 </h1>
 <h4>
  Stand: Stand: 14.3.2007
 </h4>
 <table summary="">
  <tr>
   <td>
    A
   </td>
   <td>
    =
   </td>
   <td>
    für Anfänger
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    =
   </td>
   <td>
    für mittlere Semester
   </td>
  </tr>
  <tr>
   <td>
    H
   </td>
   <td>
    =
   </td>
   <td>
    für höhere Semester
   </td>
  </tr>
  <tr>
   <td>
    AF
   </td>
   <td>
    =
   </td>
   <td>
    Hörer aller Fakultäten
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    =
   </td>
   <td>
    nur nach persönlicher Anmeldung
   </td>
  </tr>
  <tr>
   <td>
    HS
   </td>
   <td>
    =
   </td>
   <td>
    Hörsaal
   </td>
  </tr>
  <tr>
   <td>
    SR
   </td>
   <td>
    =
   </td>
   <td>
    Seminarraum
   </td>
  </tr>
 </table>
 Hinweis:Ausführliche Informationen (Vorkenntnisse, Folgeveranstaltungen, Prüfungen) finden sich
in den von der Fakultät herausgegebenen "Kommentaren zu den Lehrveranstaltungen Mathematik".
 <br/>
 <h2>
  Lehrveranstaltungen
 </h2>
 <h2>
  Vorlesungen, Übungen, Praktika
 </h2>
 <h3>
  1. Einführende Vorlesungen
 </h3>
 <table summary="">
  <colgroup>
   <col class="col1"/>
   <col class="col2"/>
   <col class="col3"/>
  </colgroup>
  <tr>
   <td>
    A
   </td>
   <td>
    Lineare Algebra II
   </td>
   <td>
    V. Bangert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di, Do 9-11, HS Rundbau, Albertstr. 21a
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu in Gruppen 2stündig n.V.
   </td>
   <td>
    V. Bangert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen n.V.
   </td>
   <td>
    H. Junginger-Gestrich
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    A
   </td>
   <td>
    Analysis II
   </td>
   <td>
    E. Kuwert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo, Mi 9-11, HS Rundbau, Albertstr. 21
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu in Gruppen 2stündig n.V.
   </td>
   <td>
    E. Kuwert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen n.V.
   </td>
   <td>
    M. Listing
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    A
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvSS2007/VorMathIngInf/">
     Mathematik für Ingenieure und Informatiker II
    </a>
   </td>
   <td>
    H.R. Lerche
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di, Do 14-16, HS Rundbau, Albertstr. 21a
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu in Gruppen 2stündig n.V.
   </td>
   <td>
    H.R. Lerche
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen n.V.
   </td>
   <td>
    I. Maahs
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    A
   </td>
   <td>
    Diskrete Algebraische Strukturen
   </td>
   <td>
    B. Siebert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 11-13, Mi 9-11, HS 00-026, Geb. 101, Georges-Köhler-Allee
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu in Gruppen 2stündig n.V.
   </td>
   <td>
    B. Siebert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen n.V .
   </td>
   <td>
    C. Thier
   </td>
  </tr>
 </table>
 <h3>
  2. Kurs- und Spezialvorlesungen
 </h3>
 Die mit
☐
 gekennzeichneten Vorlesungen kommen für die Diplomvorprüfung (Teilprüfung I und II)
und für die Zwischenprüfung in Frage, die mit
☐☐
gekennzeichneten Vorlesungen für die Diplomvorprüfung (Teilprüfung III) und für die Zwischenprüfung.
 <table summary="">
  <colgroup>
   <col class="col1"/>
   <col class="col2"/>
   <col class="col3"/>
  </colgroup>
  <tr>
   <td>
    M ☐
   </td>
   <td>
    Elementare Zahlentheorie
   </td>
   <td>
    K. Halupczok
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di, Do 9-11, HS II Albertstr. 23b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu 2stündig n.V.
   </td>
   <td>
    K. Halupczok
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen n.V.
   </td>
   <td>
    N.N.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M ☐
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/geometrie/suhr/FT-07/">
     Funktionentheorie
    </a>
   </td>
   <td>
    J.-C. Schlage-Puchta
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di, Do 14-16, HS II Alberstr. 23b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu 2stündig n.V.
   </td>
   <td>
    J.-C. Schlage-Puchta
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen n.V.
   </td>
   <td>
    S.Suhr
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M ☐
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/analysis/ElDG07/">
     Elementare Differentialgeometrie
    </a>
   </td>
   <td>
    M. Simon
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di, Do 9-11, SR 404 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu 2stündig n.V.
   </td>
   <td>
    M. Simon
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen n.V.
   </td>
   <td>
    S. Krause
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M ☐
   </td>
   <td>
    Mathematische Logik
   </td>
   <td>
    M. Ziegler
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 16-18, HS II Albertstr. 23b, Mi 9-11, SR 404 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/nina/MathLogik07/Uebungen_Logik.html">
     Übungen
    </a>
    dazu 2stündig n.V.
   </td>
   <td>
    M. Ziegler
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen n.V.
   </td>
   <td>
    N. Frohn
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M ☐☐
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvSS2007/VorWTI/">
     Wahrscheinlichkeitstheorie
    </a>
   </td>
   <td>
    E. Eberlein
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di, Do 11-13, HS Rundbau, Albertstr. 21a
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu, Mo 16-18, Di 14-16, Di 16-18, SR 403 Eckerstr. 1
   </td>
   <td>
    E. Eberlein
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen n.V.
   </td>
   <td>
    V. Pohl
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M ☐☐
   </td>
   <td>
    <a href="http://aam.mathematik.uni-freiburg.de/IAM/Teaching/ubungen/num_II_SS07/">
     Numerik II
    </a>
   </td>
   <td>
    D. Kröner
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo, Mi 9-11, HS Otto-Krayer-Haus, Albertstr. 25
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu 2stündig n.V.
   </td>
   <td>
    D. Kröner
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen n.V.
   </td>
   <td>
    M. Nolte
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/soergel/Ana4/Hauptseite.html">
     Mannigfaltigkeiten und Lie-Gruppen
    </a>
   </td>
   <td>
    W. Soergel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo, Mi 11-13, HS II Albertstr. 23b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu 2stündig n.V.
   </td>
   <td>
    W. Soergel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen n.V.
   </td>
   <td>
    M. Listing
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvSS2007/VorStochMstInf/">
     Stochastik für Mikrosystemtechniker und Informatiker
    </a>
   </td>
   <td>
    L. Rüschendorf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 9-11, HS 00-036, Geb. 101, Georges-Köhler-Allee
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu 2stündig n.V.
   </td>
   <td>
    L. Rüschendorf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen n.V.
   </td>
   <td>
    G. Mainik
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    <a href="http://aam.mathematik.uni-freiburg.de/IAM/Teaching/scripts/fa2_ss07/">
     Funktionalanalysis II&lt;\A&gt;
    </a>
   </td>
   <td>
    M. Ruzicka
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo, Mi 9-11, HS II Albertstr. 23b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu 2stündig n.V.
   </td>
   <td>
    M. Ruzicka
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen n.V.
   </td>
   <td>
    L. Diening
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/didaktik/">
     Von Arithmetik über Algebra zur Analysis
    </a>
   </td>
   <td>
    K. Reichmann
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 11-13, Do 11-12, SR 127 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu, Do 12-13, SR 127 Eckerstr. 1
   </td>
   <td>
    K. Reichmann
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M,H
   </td>
   <td>
    Mathematische Methoden in der Biologie
   </td>
   <td>
    W .Schuster
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Do 17-19, HS II Alberstr. 23b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M,H
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvSS2007/VorStochProFin/">
     Stochastische Prozesse und Finanzmathematik
    </a>
   </td>
   <td>
    L. Rüschendorf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo, Mi 14-16, HS II Albertstr. 23b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu 2stündig n.V.
   </td>
   <td>
    L. Rüschendorf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen n.V.
   </td>
   <td>
    E.-M. Schopp
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M,H
   </td>
   <td>
    Theorie und Numerik partieller Differentialgleichungen II
   </td>
   <td>
    G. Dziuk
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di, Do 11-13, HS II Albertstr. 23b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu Do 14-16 SR 111a Hermann-Herder-Str. 10
   </td>
   <td>
    G. Dziuk
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen n.V.
   </td>
   <td>
    B. Mößner
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    H
   </td>
   <td>
    Algebraische Gruppen
   </td>
   <td>
    P. Fiebig
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di, Do 16-18, HS II Albertstr. 23b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu, Do 16-18, SR 404 Eckerstr. 1
   </td>
   <td>
    P. Fiebig
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    A (M,H)
   </td>
   <td>
    Einführung in Gender Studies in Technik, Mathematik und Naturwissenschaft
   </td>
   <td>
    B. Schinzel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 16-18, HS 2006, KG II
   </td>
   <td>
   </td>
  </tr>
 </table>
 <h2>
  Praktika
 </h2>
 <table summary="">
  <colgroup>
   <col class="col1"/>
   <col class="col2"/>
   <col class="col3"/>
  </colgroup>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvSS2007/PraStatPrak/">
     Statistisches Praktikum
    </a>
   </td>
   <td>
    E. Eberlein
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 15-17, Do 16-18, CIP-Pool Raum 201, Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu n.V.
   </td>
   <td>
    E.A. v. Hammerstein
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Praktikum zu: Numerik II
   </td>
   <td>
    D. Kröner
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Praktikum: DUNE Teil 1 - eine praktische Einführung
   </td>
   <td>
    R. Klöfkorn,
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Blockveranstaltung (6. 08. 2007)
   </td>
   <td>
    D. Kröner
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 9:30-17, CIP-Pool Raum 201, Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Praktikum: DUNE Teil 2 - Diskretisierung von
   </td>
   <td>
    R. Klöfkorn,
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Evolutionsgleichungen mit DUNE-Fem
   </td>
   <td>
    D. Kröner
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Blockveranstaltung (7. 08. - 9. 08. 2007)
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di-Do 9:30-17, CIP-Pool Raum 201, Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <td>
   Do 14-16, CIP-Pool Raum 201, Hermann-Herder-Str. 10
  </td>
  <td>
  </td>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu n.V.
   </td>
   <td>
    A. Dedner
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Praktikum zu: Theorie und Numerik partieller Differentialgleichungen II
   </td>
   <td>
    C.-J. Heine
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 16-18, CIP-Pool Raum 201, Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu n.V.
   </td>
   <td>
    N.N.
   </td>
  </tr>
 </table>
 <h2>
  Proseminare, Seminare und Arbeitsgemeinschaften
 </h2>
 <table summary="">
  <colgroup>
   <col class="col1"/>
   <col class="col2"/>
   <col class="col3"/>
  </colgroup>
  <tr>
   <td>
    PA
   </td>
   <td>
    Proseminar: Symmetrien
   </td>
   <td>
    B. Siebert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 14-16, SR 125 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu n.V.
   </td>
   <td>
    U. Ludwig
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Proseminar: Darstellung endlicher Gruppen
   </td>
   <td>
    W. Soergel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 8.30-11, SR 404 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu n.V.
   </td>
   <td>
    P. Fiebig
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Proseminar: Zahlentheorie
   </td>
   <td>
    D. Wolke
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Do 14-16, Do 16-18, SR 403 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu n.V.
   </td>
   <td>
    A. Windel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Proseminar: Modellierung und Numerik
   </td>
   <td>
    D. Kröner
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 14-16, SR 226 Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu n.V.
   </td>
   <td>
    M. Ohlberger
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Proseminar: Methoden der Gender Studies in Technik und Naturwissenschaften
   </td>
   <td>
    S. Schmitz
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 9-11, HS 02009,Instituts für Informatik und Gesellschaft, Friedrichstr. 50, 2. OG
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/geometrie/suhr/PS-06-07/">
     Seminar: Morse Theorie und geschlossene Geodätische
    </a>
   </td>
   <td>
    V. Bangert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 14-16, SR 127 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu n.V.
   </td>
   <td>
    S. Suhr
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/analysis/#Lehrveranstaltungen">
     Seminar: Wellengleichungen
    </a>
   </td>
   <td>
    E. Kuwert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 14-16, SR 404 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu n.V.
   </td>
   <td>
    M.Simon
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Dessins denfants
   </td>
   <td>
    J.-C. Schlage-Puchta
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 9-11, SR 125 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu n.V.
   </td>
   <td>
    M. Hendler
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Analytische Zahlentheorie
   </td>
   <td>
    D. Wolke
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 14-16, Mi 16-18 SR 403 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu n.V.
   </td>
   <td>
    Y. Buttkewitz, K. Halupczok
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/afshordel/seminar-ta.html">
     Seminar: Modelltheorie
    </a>
   </td>
   <td>
    M. Ziegler
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 11-13, SR 318 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu n.V.
   </td>
   <td>
    B. Afshordel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvSS2007/SemStat/">
     Seminar über Statistik (Statistisches Lernen)
    </a>
   </td>
   <td>
    H.R. Lerche
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 17-19, SR 127 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu n.V.
   </td>
   <td>
    I. Maahs
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvSS2007/SemZufGraph/">
     Seminar: Grenzwertsätze in zufälligen Graphen
    </a>
   </td>
   <td>
    L. Rüschendorf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 14-16, SR 404 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu n.V.
   </td>
   <td>
    O. Munsonius
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Statistische Modelle in der klinischen Epidemiologie
   </td>
   <td>
    M. Schumacher
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 14-16, HS Medizinische Biometrie, Stefan-Meier-Str. 26
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu n.V.
   </td>
   <td>
    J. Beyersmann
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Kompaktseminar: Methodik klinischer Studien
   </td>
   <td>
    M. Schumacher und Mitarbeiter
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    n.V.
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Theorie und Numerik der Navier-Stokes-Gleichungen
   </td>
   <td>
    G. Dziuk
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 16-18, SR 226 Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu n.V.
   </td>
   <td>
    C. Eilks
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Praktikum zum Seminar: Theorie und Numerik der Navier-Stokes-Gleichungen
   </td>
   <td>
    G. Dziuk
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 16-18, CIP-Pool Raum 201, Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu n.V.
   </td>
   <td>
    C.-J. Heine
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Verallgemeinerte Newtonsche Flüssigkeiten
   </td>
   <td>
    M. Růžička
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 14-16, SR 127 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu n.V.
   </td>
   <td>
    L. Diening
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/didaktik/">
     Seminar: Einsatz unterschiedlicher Unterrichtsmethoden im Mathematik-Unterricht
    </a>
   </td>
   <td>
    K. Reichmann
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Do 14-17, SR 127 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Professional Skills for Computer and Natural Sciences
   </td>
   <td>
    B. Schinzel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Blockseminar vom Mo 23.7. bis Fr 27.7.2007, 8:30-16:30 HS 02009, Institut für
Informatik und Gesellschaft, Friedrichstr. 50, 2. OG
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu n.V.
   </td>
   <td>
    K. Kleinn, R. Messmer
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Usability for Groupware
   </td>
   <td>
    B. Schinzel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Blockseminar n.V., HS 02009,
Instituts für Informatik und Gesellschaft, Friedrichstr. 50, 2. OG
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu n.V.
   </td>
   <td>
    R. Claus, C. Taubmann
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: TechnoKörper: Entwicklungen und Auswirkungen an der Schnittstelle von Mensch und Maschine
   </td>
   <td>
    S. Schmitz
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Blockseminar n.V., HS 02009, Instituts für Informatik und Gesellschaft, Friedrichstr. 50, 2. OG
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Auseinandersetzungen mit Donna Haraway von Primate Visions bis Companion Species
   </td>
   <td>
    S. Schmitz
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 11-13, HS 02009, Instituts für Informatik und Gesellschaft, Friedrichstr. 50, 2. OG
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Oberseminar: Differentialgeometrie
   </td>
   <td>
    V. Bangert, B. Siebert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 16-18, SR 125 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Oberseminar: Stabilitätstheorie
   </td>
   <td>
    M. Ziegler
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 11-13, SR 318 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Oberseminar: Modelltheorie und Algebra
   </td>
   <td>
    M. Ziegler, J. Königsmann, A. Prestel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 11-13, SR 318 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Oberseminar: Mathematische Stochastik
   </td>
   <td>
    E. Eberlein, H.R. Lerche, L. Rüschendorf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 11-13, SR 404 Eckerstr. 1 (14 tägl.)
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Oberseminar: Medizinische Statistik
   </td>
   <td>
    M. Schumacher
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 11-13, HS 005, 1. OG, Medizinische Biometrie, Stefan-Meier-Str. 26
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Oberseminar: Angewandte Mathematik
   </td>
   <td>
    G. Dziuk, D. Kröner, M. Růžička
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 14-16, SR 226 Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Arbeitsgemeinschaft: Geometrische Analysis
   </td>
   <td>
    E. Kuwert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 14-16, SR 218 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Arbeitsgemeinschaft: Algebra
   </td>
   <td>
    W. Soergel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 11-13, SR 403 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu n.V.
   </td>
   <td>
    P. Fiebig
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Arbeitsgemeinschaft: Zahlentheorie
   </td>
   <td>
    D. Wolke
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    n. V.
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Arbeitsgemeinschaft: Logik und Komplexität
   </td>
   <td>
    J. Flum
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 9-11, SR 125 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu n.V.
   </td>
   <td>
    M. Müller
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Arbeitsgemeinschaft: Finite Elemente
   </td>
   <td>
    G. Dziuk
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 11-13, Raum 121, Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu n.V.
   </td>
   <td>
    N.N.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Arbeitsgemeinschaft: Nicht-Newtonsche Flüssigkeiten
   </td>
   <td>
    M. Růžička
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 16-18, SR 127 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu n.V.
   </td>
   <td>
    L. Diening
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Arbeitsgemeinschaft: Computereinsatz im Mathematikunterricht
   </td>
   <td>
    K. Reichmann
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 14-17, Computerraum 131 Didaktik, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Arbeitsgemeinschaft: Forschungsprojekte (DoktorandInnenseminar)
   </td>
   <td>
    B. Schinzel, S. Schmitz
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Do 11-13, HS 02009, Institut für Informatik und Gesellschaft, Friedrichstr. 50, 2. OG
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Anleitung zu selbständigem wissenschaftlichen Arbeiten
   </td>
   <td>
    Alle Dozenten der Mathematik
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    ganztägig n.V.
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Methoden der Verifikation (S)
   </td>
   <td>
    B. Becker, J. Flum, G. Lausen, B. Nebel, A. Podelski
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 16-18, SR 404 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar über Datenanalyse und Modellbildung
   </td>
   <td>
    E. Eberlein, H.R. Lerche, L. Rüschendorf, M. Schumacher, J. Timmer
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 11-13, SR 404 Eckerstr. 1 (14tägl.)
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    AF
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/didaktik/">
     Didaktisches Seminar
    </a>
   </td>
   <td>
    K. Reichmann, D. Wolke
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 19:30, HS II Albertstr. 23b - besondere Ankündigung
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    AF
   </td>
   <td>
    Kolloquium: Informatik und Gesellschaft
   </td>
   <td>
    B. Schinzel, S. Schmitz
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 14-16, HS 02009, Instituts für Informatik und Gesellschaft, Friedrichstr. 50, 2. OG - siehe Ankündigung
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Kolloquium der DFG-Forschergruppe Nonlinear Partial Differential Equations: Theoretical and Numerical Analysis
   </td>
   <td>
    Die Dozenten der Forschergruppe
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 16-19, HS II Albertstr. 23b - siehe Ankündigung
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Kolloquium zum DFG-Graduiertenkolleg Mathematische Logik und Anwendungen
   </td>
   <td>
    Die Dozenten des Graduiertenkollegs
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 14-16, SR 404 Eckerstr. 1 - siehe Ankündigung
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/kolloquium/">
     Kolloquium der Mathematik
    </a>
   </td>
   <td>
    Alle Dozenten der Mathematik
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 17:00-18, HS II Albertstr. 23b - besondere
    <a href="http://home.mathematik.uni-freiburg.de/kolloquium/">
     Ankündigung
    </a>
   </td>
   <td>
   </td>
  </tr>
 </table>
</div>
