<div class="container" id="inhalt">
 <h1>
  Lehrveranstaltungen im Sommersemester 2008
 </h1>
 <h4>
  Stand: 07.04.2008
 </h4>
 <table border="0" cellspacing="1" summary="">
  <tr>
   <td>
    A
   </td>
   <td>
    =
   </td>
   <td>
    für Anfänger
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    =
   </td>
   <td>
    für mittlere Semester
   </td>
  </tr>
  <tr>
   <td>
    H
   </td>
   <td>
    =
   </td>
   <td>
    für höhere Semester
   </td>
  </tr>
  <tr>
   <td>
    AF
   </td>
   <td>
    =
   </td>
   <td>
    Hörer aller Fakultäten
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    =
   </td>
   <td>
    nur nach persönlicher Anmeldung
   </td>
  </tr>
  <tr>
   <td>
    HS
   </td>
   <td>
    =
   </td>
   <td>
    Hörsaal
   </td>
  </tr>
  <tr>
   <td>
    SR
   </td>
   <td>
    =
   </td>
   <td>
    Seminarraum
   </td>
  </tr>
 </table>
 Hinweis: Ausführliche Informationen (Vorkenntnisse, Folgeveranstaltungen, Prüfungen) finden sich
in den von der Fakultät herausgegebenen "Kommentaren zu den Lehrveranstaltungen Mathematik".
 <br/>
 <h2>
  Lehrveranstaltungen
 </h2>
 <h2>
  Vorlesungen, Übungen, Praktika
 </h2>
 <h3>
  1. Einführende Vorlesungen
 </h3>
 <table cellspacing="0" summary="" width="100%">
  <colgroup>
   <col class="col1"/>
   <col class="col2"/>
   <col class="col3"/>
  </colgroup>
  <tr>
   <td>
    A
   </td>
   <td>
    Lineare Algebra II
   </td>
   <td>
    B. Siebert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di, Do 9-11, HS Rundbau, Albertstr. 21a
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - in Gruppen - 2stündig n.V.
   </td>
   <td>
    B. Siebert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n.V.
   </td>
   <td>
    U. Ludwig
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    A
   </td>
   <td>
    Analysis II
   </td>
   <td>
    S. Goette
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo, Mi 9-11, HS Rundbau, Albertstr. 21a
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - in Gruppen - 2stündig n.V.
   </td>
   <td>
    S. Goette
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n.V.
   </td>
   <td>
    S. Krause
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    A
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/wolke/">
     Mathematik für Studierende des Ingenieurwesens II
    </a>
   </td>
   <td>
    D. Wolke
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di, Do 14-16, HS Rundbau, Albertstr. 21a
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - in Gruppen - 2stündig n.V.
   </td>
   <td>
    D. Wolke
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n.V.
   </td>
   <td>
    S. Feiler
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    A
   </td>
   <td>
    <a href="http://aam.mathematik.uni-freiburg.de/IAM/Teaching/scripts/das_SS08/DAS.html">
     Diskrete Algebraische Strukturen
    </a>
   </td>
   <td>
    L. Diening
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 11-13, Mi 9-11, HS 00-036, Geb. 101, Georges-Köhler-Allee
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - in Gruppen - 2stündig n.V.
   </td>
   <td>
    L. Diening
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    A
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/wolke/">
     Mathematik für Studierende der Biologie II
    </a>
   </td>
   <td>
    W. Schuster
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di, Do 17-19, HS II Albertstr. 23b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu , Mi 17-19, HS Weismann-Haus
   </td>
   <td>
    W. Schuster
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n.V .
   </td>
   <td>
    N.N.
   </td>
  </tr>
 </table>
 <h3>
  2. Kurs- und Spezialvorlesungen
 </h3>
 Die mit
☐
 gekennzeichneten Vorlesungen kommen für die Diplomvorprüfung (Teilprüfung I und II)
und für die Zwischenprüfung in Frage, die mit
☐☐
gekennzeichneten Vorlesungen für die Diplomvorprüfung (Teilprüfung III) und für die Zwischenprüfung.
 <br/>
 <br/>
 <table cellspacing="0" summary="" width="100%">
  <colgroup>
   <col class="col1"/>
   <col class="col2"/>
   <col class="col3"/>
  </colgroup>
  <tr>
   <td>
    M☐
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/geometrie/suhr/EDG-08/">
     Elementare Differentialgeometrie
    </a>
   </td>
   <td>
    V. Bangert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo, Mi 11-13, HS Weismann-Haus, Albertstr. 21
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n.V.
   </td>
   <td>
    V. Bangert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n.V.
   </td>
   <td>
    S. Suhr
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M☐
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/analysis/SS08/funktheo.html">
     Funktionentheorie
    </a>
   </td>
   <td>
    E. Kuwert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di, Do 9-11, HS Weismann-Haus, Albertstr. 21
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n.V.
   </td>
   <td>
    E. Kuwert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n.V.
   </td>
   <td>
    A. Windel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M☐
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/flum/ss08/">
     Mathematische Logik
    </a>
   </td>
   <td>
    J. Flum
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo, Mi 9-11, HS Weismann-Haus, Albertstr. 21
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu, Fr 9-11, SR 125 Eckerstr. 1
   </td>
   <td>
    J. Flum
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n.V.
   </td>
   <td>
    M. Müller
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M☐☐
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvSS2008/VorWTI/">
     Wahrscheinlichkeitstheorie
    </a>
   </td>
   <td>
    H.R. Lerche
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di, Do 14-16, HS Weismann-Haus, Albertstr. 21
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n.V.
   </td>
   <td>
    H.R. Lerche
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n.V.
   </td>
   <td>
    I. Maahs
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M☐☐
   </td>
   <td>
    <a href="http://aam.mathematik.uni-freiburg.de/IAM/Teaching/ubungen/num_II_SS08/">
     Numerik II
    </a>
   </td>
   <td>
    G. Dziuk
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo, Do 14-16, HS Otto-Krayer-Haus, Albertstr. 25,
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n.V.
   </td>
   <td>
    G. Dziuk
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n.V.
   </td>
   <td>
    C.-J. Heine
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    Algebraische Zahlentheorie
   </td>
   <td>
    A. Huber-Klawitter
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 14-16, Fr 11-13, HS Weismann-Haus, Albertstr. 21
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n.V.
   </td>
   <td>
    A. Huber-Klawitter
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n.V.
   </td>
   <td>
    M. Wendt
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/analysis/DGII08/">
     Differentialgeometrie II
    </a>
   </td>
   <td>
    M. Simon
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo, Mi 9-11, HS II Albertstr. 23b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n.V.
   </td>
   <td>
    M. Simon
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n.V.
   </td>
   <td>
    N.N.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    Modelltheorie II
   </td>
   <td>
    M. Ziegler
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 16-18, Mi 9-11, SR 403 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n.V.
   </td>
   <td>
    N. Frohn
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvSS2008/VorStochINFO/">
     Stochastik für Studierende der Mikrosystemtechnik und Informatik
    </a>
   </td>
   <td>
    H.R. Lerche
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 9-11, HS 00-036, Geb. 101, Georges-Köhler-Allee
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n.V.
   </td>
   <td>
    H.R. Lerche
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n.V.
   </td>
   <td>
    N.N.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvSS2008/VorAsymStat/">
     Asymptotische Statistik
    </a>
   </td>
   <td>
    L. Rüschendorf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 14-16, HS II Albertstr. 23b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu, Mo 16-18, SR 127 Eckerstr. 1
   </td>
   <td>
    L. Rüschendorf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n.V.
   </td>
   <td>
    G. Mainik
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvSS2008/VorStochAnaAlgo/">
     Stochastische Analyse von Algorithmen
    </a>
   </td>
   <td>
    L. Rüschendorf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 14-16, HS II Albertstr. 23b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    <a href="http://aam.mathematik.uni-freiburg.de/IAM/Teaching/ubungen/bfem_SS08/">
     B-Splines als Finite Elemente
    </a>
   </td>
   <td>
    B. Mößner
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Do 11-13, SR 226 Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu , Mo 14-16, SR 226 Eckerstr. 1
   </td>
   <td>
    B. Mößner
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/didaktik">
     Didaktik der Algebra und Analysis
    </a>
   </td>
   <td>
    M. Bürker
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 11-13, Do 11-12, SR 127 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu, Do 12-13, SR 127 Eckerstr. 1
   </td>
   <td>
    M. Bürker
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M,H
   </td>
   <td>
    Algebraische Topologie
   </td>
   <td>
    W. Soergel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di, Do 9-11, SR 404 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n.V.
   </td>
   <td>
    W. Soergel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n.V.
   </td>
   <td>
    P. Fiebig
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M,H
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvSS2008/VorStochProFin/">
     Stochastische Prozesse und Finanzmathematik
    </a>
   </td>
   <td>
    E. Eberlein
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 16-18, HS II Albertstr. 23b, Mi 16-18, SR 404 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu, Do 9-11, SR 403, Do 14-16, SR 127 Eckerstr. 1
   </td>
   <td>
    E. Eberlein
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n.V.
   </td>
   <td>
    V. Pohl
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M,H
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvSS2008/VorFutOpt/">
     Futures and Options
    </a>
   </td>
   <td>
    E. Eberlein
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 16-18, HS Fahnenbergplatz
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu, Mi 14-16, SR 125 Eckerstr. 1
   </td>
   <td>
    E.Eberlein
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n.V.
   </td>
   <td>
    N.N.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M,H
   </td>
   <td>
    <a href="http://aam.mathematik.uni-freiburg.de/IAM/Teaching/ubungen/theonum_pde_II_SS08/">
     Theorie und Numerik partieller Differentialgleichungen II
    </a>
   </td>
   <td>
    D. Kröner
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo, Mi 11-13, HS II Albertstr. 23b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n.V.
   </td>
   <td>
    D. Kröner
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n.V.
   </td>
   <td>
    M. Nolte
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    H
   </td>
   <td>
    O-minimality of Pfaffian functions
   </td>
   <td>
    A. Fornasiero
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 16-18, SR 318 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    A(M,H)
   </td>
   <td>
    Einführung in die Genderforschung
   </td>
   <td>
    K. Palm
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    zu Naturwissenschaften
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 14-16, HS 02009, Institut für Informatik und Gesellschaft, Friedrichstr. 50, 2. OG
   </td>
   <td>
   </td>
  </tr>
 </table>
 <h2>
  Praktika
 </h2>
 <table cellspacing="0" summary="" width="100%">
  <colgroup>
   <col class="col1"/>
   <col class="col2"/>
   <col class="col3"/>
  </colgroup>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/geometrie/suhr/EDGP08/">
     Praktikum: Elementare Differentialgeometrie
    </a>
   </td>
   <td>
    V. Bangert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 9-11, CIP-Pool Raum 201, Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n.V.
   </td>
   <td>
    S. Suhr
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvSS2008/PraStatPrak/">
     Statistisches Praktikum
    </a>
   </td>
   <td>
    E. Eberlein
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 16-18, Do 16-18, CIP-Pool Raum 201, Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n.V.
   </td>
   <td>
    E.A. v. Hammerstein
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Praktikum zu: "Numerik II"
   </td>
   <td>
    G. Dziuk
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 16-18, CIP Pool Raum 201, Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n.V.
   </td>
   <td>
    C. Eilks
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Praktikum zu: "Theorie und Numerik partieller
   </td>
   <td>
    D. Kröner
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Differentialgleichungen II"
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 14-16, CIP-Pool Raum 201, Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n.V.
   </td>
   <td>
    D. Dedner
   </td>
  </tr>
 </table>
 <h2>
  Proseminare, Seminare und Arbeitsgemeinschaften
 </h2>
 <table cellspacing="0" summary="" width="100%">
  <colgroup>
   <col class="col1"/>
   <col class="col2"/>
   <col class="col3"/>
  </colgroup>
  <tr>
   <td>
    PA
   </td>
   <td>
    Proseminar: Geometrie
   </td>
   <td>
    V. Bangert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 16-18, SR 125 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n.V.
   </td>
   <td>
    F. Coglitore
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Proseminar: p-adische Zahlen
   </td>
   <td>
    A. Huber-Klawitter
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Do 11-13, SR 404 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 11-13, SR 125 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n.V.
   </td>
   <td>
    J. Scholbach
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/analysis/proseminarss08/index.html">
     Proseminar: Geometrische Variationsrechnung
    </a>
   </td>
   <td>
    E. Kuwert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 14-16, SR 127 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n.V.
   </td>
   <td>
    H. Schygulla
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Proseminar: Endliche Gruppen
   </td>
   <td>
    J.-C. Schlage-Puchta
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 9-11, Do 9-11, SR 125 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Thermodynamik und Geschlechterdynamik
   </td>
   <td>
    K. Palm
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 9-11, HS 02009, Institut für Informatik und Gesellschaft, Friedrichstr. 50, 2. OG
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/goette/Lehre/HomSem.html">
     Seminar: Einführung in die Homotopietheorie
    </a>
   </td>
   <td>
    S. Goette
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 11-13, Do 11-13, SR 125 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu- n.V.
   </td>
   <td>
    J. Schlüter
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Tropische Geometrie
   </td>
   <td>
    B. Siebert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 14-16, SR 404 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu - n.V.
   </td>
   <td>
    U. Ludwig
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Darstellungstheorie
   </td>
   <td>
    W. Soergel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 9-11, SR 403 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n.V.
   </td>
   <td>
    P. Fiebig
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://wwwmath.uni-muenster.de/u/karin.halupczok/">
     Seminar: Zahlentheorie
    </a>
   </td>
   <td>
    D. Wolke
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 16-18, Do 16-18, SR 127 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n.V.
   </td>
   <td>
    K. Halupczok
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Modelltheorie
   </td>
   <td>
    M. Ziegler
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 11-13, SR 318 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n.V.
   </td>
   <td>
    O. Roche
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvSS2008/SemZuGraphNetz/">
     Seminar: Zufällige Graphen und Netzwerke
    </a>
   </td>
   <td>
    L. Rüschendorf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 14-16, SR 125, Di 16-18, SR 218 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n.V.
   </td>
   <td>
    O. Munsonius
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Statistische Modelle in der klinischen Epidemiologie
   </td>
   <td>
    M. Schumacher
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 10-11:45, HS Medizinische Biometrie, Stefan-Meier-Str. 26
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n.V.
   </td>
   <td>
    H. Binder
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://aam.mathematik.uni-freiburg.de/IAM/homepages/paola/lehre/lehre.html">
     Seminar: Geometrische Differentialgleichungen
    </a>
   </td>
   <td>
    G. Dziuk
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 16-18, SR 226 Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n.V.
   </td>
   <td>
    P. Pozzi
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Theorie und Numerik partieller Differentialgleichungen II
   </td>
   <td>
    D. Kröner
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 14-16, SR 226 Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n.V.
   </td>
   <td>
    A. Dedner
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/didaktik/">
     Seminar: Computer im Mathematikunterricht
    </a>
   </td>
   <td>
    M. Bürker
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 14-17, Computerraum 131 Didaktik, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/didaktik">
     Seminar: Einsatz unterschiedlicher Unterrichtsmethoden
    </a>
   </td>
   <td>
    M. Bürker
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Do 14-17, SR 125 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://mod.iig.uni-freiburg.de">
     Seminar: Ethik in der Informationstechnik
    </a>
   </td>
   <td>
    B. Schinzel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 16-18, HS 02009, Institut für Informatik und Gesellschaft, Friedrichstr. 50, 2. OG
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://mod.iig.uni-freiburg.de">
     Seminar: Professional Skills - Aspekte der Kommunikation im Beruf
    </a>
   </td>
   <td>
    B. Schinzel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Blockseminar (Mo 7.06., Mo 14.06.2008)
    <br/>
    HS 02009, Institut für Informatik und Gesellschaft, Friedrichstr. 50, 2. OG
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n.V.
   </td>
   <td>
    K. Kleinn
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://mod.iig.uni-freiburg.de">
     Seminar: Interface Design für kollaborative Anwendungen
    </a>
   </td>
   <td>
    B. Schinzel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Blockseminar n.V., HS 02009, Institut für Informatik und Gesellschaft, Friedrichstr. 50, 2. OG
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n.V.
   </td>
   <td>
    R. Claus, C. Taubmann
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://mod.iig.uni-freiburg.de">
     Seminar: Inter- /Trans- /Post- /Disziplinarität in Theorie und Praxis
    </a>
   </td>
   <td>
    B. Schinzel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Do 11-13 und Blockseminar n.V., HS 02009, Institut für Informatik und Gesellschaft, Friedrichstr. 50, 2. OG
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n.V.
   </td>
   <td>
    K. Nikoleyczik
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://mod.iig.uni-freiburg.de">
     Seminar: Der Embodimentansatz in der Geschlechterforschung
    </a>
   </td>
   <td>
    K. Palm
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Do 9-11, HS 02009, Institut für Informatik und Gesellschaft, Friedrichstr. 50, 2. OG
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Oberseminar: Differentialgeometrie
   </td>
   <td>
    V. Bangert, S. Goette
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 16-18, SR 404 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Oberseminar: Modelltheorie und Algebra
   </td>
   <td>
    A. Prestel, M. Ziegler
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 11:30-13, SR 318 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Oberseminar: Stabilitätstheorie
   </td>
   <td>
    M. Ziegler
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 11-13, SR 318 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n.V.
   </td>
   <td>
    N. Frohn
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/aktuelles/oberseminar/oberseminarSS2008.html">
     Oberseminar: Mathematische Stochastik
    </a>
   </td>
   <td>
    E. Eberlein, H.R. Lerche, L. Rüschendorf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 11-13, SR 404 Eckerstr. 1 (14 tägl.)
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Oberseminar: Madizinische Statistik
   </td>
   <td>
    M. Schumacher
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 10-11:45, HS Medizinische Biometrie, Stefan-Meier-Str. 26
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Oberseminar: Angewandte Mathematik
   </td>
   <td>
    G. Dziuk, D. Kröner
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 14-16, SR 226 Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Arbeitsgemeinschaft: Arithmetik und Spiegelsymmetrie
   </td>
   <td>
    A. Huber-Klawitter, B. Siebert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 9-11, SR 404 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Arbeitsgemeinschaft: Geometrische Analysis
   </td>
   <td>
    E. Kuwert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 14-16, SR 218 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Arbeitsgemeinschaft: Darstellungstheorie
   </td>
   <td>
    W. Soergel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 11-13, SR 403 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n.V.
   </td>
   <td>
    P. Fiebig
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Arbeitsgemeinschaft: Nicht-Newtonsche Flüssigkeiten
   </td>
   <td>
    L. Diening
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 14-16, SR 127 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Arbeitsgemeinschaft: Finite Elemente
   </td>
   <td>
    G. Dziuk
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 11-13, Raum 121, Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n.V.
   </td>
   <td>
    C.-J. Heine
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Arbeitsgemeinschaft: Forschungsprojekte (DoktorandInnenseminar)
   </td>
   <td>
    B. Schinzel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Do 9-11, HS 05003, Institut für Informatik und Gesellschaft, Friedrichstr. 50, 2. OG
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Anleitung zu selbständigem wissenschaftlichen Arbeiten ganztägig - n.V.
   </td>
   <td>
    Alle Dozenten der Mathematik
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Model Checking
   </td>
   <td>
    B. Becker, J. Flum, G. Lausen, B. Nebel, A. Podelski
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 16-18, SR 01-016, Geb. 101, Georges-Köhler-Allee
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar über Datenanalyse und Modellbildung
   </td>
   <td>
    E. Eberlein, H.R. Lerche, L. Rüschendorf, M. Schumacher, J. Timmer
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 11-13, SR 404 Eckerstr. 1 (14tägl.)
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    AF
   </td>
   <td>
    Didaktisches Seminar
   </td>
   <td>
    M. Bürker, L. Rüschendorf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 19:30-21, HS II Albertstr. 23b - besondere Ankündigung
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    AF
   </td>
   <td>
    Kolloquium: Informatik und Gesellschaft
   </td>
   <td>
    B. Schinzel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 14-16, HS 02009, Institut für Informatik und Gesellschaft, Friedrichstr. 50, 2. OG - siehe Ankündigung
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Kolloquium der DFG-Forschergruppe "Nonlinear Partial Differential Equations: Theoretical and Numerical Analysis"
   </td>
   <td>
    Die Dozenten der Forschergruppe
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 16-19, HS II Albertstr. 23b - siehe Ankündigung
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Kolloquium zum DFG-Graduiertenkolleg "Mathematische Logik und Anwendungen"
   </td>
   <td>
    Die Dozenten des Graduiertenkollegs
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 14-16, SR 01-016, Geb. 101, Georges-Köhler-Allee - siehe Ankündigung
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Kolloquium der Mathematik
   </td>
   <td>
    Alle Dozenten der Mathematik
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 17:00-18, HS II Albertstr. 23 -
    <a href="http://home.mathematik.uni-freiburg.de/kolloquium/">
     besondere Ankündigung
    </a>
   </td>
   <td>
   </td>
  </tr>
 </table>
 <h2>
  Graduiertenkolleg "Mathematische Logik und Anwendungen"
 </h2>
 <h2>
  Vorlesungen, Übungen
 </h2>
 <table cellspacing="0" summary="" width="100%">
  <colgroup>
   <col class="col1"/>
   <col class="col2"/>
   <col class="col3"/>
  </colgroup>
  <tr>
   <td>
    Mr
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/flum/ss08/">
     Mathematische Logik
    </a>
   </td>
   <td>
    J. Flum
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo, Mi 9-11, HS Weismann-Haus, Albertstr. 21
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu, Fr 9-11, SR 125 Eckerstr. 1
   </td>
   <td>
    J. Flum
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n.V.
   </td>
   <td>
    M. Müller
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    H
   </td>
   <td>
    <a href="http://www.dm.unipi.it/~fornasiero/teaching/pfaffian.html">
     O-minimality of Pfaffian functions
    </a>
   </td>
   <td>
    A. Fornasiero
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 16-18, SR 318 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
 </table>
 <h2>
  Seminare und Arbeitsgemeinschaften
 </h2>
 <table cellspacing="0" summary="" width="100%">
  <colgroup>
   <col class="col1"/>
   <col class="col2"/>
   <col class="col3"/>
  </colgroup>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Modelltheorie
   </td>
   <td>
    M. Ziegler
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 11-13, SR 318 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n.V.
   </td>
   <td>
    O. Roche
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Oberseminar: Modelltheorie und Algebra
   </td>
   <td>
    A. Prestel, M. Ziegler
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 11:30-13, SR 318 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Oberseminar: Stabilitätstheorie
   </td>
   <td>
    M. Ziegler
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 11-13, SR 318 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n.V.
   </td>
   <td>
    N. Frohn
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Model Checking
   </td>
   <td>
    B. Becker, J. Flum, G. Lausen, B. Nebel, A. Podelski
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 16-18, SR 01-016, Geb. 101, Georges-Köhler-Allee
   </td>
   <td>
   </td>
  </tr>
 </table>
 <h2>
  Kolloquium
 </h2>
 <table cellspacing="0" summary="" width="100%">
  <colgroup>
   <col class="col1"/>
   <col class="col2"/>
   <col class="col3"/>
  </colgroup>
  <tr>
   <td>
   </td>
   <td>
    Kolloquium zum DFG-Graduiertenkolleg "Mathematische Logik und Anwendungen"
   </td>
   <td>
    Die Dozenten des Graduiertenkollegs
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 14-16, SR 01-016, Geb. 101, Georges-Köhler-Allee - siehe Ankündigung
   </td>
   <td>
   </td>
  </tr>
 </table>
</div>
