<div class="container" id="inhalt">
 <h1>
  Lehrveranstaltungen im Sommersemester 2009
 </h1>
 <h4>
  Stand: 30.04.2009
 </h4>
 <i>
  Hinweis:
 </i>
 Ausführliche Informationen (Vorkenntnisse, Folgeveranstaltungen, Prüfungen) finden sich
in den von der Fakultät herausgegebenen "Kommentaren zu den Lehrveranstaltungen Mathematik".
 <br/>
 <u>
  Informationen über Seminarvorbesprechungen und -anmeldungen
 </u>
 finden Sie im
 <a href="ss09/sommersemester09.html">
  kommentierten Vorlesungsverzeichnis
 </a>
 <br/>
 <table border="0" cellspacing="1" summary="">
  <tr>
   <td>
    A
   </td>
   <td>
    =
   </td>
   <td>
    für Anfänger
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    =
   </td>
   <td>
    für mittlere Semester
   </td>
  </tr>
  <tr>
   <td>
    H
   </td>
   <td>
    =
   </td>
   <td>
    für höhere Semester
   </td>
  </tr>
  <tr>
   <td>
    AF
   </td>
   <td>
    =
   </td>
   <td>
    Hörer aller Fakultäten
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    =
   </td>
   <td>
    nur nach persönlicher Anmeldung
   </td>
  </tr>
  <tr>
   <td>
    HS
   </td>
   <td>
    =
   </td>
   <td>
    Hörsaal
   </td>
  </tr>
  <tr>
   <td>
    SR
   </td>
   <td>
    =
   </td>
   <td>
    Seminarraum
   </td>
  </tr>
 </table>
 <br/>
 <h2>
  Lehrveranstaltungen
 </h2>
 <h2>
  Vorlesungen, Übungen, Praktika
 </h2>
 <h3>
  1. Einführende Vorlesungen
 </h3>
 <table cellspacing="0" summary="" width="100%">
  <colgroup>
   <col width="5%"/>
   <col width="75%"/>
   <col width="20%"/>
  </colgroup>
  <tr>
   <td>
    A
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/arithmetische-geometrie/lehre/ss09/la2.html">
     Lineare Algebra II
    </a>
   </td>
   <td>
    W. Soergel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di, Do 9–11, HS Rundbau, Albertstr. 21
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu – in Gruppen – 2stündig n. V.
   </td>
   <td>
    W. Soergel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen – n. V.
   </td>
   <td>
    M. Wendt
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    A
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/analysis/AnaII09/">
     Analysis II
    </a>
   </td>
   <td>
    E. Eberlein
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo, Mi 9–11, HS Rundbau, Albertstr. 21
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu – in Gruppen – 2stündig n. V.
   </td>
   <td>
    E. Eberlein
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen
   </td>
   <td>
    M. Simon
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    A
   </td>
   <td>
    <a href="http://aam.mathematik.uni-freiburg.de/IAM/Teaching/ubungen/math_infing_II_SS09/">
     Mathematik II für Studierende des Ingenieurwesens
    </a>
   </td>
   <td>
    M. Růžička
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo, Mi 14–16, HS Weismann-Haus, Albertstr. 21 a
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu – in Gruppen – 2stündig n. V.
   </td>
   <td>
    M. Růžička
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen – n. V.
   </td>
   <td>
    C.-J. Heine
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    A
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/junker/ss09/das.html">
     Diskrete Algebraische Strukturen
    </a>
   </td>
   <td>
    M. Junker
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 11-13, Mi 9–11, HS 00-026, Geb. 101, Georges-Köhler-Allee
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu – in Gruppen – 2stündig n. V.
   </td>
   <td>
    M. Junker
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen
   </td>
   <td>
    S. Fröschl
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    A
   </td>
   <td>
    Mathematik II für Studierende der Biologie
   </td>
   <td>
    W. Schuster
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di, Do 17.30–19.30, HS Rundbau, Albertstr. 21
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu – in Gruppen – 2stündig n. V.
   </td>
   <td>
    W. Schuster
   </td>
  </tr>
 </table>
 <h3>
  2. Kurs- und Spezialvorlesungen
 </h3>
 Die mit ☐ gekennzeichneten Vorlesungen kommen für die Diplomvorprüfung (Teilprüfung I und II) und für die Zwischenprüfung in Frage, die mit ☐☐ gekennzeichneten Vorlesungen für die Diplomvorprüfung (Teilprüfung III) und für die Zwischenprüfung.
 <br/>
 <br/>
 <table cellspacing="0" summary="" width="100%">
  <colgroup>
   <col width="5%"/>
   <col width="75%"/>
   <col width="20%"/>
  </colgroup>
  <tr>
   <td>
    M☐
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/ludwig/SS09/edg/">
     Elementare Differentialgeometrie
    </a>
   </td>
   <td>
    S. Goette
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di, Do 9-11, HS II, Albertstr. 23 b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu – 2stündig n. V.
   </td>
   <td>
    S. Goette
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen
   </td>
   <td>
    U. Ludwig
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M☐
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/analysis/SS09/PDE/PDE.html">
     Partielle Differentialgleichungen
    </a>
   </td>
   <td>
    E. Kuwert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo, Mi 9-11, HS II, Albertstr. 23 b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu – 2stündig n. V.
   </td>
   <td>
    E. Kuwert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen
   </td>
   <td>
    F. Coglitore
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M☐
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/feiler/#Zth2009">
     Elementare Zahlentheorie
    </a>
   </td>
   <td>
    K. Halupczok
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo, Mi 14-16, HS Rundbau, Albertstr. 21
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu – 2stündig n. V.
   </td>
   <td>
    K. Halupczok
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen – n. V.
   </td>
   <td>
    S. Feiler
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M☐
   </td>
   <td>
    Funktionentheorie
   </td>
   <td>
    J. Metzger
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di, Do 11-13, HS Weismann-Haus, Albertstr. 21 a
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu – 2stündig n. V.
   </td>
   <td>
    J. Metzger
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen – n. V.
   </td>
   <td>
    D. Lohmann
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M☐
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/flum/ss09/">
     Mathematische Logik
    </a>
   </td>
   <td>
    J. Flum
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo, Mi 9-11, HS Weismann-Haus, Albertstr. 21 a
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu – 2stündig, Fr 9–11, SR 125, Eckerstr. 1
   </td>
   <td>
    J. Flum
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen – n. V.
   </td>
   <td>
    B. Lellmann
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M☐☐
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvSS2009/VorWTI/">
     Wahrscheinlichkeitstheorie
    </a>
   </td>
   <td>
    L. Rüschendorf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo, Mi 11-13, HS Weismann-Haus, Albertstr. 21 a
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu – 2stündig n. V.
   </td>
   <td>
    L. Rüschendorf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen – n. V.
   </td>
   <td>
    O. Munsonius
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M☐☐
   </td>
   <td>
    <a href="http://aam.mathematik.uni-freiburg.de/IAM/Teaching/ubungen/num_II_SS09/">
     Numerik II
    </a>
   </td>
   <td>
    D. Kröner
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo, Mi 11-13, HS II, Albertstr. 23 b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu – 2stündig n. V.
   </td>
   <td>
    D. Kröner
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen – n. V.
   </td>
   <td>
    M. Nolte
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/geometrie/suhr/DG2-09/index.html">
     Differentialgeometrie II
    </a>
   </td>
   <td>
    V. Bangert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di, Do 9-11, SR 404, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu – 2stündig n. V.
   </td>
   <td>
    V. Bangert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen
   </td>
   <td>
    S. Suhr
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    <a href="http://aam.mathematik.uni-freiburg.de/IAM/Teaching/scripts/npdgl2_SS09/">
     Theorie und Numerik partieller Differentialgleichungen II
    </a>
   </td>
   <td>
    L. Diening
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo, Mi 9-11 , SR 404, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu – 2stündig n. V.
   </td>
   <td>
    L. Diening
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen – n. V.
   </td>
   <td>
    N. N.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/flum/nsa/">
     Nichtstandardanalysis
    </a>
   </td>
   <td>
    J. Flum
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 16-18; Mi 16-18 14tägl.; HS Weismann-Haus, Albertstr. 21 a
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu, Mi 16-18 (14 tägl.), SR 119, Eckerstr. 1
   </td>
   <td>
    J. Flum
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen n. V.
   </td>
   <td>
    M. Müller
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvSS2009/VorStochINFO/">
     Stochastik für Studierende der Informatik
    </a>
   </td>
   <td>
    H. R. Lerche
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 9-11, HS 026, Geb. 101, Georges-Köhler-Allee
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu –2stündig - n. V.
   </td>
   <td>
    H. R. Lerche
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen – n. V.
   </td>
   <td>
    S. Kiesel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    <a href="http://omnibus.uni-freiburg.de/~dl954/lehrveranst/d_lehre.html">
     Kontrolltheorie und Optimale Steuerung
    </a>
   </td>
   <td>
    D. Lebiedz
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 11-13, SR 226, Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu –2stündig - n. V.
   </td>
   <td>
    D. Lebiedz
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M, H
   </td>
   <td>
    Modelltheorie und algebraische Geometrie
   </td>
   <td>
    M. Ziegler
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 14–16, Fr 9–11, SR 404, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu – 2stündig n. V.
   </td>
   <td>
    M. Ziegler
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen – n. V.
   </td>
   <td>
    N. Frohn
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M, H
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvSS2009/VorStochProFin/">
     Stochastische Prozesse und Finanzmathematik
    </a>
   </td>
   <td>
    H. R. Lerche
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 14-16, Fr 9-11, HS II, Albertstr. 23 b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu, Mi 14-16, SR 127, Eckerstr. 1
   </td>
   <td>
    H. R. Lerche
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen – n. V.
   </td>
   <td>
    I. Maahs
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M, H
   </td>
   <td>
    <a href="http://aam.mathematik.uni-freiburg.de/IAM/Teaching/ubungen/fa_SS09/">
     Nichtlineare Funktionalanalysis
    </a>
   </td>
   <td>
    G. Dziuk
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di, Do 11–13, HS II, Albertstr. 23 b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu – 2stündig n. V.
   </td>
   <td>
    G. Dziuk
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen – n. V.
   </td>
   <td>
    P. Pozzi
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M, H
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/didaktik/lehrveranstaltungen/angebot_ss09.html">
     Didaktik der Algebra und Analysis
    </a>
   </td>
   <td>
    M. Bürker
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 11-13, Do 11-12, SR 127
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu Do 12-13, SR 127, Eckerstr. 1
   </td>
   <td>
    M. Bürker
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M, H
   </td>
   <td>
    Ricci-Krümmung auf metrischen Räumen
   </td>
   <td>
    M. Simon
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 11-13, SR 404, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu – 2stündig n. V.
   </td>
   <td>
    M. Simon
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen – n. V.
   </td>
   <td>
    N. N.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M, H
   </td>
   <td>
    Introduction to Zeta-Functions and Schemes
   </td>
   <td>
    W. Soergel / S. Meagher
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 14-16, SR 119, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu – Do 14-16, SR 119
   </td>
   <td>
    W. Soergel / S.&amp;nbsp Meagher
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
 </table>
 <h3>
  3. Praktika
 </h3>
 <table cellspacing="0" summary="" width="100%">
  <colgroup>
   <col width="5%"/>
   <col width="75%"/>
   <col width="20%"/>
  </colgroup>
  <tr>
   <td>
    PA
   </td>
   <td>
    Grundlagen der Programmiersprache C für Studierende der Naturwissenschaften
   </td>
   <td>
    R. Axthelm
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 13 s.t. - 15 - HS II, Albertstr. 23 b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu – Fr 15:15 - 16.45 bzw. Mo 16:00-17:30,
   </td>
   <td>
    N. N.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    (zählt als Programmierpraktikum im BSc Mathematik, Belegung über das Zfs; bitte beachten Sie die Beleginformationen auf:
    <a href="http://www.zfs.uni-freiburg.de">
     www.zfs.uni-freiburg.de
    </a>
    )
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvSS2009/PraStatPrak/">
     Statistisches Praktikum
    </a>
   </td>
   <td>
    L. Rüschendorf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 18-20, CIP-Pool Raum 201, Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu – n. V.
   </td>
   <td>
    G. Mainik
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvSS2009/PraStatVerfR/">
     Statistische Verfahren in R
    </a>
   </td>
   <td>
    E. Eberlein
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi, Do 14-16, CIP-Pool Raum 201, Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu – n .V.
   </td>
   <td>
    E. A. v. Hammerstein
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Numerik II
   </td>
   <td>
    D. Kröner
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo, Di 14-16, Mi, Do 16-18, CIP-Pool Raum 201, Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu – n. V.
   </td>
   <td>
    A. Dedner
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Numerik partieller Differentialgleichungen auf Mannigfaltigkeiten
   </td>
   <td>
    C.-J. Heine
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 16–18, CIP-Pool Raum 201, Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu – n. V.
   </td>
   <td>
   </td>
  </tr>
 </table>
 <h2>
  Proseminare, Seminare und Arbeitsgemeinschaften
 </h2>
 <table cellspacing="0" summary="" width="100%">
  <colgroup>
   <col width="5%"/>
   <col width="75%"/>
   <col width="20%"/>
  </colgroup>
  <tr>
   <td>
    PA
   </td>
   <td>
    Proseminar: Das Buch der Beweise
   </td>
   <td>
    P. Fiebig
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Blockseminar - ein Wochenende im Juni oder Juli 2009
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu – n. V.
   </td>
   <td>
    N. N.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Vorbesprechung: 11. Februar 2009; 18 Uhr (ct) im Raum 404
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Proseminar: Mathematik im Alltag
   </td>
   <td>
    S. Goette
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 14-16, SR 127, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu – n. V.
   </td>
   <td>
    S. Krause
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Proseminar: Algebra
   </td>
   <td>
    W. Soergel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 14-16, Weismann-Haus, Albertstr. 21 a
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu
   </td>
   <td>
    A. Glang
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Vorbesprechung: Fr 13. Februar 2009 15 Uhr st, SR 404 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Proseminar: Modellierung
   </td>
   <td>
    D. Kröner
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 14-16, SR 226, Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu – n. V.
   </td>
   <td>
    A. Dedner
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://aam.mathematik.uni-freiburg.de/IAM/Teaching/scripts/prosemSS09/">
     Proseminar: Große Sätze und schöne Beweise
    </a>
   </td>
   <td>
    M. Růžička
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 16-18, SR 125, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu – n. V.
   </td>
   <td>
    N. N.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Proseminar: Fourieranalysis
   </td>
   <td>
    J. Metzger
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 16-18, SR 318, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu Mi 18:00 – 19:00 SR 318
   </td>
   <td>
    P. Graf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Teilnehmerliste im Sekretariat Zi. 336
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Sprechzeiten Mo-Mi 13-16; Do,Fr 8-12
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/ludwig/SS09/seminar/">
     Seminar: Differentialgeometrie von Kurven und Flächen
    </a>
   </td>
   <td>
    V. Bangert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 14–16, SR 125, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu
   </td>
   <td>
    U. Ludwig
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/goette/Lehre/KohomSem.html">
     Seminar: Algebraische Topologie
    </a>
   </td>
   <td>
    S. Goette
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 14–16, SR 125, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu – n. V.
   </td>
   <td>
    J. Schlüter
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/analysis/SS09/Sem_netz.pdf">
     Seminar: Geometrische Analysis
    </a>
   </td>
   <td>
    E. Kuwert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 14–16, SR 125, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu – n. V.
   </td>
   <td>
    N. N.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: D-Moduln
   </td>
   <td>
    W. Soergel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 14-16, SR 403, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu – n. V.
   </td>
   <td>
    P. Fiebig
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Zahlentheorie
   </td>
   <td>
    D. Wolke, K. Halupczok
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 16-18, SR 414, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu – n. V.
   </td>
   <td>
    N. N.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Modelltheorie
   </td>
   <td>
    M. Ziegler
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 11–13, SR 318, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu – n. V.
   </td>
   <td>
    N. Frohn
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvSS2009/SemFinMaht/">
     Seminar: Finanzmathematik
    </a>
   </td>
   <td>
    E. Eberlein
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 14-16, SR 404, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu – n. V.
   </td>
   <td>
    V. Pohl
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvSS2009/SemVerPro/">
     Seminar: Verzweigungsprozesse
    </a>
   </td>
   <td>
    P. Pfaffelhuber
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 11-13, SR 125, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu – n. V.
   </td>
   <td>
    N. N.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://www.imbi.uni-freiburg.de/biom/index.php?conID=43">
     Seminar: Statistische Modelle in der klinischen Epidemiologie
    </a>
   </td>
   <td>
    M. Schumacher
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 9.30 - 11.00 Uhr, HS Medizinische Biometrie, Stefan-Meier-Str. 26
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu – n. V.
   </td>
   <td>
    E. Graf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://aam.mathematik.uni-freiburg.de/IAM/homepages/paola/lehre/lehre.html">
     Seminar: Partielle Differentialgleichungen auf Flächen
    </a>
   </td>
   <td>
    G. Dziuk
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 16–18, SR 226, Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu – n. V.
   </td>
   <td>
    P. Pozzi
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/didaktik/lehrveranstaltungen/angebot_ss09.html#Medieneinsatz">
     Seminar: Medieneinsatz im Mathematikunterricht
    </a>
   </td>
   <td>
    M. Bürker
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 13-14, SR 127, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 13-16 und 16-19, Computerraum 131 Didaktik, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/didaktik/lehrveranstaltungen/angebot_ss09.html#Unterrichtsmethoden">
     Seminar: Einsatz unterschiedlicher Unterrichtsmethoden
    </a>
   </td>
   <td>
    M. Bürker
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Do 14-17, SR 127, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Concept Maps als Werkzeuge zur Wissensstrukturierung: Theorien, Anforderungen, Anwendungen
   </td>
   <td>
    S. Schmitz
    <br/>
    N. Degele
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Do 14–16, HS 02009, Institut für Informatik und Gesellschaft,
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Friedrichstr. 50, 2. OG
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Embodying – Anwendungen eines transdisziplinären Konzeptes in der Geschlechterforschung
   </td>
   <td>
    S. Schmitz
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 16-18; KG IV, ÜR 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://mod.iig.uni-freiburg.de/cms/index.php?id=164&amp;tx_seminars_pi1">
     Seminar: Feministische Epistemologien und ihre Anwendungen in transdisziplinären Gender Studies
    </a>
   </td>
   <td>
    S. Schmitz
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 9-11, HS 02009, Institut für Informatik und Gesellschaft,
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Friedrichstr. 50, 2. OG
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://omnibus.uni-freiburg.de/~dl954/lehrveranst/d_lehre.html">
     Seminar: Optimierung, Optimale Steuerung und Anwendungen in der Systembiologie
    </a>
   </td>
   <td>
    D. Lebiedz
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 16–18, SR-1.026, UG des ZBSA, Habsburger Str. 49
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td valign="top">
    Oberseminar: Differentialgeometrie
   </td>
   <td rowspan="2">
    V. Bangert, S. Goette
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 16–18, SR 404, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Oberseminar: Modelltheorie
   </td>
   <td>
    M. Ziegler
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Do 11–13, SR 318, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td valign="top">
    PA
   </td>
   <td valign="top">
    Oberseminar: Mathematische Stochastik
   </td>
   <td rowspan="3">
    E. Eberlein, H. R. Lerche, P. Pfaffelhuber, L. Rüschendorf
   </td>
  </tr>
  <tr valign="top">
   <td>
   </td>
   <td valign="top">
    Fr 11–13, SR 404, Eckerstr. 1 (14 tägl.)
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://www.imbi.uni-freiburg.de/biom/index.php?conID=10100">
     Oberseminar: Medizinische Statistik
    </a>
   </td>
   <td>
    M. Schumacher
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 11.00 - 12.30 Uhr, HS Medizinische Biometrie, Stefan-Meier-Str. 26
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td valign="top">
    <a href="http://aam.mathematik.uni-freiburg.de/IAM/homepages/fritz/OSAM.html">
     Oberseminar: Angewandte Mathematik
    </a>
   </td>
   <td rowspan="2">
    G. Dziuk, D. Kröner, M. Růžička
   </td>
  </tr>
  <tr valign="top">
   <td>
   </td>
   <td>
    Di 14-16, SR 226, Hermann-Herder-Str. 10
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Arbeitsgemeinschaft: Algebraische Geometrie
   </td>
   <td>
    S. Goette
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 11–13, SR 403, Eckerstr. 1
   </td>
   <td>
    W. Soergel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/analysis/AG/">
     Arbeitsgemeinschaft: Geometrische Analysis
    </a>
   </td>
   <td>
    E. Kuwert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 16–18, SR 127, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Arbeitsgemeinschaft: Algebra
   </td>
   <td>
    W. Soergel, A. Huber-Klawitter
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 11-13, SR 403, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu – n. V.
   </td>
   <td>
    M. Wendt
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Arbeitsgemeinschaft: Analytische Zahlentheorie
   </td>
   <td>
    K. Halupczok
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 11-13, SR 414, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://aam.mathematik.uni-freiburg.de/IAM/homepages/fritz/FEM-AG.html">
     Arbeitsgemeinschaft: Finite Elemente
    </a>
   </td>
   <td>
    G. Dziuk
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 11-13, SR 226, Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu – n. V.
   </td>
   <td>
    H. Fritz
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Arbeitsgemeinschaft: Nicht-Newtonsche Flüssigkeiten
   </td>
   <td rowspan="2">
    M. Růžička
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 16–18, SR 127, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu – n. V.
   </td>
   <td>
    L. Diening
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td valign="top">
    <a href="http://mod.iig.uni-freiburg.de/cms/index.php?id=164&amp;tx_seminars_pi1">
     Arbeitsgemeinschaft: Forschungsprojekte (DoktorandInnenseminar)
    </a>
   </td>
   <td rowspan="2">
    S. Schmitz
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Do 9–11, HS 02009, Institut für Informatik
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    und Gesellschaft, Friedrichstr. 50, 2. OG
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Anleitung zu selbständigem wissenschaftlichen Arbeiten
   </td>
   <td>
    Alle Dozenten der Mathematik
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Ganztägig – n. V.
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td valign="top">
    PA
   </td>
   <td valign="top">
    Seminar über Datenanalyse und Modellbildung
   </td>
   <td rowspan="3">
    E. Eberlein, H. R. Lerche, P. Pfaffelhuber, L. Rüschendorf, M. Schumacher, J. Timmer
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 11–13, SR 404, Eckerstr. 1 (14tägl.)
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    AF
   </td>
   <td>
    Didaktisches Seminar
   </td>
   <td>
    M. Bürker, L. Rüschendorf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 19:30–21, HS II, Albertstr. 23 b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    - besondere Ankündigung
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Freiburger Kolloquium des SFB/Transregio 71 "Geometrische Partielle Differentialgleichungen"
   </td>
   <td rowspan="4">
    V. Bangert, G. Dziuk, S. Goette, D. Kröner, E. Kuwert, M. Růžička, A. Dedner, L. Diening, C.-J. Heine, M. Listing, P. Pozzi, M. Simon
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 16–19, 14-täg., HS II Albertstr. 23 b
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    siehe Ankündigung
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Kolloquium der Mathematik
   </td>
   <td>
    Alle Dozenten der Mathematik
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Do 17:00–18, HS II Albertstr. 23 b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    - besondere Ankündigung
   </td>
   <td>
   </td>
  </tr>
 </table>
 <br/>
 <br/>
 <br/>
 <h2 id="sfb71">
  Veranstalltungen des SFB/Transregio 71: Geometrische Partielle Differentialgleichungen
 </h2>
 <h4>
  Aktuelle Vorträge4&gt;
  <br/>
  <br/>
  <h3>
   Vorlesungen und Seminare
  </h3>
 </h4>
 <table cellspacing="0" summary="" width="100%">
  <colgroup>
   <col width="5%"/>
   <col width="75%"/>
   <col width="20%"/>
  </colgroup>
  <tr>
   <td>
    M, H
   </td>
   <td>
    Nichtlineare Funktionalanalysis
   </td>
   <td>
    G. Dziuk
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di, Do 11–13, HS II, Albertstr. 23 b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu – 2stündig n. V.
   </td>
   <td>
    G. Dziuk
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen – n. V.
   </td>
   <td>
    P. Pozzi
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M☐
   </td>
   <td>
    Partielle Differentialgleichungen
   </td>
   <td>
    E. Kuwert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo, Mi 9-11, HS II, Albertstr. 23 b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu – 2stündig n. V.
   </td>
   <td>
    E. Kuwert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen
   </td>
   <td>
    F. Coglitore
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/analysis/SS09/Sem_netz.pdf">
     Seminar: Geometrische Analysis
    </a>
   </td>
   <td>
    E. Kuwert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 14–16, SR 125, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu &amp;ndash
   </td>
   <td>
    N. Röttgen
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
 </table>
 <h3>
  Oberseminare
 </h3>
 <table cellspacing="0" summary="" width="100%">
  <colgroup>
   <col width="5%"/>
   <col width="75%"/>
   <col width="20%"/>
  </colgroup>
  <tr>
   <td>
    PA
   </td>
   <td valign="top">
    Oberseminar: Differentialgeometrie
   </td>
   <td rowspan="2">
    V. Bangert, S. Goette
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 16–18, SR 404, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td valign="top">
    Oberseminar: Angewandte Mathematik
   </td>
   <td rowspan="2">
    G. Dziuk, D. Kröner, M. Růžička
   </td>
  </tr>
  <tr valign="top">
   <td>
   </td>
   <td>
    Di 14-16, SR 226, Hermann-Herder-Str. 10
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
 </table>
 <h3>
  Arbeitsgemeinschaften
 </h3>
 <table cellspacing="0" summary="" width="100%">
  <colgroup>
   <col width="5%"/>
   <col width="75%"/>
   <col width="20%"/>
  </colgroup>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/analysis/AG/">
     Arbeitsgemeinschaft: Geometrische Analysis
    </a>
   </td>
   <td>
    E. Kuwert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 16–18, SR 127, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Arbeitsgemeinschaft: Finite Elemente
   </td>
   <td>
    G. Dziuk
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 11-13, SR 226, Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu – n. V.
   </td>
   <td>
    H. Fritz
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Arbeitsgemeinschaft: Nicht-Newtonsche Flüssigkeiten
   </td>
   <td rowspan="2">
    M. Růžička
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 16–18, SR 127, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu – n. V.
   </td>
   <td>
    L. Diening
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
 </table>
 <h3>
  Praktika
 </h3>
 <table cellspacing="0" summary="" width="100%">
  <colgroup>
   <col width="5%"/>
   <col width="75%"/>
   <col width="20%"/>
  </colgroup>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://aam.mathematik.uni-freiburg.de/IAM/Teaching/ubungen/prak_pde_mfk_SS09/">
     Numerik partieller Differentialgleichungen auf Mannigfaltigkeiten
    </a>
   </td>
   <td>
    C.-J. Heine
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 16–18, CIP-Pool Raum 201, Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu – n. V.
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
 </table>
 <h3>
  Kolloquium
 </h3>
 <table cellspacing="0" summary="" width="100%">
  <colgroup>
   <col width="5%"/>
   <col width="75%"/>
   <col width="20%"/>
  </colgroup>
  <tr>
   <td>
   </td>
   <td>
    Freiburger Kolloquium des SFB/Transregio 71 "Geometrische Partielle Differentialgleichungen"
   </td>
   <td rowspan="4">
    V. Bangert, G. Dziuk, S. Goette, D. Kröner, E. Kuwert, M. Růžička, A. Dedner, L. Diening, C.-J. Heine, M. Listing, P. Pozzi, M. Simon
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 16–19, 14-täg., HS II Albertstr. 23 b
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    siehe Ankündigung
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
 </table>
 <br/>
 <br/>
 <br/>
</div>
