<div class="container" id="inhalt">
 <h1>
  Lehrveranstaltungen im Sommersemester 2010
 </h1>
 <h4>
  Stand: 01.04.2010
 </h4>
 <table border="0" cellspacing="10" summary="">
  <tr>
   <td>
    A = für Anfänger
   </td>
   <td>
    AF = Hörer aller Fakultäten
   </td>
   <td>
    HS = Hörsaal
   </td>
  </tr>
  <tr>
   <td>
    M = für mittlere Semester
   </td>
   <td>
    PA = nur nach persönlicher Anmeldung
   </td>
   <td>
    SR = Seminarraum
   </td>
  </tr>
  <tr>
   <td>
    H = für höhere Semester
   </td>
  </tr>
  <tr>
   <td colspan="3">
    P = Pflichtveranstaltungen im Bachelor-Studium
   </td>
  </tr>
  <tr>
   <td colspan="3">
    WP = Wahlpflichtveranstaltung im Bachelor-Studium
   </td>
  </tr>
 </table>
 <p>
  <i>
   Hinweis:
  </i>
  Ausführliche Informationen (Vorkenntnisse, Folgeveranstaltungen, Prüfungen) finden sich
in den von der Fakultät herausgegebenen "Kommentaren zu den Lehrveranstaltungen Mathematik.
 </p>
 <p>
  <i>
   Hinweis:
  </i>
  Im Rahmen des EUCOR-Programms können auch Vorlesungen am Mathematischen Institut in Straßburg belegt werden. Informationen dazu gibt es
  <a href="http://home.mathematik.uni-freiburg.de/arithmetische-geometrie/lehre/strasbourg0910.html">
   hier
  </a>
  .
 </p>
 <table border="0" class="vlverz" style="max-width:850px;" summary="">
  <col style="width:40pt"/>
  <col/>
  <col style="width:30%;"/>
  <tr>
   <td colspan="3">
    <h2>
     1. Einführende Vorlesungen
    </h2>
   </td>
  </tr>
  <tr>
   <td>
    A
   </td>
   <td>
    Lineare Algebra II
   </td>
   <td>
    S.Kebekus
   </td>
  </tr>
  <tr>
   <td>
    P
   </td>
   <td>
    Di, Do 9-11, HS Rundbau, Albertstr. 21
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - in Gruppen - 2stündig n. V.
   </td>
   <td>
    S. Kebekus
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n. V.
   </td>
   <td>
    D. Greb
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    A
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/afshordel/analysis-2.html">
     Analysis II
    </a>
   </td>
   <td>
    W. Soergel
   </td>
  </tr>
  <tr>
   <td>
    P
   </td>
   <td>
    Mo, Mi 9-11, HS Rundbau, Albertstr. 21
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - in Gruppen - 2stündig n. V.
   </td>
   <td>
    W. Soergel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n. V.
   </td>
   <td>
    B. Afshordel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h2>
     2. Kurs- und Spezialvorlesungen
    </h2>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    Die mit ☐ gekennzeichneten Vorlesungen kommen für die Zwischenprüfung in Frage.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M ☐
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/mkuehnel/pde1/">
     Einführung in partielle Differentialgleichungen
    </a>
   </td>
   <td>
    G. Wang
   </td>
  </tr>
  <tr>
   <td>
    WP
   </td>
   <td>
    Mo, Mi 9-11, HS II, Albertstr. 23 b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    (9)
   </td>
   <td>
    Übungen dazu - 2stündig n. V.
   </td>
   <td>
    G. Wang
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n. V.
   </td>
   <td>
    M. Kühnel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M ☐
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/analysis/fl-link/ft-ss10/">
     Funktionentheorie
    </a>
   </td>
   <td>
    M. Simon
   </td>
  </tr>
  <tr>
   <td>
    WP
   </td>
   <td>
    Mo, Mi 11-13, Weismann-Haus, Albertstr. 21 a
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    (9)
   </td>
   <td>
    Übungen dazu - 2stündig n. V.
   </td>
   <td>
    M. Simon
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n. V.
   </td>
   <td>
    F. Link
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M ☐
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/arithmetische-geometrie/lehre/ss10/kommalg.html">
     Kommutative Algebra und Einführung in die algebraische Geometrie
    </a>
   </td>
   <td>
    A. Huber-Klawitter
   </td>
  </tr>
  <tr>
   <td>
    WP
   </td>
   <td>
    Di, Do 9-11, HS II, Albertstr. 23 b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    (9)
   </td>
   <td>
    Übungen dazu - 2stündig n. V.
   </td>
   <td>
    A. Huber-Klawitter
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n. V.
   </td>
   <td>
    M. Wendt
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M ☐
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/nina/MathLogik10/Uebungen_Logik.html">
     Mathematical Logic
    </a>
   </td>
   <td>
    J. Burdges
   </td>
  </tr>
  <tr>
   <td>
    WP
   </td>
   <td>
    Di, Do 14-16, Weismann-Haus, Albertstr. 21a
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    (9)
   </td>
   <td>
    Übungen dazu - 2stündig n. V.
   </td>
   <td>
    J. Burdges
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n. V.
   </td>
   <td>
    N. Frohn
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M ☐
   </td>
   <td>
    <a href="http://omnibus.uni-freiburg.de/~pp131/teaching/sto2009.html">
     Stochastik
    </a>
    (2. Teil der zweisemestrigen Veranstaltung)
   </td>
   <td>
    P. Pfaffelhuber
   </td>
  </tr>
  <tr>
   <td>
    P
   </td>
   <td>
    Fr 9-11, HS Weismann-Haus, Albertstr. 21 a
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig (14täglich) n. V.
   </td>
   <td>
    P. Pfaffelhuber
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n. V.
   </td>
   <td>
    V. Pohl
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M ☐
   </td>
   <td>
    <a href="http://aam.mathematik.uni-freiburg.de/IAM/Teaching/ubungen/num_II_SS10/">
     Numerik
    </a>
    (2. Teil der zweisemestrigen Veranstaltung)
   </td>
   <td>
    G. Dziuk
   </td>
  </tr>
  <tr>
   <td>
    P
   </td>
   <td>
    Mo 16-18, HS Weismann-Haus, Albertstr. 21 a
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig (14täglich) n. V.
   </td>
   <td>
    G. Dziuk
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n. V.
   </td>
   <td>
    Ch. Gersbacher
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M ☐
   </td>
   <td>
    <a href="http://aam.mathematik.uni-freiburg.de/IAM/Teaching/ubungen/numdgl_SS10/">
     Numerik für Differentialgleichungen
    </a>
   </td>
   <td>
    G. Dziuk
   </td>
  </tr>
  <tr>
   <td>
    WP
   </td>
   <td>
    Di 11-13, HS Weismann-Haus, Albertstr. 21 a
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    (5)
   </td>
   <td>
    Übungen dazu - 2stündig (14täglich) n. V.
   </td>
   <td>
    G. Dziuk
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n.V.
   </td>
   <td>
    P. Reiter
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/mlisting/DGII/">
     Differentialgeometrie II
    </a>
   </td>
   <td>
    S. Goette
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di, Do 11-13, HS II, Albertstr. 23 b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n. V.
   </td>
   <td>
    S. Goette
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n. V.
   </td>
   <td>
    M. Listing
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    <a href="http://aam.mathematik.uni-freiburg.de/IAM/Teaching/scripts/FA1-SS10/">
     Funktionalanalysis
    </a>
   </td>
   <td>
    M. Růžička
   </td>
  </tr>
  <tr>
   <td>
    WP
   </td>
   <td>
    Mo, Mi 14-16, HS Weismann-Haus, Albertstr. 21 a
   </td>
  </tr>
  <tr>
   <td>
    (9)
   </td>
   <td>
    Übungen dazu - 2stündig n. V.
   </td>
   <td>
    M. Růžička
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n. V.
   </td>
   <td>
    L. Diening
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    Theorie und Numerik für partielle Differentialgleichungen II
   </td>
   <td>
    D. Kröner
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo, Mi 11-13 , HS II, Albertstr. 23 b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n. V.
   </td>
   <td>
    D. Kröner
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n. V.
   </td>
   <td>
    M. Nolte
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    <a href="http://aam.mathematik.uni-freiburg.de/IAM/Teaching/scripts/GDGL-SS10/">
     Gewöhnliche Differentialgleichungen
    </a>
   </td>
   <td>
    L. Diening
   </td>
  </tr>
  <tr>
   <td>
    WP
   </td>
   <td>
    Di 16-18, HS II, Albertstr. 23 b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    (5)
   </td>
   <td>
    Übungen dazu - 2stündig (14 tägl.) n. V.
   </td>
   <td>
    L. Diening
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n. V.
   </td>
   <td>
    D. Lengeler
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    <a href="http://aam.mathematik.uni-freiburg.de/IAM/homepages/paola/lehre/lehre.html">
     Variationsrechnung
    </a>
   </td>
   <td>
    P. Pozzi
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 9-11, Do 9-10, SR 226, Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu Do 10-11, SR 226, Hermann-Herder-Str. 10
   </td>
   <td>
    P. Pozzi
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    <a href="http://omnibus.uni-freiburg.de/~dl954/lehrveranst/optimierung_ss10.htm">
     Einführung in die Theorie und Numerik von Optimierungsprobleme
    </a>
   </td>
   <td>
    D. Lebiedz, D. Kröner
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 9-11, SR 226, Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n. V.
   </td>
   <td>
    D. Lebiedz, D. Kröner
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M, H
   </td>
   <td>
    Modelltheorie II
   </td>
   <td>
    M. Ziegler
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 16-18, Fr 9-11, SR 404, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n. V.
   </td>
   <td>
    M. Ziegler
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n. V.
   </td>
   <td>
    J. D. Caycedo
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M, H
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvSS2010/VorStochProzFin/">
     Stochastische Prozesse und Finanzmathematik
    </a>
   </td>
   <td>
    L. Rüschendorf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo, Mi 14-16, HS II, Albertstr. 23 b
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu, Mi 16-18 SR 127, Eckerstr. 1
   </td>
   <td>
    L. Rüschendorf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n. V.
   </td>
   <td>
    N. N.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M, H
   </td>
   <td>
    <neu>
     <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvSS2010/VorWTII/">
      Wahrscheinlichkeitstheorie II
     </a>
    </neu>
   </td>
   <td>
    A. Rößler
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 14-16, HS II, Albertstr. 23 b,
    <br/>
    Do 14-16, SR 404, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu, Mi 16-18 SR318, Eckerstr. 1
   </td>
   <td>
    A. Rößler
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n. V.
   </td>
   <td>
    I. Maahs
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M, H
   </td>
   <td>
    <neu>
     <a href="http://home.mathematik.uni-freiburg.de/mkuehnel/blaetterungen/">
      Geometrie von Blätterungen
     </a>
    </neu>
   </td>
   <td>
    M. Kühnel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 11-13, SR 414, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu 2stündig n. V.
   </td>
   <td>
    M. Kühnel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M, H
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvSS2010/VorStatII/">
     Mathematische Statistik II
    </a>
   </td>
   <td>
    H. R. Lerche
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 9-11, HS II, Albertstr. 23 b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n. V.
   </td>
   <td>
    H. R. Lerche
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n. V.
   </td>
   <td>
    D. Stich
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M, H
   </td>
   <td>
    <neu>
     <a href="http://www.stochastik/Vorlesungen/vvSS2010/VorNumStochProz/index.html">
      Numerik stochastischer Prozesse mit Anwendungen in der Finanzmathematik
     </a>
    </neu>
   </td>
   <td>
    A. Rößler
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Do 11-13, SR 127, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M, H
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvSS2010/VorUnGeo/">
     Unendlichdimensionale konvexe Geometrie
    </a>
   </td>
   <td>
    H. Weisshaupt
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Do 13:30 - 15:30, HS II, Albertstr. 23 b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fragestunde Do 15:30 - 16:00, HS II, Albertstr. 23 b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    H
   </td>
   <td>
    Ausgewählte Kapitel der Darstellungstheorie
   </td>
   <td>
    W. Soergel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 9-11, SR 404, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h2>
     3. Lehrexportveranstaltungen
    </h2>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mathematik II für Studierende des Ingenieurwesens
   </td>
   <td>
    T. Szemberg
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo, Mi 14-16, HS Rundbau, Albertstr. 21
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - in Gruppen - 2stündig n. V.
   </td>
   <td>
    T. Szemberg
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n. V.
   </td>
   <td>
    P. Graf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/nena/vorlesung/DAS/das.html">
     Diskrete Algebraische Strukturen
    </a>
   </td>
   <td>
    M. Junker
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo,Mi 11-13, HS 00-026, Gebäude 101, Georges-Köhler-Allee
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - in Gruppen - 2stündig n. V.
   </td>
   <td>
    M. Junker
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n. V.
   </td>
   <td>
    N. Röttgen
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mathematik II für Studierende der Biologie
   </td>
   <td>
    W. Schuster
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di, Do 17.30-19.30, HS Rundbau, Albertstr. 21
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - in Gruppen - 2stündig n. V.
   </td>
   <td>
    W. Schuster
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Stochastik für Studierende der Informatik
   </td>
   <td>
    H. R. Lerche
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 9-11, HS 00-026, Geb. 101, Georges-Köhler-Allee
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu -2stündig - n. V.
   </td>
   <td>
    H. R. Lerche
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n. V.
   </td>
   <td>
    N. N.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h2>
     4. Fachdidaktik
    </h2>
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M,H
   </td>
   <td>
    Vorlesung: Didaktik der Algebra und Analysis
   </td>
   <td>
    M. Bürker
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 11-13, Do 11-12, SR 404, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu, Do 12-13, SR 404, Eckerstr. 1
   </td>
   <td>
    M. Bürker
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Medieneinsatz im Mathematikunterricht
   </td>
   <td>
    M. Bürker
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 13-14, SR 127, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 14-16, Computerraum 131 Didaktik, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Unterrichtsmethoden im Mathematikunterricht
   </td>
   <td>
    M. Bürker
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Do 14-17, SR 127, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h2>
     5. Praktika
    </h2>
   </td>
  </tr>
  <tr>
   <td>
    PA,
    <br/>
    P
   </td>
   <td>
    Grundlagen der Programmiersprache C für Studierende der Naturwissenschaften
   </td>
   <td>
    H. Fritz
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 16-18, HS II, Albertstr. 23 b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu: Di, Mi, Do 16:15-17.45, SR 100, Rechenzentrum, Hermann-Herder-Str. 10
    <br/>
    Fr 11:15-12:45 CIP-Pool Raum 201, Rechenzentrum, Hermann-Herder-Str. 10
   </td>
   <td>
    N. N.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Veranstaltung des Zfs
    <br/>
    (zählt als Programmierpraktikum im BSc Mathematik, Belegung über das ZfS;
				Bitte beachten Sie die Beleginformationen auf:
    <a href="http://www.zfs.uni-freiburg.de/">
     www.zfs.uni-freiburg.de
    </a>
    )
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvSS2010/PraStochII/">
     Praktikum zur Stochastik (2. Teil)
    </a>
   </td>
   <td>
    P. Pfaffelhuber
   </td>
  </tr>
  <tr>
   <td>
    P
   </td>
   <td>
    Mi 16-18, Weismann-Haus, Albertstr. 21 a
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    - oder als Blockpraktikum -
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo-Fr 02.-06.08.2010, 9h-13h, Weismann-Haus, Albertstr. 21 a
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    N. N.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Vorbesprechung in der ersten Vorlesung Stochastik
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvSS2010/PraStatPrak/">
     Statistisches Praktikum
    </a>
   </td>
   <td>
    N. N.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 14-16, Fr 14-16
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    CIP-Pool Raum 201, Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    G. Mainik
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Praktikum zur Numerik (2. Teil)
   </td>
   <td>
    G. Dziuk
   </td>
  </tr>
  <tr>
   <td>
    P
   </td>
   <td>
    Di 11-13, 16-18, Mi 14-16, 16-18, Do 14-16, 16-18 (14tgl.)
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    CIP-Pool Raum 201, Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    J. Steinhilber
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Praktikum zu "Theorie und Numerik für partielle Differentialgleichungen II"
   </td>
   <td>
    D. Kröner
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 14-16, CIP-Pool Raum 201, Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    A. Dedner
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h2>
     6. Proseminare
    </h2>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Proseminar: Elementare und analytische Zahlentheorie
   </td>
   <td>
    U. Derenthal
   </td>
  </tr>
  <tr>
   <td>
    WP
   </td>
   <td>
    Mi 11-13, SR 125, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    (3)
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    U. Derenthal
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Proseminar: Mathematik im Alltag
   </td>
   <td>
    S. Goette
   </td>
  </tr>
  <tr>
   <td>
    WP
   </td>
   <td>
    Di 14-16, SR 125, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    (3)
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    J. Schlüter
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Proseminar: Symmetrien und Differentialgleichungen
   </td>
   <td>
    S. Kebekus
   </td>
  </tr>
  <tr>
   <td>
    WP
   </td>
   <td>
    Di 14-16, SR 318
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    (3)
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    D. Greb
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://aam.mathematik.uni-freiburg.de/IAM/homepages/rose/prosem-ss10.html">
     Proseminar: Sobolev-Räume in einer Variablen
    </a>
   </td>
   <td>
    M. Růžička
   </td>
  </tr>
  <tr>
   <td>
    WP
   </td>
   <td>
    Di 16-18, SR 125, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    (3)
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    P. Nägele
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Proseminar: Kreise
   </td>
   <td>
    T. Szemberg
   </td>
  </tr>
  <tr>
   <td>
    WP
   </td>
   <td>
    Di 11-13, SR 125, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
    (3)
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    T. Szemberg
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h2>
     7. Seminare
    </h2>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/dlohmann/Spiegelseminar.html">
     Seminar: Spiegelungsgruppen und ihre Invariantenringe
    </a>
   </td>
   <td>
    W. Soergel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 9-11, SR 127, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    N. N.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/arithmetische-geometrie/lehre/ss10/ktheorie.html">
     Seminar: K-Theorie
    </a>
   </td>
   <td>
    S. Goette, A. Huber-Klawitter
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 14-16, Do 14-16, SR 125, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    M. Wendt
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/zchen/variations.html">
     Seminar: Variationsrechnung
    </a>
   </td>
   <td>
    G. Wang
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 14-16, SR 125, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    M. Kühnel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Modelltheorie
   </td>
   <td>
    M. Ziegler
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 11-13, SR 318, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    N. Frohn
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvSS2010/SemDiff/">
     Seminar: Diffusionen
    </a>
   </td>
   <td>
    H. R. Lerche
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 16-18, SR 218, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    I. Maahs
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvSS2010/SemGraphen/">
     Seminar: Grenzwertsätze in zufälligen Graphen
    </a>
   </td>
   <td>
    L. Rüschendorf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 14-16, SR 127, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    V. Wolf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvSS2010/SemGraphen/">
     Seminar: Konvergenz zufälliger Bäme
    </a>
   </td>
   <td>
    L. Rüschendorf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 16-18, SR 127, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    V. Wolf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Theorie und Numerik geometrischer Differentialgleichungen
   </td>
   <td>
    G. Dziuk
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 16-18, SR 226, Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    H. Fritz, P. Reiter
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Mathematische Grundlagen der Strömungsmechanik
   </td>
   <td>
    D. Kröner
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 14-16, SR 226, Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    Ch. Gersbacher
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://www.imbi.uni-freiburg.de/biom/index.php?conID=47">
     Seminar: Statistische Modelle in der klinischen Epidemiologie
    </a>
   </td>
   <td>
    M. Schumacher
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 9-11, HS Medizinische Biometrie, Stefan-Meier-Str. 26
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h2>
     8. Oberseminare
    </h2>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Oberseminar: Differentialgeometrie
   </td>
   <td>
    S. Goette
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 16-18, SR 404, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Oberseminar: Algebraische Geometrie
   </td>
   <td rowspan="2">
    A. Huber-Klawitter, S. Kebekus, W. Soergel, U. Derenthal
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 14-16, SR 127, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Oberseminar: Modelltheorie
   </td>
   <td>
    M. Ziegler, J. Burdges
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Do 11-13, SR 318, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/aktuelles/oberseminar/oberseminarSS2010.html">
     Oberseminar: Mathematische Stochastik
    </a>
   </td>
   <td rowspan="2">
    H. R. Lerche, P. Pfaffelhuber, L. Rüschendorf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Do 11-13, Raum 232, Eckerstr. 1 (14 tägl.)
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 11-13, SR 404, Eckerstr. 1 (14 tägl.)
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Oberseminar: Angewandte Mathematik
   </td>
   <td>
    G. Dziuk, D. Kröner, M. Růžička
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 14-16, SR 226, Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://www.imbi.uni-freiburg.de/biom/index.php?conID=48">
     Oberseminar: Medizinische Statistik
    </a>
   </td>
   <td>
    M. Schumacher
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 11-13, HS Medizinische Biometrie, Stefan-Meier-Str. 26
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h2>
     9. Arbeitsgemeinschaften
    </h2>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Arbeitsgemeinschaft: Algebra, Algebraische Geometrie und Zahlentheorie
   </td>
   <td rowspan="2">
    A. Huber-Klawitter, S. Kebekus, W. Soergel, U. Derenthal
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 11-13, SR 127, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Arbeitsgemeinschaft: Geometrische Analysis
   </td>
   <td>
    G. Wang
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 16-18, SR 404, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Arbeitsgmeinschaft: Countable Borel Equivalence Relations
   </td>
   <td>
    J. Burdges
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Do 9-11, SR 318, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Arbeitsgemeinschaft: Finite Elemente
   </td>
   <td>
    G. Dziuk
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 11-13, SR 226, Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    H. Fritz
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Arbeitsgemeinschaft: Nicht-Newtonsche Flüssigkeiten
   </td>
   <td>
    M. Růžička
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 16-18, SR 127, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    L. Diening
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h2>
     10. Kolloquien
    </h2>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Anleitung zum selbständigen wissenschaftlichen Arbeiten
   </td>
   <td>
    Alle Dozenten der Mathematik
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    ganztägig - n. V. der Mathematik
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar über Datenanalyse und Modellbildung
   </td>
   <td rowspan="3">
    H. R. Lerche, P. Pfaffelhuber, L. Rüschendorf, M. Schumacher, J. Timmer
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 11-13, SR 404, Eckerstr. 1 (14tägl.)
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    AF
   </td>
   <td>
    Didaktisches Seminar
   </td>
   <td>
    M. Bürker, L. Rüschendorf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 19:30-21:00, HS II, Albertstr. 23 b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    - besondere Ankündigung
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/kebekus/ACG/">
     Internationales Forschungsseminar Algebraische Geometrie (IRMA)
    </a>
   </td>
   <td>
    S. Kebekus
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    (Freiburg -Nancy - Strasbourg)
   </td>
   <td>
    D. Greb
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    - besondere Ankündigung: zwei Termine pro Semester, n. V.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Freiburger Kolloquium des SFB/Transregio 71
    <br/>
    "Geometrische Partielle Differentialgleichungen"
   </td>
   <td>
    Die Dozenten des SFB/Transregio 71
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 16-19, HS II, Albertstr. 23 b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    siehe Ankündigung
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Kolloquium der Mathematik
   </td>
   <td>
    Alle Dozenten
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Do 17:00-18, HS II, Albertstr. 23 b der Mathematik
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    besondere Ankündigung
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
 </table>
</div>
