<div class="container" id="inhalt">
 <h1>
  Lehrveranstaltungen im Sommersemester 2013
 </h1>
 <h3>
  Pflichtveranstaltungen:
 </h3>
 <dl>
  <dt>
   B
  </dt>
  <dd>
   Pflichtveranstaltung im Bachelor-Studiengang Mathematik
  </dd>
  <dt>
   L
  </dt>
  <dd>
   Pflichtveranstaltung im Lehramtstudiengang (nach GymPO I, Studienbeginn ab WS 2010/11)
  </dd>
 </dl>
 <h3>
  Wahlpflichtveranstaltungen:
 </h3>
 <p>
  Bitte achten Sie auf die notwendigen Vorkenntnisse (siehe kommentiertes
  Vorlesungsverzeichnis oder Modulhandbuch). Die Wahlpflichtveranstaltungen des
  Bachelor- und des neuen Lehramtsstudiengangs sind auch für den bisherigen
  Lehramtsstudiengang und mittlere Semester des Diplomstudiengangs geeignet.
 </p>
 <dl>
  <dt>
   W
  </dt>
  <dd>
   geeignet für den Bachelor- und den Lehramtsstudiengang Mathematik (nach GymPO I)
  </dd>
  <dt>
   WB
  </dt>
  <dd>
   geeignet für den Bachelor-Studiengang
  </dd>
  <dt>
   WL
  </dt>
  <dd>
   geeignet für den Lehramtsstudiengang (nach GymPO I)
  </dd>
 </dl>
 <p>
  Wegen der Wahl geeigneter Veranstaltungen für das Master-Studium nehmen Sie
  bitte Kontakt mit der Studienberatung bzw. den Dozenten auf.
 </p>
 <dl>
  <dt>
   HS
  </dt>
  <dd>
   Hörsaal
  </dd>
  <dt>
   SR
  </dt>
  <dd>
   Seminarraum
  </dd>
  <dt>
   AF
  </dt>
  <dd>
   Hörer aller Fakultäten
  </dd>
  <dt>
   PA
  </dt>
  <dd>
   nur nach persönlicher Anmeldung
  </dd>
 </dl>
 <p>
  <em>
   Hinweis:
  </em>
  Ausführliche Informationen (Vorkenntnisse,
  Folgeveranstaltungen, Prüfungen) finden sich in den von   der Fakultät
  herausgegebenen “Kommentaren zu den Lehrveranstaltungen
  Mathematik”. (siehe auch:
  <a href="http://www.math.uni-freiburg.de/lehre/v/">
   http://www.math.uni-freiburg.de/lehre/v/
  </a>
  )
 </p>
 <table class="vlverz">
  <col/>
  <col/>
  <col/>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h2>
     1. Einführende Vorlesungen
    </h2>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    B, L
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/geometrie/lehre/ss2013/vorlesung/linearealgebraII/">
     Lineare Algebra II
    </a>
   </td>
   <td rowspan="2">
    S. Goette
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Vorlesung: Mo, Mi 8–10, HS Rundbau, Albertstr. 21
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu: 2stündig n. V.
   </td>
   <td>
    S. Goette
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    A. Degeratu
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fragestunde LA II, Di 12-14, SR 404
   </td>
   <td>
    A. Degeratu
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    B, L
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvSS2013/VorAna_II/">
     Analysis II
    </a>
   </td>
   <td rowspan="2">
    P. Pfaffelhuber
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Vorlesung: Di, Do 8–10, HS Rundbau, Albertstr. 21
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu: 2stündig n. V.
   </td>
   <td>
    P. Pfaffelhuber
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    P. Graf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Brückenkurs "Lineare Algebra"
   </td>
   <td rowspan="2">
    D. Stich
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    (für Lehramtsstudierende, die im SS 2013 Analysis II besuchen, ohne Lineare Algebra I gehört zu haben):
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    bitte bis 15.3. per e-mail bei Markus Junker melden
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h2>
     2. Kurs- und Spezialvorlesungen
    </h2>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    <a id="vorlesung_stochastik_teil2">
    </a>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    B, L
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvSS2013/VorStoch_II/">
     Stochastik (2. Teil der zweisemestrigen Veranstaltung)
    </a>
   </td>
   <td rowspan="2">
    E. Eberlein
   </td>
  </tr>
  <tr>
   <td>
    9
    <small>
     ECTS
    </small>
    <sup>
     <a href="#ectshalf">
      1
     </a>
    </sup>
   </td>
   <td>
    Vorlesung: Mo 16–18, HS Rundbau, Albertstr. 21
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu: 2stündig (14täglich) n. V.
   </td>
   <td>
    E. Eberlein
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    P. Bäurer
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    <a id="vorlesung_numerik_teil2">
    </a>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    B, L
   </td>
   <td>
    Numerik (2. Teil der zweisemestrigen Veranstaltung)
   </td>
   <td rowspan="2">
    S. Bartels
   </td>
  </tr>
  <tr>
   <td>
    9
    <small>
     ECTS
    </small>
    <sup>
     <a href="#ectshalf">
      1
     </a>
    </sup>
   </td>
   <td>
    Vorlesung: Mi 10–12, HS Weismann-Haus, Albertstr. 21a
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu: 2stündig (14täglich) n. V.
   </td>
   <td>
    S. Bartels
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    J. Daube
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    WB, L
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/mathphys/lehre/SoSe13/funktionentheorie.html">
     Funktionentheorie
    </a>
   </td>
   <td rowspan="2">
    E. Scheidegger
   </td>
  </tr>
  <tr>
   <td>
    9
    <small>
     ECTS
    </small>
   </td>
   <td>
    Vorlesung: Di 14–16, Fr 8–10, HS Rundbau, Albertstr. 21
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu: 2stündig n. V.
   </td>
   <td>
    E. Scheidegger
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    M. Engenhorst
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    W
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/mathphys/lehre/SoSe13/ElDiffg.html">
     Elementare Differentialgeometrie
    </a>
   </td>
   <td rowspan="2">
    K. Wendland
   </td>
  </tr>
  <tr>
   <td>
    9
    <small>
     ECTS
    </small>
   </td>
   <td>
    Vorlesung: Mo 14-16, Mi 8–10, HS II, Albertstr. 23b
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu: 2stündig n. V.
   </td>
   <td>
    K. Wendland
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    E. Scheidegger
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    W
   </td>
   <td>
    Kommutative Algebra und Einführung in die algebraische Geometrie
   </td>
   <td rowspan="2">
    A. Huber-Klawitter
   </td>
  </tr>
  <tr>
   <td>
    9
    <small>
     ECTS
    </small>
   </td>
   <td>
    Vorlesung: Di, Do 8–10, HS II, Albertstr. 23b
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu: 2stündig n. V.
   </td>
   <td>
    A. Huber-Klawitter
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    F. Hörmann
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    W
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/soergel/LieAlgebren.html">
     Lie-Algebren und ihre Darstellungen
    </a>
   </td>
   <td rowspan="2">
    W. Soergel
   </td>
  </tr>
  <tr>
   <td>
    9
    <small>
     ECTS
    </small>
   </td>
   <td>
    Vorlesung: Mo, Mi 8–10, SR 404, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu: 2stündig n. V.
   </td>
   <td>
    W. Soergel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    S. Kitchen
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    W
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/ziegler/veranstaltungen/ss13-logik.html">
     Mathematische Logik
    </a>
   </td>
   <td rowspan="2">
    M. Ziegler
   </td>
  </tr>
  <tr>
   <td>
    9
    <small>
     ECTS
    </small>
   </td>
   <td>
    Vorlesung: Di, Do 12–14, HS II, Albertstr. 23b
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu: 2stündig n. V.
   </td>
   <td>
    M. Ziegler
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    L. Motto Ros
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    WB
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/mattusch/funkana.html">
     Funktionalanalysis
    </a>
   </td>
   <td rowspan="2">
    G. Wang
   </td>
  </tr>
  <tr>
   <td>
    9
    <small>
     ECTS
    </small>
   </td>
   <td>
    Vorlesung: Mo, Mi 12–14, HS II, Albertstr. 23b
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu: 2stündig n. V.
   </td>
   <td>
    G. Wang
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    M. Mattuschka
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    WB
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/mildenberger/veranstaltungen/ss13/unabhaengigkeitsbeweise.html">
     Mengenlehre: Unabhängigkeitsbeweise
    </a>
   </td>
   <td rowspan="2">
    H. Mildenberger
   </td>
  </tr>
  <tr>
   <td>
    9
    <small>
     ECTS
    </small>
   </td>
   <td>
    Vorlesung: Di, SR 125, Do 10–12, SR 404, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu: 2stündig n. V.
   </td>
   <td>
    H. Mildenberger
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    J. Serbus
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/geometrie/lehre/ss2013/vorlesung/DifferentialgeometrieII/">
     Differentialgeometrie II
    </a>
   </td>
   <td rowspan="2">
    V. Bangert
   </td>
  </tr>
  <tr>
   <td>
    9
    <small>
     ECTS
    </small>
   </td>
   <td>
    Vorlesung: Di, Do 10–12, HS II, Albertstr. 23b
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu: 2stündig n. V.
   </td>
   <td>
    V. Bangert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    N. Röttgen
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/ziegler/veranstaltungen/ss13-modell2.html">
     Modelltheorie II
    </a>
   </td>
   <td rowspan="2">
    M. Ziegler
   </td>
  </tr>
  <tr>
   <td>
    9
    <small>
     ECTS
    </small>
   </td>
   <td>
    Vorlesung: Di 16–18, Do 14–16, HS II, Albertstr. 23b
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu: 2stündig n. V.
   </td>
   <td>
    M. Ziegler
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    J. D. Caycedo
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    <a href="https://portal.uni-freiburg.de/aam/abtlg/wissmit/agkr/schumacher/TN2">
     Theorie und Numerik partieller Differentialgleichungen II
    </a>
   </td>
   <td rowspan="2">
    D. Kröner
   </td>
  </tr>
  <tr>
   <td>
    9
    <small>
     ECTS
    </small>
   </td>
   <td>
    Vorlesung: Mo, Mi 10–12, HS II, Albertstr. 23b
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu – 2stündig n. V.
   </td>
   <td>
    D. Kröner
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    A. Schumacher
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Stochastische Integration und Finanzmathematik
   </td>
   <td rowspan="2">
    L. Rüschendorf
   </td>
  </tr>
  <tr>
   <td>
    9
    <small>
     ECTS
    </small>
   </td>
   <td>
    Vorlesung: Mo, Mi 14–16, HS Weismann-Haus, Albertstr. 21a
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu: 2stündig n. V.
   </td>
   <td>
    L. Rüschendorf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    J. Kühn
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h2>
     Zweistündige Vorlesungen
    </h2>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    WB
   </td>
   <td>
    Minimalflächen
   </td>
   <td rowspan="2">
    E. Kuwert
   </td>
  </tr>
  <tr>
   <td>
    6
    <small>
     ECTS
    </small>
   </td>
   <td>
    Vorlesung: Fr 10–12, HS II, Albertstr. 23b
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu: 2stündig n. V.
   </td>
   <td>
    E. Kuwert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    E. Mäder
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    WB, L
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/mathphys/lehre/SoSe13/elementar.html">
     Elementargeometrie
    </a>
   </td>
   <td rowspan="2">
    O. Fabert
   </td>
  </tr>
  <tr>
   <td>
    4
    <small>
     ECTS
    </small>
   </td>
   <td>
    Vorlesung: Fr 10–12, HS Weismann-Haus, Albertstr. 21a
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu: 1stündig n. V.
   </td>
   <td>
    O. Fabert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    A. Koenen
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    WB
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/magni/Geommass/geommass.html">
     Einführung in die Geometrische Maßtheorie und Minimalflächen
    </a>
   </td>
   <td rowspan="2">
    A. Magni
   </td>
  </tr>
  <tr>
   <td>
    6
    <small>
     ECTS
    </small>
   </td>
   <td>
    Vorlesung: Di  8–10, SR 404, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu: 2stündig n. V.
   </td>
   <td>
    A. Magni
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    A. Magni
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    WB
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvSS2013/VorMarkov/">
     Markovketten
    </a>
   </td>
   <td rowspan="2">
    A. Depperschmidt
   </td>
  </tr>
  <tr>
   <td>
    6
    <small>
     ECTS
    </small>
   </td>
   <td>
    Mi 16–18, SR 125, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu: 2stündig n. V.
   </td>
   <td>
    A. Depperschmidt
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    WB
   </td>
   <td>
    Descriptive Set Theory
   </td>
   <td rowspan="2">
    L. Motto Ros
   </td>
  </tr>
  <tr>
   <td>
    6
    <small>
     ECTS
    </small>
   </td>
   <td>
    Vorlesung: Mi 14-16, HS II, Albertstr. 23b
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu: 2 stündig n. V.
   </td>
   <td>
    L. Motto Ros
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    G. Laguzzi
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    W
   </td>
   <td>
    <a href="https://aam.uni-freiburg.de/abtlg/ls/lsbartels/lehre/dgln2013">
     Numerik für Differentialgleichungen
    </a>
   </td>
   <td rowspan="2">
    S. Bartels
   </td>
  </tr>
  <tr>
   <td>
    5
    <small>
     ECTS
    </small>
   </td>
   <td>
    Vorlesung: Mo 10–12, HS Weismann-Haus, Albertstr. 21a
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu: 2stündig (14täglich) n. V.
   </td>
   <td>
    S. Bartels
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    H. Fritz
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    WB
   </td>
   <td>
    Gruppenoperationen auf algebraischen Varietäten
   </td>
   <td rowspan="2">
    A. Küronya
   </td>
  </tr>
  <tr>
   <td>
    3
    <small>
     ECTS
    </small>
   </td>
   <td>
    Vorlesung: Fr 8–10, SR 404, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    WB
   </td>
   <td>
    Modelltheorie und Anwendungen
   </td>
   <td rowspan="2">
    J.D. Caycedo
   </td>
  </tr>
  <tr>
   <td>
    3
    <small>
     ECTS
    </small>
   </td>
   <td>
    Vorlesung: Mi 8–10, SR 318, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    WB
   </td>
   <td>
    Einführung in die Theorie der Homogenisierung
   </td>
   <td rowspan="2">
    P. Weidemaier
   </td>
  </tr>
  <tr>
   <td>
    3
    <small>
     ECTS
    </small>
   </td>
   <td>
    Vorlesung: Di 14-16, HS II, Albertstr. 23 b
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    ggf. mit Übungen, dann 6 ECTS-Punkte
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Kurs: Projektmanagement
   </td>
   <td rowspan="2">
    B. Maier
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 17-19, HS II, Albertstr. 23b
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h2>
     3. Lehrexportveranstaltungen
    </h2>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/mramor/webpage-m2i13.html">
     Mathematik II für Studierende der Informatik (ehemals DAS)
    </a>
   </td>
   <td rowspan="2">
    M. Junker
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Vorlesung: Mo, Mi 10–12, HS 00-026, Geb. 101, Georges-Köhler-Allee
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu: 2stündig n. V.
   </td>
   <td>
    M. Junker
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    N. N.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mathematik II für Studierende des Ingenieurwesens
   </td>
   <td rowspan="2">
    E. Kuwert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Vorlesung: Mo, Mi 12–14, HS Rundbau, Albertstr. 21
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu: 2stündig n. V.
   </td>
   <td>
    E. Kuwert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    R. Alessandroni
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mathematik II für Studierende der Naturwissenschaften
   </td>
   <td rowspan="2">
    S. Knies
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Vorlesung: Di, Do 12:00–14, HS Rundbau, Albertstr. 21
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu: 2stündig n. V.
   </td>
   <td>
    S. Knies
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    P. Nägele
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Stochastik für Studierende der Informatik
   </td>
   <td rowspan="2">
    P. Pfaffelhuber
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Vorlesung: Mo 10–12, HS 00-036, Geb. 101, Georges-Köhler-Allee
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu: 2stündig n. V.
   </td>
   <td>
    P. Pfaffelhuber
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    S. Bossert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    B
   </td>
   <td>
    Grundlagen der Programmiersprache C für Studierende der Naturwissenschaften
   </td>
   <td rowspan="2">
    Ch. Gersbacher
   </td>
  </tr>
  <tr>
   <td>
    4
    <small>
     ECTS
    </small>
   </td>
   <td>
    Mo 16–18, HS Weismann-Haus, Albertstr. 21a
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    übungen dazu: 2stündig n. V.
   </td>
   <td>
    Ch. Gersbacher
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    (Dieses Praktikum zählt als Programmierpraktikum im BSc Mathematik. Die Belegung erfolgt über das ZfS. Bitte beachten Sie die Beleginformationen und die Belegfristen auf
    <a href="http://www.zfs.uni-freiburg.de">
     www.zfs.uni-freiburg.de
    </a>
    )
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h2>
     4. Begleitveranstaltungen
    </h2>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Lernen durch Lehren
   </td>
   <td rowspan="2">
    Alle Dozenten der Mathematik
   </td>
  </tr>
  <tr>
   <td>
    3
    <small>
     ECTS
    </small>
   </td>
   <td>
    Termin der Einführung wird noch bekannt gegeben
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h2>
     5. Fachdidaktik
    </h2>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    L
   </td>
   <td>
    Didaktik der Geometrie und Stochastik
   </td>
   <td rowspan="2">
    M. Kramer
   </td>
  </tr>
  <tr>
   <td>
    3
    <small>
     ECTS
    </small>
   </td>
   <td>
    2stündig, zur Wahl: Mo 14–16, Di 14–16, Mi 12–14, SR 404, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu: Alle Übungen finden kompakt in drei Treffen statt. Alle Termine sind Di 16:30 – 19:15 Uhr, SR 127, Eckerstr. 1
   </td>
   <td>
    M. Kramer
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    WL,PA
   </td>
   <td>
    Seminar: Mathe-Sommer-Camp
   </td>
   <td rowspan="2">
    M. Kramer
   </td>
  </tr>
  <tr>
   <td>
    4
    <small>
     ECTS
    </small>
   </td>
   <td>
    Termine: Di 04.06.2013; 18.06.2013; 02.07.2013; jeweils 10-13, SR 127, Eckerstr. 1
    <br/>
    1. Vorbereitungsblock (außerhalb): 7-9.06.2013
    <br/>
    2. Vorbereitungsblock (Ort noch unklar): 15-17.08.2013
    <br/>
    Sommer-Camp (Durchführung des Projektes): 17.-23.08.2013
    <br/>
    Nachtreffen Di 24.09.2013
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    WL,PA
   </td>
   <td>
    Seminar: Digitale Mathematikwerkzeuge im Unterricht
   </td>
   <td rowspan="2">
    C. Baur
   </td>
  </tr>
  <tr>
   <td>
    4
    <small>
     ECTS
    </small>
   </td>
   <td>
    Do 15-16, SR 125, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu: Do 16-18, Raum 131 (Didaktik), Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    WL,PA
   </td>
   <td>
    Seminar: Didaktik der Wahrscheinlichkeitsrechnung
   </td>
   <td rowspan="2">
    O. Müller
   </td>
  </tr>
  <tr>
   <td>
    4
    <small>
     ECTS
    </small>
   </td>
   <td>
    Do 16-19 Uhr, SR 318, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h2>
     6. Praktische Übungen
    </h2>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    <a id="vorlesung_numerik_teil2_praktikum">
    </a>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    B, WL
   </td>
   <td>
    Praktische Übung zu „Numerik“ (2. Teil der zweisemestrigen Veranstaltung)
   </td>
   <td rowspan="2">
    S. Bartels
   </td>
  </tr>
  <tr>
   <td>
    3
    <small>
     ECTS
    </small>
    <sup>
     <a href="#ectshalf">
      1
     </a>
    </sup>
   </td>
   <td>
    2stündig (14täglich), Mi-14-16, 16-18, Do 8-10, Fr 10-12, CIP-Pool Raum 201, Hermann-Herder-Str. 10
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    A. Schumacher
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    <a id="vorlesung_stochastik_teil2_praktikum">
    </a>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    B, WL
   </td>
   <td>
    Praktische Übung zu „Stochastik“
   </td>
   <td rowspan="2">
    E. Eberlein
   </td>
  </tr>
  <tr>
   <td>
    3
    <small>
     ECTS
    </small>
    <sup>
     <a href="#ectshalf">
      1
     </a>
    </sup>
   </td>
   <td>
    2stündig zur Wahl: Do 14–16, Fr 14–16, HS Weismann-Haus, Albertstr. 21a
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    P. Bäurer/S. Kiesel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    W
   </td>
   <td>
    Praktische Übung zu “Theorie und Numerik partieller Differentialgleichungen II”
   </td>
   <td rowspan="2">
    D. Kröner
   </td>
  </tr>
  <tr>
   <td>
    3
    <small>
     ECTS
    </small>
   </td>
   <td>
    Mo 16–18, CIP-Pool Raum 201, Hermann-Herder-Str. 10
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    M. Nolte
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h2>
     7. Proseminare
    </h2>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    Hinweis: Die Anmeldung zu den Proseminaren erfolgt in der Regel am Ende der Vorlesungszeit des Wintersemesters. Bitte beachten Sie die in den Kommentaren veröffentlichten Anmeldemodalitäten.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Proseminar: Graphentheorie
   </td>
   <td rowspan="2">
    A. Huber-Klawitter
   </td>
  </tr>
  <tr>
   <td>
    3
    <small>
     ECTS
    </small>
   </td>
   <td>
    Di 10–12, SR 404, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    F. Hörmann
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Proseminar: Numerik
   </td>
   <td rowspan="2">
    S. Bartels
   </td>
  </tr>
  <tr>
   <td>
    3
    <small>
     ECTS
    </small>
   </td>
   <td>
    Mi 14–16 Uhr, SR 127 Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    P. Schreier
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Proseminar: Knotentheorie
   </td>
   <td rowspan="2">
    K. Wendland
   </td>
  </tr>
  <tr>
   <td>
    3
    <small>
     ECTS
    </small>
   </td>
   <td>
    Di 16–18, SR 125, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    O. Fabert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Proseminar:
    <a href="http://home.mathematik.uni-freiburg.de/zchen/EindimVari/EindimVar.html">
     Eindimensionale Variationsrechnung
    </a>
   </td>
   <td rowspan="2">
    G. Wang
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 14–16, SR 125, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    Z. Chen
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Proseminar: Analysis
   </td>
   <td rowspan="2">
    D. Wolke
   </td>
  </tr>
  <tr>
   <td>
    3
    <small>
     ECTS
    </small>
   </td>
   <td>
    Mi 14–16, SR 218, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    D. Wolke
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h2>
     8. Seminare
    </h2>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    Hinweis: Die Anmeldung zu den Seminaren erfolgt in der Regel am Ende der Vorlesungszeit des Wintersemesters. Bitte beachten Sie die in den Kommentaren veröffentlichten Anmeldemodalitäten.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar:
    <a href="http://home.mathematik.uni-freiburg.de/geometrie/seminar/index.de.html">
     Differentialgeometrie
    </a>
   </td>
   <td rowspan="2">
    V. Bangert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 14–16, SR 404, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    J. Frank
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Stochastik
   </td>
   <td rowspan="2">
    E. Eberlein, H.R. Lerche, P. Pfaffelhuber, R. Rüschendorf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    zwei Termine: Di 16–18, SR 119, Mi 16–18, SR 127, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    S. Kiesel / M. Rudmann
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar:
    <a href="http://home.mathematik.uni-freiburg.de/geometrie/konrad/seminarhot/">
     Homotopietheorie
    </a>
   </td>
   <td rowspan="2">
    S. Goette
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 14–16, SR 125, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    K. Voelkel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Nichtlineare partielle Differentialgleichungen
   </td>
   <td rowspan="2">
    D. Kröner
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 14–16, SR 226, Hermann-Herder-Str. 10
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    J. Daube
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Fixpunktsätze und Strömungsdynamik
   </td>
   <td rowspan="2">
    M. Růžička
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 14-16, SR 127, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    S. Eckstein
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar:
    <a href="http://home.mathematik.uni-freiburg.de/mildenberger/veranstaltungen/ss13/kardinalzahlinvarianten.html">
     Mengenlehre: Kardinalzahlinvarianten
    </a>
   </td>
   <td rowspan="2">
    H. Mildenberger
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 10-12, HS 01020b, Hermann-Herder-Str. 9
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    G. Laguzzi
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Mathematische Risikoanalyse
   </td>
   <td rowspan="2">
    L. Rüschendorf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 14–16, SR 125, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    V. Wolf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Darstellungstheorie
   </td>
   <td rowspan="2">
    W. Soergel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 10–12, SR 125, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    S. Kitchen
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Nichtstandard Analysis
   </td>
   <td rowspan="2">
    H. Weisshaupt
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Blockseminar, Termin nach Absprache
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Statistische Modelle in der klinischen Epidemiologie
   </td>
   <td rowspan="2">
    M. Schumacher
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 10:00–11:30, HS Medizinische Biometrie, Stefan-Meier-Str. 26
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    N. N.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h2>
     9. Oberseminare
    </h2>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Oberseminar: Algebra, Zahlentheorie und algebraische Geometrie
   </td>
   <td rowspan="2">
    A. Huber-Klawitter, W. Soergel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 10:00–11:00, SR 404, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Oberseminar: Angewandte Mathematik
   </td>
   <td rowspan="2">
    S. Bartels, D. Kröner, M. Růžička
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 14–16, SR 226, Hermann-Herder-Str. 10
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Oberseminar: Differentialgeometrie
   </td>
   <td rowspan="2">
    V. Bangert, S. Goette, K. Wendland
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 16–18, SR 404, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Oberseminar:
    <a href="http://logik.mathematik.uni-freiburg.de/vorlesungen/ss13/oberseminar-ss13.html">
     Mathematische Logik
    </a>
   </td>
   <td rowspan="2">
    H. Mildenberger, M. Ziegler
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 16–18, SR 404, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Oberseminar: Stochastik
   </td>
   <td rowspan="2">
    E. Eberlein, P. Pfaffelhuber, L. Rüschendorf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 11–13, Raum 232, Eckerstr. 1, (14täglich)
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Oberseminar: Medizinische Statistik
   </td>
   <td rowspan="2">
    M. Schumacher
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 11:30–13:00, HS Medizinische Biometrie, Stefan-Meier-Str. 26
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h2>
     10. Projektseminare
    </h2>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Projektseminar: Numerik partieller Differentialgleichungen
   </td>
   <td rowspan="2">
    S. Bartels
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 14-16, Raum 112, Hermann-Herder-Str. 10 (Rechenzentrum)
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    A. Papathanassopoulus  / P. Schreier
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Projektseminar: Seminar des Graduiertenkollegs 1821
   </td>
   <td rowspan="2">
    S. Goette, A. Huber-Klawitter, E. Scheidegger, M. Wendt, W. Soergel, K. Wendland
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 14–16, SR 404, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Projektseminar: Geometrische Analysis
   </td>
   <td rowspan="2">
    E. Kuwert, G. Wang
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 16–18, SR 404, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    R. Alessandroni
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Projektseminar: Numerik
   </td>
   <td rowspan="2">
    D. Kröner
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 16–18, SR 226, Hermann-Herder-Str. 10
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    M. Nolte
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Projektseminar: Stochastik und Biologie
   </td>
   <td rowspan="2">
    P. Pfaffelhuber
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    n. V., Raum 232, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Projektseminar: Nicht-Newtonsche Flüssigkeiten
   </td>
   <td rowspan="2">
    M. Růžička
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 10–12, SR 127, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    P. Nägele
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h2>
     11. Kolloquien und weitere Veranstaltungen
    </h2>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar über Datenanalyse und Modellbildung
   </td>
   <td rowspan="2">
    E. Eberlein, P. Pfaffelhuber, L. Rüschendorf, M. Schumacher, J. Timmer
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 11:30–13, SR 404, Eckerstr. 1 (14täglich)
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    – besondere Ankündigung –
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    AF
   </td>
   <td>
    Didaktisches Seminar
   </td>
   <td rowspan="2">
    M. Kramer, W. Soergel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 19:30–21:00, HS II, Albertstr. 23b
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    – besondere Ankündigung –
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/didaktik/">
     http://home.mathematik.uni-freiburg.de/didaktik/
    </a>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Internationales Forschungsseminar Algebraische Geometrie (IRMA) (Freiburg – Nancy – Strasbourg)
   </td>
   <td rowspan="2">
    S. Kebekus, D. Greb
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    - besondere Ankündigung: zwei Termine pro Semester, n. V. –
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    - siehe auch:
    <a href="http://home.mathematik.uni-freiburg.de/kebekus/ACG/">
     http://home.mathematik.uni-freiburg.de/kebekus/ACG/
    </a>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mathematisch-Physikalisches Kolloquium
   </td>
   <td rowspan="2">
    H. Breuer, A. Buchleitner, S. Goette, M. Růžička, W. Soergel, K. Wendland
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 14–17 – monatlich nach Vereinbarung
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Kolloquium der Mathematik
   </td>
   <td rowspan="2">
    Alle Dozenten der Mathematik
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Do 17:00–18, HS II, Albertstr. 23b
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    – besondere Ankündigung –
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    (siehe auch:
    <a href="http://home.mathematik.uni-freiburg.de/kolloquium/">
     http://home.mathematik.uni-freiburg.de/kolloquium/
    </a>
    )
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
 </table>
 <hr/>
 <p style="float: right">
  <b>
   Impressum
  </b>
  <br/>
  Herausgeber:
  <br/>
  Mathematisches Institut
  <br/>
  Eckerstr. 1
  <br/>
  79104 Freiburg
  <br/>
  Tel. 0761-203-5534
  <br/>
  Email:
  <a href="mailto:institut@math.uni-freiburg.de">
   institut@math.uni-freiburg.de
  </a>
 </p>
 <p id="ectshalf">
  (
  <sup>
   <a href="#vorlesung_numerik_teil2">
    i
   </a>
  </sup>
  ,
  <sup>
   <a href="#vorlesung_stochastik_teil2">
    ii
   </a>
  </sup>
  ,
  <sup>
   <a href="#vorlesung_numerik_teil2_praktikum">
    iii
   </a>
  </sup>
  ,
  <sup>
   <a href="#vorlesung_stochastik_teil2_praktikum">
    iv
   </a>
  </sup>
  )
  Die ECTS-Punktzahl gilt für beide Semester
 </p>
 <div style="clear: both">
 </div>
</div>
