<div class="container" id="inhalt">
 <h1>
  Lehrveranstaltungen im Sommersemester 2016
 </h1>
 <div>
  <h2>
   Erläuterungen
  </h2>
  <h3>
   Pflichtveranstaltungen:
  </h3>
  <dl>
   <dt>
    B
   </dt>
   <dd>
    Pflichtveranstaltung im BSc
   </dd>
   <dt>
    L
   </dt>
   <dd>
    Pflichtveranstaltung im Lehramt
   </dd>
   <dt>
    L*
   </dt>
   <dd>
    abweichende Regelung für Beifach und/oder in der Kombination mit Bildender Kunst/Musik
   </dd>
   <dt>
    Z
   </dt>
   <dd>
    Pflichtveranstaltung im 2-HF-Bachelor
   </dd>
  </dl>
  <h3>
   Wahlpflichtveranstaltungen:
  </h3>
  <dl>
   <dt>
    V
   </dt>
   <dd>
    geeignet für das Modul “Mathematische Vertiefung” im Lehramt
   </dd>
   <dt>
    V*
   </dt>
   <dd>
    abweichende Regelung für Beifach und/oder in der Kombination mit Kunst/Musik
   </dd>
   <dt>
    W
   </dt>
   <dd>
    geeignet für BSc; im MSc nur eingeschränkt verwendbar (“Kategorie II”)
   </dd>
   <dt>
    W/M
   </dt>
   <dd>
    geeignet für BSc und MSc (“Kategorie III”)
   </dd>
   <dt>
    M
   </dt>
   <dd>
    geeignet für MSc (“Kategorie III”)
   </dd>
   <dt>
    X
   </dt>
   <dd>
    geeignet als Wahlpflichtveranstaltung im 2-HF-B
   </dd>
  </dl>
  <p>
   Die angegebenen ECTS-Punkte gelten für die Verwendung von Veranstaltungen im
Wahlpflicht- oder Wahlbereich des jeweiligen Studiengangs. Die ECTS-Punktzahl
von Pflichtveranstaltungen ist in der Prüfungsordnung festgeschrieben.
  </p>
  <dl>
   <dt>
    HS
   </dt>
   <dd>
    Hörsaal
   </dd>
   <dt>
    SR
   </dt>
   <dd>
    Seminarraum
   </dd>
   <dt>
    AF
   </dt>
   <dd>
    Hörer aller Fakultäten
   </dd>
   <dt>
    PA
   </dt>
   <dd>
    nur nach persönlicher Anmeldung
   </dd>
  </dl>
  <p>
   <b>
    Hinweis:
   </b>
   Ausführliche Informationen (Vorkenntnisse,
Folgeveranstaltungen, Prüfungen) finden sich in den von der Fakultät
herausgegebenen “Kommentaren zu den Lehrveranstaltungen
Mathematik”. (siehe auch:
   <a href="http://www.math.uni-freiburg.de/lehre/v/">
    http://www.math.uni-freiburg.de/lehre/v/
   </a>
   )
  </p>
  <table class="vlverz">
   <col/>
   <col/>
   <col/>
   <tr>
    <td colspan="3">
     <h2>
      1. Vorlesungen
     </h2>
    </td>
   </tr>
   <tr>
    <td colspan="3">
     <h3>
      1a. Einführende Vorlesungen
     </h3>
    </td>
   </tr>
   <tbody class="course_snip" id="5_LA2">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       B, L, Z
      </div>
     </td>
     <td>
      <a href="http://home.mathematik.uni-freiburg.de/mathphys/lehre/SoSe16/LAII.html">
       Lineare Algebra II
      </a>
     </td>
     <td rowspan="2">
      K. Wendland
     </td>
    </tr>
    <tr>
     <td>
      Vorlesung: Di, Mi 8-10, HS Rundbau, Albertstr. 21
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Übungen dazu: 2-stündig n.V.
     </td>
     <td>
      K. Wendland
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Tutorium dazu
     </td>
     <td>
      M. Gerhards
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Fragestunde:  Di 14-16, SR 403, Eckerstr. 1
     </td>
     <td>
      A. Degeratu
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="5_Ana2">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       B, L, Z
      </div>
     </td>
     <td>
      <a href="http://home.mathematik.uni-freiburg.de/analysis/Analysis2SS16/">
       Analysis II
      </a>
     </td>
     <td rowspan="2">
      E. Kuwert
     </td>
    </tr>
    <tr>
     <td>
      Vorlesung: Mo, Do 8-10, HS Rundbau, Albertstr. 21
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Übungen dazu: 2-stündig n.V.
     </td>
     <td>
      E. Kuwert
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Tutorium dazu
     </td>
     <td>
      J. Scheuer
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="5_3">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
      </div>
     </td>
     <td>
      <a href="http://home.mathematik.uni-freiburg.de/gerhards/BrKurs/index.html">
       Brückenkurs "Lineare Algebra"
      </a>
     </td>
     <td>
      M. Gerhards
     </td>
    </tr>
    <tr>
     <td>
      Tutorium dazu
     </td>
     <td>
      M. Gerhards
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td colspan="2">
      <i>
       Für die Studienplanvariante 3 des 2-Hauptfächer-Bachelors bzw. des Lehramtsstudiums nach GymPO.
      </i>
      <br/>
      <i>
       Zeit und Ort in Absprache mit dem Dozenten; dazu die Veranstaltung über HISinOne belegen!
      </i>
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tr>
    <td colspan="3">
     <h3>
      1b. Pflichtveranstaltungen
     </h3>
    </td>
   </tr>
   <tbody class="course_snip" id="6_Num">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       B, L*, Z
      </div>
     </td>
     <td>
      <a href="http://aam.uni-freiburg.de/agba/lehre/ss16/Num2.html">
       Numerik
      </a>
     </td>
     <td rowspan="2">
      S. Bartels
     </td>
    </tr>
    <tr>
     <td>
      Vorlesung: Mi 14-16, HS Weismann-Haus, Albertstr. 21a
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Übungen dazu: 2-stündig (14-täglich) n.V.
     </td>
     <td>
      S. Bartels
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Tutorium dazu
     </td>
     <td>
      A. Papathanassopoulos
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td colspan="2">
      <i>
       2. Teil der zweisemestrigen Veranstaltung
      </i>
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="6_Sto">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       B, L*, Z
      </div>
     </td>
     <td>
      <a href="http://www.stochastik.uni-freiburg.de/lehre/SS-2016/VorStochSS2016">
       Stochastik
      </a>
     </td>
     <td rowspan="2">
      A. Depperschmidt
     </td>
    </tr>
    <tr>
     <td>
      Vorlesung: Di 14-16, HS Rundbau, Albertstr. 21
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Übungen dazu: 2-stündig (14-täglich) n.V.
     </td>
     <td>
      A. Depperschmidt
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Tutorium dazu
     </td>
     <td>
      F. Hermann
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td colspan="2">
      <i>
       2. Teil der zweisemestrigen Veranstaltung
      </i>
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="6_ElGeo">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       L, W, Z
      </div>
      4
      <small>
       ECTS
      </small>
     </td>
     <td>
      <a href="http://home.mathematik.uni-freiburg.de/ngrosse/teaching/ElemGeo.html">
       Elementargeometrie
      </a>
     </td>
     <td rowspan="2">
      N. Große
     </td>
    </tr>
    <tr>
     <td>
      Vorlesung: Fr 10-12, HS Weismann-Haus, Albertstr. 21a
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Übungen dazu: 2-stündig (14-täglich) n.V.
     </td>
     <td>
      N. Große
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Tutorium dazu
     </td>
     <td>
      Y. Wang
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="6_FT">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       L, W
      </div>
      9
      <small>
       ECTS
      </small>
     </td>
     <td>
      <a href="http://home.mathematik.uni-freiburg.de/arithgeom/lehre/ss16/ftheorie/ftheorie16.htm">
       Funktionentheorie
      </a>
     </td>
     <td rowspan="2">
      A. Huber-Klawitter
     </td>
    </tr>
    <tr>
     <td>
      Vorlesung: Mo, Mi 10-12, HS Weismann-Haus, Albertstr. 21a
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Übungen dazu: 2-stündig n.V.
     </td>
     <td>
      A. Huber-Klawitter
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Tutorium dazu
     </td>
     <td>
      O. Bräunling
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tr>
    <td colspan="3">
     <h3>
      1c. vierstündige Kurs- und Spezialvorlesungen
     </h3>
    </td>
   </tr>
   <tbody class="course_snip" id="7_Top">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       V, W
      </div>
      9
      <small>
       ECTS
      </small>
     </td>
     <td>
      <a href="http://home.mathematik.uni-freiburg.de/geometrie/lehre/ss2016/vorlesung/Topologie/index.html">
       Topologie
      </a>
     </td>
     <td rowspan="2">
      V. Bangert
     </td>
    </tr>
    <tr>
     <td>
      Vorlesung: Di, Do 12-14, HS Weismann-Haus, Albertstr. 21a
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Übungen dazu: 2-stündig n.V.
     </td>
     <td>
      V. Bangert
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Tutorium dazu
     </td>
     <td>
      B. Mramor
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="7_kommA">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       V, W/M
      </div>
      9
      <small>
       ECTS
      </small>
     </td>
     <td>
      <a href="https://cplx.vm.uni-freiburg.de/de/ss-16-vorlesung-kommutative-algebra/">
       Kommutative Algebra und Einführung in die algebraische Geometrie
      </a>
     </td>
     <td rowspan="2">
      S. Kebekus
     </td>
    </tr>
    <tr>
     <td>
      Vorlesung: Mi, Fr 8-10, HS II, Albertstr. 23b
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Übungen dazu: 2-stündig n.V.
     </td>
     <td>
      S. Kebekus
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Zusatzübungen dazu
     </td>
     <td>
      B. Taji
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Tutorium dazu
     </td>
     <td>
      H. Bergner
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="7_Logik">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       V, W/M
      </div>
      9
      <small>
       ECTS
      </small>
     </td>
     <td>
      <a href="http://home.mathematik.uni-freiburg.de/mildenberger/veranstaltungen/ss16/MathLogik.html">
       Mathematische Logik
      </a>
     </td>
     <td rowspan="2">
      H. Mildenberger
     </td>
    </tr>
    <tr>
     <td>
      Vorlesung: Di, Do 10-12, HS Weismann-Haus, Albertstr. 21a
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Übungen dazu: 2-stündig n.V.
     </td>
     <td>
      H. Mildenberger
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Tutorium dazu
     </td>
     <td>
      F. Guichardaz
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="7_FA">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       W
      </div>
      9
      <small>
       ECTS
      </small>
     </td>
     <td>
      <a href="http://aam.uni-freiburg.de/abtlg/ls/lsdo/lv/fa_ss16">
       Funktionalanalysis
      </a>
     </td>
     <td rowspan="2">
      P. Dondl
     </td>
    </tr>
    <tr>
     <td>
      Vorlesung: Mo, Mi 12-14, HS Weismann-Haus, Albertstr. 21a
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Übungen dazu: 2-stündig n.V.
     </td>
     <td>
      P. Dondl
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Tutorium dazu
     </td>
     <td>
      K. Anguige
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Zusatztutorium dazu
     </td>
     <td>
      K. Anguige
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="7_74">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       W/M
      </div>
      9
      <small>
       ECTS
      </small>
     </td>
     <td>
      <a href="http://home.mathematik.uni-freiburg.de/analysis/PDESS16/Partielle%20Differentialgleichungen%20im%20SS_2016,%20Mathematisches%20Institut,%20Freiburg%20im%20Breisgau.html">
       Partielle Differentialgleichungen
      </a>
     </td>
     <td rowspan="2">
      G. Wang
     </td>
    </tr>
    <tr>
     <td>
      Vorlesung: Mo, Mi 14-16, HS II, Albertstr. 23b
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Übungen dazu: 2-stündig n.V.
     </td>
     <td>
      G. Wang
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Tutorium dazu
     </td>
     <td>
      Z. Sun
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="7_algZT">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       M
      </div>
      9
      <small>
       ECTS
      </small>
     </td>
     <td>
      <a href="http://home.mathematik.uni-freiburg.de/arithgeom/lehre/ss16/algzt.html">
       Algebraische Zahlentheorie
      </a>
     </td>
     <td rowspan="2">
      F. Hörmann
     </td>
    </tr>
    <tr>
     <td>
      Vorlesung: Di, Do 14-16, HS II, Albertstr. 23b
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Übungen dazu: 2-stündig n.V.
     </td>
     <td>
      F. Hörmann
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Tutorium dazu
     </td>
     <td>
      K. Voelkel
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="7_98">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       M
      </div>
      9
      <small>
       ECTS
      </small>
     </td>
     <td>
      Ausgewählte Gegenstände der Darstellungstheorie
     </td>
     <td rowspan="2">
      W. Soergel
     </td>
    </tr>
    <tr>
     <td>
      Vorlesung: Di, Do 8-10, SR 404, Eckerstr. 1
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Übungen dazu: 2-stündig n.V.
     </td>
     <td>
      W. Soergel
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Tutorium dazu
     </td>
     <td>
      A. Sartori
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td colspan="2">
      Am 2.6.2016 findet die Vorlesung im SR 125 statt.
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="7_12">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       M
      </div>
      9
      <small>
       ECTS
      </small>
     </td>
     <td>
      Ausgewählte Gegenstände der Modelltheorie
     </td>
     <td rowspan="2">
      M. Ziegler
     </td>
    </tr>
    <tr>
     <td>
      Vorlesung: Di, Mi 12-14, SR 404, Eckerstr. 1
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Übungen dazu: 2-stündig n.V.
     </td>
     <td>
      M. Ziegler
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Tutorium dazu
     </td>
     <td>
      J. D. Caycedo
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="7_14">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       M
      </div>
      9
      <small>
       ECTS
      </small>
     </td>
     <td>
      <a href="http://www.stochastik.uni-freiburg.de/lehre/SS-2016/VorStochIntFinSS2016">
       Stochastische Integration und Finanzmathematik
      </a>
     </td>
     <td rowspan="2">
      T. Schmidt
     </td>
    </tr>
    <tr>
     <td>
      Vorlesung: Di, Mi 10-12, HS II, Albertstr. 23b
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Übungen dazu: 2-stündig n.V.
     </td>
     <td>
      T. Schmidt
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Tutorium dazu
     </td>
     <td>
      W. Khosrawi
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tr>
    <td colspan="3">
     <h3>
      1d. zweistündige Kurs- und Spezialvorlesungen
     </h3>
    </td>
   </tr>
   <tbody class="course_snip" id="8_96">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       W/M
      </div>
      6
      <small>
       ECTS
      </small>
     </td>
     <td>
      <a href="http://aam.uni-freiburg.de/lehre/ss16/modellierung">
       Modellierung
      </a>
     </td>
     <td rowspan="2">
      M. Růžička
     </td>
    </tr>
    <tr>
     <td>
      Vorlesung: Do 10-12, SR 404, Eckerstr. 1
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Übungen dazu: 2-stündig n.V.
     </td>
     <td>
      M. Růžička
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Tutorium dazu
     </td>
     <td>
      H. Eberlein
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Zusatztutorium dazu
     </td>
     <td>
      A. Korsch
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td colspan="2">
      Am 2.6.2016 findet die Vorlesung im HS II statt.
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="8_110">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       W/M
      </div>
      6
      <small>
       ECTS
      </small>
     </td>
     <td>
      <a href="http://home.mathematik.uni-freiburg.de/dhein/ss16SymplGeo.html">
       Symplektische Geometrie
      </a>
     </td>
     <td rowspan="2">
      D. Hein
     </td>
    </tr>
    <tr>
     <td>
      Do 10-12, HS II, Albertstr. 23b
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Übungen dazu
     </td>
     <td>
      D. Hein
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Tutorium dazu
     </td>
     <td>
      Y. Wang
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td colspan="2">
      Die Vorlesung findet Do 10-12 im HS II, außer am 2.6.2016. 
Dafür findet die Vorlesung am Di 31.5.2016 14-16 im SR 404 statt.
      <br/>
      Die Übungen finden Do 12-14 Uhr im SR 404. Am 2.6.2016 finden diese in der Zeit 10-12 im SR 125 statt.
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="8_MarKe">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       W/M
      </div>
      6
      <small>
       ECTS
      </small>
     </td>
     <td>
      <a href="https://www.stochastik.uni-freiburg.de/lehre/SS-2016/VorMarkovKetSS2016">
       Markovketten
      </a>
     </td>
     <td rowspan="2">
      A. Depperschmidt
     </td>
    </tr>
    <tr>
     <td>
      Vorlesung: Mo 8-10, SR 404, Eckerstr. 1
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Übungen dazu: 2-stündig n.V.
     </td>
     <td>
      A. Depperschmidt
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Tutorium dazu
     </td>
     <td>
      B. Köpfer
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="8_NumDg">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       V*, W
      </div>
      5
      <small>
       ECTS
      </small>
     </td>
     <td>
      <a href="http://aam.uni-freiburg.de/abtlg/ls/lsdo/lv/numdgl_ss16">
       Numerik für Differentialgleichungen
      </a>
     </td>
     <td rowspan="2">
      P. Dondl
     </td>
    </tr>
    <tr>
     <td>
      Vorlesung: Mo 16-18, HS II, Albertstr. 23b
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Übungen dazu: 2-stündig (14-täglich)
     </td>
     <td>
      P. Dondl
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Tutorium dazu
     </td>
     <td>
      J. Daube
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="8_87">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       M
      </div>
      6
      <small>
       ECTS
      </small>
     </td>
     <td>
      <a href="https://www.finance.uni-freiburg.de/studium-und-lehre/ss-2016/futures-and-options">
       Futures and Options
      </a>
     </td>
     <td rowspan="2">
      E. A. v. von Hammerstein
     </td>
    </tr>
    <tr>
     <td>
      Vorlesung: Mo 14-16, HS 1098, KG I
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Übungen: Di 16-18, HS 1, Alte Uni
     </td>
     <td>
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Tutorium dazu
     </td>
     <td>
      E. A. v. von Hammerstein
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="8_103">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       M
      </div>
      6
      <small>
       ECTS
      </small>
     </td>
     <td>
      <a href="https://www.stochastik.uni-freiburg.de/lehre/SS-2016/VorStochFiltSS2016">
       Stochastic Filtering
      </a>
     </td>
     <td rowspan="2">
      P. Harms
     </td>
    </tr>
    <tr>
     <td>
      Vorlesung: Do 12-14, HS II, Albertstr. 23b
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Übungen dazu: 2-stündig n.V.
     </td>
     <td>
      P. Harms
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="8_106">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       M
      </div>
      6
      <small>
       ECTS
      </small>
     </td>
     <td>
      <a href="http://home.mathematik.uni-freiburg.de/schikorra/TopVar2016/">
       Topologische Methoden in der Variationsrechnung
      </a>
     </td>
     <td rowspan="2">
      A. Schikorra
     </td>
    </tr>
    <tr>
     <td>
      Vorlesung: Di 10-12, SR 125, Eckerstr. 1
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Übungen dazu
     </td>
     <td>
      A. Schikorra
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tr>
    <td colspan="3">
     <h3>
      1e. Lehrexportveranstaltungen
     </h3>
    </td>
   </tr>
   <tbody class="course_snip" id="9_M2Inf">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
      </div>
     </td>
     <td>
      <a href="http://home.mathematik.uni-freiburg.de/junker/ss16/matheII.html">
       Mathematik II für Studierende der Informatik
      </a>
     </td>
     <td rowspan="2">
      M. Junker
     </td>
    </tr>
    <tr>
     <td>
      Mo, Mi 10-12, HS 00-026, Geb. 101, Georges-Köhler-Allee
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Übungen dazu: 2-stündig n.V.
     </td>
     <td>
      M. Junker
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Tutorium dazu
     </td>
     <td>
      J. D. Caycedo
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="9_M2Ing">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
      </div>
     </td>
     <td>
      <a href="https://aam.uni-freiburg.de/agba/lehre/ss16/mathe2.html">
       Mathematik II für Studierende des Ingenieurwesens
      </a>
     </td>
     <td rowspan="2">
      S. Bartels
     </td>
    </tr>
    <tr>
     <td>
      Mo, Mi 16-18, HS Rundbau, Albertstr. 21
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Übungen dazu: 2-stündig n.V.
     </td>
     <td>
      S. Bartels
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Tutorium dazu
     </td>
     <td>
      P. Schön
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="9_M2NW">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
      </div>
     </td>
     <td>
      <a href="http://home.mathematik.uni-freiburg.de/mfnw/">
       Mathematik II für Studierende der Naturwissenschaften
      </a>
     </td>
     <td rowspan="2">
      S. Knies
     </td>
    </tr>
    <tr>
     <td>
      Di, Do 10-12, HS Rundbau, Albertstr. 21
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Übungen dazu: 2-stündig n.V.
     </td>
     <td>
      S. Knies
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Tutorium dazu
     </td>
     <td>
      B. Taji
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="9_StInf">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
      </div>
     </td>
     <td>
      <a href="http://www.stochastik.uni-freiburg.de/lehre/SS-2016/VorStochInfoSS2016/">
       Stochastik für Studierende der Informatik
      </a>
     </td>
     <td rowspan="2">
      P. Pfaffelhuber
     </td>
    </tr>
    <tr>
     <td>
      Mo 10-12, HS 00-036, Geb. 101, Georges-Köhler-Allee
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Übungen dazu: 2-stündig n.V.
     </td>
     <td>
      P. Pfaffelhuber
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Tutorium dazu
     </td>
     <td>
      P. Czuppon
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="9_CKurs">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       B
      </div>
      4
      <small>
       ECTS
      </small>
     </td>
     <td>
      <a href="http://aam.uni-freiburg.de/abtlg/wissmit/agkr/malkmust/lehre/Somersemester16/Somersemester16">
       Grundlagen der Programmiersprache C für Studierende der Naturwissenschaften
      </a>
     </td>
     <td rowspan="2">
      M. Nolte
     </td>
    </tr>
    <tr>
     <td>
      Mo 16-18, HS Weismann-Haus, Albertstr. 21a
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Tutorium dazu
     </td>
     <td>
      T. Malkmus
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td colspan="2">
      <i>
       Dieses Praktikum zählt als Programmierpraktikum im BSc Mathematik. Die Belegung erfolgt über das ZfS. Bitte beachten Sie die Beleginformationen und die Belegfristen auf www.zfs.uni-freiburg.de
      </i>
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tr>
    <td colspan="3">
     <h2>
      2. Berufsorientierte Veranstaltungen
     </h2>
    </td>
   </tr>
   <tr>
    <td colspan="3">
     <h3>
      2a. Begleitveranstaltungen
     </h3>
    </td>
   </tr>
   <tbody class="course_snip" id="10_29">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       PA, W/M
      </div>
      3
      <small>
       ECTS
      </small>
     </td>
     <td>
      Lernen durch Lehren
     </td>
     <td>
      Alle Dozenten der Mathematik
     </td>
    </tr>
    <tr>
     <td colspan="2">
      Einführungsveranstaltung in der ersten Vorlesungswoche (Termin wird kurzfristig über HISinOne bekanntgegeben)
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tr>
    <td colspan="3">
     <h3>
      2b. Fachdidaktik
     </h3>
    </td>
   </tr>
   <tr>
    <td colspan="3">
     <b>
      Wichtig:
     </b>
     Die Anmeldung zu den Fachdidaktikseminaren erfolgt in der Regel am Ende der Vorlesungszeit des Wintersemesters. Bitte beachten Sie die im Kommentierten Vorlesungsverzeichnis veröffentlichten Anmeldemodalitäten. Sofern Sie einen Platz in einem Fachdidaktikseminar erhalten haben, müssen Sie sich noch online zur Prüfung anmelden; der Anmeldezeitraum läuft voraussichtlich vom 2. April 2016 bis 13. April 2016.
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
   </tr>
   <tbody class="course_snip" id="11_DidGS">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       L
      </div>
      3
      <small>
       ECTS
      </small>
     </td>
     <td>
      <a href="http://home.mathematik.uni-freiburg.de/didaktik/lehre/ss16/ddaa/">
       Didaktik der Geometrie und Stochastik
      </a>
     </td>
     <td rowspan="2">
      M. Kramer
     </td>
    </tr>
    <tr>
     <td>
      Mo 14-16, Mi 10-12, SR 404, Eckerstr. 1
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Übungen dazu: n.V.
     </td>
     <td>
      M. Kramer
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td colspan="2">
      <i>
       Vorlesung 2-stündig, Termin nach Wahl im Rahmen der Kapazitäten.
      </i>
      <br/>
      <i>
       Bitte belegen Sie Ihren Wunschtermin bis Vorlesungsbeginn über das elektronische Vorlesungsverzeichnis der Universität.
      </i>
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="11_31">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       PA, V*
      </div>
      4
      <small>
       ECTS
      </small>
     </td>
     <td>
      Fachdidaktikseminar "Mathematik jenseits des Klassenzimmers – Lernumgebungen draußen"
     </td>
     <td rowspan="2">
      M. Kramer
     </td>
    </tr>
    <tr>
     <td>
      Seminar: Di 14-17, SR 125, Eckerstr. 1
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td colspan="2">
      4 Termine in Freiburg: 26.04., 03.05., 31.05., 21.06.,
      <br/>
      Di 14:00–17:00 Uhr, SR 125, Eckerstr. 1
      <br/>
      Kompaktphase: 04.–09.09.2016 im Schwarzhornhaus bei
Waldstetten (http://www.schwarzhornhaus.de/)
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="11_99">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       PA, V*
      </div>
      4
      <small>
       ECTS
      </small>
     </td>
     <td>
      Fachdidaktikseminar "Mathematik in der Unterstufe - Grundlagen, Inhalte und Didaktik"
     </td>
     <td rowspan="2">
      H. Dietz
     </td>
    </tr>
    <tr>
     <td>
      Do 10-13, SR 127, Eckerstr. 1
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="11_100">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       PA, V*
      </div>
      4
      <small>
       ECTS
      </small>
     </td>
     <td>
      Fachdidaktikseminar "Digitale Mathematikwerkzeuge im Unterricht"
     </td>
     <td rowspan="2">
      C. Baur
     </td>
    </tr>
    <tr>
     <td>
      Seminar: Do 14-17, SR 125, Eckerstr. 1
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="11_102">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       PA, V*
      </div>
      4
      <small>
       ECTS
      </small>
     </td>
     <td>
      Fachdidaktikseminar "Analysis verstehen und verständlich unterrichten"
     </td>
     <td rowspan="2">
      M. Besser, T. Leuders
     </td>
    </tr>
    <tr>
     <td>
      Mi 8-10, SR 125, Eckerstr. 1
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tr>
    <td colspan="3">
     <h3>
      2c. Praktische Übungen
     </h3>
    </td>
   </tr>
   <tbody class="course_snip" id="12_37">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       B, V*, X
      </div>
      3
      <small>
       ECTS
      </small>
     </td>
     <td>
      Praktische Übung zu „Numerik“
     </td>
     <td rowspan="2">
      S. Bartels
     </td>
    </tr>
    <tr>
     <td>
      2-stündig (14-täglich); Termin zur Wahl im Rahmen der Kapazitäten: Di, Fr 10-12, Mi, Do 16-18, Do 14-16, CIP-Pool Raum 201, Hermann-Herder-Str. 10
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Tutorium dazu
     </td>
     <td>
      A. Papathanassopoulos
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td colspan="2">
      <i>
       2. Teil der zweisemestrigen Veranstaltung
      </i>
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="12_PrSto">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       B, V, X
      </div>
      3
      <small>
       ECTS
      </small>
     </td>
     <td>
      Praktische Übung zu „Stochastik“
     </td>
     <td rowspan="2">
      A. Depperschmidt
     </td>
    </tr>
    <tr>
     <td>
      Fr 14-16, HS Weismann-Haus, Albertstr. 21a
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Tutorium dazu
     </td>
     <td>
      J. Ansari
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="12_PrNDg">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       V*, W
      </div>
     </td>
     <td>
      Praktische Übung zu „Numerik für Differentialgleichungen“
     </td>
     <td rowspan="2">
      P. Dondl
     </td>
    </tr>
    <tr>
     <td>
      2-stündig (14-täglich); CIP Pool 201:(Zeit/Ort nicht bekannt)
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Tutorium dazu
     </td>
     <td>
      J. Daube
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td colspan="2">
      <i>
       Zusammen mit Vorlesung und Übungen zur Vorlesung gibt es 6 ECTS-Punkte.
      </i>
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tr>
    <td colspan="3">
     <h2>
      3. Seminare
     </h2>
    </td>
   </tr>
   <tr>
    <td colspan="3">
     <h3>
      3a. Proseminare
     </h3>
    </td>
   </tr>
   <tr>
    <td colspan="3">
     <b>
      Wichtig:
     </b>
     Die Anmeldung zu den Proseminaren erfolgt in der Regel am Ende der Vorlesungszeit des Wintersemesters. Bitte beachten Sie die im Kommentierten Vorlesungsverzeichnis veröffentlichten Anmeldemodalitäten. Sofern Sie einen Platz in einem Proseminar erhalten haben, müssen Sie sich noch online zur Prüfung anmelden; der Anmeldezeitraum läuft voraussichtlich vom 2. April 2016 bis 13. April 2016.
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
   </tr>
   <tbody class="course_snip" id="13_80">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       PA
      </div>
     </td>
     <td>
      <a href="http://home.mathematik.uni-freiburg.de/analysis/ProSemSS16/">
       Proseminar "Fourier-Analysis"
      </a>
     </td>
     <td rowspan="2">
      E. Kuwert
     </td>
    </tr>
    <tr>
     <td>
      Di 8-10, SR 125, Eckerstr. 1
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Tutorium dazu
     </td>
     <td>
      Ch. Ketterer
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="13_101">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       PA
      </div>
     </td>
     <td>
      Proseminar "Gewöhnliche Differentialgleichungen"
     </td>
     <td rowspan="2">
      M. Růžička
     </td>
    </tr>
    <tr>
     <td>
      Fr 14-16, SR 127, Eckerstr. 1
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Tutorium dazu
     </td>
     <td>
      Ph. Nägele
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="13_77">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       PA
      </div>
     </td>
     <td>
      Proseminar "Nichtlineare Dynamik und Chaos"
     </td>
     <td rowspan="2">
      K. Wendland
     </td>
    </tr>
    <tr>
     <td>
      Mo 14-16, SR 127, Eckerstr. 1
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Tutorium dazu
     </td>
     <td>
      A. Degeratu
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="13_93">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       PA
      </div>
     </td>
     <td>
      Proseminar "Ungleichungen und Abschätzungen"
     </td>
     <td rowspan="2">
      N. Große
     </td>
    </tr>
    <tr>
     <td>
      Mi 10-12, SR 125, Eckerstr. 1
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Tutorium dazu
     </td>
     <td>
      D. Hein
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="13_38">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       PA
      </div>
     </td>
     <td>
      Proseminar "Geometrie und Symmetrie"
     </td>
     <td rowspan="2">
      W. Soergel
     </td>
    </tr>
    <tr>
     <td>
      Fr 8-10, SR 404, Eckerstr. 1
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Tutorium dazu
     </td>
     <td>
      A. Sartori
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td colspan="2">
      Am 3.6.2016 findet das Proseminar im SR 125 statt.
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tr>
    <td colspan="3">
     <h3>
      3b. Seminare
     </h3>
    </td>
   </tr>
   <tr>
    <td colspan="3">
     <b>
      Wichtig:
     </b>
     Die Anmeldung zu den Seminaren erfolgt in der Regel am Ende der Vorlesungszeit des Wintersemesters. Bitte beachten Sie die im Kommentierten Vorlesungsverzeichnis veröffentlichten Anmeldemodalitäten. Sofern Sie einen Platz in einem Seminar erhalten haben, müssen Sie sich noch online zur Prüfung anmelden; der Anmeldezeitraum läuft voraussichtlich vom 2. April 2016 bis 13. April 2016.
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
   </tr>
   <tbody class="course_snip" id="14_92">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       PA
      </div>
     </td>
     <td>
      Seminar "Differentialgeometrie"
     </td>
     <td rowspan="2">
      V. Bangert
     </td>
    </tr>
    <tr>
     <td>
      Seminar: Fr 14-16, SR 404, Eckerstr. 1
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Tutorium dazu
     </td>
     <td>
      B. Mramor
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td colspan="2">
      Am 3.6.2016 findet das Seminar im SR 125 statt.
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="14_48">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       PA
      </div>
     </td>
     <td>
      <a href="http://www.stochastik.uni-freiburg.de/professoren/schmidt/ida_2015">
       Seminar "Finance aus der Praxisperspektive"
      </a>
     </td>
     <td rowspan="2">
      E. Lütkebohmert-Holtz, T. Schmidt
     </td>
    </tr>
    <tr>
     <td>
      Di 14-16, SR 127, Eckerstr. 1
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Tutorium dazu
     </td>
     <td>
      S. Gümbel, J. Sester
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="14_94">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       PA
      </div>
     </td>
     <td>
      Seminar "Funktionenkörper"
     </td>
     <td rowspan="2">
      A. Huber-Klawitter
     </td>
    </tr>
    <tr>
     <td>
      Seminar: Mo 14-16, SR 125, Eckerstr. 1
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Tutorium dazu
     </td>
     <td>
      O. Bräunling
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="14_51">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       PA
      </div>
     </td>
     <td>
      <a href="http://home.mathematik.uni-freiburg.de/analysis/SemSS16/">
       Seminar "Geometrische Variationsrechnung"
      </a>
     </td>
     <td rowspan="2">
      G. Wang
     </td>
    </tr>
    <tr>
     <td>
      Mi 16-18, SR 127, Eckerstr. 1
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Tutorium dazu
     </td>
     <td>
      J. Scheuer
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="14_85">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       PA
      </div>
     </td>
     <td>
      Seminar zur Kommutativen Algebra und Algebraischen Geometrie
     </td>
     <td rowspan="2">
      S. Kebekus
     </td>
    </tr>
    <tr>
     <td>
      Seminar: Mi 10-12, SR 403, Eckerstr. 1
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Tutorium dazu
     </td>
     <td>
      H. Bergner
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="14_76">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       PA
      </div>
     </td>
     <td>
      Seminar "Mathematische Modellierung von Mehrphasenströmungen mit Phasenübergang"
     </td>
     <td rowspan="2">
      D. Kröner
     </td>
    </tr>
    <tr>
     <td>
      Di 16-18, SR 226, Hermann-Herder-Str. 10
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Tutorium dazu
     </td>
     <td>
      J. Daube
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="14_84">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       PA
      </div>
     </td>
     <td>
      Seminar "Properes und stark properes Forcing"
     </td>
     <td rowspan="2">
      H. Mildenberger
     </td>
    </tr>
    <tr>
     <td>
      Seminar: Mo 16-18, SR 125, Eckerstr. 1
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Tutorium dazu
     </td>
     <td>
      G. Laguzzi
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="14_45">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       PA
      </div>
     </td>
     <td>
      Seminar zur Modelltheorie
     </td>
     <td rowspan="2">
      M. Ziegler
     </td>
    </tr>
    <tr>
     <td>
      Mi 10-12, SR 218, Eckerstr. 1
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Tutorium dazu
     </td>
     <td>
      M. Khani
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="14_108">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       PA
      </div>
     </td>
     <td>
      Seminar "Infinite games and regular sets"
     </td>
     <td rowspan="2">
      G. Laguzzi
     </td>
    </tr>
    <tr>
     <td>
      Seminar: Mi 14-16, SR 318, Eckerstr. 1
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Tutorium dazu
     </td>
     <td>
      G. Laguzzi
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="14_49">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       PA
      </div>
     </td>
     <td>
      Seminar zur Stochastik
     </td>
     <td>
      P. Pfaffelhuber, T. Schmidt
     </td>
    </tr>
    <tr>
     <td>
      Tutorium dazu
     </td>
     <td>
      P. Czuppon, W. Khosrawi
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td colspan="2">
      Blockseminar am 13.5., 10.6. und 17.6.2016, jeweils 14-18 Uhr, SR 226, Hermann-Herder-Str. 10
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="14_105">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       PA
      </div>
     </td>
     <td>
      Seminar "Stochastische Modelle in der Biologie"
     </td>
     <td rowspan="2">
      P. Pfaffelhuber
     </td>
    </tr>
    <tr>
     <td>
      Seminar: Mo 14-16, Raum 232, Eckerstr. 1
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Tutorium dazu
     </td>
     <td>
      F. Hermann
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="14_46">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       PA
      </div>
     </td>
     <td>
      <a href="http://aam.uni-freiburg.de/lehre/ss16/dynamik">
       Seminar "Strömungsdynamik"
      </a>
     </td>
     <td rowspan="2">
      M. Růžička
     </td>
    </tr>
    <tr>
     <td>
      Mi 10-12, SR 127, Eckerstr. 1
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Tutorium dazu
     </td>
     <td>
      S. Eckstein
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="14_109">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       PA
      </div>
     </td>
     <td>
      <a href="http://aam.uni-freiburg.de/abtlg/ls/lsdo/lv/spekt_ss16">
       Seminar "Spektraltheorie und Operatorhalbgruppen”
      </a>
     </td>
     <td>
      P. Dondl
     </td>
    </tr>
    <tr>
     <td>
      Tutorium dazu
     </td>
     <td>
      F. Rösler
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td colspan="2">
      Blockseminar in der zweiten Vorlesungshälfte
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tr>
    <td colspan="3">
     <h2>
      4. Oberseminare, Projektseminare und Kolloquien
     </h2>
    </td>
   </tr>
   <tr>
    <td colspan="3">
     <h3>
      4a. Oberseminare
     </h3>
    </td>
   </tr>
   <tbody class="course_snip" id="15_OS-A">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       PA
      </div>
     </td>
     <td>
      Oberseminar: Algebra, Zahlentheorie und algebraische Geometrie
     </td>
     <td rowspan="2">
      A. Huber-Klawitter, S. Kebekus, W. Soergel
     </td>
    </tr>
    <tr>
     <td>
      Fr 10-12, SR 404, Eckerstr. 1
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="15_OS-AM">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       PA
      </div>
     </td>
     <td>
      Oberseminar: Angewandte Mathematik
     </td>
     <td rowspan="2">
      S. Bartels, P. Dondl, D. Kröner, M. Růžička
     </td>
    </tr>
    <tr>
     <td>
      Di 14-16, SR 226, Hermann-Herder-Str. 10
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="15_OS-DG">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       PA
      </div>
     </td>
     <td>
      Oberseminar: Differentialgeometrie
     </td>
     <td rowspan="2">
      V. Bangert, N. Große, K. Wendland
     </td>
    </tr>
    <tr>
     <td>
      Mo 16-18, SR 404, Eckerstr. 1
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="15_OS-ML">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       PA
      </div>
     </td>
     <td>
      Oberseminar: Mathematische Logik
     </td>
     <td rowspan="2">
      H. Mildenberger, M. Ziegler
     </td>
    </tr>
    <tr>
     <td>
      Mi 16-18, SR 404, Eckerstr. 1
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="15_58">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       PA
      </div>
     </td>
     <td>
      Oberseminar: Stochastik
     </td>
     <td rowspan="2">
      P. Pfaffelhuber, T. Schmidt, A. Depperschmidt
     </td>
    </tr>
    <tr>
     <td>
      Fr 12-14, SR 404, Eckerstr. 1
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td colspan="2">
      <i>
       14-täglich im Wechsel mit dem FDM-Seminar
      </i>
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="15_59">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       PA
      </div>
     </td>
     <td>
      Oberseminar: Medizinische Statistik
     </td>
     <td rowspan="2">
      M. Schumacher
     </td>
    </tr>
    <tr>
     <td>
      Mi 11:30-13:00, HS Medizinische Biometrie, Stefan-Meier-Str. 26
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tr>
    <td colspan="3">
     <h3>
      4b. Projektseminare und Lesekurse
     </h3>
    </td>
   </tr>
   <tbody class="course_snip" id="16_60">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       M, PA
      </div>
     </td>
     <td>
      Lesekurse „Wissenschaftliches Arbeiten“
     </td>
     <td>
      Alle Dozenten der Mathematik
     </td>
    </tr>
    <tr>
     <td colspan="2">
      – nach persönlicher Absprache –
      <br/>
      <i>
       Nähere Informationen: siehe Kommentiertes Vorlesungsverzeichnis
      </i>
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="16_62">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       PA
      </div>
     </td>
     <td>
      Seminar des Graduiertenkollegs 1821
     </td>
     <td rowspan="2">
      A. Huber-Klawitter, N. Große, S. Kebekus, E. Scheidegger, W. Soergel, K. Wendland
     </td>
    </tr>
    <tr>
     <td>
      Mi 14-16, SR 404, Eckerstr. 1
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Tutorium dazu
     </td>
     <td>
      K. Voelkel
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="16_PjGA">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       PA
      </div>
     </td>
     <td>
      Projektseminar: Geometrische Analysis
     </td>
     <td rowspan="2">
      E. Kuwert, G. Wang
     </td>
    </tr>
    <tr>
     <td>
      Di 16-18, SR 404, Eckerstr. 1
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Tutorium dazu
     </td>
     <td>
      M. Mattuschka
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="16_PjNum">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       PA
      </div>
     </td>
     <td>
      Projektseminar: Numerik
     </td>
     <td rowspan="2">
      D. Kröner
     </td>
    </tr>
    <tr>
     <td>
      Mi 14-16, SR 226, Hermann-Herder-Str. 10
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Tutorium dazu
     </td>
     <td>
      A. Korsch
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="16_PjNA">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       PA
      </div>
     </td>
     <td>
      Projektseminar: Numerische Analysis
     </td>
     <td rowspan="2">
      S. Bartels
     </td>
    </tr>
    <tr>
     <td>
      Mo 14-16, SR 226, Hermann-Herder-Str. 10
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Tutorium dazu
     </td>
     <td>
      P. Schön
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="16_PjNNF">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       PA
      </div>
     </td>
     <td>
      Projektseminar: Nicht-Newtonsche Flüssigkeiten
     </td>
     <td rowspan="2">
      M. Růžička
     </td>
    </tr>
    <tr>
     <td>
      Fr 10-12, SR 127, Eckerstr. 1
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tr>
    <td colspan="3">
     <h3>
      4c. Kolloquien und weitere Veranstaltungen
     </h3>
    </td>
   </tr>
   <tbody class="course_snip" id="17_FDM">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       PA
      </div>
     </td>
     <td>
      Seminar über Datenanalyse und Modellbildung
     </td>
     <td rowspan="2">
      P. Pfaffelhuber, T. Schmidt, M. Schumacher, J. Timmer
     </td>
    </tr>
    <tr>
     <td>
      Fr 12-14, SR 404, Eckerstr. 1
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td colspan="2">
      – 14-täglich im Wechsel mit dem Oberseminar Stochastik –
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="17_DidS">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
       AF
      </div>
     </td>
     <td>
      Didaktisches Seminar
     </td>
     <td rowspan="2">
      M. Kramer, W. Soergel
     </td>
    </tr>
    <tr>
     <td>
      Di 19:30-21:00, HS II, Albertstr. 23b
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td colspan="2">
      – besondere Ankündigung; etwa 14-täglich –
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="17_68">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
      </div>
     </td>
     <td>
      <a href="http://home.mathematik.uni-freiburg.de/kebekus/ACG/">
       Internationales Forschungsseminar Algebraische Geometrie (IRMA) (Freiburg – Nancy – Strasbourg)
      </a>
     </td>
     <td>
      S. Kebekus
     </td>
    </tr>
    <tr>
     <td colspan="2">
      – besondere Ankündigung: zwei Termine pro Semester –
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="17_75">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
      </div>
     </td>
     <td>
      Mathematisch-Physikalisches Kolloquium
     </td>
     <td rowspan="2">
      W. Soergel, K. Wendland
     </td>
    </tr>
    <tr>
     <td>
      Fr 14-17, wechselnder Hörsaal, siehe Ankündigung
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td colspan="2">
      – besondere Ankündigung; etwa monatlich –
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
   <tbody class="course_snip" id="17_Koll">
    <tr>
     <td rowspan="2">
      <div style="white-space: nowrap">
      </div>
     </td>
     <td>
      <a href="http://home.mathematik.uni-freiburg.de/kolloquium/">
       Kolloquium der Mathematik
      </a>
     </td>
     <td rowspan="2">
      Alle Dozenten der Mathematik
     </td>
    </tr>
    <tr>
     <td>
      Do 17:00-18:00, HS II, Albertstr. 23b
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td colspan="2">
      – besondere Ankündigung –
     </td>
    </tr>
    <tr>
     <td colspan="3">
     </td>
    </tr>
   </tbody>
  </table>
 </div>
</div>
