<div class="container" id="inhalt">
 <h1>
  Lehrveranstaltungen im Sommersemester 2017
 </h1>
 <h2>
  Erläuterungen
 </h2>
 <h3>
  Pflichtveranstaltungen:
 </h3>
 <dl>
  <dt>
   B
  </dt>
  <dd>
   Pflichtveranstaltung im BSc
  </dd>
  <!--<dt>E</dt><dd>Pflichtveranstaltung im MEd</dd>-->
  <dt>
   L
  </dt>
  <dd>
   Pflichtveranstaltung im Lehramt nach GymPO
  </dd>
  <dt>
   L*
  </dt>
  <dd>
   abweichende Regelung für Beifach und/oder in der Kombination mit Bildender Kunst/Musik
  </dd>
  <dt>
   Z
  </dt>
  <dd>
   Pflichtveranstaltung im 2-Hauptfächer-Bachelor
  </dd>
 </dl>
 <h3>
  Wahlpflichtveranstaltungen:
 </h3>
 <dl>
  <dt>
   II
  </dt>
  <dd>
   Veranstaltung der Kategorie II:
   <br/>
   geeignet als Wahlpflichtmodul im BSc;
   <br/>
   im MSc verwendbar für die Module
"Angewandte Mathematik", "Reine Mathematik" und im Wahlmodul;
   <br/>
   in der Regel im Lehramt nach GymPO als vertiefte Vorlesung und für den Optionsbereich des 2-Hf-Bachelors geeignet (Voraussetzungen beachten!)
  </dd>
  <dt>
   III
  </dt>
  <dd>
   Veranstaltung der Kategorie III:
   <br/>
   im MSc in allen Modulen
verwendbar;
   <br/>
   einzelne Veranstaltungen sind bei geeigneten Vorkenntnissen für
den Wahlpflichtbereich des BSc geeignet
  </dd>
  <dt>
   W
  </dt>
  <dd>
   kann im BSc und MSc als Wahlmodul oder im Optionsbereich des 2-Hf-Bachelors
verwendet werden; stets Studienleistung!
  </dd>
 </dl>
 <p>
  Die angegebenen ECTS-Punkte gelten für die Verwendung von Veranstaltungen im
Wahlpflicht- oder Wahlbereich des jeweiligen Studiengangs. Die ECTS-Punktzahl
von Pflichtveranstaltungen ist in der Prüfungsordnung festgeschrieben.
 </p>
 <dl>
  <dt>
   HS
  </dt>
  <dd>
   Hörsaal
  </dd>
  <dt>
   SR
  </dt>
  <dd>
   Seminarraum
  </dd>
 </dl>
 <p>
  <b>
   Hinweis:
  </b>
  Ausführliche Informationen (Vorkenntnisse,
Folgeveranstaltungen, Prüfungen) finden sich in den von der Fakultät
herausgegebenen “Kommentaren zu den Lehrveranstaltungen
Mathematik”. (siehe auch:
  <a href="http://www.math.uni-freiburg.de/lehre/v/">
   http://www.math.uni-freiburg.de/lehre/v/
  </a>
  )
 </p>
 <table class="vlverz">
  <col/>
  <col/>
  <col/>
  <tr>
   <td colspan="3">
    <h2>
     1. Vorlesungen
    </h2>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h3>
     1a. Einführende Vorlesungen und Pflichtvorlesungen der verschiedenen Studiengänge
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="5_LA2">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      B, L, Z
     </div>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/dhein/SS17-LinA/">
      Lineare Algebra II
     </a>
    </td>
    <td rowspan="2">
     S. Goette
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di, Do 8-10, HS Rundbau, Albertstr. 21
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
     S. Goette
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     D. Hein
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="5_Ana2">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      B, L, Z
     </div>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/analysis/Analysis2SS17/">
      Analysis II
     </a>
    </td>
    <td rowspan="2">
     G. Wang
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, Mi 8-10, HS Rundbau, Albertstr. 21
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
     G. Wang
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     Ch. Ketterer
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="5_3">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Brückenkurs "Lineare Algebra"
    </td>
    <td>
     N. N.
    </td>
   </tr>
   <tr>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Für die Studienplanvariante 3 des 2-Hauptfächer-Bachelors bzw. des Lehramtsstudiums nach GymPO.
     </i>
     <br/>
     <i>
      Zeit und Ort in Absprache mit dem Dozenten; dazu die Veranstaltung über HISinOne belegen!
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="5_Num">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      B, L*, Z
     </div>
    </td>
    <td>
     <a href="https://aam.uni-freiburg.de/agdo/lehre/ss17/num2/index.html">
      Numerik
     </a>
    </td>
    <td rowspan="2">
     P. Dondl
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mi 14-16, HS Weismann-Haus, Albertstr. 21a
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig (14-täglich) n.V.
    </td>
    <td>
     P. Dondl
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     K. Anguige
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      2. Teil der zweisemestrigen Veranstaltung
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="5_Sto">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      B, L*, Z
     </div>
    </td>
    <td>
     <a href="http://www.stochastik.uni-freiburg.de/lehre/ss-2017/vorlesung-stochastik-ss-2017">
      Stochastik
     </a>
    </td>
    <td rowspan="2">
     E. A. von Hammerstein
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo 14-16, HS Weismann-Haus, Albertstr. 21a
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig (14-täglich) n.V.
    </td>
    <td>
     E. A. von Hammerstein
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     N. N.
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      2. Teil der zweisemestrigen Veranstaltung
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="5_FT">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      II, L*
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/mathphys/lehre/SoSe17/Funktionentheorie.html">
      Funktionentheorie
     </a>
    </td>
    <td rowspan="2">
     E. Scheidegger
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mi, Fr 10-12, HS Weismann-Haus, Albertstr. 21a
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
     E. Scheidegger
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     H. Bergner
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="5_ElGeo">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      II, L, Z
     </div>
     4
     <small>
      ECTS
     </small>
    </td>
    <td>
     Elementargeometrie
    </td>
    <td rowspan="2">
     S. Kebekus
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Fr 14-16, HS Weismann-Haus, Albertstr. 21a
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig (14-täglich) n.V.
    </td>
    <td>
     S. Kebekus
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     M. Gerhards
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Im Master-Studiengang nicht verwendbar.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     1b. Weiterführende vierstündige Vorlesungen
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="7_elDG">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      II
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/miebach/ElDiffGeo.html">
      Elementare Differentialgeometrie
     </a>
    </td>
    <td rowspan="2">
     C. Miebach
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di, Do 12-14, HS Weismann-Haus, Albertstr. 21a
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
     C. Miebach
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     T. Schedlmeier
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_FA">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      II
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/analysis/FunkanaSS17/">
      Funktionalanalysis
     </a>
    </td>
    <td rowspan="2">
     E. Kuwert
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di, Do 10-12, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
     E. Kuwert
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     J. Scheuer
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_algG2">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     Algebraische Geometrie II - Algebraische Flächen
    </td>
    <td rowspan="2">
     S. Kebekus
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mi, Fr 8-10, SR 404, Eckerstr. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
     S. Kebekus
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     H. Bergner
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_alTop">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/soergel/AlgebraischeTopologie17.html">
      Algebraische Topologie
     </a>
    </td>
    <td rowspan="2">
     W. Soergel
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di, Do 8-10, SR 404, Eckerstr. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
     W. Soergel
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     T. Schedlmeier
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_kommA">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     Kommutative Algebra und Einführung in die algebraische Geometrie
    </td>
    <td rowspan="2">
     A. Huber-Klawitter
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, Mi 8-10, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
     A. Huber-Klawitter
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     O. Bräunling
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_Logik">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/pizarro/lehre.html">
      Mathematische Logik
     </a>
    </td>
    <td rowspan="2">
     A. Martín Pizarro
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, Mi 12-14, HS Weismann-Haus, Albertstr. 21a
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
     A. Martín Pizarro
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     Z. Ghadernezhad
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_ML2-U">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/mildenberger/veranstaltungen/ss17/mengenlehre.html">
      Mengenlehre: Unabhängigkeitsbeweise
     </a>
    </td>
    <td rowspan="2">
     H. Mildenberger
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di, Do 10-12, SR 404, Eckerstr. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
     H. Mildenberger
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     F. Guichardaz
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_numOC">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     Numerical Optimal Control
    </td>
    <td rowspan="2">
     M. Diehl
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, Mi 14-16, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
     M. Diehl
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     A. Zanelli, D. Kouzoupis, D. Doan
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_stoAn">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     Stochastische Analysis
    </td>
    <td rowspan="2">
     A. Rohde
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, Mi 12-14, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
     A. Rohde
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     P. Beckedorf
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_PDE3a">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://aam.uni-freiburg.de/agkr/lehre/ss17/hyppde2/index.html">
      Theorie und Numerik hyperbolischer Differentialgleichungen II
     </a>
    </td>
    <td rowspan="2">
     D. Kröner
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo 14-16, Do 12-14, SR 226, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
     D. Kröner
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     M. Nolte
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     1c. Weiterführende zweistündige Vorlesungen
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="8_Schem">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     Steilkurs Schemata
    </td>
    <td rowspan="2">
     A. Huber-Klawitter
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo 14-16, SR 125, Eckerstr. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: Do 10-12, SR 403, Eckerstr. 1, Fr 12-14, SR 218, Eckerstr. 1
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="8_DTF">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     Discrete Time Finance
    </td>
    <td rowspan="2">
     T. Schmidt
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di 10-12, SR 125, Eckerstr. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu
    </td>
    <td>
     W. Khosrawi
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="8_FaO">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="http://www.finance.uni-freiburg.de/studium-und-lehre/SS_2017/FaO_SS17">
      Futures and Options
     </a>
    </td>
    <td rowspan="2">
     E. Lütkebohmert-Holtz
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mi 10-12, (Raum nicht bekannt)
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: Mo 10-12
    </td>
    <td>
     C. Gerhart
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Practical Tuorial dazu: Mi 16-18 (14-täglich)
    </td>
    <td>
     C. Gerhart
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="8_MLKI">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     Maschinelles Lernen und künstliche Intelligenz aus stochastischer Sicht
    </td>
    <td rowspan="2">
     T. Schmidt
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di 14-16, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
     F. Baumdicker
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="8_MKM">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     5
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://aam.uni-freiburg.de/agba/lehre/ss17/mkm/index.html">
      Mathematische Kontinuumsmechanik
     </a>
    </td>
    <td rowspan="2">
     S. Bartels
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mi 10-12, SR 226, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig, Do 14-16 Uhr, SR 226, Hermann-Herder-str. 10, (14-täglich)
    </td>
    <td>
     S. Bartels
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     A. Papathanassopoulos
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="8_NumDG">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      II
     </div>
     5
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://aam.uni-freiburg.de/agba/lehre/ss17/ndgln/index.html">
      Numerik für Differentialgleichungen
     </a>
    </td>
    <td rowspan="2">
     S. Bartels
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mi 16-18, SR 226, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig, Mo 10-12 Uhr, SR 125, Eckerstr. 1, (14-täglich)
    </td>
    <td>
     S. Bartels
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     S. Hertzog, P. Schön
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="8_120">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     Optimierung
    </td>
    <td rowspan="2">
     P. Ochs
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo 10-12, HS 00-006, Georges-Köhler-Allee 082
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: im 14-tgl. Wechsel mit der Vorlesung
    </td>
    <td>
     P. Ochs
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     1d. Lehrexportveranstaltungen
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="9_M2Inf">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/junker/ss17/matheII.html">
      Mathematik II für Studierende der Informatik
     </a>
    </td>
    <td rowspan="2">
     M. Junker
    </td>
   </tr>
   <tr>
    <td>
     Mo, Mi 10-12, HS 00-026, Geb. 101, Georges-Köhler-Allee
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
     M. Junker
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     A. Korsch
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="9_M2Ing">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="http://www.stochastik.uni-freiburg.de/lehre/ss-2017/vorlesung-mathe-II-ing-ws-2017">
      Mathematik II für Studierende des Ingenieurwesens
     </a>
    </td>
    <td rowspan="2">
     P. Pfaffelhuber
    </td>
   </tr>
   <tr>
    <td>
     Mo, Mi 12-14, HS Rundbau, Albertstr. 21
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
     P. Pfaffelhuber
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     E. A. von Hammerstein
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="9_M2NW">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/mfnw/">
      Mathematik II für Studierende der Naturwissenschaften
     </a>
    </td>
    <td rowspan="2">
     S. Knies
    </td>
   </tr>
   <tr>
    <td>
     Di, Do 10-12, HS Rundbau, Albertstr. 21
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
     S. Knies
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     T. Malkmus
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="9_StInf">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="http://www.stochastik.uni-freiburg.de/lehre/ss-2017/vorlesung-mathe-II-inf-ws-2017">
      Stochastik für Studierende der Informatik
     </a>
    </td>
    <td rowspan="2">
     P. Harms
    </td>
   </tr>
   <tr>
    <td>
     Di 14-16, HS 00-036, Geb. 101, Georges-Köhler-Allee
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
     P. Harms
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     E. A. von Hammerstein
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="9_CKurs">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      B
     </div>
     4
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://aam.uni-freiburg.de/agdo/lehre/ss17/prog/index.html">
      Einführung in die Programmierung für Studierende der Naturwissenschaften
     </a>
    </td>
    <td rowspan="2">
     P. Dondl
    </td>
   </tr>
   <tr>
    <td>
     Mo 16-18, HS Weismann-Haus, Albertstr. 21a
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu
    </td>
    <td>
     J. Daube
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     K. Anguige
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Dieser Kurs zählt als Programmierpraktikum im BSc Mathematik. Die Belegung erfolgt über das ZfS. Bitte beachten Sie die Beleginformationen und die Belegfristen auf www.zfs.uni-freiburg.de
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h2>
     2. Berufsorientierte Veranstaltungen
    </h2>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h3>
     2a. Begleitveranstaltungen
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="10_LdL">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      W
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     Lernen durch Lehren
    </td>
    <td>
     Alle Dozenten der Mathematik
    </td>
   </tr>
   <tr>
    <td colspan="2">
     <i>
      Termin der Einführungsveranstaltung steht noch nicht fest (evtl. Mi 10.5.). Bitte Aushänge im Institut und https://www.math.uni-freiburg.de/aktuell/studinfo/ beachten!
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     2b. Fachdidaktik
    </h3>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <b>
     Wichtig:
    </b>
    Die Anmeldung zu den Fachdidaktikseminaren erfolgt in der Regel am Ende der Vorlesungszeit des Wintersemesters. Bitte beachten Sie die im Kommentierten Vorlesungsverzeichnis veröffentlichten Anmeldemodalitäten. Sofern Sie einen Platz in einem Fachdidaktikseminar erhalten haben, müssen Sie sich noch online zur Prüfung anmelden; der Anmeldezeitraum läuft voraussichtlich vom 2. April 2017 bis 19. April 2017.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tbody class="course_snip" id="11_DidGS">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      L
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/didaktik/lehre/">
      Didaktik der Geometrie und Stochastik
     </a>
    </td>
    <td rowspan="2">
     M. Kramer
    </td>
   </tr>
   <tr>
    <td>
     Mo 14-16, Mi 10-12, SR 404, Eckerstr. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: n.V.
    </td>
    <td>
     M. Kramer
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Vorlesung 2-stündig, Termin nach Wahl im Rahmen der Kapazitäten.
     </i>
     <br/>
     <i>
      Bitte belegen Sie Ihren Wunschtermin bis Vorlesungsbeginn über das elektronische Vorlesungsverzeichnis der Universität.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="11_FS-Kr">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     4
     <small>
      ECTS
     </small>
    </td>
    <td>
     Fachdidaktikseminar "Mathematik jenseits des Klassenzimmers – Lernumgebungen draußen"
    </td>
    <td rowspan="2">
     M. Kramer
    </td>
   </tr>
   <tr>
    <td>
     Seminar: Di 14-17, SR 127, Eckerstr. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     4 Termine: 25.04.; 02.05.; 20.06.; 04.07.2017
     <br/>
     Kompaktphase 01.-07.09.2017, Schwarzhornhaus
     <br/>
     Klausur: 18.07.2017
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="11_FS-Dz">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     4
     <small>
      ECTS
     </small>
    </td>
    <td>
     Fachdidaktikseminar "Mathematik machen oder Mathematik unterrichten?"
    </td>
    <td rowspan="2">
     H. Dietz
    </td>
   </tr>
   <tr>
    <td>
     Mo 10-13, SR 127, Eckerstr. 1
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="11_FS-Wl">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     4
     <small>
      ECTS
     </small>
    </td>
    <td>
     Fachdidaktikseminar "Analysis verstehen und verständlich unterrichten"
    </td>
    <td rowspan="2">
     L. Wessel
    </td>
   </tr>
   <tr>
    <td>
     Mi 8-10, SR 125, Eckerstr. 1
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     2c. Praktische Übungen
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="12_PrNum">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      B
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://aam.uni-freiburg.de/agdo/lehre/ss17/num2/index.html">
      Praktische Übung zu „Numerik“
     </a>
    </td>
    <td rowspan="2">
     P. Dondl
    </td>
   </tr>
   <tr>
    <td>
     2-stündig (14-täglich); Termin zur Wahl im Rahmen der Kapazitäten:(Zeit/Ort nicht bekannt)
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     K. Anguige
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      2. Teil der zweisemestrigen Veranstaltung
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="12_PrSto">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      B
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="http://www.stochastik.uni-freiburg.de/lehre/ss-2017/prakueb-stochastik-ss-2017">
      Praktische Übung zu „Stochastik“
     </a>
    </td>
    <td rowspan="2">
     E. A. von Hammerstein
    </td>
   </tr>
   <tr>
    <td>
     Di 10-12, HS Weismann-Haus, Albertstr. 21a
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Do 14-16, HS Weismann-Haus, Albertstr. 21a
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="12_PrNDg">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      II
     </div>
    </td>
    <td>
     Praktische Übung zu „Numerik für Differentialgleichungen“
    </td>
    <td rowspan="2">
     S. Bartels
    </td>
   </tr>
   <tr>
    <td>
     2-stündig (14-täglich): Fr 10-12, CIP-Pool Raum 201, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     S. Hertzog, P. Schön
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Zusammen mit Vorlesung und Übungen zur Vorlesung gibt es 6 ECTS-Punkte.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="12_Pr3a">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      W
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href=" https://aam.uni-freiburg.de/agkr/lehre/ss17/hyppde2/index.html">
      Praktische Übung zu "Theorie und Numerik hyperbolischer Differentialgleichungen II"
     </a>
    </td>
    <td>
     D. Kröner
    </td>
   </tr>
   <tr>
    <td>
     Tutorium dazu
    </td>
    <td>
     M. Nolte
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     Zeit/Ort: n. V., CIP-Pool, Raum 201, Hermann-Herder-str. 10
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h2>
     3. Seminare
    </h2>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h3>
     3a. Proseminare
    </h3>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <b>
     Wichtig:
    </b>
    Die Anmeldung zu den Proseminaren erfolgt in der Regel am Ende der Vorlesungszeit des Wintersemesters. Bitte beachten Sie die im Kommentierten Vorlesungsverzeichnis veröffentlichten Anmeldemodalitäten. Sofern Sie einen Platz in einem Proseminar erhalten haben, müssen Sie sich noch online zur Prüfung anmelden; der Anmeldezeitraum läuft voraussichtlich vom 2. April 2017 bis 19. April 2017.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tbody class="course_snip" id="13_PS-Go">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href=" http://home.mathematik.uni-freiburg.de/dhein/SS17-Prosem.html">
      Proseminar "Mathematik im Alltag"
     </a>
    </td>
    <td rowspan="2">
     S. Goette
    </td>
   </tr>
   <tr>
    <td>
     Di 14-16, SR 125, Eckerstr. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     D. Hein
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="13_PS-HK">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Proseminar zu simplizialen Mengen
    </td>
    <td rowspan="2">
     A. Huber-Klawitter
    </td>
   </tr>
   <tr>
    <td>
     Mo 12-14, SR 404, Eckerstr. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     O. Bräunling
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="13_PS-Wa">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Proseminar "Eindimensionale Fourier-Analysis"
    </td>
    <td rowspan="2">
     G. Wang
    </td>
   </tr>
   <tr>
    <td>
     Mi 16-18, SR 125, Eckerstr. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     Ch. Ketterer
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     3b. Seminare
    </h3>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <b>
     Wichtig:
    </b>
    Die Anmeldung zu den Seminaren erfolgt in der Regel am Ende der Vorlesungszeit des Wintersemesters. Bitte beachten Sie die im Kommentierten Vorlesungsverzeichnis veröffentlichten Anmeldemodalitäten. Sofern Sie einen Platz in einem Seminar erhalten haben, müssen Sie sich noch online zur Prüfung anmelden; der Anmeldezeitraum läuft voraussichtlich vom 2. April 2017 bis 19. April 2017.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tbody class="course_snip" id="14_S-Hoe">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Seminar zur Algebra
    </td>
    <td rowspan="2">
     F. Hörmann
    </td>
   </tr>
   <tr>
    <td>
     Mi 10-12, SR 127, Eckerstr. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     F. Hörmann
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Geeignet für Lehramtsstudiengänge
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-Ke">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Seminar "Algebraische Geometrie - Hodge Theorie"
    </td>
    <td rowspan="2">
     S. Kebekus
    </td>
   </tr>
   <tr>
    <td>
     Mi 10-12, SR 403, Eckerstr. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     H. Bergner
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-Ku">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/analysis/differentialformenss17.html">
      Seminar "Differentialformen und Anwendungen"
     </a>
    </td>
    <td rowspan="2">
     E. Kuwert
    </td>
   </tr>
   <tr>
    <td>
     Di 14-16, SR 404, Eckerstr. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     M. Mattuschka
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-Gr2">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Seminar "Differentialgeometrie"
    </td>
    <td rowspan="2">
     N. Große
    </td>
   </tr>
   <tr>
    <td>
     Mo 14-16, SR 127, Eckerstr. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     T. Körber
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Geeignet im Lehramtsstudium
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-Ba">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Seminar "Iterative Löser und Adaptivität"
    </td>
    <td rowspan="2">
     S. Bartels
    </td>
   </tr>
   <tr>
    <td>
     Seminar: Mo 16-18, SR 226, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     M. Milicevic, Z. Wang, P. Schön
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-Kr">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Seminar "Mathematische Modellierung"
    </td>
    <td rowspan="2">
     D. Kröner
    </td>
   </tr>
   <tr>
    <td>
     Di 18-20, SR 226, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     J. Daube
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-Mi">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/mildenberger/veranstaltungen/ss17/games.html">
      Seminar "Spielstrategien"
     </a>
    </td>
    <td rowspan="2">
     H. Mildenberger
    </td>
   </tr>
   <tr>
    <td>
     Seminar: Mo 16-18, SR 318, Eckerstr. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     G. Laguzzi
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-MP">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/pizarro/lehre.html">
      Seminar "Ultraprodukte und asymptotische Modelltheorie"
     </a>
    </td>
    <td rowspan="2">
     A. Martín Pizarro
    </td>
   </tr>
   <tr>
    <td>
     Seminar: Di 16-18, SR 403, Eckerstr. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     Z. Ghadernezhad
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-Lz">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/giorgio/SS17cryptography.html">
      Seminar Cryptography
     </a>
    </td>
    <td rowspan="2">
     G. Laguzzi
    </td>
   </tr>
   <tr>
    <td>
     Di 16-18, SR 414, Eckerstr. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     D. Siniora
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-Gr">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Seminar "On Nash embedding theorem"
    </td>
    <td rowspan="2">
     N. Große, A. Schikorra
    </td>
   </tr>
   <tr>
    <td>
     Fr 12.05.2017, 14-18h, SR 318, Eckerstr. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Mo 15.05.2017, 8-13h, SR 119, Eckerstr. 1
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Mo 22.05.2017, 8-13h, SR 119, Eckerstr. 1
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Mo 29.05.2017, 8-13h, SR 119, Eckerstr. 1
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Fr 02.06.2017, 14-18h, SR 318, Eckerstr. 1
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     N. N.
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     Blockseminar Mai - Juni 2017 - siehe Termine oben
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-Ro">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Seminar über Grenzwertsätze für stochastische Prozesse
    </td>
    <td rowspan="2">
     A. Rohde
    </td>
   </tr>
   <tr>
    <td>
     Fr 9:30-11, SR 125, Eckerstr. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     N. N.
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-vH">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="http://www.stochastik.uni-freiburg.de/lehre/ss-2017/seminar-buchbeweis-ss-2017">
      Seminar "Buch der Beweise"
     </a>
    </td>
    <td rowspan="2">
     E. A. von Hammerstein
    </td>
   </tr>
   <tr>
    <td>
     Seminar: Di 16-18, SR 125, Eckerstr. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     F. Hermann
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Vorzugsweise für Lehramtsstudiengänge
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-Kp">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="https://aam.uni-freiburg.de/agru/lehre/ss17/newtonian.html">
      Seminar "Verallgemeinerte Newtonsche Fluide"
     </a>
    </td>
    <td rowspan="2">
     M. Křepela, M. Růžička
    </td>
   </tr>
   <tr>
    <td>
     Fr 14-16, SR 125, Eckerstr. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     M. Křepela
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-Do">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="https://aam.uni-freiburg.de/agdo/lehre/ss17/visko/index.html">
      Seminar "Viskositätslösungen"
     </a>
    </td>
    <td rowspan="2">
     P. Dondl
    </td>
   </tr>
   <tr>
    <td>
     Mo 10-12, SR 226, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     S. Wojtowytsch
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-BSt">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Bachelor-Seminar der Abteilung für Stochastik
    </td>
    <td>
     P. Harms, P. Pfaffelhuber, A. Rohde, T. Schmidt
    </td>
   </tr>
   <tr>
    <td colspan="2">
     Blockseminar 24.5.2017(15:30-17:00) und am 29.6.2017 (16:30-18:00)
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h2>
     4. Oberseminare, Projektseminare und Kolloquien
    </h2>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h3>
     4a. Oberseminare
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="15_OS-A">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Oberseminar: Algebra, Zahlentheorie und algebraische Geometrie
    </td>
    <td rowspan="2">
     A. Huber-Klawitter, S. Kebekus, W. Soergel
    </td>
   </tr>
   <tr>
    <td>
     Fr 10-12, SR 404, Eckerstr. 1
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="15_OS-AM">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Oberseminar: Angewandte Mathematik
    </td>
    <td rowspan="2">
     S. Bartels, P. Dondl, D. Kröner
    </td>
   </tr>
   <tr>
    <td>
     Di 14-16, SR 226, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="15_OS-DG">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Oberseminar: Differentialgeometrie
    </td>
    <td rowspan="2">
     S. Goette, N. Große
    </td>
   </tr>
   <tr>
    <td>
     Mo 16-18, SR 404, Eckerstr. 1
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="15_OS-ML">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="http://wochenprogramm.mathematik.uni-freiburg.de/v.html?V=OS-ML&amp;Semester=SS2017">
      Oberseminar: Mathematische Logik
     </a>
    </td>
    <td rowspan="2">
     A. Martín Pizarro, H. Mildenberger
    </td>
   </tr>
   <tr>
    <td>
     Mi 16-18, SR 404, Eckerstr. 1
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="15_OS-MS">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Oberseminar: Stochastik
    </td>
    <td rowspan="2">
     P. Harms, P. Pfaffelhuber, A. Rohde, T. Schmidt
    </td>
   </tr>
   <tr>
    <td>
     Fr 11-12, Raum 232, Eckerstr. 1
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="15_Oberseminar">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Oberseminar: Finanzmathematik
    </td>
    <td rowspan="2">
     T. Schmidt
    </td>
   </tr>
   <tr>
    <td>
     Mi 14-16, Raum 232, Eckerstr. 1
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     4b. Projektseminare und Lesekurse
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="16_LKWA">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Lesekurse „Wissenschaftliches Arbeiten“
    </td>
    <td>
     Alle Dozenten der Mathematik
    </td>
   </tr>
   <tr>
    <td colspan="2">
     – nach persönlicher Absprache –
     <br/>
     <i>
      Nähere Informationen: siehe Kommentiertes Vorlesungsverzeichnis
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="16_GK">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Seminar des Graduiertenkollegs 1821
    </td>
    <td rowspan="2">
     S. Goette, N. Große, F. Hörmann, A. Huber-Klawitter, S. Kebekus, E. Scheidegger, W. Soergel
    </td>
   </tr>
   <tr>
    <td>
     Mi 14-16, SR 404, Eckerstr. 1
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="16_PjGA">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Projektseminar: Geometrische Analysis
    </td>
    <td rowspan="2">
     E. Kuwert, G. Wang
    </td>
   </tr>
   <tr>
    <td>
     Di 16-18, SR 404, Eckerstr. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     Z. Sun
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="16_PjNum">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Projektseminar: Numerik
    </td>
    <td rowspan="2">
     D. Kröner
    </td>
   </tr>
   <tr>
    <td>
     Mi 14-16, SR 226, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     F. Rösler
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="16_PjNA">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Projektseminar: Numerische Analysis
    </td>
    <td rowspan="2">
     S. Bartels
    </td>
   </tr>
   <tr>
    <td>
     Mo 14-16, SR 226, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     A. Papathanassopoulos
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="16_PjStB">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Projektseminar: Stochastik in der Biologie
    </td>
    <td rowspan="2">
     P. Pfaffelhuber
    </td>
   </tr>
   <tr>
    <td>
     Do 11-12, Raum 232, Eckerstr. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     F. Hermann, E. Huss
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="16_Seminar">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Seminar Dirac operators in representation theory
    </td>
    <td rowspan="2">
     P. Pandžić
    </td>
   </tr>
   <tr>
    <td>
     Do 10-12, SR 318, Eckerstr. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     Beginn 29.06.2017
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     4c. Kolloquien und weitere Veranstaltungen
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="17_FDM">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Seminar über Datenanalyse und Modellbildung
    </td>
    <td rowspan="2">
     P. Pfaffelhuber, A. Rohde, T. Schmidt, J. Timmer
    </td>
   </tr>
   <tr>
    <td>
     Fr 12-14, SR 404, Eckerstr. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     – 14-täglich –
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="17_DidS">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Didaktisches Seminar
    </td>
    <td rowspan="2">
     M. Kramer, E. Kuwert
    </td>
   </tr>
   <tr>
    <td>
     Di 19:30-21:00, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     – besondere Ankündigung; etwa 14-täglich –
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="17_IntFS">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/kebekus/ACG/">
      Internationales Forschungsseminar Algebraische Geometrie (IRMA) (Freiburg – Nancy – Strasbourg)
     </a>
    </td>
    <td>
     S. Kebekus
    </td>
   </tr>
   <tr>
    <td colspan="2">
     – besondere Ankündigung: zwei Termine pro Semester –
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="17_MPKol">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Mathematisch-Physikalisches Kolloquium
    </td>
    <td rowspan="2">
     A. Buchleitner, S. Goette, N. Große, E. Scheidegger, W. Soergel
    </td>
   </tr>
   <tr>
    <td>
     Fr 14-17, wechselnder Hörsaal, siehe Ankündigung
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     – besondere Ankündigung; etwa monatlich –
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="17_Koll">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/kolloquium/">
      Kolloquium der Mathematik
     </a>
    </td>
    <td rowspan="2">
     Alle Dozenten der Mathematik
    </td>
   </tr>
   <tr>
    <td>
     Do 17:00-18:00, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     – besondere Ankündigung –
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
 </table>
</div>
