<div class="container" id="inhalt">
 <h1>
  Lehrveranstaltungen im Sommersemester 2020
 </h1>
 <h2>
  Erläuterungen
 </h2>
 <h3>
  Pflichtveranstaltungen:
 </h3>
 <dl>
  <dt>
   B
  </dt>
  <dd>
   Pflichtveranstaltung im BSc
  </dd>
  <dt>
   E
  </dt>
  <dd>
   Pflichtveranstaltung im MEd
  </dd>
  <dt>
   Z
  </dt>
  <dd>
   Pflichtveranstaltung im 2-Hauptfächer-Bachelor
  </dd>
  <dt>
   Z*
  </dt>
  <dd>
   Pflichtveranstaltung der Lehramtsoption im 2-HF-Bachelor
  </dd>
 </dl>
 <h3>
  Wahlpflichtveranstaltungen:
 </h3>
 <dl>
  <dt>
   II
  </dt>
  <dd>
   Veranstaltung der Kategorie II:
   <br/>
   geeignet als Wahlpflichtmodul im BSc;
   <br/>
   im MSc verwendbar für die Module
"Angewandte Mathematik", "Reine Mathematik" und im Wahlmodul;
   <br/>
   in der Regel im Lehramt nach GymPO und im MEd als vertiefte Vorlesung und für den Optionsbereich des 2-Hf-Bachelors geeignet (Voraussetzungen beachten!)
  </dd>
  <dt>
   III
  </dt>
  <dd>
   Veranstaltung der Kategorie III:
   <br/>
   im MSc in allen Modulen
verwendbar;
   <br/>
   einzelne Veranstaltungen sind bei geeigneten Vorkenntnissen für
den Wahlpflichtbereich des BSc geeignet
  </dd>
  <dt>
   W
  </dt>
  <dd>
   kann im BSc und MSc als Wahlmodul oder im Optionsbereich des 2-Hf-Bachelors
verwendet werden; stets Studienleistung!
  </dd>
 </dl>
 <p>
  Die angegebenen ECTS-Punkte gelten für die Verwendung von Veranstaltungen im
Wahlpflicht- oder Wahlbereich des jeweiligen Studiengangs. Die ECTS-Punktzahl
von Pflichtveranstaltungen ist in der Prüfungsordnung festgeschrieben.
 </p>
 <dl>
  <dt>
   HS
  </dt>
  <dd>
   Hörsaal
  </dd>
  <dt>
   SR
  </dt>
  <dd>
   Seminarraum
  </dd>
 </dl>
 <p>
  <b>
   Hinweis:
  </b>
  Ausführliche Informationen (Vorkenntnisse,
Folgeveranstaltungen, Prüfungen) finden sich in den von der Fakultät
herausgegebenen “Kommentaren zu den Lehrveranstaltungen
Mathematik”. (siehe auch:
  <a href="http://www.math.uni-freiburg.de/lehre/v/">
   http://www.math.uni-freiburg.de/lehre/v/
  </a>
  )
 </p>
 <table class="vlverz">
  <col/>
  <col/>
  <col/>
  <tr>
   <td colspan="3">
    <h2>
     1. Vorlesungen
    </h2>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h3>
     1a. Einführende Vorlesungen und Pflichtvorlesungen der verschiedenen Studiengänge
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="5_LA2">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      B, Z
     </div>
    </td>
    <td>
     <a href=" https://cplx.vm.uni-freiburg.de/de/ss20-lineare-algebra-ii/">
      Lineare Algebra II
     </a>
    </td>
    <td rowspan="2">
     S. Kebekus
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di, Do 8-10, HS Rundbau, Albertstr. 21
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Zusatzübungen dazu
    </td>
    <td>
     L. Braun, M. Jesenko, J. Rotter
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     A. Demleitner
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Fragestunde (online): (Zeit/Ort nicht bekannt)
    </td>
    <td>
     S. Barmeier
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="5_Ana2">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      B, Z
     </div>
    </td>
    <td>
     <a href=" https://home.mathematik.uni-freiburg.de/analysis/Analysis2SS20/">
      Analysis II
     </a>
    </td>
    <td rowspan="2">
     E. Kuwert
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, Mi 8-10, HS Rundbau, Albertstr. 21
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     L. Schiemanowski
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="5_Num">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      B, Z
     </div>
    </td>
    <td>
     <a href="https://aam.uni-freiburg.de/agba/lehre/ss20/num/index.html">
      Numerik
     </a>
    </td>
    <td rowspan="2">
     S. Bartels
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mi 14-16, HS Rundbau, Albertstr. 21
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig (14-täglich) n.V.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     P. Tscherner, F. Meyer
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      2. Teil der zweisemestrigen Veranstaltung
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="5_Sto">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      B, Z
     </div>
    </td>
    <td>
     <a href="https://www.stochastik.uni-freiburg.de/lehre/ss-2020/vorlesung-stochastik-ss-2020">
      Stochastik
     </a>
    </td>
    <td rowspan="2">
     A. Rohde
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di 14-16, HS Weismann-Haus, Albertstr. 21a
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig (14-täglich) n.V.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     P. Beckedorf
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      2. Teil der zweisemestrigen Veranstaltung
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="5_ElGeo">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      II, Z
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     Elementargeometrie
    </td>
    <td rowspan="2">
     A. Haydys
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Fr 10-12, HS Weismann-Haus, Albertstr. 21a
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     G. Laguzzi
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Im M.Sc.-Studiengang nicht verwendbar.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     1b. Weiterführende vierstündige Vorlesungen
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="7_alCur">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/mathphys/lehre/SoSe20/AlgebraicCurves.html">
      Algebraic Curves
     </a>
    </td>
    <td rowspan="2">
     M. Ungureanu
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di, Do 12-14, SR 127, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     J. Commelin
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_alTop2">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/geometrie/lehre/ss2020/AT2/">
      Algebraische Topologie II
     </a>
    </td>
    <td rowspan="2">
     S. Goette
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di, Do 10-12, SR 404, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     J. Schnitzer
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_algZT">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/arithgeom/lehre/ss20/algzt/index.html">
      Algebraische Zahlentheorie
     </a>
    </td>
    <td rowspan="2">
     O. Bräunling
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di, Do 14-16, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     O. Bräunling
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_DG2">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     Differentialgeometrie II – Vektorbündel
    </td>
    <td rowspan="2">
     N. Große
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, Mi 10-12, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     K. Fedosova
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_elDG">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      II
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/analysis/ElemDiffGeoSS20/">
      Elementare Differentialgeometrie
     </a>
    </td>
    <td rowspan="2">
     G. Wang
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, Mi 14-16, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     A. de la Torre Pedraza
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_FA">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      II
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://www.stochastik.uni-freiburg.de/lehre/ss-2020/vorlesung-funktionalanalysis-ss-2020">
      Funktionalanalysis
     </a>
    </td>
    <td rowspan="2">
     T. Schmidt
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, Mi 12-14, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     M. Weber
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_FT">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      II
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href=" http://home.mathematik.uni-freiburg.de/mathphys/lehre/SoSe20/Funktionentheorie.html">
      Funktionentheorie
     </a>
    </td>
    <td rowspan="2">
     K. Wendland
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, Mi 10-12, HS Weismann-Haus, Albertstr. 21a
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     S. Barmeier
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorenbesprechung:  Mo 12-14, SR 218, Ernst-Zermelo-Straße 1
    </td>
    <td>
     S. Barmeier
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Pflicht in den Lehramtsstudiengängen nach GymPO im Hauptfach
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_kommA">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/soergel/ss20kage.html">
      Kommutative Algebra und Einführung in die algebraische Geometrie
     </a>
    </td>
    <td rowspan="2">
     W. Soergel
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di, Do 10-12, HS Weismann-Haus, Albertstr. 21a
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     G. Zaccanelli
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Fragestunde:  Fr 14-15, SR 403, Ernst-Zermelo-Straße 1
    </td>
    <td>
     G. Zaccanelli
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_Logik">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      II
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/mildenberger/veranstaltungen/ss20/logik.html">
      Mathematische Logik
     </a>
    </td>
    <td rowspan="2">
     H. Mildenberger
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di, Do 10-12, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     G. Laguzzi
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_NOCSE">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     Numerical Optimal Control in Science and Engineering
    </td>
    <td>
     M. Diehl
    </td>
   </tr>
   <tr>
    <td colspan="2">
     <i>
      Zweistündige online-Vorlesung mit zusätzlichem Projekt. Näheres siehe bei den zweistündigen Vorlesungen.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_stoIF">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     Stochastische Analysis
    </td>
    <td rowspan="2">
     P. Pfaffelhuber
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, Mi 10-12, SR 127, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     J. Stiefel
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_Top">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      II
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://home.mathematik.uni-freiburg.de/palacin/lehre/SoSe20/Top/Topologie.html">
      Topologie
     </a>
    </td>
    <td rowspan="2">
     A. Martín Pizarro
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di, Do 12-14, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     D. Palacin
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     1c. Weiterführende zweistündige Vorlesungen
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="8_CoFi">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      W
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://www.stochastik.uni-freiburg.de/lehre/ss-2020/vorlesung-computational-finance-ss-2020">
      Computational Finance
     </a>
    </td>
    <td rowspan="2">
     E. A. von Hammerstein
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di 10-12, PC-Pool 3, Werthmannstraße 4
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung: Mi 10-12, PC-Pool 3, Werthmannstraße 4
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="8_FiMa">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://www.stochastik.uni-freiburg.de/lehre/ss-2020/vorlesung-finanzmathematik-in-diskreter-zeit-ss-2020">
      Finanzmathematik in diskreter Zeit
     </a>
    </td>
    <td rowspan="2">
     T. Schmidt
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo 14-16, SR 404, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     L. Niemann
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="8_Vorlesung">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/patimo/ss20liegroups.html">
      Lie Groups
     </a>
    </td>
    <td rowspan="2">
     L. Patimo
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mi 12-14, SR 318, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     (live stream)
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="8_MoDL">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     5
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://www.stochastik.uni-freiburg.de/lehre/ss-2020/vorlesung-deep-learning-ss-2020">
      Mathematics of Deep Learning
     </a>
    </td>
    <td rowspan="2">
     P. Harms
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mi 14-16, SR 226, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig (14-täglich) n.V.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     J. Stiefel
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="8_MaMod">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://aam.uni-freiburg.de/agru/lehre/ss20/modellierung.html">
      Mathematische Modellierung
     </a>
    </td>
    <td rowspan="2">
     M. Růžička
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Do 8-10, SR 404, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Vorlesung: Di 8-10, SR 404, Ernst-Zermelo-Straße 1
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     A. Kaltenbach
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <span style="color: red">
      Beginn: Ab der zweiten Semesterhälfte
     </span>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="8_numOC">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     Numerical Optimal Control in Science and Engineering
    </td>
    <td rowspan="2">
     M. Diehl
    </td>
   </tr>
   <tr>
    <td>
     Übungen (ggf. unregelmäßig): Fr 14-16, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     N. N.
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Online-Kurs in Englisch (6 ECTS-Punkte). Mit zusätzlicher Projektarbeit (3 ECTS-Punkte) als Vorlesung mit 9 ECTS-Punkten anrechenbar
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="8_NumDG">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      II
     </div>
     5
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://aam.uni-freiburg.de/agba/lehre/ss20/ndgln/index.html">
      Numerik für Differentialgleichungen
     </a>
    </td>
    <td rowspan="2">
     S. Bartels
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mi 16-18, SR 226, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig (14-täglich) n.V.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     J. Keck, P. Weyer
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="8_RAEoM">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/loesch/lehre/ss20/">
      Reelle Algebra und Einführung in die o-Minimalität
     </a>
    </td>
    <td rowspan="2">
     A. Martín Pizarro
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mi 12-14, SR 404, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     M. Lösch
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="8_TOaMF">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     Transfer Operators and Modular Forms
    </td>
    <td rowspan="2">
     K. Fedosova
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Do 12-14, SR 404, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="8_NLEE">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/analysis/NonlEllipEquatSS20">
      Non Local Elliptic Equations
     </a>
    </td>
    <td rowspan="2">
     A. de la Torre Pedraza
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Do 12-14, SR 403, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Zeit und Ort noch unter Vorbehalt!
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     1d. Lehrexportveranstaltungen
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="9_M2Inf">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="https://ilias.uni-freiburg.de/goto.php?target=crs_1531150&amp;client_id=unifreiburg">
      Mathematik II für Studierende der Informatik
     </a>
    </td>
    <td rowspan="2">
     M. Junker
    </td>
   </tr>
   <tr>
    <td>
     Mo, Mi 10-12, HS 00-026, Geb. 101, Georges-Köhler-Allee
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     L. Braun
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Sprechstunde:  Di 10-12, SR 414, Ernst-Zermelo-Straße 1
    </td>
    <td>
     N. N.
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="9_M2Ing">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="https://aam.uni-freiburg.de/agdo/lehre/ss20/math2/">
      Mathematik II für Studierende der Ingenieurwissenschaften
     </a>
    </td>
    <td rowspan="2">
     P. Dondl
    </td>
   </tr>
   <tr>
    <td>
     Mo, Mi 16-18, HS Rundbau, Albertstr. 21
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     M. Jesenko
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="9_M2NW">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/mfnw/2020ss/?l=en">
      Mathematik II für Studierende der Naturwissenschaften
     </a>
    </td>
    <td rowspan="2">
     S. Knies
    </td>
   </tr>
   <tr>
    <td>
     Di, Do 10-12, HS Rundbau, Albertstr. 21
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     J. Commelin
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="9_StInf">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="https://www.stochastik.uni-freiburg.de/lehre/ss-2020/vorlesung-stoch-inf-ss-2020">
      Stochastik für Studierende der Informatik
     </a>
    </td>
    <td rowspan="2">
     E. A. von Hammerstein
    </td>
   </tr>
   <tr>
    <td>
     Mo 10-12, HS 00-036, Geb. 101, Georges-Köhler-Allee
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     T. Enger
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="9_CKurs">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      B
     </div>
    </td>
    <td>
     <a href="https://aam.uni-freiburg.de/agba/lehre/ss20/einfprog/index.html">
      Einführung in die Programmierung für Studierende der Naturwissenschaften
     </a>
    </td>
    <td rowspan="2">
     C. Palus
    </td>
   </tr>
   <tr>
    <td>
     Mo 16-18, HS Weismann-Haus, Albertstr. 21a
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     L. Striet
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Dieser Kurs ist Pflicht-BOK-Kurs im B.Sc. Mathematik (ab Sommersemester 2020 mit 6 ECTS-Punkten). Belegung für den B.Sc.-Studiengang im BOK-Bereich 
innerhalb der Belegfrist des ZfS!
     </i>
     <br/>
     <i>
      Der Kurs kann – bei gleichen Anforderungen – im 2-Hauptfächer-Bachelor als Praktische Übung und im M.Ed. für das Modul "Mathematische Ergänzung" verwendet werden. Belegung über den Studienplaner, Modul "Praktische Übung".
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h2>
     2. Berufsorientierte Veranstaltungen
    </h2>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h3>
     2a. Begleitveranstaltungen
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="10_LdL">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      W
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/ldl/index1.html">
      Lernen durch Lehren
     </a>
    </td>
    <td>
     Alle Dozentinnen und Dozenten der Mathematik
    </td>
   </tr>
   <tr>
    <td colspan="2">
     <span style="color: red">
      Hinweis: Aktuell ist unklar, unter welchen Bedingungen dieses Modul in diesem Semester stattfinden kann. Bitte bis 30.4. Interesse an der Teilnahme anmelden, siehe Webpage.
     </span>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="10_B">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="https://mfsfreiburg.wordpress.com/2020/06/02/betreutes-rechnen-jetzt-digital/">
      Betreutes Rechnen
     </a>
    </td>
    <td rowspan="2">
     B. Geuchen
    </td>
   </tr>
   <tr>
    <td>
     Mi 10-12, Fr 12-14, Fachschaftsraum1, BigBlueButton
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Tutoren helfen bei Fragen zu Übungsaufgaben und Vorlesungen. Freiwilliges Angebot, typischerweise für Drittsemester-Vorlesungen.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     2b. Fachdidaktik
    </h3>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    Bitte schauen Sie im Kommentierten Vorlersungsverzeichnis nach, ob zu den Veranstaltungen eine Voranmeldung nötig ist.
Zu Fachdidaktikseminaren im Lehramtsstudium nach GymPO läuft die Prüfungsanmeldefrist voraussichtlich vom 1. bis 15. April 2020.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tbody class="course_snip" id="11_EFD">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      Z*
     </div>
     5
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/didaktik/lehre/">
      Einführung in die Fachdidaktik der Mathematik
     </a>
    </td>
    <td rowspan="2">
     K. Böcherer-Linder
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di 8-10, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Seminar und Übung: Do 14-16, Fr 8-10, SR 127, Ernst-Zermelo-Straße 1
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Übungstermin zur Wahl im Rahmen der Kapazitäten. Der Besuch des Didaktischen Seminars (zweiwöchentlich, Dienstag abends, 19:30 Uhr) wird erwartet!
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="11_FD-SA">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      E
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/didaktik/lehre/">
      Didaktik der Stochastik und der Algebra
     </a>
    </td>
    <td rowspan="2">
     K. Böcherer-Linder
    </td>
   </tr>
   <tr>
    <td>
     Seminar und Übung: Mi 8-11, SR 404, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <span style="color: red">
      Bitte beachten: Neuer Termin!
     </span>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="11_FE-Ws">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     4
     <small>
      ECTS
     </small>
    </td>
    <td>
     Fachdidaktische Entwicklung: Heterogenität und Sprachbildung im Mathematikunterricht der Sekundarstufe
    </td>
    <td rowspan="2">
     L. Wessel
    </td>
   </tr>
   <tr>
    <td>
     Mi 14-16, SR 127, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="11_FF-E">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     4
     <small>
      ECTS
     </small>
    </td>
    <td>
     Fachdidaktische Forschung: Fachdidaktische Entwicklungsforschung zu ausgewählten Schwerpunkten
    </td>
    <td rowspan="2">
     Dozenten der PH Freiburg
    </td>
   </tr>
   <tr>
    <td>
     Mo 14:15-15:45, Räume des IMBF, PH Freiburg
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Erster Teil des Wahlpflichtmoduls "Fachdidaktische Forschung" im M.Ed. (insgesamt 4 ECTS-Punkte!) für die Studierenden, die eine fachdidaktische Master-Arbeit in Mathematik schreiben möchten.
     </i>
     <span style="color: red">
      Anmeldung dazu bis Ende der Vorlesungszeit des Wintersemesters in der Abteilung für Didaktik; zusätzlich Anmeldung zum Seminar wie im Kommentierten Vorlesungsverzeichnis beschrieben.
     </span>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="11_FF-S">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Fachdidaktische Forschung: Entwicklung und Optimierung eines fachdidaktischen Forschungsprojekts
    </td>
    <td rowspan="2">
     Dozenten der PH Freiburg
    </td>
   </tr>
   <tr>
    <td>
     im letzten Semesterdrittel: Mo 10:00-13:00, Räume des IMBF, PH Freiburg
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Zweiter Teil des Wahlpflichtmoduls "Fachdidaktische Forschung" im M.Ed.
(Teil 1 ist Voraussetzung). Wird auch im Sommersemester angeboten.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     2c. Praktische Übungen
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="12_PrNum">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      B
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     Praktische Übung zu „Numerik“
    </td>
    <td>
     S. Bartels
    </td>
   </tr>
   <tr>
    <td>
     2-stündig (14-täglich), CIP Pool Raum 201, Hermann-Herder-Str. 10
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     P. Tscherner, F. Meyer
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      2. Teil der zweisemestrigen Veranstaltung
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="12_PrNDg">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      II
     </div>
     1
     <small>
      ECTS
     </small>
    </td>
    <td>
     Praktische Übung zu „Numerik für Differentialgleichungen“
    </td>
    <td rowspan="2">
     S. Bartels
    </td>
   </tr>
   <tr>
    <td>
     (14-täglich): Do 10-12, CIP-Pool Raum 201, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     J. Keck, P. Weyer
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Nur zusammen Vorlesung und Übung!
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="12_PrSto">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      B
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://www.stochastik.uni-freiburg.de/lehre/ss-2020/prakueb-stochastik-ss-2020">
      Praktische Übung zu „Stochastik“
     </a>
    </td>
    <td rowspan="2">
     E. A. von Hammerstein
    </td>
   </tr>
   <tr>
    <td>
     Fr 8-10, HS Weismann-Haus, Albertstr. 21a
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     E. A. von Hammerstein
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h2>
     3. Seminare
    </h2>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h3>
     3a. Proseminare
    </h3>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    Die Seminarplätze werden am Ende der Vorlesungszeit des Wintersemesters vergeben. Im Kommentierten Vorlesungsverzeichnis wird für jedes Proseminar beschrieben, ob und wie eine Voranmeldung erfolgen muss und wann die Vorbesprechung stattfindet.
Sofern Sie einen Platz in einem Proseminar erhalten haben, müssen Sie sich noch online zur Prüfung anmelden; der Anmeldezeitraum läuft voraussichtlich vom 1. März bis 15. April 2020.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tbody class="course_snip" id="13_PS-We">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/mathphys/lehre/SoSe20/Koecher.html">
      Proseminar: Darstellungstheorie von Köchern
     </a>
    </td>
    <td rowspan="2">
     K. Wendland
    </td>
   </tr>
   <tr>
    <td>
     Di 12-14, SR 404, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     S. Barmeier
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="13_PS-Kn">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href=" http://home.mathematik.uni-freiburg.de/knies/lehre/ss20/dglanw/index.html">
      Proseminar: Gewöhliche Differentialgleichungen
     </a>
    </td>
    <td rowspan="2">
     S. Knies
    </td>
   </tr>
   <tr>
    <td>
     Do 14-16, SR 125, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     J. Gerstenberger
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="13_PS-vH">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href=" https://www.stochastik.uni-freiburg.de/lehre/ss-2020/proseminar-spieltheorie-ss-2020">
      Proseminar: Spieltheorie
     </a>
    </td>
    <td rowspan="2">
     E. A. von Hammerstein
    </td>
   </tr>
   <tr>
    <td>
     Di 16-18, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Mi 16-18, HS II, Albertstr. 23b
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     J. Brutsche
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="13_xyz">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     Proseminar: Endliche Körper
    </td>
    <td rowspan="2">
     F. Hörmann
    </td>
   </tr>
   <tr>
    <td>
     Do 10-12, SR 125, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     F. Hörmann
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     3b. Seminare
    </h3>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    Die Seminarplätze werden in der Regel am Ende der Vorlesungszeit des Wintersemesters vergeben. Im Kommentierten Vorlesungsverzeichnis wird für jedes Seminar beschrieben, ob und wie eine Voranmeldung erfolgen muss und wann die Vorbesprechung stattfindet.
Sofern Sie einen Platz in einem Seminar erhalten haben, müssen Sie sich noch online zur Prüfung anmelden; der Anmeldezeitraum läuft voraussichtlich vom 1. März bis 15. April 2020.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tbody class="course_snip" id="14_S-Wa">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Seminar: Analysis
    </td>
    <td rowspan="2">
     G. Wang
    </td>
   </tr>
   <tr>
    <td>
     Mi 16-18, SR 127, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     L. Liu
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-Ke">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Seminar: Knotentheorie
    </td>
    <td>
     S. Kebekus
    </td>
   </tr>
   <tr>
    <td>
     Tutorium dazu
    </td>
    <td>
     A. Demleitner
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-Go">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/geometrie/lehre/ss2020/MT/">
      Seminar: Topologie von Mannigfaltigkeiten
     </a>
    </td>
    <td rowspan="2">
     S. Goette
    </td>
   </tr>
   <tr>
    <td>
     Di 14-16, SR 127, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     J. Schnitzer
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-We">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/mathphys/lehre/SoSe20/Strings.html">
      Seminar: String Theorie
     </a>
    </td>
    <td rowspan="2">
     K. Wendland, J. van der Bij
    </td>
   </tr>
   <tr>
    <td>
     Mo 14-16, Raum im Wechsel, SR 127 und SR II im Physik-Hochhaus
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     M. Ungureanu
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Termine im SR 125: 20.04.; 04.05.; 18.05.; 08.06.; 22.06.; 06.07.; 20.07.2020
     </i>
     <br/>
     <i>
      Termine im SR II Physik-Hochhaus: 27.04.; 11.05.; 25.05.; 15.06.; 29.06.; 13.07.2020
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-Mi">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/mildenberger/veranstaltungen/ss20/seminar.html">
      Seminar: Forcingtechniken und Erhaltungssätze
     </a>
    </td>
    <td rowspan="2">
     H. Mildenberger
    </td>
   </tr>
   <tr>
    <td>
     Mo 16-18, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     B. Stuber-Rousselle
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_UaAC">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Seminar: Ultrafilters and Asymptotic Combinatorics
    </td>
    <td rowspan="2">
     D. Palacin
    </td>
   </tr>
   <tr>
    <td>
     Mi 10-12, SR 125, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     D. Palacin
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-Ru">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="https://aam.uni-freiburg.de/agru/lehre/ss20/dynamik.html">
      Seminar: Strömungsdynamik
     </a>
    </td>
    <td rowspan="2">
     M. Růžička
    </td>
   </tr>
   <tr>
    <td>
     Fr 10-12, SR 127, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     A. Kaltenbach
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-Do">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="https://aam.uni-freiburg.de/agdo/lehre/ss20/opt/">
      Seminar: Optimierungsaufgaben mit Nebenbedingungen
     </a>
    </td>
    <td rowspan="2">
     P. Dondl
    </td>
   </tr>
   <tr>
    <td>
     Mo 14-16, SR 226, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     L. Courte
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Einige Vorträge sind für Studierende im M.Ed. bzw. Lehramt nach GymPO geeignet.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-Ro">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="https://www.stochastik.uni-freiburg.de/lehre/ss-2020/seminar-mathematical-foundations-of-statistical-learning-ss-2020">
      Seminar: Mathematical Foundations of Statistical Learning
     </a>
    </td>
    <td rowspan="2">
     A. Rohde
    </td>
   </tr>
   <tr>
    <td>
     Di 10-12, SR 127, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     D. Kieffer
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-Bi">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Seminar: Medical Data Science
    </td>
    <td rowspan="2">
     H. Binder
    </td>
   </tr>
   <tr>
    <td>
     Mi 10-11:30, SR 226, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-LK">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Seminar: Quantitative Finance
    </td>
    <td rowspan="2">
     E. Lütkebohmert-Holtz
    </td>
   </tr>
   <tr>
    <td>
     Di 8:30-10, HS 3043, KG III
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     J. Ansari
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h2>
     4. Oberseminare, Projektseminare und Kolloquien
    </h2>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h3>
     4a. Oberseminare
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="15_OS-A">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Oberseminar: Algebra, Zahlentheorie und algebraische Geometrie
    </td>
    <td rowspan="2">
     S. Kebekus, W. Soergel
    </td>
   </tr>
   <tr>
    <td>
     Fr 10-12, SR 404, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="15_OS-AM">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Oberseminar: Angewandte Mathematik
    </td>
    <td rowspan="2">
     S. Bartels, P. Dondl, M. Růžička
    </td>
   </tr>
   <tr>
    <td>
     Di 14-16, SR 226, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="15_OS-DG">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Oberseminar: Differentialgeometrie
    </td>
    <td rowspan="2">
     S. Goette, N. Große, K. Wendland
    </td>
   </tr>
   <tr>
    <td>
     Mo 16-18, SR 404, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="15_OS-ML">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Oberseminar: Mathematische Logik
    </td>
    <td rowspan="2">
     A. Martín Pizarro, H. Mildenberger
    </td>
   </tr>
   <tr>
    <td>
     Mi 16-18, SR 404, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="15_OS-MS">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Oberseminar: Stochastik
    </td>
    <td rowspan="2">
     P. Harms, P. Pfaffelhuber, A. Rohde, T. Schmidt
    </td>
   </tr>
   <tr>
    <td>
     Fr 13-14, SR 404, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="15_OS-Med">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Oberseminar: Medizinische Statistik
    </td>
    <td rowspan="2">
     H. Binder
    </td>
   </tr>
   <tr>
    <td>
     Mi 11:30-13, SR 226, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     4b. Projektseminare und Lesekurse
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="16_LKWA">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Lesekurse „Wissenschaftliches Arbeiten“
    </td>
    <td>
     Alle Dozentinnen und Dozenten der Mathematik
    </td>
   </tr>
   <tr>
    <td colspan="2">
     – nach persönlicher Absprache –
     <br/>
     <i>
      Nähere Informationen: siehe Kommentiertes Vorlesungsverzeichnis
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="16_Pj-Do">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Projektseminar: Angewandte Analysis
    </td>
    <td rowspan="2">
     S. Bartels, P. Dondl
    </td>
   </tr>
   <tr>
    <td>
     Mo 16-18, SR 226, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="16_Pj-GA">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Projektseminar: Geometrische Analysis
    </td>
    <td rowspan="2">
     E. Kuwert, G. Wang
    </td>
   </tr>
   <tr>
    <td>
     Di 16-18, SR 404, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     L. Schiemanowski
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="16_Pj-Wa">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Projektseminar: Geometrische PDE
    </td>
    <td rowspan="2">
     G. Wang
    </td>
   </tr>
   <tr>
    <td>
     (Zeit/Ort nicht bekannt)
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     L. Liu
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="16_Pj-Ru">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Projektseminar: Nicht-Newtonsche Flüssigkeiten
    </td>
    <td rowspan="2">
     M. Růžička
    </td>
   </tr>
   <tr>
    <td>
     Fr 14-16, SR 127, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="16_Pj-Pf">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Projektseminar: Stochastik in der Biologie
    </td>
    <td>
     P. Pfaffelhuber
    </td>
   </tr>
   <tr>
    <td>
     Tutorium dazu
    </td>
    <td>
     T. Enger
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     Termin nach Vereinbarung
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="16_GK">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Seminar des Graduiertenkollegs 1821
    </td>
    <td rowspan="2">
     S. Goette, N. Große, A. Haydys, S. Kebekus, W. Soergel, K. Wendland
    </td>
   </tr>
   <tr>
    <td>
     Mi 14-16, SR 404, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="16_Pj-Ro">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="https://www.stochastik.uni-freiburg.de/lehre/ss-2020/projektseminar-aktuelle-forschungsthemen-der-statistik-ss2020">
      Projektseminar: Aktuelle Forschungsthemen der Statistik
     </a>
    </td>
    <td rowspan="2">
     A. Rohde
    </td>
   </tr>
   <tr>
    <td>
     Mo 14-16, Raum 232, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     P. Beckedorf
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Das Projektseminar kann im M.Sc.-Studiengang auch als Seminar benutzt werden.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="16_Pj-Hm">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Projektseminar: Abelian Varieties
    </td>
    <td rowspan="2">
     F. Hörmann
    </td>
   </tr>
   <tr>
    <td>
     Di 14-16, SR 119, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Das Projektseminar kann im M.Sc.-Studiengang auch als Seminar benutzt werden.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     4c. Kolloquien und weitere Veranstaltungen
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="17_Koll">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="https://wochenprogramm.mathematik.uni-freiburg.de/kolloquium.html">
      Kolloquium der Mathematik
     </a>
    </td>
    <td rowspan="2">
     Alle Dozentinnen und Dozenten der Mathematik
    </td>
   </tr>
   <tr>
    <td>
     Do 17:00-18:00, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     – besondere Ankündigung –
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="17_DidS">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Didaktisches Seminar
    </td>
    <td rowspan="2">
     K. Böcherer-Linder, E. Kuwert
    </td>
   </tr>
   <tr>
    <td>
     Di 19:30-21:00, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     – besondere Ankündigung; etwa 14-täglich –
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="17_IntFS">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Internationales Forschungsseminar Algebraische Geometrie (IRMA) (Freiburg – Nancy – Strasbourg)
    </td>
    <td>
     S. Kebekus
    </td>
   </tr>
   <tr>
    <td colspan="2">
     – besondere Ankündigung: zwei Termine pro Semester –
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="17_MPKol">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Mathematisch-Physikalisches Kolloquium
    </td>
    <td rowspan="2">
     A. Buchleitner, S. Goette, N. Große, W. Soergel, K. Wendland
    </td>
   </tr>
   <tr>
    <td>
     Fr 14-17, wechselnder Hörsaal, siehe Ankündigung
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     – besondere Ankündigung; etwa monatlich –
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="17_FDM">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Seminar über Datenanalyse und Modellbildung
    </td>
    <td rowspan="2">
     H. Binder, P. Harms, P. Pfaffelhuber, A. Rohde, T. Schmidt, J. Timmer
    </td>
   </tr>
   <tr>
    <td>
     Fr 12-13, SR 404, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     – 14-täglich –
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
 </table>
</div>
