<div class="container" id="inhalt">
 <h1>
  Lehrveranstaltungen im Sommersemester 2022
 </h1>
 <!--  <b style="color:red">Achtung: Dies ist eine vorläufige Veranstaltungsplanung für das Sommersemester 2022 (die von Präsenzbetrieb ausgeht). Änderungen sind im Veranstaltungangebot, vor allem aber bei Zeiten und Räumen möglich!</b> -->
 <h2>
  Erläuterungen
 </h2>
 <h3>
  Pflichtveranstaltungen:
 </h3>
 <dl>
  <dt>
   B
  </dt>
  <dd>
   Pflichtveranstaltung im B.Sc. (PO 2021)
  </dd>
  <dt>
   E
  </dt>
  <dd>
   Pflichtveranstaltung im M.Ed.
  </dd>
  <dt>
   Z
  </dt>
  <dd>
   Pflichtveranstaltung im 2-Hauptfächer-Bachelor
  </dd>
  <dt>
   Z*
  </dt>
  <dd>
   Pflichtveranstaltung der Lehramtsoption im 2-HF-Bachelor
  </dd>
 </dl>
 <h3>
  Wahlpflichtveranstaltungen:
 </h3>
 <dl>
  <dt>
   II
  </dt>
  <dd>
   Veranstaltung der Kategorie II:
   <br/>
   geeignet als Wahlpflichtmodul im BSc;
   <br/>
   im MSc verwendbar für die Module
"Angewandte Mathematik", "Reine Mathematik" und im Wahlmodul;
   <br/>
   in der Regel im Lehramt nach GymPO und im MEd als vertiefte Vorlesung und für den Optionsbereich des 2-Hf-Bachelors geeignet (Voraussetzungen beachten!)
  </dd>
  <dt>
   III
  </dt>
  <dd>
   Veranstaltung der Kategorie III:
   <br/>
   im MSc in allen Modulen
verwendbar;
   <br/>
   einzelne Veranstaltungen sind bei geeigneten Vorkenntnissen für
den Wahlpflichtbereich des BSc geeignet
  </dd>
  <dt>
   W
  </dt>
  <dd>
   kann im BSc und MSc als Wahlmodul oder im Optionsbereich des 2-Hf-Bachelors
verwendet werden; stets Studienleistung!
  </dd>
 </dl>
 <p>
  Die angegebenen ECTS-Punkte gelten für die Verwendung von Veranstaltungen im
Wahlpflicht- oder Wahlbereich des jeweiligen Studiengangs. Die ECTS-Punktzahl
von Pflichtveranstaltungen ist in der Prüfungsordnung festgeschrieben.
 </p>
 <dl>
  <dt>
   HS
  </dt>
  <dd>
   Hörsaal
  </dd>
  <dt>
   SR
  </dt>
  <dd>
   Seminarraum
  </dd>
 </dl>
 <p>
  <b>
   Hinweis:
  </b>
  Ausführliche Informationen (Vorkenntnisse,
Folgeveranstaltungen, Prüfungen) finden sich in den von der Fakultät
herausgegebenen “Kommentaren zu den Lehrveranstaltungen
Mathematik”. (siehe auch:
  <a href="http://www.math.uni-freiburg.de/lehre/v/">
   http://www.math.uni-freiburg.de/lehre/v/
  </a>
  )
 </p>
 <table class="vlverz">
  <col/>
  <col/>
  <col/>
  <tr>
   <td colspan="3">
    <h2>
     1. Vorlesungen
    </h2>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h3>
     1a. Einführende Vorlesungen und Pflichtvorlesungen der verschiedenen Studiengänge
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="5_LA2">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      B, Z
     </div>
    </td>
    <td>
     <a href="https://home.mathematik.uni-freiburg.de/mildenberger/veranstaltungen/ss22/la.html">
      Lineare Algebra II
     </a>
    </td>
    <td rowspan="2">
     H. Mildenberger
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di, Do 8-10, HS Rundbau, Albertstr. 21
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz und Fragestunde
    </td>
    <td>
     Ch. Bräuninger
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="5_Ana2">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      B, Z
     </div>
    </td>
    <td>
     <a href="https://home.mathematik.uni-freiburg.de/geometrie/lehre/ss2022/Ana2/">
      Analysis II
     </a>
    </td>
    <td rowspan="2">
     S. Goette
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, Mi 8-10, HS Rundbau, Albertstr. 21
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     J. Schnitzer
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="5_3">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     0
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://home.mathematik.uni-freiburg.de/knies/lehre/bkla/index1.html">
      Brückenkurs Lineare Algebra
     </a>
    </td>
    <td>
     Organisation: S. Knies
    </td>
   </tr>
   <tr>
    <td colspan="2">
     <i>
      Für Studierende im 2-Hauptfächer-Bachelors, die nach Studienplanvariante 3 Analysis II belegen, ohne Lineare Algebra I gehört zu haben. Bitte Teilnahmewunsch  bis spätestens 11. April melden!
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="5_ElGeo">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      II, Z
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/arithgeom/lehre/ss22/elementargeometrie/index.html">
      Elementargeometrie
     </a>
    </td>
    <td rowspan="2">
     A. Huber-Klawitter
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Fr 8-10, HS Weismann-Haus, Albertstr. 21a
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz und Fragestunde
    </td>
    <td>
     P. Núñez
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Im M.Sc.-Studiengang nicht verwendbar.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="5_Num">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      B, Z
     </div>
    </td>
    <td>
     <a href="https://aam.uni-freiburg.de/agba/lehre/ss22/num/index.html">
      Numerik II
     </a>
    </td>
    <td rowspan="2">
     S. Bartels
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mi 14-16, HS Rundbau, Albertstr. 21
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig, 14-täglich): verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     Z. Wang
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="5_Sto2">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      II, Z
     </div>
     5
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://www.stochastik.uni-freiburg.de/lehre/ss-2022/vorlesung-stochastik-2-ss-2022">
      Stochastik II
     </a>
    </td>
    <td rowspan="2">
     T. Schmidt
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Fr 10-12, HS Weismann-Haus, Albertstr. 21a
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig, 14-täglich): Siehe Vorlesungsseite
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     M. Ritter
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Pflicht im B.Sc.-Studiengang nach PO 2012; Wahlpflicht (5 ECTS) im B.Sc.-Studiengang nach PO 2021. Im M.Sc.-Studiengang nicht verwendbar.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     1b. Weiterführende vierstündige Vorlesungen
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="7_DGuH">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     8
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://vorlesungsverzeichnis.unibas.ch/de/home?id=264987">
      Diophantische Gleichungen und Höhen
     </a>
    </td>
    <td>
     Ph. Habegger
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung in Basel im Hybrid-Format, 23.2.–3.6.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Modulprüfungen im M.Sc.
    </td>
    <td>
     A. Huber-Klawitter
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <span style="color: red">
      Zeitraum: 23. Februar bis 3. Juni 2022
     </span>
     <br/>
     <i>
      Kann im M.Sc in den Modulen "Reine Mathematik", "Mathematik" und im Vertiefungsmodul wie eine 4-stündige Vorlesung verwendet werden.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_FA">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      II
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://home.mathematik.uni-freiburg.de/ngrosse/teaching/Vorlesungen/Funktionalanalysis.html">
      Funktionalanalysis
     </a>
    </td>
    <td rowspan="2">
     N. Große
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di, Do 10-12, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     M. Amann
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_FT">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      II
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://cplx.vm.uni-freiburg.de/de/teaching/">
      Funktionentheorie
     </a>
    </td>
    <td rowspan="2">
     S. Kebekus
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mi, Fr 8-10, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     A. Demleitner
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_geoAn">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://home.mathematik.uni-freiburg.de/analysis/GeometrischeAnalysis_SoSo22/">
      Geometrische Analysis
     </a>
    </td>
    <td rowspan="2">
     E. Kuwert
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di, Do 10-12, SR 404, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     J. Metsch
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_kommA">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/arithgeom/lehre/ss22/kommalg22b/kommalg22.html">
      Kommutative Algebra und Einführung in die algebraische Geometrie
     </a>
    </td>
    <td rowspan="2">
     A. Huber-Klawitter
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di, Do 8-10, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Zusatz-Übungen 2-stündig
    </td>
    <td>
     Ch. Brackenhofer
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     L. Terenzi
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_elDG">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      II
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://home.mathematik.uni-freiburg.de/analysis/DiffgeoSoSe2022">
      Kurven und Flächen (ehemals: Elementare Differentialgeometrie)
     </a>
    </td>
    <td rowspan="2">
     Ch. Ketterer
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, Mi 10-12, HS Weismann-Haus, Albertstr. 21a
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     M. Müller
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Die Vorlesung "Elementare Differentialgeometrie" wird umbenannt in "Kurven und Flächen".
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_Logik">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      II
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://home.mathematik.uni-freiburg.de/loesch/lehre/ss22/">
      Mathematische Logik
     </a>
    </td>
    <td rowspan="2">
     A. Martín Pizarro
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di, Do 12-14, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     M. Lösch
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_NOCSE">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     6/9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://syscop.de/teaching/ss2022/numerical-optimal-control">
      Numerical Optimal Control in Science and Engineering
     </a>
    </td>
    <td rowspan="2">
     M. Diehl
    </td>
   </tr>
   <tr>
    <td>
     Übung: Do 14-16, SR 226, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Vorlesung (2-stündig): asynchrones digitales Angebot
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     F. Messerer
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Online-Kurs in Englisch (6 ECTS-Punkte). Mit zusätzlicher Projektarbeit (3 ECTS-Punkte) als Vorlesung mit 9 ECTS-Punkten anrechenbar.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_Top">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      II
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     Topologie
    </td>
    <td rowspan="2">
     W. Soergel
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, Mi 10-12, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     L. Patimo
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_Var2">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     Variationsrechnung II
    </td>
    <td rowspan="2">
     G. Wang
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, Mi 8-10, SR 404, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     F. Yang
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_WT">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      II
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://www.stochastik.uni-freiburg.de/lehre/ss-2022/vorlesung-wahrscheinlichkeitstheorie-ss-2022">
      Wahrscheinlichkeitstheorie
     </a>
    </td>
    <td rowspan="2">
     T. Schmidt
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, Mi 12-14, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Siehe Vorlesungsseite
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     M. Ritter
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_stoIF">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     Wahrscheinlichkeitstheorie III: Stochastische Analysis
    </td>
    <td rowspan="2">
     A. Rohde
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, Mi 14-16, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     J. Brutsche
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Zählt als identisch mit "Mathematische Integration und Finanzmathematik"
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     1c. Weiterführende zweistündige Vorlesungen
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="8_FouRe">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     Fourier-Reihen
    </td>
    <td rowspan="2">
     K. Fedosova
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Do 14-16, SR 125, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="8_MaMod">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://aam.uni-freiburg.de/mitarb/maione/Lehre/MM/index.html?l=de">
      Mathematical Modelling
     </a>
    </td>
    <td rowspan="2">
     A. Maione
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di 10-12, SR 226, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="8_NMoPA">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     Nonstandard Models of Peano Arithmetic
    </td>
    <td rowspan="2">
     M. Levine
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mi 14-16, SR 125, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="8_NOCSE">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     6/9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://syscop.de/teaching/ss2022/numerical-optimal-control">
      Numerical Optimal Control in Science and Engineering
     </a>
    </td>
    <td rowspan="2">
     M. Diehl
    </td>
   </tr>
   <tr>
    <td>
     Übung: Do 14-16, SR 226, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Vorlesung (2-stündig): asynchrones digitales Angebot
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     F. Messerer
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Online-Kurs in Englisch (6 ECTS-Punkte). Mit zusätzlicher Projektarbeit (3 ECTS-Punkte) als Vorlesung mit 9 ECTS-Punkten anrechenbar.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="8_NumDG">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      II
     </div>
     5
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://aam.uni-freiburg.de/agdo/lehre/ss22/numdgl/">
      Numerik für Differentialgleichungen
     </a>
    </td>
    <td rowspan="2">
     P. Dondl
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mi 10-12, SR 226, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig, 14-täglich): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     C. Hounkpe
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="8_OpTra">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     Optimal Transport
    </td>
    <td rowspan="2">
     Ch. Ketterer
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di 14-16, SR 125, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     1d. Lehrexportveranstaltungen
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="9_M2Inf">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="https://www.stochastik.uni-freiburg.de/lehre/ss-2022/vorlesung-math-II-inf-SS2022">
      Mathematik II für Studierende der Informatik
     </a>
    </td>
    <td rowspan="2">
     E. A. von Hammerstein
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung (4-stündig): Mo, Mi 10-12, HS 00-026, Geb. 101, Georges-Köhler-Allee
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     S. Glaffig
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="9_M2Ing">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="https://aam.uni-freiburg.de/agdo/lehre/ss22/mathe2/">
      Mathematik II für Studierende der Ingenieurwissenschaften
     </a>
    </td>
    <td rowspan="2">
     P. Dondl
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung (4-stündig): Mo, Mi 16-18, HS Rundbau, Albertstr. 21
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     Z. Wang
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="9_M2NW">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Mathematik II für Studierende der Naturwissenschaften
    </td>
    <td rowspan="2">
     S. Knies
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di, Do 10-12, HS Rundbau, Albertstr. 21
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     M. Hoferichter
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="9_StInf">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Stochastik für Studierende der Informatik
    </td>
    <td rowspan="2">
     P. Pfaffelhuber
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung (2-stündig): Mo 10-12, HS 00-036, Geb. 101, Georges-Köhler-Allee
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz und Fragestunde
    </td>
    <td>
     J. Stiefel
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h2>
     2. Berufsorientierte Veranstaltungen
    </h2>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h3>
     2a. Begleitveranstaltungen
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="10_LdL">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      W
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href=" https://home.mathematik.uni-freiburg.de/ldl/index1.html">
      Lernen durch Lehren
     </a>
    </td>
    <td>
     Alle Dozentinnen und Dozenten der Mathematik
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="10_B">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     0
     <small>
      ECTS
     </small>
    </td>
    <td>
     Betreutes Rechnen
    </td>
    <td>
     Organisation: Fachschaft
    </td>
   </tr>
   <tr>
    <td colspan="2">
     <i>
      Tutoren helfen bei Fragen zu Übungsaufgaben und Vorlesungen. Freiwilliges Angebot, typischerweise für Drittsemester-Vorlesungen.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     2b. Fachdidaktik
    </h3>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    Bitte schauen Sie im Kommentierten Vorlersungsverzeichnis nach, ob zu den Veranstaltungen eine Voranmeldung nötig ist.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tbody class="course_snip" id="11_ModulFDM">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      Z*
     </div>
     5
     <small>
      ECTS
     </small>
    </td>
    <td>
     Fachdidaktik Mathematik
    </td>
    <td>
     K. Böcherer-Linder
    </td>
   </tr>
   <tr>
    <td colspan="2">
     <i>
      Modul für die Lehramtsoption im Zwei-Hautptfächer-Bachelor-Studiengang und für die M.Ed.-Studiengänge "Mathematik als Erweiterungsfach", bestehend aus der folgenden Veranstaltung:
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="11_EFD">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Einführung in die Fachdidaktik der Mathematik
    </td>
    <td rowspan="2">
     K. Böcherer-Linder
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung (2-stündig): Mo 10-12, SR 226, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Seminar/Übung (2-stündig, Termin zur Wahl im Rahmen der Kapazitäten): Di 12-14, SR 127, Ernst-Zermelo-Straße 1, Mi 10-12, SR 125, Ernst-Zermelo-Straße 1
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Der Besuch des Didaktischen Seminars (zweiwöchentlich, Dienstag abends, 19:30 Uhr) wird erwartet!
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="11_FD-FA">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      E
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     Didaktik der Funktionen und der Analysis
    </td>
    <td rowspan="2">
     R. Erens
    </td>
   </tr>
   <tr>
    <td>
     Mi 15-18, SR 127, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="11_FD-SA">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      E
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     Didaktik der Stochastik und der Algebra
    </td>
    <td rowspan="2">
     K. Böcherer-Linder
    </td>
   </tr>
   <tr>
    <td>
     Di 9-12, SR 127, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="11_FDS">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     4
     <small>
      ECTS
     </small>
    </td>
    <td>
     Fachdidaktische Entwicklung: Erkunden, Entdecken – Begründen, Beweisen im Geometrieunterricht
    </td>
    <td rowspan="2">
     K. Böcherer-Linder
    </td>
   </tr>
   <tr>
    <td>
     Mi 12-14, SR 226, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="11_FF">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     4
     <small>
      ECTS
     </small>
    </td>
    <td>
     Fachdidaktische Forschung
    </td>
    <td>
     Dozenten der PH Freiburg
    </td>
   </tr>
   <tr>
    <td colspan="2">
     <i>
      Dreiteiliges Modul für die Studierenden im M.Ed., die eine fachdidaktische Master-Arbeit in Mathematik schreiben möchten. Teilnahme nur nach persönlicher Anmeldung bis Ende der Vorlesungszeit des Wintersemesters in der Abteilung für Didaktik.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="11_FF-E">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Fachdidaktische Forschung, Teil 1: Fachdidaktische Entwicklungsforschung zu ausgewählten Schwerpunkten
    </td>
    <td rowspan="2">
     F. Reinhold
    </td>
   </tr>
   <tr>
    <td>
     Mo 14-16, Kleines Auditorium / 101, PH Freiburg
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Anmeldung zum Seminar wie im Kommentierten Vorlesungsverzeichnis beschrieben.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="11_FF-M">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Fachdidaktische Forschung, Teil 2: Methoden der mathematikdidaktischen Forschung
    </td>
    <td rowspan="2">
     F. Reinhold
    </td>
   </tr>
   <tr>
    <td>
     Mo 10-12, Mensa 3 / Zwischendeck SR 032, PH Freiburg
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Mo 12-14, Mensa 3 / Zwischendeck SR 032, PH Freiburg
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     jeweils 27.06.–25.07.
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="11_FF-S">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Fachdidaktische Forschung, Teil 3: Entwicklung und Optimierung eines fachdidaktischen Forschungsprojekts
    </td>
    <td>
     Dozenten der PH Freiburg
    </td>
   </tr>
   <tr>
    <td>
     Termine nach Vereinbarung
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Teil 1 ist Teilnahmevoraussetzung!
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     2c. Praktische Übungen
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="12_CKurs">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      B
     </div>
    </td>
    <td>
     <a href=" https://aam.uni-freiburg.de/agdo/lehre/ss22/prog/index.html">
      Einführung in die Programmierung für Studierende der Naturwissenschaften
     </a>
    </td>
    <td rowspan="2">
     L. Striet
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo 16-18, HS Weismann-Haus, Albertstr. 21a
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Fragestunde: (Zeit/Ort nicht bekannt)
    </td>
    <td>
     J. Gerstenberger
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Im B.Sc.-Studiengang verpflichtender BOK-Kurs; Belegung innerhalb der Belegfrist des ZfS.
     </i>
     <br/>
     <i>
      Im 2-Hf-Bachelor- und im M.Ed.-Studiengang verwendbar für das Modul
"Praktische Übung" bzw. "Mathematische Ergänzung" (bei gleichen Anforderungen wie im B.Sc.-Studiengang). Belegung für diese Studiengänge über das entsprechende Modul im Studienplaner und nicht als BOK-Kurs!
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="12_PrNum">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      B
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     Praktische Übung zu „Numerik“
    </td>
    <td>
     S. Bartels
    </td>
   </tr>
   <tr>
    <td>
     Übung (2-stündig, 14-täglich): verschiedene Termine, CIP Pool Raum 201, Hermann-Herder-Str. 10
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     Z. Wang
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      2. Teil der zweisemestrigen Veranstaltung
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="12_PrNDg">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      II
     </div>
     1
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://aam.uni-freiburg.de/agdo/lehre/ss22/numdgl/">
      Praktische Übung zu „Numerik für Differentialgleichungen“
     </a>
    </td>
    <td>
     P. Dondl
    </td>
   </tr>
   <tr>
    <td>
     Übung (2-stündig, 14-täglich): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Nur zusammen Vorlesung und Übung!
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="12_PrSto2">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      W
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://www.stochastik.uni-freiburg.de/lehre/ss-2022/prakueb-stochastik-ss-2022">
      Praktische Übung zu „Stochastik“
     </a>
    </td>
    <td rowspan="2">
     E. A. von Hammerstein
    </td>
   </tr>
   <tr>
    <td>
     Di 10-12, HS Weismann-Haus, Albertstr. 21a
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Pflicht im B.Sc.-Studiengang nach PO 2012; Wahlmodul (3 ECTS) im B.Sc.-Studiengang nach PO 2021. Im M.Sc.-Studiengang nicht verwendbar.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h2>
     3. Seminare
    </h2>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h3>
     3a. Proseminare
    </h3>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    Die Seminarplätze werden am Ende der Vorlesungszeit des Wintersemesters vergeben. Im Kommentierten Vorlesungsverzeichnis wird für jedes Proseminar beschrieben, ob und wie eine Voranmeldung erfolgen muss und wann die Vorbesprechung stattfindet.
Sofern Sie einen Platz in einem Proseminar erhalten haben, müssen Sie sich noch online zur Prüfung anmelden; der Anmeldezeitraum läuft voraussichtlich vom 1. März bis 20. April 2022.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tbody class="course_snip" id="13_PS-Kn">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href=" https://home.mathematik.uni-freiburg.de/knies/lehre/ss22/psvaria/index.html">
      Proseminar: Einführung in die Variationsrechnung
     </a>
    </td>
    <td rowspan="2">
     S. Knies
    </td>
   </tr>
   <tr>
    <td>
     Do 14-16, SR 404, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium zum Proseminar
    </td>
    <td>
     A. Kaltenbach
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="13_PS-vH">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://www.stochastik.uni-freiburg.de/lehre/ss-2022/proseminar-kombinatorik-ss-2022">
      Proseminar: Kombinatorik
     </a>
    </td>
    <td rowspan="2">
     E. A. von Hammerstein
    </td>
   </tr>
   <tr>
    <td>
     Di 14-16, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium zum Proseminar
    </td>
    <td>
     E. A. von Hammerstein
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="13_PS-So">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     Proseminar: Gemischte Kost
    </td>
    <td rowspan="2">
     W. Soergel
    </td>
   </tr>
   <tr>
    <td>
     Mo 14-16, SR 125, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium zum Proseminar
    </td>
    <td>
     L. Patimo
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="13_PS-SU">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     Proseminar: Universelle Eigenschaften
    </td>
    <td rowspan="2">
     J. Schnitzer, M. Ungureanu
    </td>
   </tr>
   <tr>
    <td>
     Do 12-14, SR 404, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium zum Proseminar
    </td>
    <td>
     J. Schnitzer, M. Ungureanu
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     3b. Seminare
    </h3>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    Die Seminarplätze werden in der Regel am Ende der Vorlesungszeit des Wintersemesters vergeben. Im Kommentierten Vorlesungsverzeichnis wird für jedes Seminar beschrieben, ob und wie eine Voranmeldung erfolgen muss und wann die Vorbesprechung stattfindet.
Sofern Sie einen Platz in einem Seminar erhalten haben, müssen Sie sich noch online zur Prüfung anmelden; der Anmeldezeitraum läuft voraussichtlich vom 1. März bis 20. April 2022.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tbody class="course_snip" id="14_S-Wa">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://home.mathematik.uni-freiburg.de/analysis/SEMHarmonischeAbbildungenSoSe22">
      Seminar: Analysis
     </a>
    </td>
    <td rowspan="2">
     G. Wang
    </td>
   </tr>
   <tr>
    <td>
     Di 12-14, SR 404, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium zum Seminar
    </td>
    <td>
     M. Müller
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-Go">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://home.mathematik.uni-freiburg.de/geometrie/lehre/ss2022/SpinGeo/">
      Seminar: Spin-Geometrie
     </a>
    </td>
    <td rowspan="2">
     S. Goette, N. Große
    </td>
   </tr>
   <tr>
    <td>
     Mo 14-16, SR 127, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium zum Seminar
    </td>
    <td>
     M. Ungureanu
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-Mi">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://home.mathematik.uni-freiburg.de/mildenberger/veranstaltungen/ss22/seminar.html">
      Seminar: Whitehead's Problem
     </a>
    </td>
    <td rowspan="2">
     H. Mildenberger
    </td>
   </tr>
   <tr>
    <td>
     Mo 14-16, SR 404, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium zum Seminar
    </td>
    <td>
     M. Levine
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-Ju">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     Seminar: Kombinatorische Gruppentheorie
    </td>
    <td rowspan="2">
     M. Junker
    </td>
   </tr>
   <tr>
    <td>
     Mi 10-12, SR 318, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium zum Seminar
    </td>
    <td>
     R. Jaoui
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-Ba">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     Seminar: Interpolations- und Projektionsoperatoren
    </td>
    <td rowspan="2">
     S. Bartels
    </td>
   </tr>
   <tr>
    <td>
     Mi 16-18, SR 226, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium zum Seminar
    </td>
    <td>
     V. Jackisch
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-Pf">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     Seminar: Probalistische Anwendungen in der Forensischen Genetik
    </td>
    <td rowspan="2">
     P. Pfaffelhuber
    </td>
   </tr>
   <tr>
    <td>
     Do 10-12, SR 125, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium zum Seminar
    </td>
    <td>
     T. Enger
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-Ro">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     Seminar: Mathematische Statistik im Informationszeitalter
    </td>
    <td rowspan="2">
     A. Rohde
    </td>
   </tr>
   <tr>
    <td>
     Di 14-16, SR 127, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium zum Seminar
    </td>
    <td>
     S. Glaffig
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-Bi">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     Seminar: Medical Data Science
    </td>
    <td rowspan="2">
     H. Binder
    </td>
   </tr>
   <tr>
    <td>
     Mi 10-11:30, SR 127, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-Sa">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     Seminar: Approximation Properties of Neural Networks
    </td>
    <td rowspan="2">
     D. Salimova
    </td>
   </tr>
   <tr>
    <td>
     Do 14-16, -, online
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium zum Seminar
    </td>
    <td>
     C. Hounkpe
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h2>
     4. Oberseminare, Projektseminare und Kolloquien
    </h2>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h3>
     4a. Oberseminare
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="15_OS-A">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Oberseminar: Algebra, Zahlentheorie und algebraische Geometrie
    </td>
    <td rowspan="2">
     A. Huber-Klawitter, S. Kebekus, W. Soergel
    </td>
   </tr>
   <tr>
    <td>
     Fr 10-12, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="15_OS-AM">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Oberseminar: Angewandte Mathematik
    </td>
    <td rowspan="2">
     S. Bartels, P. Dondl
    </td>
   </tr>
   <tr>
    <td>
     Di 14-16, SR 226, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="15_OS-DG">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Oberseminar: Differentialgeometrie
    </td>
    <td rowspan="2">
     S. Goette, N. Große, Ch. Ketterer
    </td>
   </tr>
   <tr>
    <td>
     Mo 16-18, SR 125, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="15_OS-ML">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="https://wochenprogramm.mathematik.uni-freiburg.de/v.html?V=Oberseminar%3A+Mathematische+Logik&amp;Semester=SS2022">
      Oberseminar: Mathematische Logik
     </a>
    </td>
    <td rowspan="2">
     A. Martín Pizarro, H. Mildenberger
    </td>
   </tr>
   <tr>
    <td>
     Di 14:30-16, SR 404, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="15_OS-MS">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Oberseminar: Stochastik
    </td>
    <td rowspan="2">
     P. Pfaffelhuber, A. Rohde, T. Schmidt
    </td>
   </tr>
   <tr>
    <td>
     Fr 13-14, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="15_OS-Med">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Oberseminar: Medizinische Statistik
    </td>
    <td rowspan="2">
     H. Binder
    </td>
   </tr>
   <tr>
    <td>
     Mi 11:30-13, SR 127, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     4b. Projektseminare und Lesekurse
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="16_LKWA">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Lesekurse „Wissenschaftliches Arbeiten“
    </td>
    <td>
     Alle Dozentinnen und Dozenten der Mathematik
    </td>
   </tr>
   <tr>
    <td colspan="2">
     – nach persönlicher Absprache –
     <br/>
     <i>
      Nähere Informationen: siehe Kommentiertes Vorlesungsverzeichnis
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="16_Pj-Do">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Projektseminar: Angewandte Analysis
    </td>
    <td>
     S. Bartels, P. Dondl
    </td>
   </tr>
   <tr>
    <td>
     Termine nach Vereinbarung
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium zum Projektseminar
    </td>
    <td>
     S. Wolff-Vorbeck
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="16_Pj-GA">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Projektseminar: Geometrische Analysis
    </td>
    <td rowspan="2">
     E. Kuwert, G. Wang
    </td>
   </tr>
   <tr>
    <td>
     Di 16-18, SR 127, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     F. Yang
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="16_GK">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Seminar des Graduiertenkollegs 1821
    </td>
    <td rowspan="2">
     S. Goette, N. Große, A. Huber-Klawitter, S. Kebekus, W. Soergel
    </td>
   </tr>
   <tr>
    <td>
     Mi 14-16, SR 226, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium zum Seminar
    </td>
    <td>
     V. Vogelmann
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     4c. Kolloquien und weitere Veranstaltungen
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="17_Koll">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Kolloquium der Mathematik
    </td>
    <td rowspan="2">
     Alle Dozentinnen und Dozenten der Mathematik
    </td>
   </tr>
   <tr>
    <td>
     Do 17:00-18:00, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     – besondere Ankündigung –
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="17_DidS">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Didaktisches Seminar
    </td>
    <td rowspan="2">
     K. Böcherer-Linder, E. Kuwert
    </td>
   </tr>
   <tr>
    <td>
     Di 19:30-21:00, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     – besondere Ankündigung; etwa 14-täglich –
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="17_FDM">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Seminar über Datenanalyse und Modellbildung
    </td>
    <td rowspan="2">
     H. Binder, P. Pfaffelhuber, A. Rohde, T. Schmidt, J. Timmer
    </td>
   </tr>
   <tr>
    <td>
     Fr 12-13, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
 </table>
</div>
