<div class="container" id="inhalt">
  <h2>Lehrveranstaltungen im {{data['semester']}}</h2>
  <table class="vlverz">
    <col />
    <col />
    <col />
    {% for r in data["rubrik"] %}
    <tr>
      <td colspan="3">
        <h2>{{ r[titel] }}</h2>
      </td>
    </tr>
    {% for v in r["veranstaltung"] %}
    <tbody class="course_snip">
      <tr>
        <td rowspan="2">
          <div style="white-space: nowrap"></div>
          {{ v["codes"] }}
        </td>
        <td>
          <a href="{{ v['link'] }}"> {{ v['titel_de'] }} </a>
        </td>
        <td rowspan="2">{{ v['dozenten'] }}</td>
      </tr>
      {% for line in v["raumzeit"] %}
      <tr>
        <td>{{ line }}</td>
      </tr>
      {% enfor %} {% if v["assistenz"] %}
      <tr>
        <td></td>
        <td>Assistenz</td>
        <td>{{ v["assistenz"] }}</td>
      </tr>
      {% endif %}
      <tr>
        <td colspan="3"></td>
      </tr>
    </tbody>
    {% endfor %} {% endfor %}
  </table>
</div>
