{% extends 'base.html' %} {% block navbar %} {% include 'navbar.html' %} {%
endblock %} {% block content %}
<div class="container text-end py-4">
  <div class="row">
    <div class="col">
      {% if studiengang == "" %}
      <a
        href="{{url_for('showlehrveranstaltungen', lang=lang, semester = semester, studiengang = 'MScData24')}}"
        class="btn btn-primary bg-ufr-blue link-dark"
        role="button"
        aria-disabled="true"
      >
        {% if lang == "de" %} Courses for M.Sc. Mathematics in Data and
        Technology {% else %} Courses for M.Sc. Mathematics in Data and
        Technology {% endif %}
      </a>
      <a
        href="{{url_for('showlehrveranstaltungenstundenplan', lang=lang, semester = semester)}}"
        class="btn btn-primary bg-ufr-blue link-dark"
        role="button"
        aria-disabled="true"
      >
        {% if lang == "de" %} Zum Stundenplan {% else %} Timetable for all
        courses {% endif %}
      </a>
      <a
        href="{{url_for('showlehrveranstaltungenpersonenplan', lang=lang, semester = semester)}}"
        class="btn btn-primary bg-ufr-blue link-dark"
        role="button"
        aria-disabled="true"
      >
        {% if lang == "de" %} Zum Personenplan {% else %} Courses of all persons
        {% endif %}
      </a>
      <a
        href="{{url_for('showlehrveranstaltungenbase', lang=lang)}}"
        class="btn btn-primary bg-ufr-blue link-dark"
        role="button"
        aria-disabled="true"
      >
        {% if lang == "de" %} Übersicht aller Semester {% else %} Overview of
        all semesters {% endif %}
      </a>
      {% else %}
      <a
        href="{{url_for('showlehrveranstaltungen', lang=lang, semester = semester)}}"
        class="btn btn-primary bg-ufr-blue link-dark"
        role="button"
        aria-disabled="true"
      >
        {% if lang == "de" %} Alle Lehrveranstaltungen {% else %} All courses {%
        endif %}
      </a>
      {% endif %}
    </div>
  </div>
  {% if studiengang != "" %}
  <div class="row py-4">
    <div class="col">
      {% for m in data["studiengang"]["modul"] %}
      <a
        href="{{url_for('showlehrveranstaltungen', lang=lang, semester = semester, studiengang = studiengang, modul = m['kurzname'])}}"
        class="btn btn-primary bg-ufr-blue link-dark"
        role="button"
        aria-disabled="true"
      >
        {{m["name"]}}
      </a>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</div>

<div class="container py-4" id="inhalt">
  <h2>
    {% if lang == "de" %} Lehrveranstaltungen {% if studiengang == "" %} {% else
    %} für {% if modul == "" %} den {% else %} das Modul {{
    data["modul"]["name"] }} im Studiengang {% endif %} {{
    data['studiengang']['name'] }} {% endif %} im {% else %} Course program {%
    if studiengang == "" %} {% else %} for the {% if modul == "" %} {% else %}
    module {{ data["modul"]["name"] }} in the study program {% endif %} {{
    data['studiengang']['name'] }} {% endif %} in {% endif %}
    {{data['semester']['name']}}
  </h2>
  {% if data['semester']['prefix'] != "" %} {{ data['semester']['prefix'] |
  markdown }} {% endif %}

  <!-- Loop über Rubriken.
    Bsp.
        1a. Einführende Pflichtvorlesungen,
        1b. Weiterführende vierstündige Vorlesungen
        ...
   -->
  {% set modal_index = namespace(value=0) %}
  {% for rubrik in data["rubrik"] %} {% if rubrik['titel'] != "" %}
  <h3>{{ rubrik['titel'] }}</h3>
  {% endif %}
  {% if rubrik['untertitel'] != "" %} <h3>{{ rubrik['untertitel']|markdown }}</h3>{% endif %}
  {% if rubrik['prefix'] != "" %}
  <p>{{ rubrik['prefix']|markdown }}</p>
  {% endif %}
  <div class="container mt-1">
    <div class="row button-grid">
      <!-- Loop über Veranstaltungen -->
      {% for course in rubrik["veranstaltung"] %}


      <!-- Veranstaltungstitel -->
      <div>
          <a href="#"
             data-bs-toggle="modal"
             data-bs-target="#modal-{{modal_index.value}}"
               style="color:#344A9A; font-weight:bold; font-size:129%;"
          >
           {{ course['titel'] }}
           {% if course['link'] != "" %}
            <a href={{course['link']}}> &nbsp; <i class="fa-solid fa-link"></i></a>
           {% endif %}
          </a>

      <!-- Kurzinfo -->
        {% if course['dozent'] != "" %}
        <p style="margin-bottom: 5px;"> <b> Dozent:in: </b> {{ course['dozent']|safe}}</p>
        {% else %}
        <p></p>
        {% endif %}
        {% if course["raumzeit"]|length > 0 %}
          {% for line in course["raumzeit"] -%}
            {% if "Vorlesung" in line or "Lecture" in line -%}
              <p style="margin-bottom: 5px;"> <b> Ort und Zeit: </b> {{ line|safe }}</p>
            {%- endif %}
          {%- endfor %}
        {% endif %}
      <br />

      </div>



      <!-- Modals -->
      <div
        class="modal fade"
        id="modal-{{modal_index.value}}"
        tabindex="-1"
        aria-labelledby="modalLabel-{{modal_index.value}}"
        style="display: none"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- Header -->
            <div class="modal-header">
              {% if course['link'] != "" %}
                <h4 class="modal-title" id="modalLabel-{{modal_index.value}}">
                  <a href="{{ course['link'] | safe}}" style="color:#344A9A"> {{ course['titel']|markdown }} </a>
                </h4>
                <a href={{course['link']}}> <i class="fa-solid fa-link"></i></a>
              {% else %}
                <h4 style="color:#344A9A"> {{ course['titel']|markdown }} </h4>
              {% endif %}
              <!--
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button> -->
            </div>

            <!-- Body -->
            <div class="modal-body">
              <div>
                {% if course["raumzeit"]|length > 0 %}
                <h5>Ort und Zeit</h5>
                {% for line in course["raumzeit"] %}
                <p>{{ line|safe }}</p>
                {% endfor %} {% endif %} {% if course["kommentar"] %}
                <i>{{ course["kommentar"]|markdown }}</i> {% endif %}
              </div>

              <div>
                {% if course['dozent'] != "" %}
                <h5>Dozent:in <br /> </h5>
                {{ course['dozent']|safe}} <br />
                {% endif %} {% if course["assistent"] %}
                <h5>Assistenz</h5>
                <p>{{ course["assistent"]|safe }}</p>
                {% endif %} {% if course["organisation"] %}
                <h5>Organisation</h5>
                <p>{{ course["organisation"]|safe }}</p>
                {% endif %} {% if course['inhalt'] != "" %}
                <h5>Inhalt</h5>
                <p>{{ course['inhalt']|markdown }}</p>
                {% endif %}
              </div>

              <div>
                {% if course['verwendbarkeit'] != "" or course['vorkenntnisse']%}
                  {% if course['vorkenntnisse'] != '' %}
                    {% if lang == 'de' %}<h5>Vorkenntnisse</h5>
                    {% elif lang == 'en' %}<h5>Previous knowledge</h5>
                    {% endif %}
                    <p> {{ course['vorkenntnisse']|markdown }} </p>
                  {% endif %}
                  {% if course['verwendbarkeit'] != '' %}
                    {% if lang == 'de' %}<h5>Verwendbarkeit:</h5>
                    {% elif lang == 'en' %}<h5>Usability:</h5>
                    {% endif %}
                    <p> {{ course['verwendbarkeit']|markdown }}</p>
                  {% endif %}
                {% endif %}
              </div>
            </div>
          </div>

          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Schließen
          </button>
        </div>
      </div>
      {% set modal_index.value = modal_index.value + 1 %}
      {% endfor %}
    </div>

    <!-- Optional: Rubrik - Suffix -->
    {% if rubrik['suffix'] != "" %}
    <div class="row">
      <div class="col-sm-12">{{ rubrik['suffix']|markdown }}</div>
    </div>
    {% endif %}
  </div>
  {% endfor %}
</div>

{% endblock %}
