{% extends 'base.html' %} {% block navbar %} {% include 'navbar.html' %} {%
endblock %} {% block content %}

<div class="container" id="inhalt">
  <h2>Lehrveranstaltungen im {{data['semester']}}</h2>

  {% if data["codes"] != [] %}
  <h2>Codes</h2>
  <table>
    {% for c in data["codes"] %}
    <tr>
      <td style="vertical-align: top"> {{ c["name"] | markdown}}</td>
      <td>c["beschreibung"] | markdown</td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}

  <table class="table table-borderless table-sm">
    {% set ns = namespace(i = 1) %}
    {% for r in data["rubrik"] %}
    <tr>
      <td colspan="3">
        {% if r['titel'] != "" %}
        <h2>{{ r['titel']|markdown }}</h2>
        {% endif %}
      </td>
    </tr>
    <tr>
      <td colspan="3">
        {% if r['untertitel'] != "" %}
        <h4>{{ r['untertitel']|markdown }}</h4>
        {% endif %}
      </td>
    </tr>
    <tr>
      <td colspan="3">
        {% if r['prefix'] != "" %}
        <p>{{ r['prefix']|markdown }}</p>
        {% endif %}
      </td>
    </tr>
    {% for v in r["veranstaltung"] %}
    <tbody class="course_snip">
      <tr {% if ns.i % 2 %} class="bg-light"{% endif %}>
        <td rowspan="1">
          <div style="white-space: nowrap"></div>
          {{i}}{{ v["code"] }}
        </td>
        <td>
          {% if v['link'] != "" %}
          <a href="{{ v['link'] | safe}}"> {{ v['titel']|markdown }} </a>
          {% else %}
          {{ v['titel']|markdown }}
          {% endif %}
        </td>
        <td rowspan="{{ 1 + v['raumzeit'] | length }}">{{ v['dozent'] }}</td>
      </tr>
      {% for line in v["raumzeit"] %}
      <tr {% if ns.i % 2 %} class="bg-light"{% endif %}>
        <td></td>
      <td>{{ line|markdown }}</td>
      </tr>
      {% endfor %} 
      {% if v["assistent"] %}
      <tr {% if ns.i % 2 %} class="bg-light"{% endif %}>
        <td></td>
        <td>Assistenz</td>
        <td>{{ v["assistent"] }}</td>
      </tr>
      {% endif %}
      <tr {% if ns.i % 2 %} class="bg-light"{% endif %}>
        <td colspan="3"></td>
      </tr>
      <tr>
        <td colspan="3"></td>
      </tr>
    </tbody>
    {% set ns.i = ns.i-1 %}
    {% endfor %} 
    <tr>
      <td colspan="3">
        {% if r['suffix'] != "" %}
        <p>{{ r['suffix']|markdown }}</p>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
