{% extends 'base_nlehre.html' %}
{% block navbar %}{% include 'navbar_nlehre.html' %}{% endblock %}

{% block content %}
<div class="container py-4" id="dropdown">
  <h2>{% if lang == "de" %}Lehrveranstaltungen{% else %}Courses{% endif %}</h2>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownPersonenButton"
      data-bs-toggle="dropdown" aria-expanded="false">
      {% if id == "" %}
        {% if lang == "de" %}Bitte Lehrperson auswählen{% else %}Please choose a person{% endif %}
      {% elif id == "all" %}
        {% if lang == "de" %}Lehrveranstaltungen aller Lehrpersonen{% else %}Courses by all teaching staff{% endif %}
      {% else %}
        {% if lang == "de" %}Lehrveranstaltungen von{% else %}Courses by{% endif %}
        {% for p in personen %}{% if p['_id'] == id %}{{ p['name'] }}{% endif %}{% endfor %}
      {% endif %}
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownPersonenButton">
      {% for p in personen %}
      <li>
        <a class="dropdown-item {% if p['_id'] == id %}active{% endif %}"
          href="{{url_for('showlehrveranstaltungenpersonen', lang=lang, id = p['_id'])}}">
          {{ p['name'] }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="container py-4" id="inhalt">
  {% set item_index = namespace(value=0) %}
  {% for d in data %}
  <h2>
    {% if lang == "de" %}Lehrveranstaltungen im{% else %}Course programme in{% endif %}
    {{ d['semester']['name'] }}
  </h2>

  {% for rubrik in d["rubrik"] %}
    {% if rubrik['titel'] != "" %}<h3 class="mt-4">{{ rubrik['titel'] }}</h3>{% endif %}

    {% if rubrik["veranstaltung"]|length > 0 %}
    <div class="ufr-accordion">
      {% for course in rubrik["veranstaltung"] %}
      <div class="ufr-accordion-item">
        <button type="button" class="ufr-accordion-header"
          data-bs-toggle="collapse"
          data-bs-target="#course-{{item_index.value}}"
          aria-expanded="false"
          aria-controls="course-{{item_index.value}}">
          <span class="ufr-accordion-header-content">
            <span class="ufr-accordion-title">{{ course['titel'] }}</span>
            {% if course['allepersonen'] != "" %}
            <span class="ufr-accordion-meta">{{ course['allepersonen']|safe }}</span>
            {% endif %}
            {% for line in course["raumzeit_woechentlich"] %}
            <span class="ufr-accordion-meta">{{ line|safe }}</span>
            {% endfor %}
          </span>
          <span class="ufr-accordion-chevron" aria-hidden="true">
            <svg viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5 5 L25.6 25 L5 45" stroke="currentColor" stroke-width="6" />
            </svg>
          </span>
        </button>
        <div id="course-{{item_index.value}}" class="collapse">
          <div class="ufr-accordion-body">
            <p class="ufr-accordion-speaker-line">
              {% if course['link'] != "" %}
                <a href="{{ course['link'] | safe }}">{{ course['titel']|markdown }}</a>
              {% else %}
                {{ course['titel']|markdown }}
              {% endif %}
            </p>
            {% if course['link'] != "" %}
            <a class="ufr-accordion-link" href="{{ course['link'] }}">
              <i class="fa-solid fa-link" aria-hidden="true"></i>
              {% if lang == "de" %}Weitere Informationen{% else %}More information{% endif %}
            </a>
            {% endif %}

            {% if course["raumzeit_woechentlich_mit_url"]|length > 0 or course["raumzeit_einmalig_mit_url"]|length > 0 %}
            <h5>{% if lang == "de" %}Ort und Zeit{% else %}Time and place{% endif %}</h5>
            <p>
              {% for line in course["raumzeit_woechentlich_mit_url"] %}{{ line|safe }}<br />{% endfor %}
              {% for line in course["raumzeit_einmalig_mit_url"] %}{{ line|safe }}<br />{% endfor %}
            </p>
            {% endif %}

            {% if course["kommentar"] %}
            <p><i>{{ course["kommentar"]|markdown }}</i></p>
            {% endif %}

            <h5>{% if lang == "de" %}Lehre{% else %}Teaching{% endif %}</h5>
            <p>
              {% if course['dozent_mit_url'] != "" %}
              {% if lang == "de" %}Dozent:in:{% else %}Teacher:{% endif %} {{ course['dozent_mit_url']|safe }}<br />
              {% endif %}
              {% if course["assistent_mit_url"] %}
              {% if lang == "de" %}Assistenz:{% else %}Assistant:{% endif %} {{ course["assistent_mit_url"]|safe }}<br />
              {% endif %}
              {% if course["organisation_mit_url"] %}
              Organisation: {{ course["organisation_mit_url"]|safe }}<br />
              {% endif %}
              {% for ck, c in course["code"].items() %}{{ ck }}: {{ c }}<br />{% endfor %}
            </p>

            {% if course['inhalt'] != "" %}
            <h5>{% if lang == "de" %}Inhalt{% else %}Content{% endif %}</h5>
            <p>{{ course['inhalt']|markdown }}</p>
            {% endif %}

            {% if course['vorkenntnisse'] != '' %}
            <h5>{% if lang == "de" %}Vorkenntnisse{% else %}Previous knowledge{% endif %}</h5>
            <p>{{ course['vorkenntnisse']|markdown }}</p>
            {% endif %}

            {% if course['verwendbarkeit'] != '' %}
            <h5>{% if lang == "de" %}Verwendbarkeit{% else %}Usability{% endif %}</h5>
            <p>{{ course['verwendbarkeit']|markdown }}</p>
            {% set mh_url = modulhandbuch_url(d['semester']['kurzname'], lang) %}
            {% if mh_url %}
            <p>
              {% if lang == "de" %}Die Zahl der ECTS-Punkte entnehmen Sie bitte den <a href="{{ mh_url }}">Ergänzungen zu den Modulhandbüchern</a>.
              {% else %}Please refer to the <a href="{{ mh_url }}">Supplements to the Module Handbooks</a> for the number of ECTS credits.{% endif %}
            </p>
            {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
      {% set item_index.value = item_index.value + 1 %}
      {% endfor %}
    </div>
    {% endif %}

    {% if rubrik['suffix'] != "" %}
    <div class="row mt-2">
      <div class="col-sm-12">{{ rubrik['suffix']|markdown }}</div>
    </div>
    {% endif %}
  {% endfor %}
  {% endfor %}
</div>

{% endblock %}
{% block js %}{% endblock %}
