{% extends 'base.html' %} {% block navbar %} {% include 'navbar.html' %} {%
endblock %} {% block content %}
<div class="container text-end">
  <div class="row">
    <div class="col">
      <a
        href="{{url_for('showlehrveranstaltungen', semester = semester, lang=lang)}}"
        class="btn btn-primary bg-ufr-blue link-dark"
        role="button"
        aria-disabled="true"
      >
        {% if lang == "de" %} Zurück zur Lehrveranstaltungsliste {% else %} Back
        to the list of all courses {% endif %}
      </a>
      <a
        href="{{url_for('showlehrveranstaltungenbase', lang=lang)}}"
        class="btn btn-primary bg-ufr-blue link-dark"
        role="button"
        aria-disabled="true"
      >
        {% if lang == "de" %} Übersicht aller Semester {% else %} Overview of
        all semesters {% endif %}
      </a>
    </div>
  </div>
</div>

<div class="container" id="inhalt">
  <h2>Lehrveranstaltungen im {{semester_lang}}</h2>
  {% for item in data %}
  <div class="row">
    <div class="col-sm-3 text-end">{{ item["person"] | safe }}</div>
    <div class="col-sm-7">{{ item["veranstaltung"]|safe }}</div>
    <div class="col-sm-2">{{ item["rolle"] }}</div>
  </div>
  {% endfor %} {% endblock %}
</div>
