<div class="container" id="inhalt">
 <h1>
  Lehrveranstaltungen im Wintersemester 2007/2008
 </h1>
 <h4>
  Stand: Stand: 25.9.2007
 </h4>
 <table summary="">
  <tr>
   <td>
    A
   </td>
   <td>
    =
   </td>
   <td>
    für Anfänger
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    =
   </td>
   <td>
    für mittlere Semester
   </td>
  </tr>
  <tr>
   <td>
    H
   </td>
   <td>
    =
   </td>
   <td>
    für höhere Semester
   </td>
  </tr>
  <tr>
   <td>
    AF
   </td>
   <td>
    =
   </td>
   <td>
    Hörer aller Fakultäten
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    =
   </td>
   <td>
    nur nach persönlicher Anmeldung
   </td>
  </tr>
  <tr>
   <td>
    HS
   </td>
   <td>
    =
   </td>
   <td>
    Hörsaal
   </td>
  </tr>
  <tr>
   <td>
    SR
   </td>
   <td>
    =
   </td>
   <td>
    Seminarraum
   </td>
  </tr>
 </table>
 Hinweis:Ausführliche Informationen (Vorkenntnisse, Folgeveranstaltungen, Prüfungen) finden sich
in den von der Fakultät herausgegebenen "Kommentaren zu den Lehrveranstaltungen Mathematik".
 <br/>
 <h2>
  Lehrveranstaltungen
 </h2>
 <h2>
  Vorlesungen, Übungen, Praktika
 </h2>
 <h1>
  1. Einführende Vorlesungen
 </h1>
 <table summary="">
  <colgroup>
   <col class="col1"/>
   <col class="col2"/>
   <col class="col3"/>
  </colgroup>
  <tr>
   <td>
    A
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/siebert/Veranstaltungen/LA.WS07/LA1.html">
     Lineare Algebra I
    </a>
   </td>
   <td>
    B. Siebert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di, Do 9-11, HS Rundbau, Albertstr. 21a
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - in Gruppen - 2stündig n.V.
   </td>
   <td>
    B. Siebert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n.V.
   </td>
   <td>
    U. Ludwig
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    A
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/krause/WS0708/analysis/">
     Analysis I
    </a>
   </td>
   <td>
    S. Goette
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo, Mi 9-11, HS Rundbau, Albertstr. 21
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - in Gruppen - 2stündig n.V.
   </td>
   <td>
    S. Goette
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n.V.
   </td>
   <td>
    S. Krause
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    A
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/wolke/">
     Mathematik für Ingenieure und Informatiker I
    </a>
   </td>
   <td>
    D. Wolke
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo, Mi 14-16, HS Rundbau, Albertstr. 21a
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - in Gruppen - 2stündig n.V.
   </td>
   <td>
    D. Wolke
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n.V.
   </td>
   <td>
    S. Feiler
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    A
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/wolke/">
     Mathematik für Naturwissenschaftler
    </a>
   </td>
   <td>
    W. Schuster
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di, Do 17-19, HS Rundbau, Albertstr. 21a
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n.V.
   </td>
   <td>
    W. Schuster
   </td>
  </tr>
 </table>
 <h1>
  2. Kurs- und Spezialvorlesungen
 </h1>
 Die mit ☐ gekennzeichneten Vorlesungen kommen für die Diplomvorprüfung (Teilprüfung I und II)
und für die Zwischenprüfung in Frage, die mit ☐☐ gekennzeichneten Vorlesungen für die Diplom-vorprüfung (Teilprüfung III) und für die Zwischenprüfung.
 <table summary="">
  <colgroup>
   <col class="col1"/>
   <col class="col2"/>
   <col class="col3"/>
  </colgroup>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M☐
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/geometrie/suhr/Top-07-08/">
     Topologie
    </a>
   </td>
   <td>
    V. Bangert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di, Do 9-11, HS II Albertstr. 23b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n.V.
   </td>
   <td>
    V. Bangert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n.V.
   </td>
   <td>
    S. Suhr
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M☐
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/analysis/AnaIII/">
     Analysis III
    </a>
   </td>
   <td>
    E. Kuwert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 11-13, Fr 9-11, HS Rundbau, Albertstr. 21a
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n.V.
   </td>
   <td>
    E. Kuwert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n.V.
   </td>
   <td>
    A. Windel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M☐
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/junker/ws07/algebra.html">
     Algebra
    </a>
   </td>
   <td>
    M. Junker
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di, Do 16-18, HS II Albertstr. 23b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/hendler/alg0708/">
     Übungen
    </a>
    dazu - 2stündig n.V.
   </td>
   <td>
    M. Junker
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n.V.
   </td>
   <td>
    M. Hendler
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M☐☐
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvWS2007/VorEinStoch/">
     Einführung in die Stochastik
    </a>
   </td>
   <td>
    H.R. Lerche
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di, Fr 14-16, HS Rundbau, Albertstr. 21a
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n.V.
   </td>
   <td>
    H.R. Lerche
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n.V.
   </td>
   <td>
    I. Maahs
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M☐☐
   </td>
   <td>
    <a href="http://aam.mathematik.uni-freiburg.de/IAM/Teaching/ubungen/num_I_WS07_08/">
     Numerik I
    </a>
   </td>
   <td>
    G. Dziuk
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo, Do 14-16, HS Otto-Krayer-Haus, Albertstr. 25
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n.V.
   </td>
   <td>
    G. Dziuk
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n.V.
   </td>
   <td>
    B. Mößner
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    Algebraische K-Theorie
   </td>
   <td>
    J.-C. Schlage-Puchta
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di, Do 14-16, HS II, Albertstr. 23b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/analysis/DG07/">
     Differentialgeometrie I
    </a>
   </td>
   <td>
    M. Simon
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo, Mi 11-13, HS II Albertstr. 23b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n.V.
   </td>
   <td>
    M. Simon
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n.V.
   </td>
   <td>
    M. Listing
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/fiebig/WS0708/DTheo/index.html">
     Darstellungstheorie
    </a>
   </td>
   <td>
    W. Soergel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo, Fr 9-11, SR 404 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n.V.
   </td>
   <td>
    W. Soergel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n.V.
   </td>
   <td>
    P. Fiebig
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/flum/ws07li/">
     Logik für Informatiker
    </a>
   </td>
   <td>
    J. Flum
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    mit Übungen
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo, Mi 9-11, HS 00-026, Geb. 101, Georges-Köhler-Allee
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n.V.
   </td>
   <td>
    M. Müller
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    <a href="http://aam.mathematik.uni-freiburg.de/IAM/Teaching/ubungen/mst_dgl_WS07_08/index.html">
     Differentialgleichungen für Mikrosystemtechniker
    </a>
   </td>
   <td>
    C.-J. Heine
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 11-13, HS 00-0036, Geb. 101, Georges-Köhler-Allee
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n.V.
   </td>
   <td>
    C.-J. Heine
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n.V.
   </td>
   <td>
    M. Nolte
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/ziegler/veranstaltungen/ws07-modell1.html">
     Modelltheorie
    </a>
   </td>
   <td>
    M. Ziegler
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 16-18, Mi 9-11, SR 404 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n.V.
   </td>
   <td>
    M. Ziegler
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n.V.
   </td>
   <td>
    N. Frohn
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvWS2007/VorWTII/">
     Wahrscheinlichkeitstheorie II
    </a>
   </td>
   <td>
    E. Eberlein
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di, Do 11-13, HS II Albertstr. 23b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n.V.
   </td>
   <td>
    E. Eberlein
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n.V.
   </td>
   <td>
    V. Pohl
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    <a href="http://aam.mathematik.uni-freiburg.de/IAM/homepages/paola/">
     Variationsrechnung in einer Dimension
    </a>
   </td>
   <td>
    P. Pozzi
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Do 14-16, SR 226 Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    <a href="http://aam.mathematik.uni-freiburg.de/IAM/Teaching/scripts/npdgl_WS07/">
     Theorie und Numerik partieller Differentialgleichungen I
    </a>
   </td>
   <td>
    M. Růžička
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo, Mi 9-11, HS II Albertstr. 23b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n.V.
   </td>
   <td>
    M. Růžička
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n.V.
   </td>
   <td>
    L. Diening
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/didaktik/lehrveranstaltungen/lehrveranstaltungen.html">
     Didaktik der Geometrie und der Stochastik
    </a>
   </td>
   <td>
    M. Bürker
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 9-11, Do 9-10, SR 127 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu, Do 10-11, SR 127 Eckerstr. 1
   </td>
   <td>
    M. Bürker
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M,H
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/halupczok/">
     Einführung in die additive Zahlentheorie
    </a>
   </td>
   <td>
    K. Halupczok
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di, Do 16-18, HS Anatomie, Albertstra. 17
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n.V.
   </td>
   <td>
    K. Halupczok
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n.V.
   </td>
   <td>
    N. N.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M,H
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvWS2007/VorMathStat/">
     Mathematische Statistik
    </a>
   </td>
   <td>
    L. Rüschendorf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo, Mi 14-16, HS II Albertstr. 23b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n.V.
   </td>
   <td>
    L. Rüschendorf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n.V.
   </td>
   <td>
    G. Mainik
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    A(M,H)
   </td>
   <td>
    <a href="http://mod.iig.uni-freiburg.de">
     Einführung in "Informatik und Gesellschaft"
    </a>
   </td>
   <td>
    B. Schinzel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 16-18, SR 01-016, Geb. 101 Georges-Köhler-Allee
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    H
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvWS2007/VorAdvStoch/">
     Advanced methods of stochastic calculus in finance
    </a>
   </td>
   <td>
    A.N. Shiryaev
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo, Mi 11-13, SR 127 Eckerstr. 1
    <br/>
    (1. 12. 2007 - 31. 1. 2008)
   </td>
   <td>
   </td>
  </tr>
 </table>
 <h1>
  3. Praktika
 </h1>
 <table summary="">
  <colgroup>
   <col class="col1"/>
   <col class="col2"/>
   <col class="col3"/>
  </colgroup>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvWS2007/PraStatPrak/">
     Statistisches Praktikum
    </a>
   </td>
   <td>
    E. Eberlein
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 16-18, Do 14-16, CIP-Pool Raum 201, Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n.V.
   </td>
   <td>
    E.A. v. Hammerstein
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://aam.mathematik.uni-freiburg.de/IAM/Teaching/ubungen/num_I_WS07_08/">
     Praktikum zu: "Numerik I"
    </a>
   </td>
   <td>
    G. Dziuk
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Do 16-18, CIP-Pool Raum 201, Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n.V.
   </td>
   <td>
    C. Eilks
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://aam.mathematik.uni-freiburg.de/IAM/Teaching/ubungen/prtheonum_pde_I_WS07_08/index.html">
     Praktikum zu: "Theorie und Numerik partieller Differentialgleichungen I"
    </a>
   </td>
   <td>
    M. Růžička
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 14-16, CIP-Pool Raum 201, Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n.V.
   </td>
   <td>
    A. Dedner
   </td>
  </tr>
 </table>
 <h2>
  Proseminare, Seminare und Arbeitsgemeinschaften
 </h2>
 <table summary="">
  <colgroup>
   <col class="col1"/>
   <col class="col2"/>
   <col class="col3"/>
  </colgroup>
  <tr>
   <td>
    PA
   </td>
   <td>
    Proseminar: Konvexe Mengen und Funktionen
   </td>
   <td>
    V. Bangert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 14-16, SR 125 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/goette/Lehre/ElGeoSem.html">
     Proseminar: Elementargeometrie
    </a>
   </td>
   <td>
    S. Goette
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 11-13, SR 125 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n.V.
   </td>
   <td>
    J. Schlüter
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/siebert/Veranstaltungen/ProsemUniradio.WS07/ProsemUniradio.WS07.html">
     Proseminar: Mathematik für das Uniradio
    </a>
   </td>
   <td>
    B. Siebert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 14-16, SR 125 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n.V.
   </td>
   <td>
    C. Thier
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvWS2007/PsemKombi/">
     Proseminar: Kombinatorik
    </a>
   </td>
   <td>
    H.R. Lerche
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 16-18, SR 127 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n.V.
   </td>
   <td>
    N.N.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/mueller/WS78/philows78.html">
     Proseminar: Formale Logik für Philosophen
    </a>
   </td>
   <td>
    M. Müller
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Do 14-16, HS 1098, KGI,
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Geometrische Variationsprobleme
   </td>
   <td>
    V. Bangert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 14-16, SR 125 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n.V.
   </td>
   <td>
    F. Coglitore
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Computeralgebra
   </td>
   <td>
    J.-C. Schlage-Puchta
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 9-11, SR 125 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/fiebig/WS0708/LieAlg/index.html">
     Seminar über Darstellungstheorie
    </a>
   </td>
   <td>
    W. Soergel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Do 11-13, SR 403 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n.V.
   </td>
   <td>
    P. Fiebig
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/ziegler/veranstaltungen/ws07-seminar.html">
     Seminar: Modelltheorie
    </a>
   </td>
   <td>
    M. Ziegler
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 11-13, SR 318 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n.V.
   </td>
   <td>
    N. Frohn
    <br/>
    O. Roche
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvWS2007/SemStochProz/">
     Seminar: Stochastische Prozesse/Finanzmathematik
    </a>
   </td>
   <td>
    L. Rüschendorf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 14-16, SR 218 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n.V.
   </td>
   <td>
    E.M. Schopp
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://aam.mathematik.uni-freiburg.de/IAM/Teaching/ubungen/sem_nlfd_WS07_08/">
     Seminar: Nichtlineare Probleme in der Strömungsdynamik
    </a>
   </td>
   <td>
    G. Dziuk, M. Růžička
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 14-16, SR 226 Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n.V.
   </td>
   <td>
    C.-J. Heine, L. Diening
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/didaktik/lehrveranstaltungen/lehrveranstaltungen.html">
     Seminar: Computer im Mathematikunterricht
    </a>
   </td>
   <td>
    M. Bürker
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi, Do 14-16, Computerraum 131 Didaktik, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://mod.iig.uni-freiburg.de">
     Seminar: Frauen in Informatik und Mathematik
    </a>
   </td>
   <td>
    B. Schinzel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 9-11, HS 02009, Institut für Informatik und Gesellschaft, Friedrichstr. 50, 2. OG
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n.V.
   </td>
   <td>
    K. Kleinn
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://mod.iig.uni-freiburg.de">
     Seminar: Teamarbeit - face to face und virtuell
    </a>
   </td>
   <td>
    B. Schinzel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Blockseminar (12. 01. - 16. 02. 2008), HS 02009, Institut für Informatik und Gesellschaft, Friedrichstr. 50, 2. OG
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n.V.
   </td>
   <td>
    R. Meßmer
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://mod.iig.uni-freiburg.de">
     Seminar: Interface Design
    </a>
   </td>
   <td>
    B. Schinzel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Blockseminar n.V., HS 02009, Institut für Informatik und Gesellschaft, Friedrichstr. 50, 2. OG
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n.V.
   </td>
   <td>
    R. Claus
    <br/>
    C. Taubmann
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://mod.iig.uni-freiburg.de">
     Proseminar: Geschlecht und Sexualität.
    </a>
   </td>
   <td>
    S. Schmitz
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    <a href="http://mod.iig.uni-freiburg.de">
     Auseinandersetzungen mit bio-medizinischen Konzepten
    </a>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 9-11, HS 02009, Institut für Informatik und Gesellschaft, Friedrichstr. 50, 2. OG
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://mod.iig.uni-freiburg.de">
     Seminar: Körpervisualisierungen
    </a>
   </td>
   <td>
    S. Schmitz
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Do 14-16, HS 02009, Institut für Informatik und Gesellschaft, Friedrichstr. 50, 2. OG
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://mod.iig.uni-freiburg.de">
     Seminar: Embodiment: Theorien und Anwendungen für intersektionale Gender Studies
    </a>
   </td>
   <td>
    S. Schmitz
    <br/>
    N. Degele
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 14-16, ÜR 1, KG IV
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Oberseminar: Differentialgeometrie
   </td>
   <td>
    S. Goette,
    <br/>
    B. Siebert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 16-18, HS II Albertstr. 23b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Oberseminar: Stabilitätstheorie
   </td>
   <td>
    M. Ziegler
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 11-13, SR 318 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n.V.
   </td>
   <td>
    N. Frohn
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Oberseminar: Modelltheorie und Algebra
   </td>
   <td>
    A. Prestel, M. Ziegler
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 11-13, SR 318 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Oberseminar: Mathematische Stochastik
   </td>
   <td>
    E. Eberlein, H.R. Lerche, L. Rüschendorf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 11-13, SR 404 Eckerstr. 1 (14 tägl.)
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Oberseminar: Angewandte Mathematik
   </td>
   <td>
    G. Dziuk, M. Růžička
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 14-16, SR 226 Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n.V.
   </td>
   <td>
    C.-J. Heine
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Oberseminar: Medizinische Statistik
   </td>
   <td>
    M. Schumacher
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 10-12 Uhr, HS Medizinische Biometrie, Stefan-Meier-Str. 26
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Arbeitsgemeinschaft: Darstellungstheorie
   </td>
   <td>
    W. Soergel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 11-13, SR 403 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n.V.
   </td>
   <td>
    P. Fiebig
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Arbeitsgemeinschaft: Logik und Komplexität
   </td>
   <td>
    J. Flum
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 8-10, SR 125 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n.V.
   </td>
   <td>
    N.N.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Arbeitsgemeinschaft über Statistisches Lernen
   </td>
   <td>
    W. Ehm, H.R. Lerche
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Do 10-12 n.V., Raum 232 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Arbeitsgemeinschaft: Grenzwertsätze in zufälligen Graphen
   </td>
   <td>
    L. Rüschendorf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Do 11-13, SR 125 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n.V.
   </td>
   <td>
    O. Munsonius
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Arbeitsgemeinschaft: Finite Elemente
   </td>
   <td>
    G. Dziuk
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 11-13, Raum 121, Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n.V.
   </td>
   <td>
    C.J. Heine
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Arbeitsgemeinschaft: Nicht-Newtonsche Flüssigkeiten
   </td>
   <td>
    M. Růžička
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 16-18, SR 127 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n.V.
   </td>
   <td>
    L. Diening
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Arbeitsgemeinschaft: Forschungsprojekte (DoktorandInnenseminar)
   </td>
   <td>
    B. Schinzel,
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Do 9-11, HS 02009, Institut für Informatik
   </td>
   <td>
    S. Schmitz
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    und Gesellschaft, Friedrichstr. 50, 2. OG
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Anleitung zu selbständigem wissenschaftlichen Arbeiten
   </td>
   <td>
    Alle Dozenten der Mathematik
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    ganztägig - n.V.
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://www.fdm.uni-freiburg.de/aktuelles/fdmseminar.php">
     Seminar über Datenanalyse und Modellbildung
    </a>
   </td>
   <td>
    E. Eberlein,H.R. Lerche, L. Rüschendorf, M. Schumacher, J. Timmer
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 11-13, SR 404 Eckerstr. 1 (14tägl.)
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    AF
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/didaktik/">
     Didaktisches Seminar
    </a>
   </td>
   <td>
    M. Bürker, L. Rüschendorf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 19:30-21, HS II Albertstr. 23b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    - besondere Ankündigung
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    AF
   </td>
   <td>
    <a href="http://mod.iig.uni-freiburg.de">
     Kolloquium: Informatik und Gesellschaft
    </a>
   </td>
   <td>
    B. Schinzel, S. Schmitz
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 14-16, HS 02009, Institut für Informatik und Gesellschaft, Friedrichstr. 50, 2. OG
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    - siehe Ankündigung
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    <a href="http://wochenprogramm.mathematik.uni-freiburg.de/?NaechsteSeite=termine_s.html&amp;Veranst=Kolloquium%20der%20DFG-Forschungsgruppe%20%22Nichtlineare%20Partielle%20Differentialgleichungen%22">
     Kolloquium der DFG-Forschergruppe "Nonlinear Partial Differential Equations: Theoretical and Numerical Analysis"
    </a>
   </td>
   <td>
    Die Dozenten der Forschergruppe
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 16-19, HS II Albertstr. 23b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    - siehe Ankündigung
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    <a href="http://wochenprogramm.mathematik.uni-freiburg.de/cgi-bin/cgi.cgi?NaechsteSeite=termine_s.html&amp;Veranst=Kolloquium%20des%20Graduiertenkollegs%20%22Mathematische%20Logik%20und%20Anwendungen%22">
     Kolloquium zum DFG-Graduiertenkolleg "Mathematische Logik und Anwendungen"
    </a>
   </td>
   <td>
    Die Dozenten des Graduiertenkollegs
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 14-16, SR 127 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    - siehe Ankündigung
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Kolloquium der Mathematik
   </td>
   <td>
    Alle Dozenten der Mathematik
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 17:00-18, HS II Albertstr. 23b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    - besondere
    <a href="http://home.mathematik.uni-freiburg.de/kolloquium/">
     Ankündigung
    </a>
   </td>
   <td>
   </td>
  </tr>
 </table>
 <h2>
  Graduiertenkolleg "Mathematische Logik und Anwendungen"
 </h2>
 <h2>
  Vorlesungen, Übungen
 </h2>
 <table summary="">
  <colgroup>
   <col class="col1"/>
   <col class="col2"/>
   <col class="col3"/>
  </colgroup>
  <tr>
   <td>
    M
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/ziegler/veranstaltungen/ws07-modell1.html">
     Modelltheorie
    </a>
   </td>
   <td>
    M. Ziegler
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 16-18, Mi 9-11, SR 404 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n.V.
   </td>
   <td>
    M. Ziegler
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n.V.
   </td>
   <td>
    N. Frohn
   </td>
  </tr>
 </table>
 <h2>
  Seminare
 </h2>
 <table summary="">
  <colgroup>
   <col class="col1"/>
   <col class="col2"/>
   <col class="col3"/>
  </colgroup>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/oroche/ws07/Seminar.html">
     Seminar: Modelltheorie
    </a>
   </td>
   <td>
    M. Ziegler
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 11-13, SR 318 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n.V.
   </td>
   <td>
    N. Frohn,
    <br/>
    O. Roche
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Oberseminar über Stabilitätstheorie
   </td>
   <td>
    M. Ziegler
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 11-13, SR 318 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n.V.
   </td>
   <td>
    N. Frohn
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Oberseminar: Modelltheorie und Algebra A. Prestel,
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 11-13, SR 318 Eckerstr. 1
   </td>
   <td>
    M. Ziegler
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Arbeitsgemeinschaft: Logik und Komplexität
   </td>
   <td>
    J. Flum
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 8-10, SR 125 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n.V.
   </td>
   <td>
    N.N.
   </td>
  </tr>
 </table>
 <h2>
  Kolloquium
 </h2>
 <table summary="">
  <colgroup>
   <col class="col1"/>
   <col class="col2"/>
   <col class="col3"/>
  </colgroup>
  <tr>
   <td>
   </td>
   <td>
    Kolloquium zum DFG-Graduiertenkolleg "Mathematische Logik und Anwendungen"
   </td>
   <td>
    Die Dozenten des Graduiertenkollegs
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 14-16, SR 127 Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    - siehe Ankündigung
   </td>
   <td>
   </td>
  </tr>
 </table>
</div>
