<div class="container" id="inhalt">
 <h1>
  Lehrveranstaltungen im Wintersemester 2009/2010
 </h1>
 <h4>
  Stand: 08.01.2010
 </h4>
 <table border="0" cellspacing="10" summary="">
  <tr>
   <td>
    A = für Anfänger
   </td>
   <td>
    AF = Hörer aller Fakultäten
   </td>
   <td>
    HS = Hörsaal
   </td>
  </tr>
  <tr>
   <td>
    M = für mittlere Semester
   </td>
   <td>
    PA = nur nach persönlicher Anmeldung
   </td>
   <td>
    SR = Seminarraum
   </td>
  </tr>
  <tr>
   <td>
    H = für höhere Semester
   </td>
  </tr>
  <tr>
   <td colspan="3">
    P = Pflichtveranstaltungen im Bachelor-Studium
   </td>
  </tr>
  <tr>
   <td colspan="3">
    WP = Wahlpflichtveranstaltung im Bachelor-Studium
   </td>
  </tr>
 </table>
 <p>
  <i>
   Hinweis:
  </i>
  Ausführliche Informationen (Vorkenntnisse, Folgeveranstaltungen, Prüfungen) finden sich
in den von der Fakultät herausgegebenen "Kommentaren zu den Lehrveranstaltungen Mathematik.
 </p>
 <p>
  <i>
   Hinweis:
  </i>
  Im Rahmen des EUCOR-Programms können auch Vorlesungen am Mathematischen Institut in Straßburg belegt werden. Informationen dazu gibt es
  <a href="http://home.mathematik.uni-freiburg.de/arithmetische-geometrie/lehre/strasbourg0910.html">
   hier
  </a>
  .
 </p>
 <h2>
  Lehrveranstaltungen
 </h2>
 <h2>
  Vorlesungen, Übungen, Praktika
 </h2>
 <table border="0" class="vlverz" style="max-width:850px;" summary="">
  <col/>
  <col/>
  <col style="width:30%;"/>
  <tr>
   <td colspan="3">
    <h3>
     1. Einführende Vorlesungen
    </h3>
   </td>
  </tr>
  <tr>
   <td>
    A
   </td>
   <td>
    Lineare Algebra I
   </td>
   <td>
    S. Kebekus
   </td>
  </tr>
  <tr>
   <td>
    P
   </td>
   <td>
    Di, Do 9-11, HS Rundbau, Albertstr. 21
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - in Gruppen - 2stündig n. V.
   </td>
   <td>
    S. Kebekus
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n. V.
   </td>
   <td>
    D. Greb
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    A
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/afshordel/analysis-1.html">
     Analysis I
    </a>
   </td>
   <td>
    E. Kuwert
   </td>
  </tr>
  <tr>
   <td>
    P
   </td>
   <td>
    Mo, Mi 9-11, HS Rundbau, Albertstr. 21
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - in Gruppen - 2stündig n. V.
   </td>
   <td>
    E. Kuwert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n. V.
   </td>
   <td>
    B. Afshordel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h3>
     2. Kurs- und Spezialvorlesungen
    </h3>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    Die mit ☐ gekennzeichneten Vorlesungen kommen für die Diplomvorprüfung (Teilprüfung I und II) und für die Zwischenprüfung in Frage,
		      die mit ☐☐ gekennzeichneten Vorlesungen für die Diplom-vorprüfung (Teilprüfung III) und für die Zwischenprüfung.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M ☐
   </td>
   <td>
    Algebra und Zahlentheorie
   </td>
   <td>
    W. Soergel
   </td>
  </tr>
  <tr>
   <td>
    WP
   </td>
   <td>
    Di, Do 9-11, HS Weismann-Haus, Albertstr. 21 a
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n. V.
   </td>
   <td>
    W. Soergel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n. V.
   </td>
   <td>
    D. Lohmann
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M ☐
   </td>
   <td>
    <a href="http://aam.mathematik.uni-freiburg.de/IAM/Teaching/scripts/ana3_WS09/">
     Analysis III
    </a>
   </td>
   <td>
    M. Růžička
   </td>
  </tr>
  <tr>
   <td>
    P
   </td>
   <td>
    Mo, Mi 14-16, Weismann-Haus, Albertstr. 21 a
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n. V.
   </td>
   <td>
    M. Růžička
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n. V.
   </td>
   <td>
    L. Diening
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    <nobr>
     M ☐☐
    </nobr>
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvWS2009/VorStoch/">
     Stochastik (zweisemestrig)
    </a>
   </td>
   <td>
    P. Pfaffelhuber
   </td>
  </tr>
  <tr>
   <td>
    P
   </td>
   <td>
    Fr 9-11, Weismann-Haus, Albertstr. 21 a
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n. V. (14 tgl.)
   </td>
   <td>
    P. Pfaffelhuber
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n. V.
   </td>
   <td>
    V. Pohl
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M ☐☐
   </td>
   <td>
    <a href="http://aam.mathematik.uni-freiburg.de/IAM/Teaching/ubungen/num_I_WS09_10/">
     Numerik
    </a>
    (zweisemestrig)
   </td>
   <td>
    G. Dziuk
   </td>
  </tr>
  <tr>
   <td>
    P
   </td>
   <td>
    Mo 16-18, Weismann-Haus, Albertstr. 21 a
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n. V. (14 tgl.)
   </td>
   <td>
    G. Dziuk
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n. V.
   </td>
   <td>
    Ch. Gersbacher
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/arithmetische-geometrie/lehre/ws09/azt.html">
     Algebraische Zahlentheorie
    </a>
   </td>
   <td>
    A. Huber-Klawitter
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di, Do 9-11, HS II, Albertstr. 23 b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n. V.
   </td>
   <td>
    A. Huber-Klawitter
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n. V.
   </td>
   <td>
    M. Wendt
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fragestunde Do 14-16 Uhr, SR 125, Eckerstr. 1
   </td>
   <td>
    J. Scholbach
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/sascha/DG1.html">
     Differentialgeometrie I
    </a>
   </td>
   <td>
    S. Goette
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di, Do 11-13, HS II, Albertstr. 23 b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n. V.
   </td>
   <td>
    S. Goette
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n. V.
   </td>
   <td>
    S. Fröschl
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/analysis/Funkana/funka.html">
     Funktionalanalysis
    </a>
   </td>
   <td>
    G. Wang
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo, Mi 9-11, HS II, Albertstr. 23 b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n. V.
   </td>
   <td>
    G. Wang
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n. V.
   </td>
   <td>
    N. N.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvWS2009/VorWTI/">
     Wahrscheinlichkeitstheorie
    </a>
   </td>
   <td>
    E. Löcherbach
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 16-18, Do 14-16, HS II, Albertstr. 23 b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n. V.
   </td>
   <td>
    E. Löcherbach
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n. V.
   </td>
   <td>
    S. Kiesel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    Modelltheorie
   </td>
   <td>
    M. Ziegler
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 14-16, Fr 9-11, SR 404, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n. V.
   </td>
   <td>
    M. Ziegler
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n. V.
   </td>
   <td>
    N. Frohn
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    Theorie und Numerik für partielle Differentialgleichungen
   </td>
   <td>
    D. Kröner
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo, Mi 11-13, HS Weismann-Haus, Albertstr. 21 a
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n. V.
   </td>
   <td>
    D. Kröner
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n. V.
   </td>
   <td>
    M. Nolte
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/feiler/#Zth0910">
     Ergänzungen zur Elementaren Zahlentheorie
    </a>
   </td>
   <td>
    D. Wolke
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 14-16, HS II, Albertstr. 23 b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n. V.
   </td>
   <td>
    D. Wolke
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n. V.
   </td>
   <td>
    S. Feiler
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    Mengenlehre
   </td>
   <td>
    J. Flum
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 16-18, HS Weismann-Haus, Albertstr. 21 a
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - Mo 16-18 (14 tägl.), HS II, Albertstr. 23 b
    <br/>
    und/oder Fr 14-16 (14 tägl.), SR 125, Eckerstr. 1
   </td>
   <td>
    J. Flum
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen n. V.
   </td>
   <td>
    B. Lellmann
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvWS2009/VorMKetten/">
     Markovketten
    </a>
   </td>
   <td>
    E. Löcherbach
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 16-18, SR 404, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M, H
   </td>
   <td>
    <a href="http://omnibus.uni-freiburg.de/~gm58/ws200910/hp/index.php">
     Wahrscheinlichkeitstheorie II
    </a>
   </td>
   <td>
    L. Rüschendorf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo, Mi 11-13, HS II, Albertstr. 23 b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n. V.
   </td>
   <td>
    L. Rüschendorf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n. V.
   </td>
   <td>
    O. Munsonius
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M, H
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvWS2009/VorStat/">
     Mathematische Statistik
    </a>
   </td>
   <td>
    H. R. Lerche
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di, Fr 14-16, HS II, Albertstr. 23 b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu: 1) Mi 14-16, SR 218, Eckerstr. 1
    <br/>
    2) Di 16-18, SR226, Herrmann-Herder-Str. 10
   </td>
   <td>
    H. R. Lerche
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n. V.
   </td>
   <td>
    I. Maahs
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M, H
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvWS2009/VorFutOpt/">
     Futures and Options
    </a>
   </td>
   <td>
    E. Lütkebohmert-Holtz
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 8-10, HS 1221, KG I
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu: Mi 16-18; SR 125, Eckerstr. 1
   </td>
   <td>
    E. Lütkebohmert-Holtz
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen
   </td>
   <td>
    G. Mainik
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M, H
   </td>
   <td>
    <a href="http://aam.mathematik.uni-freiburg.de/IAM/homepages/fritz/Geom_pDG.html">
     Theorie und Numerik geometrischer partieller Differentialgleichungen
    </a>
   </td>
   <td>
    G. Dziuk
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 11-13, SR 226, Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n. V. (14 tgl.)
   </td>
   <td>
    G. Dziuk
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen (14 tgl.)
   </td>
   <td>
    H. Fritz
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M, H
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/didaktik/lehrveranstaltungen/angebot_ws0910.html">
     Didaktik der Geometrie und der Stochastik
    </a>
   </td>
   <td>
    M. Bürker
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di, Do 9-11, SR 127, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - Do 10-11, SR 127, Eckerstr. 1
   </td>
   <td>
    M. Bürker
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    H
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/geometrie/lehre/ws2009/vorlesung/vorlesung.html">
     Riemannsche Geometrie und Variationsrechnung
    </a>
   </td>
   <td>
    V. Bangert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di, Do 11-13, SR 404, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n. V.
   </td>
   <td>
    V. Bangert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n. V.
   </td>
   <td>
    N. Röttgen
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    H
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/analysis/KEM/">
     Komplexe Geometrie und Kähler-Einstein Metriken
    </a>
   </td>
   <td>
    M. Simon
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 14-16, SR 127, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n. V.
   </td>
   <td>
    M. Simon
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n. V.
   </td>
   <td>
    F. Link
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    H
   </td>
   <td>
    Ausgewählte Kapitel der Darstellungstheorie
   </td>
   <td>
    W. Soergel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 11-13, SR 404, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h3>
     3. Lehrexportveranstaltungen
    </h3>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mathematik I für Studierende des Ingenieurwesens und der Informatik
   </td>
   <td>
    T. Szemberg
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo, Fr 14-16, HS Rundbau, Albertstr. 21
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - in Gruppen - 2stündig n. V.
   </td>
   <td>
    T. Szemberg
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n. V.
   </td>
   <td>
    P. Graf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/wolke/">
     Mathematik I für Studierende der Naturwissenschaften
    </a>
   </td>
   <td>
    W. Schuster
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di, Do 17.30-19.30, HS Rundbau, Albertstr. 21
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - in Gruppen - 2stündig n. V.
   </td>
   <td>
    W. Schuster
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/junker/ws09/logik.html">
     Logik für Studierende der Philosophie
    </a>
   </td>
   <td>
    M. Junker
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 12-14, HS 1098 (KG I Stadtzentrum)
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - 2stündig n. V.
   </td>
   <td>
    M. Junker
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/lutz/index.html">
     Logik für Studierende der Informatik
    </a>
   </td>
   <td>
    L. Strüngmann
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 11-13, HS 00-036, Geb. 101,
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Do 11-13, HS 00-006, Geb. 082
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    am Do, 05.11.09, 9-11, SR 00-010/14, Geb. 101, Georges-Köhler-Allee 101
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n. V.
   </td>
   <td>
    L. Strüngmann
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n. V.
   </td>
   <td>
    J. D. Caycedo Casallas
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    <a href="http://aam.mathematik.uni-freiburg.de/IAM/Teaching/ubungen/mst_dgl_WS09_10">
     Differentialgleichungen für Studierende der Mikrosystemtechnik
    </a>
   </td>
   <td>
    G. Dziuk
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 11-13, HS 026, Geb. 101, Georges-Köhler-Allee
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n. V.
   </td>
   <td>
    G. Dziuk
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n. V.
   </td>
   <td>
    P. Reiter
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h3>
     4. Praktika
    </h3>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvWS2009/PraStoch/">
     Praktikum: Stochastik
    </a>
   </td>
   <td>
    P. Pfaffelhuber
   </td>
  </tr>
  <tr>
   <td>
    P
   </td>
   <td>
    Di 11-13 (14 tägl.), HS Weismann-Haus, Alberstr. 21 a
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    G. Mainik
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Termine: 01.12.09, 15.12.09, 12.01.10, 26.01.10, 09.02.10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvWS2009/PraStatPrak/">
     Statistisches Praktikum
    </a>
   </td>
   <td>
    E. Löcherbach
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 14-16, Fr 14-16, CIP-Pool Raum 201, Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    E. A. v. Hammerstein
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://aam.mathematik.uni-freiburg.de/IAM/Teaching/ubungen/num_I_WS09_10/">
     Praktikum: Numerik
    </a>
    (zweisemestrig)
   </td>
   <td>
    G. Dziuk
   </td>
  </tr>
  <tr>
   <td>
    P
   </td>
   <td>
    Di 11-13, 16-18, Mi 14-16, 16-18,
    <nobr>
     Do 14-16, 16-18 (14 tgl.)
    </nobr>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    CIP-Pool Raum 201, Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    J. Steinhilber
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Praktikum: Numerik für partielle Differentialgleichungen
   </td>
   <td>
    D. Laengeler
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 14-16, CIP-Pool Raum 201, Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    A. Dedner
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h2>
     Seminare, Arbeitsgemeinschaften und Kolloquien
    </h2>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h3>
     Proseminare
    </h3>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Proseminar: Die Gamma-Funktion
   </td>
   <td>
    K. Halupczok
   </td>
  </tr>
  <tr>
   <td>
    WP
   </td>
   <td>
    Di 14-16, SR 125, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    K. Halupczok
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Proseminar: Projektive Geometrie
   </td>
   <td>
    A. Huber-Klawitter
   </td>
  </tr>
  <tr>
   <td>
    WP
   </td>
   <td>
    Do 11-13, SR 127, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    S. Lechner
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h3>
     Seminare
    </h3>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/geometrie/lehre/ws2009/seminar/seminar.html">
     Seminar: Riemannsche Geometrie
    </a>
   </td>
   <td>
    V. Bangert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 14-16, SR 404, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    N. Röttgen
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Zahlentheorie
   </td>
   <td>
    U. Derenthal
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 11-13, SR 218, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    U. Derenthal
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Darstellungstheorie endlicher Gruppen
   </td>
   <td>
    M. Ziegler
   </td>
  </tr>
  <tr>
   <td>
    WP
   </td>
   <td>
    Mi 11-13, SR 318, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    N. Frohn
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/ziegler/veranstaltungen/ws09-proseminar.html">
     Seminar: Die Theorie kommutativer Gruppen
    </a>
   </td>
   <td>
    L. Strüngmann
   </td>
  </tr>
  <tr>
   <td>
    WP
   </td>
   <td>
    Mi 9-11, SR 318, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    L. Strüngmann
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/arithmetische-geometrie/huber.htm">
     Seminar: Lösen spezieller Gleichungen
    </a>
   </td>
   <td>
    A. Huber-Klawitter
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 14-16, SR 127, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    S. Enright-Ward
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Elementare algebraische Geometrie
   </td>
   <td>
    S. Kebekus
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 14-16, SR 403, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    D. Greb
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Gute Parametrisierungen
   </td>
   <td>
    E. Kuwert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 16:15-18:00, SR 125, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    M. Simon
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/arithmetische-geometrie/lehre/ws09/lag.html">
     Seminar: Darstellungstheorie
    </a>
   </td>
   <td>
    W. Soergel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 9-11, SR 125, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    M. Wendt
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Elementare Algebra und Zahlentheorie
   </td>
   <td>
    T. Szemberg
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 14-16, SR 414, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    T. Szemberg
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar über Browsche Bewegung, stochastische Differentialgleichungen und Finanzmathematik
   </td>
   <td>
    H. R. Lerche
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 16-18, SR 127, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    D. Stich
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/analysis/SemMaxPri/">
     Seminar über das Maximumprinzip
    </a>
   </td>
   <td>
    G. Wang
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 14-16, SR 125, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    Zhengxiang Chen
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Anmeldung unter:
    <a href="&lt;mailto&gt;Guofang.Wang&lt;mathunifreiburgde&gt;">
     Guofang.Wang
     <mathunifreiburgde>
     </mathunifreiburgde>
    </a>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Numerische Analysis
   </td>
   <td>
    M. Růžička
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 16-18, SR 125, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    L. Diening
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="ws0910/details_seminar.pdf">
     Seminar: Optimale Steuerung partieller Differentialgleichungen
    </a>
   </td>
   <td>
    D. Kröner
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Blockseminar in der Zeit vom 07.01.2010 - 09.01.2010
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n .V.
   </td>
   <td>
    A. Dedner
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Nichtstandard-Analysis
   </td>
   <td>
    P. Pfaffelhuber
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    besondere Ankündigung
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n.V.
   </td>
   <td>
    H. Weißhaupt
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/didaktik/lehrveranstaltungen/angebot_ws0910.html#medieneinsatz">
     Seminar: Medieneinsatz im Mathematikunterricht
    </a>
   </td>
   <td>
    M. Bürker
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 13-14, SR 127, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 14-16, SR 131 Computerraum Didaktik, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://www.imbi.uni-freiburg.de/biom/index.php?conID=47">
     Seminar: Dynamische statistische Modelle für longitudinale und Ereigniszeitdaten
    </a>
   </td>
   <td>
    M. Schumacher
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 9.30-11.00, HS Medizinische Biometrie, Stefan-Meier-Str. 26
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    siehe auch:
    <a href="http://www.imbi.uni-freiburg.de/biom/index.php?conID=47">
     http://www.imbi.uni-freiburg.de/biom/index.php?conID=47
    </a>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/kebekus/ACG/">
     Forschungsseminar: Internationales Forschungsseminar Algebraische Geometrie (IRMA)
    </a>
   </td>
   <td>
    <nobr>
     S. Kebekus
    </nobr>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    (Freiburg - Nancy - Strasbourg)
   </td>
   <td>
    D. Greb
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    besondere Ankündigung: zwei Termine pro Semester
    <br/>
    siehe auch:
    <a href="http://home.mathematik.uni-freiburg.de/kebekus/ACG/">
     http//home.mathematik.uni-freiburg.de/kebekus/ACG/
    </a>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h3>
     Oberseminare
    </h3>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/geometrie/lehre/ws2009/oberseminar/oberseminar.html">
     Oberseminar: Differentialgeometrie
    </a>
   </td>
   <td rowspan="2">
    <nobr>
     V. Bangert,
    </nobr>
    <nobr>
     S. Goette
    </nobr>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 16-18, SR 404, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Oberseminar: Algebraische Geometrie
   </td>
   <td rowspan="2">
    <nobr>
     A. Huber-Klawitter,
    </nobr>
    <nobr>
     S. Kebekus,
    </nobr>
    <br/>
    <nobr>
     W. Soergel,
    </nobr>
    <nobr>
     U. Derenthal
    </nobr>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 14-16, SR 127, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Oberseminar: Mathematische Logik
   </td>
   <td>
    <nobr>
     M. Ziegler,
    </nobr>
    <nobr>
     L. Strüngmann
    </nobr>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Do 9-11, SR 318, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    J. D. Caycedo
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Oberseminar: Mathematische Stochastik
   </td>
   <td rowspan="3">
    <nobr>
     H. R. Lerche,
    </nobr>
    <br/>
    <nobr>
     P. Pfaffelhuber,
    </nobr>
    <nobr>
     L. Rüschendorf
    </nobr>
    ,
    <nobr>
     E. Löcherbach
    </nobr>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Do 11-13, Raum 232, (14 tägl.), Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 11-13, SR 404, (14 tägl.), Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Oberseminar: Angewandte Mathematik
   </td>
   <td rowspan="2">
    <nobr>
     G. Dziuk,
    </nobr>
    <nobr>
     D. Kröner,
    </nobr>
    <nobr>
     M. Růžička
    </nobr>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 14-16, SR 226, Hermann-Herder-Str. 10
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://www.imbi.uni-freiburg.de/biom/index.php?conID=48">
     Oberseminar: Medizinische Statistik
    </a>
   </td>
   <td>
    M. Schumacher
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 11-12:30, HS Medizinische Biometrie, Stefan-Meier-Str. 26
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    siehe auch:
    <a href="http://www.imbi.uni-freiburg.de/biom/index.php?conID=48">
     http://www.imbi.uni-freiburg.de/biom/index.php?conID=48
    </a>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h3>
     Arbeitsgemeinschaften
    </h3>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Arbeitsgemeinschaft: Algebra
   </td>
   <td rowspan="2">
    <nobr>
     A. Huber-Klawitter,
    </nobr>
    <nobr>
     S. Kebekus,
    </nobr>
    <nobr>
     W. Soergel,
    </nobr>
    <nobr>
     U. Derenthal
    </nobr>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 11-13, SR 125, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Arbeitsgemeinschaft: Analytische Zahlentheorie
   </td>
   <td>
    K. Halupczok
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 11-13, SR 414, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Arbeitsgemeinschaft: Geometrische Analysis
   </td>
   <td>
    E. Kuwert G. Wang
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 16:00-18:00, SR 404, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Arbeitsgemeinschaft: Finite Elemente
   </td>
   <td>
    G. Dziuk
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 11-13, SR 226, Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    N. N.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Arbeitsgemeinschaft: Nicht-Newtonsche Fluide
   </td>
   <td>
    M. Růžička
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 16-18, SR 127, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    L. Diening
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h3>
     Kolloquien
    </h3>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Anleitung zum selbständigen wissenschaftlichen Arbeiten
   </td>
   <td rowspan="2">
    Alle Dozenten der Mathematik
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    ganztägig - n. V.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://www.fdm.uni-freiburg.de/">
     Seminar über Datenanalyse und Modellbildung
    </a>
   </td>
   <td rowspan="2">
    <nobr>
     H.R. Lerche,
    </nobr>
    <nobr>
     P. Pfaffelhuber,
    </nobr>
    <nobr>
     L. Rüschendorf,
    </nobr>
    <nobr>
     M. Schumacher,
    </nobr>
    <nobr>
     J. Timmer
    </nobr>
    ,
    <nobr>
     E. Löcherbach
    </nobr>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 11-13, SR 404, Eckerstr. 1 (14tägl.)
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    AF
   </td>
   <td>
    Didaktisches Seminar
   </td>
   <td rowspan="2">
    <nobr>
     M. Bürker,
    </nobr>
    <nobr>
     L. Rüschendorf
    </nobr>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 19:30-21, HS II, Albertstr. 23 b
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    - besondere Ankündigung
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Kolloquium des SFB/Transregio 71
    <nobr>
     "Geometrische Partielle Differentialgleichungen"
    </nobr>
   </td>
   <td rowspan="2">
    <nobr>
     Die Dozenten des
    </nobr>
    <nobr>
     SFB/Transregio 71
    </nobr>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 16-19, HS II Albertstr. 23 b
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    siehe Ankündigung
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/kolloquium/">
     Kolloquium der Mathematik
    </a>
   </td>
   <td rowspan="4">
    Alle Dozenten der Mathematik
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Do 17:00-18, HS II Albertstr. 23 b
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    - besondere Ankündigung
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
 </table>
</div>
