<div class="container" id="inhalt">
 <h1>
  Lehrveranstaltungen im Wintersemester 2010/11
 </h1>
 <h4>
  Stand: 21.09.2010
 </h4>
 <table border="0" cellspacing="10" summary="">
  <tr>
   <td>
    B
   </td>
   <td>
    =
   </td>
   <td>
    Pflichtveranstaltung im Bachelor-Studiengang Mathematik
   </td>
  </tr>
  <tr>
   <td>
    W
   </td>
   <td>
    =
   </td>
   <td>
    Wahlpflichtveranstaltung im Bachelor-Studiengang Mathematik (geeignet für mittlere Semester anderer Studiengänge)
   </td>
  </tr>
  <tr>
   <td>
    L
   </td>
   <td>
    =
   </td>
   <td>
    Pflichtveranstaltung im Lehramtsstudiengang (Studienbeginn ab WS 2010/11)
   </td>
  </tr>
  <tr>
   <td>
    HS
   </td>
   <td>
    =
   </td>
   <td>
    Hörsaal
   </td>
  </tr>
  <tr>
   <td>
    SR
   </td>
   <td>
    =
   </td>
   <td>
    Seminarraum
   </td>
  </tr>
  <tr>
   <td>
    AF
   </td>
   <td>
    =
   </td>
   <td>
    Hörer aller Fakultäten
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    =
   </td>
   <td>
    nur nach persönlicher Anmeldung
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
 </table>
 <p>
  <i>
   Hinweis:
  </i>
  Ausführliche Informationen (Vorkenntnisse, Folgeveranstaltungen, Prüfungen) finden sich
in den von der Fakultät herausgegebenen "Kommentaren zu den Lehrveranstaltungen Mathematik".
  <br/>
  (Siehe auch:
  <a href="http://www.math.uni-freiburg.de/lehre/">
   http://www.math.uni-freiburg.de/lehre/
  </a>
  )
 </p>
 <p>
  <i>
   Hinweis:
  </i>
  Im Rahmen des EUCOR-Programms können auch Vorlesungen am Mathematischen Institut in Straßburg belegt werden. Informationen dazu gibt es
  <a href="http://home.mathematik.uni-freiburg.de/arithmetische-geometrie/lehre/strasbourg0910.html">
   hier
  </a>
  .
 </p>
 <table border="0" class="vlverz" style="max-width:850px;" summary="">
  <col style="width:50pt"/>
  <col/>
  <col style="width:30%;"/>
  <tr>
   <td colspan="3">
    <h2>
     1. Einführende Vorlesungen
    </h2>
   </td>
  </tr>
  <tr>
   <td>
    B, L
   </td>
   <td>
    Lineare Algebra I
   </td>
   <td>
    S. Kebekus
   </td>
  </tr>
  <tr>
   <td>
    <small>
     8 ECTS
    </small>
   </td>
   <td>
    Di, Do 8-10, HS Rundbau, Albertstr. 21
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - in Gruppen - 2stündig n. V.
   </td>
   <td>
    S. Kebekus
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n. V.
   </td>
   <td>
    A. Höring
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    B, L
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/dlohmann/analysis-1.html">
     Analysis I
    </a>
   </td>
   <td>
    L. Rüschendorf
   </td>
  </tr>
  <tr>
   <td>
    <small>
     8 ECTS
    </small>
   </td>
   <td>
    Mo, Mi 8-10, HS Rundbau, Albertstr. 21
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - in Gruppen - 2stündig n. V.
   </td>
   <td>
    L. Rüschendorf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n. V.
   </td>
   <td>
    D. Lohmann
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    AF
   </td>
   <td>
    Ringvorlesung: Exakte Phantasie
   </td>
   <td rowspan="2">
    A. Albrecht, L. Rüschendorf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 18-20, HS 1098, KG I, 14tägl.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    (mit Blockseminar zu Semesterende auch epg2-Veranstaltung)
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Exakte Phantasie - epg-Begleitseminar
   </td>
   <td rowspan="3">
    A. Albrecht, F. Bomski, M. Bürker, M. Junker, L. Rüschendorf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    (Blockseminar; voraussichtlicher Termin 17.02.2010 - 18.02.2010),
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    SR 404, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h2>
     2. Kurs- und Spezialvorlesungen
    </h2>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <i>
     Die mit ☐ gekennzeichneten Vorlesungen kommen für die Zwischenprüfung in Frage.
    </i>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    B ☐
   </td>
   <td>
    <a href="http://aam.mathematik.uni-freiburg.de/IAM/Teaching/ubungen/num_WS10_11/">
     Numerik
    </a>
    (1. Teil der zweisemestrigen Veranstaltung)
   </td>
   <td>
    D. Kröner
   </td>
  </tr>
  <tr>
   <td>
    <small>
     9 ECTS*
    </small>
   </td>
   <td>
    Mi 10-12, HS Weismann-Haus, Albertstr. 21 a
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig (14täglich) n. V. D. Kröner
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n. V.
   </td>
   <td>
    Ch. Gersbacher
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    B ☐
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvWS2010/VorStochI/">
     Stochastik
    </a>
    (1. Teil der zweisemestrigen Veranstaltung)
   </td>
   <td>
    E. Eberlein
   </td>
  </tr>
  <tr>
   <td>
    <small>
     9 ECTS*
    </small>
   </td>
   <td>
    Mo 16-18, HS Rundbau, Albertstr. 21
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig (14täglich) n. V.
   </td>
   <td>
    E. Eberlein
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n. V.
   </td>
   <td>
    J. Kühn
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <i>
     * die ECTS-Punktzahl gilt für beide Semester
    </i>
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    B ☐
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/kitchen/analysis3.html">
     Analysis III
    </a>
   </td>
   <td>
    W. Soergel
   </td>
  </tr>
  <tr>
   <td>
    <small>
     9 ECTS
    </small>
   </td>
   <td>
    Mo 8-10, HS Weismann-Haus, Albertstr. 21 a
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 8-10, HS Rundbau, Albertstr. 21
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n. V.
   </td>
   <td>
    W. Soergel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n. V.
   </td>
   <td>
    S. Kitchen
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    W ☐
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/graf/Algebra-WS1011/Algebra-WS1011.html">
     Algebra und Zahlentheorie
    </a>
   </td>
   <td>
    T. Szemberg
   </td>
  </tr>
  <tr>
   <td>
    <small>
     9 ECTS
    </small>
   </td>
   <td>
    Di, Do 8-10, HS II, Albertstr. 23 b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n. V.
   </td>
   <td>
    T. Szemberg
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n. V.
   </td>
   <td>
    P. Graf
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    W ☐
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/ludwig/WS1011/topologie/">
     Topologie
    </a>
   </td>
   <td>
    S. Goette
   </td>
  </tr>
  <tr>
   <td>
    <small>
     9 ECTS
    </small>
   </td>
   <td>
    Di, Do 10-12, HS II, Albertstr. 23b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n. V.
   </td>
   <td>
    S. Goette
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen
   </td>
   <td>
    U Ludwig
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    W
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/arithmetische-geometrie/lehre/ws10/arithmie.html">
     Arithmetische Geometrie
    </a>
   </td>
   <td>
    A. Huber-Klawitter
   </td>
  </tr>
  <tr>
   <td>
    <small>
     9 ECTS
    </small>
   </td>
   <td>
    Mo, Mi 10-12, HS II, Albertstr. 23 b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n. V.
   </td>
   <td>
    A. Huber-Klawitter
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n. V.
   </td>
   <td>
    M. Wendt
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    W
   </td>
   <td>
    <a href="http://aam.mathematik.uni-freiburg.de/IAM/Teaching/ubungen/theonum_pde_WS10/">
     Einführung in die Theorie und Numerik partieller Differentialgleichungen
    </a>
   </td>
   <td>
    M. Růžička
   </td>
  </tr>
  <tr>
   <td>
    <small>
     9 ECTS
    </small>
   </td>
   <td>
    Mo, Mi 14-16, HS Weismann-Haus, Albertstr. 21 a
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n. V.
   </td>
   <td>
    M. Růžička
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n. V.
   </td>
   <td>
    P. Nägele
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - 2 stündig n. V.
   </td>
   <td>
    A. Schumacher
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    W
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/mkuehnel/ft2/">
     Funktionentheorie II:
    </a>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    <small>
     9 ECTS
    </small>
   </td>
   <td>
    Teil I: Riemannsche Flächen
   </td>
   <td>
    D. Greb
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Teil II: Mehrere komplexe Veränderliche
   </td>
   <td>
    M. Kühnel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di, Do 14-16, Weismann-Haus, Albertstr. 21 a
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n. V.
   </td>
   <td>
    D. Greb/M. Kühnel
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    W
   </td>
   <td>
    Partielle Differentialgleichungen
   </td>
   <td>
    E. Kuwert
   </td>
  </tr>
  <tr>
   <td>
    <small>
     9 ECTS
    </small>
   </td>
   <td>
    Mo, Mi 10-12, SR 404, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n. V.
   </td>
   <td>
    E. Kuwert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n. V.
   </td>
   <td>
    A. Volkmann
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    W
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvWS2010/VorWTI/">
     Wahrscheinlichkeitstheorie
    </a>
   </td>
   <td>
    P. Pfaffelhuber
   </td>
  </tr>
  <tr>
   <td>
    <small>
     9 ECTS
    </small>
   </td>
   <td>
    Di, Do 12-14, HS II, Albertstr. 23 b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n. V.
   </td>
   <td>
    P. Pfaffelhuber
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n. V.
   </td>
   <td>
    V. Pohl
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvWS2010/VorMathStat/">
     Mathematische Statistik
    </a>
   </td>
   <td>
    H. R. Lerche
   </td>
  </tr>
  <tr>
   <td>
    <small>
     9 ECTS
    </small>
   </td>
   <td>
    Di, Fr 14-16, HS II, Albertstr. 23 b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n. V.
   </td>
   <td>
    H. R. Lerche
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n. V.
   </td>
   <td>
    I. Maas/D. Stich
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/analysis/evngleichung/">
     Einführung in parabolische und geometrische Evolutionsgleichungen
    </a>
   </td>
   <td>
    M. Simon
   </td>
  </tr>
  <tr>
   <td>
    <small>
     9 ECTS
    </small>
   </td>
   <td>
    <neu>
     Di 8-10, Fr 9-11, SR 404, Eckerstr. 1
    </neu>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n. V.
   </td>
   <td>
    M. Simon
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n. V.
   </td>
   <td>
    E. Mäder
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h4>
     Zweistündige Vorlesungen:
    </h4>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    <neu>
     <a href="http://home.mathematik.uni-freiburg.de/mlisting/HR/">
      Homogene Räume
     </a>
    </neu>
   </td>
   <td>
    M. Listing
   </td>
  </tr>
  <tr>
   <td>
    <small>
     6 ECTS
    </small>
   </td>
   <td>
    Mo 8-10, SR 404, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu Mo 10-12, SR 127, Eckerstr. 1
   </td>
   <td>
    J. Schlüter
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/flum/ml/">
     Mengenlehre
    </a>
   </td>
   <td>
    J. Flum
   </td>
  </tr>
  <tr>
   <td>
    <small>
     5 ECTS
    </small>
   </td>
   <td>
    Mi 16-18, HS Weismann-Haus, Albertstr. 21 a
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu Mo 16-18, 14tägl., HS Weismann-Haus, Albertstr. 21 a
   </td>
   <td>
    J. Flum
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n. V.
   </td>
   <td>
    N. Frohn
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    <a href="http://aam.mathematik.uni-freiburg.de/IAM/Teaching/ubungen/theonum_pde_III_WS10_11/">
     Theorie und Numerik für partielle Differentialgleichungen III
    </a>
   </td>
   <td>
    D. Kröner
   </td>
  </tr>
  <tr>
   <td>
    <small>
     5 ECTS
    </small>
   </td>
   <td>
    Mo 10-12, HS Weismann-Haus, Albertstr. 21 a
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu Mi 10-12, 14tägl., SR 226, Hermann-Herder-Str. 10
   </td>
   <td>
    D. Kröner
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n. V.
   </td>
   <td>
    T. Müller
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Zusatzvorlesung zur Theorie und Numerik für partielle Differentialgleichungen III
   </td>
   <td>
    M. Nolte
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    <a href="http://aam.mathematik.uni-freiburg.de/IAM/Teaching/ubungen/optimal_control_WS10_11/">
     Kontrolltheorie und optimale Steuerung
    </a>
   </td>
   <td>
    D. Lebiedz
   </td>
  </tr>
  <tr>
   <td>
    <small>
     6 ECTS
    </small>
   </td>
   <td>
    Mi 12-14, SR 226, Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n. V.
   </td>
   <td>
    D. Lebiedz
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h2>
     3. Lehrexportveranstaltungen
    </h2>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/geometrie/lehre/ws2010/vorlesung/index.de.html">
     Mathematik I für Studierende des Ingenieurwesens und der Informatik
    </a>
   </td>
   <td>
    V. Bangert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo, Mi 14-16, HS Rundbau, Albertstr. 21
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - in Gruppen - 2stündig n. V.
   </td>
   <td>
    V. Bangert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n. V.
   </td>
   <td>
    N. Röttgen
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/mfnw/">
     Mathematik I für Studierende der Naturwissenschaften
    </a>
   </td>
   <td>
    W. Schuster
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di, Do 17.30-19.30, HS Rundbau, Albertstr. 21
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - in Gruppen - 2stündig n. V.
   </td>
   <td>
    W. Schuster
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n. V.
   </td>
   <td>
    N. N.
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/mildenberger/veranstaltungen/ws1011-logikfuerinfo.html">
     Logik für Studierende der Informatik
    </a>
   </td>
   <td>
    H. Mildenberger
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi, Fr 10-12, HS 00-026, Geb. 101, Georges-Köhler-Allee
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig - n. V.
   </td>
   <td>
    J. D. Caycedo
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/junker/ws10/logik.html">
     Formale Logik für Studierende der Philosophie
    </a>
   </td>
   <td>
    M. Junker
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 16-18, HS 1221, KG I
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - in Gruppen - 2stündig n. V.
   </td>
   <td>
    M. Junker
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    <a href="http://aam.mathematik.uni-freiburg.de/IAM/Teaching/ubungen/mst_dgl_WS10_11/">
     Differentialgleichungen für Studierende der Mikrosystemtechnik
    </a>
   </td>
   <td>
    P. Pozzi
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 8-10, HS 00-026, Geb. 101, Georges-Köhler-Allee
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - in Gruppen - 2stündig n. V.
   </td>
   <td>
    P. Pozzi
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mitwirkung bei den Übungen - n. V.
   </td>
   <td>
    J. Steinhilber
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h2>
     4. Fachdidaktik
    </h2>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/didaktik/lehrveranstaltungen/angebot_ws1011.html">
     Didaktik der Geometrie und Stochastik
    </a>
   </td>
   <td>
    M. Bürker
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 8- 9, Do 8-10, SR 127, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu, Di 9-10, SR 127, Eckerstr. 1
   </td>
   <td>
    M. Bürker
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/didaktik/lehrveranstaltungen/angebot_ws1011.html#Medieneinsatz">
     Seminar: Medieneinsatz im Mathematikunterricht
    </a>
   </td>
   <td>
    M. Bürker
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 13-14, SR 127, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 14-16, Computerraum 131 Didaktik, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h2>
     5. Praktika
    </h2>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    <a href="http://aam.mathematik.uni-freiburg.de/IAM/Teaching/ubungen/c_kurs_WS10_11/">
     Kompaktkurs mit Übungen: Einführung in die Programmierung mit C
    </a>
   </td>
   <td>
    D. Kröner
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    11.-15. Oktober 2010, jeweils 10-12 und 13-15
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    CIP-Pool Raum 201, Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu
   </td>
   <td>
    C. Gersbacher
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    <b>
     Hinweis: Anmeldung erforderlich unter
christoph.gersbacher@mathematik.uni-freiburg.de
    </b>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    B
   </td>
   <td>
    Praktikum zu Numerik (1. Teil der zweisemestrigen Veranstaltung)
   </td>
   <td>
    D. Kröner
   </td>
  </tr>
  <tr>
   <td>
    <small>
     3 ECTS
    </small>
   </td>
   <td>
    Di 10-12, Mi 14-16, 16-18, Do 16-18, Fr 10-12 (2stündig; 14tägl.)
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    CIP-Pool Raum 201, Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n. V. Ch. Gersbacher
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvWS2010/PraStatPrak/">
     Statistisches Praktikum
    </a>
   </td>
   <td>
    E. Eberlein
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 14-16, Do 14-16, CIP-Pool Raum 201, Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    C. Borck
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    W
   </td>
   <td>
    <a href="http://aam.mathematik.uni-freiburg.de/IAM/Teaching/ubungen/theonum_pde_WS10/">
     Praktikum zu Einführung in die Theorie und Numerik partieller Differentialgleichungen
    </a>
   </td>
   <td>
    M. Růžička
   </td>
  </tr>
  <tr>
   <td>
    <small>
     3 ECTS
    </small>
   </td>
   <td>
    Mo 16-18, CIP-Pool Raum 201, Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    Ch. Gersbacher
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Praktikum zu Theorie und Numerik für partielle Differentialgleichungen III
   </td>
   <td>
    D. Kröner
   </td>
  </tr>
  <tr>
   <td>
    <small>
     3 ECTS
    </small>
   </td>
   <td>
    Mo 14-16, 14tägl., CIP-Pool Raum 201, Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu
   </td>
   <td>
    M. Kränkel, M. Nolte
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 10-12, 14tägl., SR 226, Hermann-Herder-Str. 10
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h2>
     6. Proseminare
    </h2>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    Hinweis: Die Anmeldung zu den Proseminaren erfolgt in der Regel am Ende der
Vorlesungszeit des Sommersemesters. Bitte beachten Sie die in den Kommentaren
veröffentlichten Anmeldemodalitäten.
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    W, PA
   </td>
   <td>
    Proseminar: Kristallsymmetrie und elementare Darstellungstheorie
   </td>
   <td>
    T. Szemberg
   </td>
  </tr>
  <tr>
   <td>
    <small>
     3 ECTS
    </small>
   </td>
   <td>
    Di 14-16, SR 125, Eckerstr. 1
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    A. Höring
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    W, PA
   </td>
   <td>
    Proseminar: Analysis
   </td>
   <td>
    E. Kuwert
   </td>
  </tr>
  <tr>
   <td>
    <small>
     3 ECTS
    </small>
   </td>
   <td>
    Di 14-16, SR 404, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    M. Ludwig
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    W, PA
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/mkuehnel/ps/index.html">
     Proseminar: Fourierreihen
    </a>
   </td>
   <td>
    M. Kühnel
   </td>
  </tr>
  <tr>
   <td>
    <small>
     3 ECTS
    </small>
   </td>
   <td>
    Mi 14-16, SR 125, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    S. Kiesel
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h2>
     7. Seminare
    </h2>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    Hinweis: Die Anmeldung zu den Seminaren erfolgt in der Regel am Ende der
Vorlesungszeit des Sommersemesters. Bitte beachten Sie die in den Kommentaren
veröffentlichten Anmeldemodalitäten.
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <b>
     NEU:
    </b>
    <a href="http://home.mathematik.uni-freiburg.de/zchen/Analysis.html">
     Seminar: Analysis
    </a>
   </td>
   <td>
    M. Simon
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    05.11.2010 und 14.01.2011, ganztags, SR 414, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    Z. Chen
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvWS2010/SemMathArbeit/">
     "Schreiben einer mathematischen Arbeit"
    </a>
   </td>
   <td>
    P. Pfaffelhuber
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Propädeutikum zum Bachelor-Seminar
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Blockveranstaltung nach Vorlesungsende
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    28.02.2011-04.03.2011, 9:00 - 13:00 Uhr, HS II, Albertstr. 23 b
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    (Hinweis: Dies ist kein Seminar: Bitte Kommentar beachten!)
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/arithmetische-geometrie/lehre/ws10/elliptic.html">
     Seminar: Arithmetik elliptischer Kurven
    </a>
   </td>
   <td>
    A. Huber-Klawitter
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 14-16, SR 125, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    M. Wendt
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/geometrie/lehre/ws2010/seminar/index.de.html">
     Seminar: Elementare Differentialgeometrie
    </a>
   </td>
   <td>
    V. Bangert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 14-16, SR 404, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    J. Frank
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/mlisting/indextheorie/">
     Seminar: Indextheorie
    </a>
   </td>
   <td>
    S. Goette
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 16-18, SR 403, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    M.  Listing
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/soergel/Seminar1011.html">
     Seminar zur Darstellungstheorie
    </a>
   </td>
   <td>
    W. Soergel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 8-10, SR 125, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    S. Kitchen
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Modelltheorie
   </td>
   <td>
    M. Junker, H. Mildenberger
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 14-16, HS II, Albertstr. 23b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    J. D. Caycedo
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <neu>
     <a href="http://home.mathematik.uni-freiburg.de/mildenberger/veranstaltungen/ws1011-seminar.html">
      Seminar: Mengenlehre
     </a>
     (Bachelor-Studiengang)
    </neu>
   </td>
   <td>
    H. Mildenberger
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 16-18. SR 414, Eckerstr.1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    L. Motto Ros
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <neu>
     <a href="http://home.mathematik.uni-freiburg.de/mildenberger/veranstaltungen/ws1011-seminar2.html">
      Seminar über Mengenlehre und Modelltheorie
     </a>
    </neu>
   </td>
   <td>
    H. Mildenberger
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Do 10-12, SR 318, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    L. Motto Ros
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvWS2010/SemFinMath/">
     Seminar: Finanzmathematik
    </a>
   </td>
   <td>
    L. Rüschendorf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 16-18, SR 125, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    V. Wolf
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvWS2010/SemStat/">
     Seminar: Statistik
    </a>
   </td>
   <td>
    H. R. Lerche
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 16-18, SR 127, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    F. Baumdicker
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Numerik für nicht-lineare Differentialgleichungen
   </td>
   <td>
    D. Kröner
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 12-14, SR 125, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    M. Nolte
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Numerische Optimierungsverfahren
   </td>
   <td>
    D. Lebiedz
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 16-18, SR 226, Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu - n. V.
   </td>
   <td>
    D. Lebiedz
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Statistische Modelle in der klinischen Epidemiologie
   </td>
   <td>
    M. Schumacher
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 9:30-11, HS Medizinische Biometrie, Stefan-Meier-Str. 26
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    siehe auch:
    <a href="http://www.imbi.uni-freiburg.de/biom/index.php?conID=47">
     http://www.imbi.uni-freiburg.de/biom/index.php?conID=47
    </a>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h2>
     8. Oberseminare
    </h2>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Oberseminar: Algebra, Zahlentheorie und algebraische Geometrie
   </td>
   <td rowspan="2">
    A. Huber-Klawitter, S. Kebekus, W. Soergel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 10-12, SR 127, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Oberseminar: Differentialgeometrie
   </td>
   <td>
    V. Bangert, S. Goette
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 16-18, SR 404, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/aktuelles/oberseminar/oberseminarWS2010.html">
     Oberseminar: Stochastik
    </a>
   </td>
   <td rowspan="3">
    E. Eberlein, H. R. Lerche, P. Pfaffelhuber, L. Rüschendorf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Do 11-13, Raum 232, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 11-13, SR 404, Eckerstr. 1 (14 tägl.)
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Oberseminar: Angewandte Mathematik
   </td>
   <td rowspan="2">
    D. Kröner, M. Růžička
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 14-16, SR 226, Hermann-Herder-Str. 10
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h2>
     9. Arbeitsgemeinschaften
    </h2>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td href="http://home.mathematik.uni-freiburg.de/soergel/AG1011.html">
    Arbeitsgemeinschaft: Algebraische Geometrie
   </td>
   <td rowspan="2">
    A. Huber-Klawitter, S. Kebekus, W. Soergel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 14-16, SR 127, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Arbeitsgemeinschaft: Geometrische Analysis
   </td>
   <td>
    E. Kuwert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 16-18, SR 404, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://aam.mathematik.uni-freiburg.de/IAM/homepages/rose/ag.html">
     Arbeitsgemeinschaft: Nicht-Newtonsche Flüssigkeiten
    </a>
   </td>
   <td>
    M. Růžička
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 16-18, SR 127, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h2>
     10. Kolloquien und weitere Veranstaltungen
    </h2>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Anleitung zum selbständigen wissenschaftlichen Arbeiten
   </td>
   <td rowspan="2">
    Alle Dozenten der Mathematik
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    ganztägig n.V.
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar über Datenanalyse und Modellbildung
   </td>
   <td rowspan="3">
    E. Eberlein, H. R. Lerche, P. Pfaffelhuber, L. Rüschendorf, M. Schumacher, J. Timmer
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 11-13, SR 404, Eckerstr. 1 (14tägl.)
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    AF
   </td>
   <td>
    Didaktisches Seminar
   </td>
   <td>
    M. Bürker
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 19:30-21:00, HS II, Albertstr. 23 b
   </td>
   <td>
    W. Soergel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td colspan="2">
    - besondere Ankündigung -
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Internationales Forschungsseminar Algebraische Geometrie (IRMA)
   </td>
   <td>
    S. Kebekus
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    (Freiburg - Nancy - Strasbourg)
   </td>
   <td>
    D. Greb
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    - besondere Ankündigung: zwei Termine pro Semester, n. V. -
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    siehe auch:
    <a href="http://home.mathematik.uni-freiburg.de/kebekus/ACG/">
     http://home.mathematik.uni-freiburg.de/kebekus/ACG/
    </a>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Kolloquium des SFB/Transregio 71 "Geometrische Partielle Differentialgleichungen"
   </td>
   <td rowspan="2">
    Die Dozenten des SFB/Transregio 71
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 16-19, HS II, Albertstr. 23 b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    siehe Ankündigung
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Kolloquium der Mathematik
   </td>
   <td>
    Alle Dozenten
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Do 17:00-18, HS II, Albertstr. 23 b der Mathematik
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    - besondere Ankündigung -
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    siehe auch: http://wochenprogramm.mathematik.uni-freiburg.de/kolloquium
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    AF
   </td>
   <td>
    Ringvorlesung: Exakte Phantasie
   </td>
   <td rowspan="2">
    A. Albrecht, L. Rüschendorf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 18-20, HS 1098, KG I, 14tägl.
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    (mit Blockseminar zu Semesterende auch epg2-Veranstaltung)
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Exakte Phantasie - epg-Begleitseminar
   </td>
   <td rowspan="3">
    A. Albrecht, F. Bomski, M. Bürker, M. Junker, L. Rüschendorf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    (Blockseminar; voraussichtlicher Termin 17.02.2010 - 18.02.2010),
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    SR 404, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
 </table>
</div>
