<div class="container" id="inhalt">
 <h1>
  Lehrveranstaltungen im Wintersemester 2011/2012
 </h1>
 <h4>
  Stand: 2011-05-31
 </h4>
 <h3>
  Pflichtveranstaltungen:
 </h3>
 <dl>
  <dt>
   B
  </dt>
  <dd>
   Pflichtveranstaltung im Bachelor-Studiengang Mathematik
   <dd>
   </dd>
  </dd>
  <dt>
   L
  </dt>
  <dd>
   Pflichtveranstaltung im Lehramtstudiengang (nach GymPO I, Studienbeginn ab WS 2010/11)
   <dd>
   </dd>
  </dd>
 </dl>
 <h3>
  Wahlpflichtveranstaltungen:
 </h3>
 Bitte achten Sie auf die notwendigen Vorkenntnisse (siehe kommentiertes Vorlesungsverzeichnis oder Modulhandbuch).
Die Wahlpflichtveranstaltungen des Bachelor- und des neuen Lehramtsstudiengangs
sind auch für den bisherigen Lehramtsstudiengang und mittlere Semester des Diplomstudiengangs geeignet.
 <dl>
  <dt>
   W
  </dt>
  <dd>
   geeignet für den Bachelor- und den Lehramtsstudiengang Mathematik (nach GymPO I)
   <dd>
   </dd>
  </dd>
  <dt>
   WB
  </dt>
  <dd>
   geeignet für den Bachelor-Studiengang
   <dd>
   </dd>
  </dd>
  <dt>
   WL
  </dt>
  <dd>
   geeignet für den Lehramtsstudiengang (nach GymPO I)
   <dd>
   </dd>
  </dd>
  <dt>
   M
  </dt>
  <dd>
   geeignet für den Masterstudiengang
   <dd>
   </dd>
  </dd>
  <dt>
   WB, M
  </dt>
  <dd>
   in erster Linie WB.
Falls die Veranstaltung noch nicht im Bachelor-Studium absolviert wurde, auch M.
   <dd>
   </dd>
  </dd>
  <dt>
   M, WB
  </dt>
  <dd>
   in erster Linie M.
Auch für Bachelor-Studierende mit ausreichenden Vorkenntnissen geeignet.
   <dd>
   </dd>
  </dd>
 </dl>
 <h3>
  Abkürzungen
 </h3>
 <dl>
  <dt>
   HS
  </dt>
  <dd>
   Hörsaal
   <dd>
   </dd>
  </dd>
  <dt>
   SR
  </dt>
  <dd>
   Seminarraum
   <dd>
   </dd>
  </dd>
  <dt>
   AF
  </dt>
  <dd>
   Hörer aller Fakultäten
   <dd>
   </dd>
  </dd>
  <dt>
   PA
  </dt>
  <dd>
   nur nach persönlicher Anmeldung
   <dd>
   </dd>
  </dd>
 </dl>
 <p>
  <i>
   Hinweis:
  </i>
  Ausführliche Informationen (Vorkenntnisse, Folgeveranstaltungen, Prüfungen) finden sich in
den von der Fakultät herausgegebenen
  <a href="http://www.math.uni-freiburg.de/lehre/v/ws1112/index.html">
   „Kommentaren zu den Lehrveranstaltungen Mathematik“
  </a>
  .
(für PDF-Version und alte Versionen siehe auch:
  <a href="http://www.math.uni-freiburg.de/lehre/v/index.html">
   http://www.math.uni-freiburg.de/lehre/v/
  </a>
  )
 </p>
 <table border="0" class="vlverz" style="max-width:850px;" summary="">
  <col style="width:50pt"/>
  <col/>
  <col style="width:30%;"/>
  <tr>
   <td colspan="3">
    <h2>
     1. Einführende Vorlesungen
    </h2>
   </td>
  </tr>
  <tr>
   <td>
    B, L
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/caycedo/lehre/ws11_la1/">
     Lineare Algebra I
    </a>
   </td>
   <td>
    M. Ziegler
   </td>
  </tr>
  <tr>
   <td>
    8
    <small>
     ECTS
    </small>
   </td>
   <td>
    Di, Mi 8-10, HS Rundbau, Albertstr. 21
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - in Gruppen - 2stündig n. V.
   </td>
   <td>
    M. Ziegler
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Zusatzübung LA I
   </td>
   <td>
    S. Enright-Ward
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesung und Übungen
   </td>
   <td>
    J. D. Caycedo
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fragestunde dazu - Do 18-20, SR 404, Eckerstr. 1
   </td>
   <td>
    N. Röttgen
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    B, L
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/magni/ana1/">
     Analysis I
    </a>
   </td>
   <td>
    G. Wang
   </td>
  </tr>
  <tr>
   <td>
    8
    <small>
     ECTS
    </small>
   </td>
   <td>
    Mo, Do 8-10, HS Rundbau, Albertstr. 21
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - in Gruppen - 2stündig n. V.
   </td>
   <td>
    G. Wang
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesung und Übungen
   </td>
   <td>
    A. Magni
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fragestunde dazu - Mi 18-20, SR 404, Eckerstr. 1
   </td>
   <td>
    M. Listing
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h2>
     2. Kurs- und Spezialvorlesungen
    </h2>
   </td>
  </tr>
  <tr>
   <td>
    B, L
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvWS2011/VorStoch_I/">
     Stochastik (1. Teil der zweisemestrigen Veranstaltung)
    </a>
   </td>
   <td>
    H. R. Lerche
   </td>
  </tr>
  <tr>
   <td>
    9
    <small>
     ECTS
    </small>
    <a href="#ectshalf1">
     <sup>
      1
     </sup>
    </a>
   </td>
   <td>
    Do 12-14, HS Rundbau, Albertstr. 21
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig (14täglich) n. V.
   </td>
   <td>
    H. R. Lerche
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesung und Übungen
   </td>
   <td>
    Ch. Gerhart
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    B, L
   </td>
   <td>
    <a href="http://portal.uni-freiburg.de/aam/abtlg/wissmit/agdz/steinhilber/lehre/numerikws1112">
     Numerik (1. Teil der zweisemestrigen Veranstaltung)
    </a>
   </td>
   <td>
    G. Dziuk
   </td>
  </tr>
  <tr>
   <td>
    9
    <small>
     ECTS
    </small>
    <a href="#ectshalf1">
     <sup>
      1
     </sup>
    </a>
   </td>
   <td>
    Mi 12-14, HS Weismann-Haus, Albertstr. 21 a
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n. V.
   </td>
   <td>
    G. Dziuk
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesung und Übungen
   </td>
   <td>
    H. Fritz
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <br/>
    <a name="ectshalf1">
     <sup>
      1
     </sup>
    </a>
    die
    <small>
     ECTS
    </small>
    -Punktzahl gilt für beide Semester
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    WB, L
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/kitchen/aundztheorie.html">
     Algebra und Zahlentheorie
    </a>
   </td>
   <td>
    W. Soergel
   </td>
  </tr>
  <tr>
   <td>
    9
    <small>
     ECTS
    </small>
   </td>
   <td>
    Mo, Mi 10-12, HS Weismann-Haus, Albertstr. 21 a
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n. V.
   </td>
   <td>
    W. Soergel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesung und Übungen
   </td>
   <td>
    S. Kitchen
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    B, WL
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvWS2011/VorAna_III/">
     Analysis III
    </a>
   </td>
   <td>
    L. Rüschendorf
   </td>
  </tr>
  <tr>
   <td>
    9
    <small>
     ECTS
    </small>
   </td>
   <td>
    Di, Do 10-12, HS Weismann-Haus, Albertstr. 21 a
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n. V.
   </td>
   <td>
    L. Rüschendorf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesung und Übungen
   </td>
   <td>
    S. Kiesel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    WB, M
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/analysis/calc_varWS1112.html">
     Variationsrechnung
    </a>
   </td>
   <td>
    E. Kuwert
   </td>
  </tr>
  <tr>
   <td>
    9
    <small>
     ECTS
    </small>
   </td>
   <td>
    Mo, Mi 14-16, HS II, Albertstr. 23 b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n. V.
   </td>
   <td>
    E. Kuwert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesung und Übungen
   </td>
   <td>
    R. Alessandroni
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    WB, M
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/mathphys/lehre/WiSe11/differentialtopologie.html">
     Differentialtopologie
    </a>
   </td>
   <td>
    K. Wendland
   </td>
  </tr>
  <tr>
   <td>
    9
    <small>
     ECTS
    </small>
   </td>
   <td>
    Di, Do 12-14, HS Weismann-Haus, Albertstr. 21 a
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n. V.
   </td>
   <td>
    K. Wendland
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesung und Übungen
   </td>
   <td>
    N. Röttgen
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    W, M
   </td>
   <td>
    <a href="http://aam.mathematik.uni-freiburg.de/IAM/Teaching/ubungen/theonum_pde_WS11/">
     Einführung in die Theorie und Numerik partieller Differentialgleichungen
    </a>
   </td>
   <td>
    D. Kröner
   </td>
  </tr>
  <tr>
   <td>
    9
    <small>
     ECTS
    </small>
   </td>
   <td>
    Mo, Mi 12-14, HS II, Albertstr. 23 b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n. V.
   </td>
   <td>
    D. Kröner
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesung und Übungen
   </td>
   <td>
    J. Daube
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    W, M
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvWS2011/VorWT_I/">
     Wahrscheinlichkeitstheorie
    </a>
   </td>
   <td>
    E. Eberlein
   </td>
  </tr>
  <tr>
   <td>
    9
    <small>
     ECTS
    </small>
   </td>
   <td>
    Di, Do 10-12, HS II, Albertstr. 23 b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n. V.
   </td>
   <td>
    E. Eberlein
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesung und Übungen
   </td>
   <td>
    V. Pohl
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M, WB
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/arithmetische-geometrie/lehre/ws11/azt/azt.html">
     Algebraische Zahlentheorie
    </a>
   </td>
   <td>
    M. Wendt
   </td>
  </tr>
  <tr>
   <td>
    9
    <small>
     ECTS
    </small>
   </td>
   <td>
    Di, Do 14-16, HS II, Albertstr. 23 b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n. V.
   </td>
   <td>
    M. Wendt
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesung und Übungen
   </td>
   <td>
    F. Hörmann
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M, WB
   </td>
   <td>
    Themen der algebraischen Geometrie
   </td>
   <td>
    S. Kebekus
   </td>
  </tr>
  <tr>
   <td>
    9
    <small>
     ECTS
    </small>
   </td>
   <td>
    Di, Do 8-10, HS II, Albertstr. 23 b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n. V.
   </td>
   <td>
    S. Kebekus
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesung und Übungen
   </td>
   <td>
    E. Scheidegger
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    <a href="http://aam.mathematik.uni-freiburg.de/IAM/Teaching/ubungen/fa_II_WS11/">
     Nichtlineare Funktionalanalysis
    </a>
   </td>
   <td>
    M. Růžička
   </td>
  </tr>
  <tr>
   <td>
    9
    <small>
     ECTS
    </small>
   </td>
   <td>
    Mo, Mi 10-12, HS II, Albertstr. 23 b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n. V.
   </td>
   <td>
    M. Růžička
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Zusatzübung dazu – 2 stündig n. V
   </td>
   <td>
    P. Nägele
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesung und Übungen
   </td>
   <td>
    P. Nägele
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    Theorie und Numerik partieller Differentialgleichungen, Teil I
   </td>
   <td>
    G. Dziuk, D. Kröner
   </td>
  </tr>
  <tr>
   <td>
    9
    <small>
     ECTS
    </small>
   </td>
   <td>
    Mo, Mi 10–12, SR 127, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu – 2stündig n. V.
   </td>
   <td>
    G. Dziuk, D. Kröner
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Zusatzübung dazu – 2 stündig n. V.
   </td>
   <td>
    S. Eckstein
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesung und Übungen
   </td>
   <td>
    S. Eckstein
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvWS2011/VorStochProz/">
     Stochastische Prozesse
    </a>
   </td>
   <td>
    P. Pfaffelhuber
   </td>
  </tr>
  <tr>
   <td>
    9
    <small>
     ECTS
    </small>
   </td>
   <td>
    Di, Do 12-14, HS II, Albertstr. 23 b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n. V.
   </td>
   <td>
    P. Pfaffelhuber
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesung und Übungen
   </td>
   <td>
    V. Wolf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    Optimierung 1
   </td>
   <td>
    D. Lebiedz
   </td>
  </tr>
  <tr>
   <td>
    9
    <small>
     ECTS
    </small>
   </td>
   <td>
    Mi, Do 10-12, SR 226, Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n. V.
   </td>
   <td>
    D. Lebiedz
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesung und Übungen
   </td>
   <td>
    D. Skanda
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h3>
     Zweistündige Vorlesungen:
    </h3>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/ludwig/WS1112/Funktionentheorie/index.html">
     Funktionentheorie II: Riemannsche Flächen
    </a>
   </td>
   <td>
    U. Ludwig
   </td>
  </tr>
  <tr>
   <td>
    6
    <small>
     ECTS
    </small>
   </td>
   <td>
    Fr 10-12, HS II, Albertstr. 23 b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n. V.
   </td>
   <td>
    U. Ludwig
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvWS2011/VorAlgoBaum/">
     Algorithmen und zufällige Bäume
    </a>
   </td>
   <td>
    L. Rüschendorf
   </td>
  </tr>
  <tr>
   <td>
    6
    <small>
     ECTS
    </small>
   </td>
   <td>
    Mo 14-16, SR 404, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n. V.
   </td>
   <td>
    L. Rüschendorf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesung und Übungen
   </td>
   <td>
    J. Kühn
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    <a href="http://www.prim.uni-freiburg.de/lehre/ws-2011-2012/futures-and-options">
     Futures and Options
    </a>
   </td>
   <td>
    E. Lütkebohmert-Holtz
   </td>
  </tr>
  <tr>
   <td>
    6
    <small>
     ECTS
    </small>
   </td>
   <td>
    Di 10-12, HS 2121, KG II
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n. V.
   </td>
   <td>
    E. Lütkebohmert-Holtz
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvWS2011/VorOptStop/">
     Optimales Stoppen und Sequentialanalyse
    </a>
   </td>
   <td>
    H. R. Lerche
   </td>
  </tr>
  <tr>
   <td>
    5
    <small>
     ECTS
    </small>
   </td>
   <td>
    Fr 14-16, HS II, Albertstr. 23 b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 1stündig n. V.
   </td>
   <td>
    H. R. Lerche
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesung und Übungen
   </td>
   <td>
    D. Stich
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M, WB
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvWS2011/VorDualOpt/">
     Stetige Funktionen, Dualität und Optimierung
    </a>
   </td>
   <td>
    H. Weisshaupt
   </td>
  </tr>
  <tr>
   <td>
    6
    <small>
     ECTS
    </small>
   </td>
   <td>
    Fr 10:45 – 11:45, SR 226, Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 12-14, HS II, Albertstr. 23b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 1stündig n. V.
   </td>
   <td>
    H. Weisshaupt
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesung und Übungen
   </td>
   <td>
    P. Bäurer
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvWS2011/VorStochPop/">
     Stochastische Populationsmodelle
    </a>
   </td>
   <td>
    A. Depperschmidt
   </td>
  </tr>
  <tr>
   <td>
    3
    <small>
     ECTS
    </small>
   </td>
   <td>
    Mi 16-18, SR 127, Eckertstr. 1
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h2>
     3. Lehrexportveranstaltungen
    </h2>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/arithmetische-geometrie/lehre/ws11/mfii/index.de.html">
     Mathematik I für Studierende des Ingenieurwesens und der Informatik
    </a>
   </td>
   <td>
    A. Huber-Klawitter
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 14-16, Fr 8-10, HS Rundbau, Albertstr. 21
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - in Gruppen - 2stündig n. V.
   </td>
   <td>
    A. Huber-Klawitter
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesung und Übungen
   </td>
   <td>
    M. Listing
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/mfnw/index.html">
     Mathematik I für Studierende der Naturwissenschaften
    </a>
   </td>
   <td>
    V. Bangert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di, Do 17.30-19.30, HS Rundbau, Albertstr. 21
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - in Gruppen - 2stündig n. V.
   </td>
   <td>
    V. Bangert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesung und Übungen
   </td>
   <td>
    J. Frank
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/mildenberger/veranstaltungen/ws11/logikfuerinfo2011.html">
     Logik für Studierende der Informatik
    </a>
   </td>
   <td>
    H. Mildenberger
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 10-12, HS 00-026, Geb. 101, Georges-Köhler-Allee
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - 2stündig n. V.
   </td>
   <td>
    H. Mildenberger
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesung und Übungen
   </td>
   <td>
    L. Motto Ros
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/junker/ws11/logik.html">
     Logik für Studierende der Philosophie
    </a>
   </td>
   <td>
    M. Junker
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 10-12, HS 3219, KG III
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - in Gruppen - 2stündig n. V.
   </td>
   <td>
    M. Junker
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Differentialgleichungen für Studierende der Mikrosystemtechnik
   </td>
   <td>
    G. Dziuk
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 8-10, HS 026, Geb. 101, Georges-Köhler-Allee
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - in Gruppen - 2stündig n. V.
   </td>
   <td>
    G. Dziuk
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesung und Übungen
   </td>
   <td>
    P. Reiter
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h2>
     4. Fachdidaktik
    </h2>
   </td>
  </tr>
  <tr>
   <td>
    L
   </td>
   <td>
    Didaktik der Algebra und Analysis
   </td>
   <td>
    M. Bürker
   </td>
  </tr>
  <tr>
   <td>
    3
    <small>
     ECTS
    </small>
   </td>
   <td>
    Di 10-12, SR 404, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu - (14täglich) n.V.
   </td>
   <td>
    M. Bürker
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    WL,PA
   </td>
   <td>
    Seminar: Medieneinsatz im Mathematikunterricht
   </td>
   <td>
    M. Bürker
   </td>
  </tr>
  <tr>
   <td>
    4
    <small>
     ECTS
    </small>
   </td>
   <td>
    Mi 13-14, SR 127, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 14-16, Computerraum 131 Didaktik, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h2>
     5. Praktische Übungen
    </h2>
   </td>
  </tr>
  <tr>
   <td>
    B, WL
   </td>
   <td>
    <a href="http://portal.uni-freiburg.de/aam/abtlg/wissmit/agdz/steinhilber/lehre/numerikws1112">
     Praktische Übung zu „Numerik“ (1. Teil der zweisemestrigen Veranstaltung)
    </a>
   </td>
   <td>
    G. Dziuk
   </td>
  </tr>
  <tr>
   <td>
    3
    <small>
     ECTS
    </small>
    <a href="#ectshalf2">
     <sup>
      2
     </sup>
    </a>
   </td>
   <td>
    Di 10-12, Mi 16-18, Do 14-16, Do 16-18, Fr 10-12 - 2stündig (14täglich)
    <br/>
    CIP-Pool Raum 201, Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu
   </td>
   <td>
    J. Steinhilber
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <br/>
    <a name="ectshalf2">
     <sup>
      2
     </sup>
    </a>
    die
    <small>
     ECTS
    </small>
    -Punktzahl gilt für beide Semester
   </td>
  </tr>
  <tr>
   <td>
    W, M
   </td>
   <td>
    <a href="http://aam.mathematik.uni-freiburg.de/IAM/Teaching/ubungen/theonum_pde_WS11/">
     Praktische Übung zu „Einführung in die Theorie und Numerik partieller Differentialgleichungen“
    </a>
   </td>
   <td>
    D. Kröner
   </td>
  </tr>
  <tr>
   <td>
    3
    <small>
     ECTS
    </small>
   </td>
   <td>
    Mi 14-16, CIP-Pool Raum 201, Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu
   </td>
   <td>
    Ch. Gersbacher
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h2>
     6. Proseminare
    </h2>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    Hinweis: Die Anmeldung zu den Proseminaren erfolgt in der Regel am Ende der Vorlesungszeit des Sommersemesters. Bitte beachten Sie die in den Kommentaren veröffentlichten Anmeldemodalitäten.
   </td>
  </tr>
  <tr>
   <td>
    W, PA
   </td>
   <td>
    Proseminar: Elementare Zahlentheorie
   </td>
   <td>
    A. Huber-Klawitter
   </td>
  </tr>
  <tr>
   <td>
    3
    <small>
     ECTS
    </small>
   </td>
   <td>
    Di 14-16, SR 404, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu
   </td>
   <td>
    F. Hörmann
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    W, PA
   </td>
   <td>
    Proseminar: Mathematische Modellierung
   </td>
   <td>
    D. Kröner
   </td>
  </tr>
  <tr>
   <td>
    3
    <small>
     ECTS
    </small>
   </td>
   <td>
    Mo 16-18, SR 226, Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu
   </td>
   <td>
    M. Nolte
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    W, PA
   </td>
   <td>
    Proseminar:
    <a href="http://home.mathematik.uni-freiburg.de/mathphys/lehre/WiSe11/koecher.html">
     Köcher
    </a>
   </td>
   <td>
    K. Wendland
   </td>
  </tr>
  <tr>
   <td>
    3
    <small>
     ECTS
    </small>
   </td>
   <td>
    Di 14-16, SR 119, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu
   </td>
   <td>
    M. Engenhorst
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    W, PA
   </td>
   <td>
    Proseminar:
    <a href="http://home.mathematik.uni-freiburg.de/junker/ws11/proseminar.html">
     Mathematische Logik
    </a>
   </td>
   <td>
    M. Junker
   </td>
  </tr>
  <tr>
   <td>
    3
    <small>
     ECTS
    </small>
   </td>
   <td>
    Speziell für Lehramtsstudierende im Praxissemester: Beginn Januar 2012
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 16-18, SR 404, Eckerstr. 1 + Blockseminartage nach Vorlesungsende
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu
   </td>
   <td>
    P. Graf
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h2>
     7. Seminare
    </h2>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    Hinweis: Die Anmeldung zu den Seminaren erfolgt in der Regel am Ende der Vorlesungszeit des Sommersemesters.
    <br/>
    Bitte beachten Sie die in den Kommentaren veröffentlichten Anmeldemodalitäten.
    <br/>
    Die mit W gekennzeichneten Seminare sind auch als Bachelor-Seminare und als Seminare im Lehramts-studiengang nach WPO geeignet.
   </td>
  </tr>
  <tr>
   <td>
    W, PA
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvWS2011/SemStoch/">
     Seminar: Stochastik
    </a>
   </td>
   <td>
    H. R. Lerche
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 14-16, SR 218, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu
   </td>
   <td>
    F. Baumdicker
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    W, PA
   </td>
   <td>
    Seminar: Komplexe Analysis
   </td>
   <td>
    D. Greb
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Do 14-16, SR 404, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu
   </td>
   <td>
    D. Greb
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    W, PA
   </td>
   <td>
    Seminar: Darstellungstheorie
   </td>
   <td>
    W. Soergel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 8-10, SR 404, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu
   </td>
   <td>
    S. Kitchen
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    W, PA
   </td>
   <td>
    Seminar: Riemannsche Flächen
   </td>
   <td>
    E. Scheidegger, O. Fabert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 12-14, SR 318, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu
   </td>
   <td>
    E. Scheidegger, O. Fabert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    W, PA
   </td>
   <td>
    Seminar:
    <a href="http://home.mathematik.uni-freiburg.de/ziegler/veranstaltungen/ws1112-seminar.html">
     Modelltheorie
    </a>
   </td>
   <td>
    M. Ziegler
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 10-12, SR 318, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu
   </td>
   <td>
    J. D. Caycedo
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    W, PA
   </td>
   <td>
    Seminar:
    <a href="http://home.mathematik.uni-freiburg.de/mildenberger/veranstaltungen/ws11/forcingseminar.html">
     Forcingtechniken
    </a>
   </td>
   <td>
    H. Mildenberger
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 12-14, SR 218, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu
   </td>
   <td>
    L. Motto Ros
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M, PA
   </td>
   <td>
    Seminar: Geometrische Analysis
   </td>
   <td>
    E. Kuwert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 14-16, SR 127, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu
   </td>
   <td>
    R. Alessandroni
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M, PA
   </td>
   <td>
    Seminar:
    <a href="http://home.mathematik.uni-freiburg.de/zchen/GeoVarPro/GeoVarPro.html">
     Geometrische Variationsprobleme
    </a>
   </td>
   <td>
    G. Wang
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 14-16, SR 125, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu
   </td>
   <td>
    Z. Chen
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M, PA
   </td>
   <td>
    Seminar:
    <a href="http://home.mathematik.uni-freiburg.de/mildenberger/veranstaltungen/ws11/beweistheorieseminar.html">
     Logik für Fortgeschrittene
    </a>
   </td>
   <td rowspan="2">
    H. Mildenberger, M. Ziegler
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 14-16, SR 318, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu
   </td>
   <td>
    J. Serbus
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M, PA
   </td>
   <td>
    Seminar: Numerische Optimierungsverfahren
   </td>
   <td>
    D. Lebiedz
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 16-18, SR 226, Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Statistische Modelle in der klinischen Epidemiologie
   </td>
   <td>
    M. Schumacher
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 9:30-11:00, HS Medizinische Biometrie, Stefan-Meier-Str. 26
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Geometrie (Blockseminar)
   </td>
   <td>
    S. Kebekus
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Termine nach Absprache
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h2>
     8. Oberseminare
    </h2>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://wochenprogramm.mathematik.uni-freiburg.de/v.html?Semester=WS2011-2012&amp;V=OS-AlgZTalgGeom">
     Oberseminar: Algebra, Zahlentheorie und algebraische Geometrie
    </a>
   </td>
   <td rowspan="2">
    A. Huber-Klawitter, S. Kebekus, W. Soergel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 10:00-11:00, SR 404, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://wochenprogramm.mathematik.uni-freiburg.de/v.html?Semester=WS2011-2012&amp;V=OS-AM">
     Oberseminar: Angewandte Mathematik
    </a>
   </td>
   <td rowspan="2">
    G. Dziuk, D. Kröner, M. Růžička
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 14-16, SR 226, Hermann-Herder-Str. 10
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://wochenprogramm.mathematik.uni-freiburg.de/v.html?Semester=WS2011-2012&amp;V=OS-DiffGeo">
     Oberseminar: Differentialgeometrie
    </a>
   </td>
   <td rowspan="2">
    V. Bangert, K. Wendland
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 16-18, SR 404, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://wochenprogramm.mathematik.uni-freiburg.de/v.html?Semester=WS2011-2012&amp;V=OS-ML">
     Oberseminar: Mathematische Logik
    </a>
   </td>
   <td rowspan="2">
    H. Mildenberger, M. Ziegler
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 16-18, SR 404, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://wochenprogramm.mathematik.uni-freiburg.de/v.html?Semester=WS2011-2012&amp;V=OS-Stochastik">
     Oberseminar: Stochastik
    </a>
   </td>
   <td rowspan="2">
    E. Eberlein, H. R. Lerche, P. Pfaffelhuber, L. Rüschendorf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Do 15-17, Raum 232, Eckerstr. 1, (14täglich)
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 11-13, SR 404, Eckerstr. 1, (14täglich)
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Oberseminar: Medizinische Statistik
   </td>
   <td>
    M. Schumacher
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 11:30-13:00, HS Medizinische Biometrie, Stefan-Meier-Str. 26
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h2>
     9. Projektseminare
    </h2>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://wochenprogramm.mathematik.uni-freiburg.de/v.html?Semester=WS2011-2012&amp;V=PS-AlgGeom">
     Projektseminar: Algebraische Geometrie
    </a>
   </td>
   <td rowspan="2">
    A. Huber-Klawitter, S. Kebekus, W. Soergel, K. Wendland
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 14-16, SR 404, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://wochenprogramm.mathematik.uni-freiburg.de/v.html?Semester=WS2011-2012&amp;V=PS-GeomAna">
     Projektseminar: Geometrische Analysis
    </a>
   </td>
   <td rowspan="2">
    E. Kuwert, G. Wang
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 16-18, SR 127, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu
   </td>
   <td>
    A. Magni
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://wochenprogramm.mathematik.uni-freiburg.de/v.html?Semester=WS2011-2012&amp;V=PS-NNF">
     Projektseminar: Nicht-Newtonsche Flüssigkeiten
    </a>
   </td>
   <td>
    M. Růžička
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 16-18, SR 127, Eckerstr. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu
   </td>
   <td>
    Ph. Nägele
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://wochenprogramm.mathematik.uni-freiburg.de/v.html?Semester=WS2011-2012&amp;V=PS-NGDG">
     Projektseminar: Numerik geometrischer Differentialgleichungen
    </a>
   </td>
   <td>
    G. Dziuk
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 16-18, SR 226, Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://wochenprogramm.mathematik.uni-freiburg.de/v.html?Semester=WS2011-2012&amp;V=PS-TdP">
     Projektseminar: Transport-dominante Probleme
    </a>
   </td>
   <td>
    D. Kröner
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 14-16, SR 226, Hermann-Herder-Str. 10
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium dazu
   </td>
   <td>
    A. Schumacher
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://wochenprogramm.mathematik.uni-freiburg.de/v.html?Semester=WS2011-2012&amp;V=PS-WissRech">
     Projektseminar: Wissenschaftliches Rechnen
    </a>
   </td>
   <td>
    D. Lebiedz
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 15-17, Raum 1051, Biologie 1, Hauptsraße. 1
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h2>
     10. Kolloquien und weitere Veranstaltungen
    </h2>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Anleitung zum selbständigen wissenschaftlichen Arbeiten
   </td>
   <td rowspan="2">
    Alle Dozenten
    <br/>
    der Mathematik
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    ganztägig - n. V.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://wochenprogramm.mathematik.uni-freiburg.de/v.html?Semester=WS2011-2012&amp;V=DM-Sem">
     Seminar über Datenanalyse und Modellbildung
    </a>
   </td>
   <td rowspan="3">
    E. Eberlein, H. R. Lerche, P. Pfaffelhuber, L. Rüschendorf, M. Schumacher, J. Timmer
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 11-13, SR 404, Eckerstr. 1 (14täglich)
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    AF
   </td>
   <td>
    <a href="http://wochenprogramm.mathematik.uni-freiburg.de/v.html?Semester=WS2011-2012&amp;V=DidSem">
     Didaktisches Seminar
    </a>
   </td>
   <td rowspan="2">
    M. Bürker, W. Soergel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 19:30-21:00, HS II, Albertstr. 23 b
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    - besondere Ankündigung -
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    <a href="http://wochenprogramm.mathematik.uni-freiburg.de/v.html?Semester=WS2011-2012&amp;V=IRMA-FNS">
     Internationales Forschungsseminar Algebraische Geometrie (IRMA)
    </a>
   </td>
   <td rowspan="2">
    S. Kebekus, D. Greb
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    (Freiburg - Nancy - Strasbourg)
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    - besondere Ankündigung: zwei Termine pro Semester, n. V. -
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    siehe auch: http://home.mathematik.uni-freiburg.de/kebekus/ACG/
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    <a href="http://wochenprogramm.mathematik.uni-freiburg.de/v.html?V=sfbtrr71koll">
     Freiburger Kolloquium des SFB/Transregio 71 „Geometrische Partielle Differentialgleichungen“
    </a>
   </td>
   <td>
    Die Dozenten des SFB/Transregio 71
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 16-19, HS II, Albertstr. 23 b
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    - besondere Ankündigung -
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    <a href="http://wochenprogramm.mathematik.uni-freiburg.de/kolloquium.html?Semester=WS2011-2012">
     Kolloquium der Mathematik
    </a>
   </td>
   <td rowspan="2">
    Alle Dozenten
    <br/>
    der Mathematik
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Do 17:00-18, HS II, Albertstr. 23 b
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    - besondere Ankündigung -
   </td>
   <td>
   </td>
  </tr>
 </table>
</div>
