<div class="container" id="inhalt">
 <h1>
  Lehrveranstaltungen im Wintersemester 2013/2014
 </h1>
 <h3>
  Pflichtveranstaltungen:
 </h3>
 <dl>
  <dt>
   B
  </dt>
  <dd>
   Pflichtveranstaltung im Bachelor-Studiengang Mathematik
  </dd>
  <dt>
   L
  </dt>
  <dd>
   Pflichtveranstaltung im Lehramtstudiengang (nach GymPO I, Studienbeginn ab WS 2010/11)
  </dd>
  <dt>
   L*
  </dt>
  <dd>
   ggf. abweichende Regelung für Beifach und/oder in der Kombination mit Bildender Kunst/Musik
  </dd>
 </dl>
 <h3>
  Wahlpflichtveranstaltungen:
 </h3>
 <p>
  Bitte achten Sie auf die notwendigen Vorkenntnisse (siehe kommentiertes
  Vorlesungsverzeichnis oder Modulhandbuch). Die Wahlpflichtveranstaltungen des
  Bachelor- und des neuen Lehramtsstudiengangs sind auch für den bisherigen
  Lehramtsstudiengang und mittlere Semester des Diplomstudiengangs geeignet.
 </p>
 <dl>
  <dt>
   V
  </dt>
  <dd>
   geeignet für den Lehramtstudiengang nach GymPO I, Hauptfach bei Vorlesungen für das Modul „Mathematische Vertiefung“
  </dd>
  <dt>
   V*
  </dt>
  <dd>
   ggf. abweichende Regelung für Beifach und/oder in der Kombination mit Bildender Kunst/Musik
  </dd>
  <dt>
   W
  </dt>
  <dd>
   geeignet für den Bachelor-Studiengang, im Master nur eingeschränkt verwendbar („Kategorie II“)
  </dd>
  <dt>
   W/M
  </dt>
  <dd>
   geeignet für den Bachelor- und den Master-Studiengang („Kategorie III“)
  </dd>
  <dt>
   M
  </dt>
  <dd>
   geeignet für den Master-Studiengang („Kategorie III“)
  </dd>
 </dl>
 <p>
  Die angegebenen ECTS-Punkte gelten für die Verwendung von
  Veranstaltungen im Wahlpflicht- oder Wahlbereich des jeweiligen
  Studiengangs. Die ECTS-Punktzahl von Pflichtveranstaltungen ist in
  der Prüfugnsordnung festgeschrieben.
 </p>
 <dl>
  <dt>
   HS
  </dt>
  <dd>
   Hörsaal
  </dd>
  <dt>
   SR
  </dt>
  <dd>
   Seminarraum
  </dd>
  <dt>
   AF
  </dt>
  <dd>
   Hörer aller Fakultäten
  </dd>
  <dt>
   PA
  </dt>
  <dd>
   nur nach persönlicher Anmeldung
  </dd>
 </dl>
 <p>
  <em>
   Hinweis:
  </em>
  Ausführliche Informationen (Vorkenntnisse,
  Folgeveranstaltungen, Prüfungen) finden sich in den von   der Fakultät
  herausgegebenen “Kommentaren zu den Lehrveranstaltungen
  Mathematik”. (siehe auch:
  <a href="http://www.math.uni-freiburg.de/lehre/v/">
   http://www.math.uni-freiburg.de/lehre/v/
  </a>
  )
 </p>
 <table class="vlverz">
  <col/>
  <col/>
  <col/>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h2>
     1a. Einführende Vorlesungen
    </h2>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    B, L
   </td>
   <td>
    Lineare Algebra I
   </td>
   <td rowspan="2">
    H. Mildenberger
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Vorlesung: Mo, Do 8:15–9:45, HS Rundbau, Albertstr. 21
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu: 2-stündig n. V.
   </td>
   <td>
    H. Mildenberger
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    O. Straser
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fragestunde LA I, Mo 18-20, SR 404, Eckerstr. 1
   </td>
   <td>
    P. Graf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    B, L
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/geometrie/lehre/ws2013/vorlesung/AnalysisI/index.html">
     Analysis I
    </a>
   </td>
   <td rowspan="2">
    V. Bangert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Vorlesung: Di, Mi 8–10, HS Rundbau, Albertstr. 21
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu: 2-stündig n. V.
   </td>
   <td>
    V. Bangert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    N. Röttgen
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fragestunde Ana I, Mi 18-20, SR 404, Eckerstr. 1
   </td>
   <td>
    B. Mramor
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h2>
     1b. Pflichtveranstaltungen im Bachelor- oder Lehramtsstudiengang
    </h2>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    <a id="vorlesung_stochastik_teil1">
    </a>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    B, L
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvWS2013/VorStoch-I/">
     Stochastik (1. Teil der zweisemestrigen Veranstaltung)
    </a>
   </td>
   <td rowspan="2">
    H. R. Lerche
   </td>
  </tr>
  <tr>
   <td>
    9
    <small>
     ECTS
    </small>
    <sup>
     <a href="#ectshalf">
      1
     </a>
    </sup>
   </td>
   <td>
    Vorlesung: Di 16–18, HS Rundbau, Albertstr. 21
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu: 2-stündig (14-täglich) n. V.
   </td>
   <td>
    H. R. Lerche
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    P. Bäurer
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    <a id="vorlesung_numerik_teil1">
    </a>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    B, L
   </td>
   <td>
    <a href="https://portal.uni-freiburg.de/aam/abtlg/wissmit/agkr/schumacher/Num1/Num1">
     Numerik (1. Teil der zweisemestrigen Veranstaltung)
    </a>
   </td>
   <td rowspan="2">
    S. Bartels
   </td>
  </tr>
  <tr>
   <td>
    9
    <small>
     ECTS
    </small>
    <sup>
     <a href="#ectshalf">
      1
     </a>
    </sup>
   </td>
   <td>
    Vorlesung: Mi 14–16, HS Weismann-Haus, Albertstr. 21a
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu: 2-stündig (14-täglich) n. V.
   </td>
   <td>
    S. Bartels
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    A. Schumacher
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    L
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/ostraser/Mehrfachintegrale.html">
     Mehrfachintegrale
    </a>
   </td>
   <td rowspan="2">
    S. Goette
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Vorlesung: Fr 9–12 , HS Weismann-Haus, Albertstr. 21a
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu: 2-stündig n. V.
   </td>
   <td>
    S. Goette
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    O. Straser
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Diese Veranstaltung ist nur für Lehramtsstudierende, insbesondere im Praxissemester. Beginn nach Weihnachten!
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    W, L
   </td>
   <td>
    Algebra und Zahlentheorie
   </td>
   <td rowspan="2">
    A. Huber-Klawitter
   </td>
  </tr>
  <tr>
   <td>
    9
    <small>
     ECTS
    </small>
   </td>
   <td>
    Vorlesung: Mo, Mi 12-14, HS Weismann-Haus, Albertstr. 21a
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu: 2-stündig n. V.
   </td>
   <td>
    A. Huber-Klawitter
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    F. Hörmann
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    B, V
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvWS2013/VorAna-III/">
     Analysis III
    </a>
   </td>
   <td rowspan="2">
    P. Pfaffelhuber
   </td>
  </tr>
  <tr>
   <td>
    9
    <small>
     ECTS
    </small>
   </td>
   <td>
    Vorlesung: Di, Do 10–12, HS Weismann-Haus, Albertstr. 21a
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu: 2-stündig n. V.
   </td>
   <td>
    P. Pfaffelhuber
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    M. Gerhards
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h2>
     1c. vierstündige Kurs- und Spezialvorlesungen
    </h2>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    W, (V)
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvWS2013/VorWT-I/">
     Wahrscheinlichkeitstheorie
    </a>
   </td>
   <td rowspan="2">
    P. Pfaffelhuber
   </td>
  </tr>
  <tr>
   <td>
    9
    <small>
     ECTS
    </small>
   </td>
   <td>
    Vorlesung: Di, Fr 14–16, HS Weismann-Haus, Albertstr. 21a
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu: 2-stündig n. V.
   </td>
   <td>
    P. Pfaffelhuber
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    F. Hermann
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    W/M
   </td>
   <td>
    Differentialgeometrie
   </td>
   <td rowspan="2">
    K. Wendland
   </td>
  </tr>
  <tr>
   <td>
    9
    <small>
     ECTS
    </small>
   </td>
   <td>
    Vorlesung: Mo, Mi 10–12, HS Weismann-Haus, Albertstr. 21a
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu: 2-stündig n. V.
   </td>
   <td>
    K. Wendland
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    A. Degeratu
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    W/M
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/analysis/EinfuehrungPDEWS13/">
     Einführung in partielle Differentialgleichungen
    </a>
   </td>
   <td rowspan="2">
    G. Wang
   </td>
  </tr>
  <tr>
   <td>
    9
    <small>
     ECTS
    </small>
   </td>
   <td>
    Vorlesung: Mo, Mi 16–18, HS Weismann-Haus, Albertstr. 21b
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu: 2-stündig n. V.
   </td>
   <td>
    G. Wang
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    E. Mäder
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    W/M
   </td>
   <td>
    Einführung in Theorie und Numerik partieller Differentialgleichungen
   </td>
   <td rowspan="2">
    S. Bartels
   </td>
  </tr>
  <tr>
   <td>
    9
    <small>
     ECTS
    </small>
   </td>
   <td>
    Vorlesung: Di, Do 12–14, HS II, Albertstr. 23b
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu: 2-stündig n. V.
   </td>
   <td>
    S. Bartels
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    A. Papathanassopoulos
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    W/M,(V)
   </td>
   <td>
    Mengenlehre
   </td>
   <td rowspan="2">
    M. Ziegler
   </td>
  </tr>
  <tr>
   <td>
    9
    <small>
     ECTS
    </small>
   </td>
   <td>
    Vorlesung: Di, Do 14–16, SR 404, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu: 2-stündig n. V.
   </td>
   <td>
    M. Ziegler
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    J. D. Caycedo
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    <a href="http://home.mathematik.uni-freiburg.de/magni/GeomanWS1314/GeomanWS1314.html">
     Geometrische Analysis
    </a>
   </td>
   <td rowspan="2">
    E. Kuwert
   </td>
  </tr>
  <tr>
   <td>
    9
    <small>
     ECTS
    </small>
   </td>
   <td>
    Vorlesung: Mo, Mi 14–16, HS II, Albertstr. 23b
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu: 2-stündig n. V.
   </td>
   <td>
    E. Kuwert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    A. Magni
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvWS2013/VorMathStat/">
     Mathematische Statistik
    </a>
   </td>
   <td rowspan="2">
    L. Rüschendorf
   </td>
  </tr>
  <tr>
   <td>
    9
    <small>
     ECTS
    </small>
   </td>
   <td>
    Vorlesung: Mo, Mi 12–14, HS II, Albertstr. 23b
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu – 2-stündig n. V.
   </td>
   <td>
    L. Rüschendorf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    V. Wolf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    Nichtlineare Funktionalanalysis
   </td>
   <td rowspan="2">
    M. Růžička
   </td>
  </tr>
  <tr>
   <td>
    9
    <small>
     ECTS
    </small>
   </td>
   <td>
    Vorlesung: Di, Do 10–12, HS II, Albertstr. 23b
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu: 2-stündig n. V.
   </td>
   <td>
    M. Růžička
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    P. Nägele
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvWS2013/VorStochProzesse/">
     Stochastische Prozesse
    </a>
   </td>
   <td rowspan="2">
    H. R. Lerche
   </td>
  </tr>
  <tr>
   <td>
    9
    <small>
     ECTS
    </small>
   </td>
   <td>
    Vorlesung: Di, Fr 14–16, HS II, Albertstr. 23b
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu: 2-stündig n. V.
   </td>
   <td>
    H. R. Lerche
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    M. Rudmann
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h2>
     1d. zweistündige Kurs- und Spezialvorlesungen
    </h2>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    W/M
   </td>
   <td>
    Steilkurs Schemata
   </td>
   <td rowspan="2">
    A. Huber-Klawitter
   </td>
  </tr>
  <tr>
   <td>
    9
    <small>
     ECTS
    </small>
   </td>
   <td>
    Vorlesung: Fr 8–10, SR 404, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu: 4-stündig n. V.
   </td>
   <td>
    M. Wendt
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Futures and Options
   </td>
   <td rowspan="2">
    E. Lütkebohmert-Holtz
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Vorlesung: Mo 12–14, KG III, HS 3219
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu: Mo 14-16, KG III, HS 3219
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    Theorie und Numerik für Systeme von hyperbolischen Erhaltungsgleichungen
   </td>
   <td rowspan="2">
    Ch. Gersbacher/T. Müller
   </td>
  </tr>
  <tr>
   <td>
    6
    <small>
     ECTS
    </small>
   </td>
   <td>
    Mo 10-12, SR 226, Hermann-Herder-Str. 10
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu: 2-stündig, Mi 10-12
   </td>
   <td>
    J. Daube
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    M
   </td>
   <td>
    Konvergenz von zufälligen Graphen
   </td>
   <td rowspan="2">
    J. Kühn
   </td>
  </tr>
  <tr>
   <td>
    3
    <small>
     ECTS
    </small>
   </td>
   <td>
    Mi 9-11, Raum 232 (Stochastik), Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h2>
     1e. Lehrexportveranstaltungen
    </h2>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mathematik I für Studierende des Ingenieurwesens und der Informatik
   </td>
   <td rowspan="2">
    S. Kebekus
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Vorlesung: Mo  12–14, Do 10-12, HS Rundbau, Albertstr. 21
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu: 2-stündig n. V.
   </td>
   <td>
    S. Kebekus
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    S. Kovalenko
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mathematik I für Studierende der Naturwissenschaften
   </td>
   <td rowspan="2">
    S. Knies
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Vorlesung: Mo 14-16, Fr 08-10, HS Rundbau, Albertstr. 21
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu: 2-stündig n. V.
   </td>
   <td>
    S. Knies
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    S. Eckstein
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Logik für Studierende der Informatik
   </td>
   <td rowspan="2">
    S. Goette
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Vorlesung: Mo 10-12, HS 00-026, Geb. 101, Georges-Köhler-Allee
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu: 2-stündig n. V.
   </td>
   <td>
    S. Goette
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    L. Motto Ros
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Logik für Studierende der Philosophie
   </td>
   <td rowspan="2">
    M. Junker
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Vorlesung: Mo 08-10, HS 1221, KG I
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu: 2-stündig n. V.
   </td>
   <td>
    M. Junker
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Differentialgleichungen für Studierende der Mikrosystemtechnik
   </td>
   <td rowspan="2">
    M. Nolte
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Vorlesung: Mo 14-16, HS 00 036, Geb. 101, Georges-Köhler-Allee
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu: 2-stündig n. V.
   </td>
   <td>
    M. Nolte
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    Ch. Gersbacher
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h2>
     2a. Begleitveranstaltungen
    </h2>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    W/M, PA
   </td>
   <td>
    Lernen durch Lehren
   </td>
   <td rowspan="2">
    Alle Dozentinnen und Dozenten des Math. Instituts
   </td>
  </tr>
  <tr>
   <td>
    3
    <small>
     ECTS
    </small>
   </td>
   <td>
    Einführungsveranstaltung in der ersten Vorlesungswoche: Do 24.10.2013 13-14 Uhr, Weismann-Haus, Albertstr. 21
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    siehe auch: Web-Seite:
    <a href="https://www.verwaltung.uni-freiburg.de/lsfserver/">
     https://www.verwaltung.uni-freiburg.de/lsfserver/
    </a>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    W/M, PA
   </td>
   <td>
    Schreiben einer Mathematischen Arbeit
   </td>
   <td rowspan="2">
    A. Depperschmidt
   </td>
  </tr>
  <tr>
   <td>
    1
    <small>
     ECTS
    </small>
   </td>
   <td>
    Blockveranstaltung 17.02.-21.02.2014 jeweils 10-12 Uhr, HS II, Albertstr. 23b
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h2>
     2b. Fachdidaktik
    </h2>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    L
   </td>
   <td>
    Didaktik der Algebra und Analysis
   </td>
   <td rowspan="2">
    M. Kramer
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 14-16, Di 10-12 oder Mi 10-12, SR 404, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Übungen dazu: 14-täglich n. V.
   </td>
   <td>
    M. Kramer
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    V*, PA
   </td>
   <td>
    Seminar: Robotik - als Abenteuer - MINT
   </td>
   <td rowspan="2">
    M. Kramer
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 14–17, SR 127, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    V*, PA
   </td>
   <td>
    Seminar: Medieneinsatz im Mathematikunterricht
   </td>
   <td rowspan="2">
    J. Kury
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 14–16, SR 127, Mi 16-17, Raum 131, Didaktik, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    V*, PA
   </td>
   <td>
    Seminar: Schulmathematische Methoden mit Geogebra
   </td>
   <td rowspan="2">
    G. Metzger
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 14–16, SR 131, Didaktik, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h2>
     2c. Praktische Übungen
    </h2>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    <a id="vorlesung_numerik_teil1_praktikum">
    </a>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    B, V*
   </td>
   <td>
    <a href="https://portal.uni-freiburg.de/aam/abtlg/wissmit/agkr/schumacher/Num1/Pr1">
     Praktische Übungen zu "Numerik" (1. Teil der zweisemestrigen Veranstaltung)
    </a>
   </td>
   <td rowspan="2">
    S. Bartels
   </td>
  </tr>
  <tr>
   <td>
    3
    <small>
     ECTS
    </small>
    <sup>
     <a href="#ectshalf">
      1
     </a>
    </sup>
   </td>
   <td>
    2-stündig (14-täglich), Di 10-12, Mi 16–18, Do 14-16, Do 16-18 oder Fr 10-12, CIP-Pool Raum 201, Hermann-Herder-Str. 10
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    A. Schumacher
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    W
   </td>
   <td>
    Praktische Übung zu "Einführung in die Theorie und Numerik partieller Differentialgleichungen"
   </td>
   <td rowspan="2">
    S. Bartels
   </td>
  </tr>
  <tr>
   <td>
    3
    <small>
     ECTS
    </small>
   </td>
   <td>
    Mo 16-18, CIP-Pool Raum 201, Hermann-Herder-Str. 10
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    P. Schreier
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h2>
     3a. Proseminare
    </h2>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    Hinweis: Die Anmeldung zu den Proseminaren erfolgt in der Regel am Ende der Vorlesungszeit des Sommersemesters. Bitte beachten Sie die in den Kommentaren veröffentlichten Anmeldemodalitäten.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Proseminar: Fourierreihen
   </td>
   <td rowspan="2">
    S. Goette
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 14–16 SR 125, Di 14-16 SR 318, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    A. Degeratu
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Dieses Proseminar findet von Vorlesungsbeginn bis Weihnachten statt.
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Proseminar: Universelle Algebra
   </td>
   <td rowspan="2">
    M. Junker
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 14–16, SR 318, Eckerstr. 1 und Mo 14-16, SR 125, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    P. Graf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Dieses Proseminar findet ab Januar statt, insbesondere für Lehramtsstudierende im Praxissemester
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Proseminar: Fourieranalysis
   </td>
   <td rowspan="2">
    S. Kebekus
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 8-10, SR 125, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    S. Kovalenko
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Proseminar: Mathematik im Alltag
   </td>
   <td rowspan="2">
    E. Kuwert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 14–16, SR 125, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    R. Alessandroni
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h2>
     3b. Seminare
    </h2>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    Hinweis: Die Anmeldung zu den Seminaren erfolgt in der Regel am Ende der Vorlesungszeit des Sommersemesters. Bitte beachten Sie die in den Kommentaren veröffentlichten Anmeldemodalitäten.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Geodätischer Fluss
   </td>
   <td rowspan="2">
    V. Bangert
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 10–12, SR 125, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    B. Mramor
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Algebraische Geometrie
   </td>
   <td rowspan="2">
    F. Hörmann/M. Wendt
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Do 14-16, SR 125, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    F. Hörmann/M. Wendt
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Mengenlehre: Große Kardinalzahlen
   </td>
   <td rowspan="2">
    M. Mildenberger
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 10–12, SR 403, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    F. Guichardaz
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Modelltheorie von Körpern
   </td>
   <td rowspan="2">
    J. D. Caycedo
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 10–12, SR 318, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    M. Khani
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    W, PA
   </td>
   <td>
    Seminar: Minimalflächen
   </td>
   <td rowspan="2">
    K. Wendland
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 14–16, SR 127, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    F. Beck
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Variationsrechnung
   </td>
   <td rowspan="2">
    G. Wang
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 8-10, SR 226, Hermann-Herder-Str. 10
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    M. Mattuschka
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar:
    <a href="http://www.stochastik.uni-freiburg.de/Vorlesungen/vvWS2013/SemStoch/">
     Seminar zur Stochastik
    </a>
   </td>
   <td rowspan="2">
    L. Rüschendorf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 16-18, SR 218, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    J. Kühn
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Numerik gewöhnlicher Differentialgleichungen
   </td>
   <td rowspan="2">
    S. Bartels
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Zeit und Ort nach Vereinbarung
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    J. Daube/A. Papathanassopoulos
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Geometrie konvexer Mengen
   </td>
   <td rowspan="2">
    H. Weisshaupt
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Blockseminar nach Vereinbarung
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Seminar: Statistische Modelle in der klinischen Epidemiologie
   </td>
   <td rowspan="2">
    M. Schumacher
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 10:00–11:30, HS Medizinische Biometrie, Stefan-Meier-Str. 26
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h2>
     4a. Oberseminare
    </h2>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Oberseminar: Algebra, Zahlentheorie und algebraische Geometrie
   </td>
   <td rowspan="2">
    A. Huber-Klawitter, S. Kebekus
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 10:15–11:15, SR 404, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    O. Straser
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Oberseminar: Angewandte Mathematik
   </td>
   <td rowspan="2">
    S. Bartels, M. Růžička
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 14–16, SR 226, Hermann-Herder-Str. 10
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Oberseminar: Differentialgeometrie
   </td>
   <td rowspan="2">
    V. Bangert, S. Goette, K. Wendland
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 16–18, SR 404, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Oberseminar: Mathematische Logik
   </td>
   <td rowspan="2">
    H. Mildenberger, M. Ziegler
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 16–18, SR 404, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Oberseminar: Stochastik
   </td>
   <td rowspan="2">
    H. R. Lerche, P. Pfaffelhuber, L. Rüschendorf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Do 15–17, Raum 232, Eckerstr. 1, (14-täglich) und Fr 11:30–13, SR 404, Eckerstr. 1, (14-täglich)
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Oberseminar: Medizinische Statistik
   </td>
   <td rowspan="2">
    M. Schumacher
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 11:30–13:00, HS Medizinische Biometrie, Stefan-Meier-Str. 26
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h2>
     4b. Projektseminare und Lesekurse
    </h2>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Lesekurse „Wissenschaftliches Arbeiten“
   </td>
   <td rowspan="2">
    Alle Dozenten der Mathematik
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    - nach persönlicher Absprache -
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Leseseminar zur Finanzmathematik
   </td>
   <td rowspan="2">
    L. Rüschendorf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 14-16, Raum 232, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    J. Kühn
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Projektseminar: Seminar des Graduiertenkollegs 1821
   </td>
   <td rowspan="2">
    S. Goette, A. Huber-Klawitter, S. Kebekus, E. Scheidegger, M. Wendt, K. Wendland
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 14-16, SR 404, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Projektseminar: Geometrische Analysis
   </td>
   <td rowspan="2">
    E. Kuwert, G. Wang
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 16–18, SR 404, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    Y. Han, M. Li
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Projektseminar: Nicht-Newtonsche Flüssigkeiten
   </td>
   <td rowspan="2">
    M. Růžička
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 10-12, SR 127, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    S. Eckstein
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Projektseminar: Numerik partieller Differentialgleichungen
   </td>
   <td rowspan="2">
    S. Bartels
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mo 14-16, SR 226, Hermann-Herder-Str. 10
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    P. Schreier
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    Projektseminar: Stochastik und Biologie
   </td>
   <td rowspan="2">
    P. Pfaffelhuber
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Zeit n.V., Raum 232, Eckerstr. 1
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Tutorium zu Vorlesungen und Übungen
   </td>
   <td>
    V. Wolf
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h2>
     4c. Kolloquien und weitere Veranstaltungen
    </h2>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    PA
   </td>
   <td>
    <a href="http://www.fdm.uni-freiburg.de/seminar">
     Seminar über Datenanalyse und Modellbildung
    </a>
   </td>
   <td rowspan="2">
    H. R. Lerche, P. Pfaffelhuber, L. Rüschendorf, M. Schumacher, J. Timmer
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 11:30–13:00, SR 404, Eckerstr. 1 (14-täglich)
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    – besondere Ankündigung –
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    AF
   </td>
   <td>
    Didaktisches Seminar
   </td>
   <td rowspan="2">
    M. Kramer, W. Soergel
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Di 19:30–21:00, HS II, Albertstr. 23b
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    – besondere Ankündigung –
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Internationales Forschungsseminar Algebraische Geometrie (IRMA) (Freiburg – Nancy – Strasbourg)
   </td>
   <td rowspan="2">
    S. Kebekus
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    - besondere Ankündigung: zwei Termine pro Semester, n. V. –
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    - siehe auch:
    <a href="http://home.mathematik.uni-freiburg.de/kebekus/ACG/">
     http://home.mathematik.uni-freiburg.de/kebekus/ACG/
    </a>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Freiburger Kolloquium des SFB/Transregio 71
    <br/>
    „Geometrische Partielle Differentialgleichungen“
   </td>
   <td rowspan="2">
    Die Dozenten des SFB/Transregio 71
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mi 16–18, HS II, Albertstr. 23b
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    - besondere Ankündigung -
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Kolloquium der Mathematik
   </td>
   <td rowspan="2">
    Alle Dozenten der Mathematik
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Do 17:00–18:00, HS II, Albertstr. 23b
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    – besondere Ankündigung –
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    (siehe auch:
    <a href="http://home.mathematik.uni-freiburg.de/kolloquium/">
     http://home.mathematik.uni-freiburg.de/kolloquium/
    </a>
    )
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Mathematisch-Physikalisches Kolloquium
   </td>
   <td rowspan="2">
    Breuer, Buchleitner, Goette, Gross, Kebekus, Lerche, Růžička, Wendland
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
    Fr 14-17 - monatlich nach Vereinbarung
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
 </table>
 <hr/>
 <p style="float: right">
  <b>
   Impressum
  </b>
  <br/>
  Herausgeber:
  <br/>
  Mathematisches Institut
  <br/>
  Eckerstr. 1
  <br/>
  79104 Freiburg
  <br/>
  Tel. 0761-203-5534
  <br/>
  Email:
  <a href="mailto:institut@math.uni-freiburg.de">
   institut@math.uni-freiburg.de
  </a>
 </p>
 <p id="ectshalf">
  (
  <sup>
   <a href="#vorlesung_stochastik_teil1">
    ii
   </a>
  </sup>
  ,
  <sup>
   <a href="#vorlesung_numerik_teil1">
    i
   </a>
  </sup>
  ,
  <sup>
   <a href="#vorlesung_numerik_teil1_praktikum">
    iii
   </a>
  </sup>
  )
  Die ECTS-Punktzahl gilt für beide Semester
 </p>
 <div style="clear: both">
 </div>
</div>
