<div class="container" id="inhalt">
 <h1>
  Lehrveranstaltungen im Wintersemester 2018/2019
 </h1>
 <h2>
  Erläuterungen
 </h2>
 <h3>
  Pflichtveranstaltungen:
 </h3>
 <dl>
  <dt>
   B
  </dt>
  <dd>
   Pflichtveranstaltung im BSc
  </dd>
  <dt>
   E
  </dt>
  <dd>
   Pflichtveranstaltung im MEd
  </dd>
  <dt>
   E*
  </dt>
  <dd>
   Wahlpflichtveranstaltung im MEd
  </dd>
  <dt>
   L
  </dt>
  <dd>
   Pflichtveranstaltung im Lehramt nach GymPO
  </dd>
  <dt>
   L*
  </dt>
  <dd>
   abweichende Regelung für Beifach und/oder in der Kombination mit Bildender Kunst/Musik
  </dd>
  <dt>
   Z
  </dt>
  <dd>
   Pflichtveranstaltung im 2-Hauptfächer-Bachelor
  </dd>
  <dt>
   Z*
  </dt>
  <dd>
   Pflichtveranstaltung der Lehramtsoption im 2-HF-Bachelor
  </dd>
 </dl>
 <h3>
  Wahlpflichtveranstaltungen:
 </h3>
 <dl>
  <dt>
   II
  </dt>
  <dd>
   Veranstaltung der Kategorie II:
   <br/>
   geeignet als Wahlpflichtmodul im BSc;
   <br/>
   im MSc verwendbar für die Module
"Angewandte Mathematik", "Reine Mathematik" und im Wahlmodul;
   <br/>
   in der Regel im Lehramt nach GymPO und im MEd als vertiefte Vorlesung und für den Optionsbereich des 2-Hf-Bachelors geeignet (Voraussetzungen beachten!)
  </dd>
  <dt>
   III
  </dt>
  <dd>
   Veranstaltung der Kategorie III:
   <br/>
   im MSc in allen Modulen
verwendbar;
   <br/>
   einzelne Veranstaltungen sind bei geeigneten Vorkenntnissen für
den Wahlpflichtbereich des BSc geeignet
  </dd>
  <dt>
   W
  </dt>
  <dd>
   kann im BSc und MSc als Wahlmodul oder im Optionsbereich des 2-Hf-Bachelors
verwendet werden; stets Studienleistung!
  </dd>
 </dl>
 <p>
  Die angegebenen ECTS-Punkte gelten für die Verwendung von Veranstaltungen im
Wahlpflicht- oder Wahlbereich des jeweiligen Studiengangs. Die ECTS-Punktzahl
von Pflichtveranstaltungen ist in der Prüfungsordnung festgeschrieben.
 </p>
 <dl>
  <dt>
   HS
  </dt>
  <dd>
   Hörsaal
  </dd>
  <dt>
   SR
  </dt>
  <dd>
   Seminarraum
  </dd>
 </dl>
 <p>
  <b>
   Hinweis:
  </b>
  Ausführliche Informationen (Vorkenntnisse,
Folgeveranstaltungen, Prüfungen) finden sich in den von der Fakultät
herausgegebenen “Kommentaren zu den Lehrveranstaltungen
Mathematik”. (siehe auch:
  <a href="http://www.math.uni-freiburg.de/lehre/v/">
   http://www.math.uni-freiburg.de/lehre/v/
  </a>
  )
 </p>
 <table class="vlverz">
  <col/>
  <col/>
  <col/>
  <tr>
   <td colspan="3">
    <h2>
     1. Vorlesungen
    </h2>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h3>
     1a. Einführende Vorlesungen und Pflichtvorlesungen der verschiedenen Studiengänge
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="5_LA1">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      B, L, Z
     </div>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/arithgeom/lehre/ws18/la.html">
      Lineare Algebra I
     </a>
    </td>
    <td rowspan="2">
     A. Huber-Klawitter
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, Do 8-10, HS Rundbau, Albertstr. 21
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorenbesprechung: Do 12-14, SR 414
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     F. Hörmann, L. Patimo
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Fragestunde:  Do 12-14, SR 226, Hermann-Herder-Str. 10
    </td>
    <td>
     M. Ungureanu
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="5_Ana1">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      B, L, Z
     </div>
    </td>
    <td>
     <a href="http://www.stochastik.uni-freiburg.de/lehre/ws-2018-2019/vorlesung-analysis-I-ws-2018-2019/info-vorlesung-analysis-i-ws-2018-2019">
      Analysis I
     </a>
    </td>
    <td rowspan="2">
     A. Rohde
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di, Mi 8-10, HS Rundbau, Albertstr. 21
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     J. Brutsche
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Fragestunde:  Do 16-18, SR 404, Ernst-Zermelo-Straße 1
    </td>
    <td>
     J. Brutsche
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="5_Ana3">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      B, E*
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://aam.uni-freiburg.de/agru/lehre/ws18/a3.html">
      Analysis III
     </a>
    </td>
    <td rowspan="2">
     M. Růžička
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, Mi 10-12, HS Weismann-Haus, Albertstr. 21a
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Betreutes Rechnen: Di 16-18 SR 127, Do 14-16 SR 404
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     M. Křepela
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorenbesprechung:  Mo 13-14, SR 119, Ernst-Zermelo-Straße 1
    </td>
    <td>
     M. Křepela
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Auch als vertiefte Vorlesung im Lehramt nach GymPO und für den Optionsbereich des 2-Hf-Bachelors geeignet.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="5_ErwAn">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      E
     </div>
    </td>
    <td>
     <a href="https://www.stochastik.uni-freiburg.de/lehre/ws-2018-2019/vorlesung-erweiterung-der-analysis-ws-2018-2019">
      Erweiterung der Analysis
     </a>
    </td>
    <td rowspan="2">
     P. Pfaffelhuber, F. Hermann
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Fr 10-12, HS Weismann-Haus, Albertstr. 21a
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     E. A. von Hammerstein
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Nur im Master of Education verwendbar!
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="5_Num">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      B, L*, Z
     </div>
    </td>
    <td>
     <a href="https://aam.uni-freiburg.de/agdo/lehre/ws18/num1/index.html">
      Numerik
     </a>
    </td>
    <td rowspan="2">
     P. Dondl
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mi 14-16, HS Rundbau, Albertstr. 21
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig (14-täglich) n.V.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     A. Korsch
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      1. Teil der zweisemestrigen Veranstaltung
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="5_Sto">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      B, L, Z
     </div>
    </td>
    <td>
     <a href="https://www.stochastik.uni-freiburg.de/lehre/ws-2018-2019/vorlesung-stochastik-ws-2018-2019">
      Stochastik
     </a>
    </td>
    <td rowspan="2">
     T. Schmidt
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo 14-16, HS Weismann-Haus, Albertstr. 21a
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig (14-täglich) n.V.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Betreutes Rechnen: Di 16-18 SR 127, Do 14-16 SR 404
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Zusatzübungen dazu: 2-stündig  n.V.
    </td>
    <td>
     T. Enger
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     W. Khosrawi
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      1. Teil der zweisemestrigen Veranstaltung
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="5_AuZ">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      II, L, Z
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     Algebra und Zahlentheorie
    </td>
    <td rowspan="2">
     S. Kebekus
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, Mi 8-10, HS Weismann-Haus, Albertstr. 21a
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Betreutes Rechnen: Di 16-18 SR 127, Do 14-16 SR 404
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     Y. Commelin
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Fragestunde:  Mo 16-17, SR 119, Ernst-Zermelo-Straße 1
    </td>
    <td>
     Y. Commelin, M. Briest
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     1b. Weiterführende vierstündige Vorlesungen
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="7_WT">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      E*, II
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href=" http://www.stochastik.uni-freiburg.de/lehre/ws-2018-2019/vorlesung-wahrscheinlichkeitstheorie-ws-2018-2019">
      Wahrscheinlichkeitstheorie
     </a>
    </td>
    <td rowspan="2">
     P. Pfaffelhuber
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di, Do 12-14, HS Weismann-Haus, Albertstr. 21a
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     F. Hermann
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_aRT">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     Allgemeine Relativitätstheorie
    </td>
    <td rowspan="2">
     N. Große
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, Mi 10-12, SR 404, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     K. Fedosova
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_bewKp">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     Bewertete Körper
    </td>
    <td rowspan="2">
     A. Martín Pizarro
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di, Do 12-14, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     D. Palacin Cruz
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_DG">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     Differentialgeometrie I
    </td>
    <td rowspan="2">
     K. Wendland
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di, Do 10-12, HS Rundbau, Albertstr. 21
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     M. Ungureanu
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_DG2">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/dhein/WS1819-DiffGeo2/index.html">
      Differentialgeometrie II – Spezielle Holonomie
     </a>
    </td>
    <td rowspan="2">
     S. Goette
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di, Do 10-12, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     D. Hein
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_PDE0a">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      E*, III
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://aam.uni-freiburg.de/agba/lehre/ws18/tun0/index.html">
      Einführung in Theorie und Numerik partieller Differentialgleichungen
     </a>
    </td>
    <td rowspan="2">
     S. Bartels
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, Mi 12-14, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     C. Palus
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_geoAn">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/analysis/GeomAnalysisWS1819/">
      Geometrische Analysis
     </a>
    </td>
    <td rowspan="2">
     E. Kuwert
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di, Do 8-10, SR 404, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     A. de la Torre Pedraza
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     Die Übungen finden in dem Zeitfenster 10:30 - 12:30 im SR 218 statt.
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_Stat">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://www.stochastik.uni-freiburg.de/lehre/ws-2018-2019/vorlesung-mathematische-statistik-ws-2018-2019">
      Mathematische Statistik
     </a>
    </td>
    <td rowspan="2">
     S. Tappe
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di 14-16, Mi 12-14, HS Weismann-Haus, Albertstr. 21a
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     E. A. von Hammerstein
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_MoT">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      E*, III
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/palacin/lehre/WS1819/MT/ModTh.html">
      Modelltheorie
     </a>
    </td>
    <td rowspan="2">
     M. Junker
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, Mi 12-14, SR 404, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     D. Palacin Cruz
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_stoPr">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://www.stochastik.uni-freiburg.de/lehre/ws-2018-2019/vorlesung-stochastische-prozesse-ws-2018-2019">
      Stochastische Prozesse
     </a>
    </td>
    <td rowspan="2">
     E. A. von Hammerstein
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mi 14-16, Fr 10-12, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     T. Enger
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_PDE2b">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://aam.uni-freiburg.de/agba/lehre/ws18/tun2/index.html">
      Theorie und Numerik partieller Differentialgleichungen – nicht-lineare partielle Differentialgleichungen
     </a>
    </td>
    <td rowspan="2">
     S. Bartels
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, Mi 10-12, SR 226, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     A. Papathanassopoulos
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_ML-UB">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/mildenberger/veranstaltungen/ws18/mengenlehre.html">
      Unabhängigkeitsbeweise
     </a>
    </td>
    <td rowspan="2">
     H. Mildenberger
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di, Do 10-12, SR 404, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     B. Stuber-Rousselle
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_Var">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/analysis/Variationsrechnung1819/index.html">
      Variationsrechnung
     </a>
    </td>
    <td rowspan="2">
     G. Wang
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di, Do 12-14, SR 404, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Zusatzübungen dazu 1-stündig
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     T. Körber
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_numOp">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     6/9
     <small>
      ECTS
     </small>
    </td>
    <td>
     Numerical Optimization
    </td>
    <td>
     M. Diehl
    </td>
   </tr>
   <tr>
    <td>
     Übungen dazu
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Online-Kurs in Englisch (6 ECTS-Punkte). Mit zusätzlicher Projektarbeit (3 ECTS-Punkte) als Vorlesung mit 9 ECTS-Punkten anrechenbar
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     1c. Weiterführende zweistündige Vorlesungen
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="8_ODE">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      II
     </div>
     5
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/analysis/ODE1819/">
      Gewöhnliche Differentialgleichungen
     </a>
    </td>
    <td rowspan="2">
     J. Scheuer
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Do 14-16, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig (14-täglich) n.V.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     L. Courte
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="8_FuO">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="http://www.finance.uni-freiburg.de/studium-und-lehre/ws1819/faows1819">
      Futures and Options
     </a>
    </td>
    <td rowspan="2">
     C. Gerhart
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo 14-16, (Raum nicht bekannt)
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: Mi 16-18
    </td>
    <td>
     V. Feunou
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Kann für die Spezialisierung Finanzmathematik im Master-Studiengang auch als wirtschaftswissenschaftliches Spezialisierungsmodul zählen.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="8_numOp">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     6/9
     <small>
      ECTS
     </small>
    </td>
    <td>
     Numerical Optimization
    </td>
    <td>
     M. Diehl
    </td>
   </tr>
   <tr>
    <td>
     Übungen dazu
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Online-Kurs in Englisch (6 ECTS-Punkte). Mit zusätzlicher Projektarbeit (3 ECTS-Punkte) als Vorlesung mit 9 ECTS-Punkten anrechenbar
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="8_VersM">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     5
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://www.stochastik.uni-freiburg.de/lehre/ws-2018-2019/vorlesung-versicherungsmathematik-ws-2018-2019">
      Versicherungsmathematik
     </a>
    </td>
    <td rowspan="2">
     S. Tappe
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di 16-18, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig (14-täglich) n.V.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     R. Zeineddine
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="8_RieFl">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     5
     <small>
      ECTS
     </small>
    </td>
    <td>
     Riemann'sche Flächen
    </td>
    <td rowspan="2">
     A. Haydys
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Fr 14-16, SR 127, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen (14-täglich): Di 16-18, SR 119, Ernst-Zermelo-Straße 1
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="8_IntTh">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     Intersection Theory
    </td>
    <td rowspan="2">
     R. Gupta
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo 8-10, SR 404, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="8_LAuiD">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     Lie-Algebren und ihre Darstellungen
    </td>
    <td rowspan="2">
     W. Soergel
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung:(Zeit/Ort nicht bekannt)
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <span style="color: red">
      Veranstaltung entfällt!
     </span>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     1d. Lehrexportveranstaltungen
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="9_M1Inf">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="https://aam.uni-freiburg.de/agdo/lehre/ws18/mathe1/index.html">
      Mathematik I für Studierende der Informatik und der Ingenieurwissenschaften
     </a>
    </td>
    <td rowspan="2">
     P. Dondl
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, Mi 16-18, HS Rundbau, Albertstr. 21
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     J. Daube, J. Gerstenberger
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="9_M1NW">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="https://home.mathematik.uni-freiburg.de/mfnw/2018ws/index.html">
      Mathematik I für Studierende der Naturwissenschaften
     </a>
    </td>
    <td rowspan="2">
     S. Knies
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo 14-16, Fr 8-10, HS Rundbau, Albertstr. 21
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     M. Zeinhofer
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="9_LInf">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Logik für Studierende der Informatik
    </td>
    <td rowspan="2">
     A. Martín Pizarro
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo 10-12, HS 00-026, Geb. 101, Georges-Köhler-Allee
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu: 2-stündig n.V.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     M. Lösch
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h2>
     2. Berufsorientierte Veranstaltungen
    </h2>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h3>
     2a. Begleitveranstaltungen
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="10_LdL">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      W
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     Lernen durch Lehren
    </td>
    <td>
     Alle Dozenten der Mathematik
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     2b. Fachdidaktik
    </h3>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    Bitte beachten Sie ggf. im Kommentierten Vorlersungsverzeichnis veröffentlichte Anmeldemodalitäten: Es ist insbesondere möglich, dass es zu fortgeschrittenene Fachdidaktikveranstaltungen eine Registrierung am Ende des Vorsemesters gibt. 
Zu Fachdidaktikseminaren im Lehramtsstudium nach GymPO läuft die Prüfungsanmeldefrist vom 1. Oktober 2018 bis 10. Oktober 2018.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tbody class="course_snip" id="11_EinFD">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      Z*
     </div>
     5
     <small>
      ECTS
     </small>
    </td>
    <td>
     Einführung in die Fachdidaktik der Mathematik
    </td>
    <td rowspan="2">
     K. Böcherer-Linder
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di 10-12, HS Weismann-Haus, Albertstr. 21a
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen 2-stündig: Mi, Fr 10-12, SR 125, Ernst-Zermelo-Straße 1
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Übungstermin zur Wahl im Rahmen der Kapazitäten
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="11_FD-FA">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      E
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     Didaktik der Funktionen und der Analysis
    </td>
    <td rowspan="2">
     L. Wessel
    </td>
   </tr>
   <tr>
    <td>
     Seminar und Übung: Mi 14-17, SR 125, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="11_FD-BL">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      E*
     </div>
     4
     <small>
      ECTS
     </small>
    </td>
    <td>
     Fachdidaktikseminar: Mathematikaufgaben entwickeln
    </td>
    <td rowspan="2">
     K. Böcherer-Linder
    </td>
   </tr>
   <tr>
    <td>
     Do 10-12, SR 127, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Geeignet als Fachdidaktikseminar im Lehramtsstudium nach GymPO und für das Modul "Fachdidaktische Entwicklung" im Master of Education.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     2c. Praktische Übungen
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="12_PrNum">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      B, E*
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     Praktische Übung zu "Numerik"
    </td>
    <td rowspan="2">
     P. Dondl
    </td>
   </tr>
   <tr>
    <td>
     (Zeit/Ort nicht bekannt)
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     M. Zeinhofer
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      1. Teil der zweisemestrigen Veranstaltung; die ECTS-Punktzahl gilt für beide Semester
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="12_PrSto">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      B, E*
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://www.stochastik.uni-freiburg.de/lehre/ws-2018-2019/praktische-uebung-zu-stochastik-ws-2018-2019">
      Prakische Übung zu "Stochastik"
     </a>
    </td>
    <td rowspan="2">
     E. A. von Hammerstein
    </td>
   </tr>
   <tr>
    <td>
     Do 14-16, HS Weismann-Haus, Albertstr. 21a
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     E. A. von Hammerstein
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="12_Pr0a">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      E*, W
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     Praktische Übung zu "Einführung in Theorie und Numerik partieller Differentialgleichungen"
    </td>
    <td rowspan="2">
     S. Bartels
    </td>
   </tr>
   <tr>
    <td>
     Do 16-18, CIP-Pool Raum 201, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     C. Palus
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="12_Pr1a">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      W
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     Praktische Übung zu "Theorie und Numerik partieller Differentialgleichungen II – nicht-lineare partielle Differentialgleichungen"
    </td>
    <td rowspan="2">
     S. Bartels
    </td>
   </tr>
   <tr>
    <td>
     Mo 14-16, CIP-Pool Raum 201, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     A. Papathanassopoulos, J. Keck
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h2>
     3. Seminare
    </h2>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h3>
     3a. Proseminare
    </h3>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    Die Anmeldung zu den Proseminaren erfolgt in der Regel am Ende der Vorlesungsszeit des Sommersemesters. Bitte beachten Sie die in den Kommentaren veröffentlichten Anmeldemodalitäten. Sofern Sie einen Platz in einem Proseminar erhalten haben, müssen Sie sich noch online zur Prüfung anmelden; der Anmeldezeitraum läuft vom 1. Oktober 2018 bis 10. Oktober 2018.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tbody class="course_snip" id="13_PS-Go">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/dhein/WS1819-Prosem/index.html">
      Proseminar: Flächen
     </a>
    </td>
    <td rowspan="2">
     S. Goette
    </td>
   </tr>
   <tr>
    <td>
     Di 14-16, SR 403, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     D. Hein
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="13_PS-Ke">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Proseminar: Topologie
    </td>
    <td rowspan="2">
     S. Kebekus
    </td>
   </tr>
   <tr>
    <td>
     Mo 10-12, SR 125, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     S. Kandel
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="13_PS-Ku">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Proseminar: Fraktale
    </td>
    <td rowspan="2">
     E. Kuwert
    </td>
   </tr>
   <tr>
    <td>
     Di 14-16, SR 125, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     J. Scheuer
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="13_PS-Ru">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="https://aam.uni-freiburg.de/agru/lehre/ws18/gssb.html">
      Proseminar: Große Sätze und schöne Beweise
     </a>
    </td>
    <td rowspan="2">
     M. Růžička
    </td>
   </tr>
   <tr>
    <td>
     Mo 14-16, SR 127, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     M. Křepela
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     3b. Seminare
    </h3>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    Die Anmeldung zu den Seminaren erfolgt in der Regel am Ende der Vorlesungsszeit des Sommersemesters. Bitte beachten Sie die in den Kommentaren veröffentlichten Anmeldemodalitäten. Sofern Sie einen Platz in einem Seminar erhalten haben, müssen Sie sich noch online zur Prüfung anmelden; der Anmeldezeitraum läuft vom 1. Oktober 2018 bis 10. Oktober 2018.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tbody class="course_snip" id="14_S-HK">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Seminar: Adele
    </td>
    <td rowspan="2">
     A. Huber-Klawitter
    </td>
   </tr>
   <tr>
    <td>
     Mo 14-16, SR 404, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     O. Bräunling
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-Ke">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Seminar: Algebraische Geometrie
    </td>
    <td rowspan="2">
     S. Kebekus
    </td>
   </tr>
   <tr>
    <td>
     Mi 10-12, SR 403, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     Y. Commelin
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-Mi">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/mildenberger/veranstaltungen/ws18/seminar_keisler.html">
      Seminar: Die Keisler-Ordnung
     </a>
    </td>
    <td rowspan="2">
     H. Mildenberger
    </td>
   </tr>
   <tr>
    <td>
     Di 16-18, SR 403, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     G. Laguzzi
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-Do">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="https://aam.uni-freiburg.de/agdo/lehre/ws18/shape_opt/index.html">
      Seminar: Formoptimierung
     </a>
    </td>
    <td rowspan="2">
     P. Dondl
    </td>
   </tr>
   <tr>
    <td>
     Mo 14-16, SR 226, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     A. Korsch
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-Kn">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      E*
     </div>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/knies/lehre/ws1819/dglanw/">
      Seminar: Gewöhnliche Differentialgleichungen und Anwendungen
     </a>
    </td>
    <td rowspan="2">
     S. Knies
    </td>
   </tr>
   <tr>
    <td>
     Do 14-16, SR 125, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     J. Daube, J. Gerstenberger
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Besonders geeignet für Lehramtsstudierende
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-Gr">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Seminar: Hyperbolische Gruppen
    </td>
    <td rowspan="2">
     N. Große
    </td>
   </tr>
   <tr>
    <td>
     Mi 12-14, SR 125, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     K. Fedosova
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-We">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      E*
     </div>
    </td>
    <td>
     Seminar: Lattices and Codes
    </td>
    <td rowspan="2">
     K. Wendland
    </td>
   </tr>
   <tr>
    <td>
     Di 14-16, SR 404, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     S. Kandel
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      auch für Lehramtsstudierende geeignet
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-Bi">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Seminar: Medical Data Science
    </td>
    <td rowspan="2">
     H. Binder
    </td>
   </tr>
   <tr>
    <td>
     Seminar: Mi 10:00-11:30, HS Medizinische Biometrie, Stefan-Meier-Str. 26
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_Seiminar">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Seminar: Minimalflächen
    </td>
    <td rowspan="2">
     G. Wang
    </td>
   </tr>
   <tr>
    <td>
     Mi 16-18, SR 403, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     A. de la Torre Pedraza
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-Ro">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="http://www.stochastik.uni-freiburg.de/lehre/ws-2018-2019/seminar-quantitative-versionen-des-zentralen-grenzwertsatzes-ws-2018-2019">
      Seminar: Quantitative Versionen des zentralen Grenzwertsatzes
     </a>
    </td>
    <td rowspan="2">
     A. Rohde
    </td>
   </tr>
   <tr>
    <td>
     Mi 14-16, SR 127, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     P. Beckedorf
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-Hs">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="http://www.stochastik.uni-freiburg.de/lehre/ws-2018-2019/seminar-shapeanalysis-ws-2018-2019">
      Seminar: Shape Analysis
     </a>
    </td>
    <td rowspan="2">
     P. Harms
    </td>
   </tr>
   <tr>
    <td>
     Di 16-18, Raum 232, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     W. Khosrawi, P. Harms
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     Vorbesprechung: Mi 17.10.2018, 14:15 Uhr, Raum 232, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-So">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      E*
     </div>
    </td>
    <td>
     <a href=" http://home.mathematik.uni-freiburg.de/patimo/spiegelung.html">
      Seminar: Spiegelungsgruppen
     </a>
    </td>
    <td rowspan="2">
     W. Soergel
    </td>
   </tr>
   <tr>
    <td>
     Di 8-10, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     L. Patimo
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Besonders geeignet für Lehramtsstudierende
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h2>
     4. Oberseminare, Projektseminare und Kolloquien
    </h2>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h3>
     4a. Oberseminare
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="15_OS-A">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Oberseminar: Algebra, Zahlentheorie und algebraische Geometrie
    </td>
    <td rowspan="2">
     A. Huber-Klawitter, S. Kebekus, W. Soergel
    </td>
   </tr>
   <tr>
    <td>
     Fr 10-12, SR 404, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     Am 30.11.2018 findet das Seminar im HS Otto-Krayer-Haus, Albertstraße 25, statt.
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="15_OS-AM">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Oberseminar: Angewandte Mathematik
    </td>
    <td rowspan="2">
     S. Bartels, P. Dondl, M. Růžička
    </td>
   </tr>
   <tr>
    <td>
     Di 14-16, SR 226, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="15_OS-DG">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Oberseminar: Differentialgeometrie
    </td>
    <td rowspan="2">
     S. Goette, N. Große, K. Wendland
    </td>
   </tr>
   <tr>
    <td>
     Mo 16-18, SR 404, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="15_OS-ML">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="http://wochenprogramm.mathematik.uni-freiburg.de/v.html?V=OS-ML&amp;Semester=WS2018-2019">
      Oberseminar: Mathematische Logik
     </a>
    </td>
    <td rowspan="2">
     A. Martín Pizarro, H. Mildenberger
    </td>
   </tr>
   <tr>
    <td>
     Mi 16-18, SR 404, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="15_OS-MS">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="https://www.stochastik.uni-freiburg.de/oberseminar">
      Oberseminar: Stochastik
     </a>
    </td>
    <td rowspan="2">
     P. Harms, P. Pfaffelhuber, A. Rohde, T. Schmidt
    </td>
   </tr>
   <tr>
    <td>
     Fr 13-14, SR 404, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     Am 30.11.2018 findet das OS im SR 403 statt.
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     4b. Projektseminare und Lesekurse
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="16_LkWA">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Lesekurse „Wissenschaftliches Arbeiten“
    </td>
    <td>
     Alle Dozenten der Mathematik
    </td>
   </tr>
   <tr>
    <td colspan="2">
     – nach persönlicher Absprache –
     <br/>
     <i>
      Nähere Informationen siehe Kommentiertes Vorlesungsverzeichnis
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="16_GK">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Seminar des Graduiertenkollegs 1821
    </td>
    <td rowspan="2">
     S. Goette, N. Große, A. Huber-Klawitter, S. Kebekus, W. Soergel, K. Wendland, A. Haydys, F. Hörmann
    </td>
   </tr>
   <tr>
    <td>
     Mi 14:00-16, SR 404, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen dazu
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="16_PjDo">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Projektseminar: Angewandte Analysis
    </td>
    <td rowspan="2">
     P. Dondl
    </td>
   </tr>
   <tr>
    <td>
     Di 16-18, Bibliotheksraum der Abteilung für Angewandte Mathematik, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     M. Jesenko
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="16_PjGA">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Projektseminar: Geometrische Analysis
    </td>
    <td rowspan="2">
     E. Kuwert, G. Wang
    </td>
   </tr>
   <tr>
    <td>
     Di 16-18, SR 404, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     J. Scheuer
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="16_PjNNF">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Projektseminar: Nicht-Newtonsche Flüssigkeiten
    </td>
    <td rowspan="2">
     M. Růžička
    </td>
   </tr>
   <tr>
    <td>
     Fr 10-12, SR 127, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     M. Křepela
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="16_PjNA">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Projektseminar: Numerik partieller Differentialgleichungen
    </td>
    <td rowspan="2">
     S. Bartels
    </td>
   </tr>
   <tr>
    <td>
     Mo 16-18, SR 226, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     J. Keck
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="16_Projektseminar">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Projektseminar: Geometrische PDE
    </td>
    <td rowspan="2">
     G. Wang
    </td>
   </tr>
   <tr>
    <td>
     Mo 16-18, SR 318, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     4c. Kolloquien und weitere Veranstaltungen
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="17_FDM">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="http://www.fdm.uni-freiburg.de/seminar">
      Seminar über Datenanalyse und Modellbildung
     </a>
    </td>
    <td rowspan="2">
     H. Binder, P. Pfaffelhuber, A. Rohde, J. Timmer
    </td>
   </tr>
   <tr>
    <td>
     Fr 12-13, SR 404, Ernst-Zermelo-Straße 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     Am 30.11.2018 findet das Seminar im SR 403 statt.
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="17_DidS">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Didaktisches Seminar
    </td>
    <td rowspan="2">
     K. Böcherer-Linder, E. Kuwert
    </td>
   </tr>
   <tr>
    <td>
     Di 19:30-21:00, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     – besondere Ankündigung; etwa 14-täglich –
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="17_61">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Internationales Forschungsseminar Algebraische Geometrie (IRMA) (Freiburg – Nancy – Strasbourg)
    </td>
    <td>
     S. Kebekus
    </td>
   </tr>
   <tr>
    <td colspan="2">
     – besondere Ankündigung; zwei Termine pro Semester –
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="17_62">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Mathematisch-Physikalisches Kolloquium
    </td>
    <td rowspan="2">
     A. Buchleitner, S. Goette, N. Große, E. Scheidegger, W. Soergel, K. Wendland
    </td>
   </tr>
   <tr>
    <td>
     Fr 14-17, wechselnder Hörsaal, nach Ankündigung
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     – besondere Ankündigung; etwa monatlich –
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="17_Koll">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="http://wochenprogramm.mathematik.uni-freiburg.de/kolloquium.html">
      Kolloquium der Mathematik
     </a>
    </td>
    <td rowspan="2">
     Alle Dozenten der Mathematik
    </td>
   </tr>
   <tr>
    <td>
     Do 17:00-18:00, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     – besondere Ankündigung –
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
 </table>
</div>
