<div class="container" id="inhalt">
 <h1>
  Lehrveranstaltungen im Wintersemester 2021/2022
 </h1>
 <h2>
  Erläuterungen
 </h2>
 <h3>
  Pflichtveranstaltungen:
 </h3>
 <dl>
  <dt>
   B
  </dt>
  <dd>
   Pflichtveranstaltung im BSc
  </dd>
  <dt>
   E
  </dt>
  <dd>
   Pflichtveranstaltung im MEd
  </dd>
  <dt>
   Z
  </dt>
  <dd>
   Pflichtveranstaltung im 2-Hauptfächer-Bachelor
  </dd>
  <dt>
   Z*
  </dt>
  <dd>
   Pflichtveranstaltung der Lehramtsoption im 2-HF-Bachelor
  </dd>
 </dl>
 <h3>
  Wahlpflichtveranstaltungen:
 </h3>
 <dl>
  <dt>
   II
  </dt>
  <dd>
   Veranstaltung der Kategorie II:
   <br/>
   geeignet als Wahlpflichtmodul im BSc;
   <br/>
   im MSc verwendbar für die Module
"Angewandte Mathematik", "Reine Mathematik" und im Wahlmodul;
   <br/>
   in der Regel im Lehramt nach GymPO und im MEd als vertiefte Vorlesung und für den Optionsbereich des 2-Hf-Bachelors geeignet (Voraussetzungen beachten!)
  </dd>
  <dt>
   III
  </dt>
  <dd>
   Veranstaltung der Kategorie III:
   <br/>
   im MSc in allen Modulen
verwendbar;
   <br/>
   einzelne Veranstaltungen sind bei geeigneten Vorkenntnissen für
den Wahlpflichtbereich des BSc geeignet
  </dd>
  <dt>
   W
  </dt>
  <dd>
   kann im BSc und MSc als Wahlmodul oder im Optionsbereich des 2-Hf-Bachelors
verwendet werden; stets Studienleistung!
  </dd>
 </dl>
 <p>
  Die angegebenen ECTS-Punkte gelten für die Verwendung von Veranstaltungen im
Wahlpflicht- oder Wahlbereich des jeweiligen Studiengangs. Die ECTS-Punktzahl
von Pflichtveranstaltungen ist in der Prüfungsordnung festgeschrieben.
 </p>
 <dl>
  <dt>
   HS
  </dt>
  <dd>
   Hörsaal
  </dd>
  <dt>
   SR
  </dt>
  <dd>
   Seminarraum
  </dd>
 </dl>
 <p>
  <b>
   Hinweis:
  </b>
  Ausführliche Informationen (Vorkenntnisse,
Folgeveranstaltungen, Prüfungen) finden sich in den von der Fakultät
herausgegebenen “Kommentaren zu den Lehrveranstaltungen
Mathematik”. (siehe auch:
  <a href="http://www.math.uni-freiburg.de/lehre/v/">
   http://www.math.uni-freiburg.de/lehre/v/
  </a>
  )
 </p>
 <p style="color:red;">
  Für Präsenzveranstaltungen ist ein 3G-Nachweis erforderlich und die Hinterlegung der Corona-Kontakdaten in HISinOne förderlich.
    Bei einigen Vorlesungen ist noch nicht bekannt, ob sie in Präsenz stattfinden oder online. Bitte kontaktieren Sie für Nachfragen die Dozenten bzw. Assistenten!
 </p>
 <table class="vlverz">
  <col/>
  <col/>
  <col/>
  <tr>
   <td colspan="3">
    <h2>
     1. Vorlesungen
    </h2>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h3>
     1a. Einführende Vorlesungen und Pflichtvorlesungen der verschiedenen Studiengänge
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="5_Vkurs">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="https://home.mathematik.uni-freiburg.de/ngrosse/teaching/Vorlesungen/Vorkurs21.html">
      Vorkurs Mathematik (für Studierende der Mathematik)
     </a>
    </td>
    <td>
     N. Große
    </td>
   </tr>
   <tr>
    <td>
     Assistenz
    </td>
    <td>
     K. Fedosova
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Freiwilliges Angebot für den Studienanfang in Mathematik in der Woche 4.10.–9.10.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="5_Vorkurs">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="https://kosmic.uni-freiburg.de">
      Vorkurs Mathematik (für Studierende der Natur-  und Ingenieurwissenschaften)
     </a>
    </td>
    <td>
     S. Knies
    </td>
   </tr>
   <tr>
    <td colspan="2">
     <i>
      Nur zur Information – nicht für Mathematikstudierende gedacht. Zeitraum: 4.10.–9.10.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="5_LA1">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      B, Z
     </div>
    </td>
    <td>
     <a href=" https://home.mathematik.uni-freiburg.de/mildenberger/veranstaltungen/ws21/la.html">
      Lineare Algebra I
     </a>
    </td>
    <td rowspan="2">
     H. Mildenberger
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, Do 8-10, HS Rundbau, Albertstr. 21
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Fragestunde: Mo 18-20, SR 125, Ernst-Zermelo-Str. 1
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     Ch. Bräuninger
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="5_Ana1">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      B, Z
     </div>
    </td>
    <td>
     <a href="https://home.mathematik.uni-freiburg.de/geometrie/lehre/ws2021/Ana1/">
      Analysis I
     </a>
    </td>
    <td rowspan="2">
     S. Goette
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di, Mi 8-10, HS Rundbau, Albertstr. 21
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     J. Schnitzer
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Fragestunde:  Do 18-20, HS II, Albertstr. 23b
    </td>
    <td>
     J. Schnitzer, L. Terenzi
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="5_Ana3">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      B
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://home.mathematik.uni-freiburg.de/ngrosse/teaching/Vorlesungen/AnalysisIII.html">
      Analysis III
     </a>
    </td>
    <td rowspan="2">
     N. Große
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di, Do 10-12, HS 01 007, Hermann-Herder-Str. 6
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     K. Fedosova
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="5_ErwAn">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      E
     </div>
    </td>
    <td>
     <a href="https://www.stochastik.uni-freiburg.de/lehre/ws-2021-2022/vorlesung-erweiterung-der-analysis-ws2021-2022">
      Erweiterung der Analysis
     </a>
    </td>
    <td rowspan="2">
     P. Pfaffelhuber
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Do 10-12, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     T. Enger
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="5_Num">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      B, Z
     </div>
    </td>
    <td>
     <a href="https://aam.uni-freiburg.de/agba/lehre/ws21/num/index.html">
      Numerik I
     </a>
    </td>
    <td rowspan="2">
     S. Bartels
    </td>
   </tr>
   <tr>
    <td>
     Gelegentliche Live-Besprechungen: Mi 14-16, HS Weismann-Haus, Albertstr. 21a
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Vorlesung (2-stündig): vorwiegend asynchrones digitales Angebot
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig, 14-täglich): verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     J. Keck
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="5_Sto">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      B, Z
     </div>
    </td>
    <td>
     <a href="https://www.stochastik.uni-freiburg.de/lehre/ws-2021-2022/vorlesung-stochastik-ws-2021-2022">
      Stochastik I
     </a>
    </td>
    <td rowspan="2">
     T. Schmidt
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Fr 10-12, HS Weismann-Haus, Albertstr. 21a
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig, 14-täglich): verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     M. Ritter
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="5_AuZ">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      II, Z
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/arithgeom/lehre/ws21/azt/">
      Algebra und Zahlentheorie
     </a>
    </td>
    <td rowspan="2">
     A. Huber-Klawitter
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, Mi 10-12, HS Weismann-Haus, Albertstr. 21a
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     P. Núñez
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Fragestunde:  Mo 16-18, HS Weismann-Haus, Albertstr. 21a
    </td>
    <td>
     P. Núñez
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     1b. Weiterführende vierstündige Vorlesungen
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="7_alGeo">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://cplx.vm.uni-freiburg.de/de/teaching/">
      Algebraische Geometrie
     </a>
    </td>
    <td rowspan="2">
     S. Kebekus
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mi, Fr 8-10, SR 125, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Di 8-10, SR 125
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     A. Demleitner
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_algZt">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     8
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/arithgeom/lehre/ws21/basel.html">
      Algebraische Zahlentheorie
     </a>
    </td>
    <td>
     Ph. Habegger
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung in Basel im Hybrid-Format
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen 2-stündig (
     <i>
      bei ausreichendem Interesse in Freiburg
     </i>
     )
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Modulprüfungen im M.Sc.
    </td>
    <td>
     A. Huber-Klawitter
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <span style="color: red">
      Termin: 22.9. bis 22.12.2021
     </span>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_bewKp">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/jaoui/">
      Bewertete Körper
     </a>
    </td>
    <td rowspan="2">
     A. Martín Pizarro
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di, Do 12-14, SR 125, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     R. Jaoui
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_DG">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://home.mathematik.uni-freiburg.de/analysis/Differentialgeometrie_WS21_22/index.html">
      Differentialgeometrie
     </a>
    </td>
    <td rowspan="2">
     E. Kuwert
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di, Do 10-12, SR 226, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     J. Metsch
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_PDE0a">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://aam.uni-freiburg.de/agba/lehre/ws21/tun0/index.html">
      Einführung in Theorie und Numerik partieller Differentialgleichungen
     </a>
    </td>
    <td rowspan="2">
     S. Bartels, M. Růžička
    </td>
   </tr>
   <tr>
    <td>
     Gelegentliche Live-Besprechungen: Mo 10-12, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Vorlesung (4-stündig): vorwiegend asynchrones digitales Angebot
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     V. Jackisch
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_Stat">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://www.stochastik.uni-freiburg.de/lehre/ws-2021-2022/vorlesung-mathematische-statistik-ws-2021-2022">
      Mathematische Statistik
     </a>
    </td>
    <td rowspan="2">
     T. Schmidt
    </td>
   </tr>
   <tr>
    <td>
     Live-Besprechungen: Do 12-14, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung: Fr 12-14, SR 127, Ernst-Zermelo-Str. 1
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Vorlesung (4-stündig): vorwiegend asynchrones digitales Angebot
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     M. Ritter
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_NAaS">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/patimo/ws22ncas.html">
      Noncommutative Algebra and Symmetry
     </a>
    </td>
    <td rowspan="2">
     L. Patimo
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di, Do 14-16, SR 127, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen 2-stündig
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     V. Vogelmann
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_numOp">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     6/9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://syscop.de/teaching/ws2021/numerical-optimization">
      Numerical Optimization
     </a>
    </td>
    <td rowspan="2">
     M. Diehl
    </td>
   </tr>
   <tr>
    <td>
     Übung: Fr 10-12, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Vorlesung (2-stündig): asynchrones digitales Angebot
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     F. Messerer
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Online-Kurs in Englisch (6 ECTS-Punkte). Mit zusätzlicher Projektarbeit (3 ECTS-Punkte) als Vorlesung mit 9 ECTS-Punkten anrechenbar.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_stoPr">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://www.stochastik.uni-freiburg.de/lehre/ws-2021-2022/vorlesung-stochastische-prozesse-ws-2021-2022">
      Stochastische Prozesse
     </a>
    </td>
    <td rowspan="2">
     A. Rohde
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo 12-14, SR 127, Ernst-Zermelo-Str. 1, Mi 12-14, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     J. Brutsche
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_PDE2b">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://aam.uni-freiburg.de/agru/lehre/ws21/nonlinPDE/index.html">
      Theorie und Numerik partieller Differentialgleichungen – nichtlineare partielle Differentialgleichungen
     </a>
    </td>
    <td rowspan="2">
     S. Bartels, M. Růžička
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, Mi 10-12, SR 127, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig) n. v.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     A. Kaltenbach
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_Var">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://home.mathematik.uni-freiburg.de/analysis/CalcVar21/index.html">
      Variationsrechnung
     </a>
    </td>
    <td rowspan="2">
     G. Wang
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, Mi 14-16, SR 125, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     F. Yang
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_WT">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      II
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     Wahrscheinlichkeitstheorie
    </td>
    <td rowspan="2">
     P. Pfaffelhuber
    </td>
   </tr>
   <tr>
    <td>
     Fragestunde: Mo 12-14, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Vorlesung (4-stündig): asynchrones digitales Angebot
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übungen (2-stündig): verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     J. Stiefel
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     1c. Weiterführende zweistündige Vorlesungen
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="8_FuO">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://www.finance.uni-freiburg.de/studium-und-lehre/ws21/FaO21">
      Futures and Options
     </a>
    </td>
    <td rowspan="2">
     E. Lütkebohmert-Holtz
    </td>
   </tr>
   <tr>
    <td>
     Fragestunde: Mo 14-16, HS 3118, KG III
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung: Mo 16-18, HS 3118, KG III
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Vorlesung (2-stündig): asynchrones digitales Angebot
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     R. Brignone
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Kann für die Spezialisierung Finanzmathematik im M.Sc.-Studiengang auch als wirtschaftswissenschaftliches Spezialisierungsmodul zählen.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="8_ODE">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      II
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://www.mariusmueller.art/teaching">
      Gewöhnliche Differentialgleichungen
     </a>
    </td>
    <td rowspan="2">
     M. Müller
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung (
     <i>
      hybrid
     </i>
     ): Do 14-16, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     S. Glaffig
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="8_numOp">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     6/9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://syscop.de/teaching/ws2021/numerical-optimization">
      Numerical Optimization
     </a>
    </td>
    <td rowspan="2">
     M. Diehl
    </td>
   </tr>
   <tr>
    <td>
     Übung: Fr 10-12, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Vorlesung (2-stündig): asynchrones digitales Angebot
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     F. Messerer
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Online-Kurs in Englisch (6 ECTS-Punkte). Mit zusätzlicher Projektarbeit (3 ECTS-Punkte) als Vorlesung mit 9 ECTS-Punkten anrechenbar.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="8_PfMgt">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://www.finance.uni-freiburg.de/studium-und-lehre/ws21/PfM21">
      Portfolio Management
     </a>
    </td>
    <td rowspan="2">
     E. Lütkebohmert-Holtz, E. A. von Hammerstein
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Do 10-12, -, online
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung: Do 16-18, HS 1243, KG I
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Kann im B.Sc. und M.Sc. Mathematik nur als Wahlmodul und nicht als Wahlpflichtmodul Mathematik angerechnet werden. Kann für die Spezialisierung Finanzmathematik im M.Sc.-Studiengang auch als wirtschaftswissenschaftliches Spezialisierungsmodul zählen.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     1d. Lehrexportveranstaltungen
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="9_M1In">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="https://aam.uni-freiburg.de/agdo/lehre/ws21/mathe1/">
      Mathematik I für Studierende der Informatik und der Ingenieurwissenschaften
     </a>
    </td>
    <td rowspan="2">
     P. Dondl
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, Mi 16-18, -, online
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     Z. Wang
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="9_M1NW">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="https://campus.uni-freiburg.de:443/qisserver/pages/startFlow.xhtml?_flowId=detailView-flow&amp;unitId=10131&amp;periodId=2451&amp;navigationPosition=studiesOffered,searchCourses">
      Mathematik I für Studierende der Naturwissenschaften
     </a>
    </td>
    <td rowspan="2">
     S. Knies
    </td>
   </tr>
   <tr>
    <td>
     Fragestunden: Mo 14-16, Fr 8-10, HS Rundbau, Albertstr. 21
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Vorlesung (4-stündig): asynchrones digitales Angebot
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     M. Hoferichter
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="9_LInf">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="https://campus.uni-freiburg.de:443/qisserver/pages/startFlow.xhtml?_flowId=detailView-flow&amp;unitId=7085&amp;periodId=2451&amp;navigationPosition=studiesOffered,searchCourses">
      Logik für Studierende der Informatik
     </a>
    </td>
    <td rowspan="2">
     M. Junker
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mi 10-12, -, online
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     B. Stuber-Rousselle
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="9_LPhil">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/loesch/lehre/ws2122/">
      Logik für Studierende der Philosophie
     </a>
    </td>
    <td rowspan="2">
     A. Martín Pizarro
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mi 10-12, HS 1199, KG I
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     M. Lösch
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="9_MMfEF">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="https://www.finance.uni-freiburg.de/studium-und-lehre/ws21/MMEF_21">
      Mathematical Methods for Economics and Finance
     </a>
    </td>
    <td rowspan="2">
     E. A. von Hammerstein
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mi 14-16, -, online
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung: Mi 16-18, (Raum nicht bekannt)
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     M. Rockel
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h2>
     2. Berufsorientierte Veranstaltungen
    </h2>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h3>
     2a. Begleitveranstaltungen
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="10_LdL">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/ldl/index1.html">
      Lernen durch Lehren
     </a>
    </td>
    <td>
     Alle Dozentinnen und Dozenten der Mathematik
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="10_bRech">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     0
     <small>
      ECTS
     </small>
    </td>
    <td>
     Betreutes Rechnen
    </td>
    <td rowspan="2">
     N. N.
    </td>
   </tr>
   <tr>
    <td>
     (Zeit/Ort nicht bekannt)
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Tutoren helfen bei Fragen zu Übungsaufgaben und Vorlesungen. Freiwilliges Angebot, typischerweise für Drittsemester-Vorlesungen.
     </i>
     <br/>
     <b>
      Angebot noch unter Vorbehalt
     </b>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     2b. Fachdidaktik
    </h3>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    Bitte beachten Sie die in den Kommentaren zum Vorlesungsverzeichnis ggf. veröffentlichten Voranmeldefristen und -verfahren, teilweise schon zu Ende der Vorlesungszeit des Sommersemesters.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tbody class="course_snip" id="11_EinFD">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      Z*
     </div>
     5
     <small>
      ECTS
     </small>
    </td>
    <td>
     Einführung in die Fachdidaktik der Mathematik
    </td>
    <td rowspan="2">
     K. Böcherer-Linder
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di 8-10, HS Weismann-Haus, Albertstr. 21a
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Do 10-12, Fr 8-10, SR 404, Ernst-Zermelo-Str. 1
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Übungstermin zur Wahl im Rahmen der Kapazitäten
     </i>
     <br/>
     <i>
      Der Besuch des Didaktischen Seminars (einzelne Termine, Dienstag abends, 19:30 Uhr) wird erwartet!
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="11_FD-FA">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      E
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     Didaktik der Funktionen und der Analysis
    </td>
    <td rowspan="2">
     K. Böcherer-Linder
    </td>
   </tr>
   <tr>
    <td>
     Mo 9-12, SR 404, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="11_FD-SA">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      E
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     Didaktik der Stochastik und der Algebra
    </td>
    <td rowspan="2">
     A. Dreher
    </td>
   </tr>
   <tr>
    <td>
     Mi 9-12, SR 404, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="11_FD-Ky">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     4
     <small>
      ECTS
     </small>
    </td>
    <td>
     Fachdidaktikseminar: Didaktische Aspekte beim Einsatz digitaler Mathematikwerkzeuge im Unterricht
    </td>
    <td rowspan="2">
     J. Kury
    </td>
   </tr>
   <tr>
    <td>
     Mo 15-18, SR 127, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Anmeldung durch Listeneintrag in der Abteilung für Didaktik.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="11_FF-MFF">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     4
     <small>
      ECTS
     </small>
    </td>
    <td>
     Fachdidaktische Forschung
    </td>
    <td>
     Dozenten der PH Freiburg
    </td>
   </tr>
   <tr>
    <td colspan="2">
     <i>
      Dreiteilige Veranstaltung; Teilnahme nur nach persönlicher Anmeldung. Details siehe Kommentiertes Vorlesungsverzeichnis.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     2c. Praktische Übungen
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="12_PrNum">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      B
     </div>
    </td>
    <td>
     Praktische Übung zu "Numerik"
    </td>
    <td rowspan="2">
     S. Bartels
    </td>
   </tr>
   <tr>
    <td>
     (2-stündig, 14-täglich):(Zeit/Ort nicht bekannt)
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     C. Hounkpe, J. Keck
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      1. Teil der zweisemestrigen Veranstaltung
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="12_Stoc">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      B
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://www.stochastik.uni-freiburg.de/lehre/ws-2021-2022/prakueb-stochastik-ws-2021-2022">
      Praktische Übung zu "Stochastik"
     </a>
    </td>
    <td rowspan="2">
     E. A. von Hammerstein, J. Brutsche
    </td>
   </tr>
   <tr>
    <td>
     Mo 12-14, HS Weismann-Haus, Albertstr. 21a
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     Online-Kurs als Videokonferenz (mit paralleler Aufzeichnung); ggf. auch in Präsenz.
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="12_Pr0a">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     Praktische Übung zu "Einführung in Theorie und Numerik partieller Differentialgleichungen"
    </td>
    <td rowspan="2">
     S. Bartels, M. Růžička
    </td>
   </tr>
   <tr>
    <td>
     (2-stündig):(Zeit/Ort nicht bekannt)
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     H. Keller, V. Jackisch
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="12_PUe2b">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     Praktische Übung zu "Theorie und Numerik partieller Differentialgleichungen – nicht-lineare partielle Differentialgleichungen"
    </td>
    <td rowspan="2">
     S. Bartels, M. Růžička
    </td>
   </tr>
   <tr>
    <td>
     (2-stündig):(Zeit/Ort nicht bekannt)
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     C. Palus, P. Tscherner
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h2>
     3. Seminare
    </h2>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h3>
     3a. Proseminare
    </h3>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    Bitte beachten Sie die in den Kommentaren zum Vorlesungsverzeichnis veröffentlichten Anmeldemodalitäten zu den einzelnen Proseminaren: In der Regel erfolgt die Platzvergabe nach Voranmeldung per E-Mail bei der Vorbesprechung am Ende der Vorlesungsszeit des Sommersemesters. Anschließend müssen Sie sich noch online zur Prüfung anmelden; der Anmeldezeitraum läuft vom 1. Oktober 2021 bis voraussichtlich 13. Oktober 2021.
    <br/>
    Sollten Sie ein Proseminar belegen wollen, haben aber keine Platz erhalten, melden Sie sich bitte umgehend bei der Studiengangkoordination.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tbody class="course_snip" id="13_PS-vH">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href=" https://www.stochastik.uni-freiburg.de/lehre/ws-2021-2022/proseminar-entscheidungsverfahren-ws-2021-2022">
      Proseminar: Entscheidungsverfahren
     </a>
    </td>
    <td rowspan="2">
     E. A. von Hammerstein
    </td>
   </tr>
   <tr>
    <td>
     Di 14-16, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium zum Proseminar
    </td>
    <td>
     E. A. von Hammerstein
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="13_PS-Kn">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href=" http://home.mathematik.uni-freiburg.de/knies/lehre/ws2122/fourier/index.html">
      Proseminar: Fourier-Reihen
     </a>
    </td>
    <td rowspan="2">
     S. Knies
    </td>
   </tr>
   <tr>
    <td>
     Do 12-14, SR 127, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium zum Proseminar
    </td>
    <td>
     M. Amann
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="13_PS-Ru">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Proseminar: Theorie gewöhnlicher Differentialgleichungen
    </td>
    <td rowspan="2">
     M. Růžička
    </td>
   </tr>
   <tr>
    <td>
     Do 16-18, SR 127, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium zum Proseminar
    </td>
    <td>
     J. Rotter
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="13_PS-Wa">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href=" https://home.mathematik.uni-freiburg.de/fedosova/konvexe_analysis.html">
      Proseminar: Einführung in die konvexe Analysis
     </a>
    </td>
    <td rowspan="2">
     G. Wang
    </td>
   </tr>
   <tr>
    <td>
     Mi 16-18, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium zum Proseminar
    </td>
    <td>
     K. Fedosova
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     3b. Seminare
    </h3>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    Bitte beachten Sie die in den Kommentaren zum Vorlesungsverzeichnis veröffentlichten Anmeldemodalitäten zu den einzelnen Seminaren: In der Regel erfolgt die Platzvergabe nach Voranmeldung per E-Mail bei der Vorbesprechung am Ende der Vorlesungsszeit des Sommersemesters. Anschließend müssen Sie sich noch online zur Prüfung anmelden; der Anmeldezeitraum läuft vom 1. Oktober 2021 bis voraussichtlich 13. Oktober 2021.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tbody class="course_snip" id="14_S-HK">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/arithgeom/lehre/ws21/seminar.html">
      Seminar: Galois Groups and Fundamental Groups
     </a>
    </td>
    <td rowspan="2">
     A. Huber-Klawitter
    </td>
   </tr>
   <tr>
    <td>
     Do 8-10, SR 125, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium zum Seminar
    </td>
    <td>
     L. Terenzi
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-Ku">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Seminar: Minimalflächen
    </td>
    <td rowspan="2">
     E. Kuwert
    </td>
   </tr>
   <tr>
    <td>
     Mi 14-16, SR 127, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium zum Seminar
    </td>
    <td>
     F. Yang
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-Go">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="https://home.mathematik.uni-freiburg.de/geometrie/lehre/ws2021/FunkGeom/">
      Seminar: Funktionalanalysis und Geometrie
     </a>
    </td>
    <td>
     S. Goette
    </td>
   </tr>
   <tr>
    <td>
     Blockseminar (
     <i>
      Termine nach Absprache
     </i>
     )
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium zum Seminar
    </td>
    <td>
     J. Schnitzer
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_Se-UvB">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Seminar: Classical Solutions in Gauge Theory
    </td>
    <td rowspan="2">
     M. Ungureanu, J. van der Bij
    </td>
   </tr>
   <tr>
    <td>
     Do 14-16, SR 125, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium zum Seminar
    </td>
    <td>
     M. Ungureanu
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-Mi">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href=" http://home.mathematik.uni-freiburg.de/mildenberger/veranstaltungen/ws21/knoten.html">
      Seminar: Knotentheorie
     </a>
    </td>
    <td>
     H. Mildenberger
    </td>
   </tr>
   <tr>
    <td>
     Blockseminar nach dem                          Praxissemester (Januar und Februar 2022)
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium zum Seminar
    </td>
    <td>
     M. Levine
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Vorzugsweise für Studierende im M.Ed.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-Do">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Seminar: Das Tröpfchenmodell von Gamow
    </td>
    <td rowspan="2">
     P. Dondl
    </td>
   </tr>
   <tr>
    <td>
     Mo 14-16, SR 226, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium zum Seminar
    </td>
    <td>
     C. Hounkpe
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-Sm">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="https://www.stochastik.uni-freiburg.de/lehre/ws-2021-2022/seminar-mlrn-in-finanzmathematik-ws-2021-2022">
      Seminar: Machine Learning, Robustness und Nachhaltigkeit in der Finanzmathematik
     </a>
    </td>
    <td rowspan="2">
     T. Schmidt
    </td>
   </tr>
   <tr>
    <td>
     Di 10-12, SR 125, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium zum Seminar
    </td>
    <td>
     L. Niemann
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-LH">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="https://www.finance.uni-freiburg.de/studium-und-lehre/ws21/fccget_2021">
      Seminar: Finance, Climate, and Energy
     </a>
    </td>
    <td rowspan="2">
     E. Lütkebohmert-Holtz, M. Schäfer
    </td>
   </tr>
   <tr>
    <td>
     (Zeit/Ort nicht bekannt)
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     Vorbesprechung: In der 1. Semesterwoche, der genaue Termin wird allen voran-gemeldeten Interessenten rechtzeitig bekannt gegeben werden.
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-Ro">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="https://www.stochastik.uni-freiburg.de/lehre/ws-2021-2022/seminar-stochastik-ws-2021-2022/info-seminar-stochastik-ws-2021-2022">
      Seminar: Neue Verschärfungen des zentralen Grenzwertsatzes
     </a>
    </td>
    <td rowspan="2">
     A. Rohde
    </td>
   </tr>
   <tr>
    <td>
     (Zeit/Ort nicht bekannt)
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium zum Seminar
    </td>
    <td>
     P. Beckedorf
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h2>
     4.  Projektseminare, Oberseminare und Kolloquien
    </h2>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h3>
     4a. Projektseminare und Lesekurse
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="16_LkWA">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Lesekurse „Wissenschaftliches Arbeiten“
    </td>
    <td>
     Alle Dozentinnen und Dozenten der Mathematik
    </td>
   </tr>
   <tr>
    <td colspan="2">
     – nach persönlicher Absprache –
     <br/>
     <i>
      Nähere Informationen siehe Kommentiertes Vorlesungsverzeichnis
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="16_PjDo">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Projektseminar: Angewandte Analysis
    </td>
    <td>
     S. Bartels, P. Dondl
    </td>
   </tr>
   <tr>
    <td>
     Termine nach Vereinbarung
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="16_Pj-GA">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Projektseminar: Geometrische Analysis
    </td>
    <td rowspan="2">
     E. Kuwert, G. Wang
    </td>
   </tr>
   <tr>
    <td>
     Di 16-18, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="16_Pj-Ru">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Projektseminar: Nicht-Newtonsche Flüssigkeiten
    </td>
    <td rowspan="2">
     M. Růžička
    </td>
   </tr>
   <tr>
    <td>
     Fr 10-12, SR 127, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="16_Pj-Pf">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Projektseminar: Stochastische Modelle der Biologie
    </td>
    <td>
     P. Pfaffelhuber
    </td>
   </tr>
   <tr>
    <td>
     Termine nach Vereinbarung
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="16_GK">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Seminar des Graduiertenkollegs 1821
    </td>
    <td rowspan="2">
     S. Goette, N. Große, A. Huber-Klawitter, S. Kebekus
    </td>
   </tr>
   <tr>
    <td>
     Mi 14-16, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="16_Pj-Ro">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Projektseminar: Nonparametric Maximum Likelihood Estimation
    </td>
    <td rowspan="2">
     A. Rohde
    </td>
   </tr>
   <tr>
    <td>
     (Zeit/Ort nicht bekannt)
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium zum Projektseminar
    </td>
    <td>
     D. Kieffer
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     4b. Oberseminare
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="15_OS-A">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Oberseminar: Algebra, Zahlentheorie und algebraische Geometrie
    </td>
    <td rowspan="2">
     A. Huber-Klawitter, S. Kebekus
    </td>
   </tr>
   <tr>
    <td>
     Fr 10-12, SR 404, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="15_OS-AM">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Oberseminar: Angewandte Mathematik
    </td>
    <td rowspan="2">
     S. Bartels, P. Dondl, M. Růžička
    </td>
   </tr>
   <tr>
    <td>
     Di 14-16, SR 226, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="15_OS-DG">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Oberseminar: Differentialgeometrie
    </td>
    <td rowspan="2">
     S. Goette, N. Große
    </td>
   </tr>
   <tr>
    <td>
     Mo 16-18, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="15_OS-ML">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="https://wochenprogramm.mathematik.uni-freiburg.de/v.html?V=Oberseminar+Mathematische+Logik&amp;Semester=WS2021-2022">
      Oberseminar: Mathematische Logik
     </a>
    </td>
    <td rowspan="2">
     A. Martín Pizarro, H. Mildenberger
    </td>
   </tr>
   <tr>
    <td>
     Di 14-16, SR 404, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="15_OS-MS">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Oberseminar: Stochastik
    </td>
    <td rowspan="2">
     P. Pfaffelhuber, A. Rohde, T. Schmidt
    </td>
   </tr>
   <tr>
    <td>
     Fr 13-14, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="15_OS-Med">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Oberseminar: Medizinische Statistik
    </td>
    <td rowspan="2">
     H. Binder
    </td>
   </tr>
   <tr>
    <td>
     Mi 11:30-13:00, -, online
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     4c. Kolloquien und weitere Veranstaltungen
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="17_Koll">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Kolloquium der Mathematik
    </td>
    <td rowspan="2">
     Alle Dozentinnen und Dozenten der Mathematik
    </td>
   </tr>
   <tr>
    <td>
     Do 17-18, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     –
     <i>
      besondere Ankündigung
     </i>
     –
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="17_DidS">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/didaktik/veranstaltungen.html#didsem">
      Didaktisches Seminar
     </a>
    </td>
    <td rowspan="2">
     K. Böcherer-Linder, E. Kuwert
    </td>
   </tr>
   <tr>
    <td>
     Di 19:30-21:00, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     –
     <i>
      besondere Ankündigung; etwa 14-täglich
     </i>
     –
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="17_FDM">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Seminar über Datenanalyse und Modellbildung
    </td>
    <td rowspan="2">
     H. Binder, P. Pfaffelhuber, A. Rohde, T. Schmidt, J. Timmer
    </td>
   </tr>
   <tr>
    <td>
     Fr 12-13, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
 </table>
</div>
