<div class="container" id="inhalt">
 <h1>
  Lehrveranstaltungen im Wintersemester 2022/2023
 </h1>
 <h2>
  Erläuterungen
 </h2>
 <h3>
  Pflichtveranstaltungen:
 </h3>
 <dl>
  <dt>
   B
  </dt>
  <dd>
   Pflichtveranstaltung im B.Sc.-Studiengang
  </dd>
  <dt>
   E
  </dt>
  <dd>
   Pflichtveranstaltung im M.Ed.-Studiengang
  </dd>
  <dt>
   Z
  </dt>
  <dd>
   Pflichtveranstaltung im Zwei-Hauptfächer-Bachelor-Studiengang
  </dd>
  <dt>
   Z*
  </dt>
  <dd>
   Pflichtveranstaltung der Lehramtsoption im Zwei-Hauptfächer-Bachelor-Studiengang
  </dd>
 </dl>
 <h3>
  Wahlpflichtveranstaltungen:
 </h3>
 <dl>
  <dt>
   II
  </dt>
  <dd style="margin-bottom:3px;">
   Veranstaltung der Kategorie II:
   <br/>
   – geeignet als Wahlpflichtmodul im B.Sc.
   <br/>
   – im M.Sc. verwendbar für die Module "Angewandte bzw. "Reine Mathematik" und im Wahlmodul;
   <br/>
   – in der Regel im M.Ed. als vertiefte Vorlesung geeignet (Voraussetzungen beachten!)
   <br/>
   – in der Regel für die Option "Individuelle Studiengestaltung" im 2-Hf.-Bachelor geeignet
  </dd>
  <dt>
   III
  </dt>
  <dd style="margin-bottom:3px;">
   Veranstaltung der Kategorie III:
   <br/>
   – im M.Sc. auch in den Modulen "Mathematik" und im Vertiefungsmodul verwendbar
   <br/>
   – bei ausreichenden Vorkenntnissen: als Wahlpflichtbereich des B.Sc. geeignet
  </dd>
  <dt>
   W
  </dt>
  <dd>
   – als Wahlmodul im B.Sc. und M.Sc. verwendbar
   <br/>
   –  für die Option "Individuelle Studiengestaltung" im 2-Hf.-Bachelor verwendbar
  </dd>
 </dl>
 <p>
  Die angegebenen ECTS-Punkte gelten für die Verwendung von Veranstaltungen im
Wahlpflicht- oder Wahlbereich des jeweiligen Studiengangs. Die ECTS-Punktzahl
von Pflichtveranstaltungen ist in der Prüfungsordnung festgeschrieben.
 </p>
 <dl>
  <dt>
   HS
  </dt>
  <dd>
   Hörsaal
  </dd>
  <dt>
   SR
  </dt>
  <dd>
   Seminarraum
  </dd>
 </dl>
 <p>
  <b>
   Hinweis:
  </b>
  Ausführliche Informationen (Vorkenntnisse,
Folgeveranstaltungen, Prüfungen) finden sich in den von der Fakultät
herausgegebenen “Kommentaren zu den Lehrveranstaltungen
Mathematik”. (siehe auch:
  <a href="http://www.math.uni-freiburg.de/lehre/v/">
   http://www.math.uni-freiburg.de/lehre/v/
  </a>
  )
 </p>
 <!--  <p style="color:red;"><b>Achtung: Vorläufiges Vorlesungsverzeichnis ohne Gewähr &ndash; Änderungen sind möglich!</b></p> -->
 <table class="vlverz">
  <col/>
  <col/>
  <col/>
  <tr>
   <td colspan="3">
    <h2>
     1. Vorlesungen
    </h2>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h3>
     1a. Einführende Vorlesungen und Pflichtvorlesungen der verschiedenen Studiengänge
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="5_Vkurs">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Vorkurs Mathematik (für Studierende der Mathematik)
    </td>
    <td>
     M. Junker
    </td>
   </tr>
   <tr>
    <td>
     Assistenz
    </td>
    <td>
     J. Stiefel
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Freiwilliges Angebot für den Studienanfang in Mathematik in der Woche 4.10.–7.10.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="5_Vorkurs">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Vorkurs Mathematik (für Studierende der Natur-  und Ingenieurwissenschaften)
    </td>
    <td>
     S. Knies
    </td>
   </tr>
   <tr>
    <td>
     Assistenz
    </td>
    <td>
     M. Hoferichter
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Nur zur Information – nicht für Mathematikstudierende gedacht. Zeitraum: 26.9.–8.10.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="5_Ana1">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      B, Z
     </div>
    </td>
    <td>
     <a href="https://home.mathematik.uni-freiburg.de/soergel/ws2223ana1.html">
      Analysis I
     </a>
    </td>
    <td rowspan="2">
     W. Soergel
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di, Mi 8-10, HS Rundbau, Albertstr. 21
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     L. Patimo
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="5_LA1">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      B, Z
     </div>
    </td>
    <td>
     Lineare Algebra I
    </td>
    <td rowspan="2">
     A. Huber-Klawitter
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, Do 8-10, HS Rundbau, Albertstr. 21
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     V. Vogelmann
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="5_AuZ">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      II, Z
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://home.mathematik.uni-freiburg.de/brackenhofer/lehre/ws22_23/">
      Algebra und Zahlentheorie
     </a>
    </td>
    <td rowspan="2">
     A. Martín Pizarro
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di, Do 10-12, HS Weismann-Haus, Albertstr. 21a
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     Ch. Brackenhofer
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="5_Ana3">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      B
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://home.mathematik.uni-freiburg.de/geometrie/lehre/ws2022/Ana3/">
      Analysis III
     </a>
    </td>
    <td rowspan="2">
     S. Goette
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, Mi 10-12, HS Weismann-Haus, Albertstr. 21a
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     T. Hertl
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="5_ErwAn">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      E
     </div>
    </td>
    <td>
     <a href="https://home.mathematik.uni-freiburg.de/ngrosse/teaching/Vorlesungen/ErweiterungAnalysis.html">
      Erweiterung der Analysis
     </a>
    </td>
    <td rowspan="2">
     N. Große
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mi 8-10, HS Weismann-Haus, Albertstr. 21a
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     K. Fedosova
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="5_Num">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      B, Z
     </div>
    </td>
    <td>
     <a href="https://aam.uni-freiburg.de/agsa/lehre/ws22/num">
      Numerik I
     </a>
    </td>
    <td rowspan="2">
     D. Salimova
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mi 14-16, HS Rundbau, Albertstr. 21
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig, 14-täglich): verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     O. Suchan
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="5_Sto">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      B, Z
     </div>
    </td>
    <td>
     <a href="https://www.stochastik.uni-freiburg.de/lehre/ws-2022-2023/vorlesung-stochastik-ws-2022-2023">
      Stochastik I
     </a>
    </td>
    <td rowspan="2">
     D. Criens
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Fr 10-12, HS Weismann-Haus, Albertstr. 21a
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig, 14-täglich): verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     T. Enger
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     1b. Weiterführende vierstündige Vorlesungen
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="7_algZt">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://home.mathematik.uni-freiburg.de/demleitner/algzt_ws22-23.html">
      Algebraische Zahlentheorie
     </a>
    </td>
    <td rowspan="2">
     A. Demleitner
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di, Do 14-16, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_DG">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://home.mathematik.uni-freiburg.de/analysis/Differentialgeometrie_WS22_23/index.html">
      Differentialgeometrie
     </a>
    </td>
    <td rowspan="2">
     E. Kuwert
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di, Do 10-12, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     J. Metsch
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_PDE1r">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://home.mathematik.uni-freiburg.de/analysis/IntroPDEWinter22/">
      Einführung in partielle Differentialgleichungen
     </a>
    </td>
    <td rowspan="2">
     G. Wang
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di, Do 12-14, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     F. Yang
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_PDE0a">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://aam.uni-freiburg.de/agru/lehre/ws22/index.html">
      Einführung in Theorie und Numerik partieller Differentialgleichungen
     </a>
    </td>
    <td rowspan="2">
     M. Růžička
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, Mi 10-12, SR 404, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     A. Kaltenbach
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_FT">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      II
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/ketterer/funktheo_home">
      Funktionentheorie
     </a>
    </td>
    <td rowspan="2">
     Ch. Ketterer
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di, Do 8-10, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     M. Amann
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_Stat">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://www.stochastik.uni-freiburg.de/lehre/ws-2022-2023/vorlesung-mathematische-statistik-ws-2022-2023">
      Mathematische Statistik
     </a>
    </td>
    <td rowspan="2">
     E. A. von Hammerstein
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di, Do 14-16, HS Weismann-Haus, Albertstr. 21a
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     S. Glaffig
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_MoT">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/bartnick/lehre/WiSe22/">
      Modelltheorie
     </a>
    </td>
    <td rowspan="2">
     A. Martín Pizarro
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, Mi 14-16, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     Ch. Bartnick
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_numOp">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     6/9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://www.syscop.de/teaching/ws2022/numerical-optimization">
      Numerical Optimization
     </a>
    </td>
    <td rowspan="2">
     M. Diehl
    </td>
   </tr>
   <tr>
    <td>
     Übung: Fr 14-16, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Vorlesung (2-stündig): asynchrones digitales Angebot
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     F. Messerer
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Online-Kurs in Englisch (6 ECTS-Punkte). Mit zusätzlicher Projektarbeit (3 ECTS-Punkte) als Vorlesung mit 9 ECTS-Punkten anrechenbar.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_RieFl">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://cplx.vm.uni-freiburg.de/de/teaching/">
      Riemann'sche Flächen
     </a>
    </td>
    <td rowspan="2">
     S. Kebekus
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mi, Fr 8-10, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     P. Núñez
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_PDE2b">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://aam.uni-freiburg.de/agdo/lehre/ws22/tnpdg/">
      Theorie und Numerik partieller Differentialgleichungen – nichtlineare partielle Differentialgleichungen
     </a>
    </td>
    <td rowspan="2">
     P. Dondl
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, Mi 14-16, SR 404, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     C. Hounkpe
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <span style="color: red">
      Die Vorlesung beginnt erst am 24.10.2022
     </span>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_stoPr">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://www.stochastik.uni-freiburg.de/lehre/ws-2022-2023/vorlesung-stochastische-prozesse-ws-2022-2023">
      Wahrscheinlichkeitstheorie II – Stochastische Prozesse
     </a>
    </td>
    <td rowspan="2">
     P. Pfaffelhuber
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, Mi 12-14, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Di 10-12, SR 218, Ernst-Zermelo-Str. 1
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     M. Ritter
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     1c. Weiterführende zweistündige Vorlesungen
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="8_FuO">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://www.finance.uni-freiburg.de/studium-und-lehre/WS2022/futures-options">
      Futures and Options
     </a>
    </td>
    <td rowspan="2">
     E. Lütkebohmert-Holtz
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di 8-10, HS 1098, KG I
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung: Mi 16-18, HS 3042, KG III
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     N. N.
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Kann für die Spezialisierung Finanzmathematik im M.Sc.-Studiengang auch als wirtschaftswissenschaftliches Spezialisierungsmodul zählen.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="8_ODE">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      II
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     Gewöhnliche Differentialgleichungen
    </td>
    <td rowspan="2">
     S. Knies, A. Kaltenbach
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Do 14-16, SR 226, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="8_MLSto">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     Maschinelles Lernen aus stochastischer Sicht
    </td>
    <td rowspan="2">
     P. Pfaffelhuber
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Do 12-14, HS Weismann-Haus, Albertstr. 21a
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     J. Stiefel
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="8_numOp">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     6/9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://www.syscop.de/teaching/ws2022/numerical-optimization">
      Numerical Optimization
     </a>
    </td>
    <td rowspan="2">
     M. Diehl
    </td>
   </tr>
   <tr>
    <td>
     Übung: Fr 14-16, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Vorlesung (2-stündig): asynchrones digitales Angebot
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     F. Messerer
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Online-Kurs in Englisch (6 ECTS-Punkte). Mit zusätzlicher Projektarbeit (3 ECTS-Punkte) als Vorlesung mit 9 ECTS-Punkten anrechenbar.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="8_MPhys">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://home.mathematik.uni-freiburg.de/geometrie/lehre/ws2022/DQ/">
      Poisson-Geometrie und Deformationsquantisierung
     </a>
    </td>
    <td rowspan="2">
     J. Schnitzer
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo 12-14, SR 125, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="8_Schem">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/arithgeom/lehre/ws22/steilkurs22.html">
      Steilkurs Schemata
     </a>
    </td>
    <td rowspan="2">
     A. Huber-Klawitter
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung (2-stündig): Di 8-10, SR 404, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (4-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     L. Terenzi
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="8_Vorlesung">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      III
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://aam.uni-freiburg.de/mitarb/maione/Lehre/Gamma_convergence/index.html?l=de">
      Γ-convergence and applications
     </a>
    </td>
    <td rowspan="2">
     A. Maione
    </td>
   </tr>
   <tr>
    <td>
     Di 10-12, SR 226, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     S. Hermann
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     1d. Lehrexportveranstaltungen
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="9_M1In">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="https://aam.uni-freiburg.de/agba/lehre/ws22/mathe1/index.html">
      Mathematik I für Studierende der Informatik und der Ingenieurwissenschaften
     </a>
    </td>
    <td rowspan="2">
     S. Bartels
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, Mi 16-18, HS Rundbau, Albertstr. 21
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     V. Jackisch
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Zusatz-Tutorium
    </td>
    <td>
     Z. Wang
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Zusatz-Tutorium
    </td>
    <td>
     Z. Wang
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="9_M1NW">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Mathematik I für Studierende der Naturwissenschaften
    </td>
    <td rowspan="2">
     S. Knies
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo 14-16, Fr 8-10, HS Rundbau, Albertstr. 21
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Zusatz-Übungen dazu: 2-stündig n.V.
    </td>
    <td>
     M. Hoferichter
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     T. Enger
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="9_LInf">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href=" https://home.mathematik.uni-freiburg.de/mildenberger/veranstaltungen/ws22/logik.html">
      Logik für Studierende der Informatik
     </a>
    </td>
    <td rowspan="2">
     H. Mildenberger
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mi 10-12, HS 00-026, Geb. 101, Georges-Köhler-Allee
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     Ch. Bräuninger
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="9_LPhil">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Logik für Studierende der Philosophie
    </td>
    <td rowspan="2">
     M. Junker
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mi 10-12, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     R. Muntschick
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="9_MMfEF">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="https://www.finance.uni-freiburg.de/studium-und-lehre/WS2022/MMEFWS22">
      Mathematical Methods for Economics and Finance
     </a>
    </td>
    <td rowspan="2">
     E. A. von Hammerstein
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di 16-18, HS 3118, KG III
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung: Fr 10-12, HS 3042, KG III
    </td>
    <td>
     M. Rockel
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h2>
     2. Berufsorientierte Veranstaltungen
    </h2>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h3>
     2a. Begleitveranstaltungen
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="10_LdL">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      W
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href=" https://home.mathematik.uni-freiburg.de/ldl/index1.html">
      Lernen durch Lehren
     </a>
    </td>
    <td>
     Organisation: S. Knies
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="10_bRech">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     0
     <small>
      ECTS
     </small>
    </td>
    <td>
     Betreutes Rechnen
    </td>
    <td rowspan="2">
     Organisation: Fachschaft
    </td>
   </tr>
   <tr>
    <td>
     Di, Mi 14-16, SR 119, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Tutoren helfen bei Fragen zu Übungsaufgaben und Vorlesungen. Freiwilliges Angebot, typischerweise für Drittsemester-Vorlesungen.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     2b. Fachdidaktik
    </h3>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    Bitte beachten Sie die in den Kommentaren zum Vorlesungsverzeichnis ggf. veröffentlichten Voranmeldefristen und -verfahren, teilweise schon zu Ende der Vorlesungszeit des Sommersemesters.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tbody class="course_snip" id="11_ModulFDM">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      Z*
     </div>
     5
     <small>
      ECTS
     </small>
    </td>
    <td>
     Fachdidaktik Mathematik
    </td>
    <td>
     K. Böcherer-Linder
    </td>
   </tr>
   <tr>
    <td colspan="2">
     <i>
      Modul für die Lehramtsoption im Zwei-Hautptfächer-Bachelor-Studiengang und für die M.Ed.-Studiengänge "Mathematik als Erweiterungsfach", bestehend aus der folgenden Veranstaltung:
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="11_EinFD">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/didaktik/lehre/">
      Einführung in die Fachdidaktik der Mathematik
     </a>
    </td>
    <td rowspan="2">
     K. Böcherer-Linder
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo 10-12, SR 226, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Seminar/Übung (2-stündig, Termin zur Wahl im Rahmen der Kapazitäten): Do 8-10, SR 125, Ernst-Zermelo-Str. 1, Fr 8-10, SR 404, Ernst-Zermelo-Str. 1
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Der Besuch des Didaktischen Seminars (einzelne Termine, Dienstag abends, 19:30 Uhr) wird erwartet!
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="11_DMT">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      E
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     Fachdidaktik der mathematischen Teilgebiete
    </td>
    <td>
     K. Böcherer-Linder, R. Erens
    </td>
   </tr>
   <tr>
    <td colspan="2">
     <i>
      Zweiteiliges Modul mit gemeinsamer Abschlussprüfung. Die beiden Veranstaltungen können in verschiedenen Semestern absolviert werden.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="11_FD-FA">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Didaktik der Funktionen und der Analysis
    </td>
    <td rowspan="2">
     R. Erens
    </td>
   </tr>
   <tr>
    <td>
     Mi 15-18, SR 226, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="11_FD-SA">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/didaktik/lehre/">
      Didaktik der Stochastik und der Algebra
     </a>
    </td>
    <td rowspan="2">
     K. Böcherer-Linder
    </td>
   </tr>
   <tr>
    <td>
     Mi 10-13, SR 226, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="11_FD-BL">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     4
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/didaktik/lehre/">
      Fachdidaktische Entwicklung: Bezüge zwischen Schul- und Hochschulmathematik verstehen und didaktisch nutzen
     </a>
    </td>
    <td rowspan="2">
     K. Böcherer-Linder
    </td>
   </tr>
   <tr>
    <td>
     Do 8-10, SR 226, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="11_FF-MFF">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     4
     <small>
      ECTS
     </small>
    </td>
    <td>
     Fachdidaktische Forschung
    </td>
    <td>
     Dozenten der PH Freiburg
    </td>
   </tr>
   <tr>
    <td colspan="2">
     <i>
      Dreiteiliges Modul für die Studierenden im M.Ed., die eine fachdidaktische Master-Arbeit in Mathematik schreiben möchten. Teilnahme nur nach persönlicher Anmeldung bis Ende der Vorlesungszeit des Sommersemesters in der Abteilung für Didaktik.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="11_FF-E">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Fachdidaktische Forschung, Teil 1: Fachdidaktische Entwicklungsforschung zu ausgewählten Schwerpunkten
    </td>
    <td rowspan="2">
     T. Leuders
    </td>
   </tr>
   <tr>
    <td>
     Mo 14-16, (Raum nicht bekannt)
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Anmeldung zum Seminar wie im Kommentierten Vorlesungsverzeichnis beschrieben.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="11_FF-M">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Fachdidaktische Forschung, Teil 2: Methoden der mathematikdidaktischen Forschung
    </td>
    <td rowspan="2">
     T. Leuders
    </td>
   </tr>
   <tr>
    <td>
     Mo 10-13, (Raum nicht bekannt)
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      in den letzten fünf Wochen der Vorlesungszeit
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="11_FF-S">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Fachdidaktische Forschung, Teil 3: Entwicklung und Optimierung eines fachdidaktischen Forschungsprojekts
    </td>
    <td>
     Dozenten der PH Freiburg
    </td>
   </tr>
   <tr>
    <td>
     Termine nach Vereinbarung
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Teil 1 ist Teilnahmevoraussetzung!
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     2c. Praktische Übungen
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="12_PrNum">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      B
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     Praktische Übung zu "Numerik"
    </td>
    <td rowspan="2">
     D. Salimova
    </td>
   </tr>
   <tr>
    <td>
     (2-stündig, 14-täglich):(Zeit/Ort nicht bekannt)
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     C. Hounkpe, J. Rotter, O. Suchan
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      1. Teil der zweisemestrigen Veranstaltung
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="12_Stoc">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      W
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     Praktische Übung zu "Stochastik"
    </td>
    <td rowspan="2">
     M. Ritter
    </td>
   </tr>
   <tr>
    <td>
     Do 14-16, PC-Pool -100, Rechenzentrum, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="12_Pr0a">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://aam.uni-freiburg.de/agru/lehre/ws22/praktikum.html">
      Praktische Übung zu "Einführung in Theorie und Numerik partieller Differentialgleichungen"
     </a>
    </td>
    <td rowspan="2">
     M. Růžička
    </td>
   </tr>
   <tr>
    <td>
     Mi 16-18, CIP-Pool Raum 201, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     A. Gazca
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="12_PUe2b">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     Praktische Übung zu "Theorie und Numerik partieller Differentialgleichungen – nicht-lineare partielle Differentialgleichungen"
    </td>
    <td rowspan="2">
     P. Dondl
    </td>
   </tr>
   <tr>
    <td>
     (2-stündig):(Zeit/Ort nicht bekannt)
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     C. Hounkpe
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h2>
     3. Seminare
    </h2>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h3>
     3a. Proseminare
    </h3>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    Bitte beachten Sie die in den Kommentaren zum Vorlesungsverzeichnis veröffentlichten Anmeldemodalitäten zu den einzelnen Proseminaren: In der Regel erfolgt die Platzvergabe nach Voranmeldung per E-Mail bei der Vorbesprechung am Ende der Vorlesungsszeit des Sommersemesters. Anschließend müssen Sie sich noch online zur Prüfung anmelden; der Anmeldezeitraum läuft vom 1. Oktober 2022 bis voraussichtlich 12. Oktober 2022.
    <br/>
    Sollten Sie ein Proseminar belegen wollen, haben aber keine Platz erhalten, melden Sie sich bitte umgehend bei der Studiengangkoordination.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tbody class="course_snip" id="13_PS-vH">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="https://www.stochastik.uni-freiburg.de/lehre/ws-2022-2023/proseminar-la-perlen-ws-2022-2023">
      Proseminar: Perlen der Linearen Algebra
     </a>
    </td>
    <td rowspan="2">
     E. A. von Hammerstein
    </td>
   </tr>
   <tr>
    <td>
     Fr 10-12, SR 125, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium zum Proseminar (Termine nach Vereinbarung)
    </td>
    <td>
     E. A. von Hammerstein
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Vorbesprechung: Do, 28.07.2022, 14:15 Uhr im SR 127, Ernst-Zermelo-Str. 1
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="13_PS-Ba">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Proseminar: Numerische Algorithmen
    </td>
    <td rowspan="2">
     S. Bartels
    </td>
   </tr>
   <tr>
    <td>
     Di 16-18, SR 226, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium zum Proseminar (Termine nach Vereinbarung)
    </td>
    <td>
     J. Rotter
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Vorbesprechung: Mi, 20.07.2022, 13 Uhr im Raum 216, Hermann-Herder-Str. 10
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="13_PS-Go">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href=" https://home.mathematik.uni-freiburg.de/geometrie/lehre/ws2022/MiA/">
      Proseminar Mathematik im Alltag
     </a>
    </td>
    <td rowspan="2">
     S. Goette
    </td>
   </tr>
   <tr>
    <td>
     Mo 14-16, SR 125, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium zum Proseminar (Termine nach Vereinbarung)
    </td>
    <td>
     J. Lenthe
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Vorbesprechung: Di, 26.07.2022, 13–14 Uhr im SR 318, Ernst-Zermelo-Str. 1
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="13_PS-Mi">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href=" https://home.mathematik.uni-freiburg.de/mildenberger/veranstaltungen/ws22/proseminar.html">
      Proseminar: Lineare Darstellungen endlicher Gruppen
     </a>
    </td>
    <td rowspan="2">
     H. Mildenberger
    </td>
   </tr>
   <tr>
    <td>
     Di 16-18, SR 125, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium zum Proseminar (Termine nach Vereinbarung)
    </td>
    <td>
     M. Levine
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Vorbesprechung: Mo, 18.07.2022, 12:00 Uhr im SR 404, Ernst-Zermelo-Str. 1
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="13_PS-Wa">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Proseminar: Konvexe Analysis
    </td>
    <td rowspan="2">
     G. Wang
    </td>
   </tr>
   <tr>
    <td>
     Mi 16-18, SR 125, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium zum Proseminar (Termine nach Vereinbarung)
    </td>
    <td>
     Ch. Schmidt
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Vorbesprechung: Di, 26.07.2022, 12:15 Uhr im SR 404, Ernst-Zermelo-Str. 1
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     3b. Seminare
    </h3>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    Bitte beachten Sie die in den Kommentaren zum Vorlesungsverzeichnis veröffentlichten Anmeldemodalitäten zu den einzelnen Seminaren: In der Regel erfolgt die Platzvergabe nach Voranmeldung per E-Mail bei der Vorbesprechung am Ende der Vorlesungsszeit des Sommersemesters. Anschließend müssen Sie sich noch online zur Prüfung anmelden; der Anmeldezeitraum läuft vom 1. Oktober 2022 bis voraussichtlich 12. Oktober 2022.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tbody class="course_snip" id="14_S-Mi">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href=" https://home.mathematik.uni-freiburg.de/mildenberger/veranstaltungen/ws22/kryptographie.html">
      Seminar: Kryptographie
     </a>
    </td>
    <td rowspan="2">
     H. Mildenberger
    </td>
   </tr>
   <tr>
    <td>
     ab Januar 2023: Mo 16-18, SR 404, Ernst-Zermelo-Str. 1, Fr 16-18, SR 403, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium zum Seminar (Termine nach Vereinbarung)
    </td>
    <td>
     M. Levine
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Vorzugsweise für Studierende im M.Ed.
     </i>
     <br/>
     <i>
      Vorbesprechung: Mo, 18.07.2022, 13:00 Uhr im SR 404, Ernst-Zermelo-Str. 1
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-So">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="https://home.mathematik.uni-freiburg.de/soergel/ws2223top.html">
      Seminar: Topologie – Singuläre Homologietheorie
     </a>
    </td>
    <td rowspan="2">
     W. Soergel
    </td>
   </tr>
   <tr>
    <td>
     Di 10-12, SR 404, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium zum Seminar (Termine nach Vereinbarung)
    </td>
    <td>
     L. Patimo
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Vorbesprechung: Mo, 11.07.2022, 14:15 Uhr im SR 125, Ernst-Zermelo-Str. 1
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-Ku">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Seminar: Minimalflächen
    </td>
    <td rowspan="2">
     E. Kuwert
    </td>
   </tr>
   <tr>
    <td>
     Di 14-16, SR 125, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium zum Seminar (Termine nach Vereinbarung)
    </td>
    <td>
     J. Metsch
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Vorbesprechung: Do, 21.07.2022, 12:00 Uhr im Raum 208, Ernst-Zermelo-Str. 1
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-Gr">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="https://home.mathematik.uni-freiburg.de/ngrosse/teaching/Seminare/Sem_Hyperfunktionen.html">
      Seminar: Hyperfunktionen
     </a>
    </td>
    <td rowspan="2">
     N. Große
    </td>
   </tr>
   <tr>
    <td>
     Di 12-14, SR 404, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium zum Seminar (Termine nach Vereinbarung)
    </td>
    <td>
     K. Fedosova
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Vorbesprechung: Mi, 27.07.2022, 13:15 Uhr; Ort: siehe Homepage
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-Kr">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Seminar: Themen der elementaren Differentialgeometrie
    </td>
    <td rowspan="2">
     Ch. Ketterer
    </td>
   </tr>
   <tr>
    <td>
     Do 12-14, SR 404, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium zum Seminar (Termine nach Vereinbarung)
    </td>
    <td>
     Ch. Ketterer
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Vorbesprechung: Di, 02.08.2022, 14:00 Uhr im SR 125, Ernst-Zermelo-Str. 1
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-Cr">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Seminar: Nichtlineare Semimartingale und Markov-Prozesse
    </td>
    <td rowspan="2">
     D. Criens
    </td>
   </tr>
   <tr>
    <td>
     Do 10-12, SR 404, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium zum Seminar (Termine nach Vereinbarung)
    </td>
    <td>
     L. Niemann
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Vorbesprechung: Do, 21.07.2022, 15–16 Uhr im Raum 232, Ernst-Zermelo-Str. 1
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-Bi">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Seminar: Medical Data Science
    </td>
    <td rowspan="2">
     H. Binder
    </td>
   </tr>
   <tr>
    <td>
     Mi 10-11:30, SR 127, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Vorbesprechung: Mi, 20.07.2022, 11:30–12:30 Uhr im SR 127, Ernst-Zermelo-Str. 1
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h2>
     4.  Projektseminare, Oberseminare und Kolloquien
    </h2>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h3>
     4a. Projektseminare und Lesekurse
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="16_LkWA">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Lesekurse „Wissenschaftliches Arbeiten“
    </td>
    <td>
     Alle Dozentinnen und Dozenten der Mathematik
    </td>
   </tr>
   <tr>
    <td colspan="2">
     – nach persönlicher Absprache –
     <br/>
     <i>
      Nähere Informationen siehe Kommentiertes Vorlesungsverzeichnis
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="16_PjDo">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Projektseminar: Angewandte Analysis
    </td>
    <td>
     S. Bartels, P. Dondl
    </td>
   </tr>
   <tr>
    <td>
     Termine nach Vereinbarung
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     V. Jackisch, Z. Wang
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="16_Pj-GA">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Projektseminar: Geometrische Analysis
    </td>
    <td rowspan="2">
     E. Kuwert, G. Wang
    </td>
   </tr>
   <tr>
    <td>
     Di 16-18, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     F. Yang
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="16_Pj-Ru">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Projektseminar: Nicht-Newtonsche Flüssigkeiten
    </td>
    <td rowspan="2">
     M. Růžička
    </td>
   </tr>
   <tr>
    <td>
     Fr 10-12, SR 404, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium dazu
    </td>
    <td>
     A. Gazca
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     4b. Oberseminare
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="15_OS-A">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Oberseminar: Algebra, Zahlentheorie und algebraische Geometrie
    </td>
    <td rowspan="2">
     A. Huber-Klawitter, S. Kebekus, W. Soergel
    </td>
   </tr>
   <tr>
    <td>
     Fr 10-12, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="15_OS-AM">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Oberseminar: Angewandte Mathematik
    </td>
    <td rowspan="2">
     S. Bartels, P. Dondl, M. Růžička
    </td>
   </tr>
   <tr>
    <td>
     Di 14-16, SR 226, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="15_OS-DG">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Oberseminar: Differentialgeometrie
    </td>
    <td rowspan="2">
     S. Goette, N. Große, Ch. Ketterer
    </td>
   </tr>
   <tr>
    <td>
     Mo 16-18, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="15_OS-ML">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href=" https://wochenprogramm.mathematik.uni-freiburg.de/v.html?Semester=WS2022-2023&amp;V=Oberseminar+Mathematische+Logik">
      Oberseminar: Mathematische Logik
     </a>
    </td>
    <td rowspan="2">
     A. Martín Pizarro, H. Mildenberger
    </td>
   </tr>
   <tr>
    <td>
     Di 14-16, SR 404, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="15_OS-MS">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Oberseminar: Stochastik
    </td>
    <td rowspan="2">
     D. Criens, P. Pfaffelhuber
    </td>
   </tr>
   <tr>
    <td>
     Fr 13-14, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="15_OS-Med">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Oberseminar: Medizinische Statistik
    </td>
    <td rowspan="2">
     H. Binder
    </td>
   </tr>
   <tr>
    <td>
     Mi 11:30-13:00, SR 127, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     4c. Kolloquien und weitere Veranstaltungen
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="17_Koll">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Kolloquium der Mathematik
    </td>
    <td rowspan="2">
     Alle Dozentinnen und Dozenten der Mathematik
    </td>
   </tr>
   <tr>
    <td>
     Do 17-18, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     –
     <i>
      besondere Ankündigung
     </i>
     –
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="17_DidS">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Didaktisches Seminar
    </td>
    <td rowspan="2">
     K. Böcherer-Linder, E. Kuwert
    </td>
   </tr>
   <tr>
    <td>
     Di 19:30-21:00, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     –
     <i>
      besondere Ankündigung; etwa 14-täglich
     </i>
     –
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="17_FDM">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Seminar über Datenanalyse und Modellbildung
    </td>
    <td rowspan="2">
     H. Binder, P. Pfaffelhuber, J. Timmer
    </td>
   </tr>
   <tr>
    <td>
     Fr 12-13, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
 </table>
</div>
