<div class="container" id="inhalt">
 <h1>
  Lehrveranstaltungen im Wintersemester 2023/24
 </h1>
 <!--  <p style="color:red;">
    <b>
      Vorläufiges Vorlesungsverzeichnis (Stand: 15.01.2024) &ndash; Änderungen und Ergänzungen sind noch möglich! 
            
      Vorlesungsverzeichnis im Planungszustand &ndash; alle Angaben sind noch vorläufig!! 
    </b>
  </p> -->
 <!--  <p>
    <h2>Letzte Änderungen:</h2>
    <ul>
      <li> </li>
      <li> </li>
    </ul>
  </p> -->
 <p>
  Ausführliche Informationen zu den Veranstaltungen – insbesondere Inhalt, Verwendbarkeit und Anforderungen – finden sich im
  <a href="https://www.math.uni-freiburg.de/lehre/v/ws2324.pdf">
   Kommentierten Vorlesungsverzeichnis
  </a>
  und in den
  <a href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/modulhandbuecher.html">
   Modulhandbüchern
  </a>
  .
 </p>
 <p>
 </p>
 <h2>
  EUCOR
 </h2>
 Links zu Vorlesungsverzeichnissen der EUCOR-Partneruniversitäten
 <ul>
  <li>
   Universität Basel:
   <a href="https://vorlesungsverzeichnis.unibas.ch/de/semester-planung">
    allgemeines Vorlesungsverzeichnis
   </a>
  </li>
  <li>
   Université de Strasbourg:
   <a href="https://irma.math.unistra.fr/linstitut/lmd_enseignement.html#masters">
    Master Mathématiques Fondamentales et Appliquées
   </a>
  </li>
  <li>
   Karlsruher Institut für Technologie:
   <a href=" https://www.math.kit.edu/vvz">
    Veranstaltungsverzeichnis Mathematik
   </a>
  </li>
 </ul>
 <p>
 </p>
 <h2>
  Hinweis
 </h2>
 Die angegebene Anzahl an ECTS-Punkten gilt für die Verwendung von Veranstaltungen im
    Wahlpflicht- oder Wahlbereich des jeweiligen Studiengangs.
    Bei Pflichtveranstaltungen bzw. bei der Verwendung der Veranstaltung in Pflichtmodulen
    ist die Anzahl der ECTS-Punkte des Moduls in der Prüfungsordnung festgeschrieben.
 <p>
  HS = Hörsaal; SR = Seminarraum
 </p>
 <table class="vlverz">
  <col/>
  <col/>
  <col/>
  <tr>
   <td colspan="3">
    <h2>
     1. Vorlesungen
    </h2>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h3>
     1a. Einführende Vorlesungen und Pflichtvorlesungen der verschiedenen Studiengänge
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="5_Vkurs">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     0
     <small>
      ECTS
     </small>
    </td>
    <td>
     Vorkurs Mathematik (für Studierende der Mathematik)
    </td>
    <td>
     A. Huber-Klawitter
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung und Tutorate,  2.10.–6.10.
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Freiwilliges Angebot für den Studienanfang in Mathematik.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="5_Vorkurs">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Vorkurs Mathematik (für Studierende der Natur-  und Ingenieurwissenschaften)
    </td>
    <td>
     S. Knies
    </td>
   </tr>
   <tr>
    <td colspan="2">
     <i>
      Nur zur Information – nicht für Mathematikstudierende.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="5_Ana1">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href=" https://aam.uni-freiburg.de/agdo/lehre/ws23/analysis1/">
      Analysis I
     </a>
    </td>
    <td rowspan="2">
     P. Dondl
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di, Mi 8-10, HS Rundbau, Albertstr. 21
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Zusatzübungen dazu
    </td>
    <td>
     J. Rotter
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Zusatzübungen dazu
    </td>
    <td>
     C. Hounkpe
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     C. Hounkpe
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="5_LA1">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://www.stochastik.uni-freiburg.de/lehre/ws-2023-2024/vorlesung-lineare-algebra-i-ws-2023-2024">
      Lineare Algebra I
     </a>
    </td>
    <td rowspan="2">
     A. Rohde
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, Do 8-10, HS Rundbau, Albertstr. 21
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     J. Brutsche
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="5_AuZ">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     Algebra und Zahlentheorie
    </td>
    <td rowspan="2">
     S. Kebekus
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, Mi 8-10, HS Weismann-Haus, Albertstr. 21a
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     A. Demleitner
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="5_Ana3">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://home.mathematik.uni-freiburg.de/soergel/ws2324ana3.html">
      Analysis III
     </a>
    </td>
    <td rowspan="2">
     W. Soergel
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di, Do 10-12, HS Weismann-Haus, Albertstr. 21a
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     G. Zaccanelli
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="5_ErwAn">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     5
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://home.mathematik.uni-freiburg.de/ngrosse/teaching/Vorlesungen/ErweiterungAnalysis.html">
      Erweiterung der Analysis
     </a>
    </td>
    <td rowspan="2">
     N. Große
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mi 8-10, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     M. Amann
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="5_Num">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     5
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://aam.uni-freiburg.de/agru/lehre/ws23/num/index.html">
      Numerik I
     </a>
    </td>
    <td rowspan="2">
     A. Gazca
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mi 14-16, HS Weismann-Haus, Albertstr. 21a
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig, 14-täglich): verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     T. Stiefken
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="5_Sto">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     5
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://www.stochastik.uni-freiburg.de/de/lehre/ws-2023-2024/vorlesung-stochastik-i-ws-2023-2024">
      Stochastik I
     </a>
    </td>
    <td rowspan="2">
     E. A. v. Hammerstein
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Fr 10-12, HS Weismann-Haus, Albertstr. 21a
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig, 14-täglich): verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     T. Enger
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     1b. Weiterführende vierstündige Vorlesungen
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="7_alTop">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://home.mathematik.uni-freiburg.de/geometrie/lehre/ws2023/AlgTop/">
      Algebraische Topologie
     </a>
    </td>
    <td rowspan="2">
     S. Goette
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, Mi 14-16, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     J. Schnitzer
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_GeomR">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://home.mathematik.uni-freiburg.de/ketterer/geo_met_home">
      Die Geometrie metrischer Räume
     </a>
    </td>
    <td rowspan="2">
     Ch. Ketterer
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, Mi 8-10, SR 404, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     J. Reuß
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_DG">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://home.mathematik.uni-freiburg.de/ngrosse/teaching/Vorlesungen/DiffGeo.html">
      Differentialgeometrie
     </a>
    </td>
    <td rowspan="2">
     N. Große
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di, Do 10-12, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     M. Stegemeyer
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_PDE0a">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://aam.uni-freiburg.de/agsa/lehre/ws23/tun0/index.html">
      Einführung in Theorie und Numerik partieller Differentialgleichungen (Introduction to Theory and Numerics of Partial Differential Equations)
     </a>
    </td>
    <td rowspan="2">
     D. Salimova
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, Mi 12-14, SR 226, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     M. Keller
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Die Vorlesung wird auf Englisch gehalten.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_FT">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     Funktionentheorie
    </td>
    <td rowspan="2">
     A. Huber-Klawitter
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di, Do 8-10, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     A. Demleitner
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_Komb">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://home.mathematik.uni-freiburg.de/mildenberger/veranstaltungen/ws23/kombinatorik.html">
      Kombinatorik
     </a>
    </td>
    <td rowspan="2">
     H. Mildenberger
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, Mi 10-12, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     H. Jakob
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_MoT">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://fgallinaro.github.io/modelltheorie_1_2324">
      Modelltheorie (Model Theory)
     </a>
    </td>
    <td rowspan="2">
     F. Gallinaro
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di, Do 12-14, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Die Vorlesung wird auf Englisch gehalten.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_FA2">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://aam.uni-freiburg.de/agru/lehre/ws23/FA2/fa2.html">
      Nichtlineare Funktionalanalysis
     </a>
    </td>
    <td rowspan="2">
     M. Růžička
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, Mi 10-12, SR 404, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     M. Hoferichter
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_numOp">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     6/9
     <small>
      ECTS
     </small>
    </td>
    <td>
     Numerical Optimization
    </td>
    <td rowspan="2">
     M. Diehl
    </td>
   </tr>
   <tr>
    <td>
     Übung: Di 14-16, HS Weismann-Haus, Albertstr. 21a
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Vorlesung (2-stündig): asynchrones digitales Angebot
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     A. Nurkanivic
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Online-Kurs in Englisch (6 ECTS-Punkte). Mit zusätzlicher Projektarbeit (3 ECTS-Punkte) als Vorlesung mit 9 ECTS-Punkten anrechenbar.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_Var">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/analysis/Variationsrechnung_WS2324/index.html">
      Variationsrechnung
     </a>
    </td>
    <td rowspan="2">
     G. Wang
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, Mi 14-16, SR 404, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     Ch. Schmidt
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_MLSto">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://www.stochastik.uni-freiburg.de/de/lehre/ws-2023-2024/vorlesung-wahrscheinlichkeitstheorie-ii-ws-2023-2024">
      Wahrscheinlichkeitstheorie II – Stochastische Prozesse
     </a>
    </td>
    <td rowspan="2">
     T. Schmidt
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, Mi 12-14, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung: Mi 14-16, Raum 232 (Stochastik), Ernst-Zermelo-Str. 1
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     M. Ritter
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     1c. Weiterführende zweistündige Vorlesungen
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="8_eeGrp">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://home.mathematik.uni-freiburg.de/bartnick/lehre/WiSe23/EEG/index.html">
      Endliche einfache Gruppen
     </a>
    </td>
    <td rowspan="2">
     A. Martín Pizarro
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Do 10-12, SR 404, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     Ch. Bartnick
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="8_FuO">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://www.finance.uni-freiburg.de/studium-und-lehre/ws2324/faows2324">
      Futures and Options
     </a>
    </td>
    <td rowspan="2">
     E. A. v. Hammerstein
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di 10-12, HS 3042, KG III
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung: Fr 16-18, HS 1098, KG I
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     S. Knaust
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Die Vorlesung wird auf Englisch gehalten.
     </i>
     <i>
      Kann für die Spezialisierung Finanzmathematik im M.Sc.-Studiengang auch als wirtschaftswissenschaftliches Spezialisierungsmodul zählen.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="8_SV-Ro">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://www.stochastik.uni-freiburg.de/lehre/ws-2023-2024/vorlesung-hidden-markov-modelle-ws-2023-2024">
      Hidden-Markov-Modelle
     </a>
    </td>
    <td rowspan="2">
     A. Rohde
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di 14-16, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     L. Niemann, M. Ritter
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="8_numOp">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     6/9
     <small>
      ECTS
     </small>
    </td>
    <td>
     Numerical Optimization
    </td>
    <td rowspan="2">
     M. Diehl
    </td>
   </tr>
   <tr>
    <td>
     Übung: Di 14-16, HS Weismann-Haus, Albertstr. 21a
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Vorlesung (2-stündig): asynchrones digitales Angebot
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     A. Nurkanivic
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Online-Kurs in Englisch (6 ECTS-Punkte). Mit zusätzlicher Projektarbeit (3 ECTS-Punkte) als Vorlesung mit 9 ECTS-Punkten anrechenbar.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="8_SV-Cr">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://www.stochastik.uni-freiburg.de/lehre/ws-2023-2024/vorlesung-one-dim-diffus-stoch-diff-eq-ws-2023-2024">
      One-Dimensional Diffusions and Stochastic Differential Equations
     </a>
    </td>
    <td rowspan="2">
     D. Criens
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Do 12-14, SR 404, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
     C. Heinzel
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Die Vorlesung wird bei Interesse auf Englisch gehalten.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="8_TePDE">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     Topics in Elliptic Partial Differential Equations
    </td>
    <td rowspan="2">
     F. Yang
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Do 14-16, SR 125, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Die Vorlesung wird auf Englisch gehalten.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="8_Rddm">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     1
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://www.stochastik.uni-freiburg.de/de/lehre/ws-2023-2024/recent-developments-in-dependence-modeling">
      Recent developments in dependence modeling
     </a>
    </td>
    <td>
     J. Ansari
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, 05.02.2024, 16-18 Uhr; Mi, 07.02.2024, 16-18 Uhr; Do. 08.02.2024, 14-16 Uhr
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung: Do, 01.02. und 15.02.2024, 14-16 Uhr
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     M. Ritter
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Anrechenbar als Wahlmodul im B.Sc. und M.Sc. Mathematik
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     1d. Lehrexportveranstaltungen
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="9_M1In">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="https://home.mathematik.uni-freiburg.de/geometrie/lehre/ws2023/Mathe1/">
      Mathematik I für Studierende der Informatik und der Ingenieurwissenschaften
     </a>
    </td>
    <td rowspan="2">
     S. Goette
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, Mi 10-12, HS Rundbau, Albertstr. 21
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     V. Jackisch
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="9_M1NW">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Mathematik I für Studierende der Naturwissenschaften
    </td>
    <td rowspan="2">
     S. Knies
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo 14-16, Fr 8-10, HS Rundbau, Albertstr. 21
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     T. Enger
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="9_LInf">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="https://home.mathematik.uni-freiburg.de/bartnick/lehre/WiSe23/LogikInfo/index.html">
      Logik für Studierende der Informatik
     </a>
    </td>
    <td rowspan="2">
     A. Martín Pizarro
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mi 10-12, HS 00-026, Geb. 101, Georges-Köhler-Allee
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     Ch. Bartnick
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="9_LPhil">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Logik für Studierende der Philosophie
    </td>
    <td rowspan="2">
     M. Junker
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mi 14-16, HS 3042, KG III
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     R. Muntschick
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="9_MMfEF">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="https://www.finance.uni-freiburg.de/studium-und-lehre/ws2324/mmefws2324">
      Mathematical Methods for Economics and Finance
     </a>
    </td>
    <td rowspan="2">
     E. A. v. Hammerstein
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo 10-12, HS 1098, KG I
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung: Fr 10-12, HS 1098, KG I
    </td>
    <td>
     S. Adeosun
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h2>
     2. Praxisorientierte Veranstaltungen
    </h2>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h3>
     2a. Begleitveranstaltungen
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="10_LdL">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://home.mathematik.uni-freiburg.de/ldl/index1.html">
      Lernen durch Lehren
     </a>
    </td>
    <td>
     <i>
      Organisation:
     </i>
     S. Knies
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="10_bRech">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     0
     <small>
      ECTS
     </small>
    </td>
    <td>
     Betreutes Rechnen
    </td>
    <td>
     <i>
      Organisation:
     </i>
     Fachschaft
    </td>
   </tr>
   <tr>
    <td colspan="2">
     <i>
      Tutoren helfen bei Fragen zu Übungsaufgaben und Vorlesungen. Freiwilliges Angebot, typischerweise für Drittsemester-Vorlesungen.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     2b. Fachdidaktik
    </h3>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    Bitte beachten Sie die im Kommentierten Vorlesungsverzeichnis veröffentlichten Voranmeldefristen, die teilweise schon zu Ende der Vorlesungszeit des Sommersemesters liegen können.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tbody class="course_snip" id="11_EinFD">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Einführung in die Fachdidaktik der Mathematik
    </td>
    <td rowspan="2">
     K. Böcherer-Linder
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung mit Übung: Mo 10-12, SR 226, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorat (2-stündig zur Wahl): Do 10-12, SR 127, Ernst-Zermelo-Str. 1, Fr 8-10, SR 125, Ernst-Zermelo-Str. 1
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Der Besuch des Didaktischen Seminars (einzelne Termine dienstags 18:30 Uhr) wird erwartet!
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="11_FD-FA">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Didaktik der Funktionen und der Analysis
    </td>
    <td rowspan="2">
     K. Böcherer-Linder
    </td>
   </tr>
   <tr>
    <td>
     Do 9-12, SR 226, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="11_FD-SA">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Didaktik der Stochastik und der Algebra
    </td>
    <td rowspan="2">
     A. Dreher
    </td>
   </tr>
   <tr>
    <td>
     Mo 9-12, SR 127, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="11_FD-Ky">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Fachdidaktikseminar: Medieneinsatz im Mathematikunterricht
    </td>
    <td rowspan="2">
     J. Kury
    </td>
   </tr>
   <tr>
    <td>
     Seminar: Do 16-18, SR 127, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorat: Do 14-16, SR 404, Ernst-Zermelo-Str. 1
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Bitte Veranstaltung in HISinOne belegen und Voranmeldung per E-Mail an Frau Böcherer-Linder!
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="11_FDSPH">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Fachdidaktikseminare der PH Freiburg
    </td>
    <td>
     Dozent:inn:en der PH Freiburg
    </td>
   </tr>
   <tr>
    <td colspan="2">
     <i>
      Sofern Studienplätze zur Verfügung stehen, können auch geeignete Veranstaltungen der PH Freiburg für das Modul "Fachdidaktische Entwicklung" in den M.Ed.-Studiengängen absolviert werden.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="11_FF-E">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Fachdidaktische Forschung, Teil 1: Fachdidaktische Entwicklungsforschung zu ausgewählten Schwerpunkten
    </td>
    <td rowspan="2">
     K. Brunner
    </td>
   </tr>
   <tr>
    <td>
     Mo 14-16, (Raum nicht bekannt)
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Teilnahme nur nach persönlicher Anmeldung wie im Kommentierten Vorlesungsverzeichnis beschrieben.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="11_FF-M">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Fachdidaktische Forschung, Teil 2: Methoden der mathematikdidaktischen Forschung
    </td>
    <td rowspan="2">
     K. Brunner
    </td>
   </tr>
   <tr>
    <td>
     Mo 10-13, (Raum nicht bekannt)
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      In den letzten fünf Wochen der Vorlesungszeit.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="11_FF-S">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Fachdidaktische Forschung, Teil 3: Entwicklung und Optimierung eines fachdidaktischen Forschungsprojekts
    </td>
    <td>
     Dozent:inn:en der PH Freiburg
    </td>
   </tr>
   <tr>
    <td>
     Termine nach Vereinbarung
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     2c. Praktische Übungen
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="12_PrNum">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     Praktische Übung zu "Numerik"
    </td>
    <td>
     A. Gazca
    </td>
   </tr>
   <tr>
    <td>
     2-stündig, 14-täglich: verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     T. Stiefken
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      1. Teil der zweisemestrigen Veranstaltung
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="12_Stoc">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://www.stochastik.uni-freiburg.de/lehre/ws-2023-2024/prakueb-stochastik-ws-2023-2024">
      Praktische Übung zu "Stochastik"
     </a>
    </td>
    <td rowspan="2">
     J. Brutsche, J. Stiefel
    </td>
   </tr>
   <tr>
    <td>
     Do 12-14, SR 226, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="12_Pr0a">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     Praktische Übung zu "Einführung in Theorie und Numerik partieller Differentialgleichungen"
    </td>
    <td>
     D. Salimova
    </td>
   </tr>
   <tr>
    <td>
     2-stündig: Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     M. Keller
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h2>
     3. Seminare
    </h2>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h3>
     3a. Proseminare
    </h3>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    Bitte beachten Sie die in den Kommentaren zum Vorlesungsverzeichnis veröffentlichten Anmeldemodalitäten zu den einzelnen Proseminaren: In der Regel erfolgt die Platzvergabe nach Voranmeldung per E-Mail bei der Vorbesprechung am Ende der Vorlesungsszeit des Sommersemesters. Anschließend müssen Sie sich noch online zur Prüfung anmelden; der Anmeldezeitraum läuft vom 1. August 2023 bis voraussichtlich 11. Oktober 2023.
    <br/>
    Sollten Sie ein Proseminar belegen wollen, haben aber keine Platz erhalten, melden Sie sich bitte umgehend bei der Studiengangkoordination.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tbody class="course_snip" id="13_PS-Do">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     Proseminar: Gegenbeispiele in der Analysis
    </td>
    <td rowspan="2">
     P. Dondl
    </td>
   </tr>
   <tr>
    <td>
     Di 16-18, SR 226, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium zum Proseminar (Termine nach Vereinbarung)
    </td>
    <td>
     S. Hermann
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="13_PS-HK">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/arithgeom/lehre.html">
      Proseminar: Zahlen
     </a>
    </td>
    <td rowspan="2">
     A. Huber-Klawitter
    </td>
   </tr>
   <tr>
    <td>
     Di 14-16, SR 127, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium zum Proseminar (Termine nach Vereinbarung)
    </td>
    <td>
     Ch. Brackenhofer
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="13_PS-Kn">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://home.mathematik.uni-freiburg.de/knies/lehre/ws2324/index.html">
      Proseminar: Gewöhnliche Differentialgleichungen und Anwendungen
     </a>
    </td>
    <td rowspan="2">
     S. Knies
    </td>
   </tr>
   <tr>
    <td>
     Do 10-12, SR 125, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium zum Proseminar (Termine nach Vereinbarung)
    </td>
    <td>
     V. Jackisch
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="13_PS-vH">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://www.stochastik.uni-freiburg.de/lehre/ws-2023-2024/proseminar-kodierungstheorie-ws-2023-2024">
      Proseminar: Kodierungstheorie
     </a>
    </td>
    <td rowspan="2">
     E. A. v. Hammerstein
    </td>
   </tr>
   <tr>
    <td>
     Mo 14-16, SR 125, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium zum Proseminar (Termine nach Vereinbarung)
    </td>
    <td>
     E. A. v. Hammerstein
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     3b. Seminare
    </h3>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    Bitte beachten Sie die in den Kommentaren zum Vorlesungsverzeichnis veröffentlichten Anmeldemodalitäten zu den einzelnen Seminaren: In der Regel erfolgt die Platzvergabe nach Voranmeldung per E-Mail bei der Vorbesprechung am Ende der Vorlesungsszeit des Sommersemesters. Anschließend müssen Sie sich noch online zur Prüfung anmelden; der Anmeldezeitraum läuft vom 1. August 2023 bis voraussichtlich 11. Oktober 2023.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tbody class="course_snip" id="14_S-Mi">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://home.mathematik.uni-freiburg.de/mildenberger/veranstaltungen/ws23/alg_top.html">
      Seminar: Algebraische Topologie
     </a>
    </td>
    <td rowspan="2">
     H. Mildenberger
    </td>
   </tr>
   <tr>
    <td>
     ab Januar 2023: Mo, Di 16-18, SR 404, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium zum Seminar (Termine nach Vereinbarung)
    </td>
    <td>
     M. Levine
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Vorzugsweise für Studierende im M.Ed.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-So">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://home.mathematik.uni-freiburg.de/soergel/ws2324lie.html">
      Seminar: Darstellungen halbeinfacher Lie-Algebren
     </a>
    </td>
    <td rowspan="2">
     W. Soergel
    </td>
   </tr>
   <tr>
    <td>
     Di 14-16, SR 125, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium zum Seminar (Termine nach Vereinbarung)
    </td>
    <td>
     V. Vogelmann
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-Geo">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://home.mathematik.uni-freiburg.de/geometrie/lehre/ws2023/Operads/">
      Seminar: Operaden in der Algebra, Topologie und Physik
     </a>
    </td>
    <td rowspan="2">
     Th. Hertl, J. Schnitzer
    </td>
   </tr>
   <tr>
    <td>
     Mi 10-12, SR 403, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium zum Seminar (Termine nach Vereinbarung)
    </td>
    <td>
     Th. Hertl, J. Schnitzer
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-Kr">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     Seminar: Differentialtopologie
    </td>
    <td rowspan="2">
     Ch. Ketterer
    </td>
   </tr>
   <tr>
    <td>
     Di 12-14, SR 404, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium zum Seminar (Termine nach Vereinbarung)
    </td>
    <td>
     M. Levine
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-Wa">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     Seminar: Minimalflächen
    </td>
    <td rowspan="2">
     G. Wang
    </td>
   </tr>
   <tr>
    <td>
     Mi 16-18, SR 125, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium zum Seminar (Termine nach Vereinbarung)
    </td>
    <td>
     F. Johne
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-Ro">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://www.stochastik.uni-freiburg.de/lehre/ws-2023-2024/seminar-stoch-partielle-diff-ws-2023-2024">
      Seminar: Stochastische partielle Differentialgleichungen
     </a>
    </td>
    <td rowspan="2">
     A. Rohde, D. Criens
    </td>
   </tr>
   <tr>
    <td>
     Mi 14-16, SR 125, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-Do">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     <a href="https://aam.uni-freiburg.de/agdo/lehre/ws23/unfolding/index.html">
      Seminar: The Unfolding Method
     </a>
    </td>
    <td rowspan="2">
     P. Dondl
    </td>
   </tr>
   <tr>
    <td>
     Di 16-18, SR 226, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium zum Seminar (Termine nach Vereinbarung)
    </td>
    <td>
     S. Hermann
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-Bi">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     Seminar: Medical Data Science
    </td>
    <td rowspan="2">
     H. Binder
    </td>
   </tr>
   <tr>
    <td>
     Mi 10-11:30, HS Medizinische Biometrie, Stefan-Meier-Str. 26
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h2>
     4.  Projektseminare, Oberseminare und Kolloquien
    </h2>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h3>
     4a. Projektseminare und Lesekurse
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="16_LkWA">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Lesekurse „Wissenschaftliches Arbeiten“
    </td>
    <td>
     Alle Professor:inn:en und Privatdozent:inn:en des Mathematischen Instituts
    </td>
   </tr>
   <tr>
    <td colspan="2">
     <i>
      Nach persönlicher Absprache. Nähere Informationen siehe Kommentiertes Vorlesungsverzeichnis.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="16_Pj-MP">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Projektseminar: Ausgewählte Themen der Modelltheorie von Körpern
    </td>
    <td rowspan="2">
     A. Martín Pizarro
    </td>
   </tr>
   <tr>
    <td>
     Di 10-12, SR 404, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="16_Pj-GA">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Projektseminar: Geometrische Analysis
    </td>
    <td rowspan="2">
     G. Wang
    </td>
   </tr>
   <tr>
    <td>
     Di 16-18, SR 125, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="16_Pj-Ru">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Projektseminar: Nicht-Newtonsche Flüssigkeiten
    </td>
    <td rowspan="2">
     M. Růžička
    </td>
   </tr>
   <tr>
    <td>
     Fr 10-12, SR 127, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     4b. Oberseminare
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="15_OS-A">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Oberseminar: Algebra, Zahlentheorie und algebraische Geometrie
    </td>
    <td rowspan="2">
     A. Huber-Klawitter, S. Kebekus, W. Soergel
    </td>
   </tr>
   <tr>
    <td>
     Fr 10-12, SR 404, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="15_OS-AM">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Oberseminar: Angewandte Mathematik
    </td>
    <td rowspan="2">
     P. Dondl, M. Růžička, D. Salimova
    </td>
   </tr>
   <tr>
    <td>
     Di 14-16, SR 226, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="15_OS-DG">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Oberseminar: Differentialgeometrie
    </td>
    <td rowspan="2">
     S. Goette, N. Große, Ch. Ketterer
    </td>
   </tr>
   <tr>
    <td>
     Mo 16-18, SR 404, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     16.10.-31.12.23 SR 404;
08.01.-05.02.24 SR 125
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="15_OS-ML">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="https://wochenprogramm.mathematik.uni-freiburg.de/v.html?V=OS-ML&amp;Semester=WS2023-2024">
      Oberseminar: Mathematische Logik
     </a>
    </td>
    <td rowspan="2">
     A. Martín Pizarro, H. Mildenberger
    </td>
   </tr>
   <tr>
    <td>
     Di 14-16, SR 404, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="15_OS-MS">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Oberseminar: Stochastik
    </td>
    <td rowspan="2">
     D. Criens, A. Rohde, T. Schmidt
    </td>
   </tr>
   <tr>
    <td>
     Mi 16-17, SR 226, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="15_OS-Med">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Oberseminar: Medizinische Statistik
    </td>
    <td rowspan="2">
     H. Binder
    </td>
   </tr>
   <tr>
    <td>
     Mi 11:30-13:00, HS Medizinische Biometrie, Stefan-Meier-Str. 26
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     4c. Kolloquien und weitere Veranstaltungen
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="17_DidS">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     <a href="http://home.mathematik.uni-freiburg.de/didaktik/veranstaltungen.html#didsem">
      Didaktisches Seminar
     </a>
    </td>
    <td rowspan="2">
     K. Böcherer-Linder, E. Kuwert
    </td>
   </tr>
   <tr>
    <td>
     Di 18:30-20:00, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Etwa ein Termin pro Monat; Programm siehe Webseite.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="17_KMSc">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Mathematisches Kolloquium für Studierende
    </td>
    <td rowspan="2">
     <i>
      Organisation:
     </i>
     A. Huber-Klawitter, M. Junker, A. Martín Pizarro
    </td>
   </tr>
   <tr>
    <td>
     Do 14-15, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Vortragsreihe für Master-Studierende, fortgeschrittene Bachelor-Studierende und Doktorand:inn:en. Drei Termine im Semester, Ankündigung auf der Webseite des Instituts.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="17_Koll">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Kolloquium der Mathematik
    </td>
    <td rowspan="2">
     <i>
      Organisation:
     </i>
     N. Große, A. Martín Pizarro
    </td>
   </tr>
   <tr>
    <td>
     Do 15-16, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Drei Termine im Semester, Ankündigung auf der Webseite des Instituts.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="17_FDM">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Seminar über Datenanalyse und Modellbildung
    </td>
    <td rowspan="2">
     H. Binder, A. Rohde, T. Schmidt, J. Timmer
    </td>
   </tr>
   <tr>
    <td>
     Fr 12-13, SR 125, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
 </table>
</div>
