<div class="container" id="inhalt">
 <h1>
  Lehrveranstaltungen im Wintersemester 2024/25
 </h1>
 <p style="color:red;">
  <b>
   Vorläufiges Vorlesungsverzeichnis (Stand: 02.05.2024) – Änderungen und Ergänzungen sind noch möglich!
   <!--Vorlesungsverzeichnis im Planungszustand &ndash; alle Angaben sind noch vorläufig!!
       -->
  </b>
 </p>
 <p>
 </p>
 <h2>
  Letzte Änderungen (seit 2. Mai):
 </h2>
 <ul>
  <li>
   zusätzliche 2-stündige Vorlesung "Markov Chains"
  </li>
  <li>
   Mathematische Statistik auf Mo, Mi verschoben.
  </li>
 </ul>
 <p>
  Ausführliche Informationen zu den Veranstaltungen – insbesondere Inhalt, Verwendbarkeit und Anforderungen – finden sich im
  <a href="https://www.math.uni-freiburg.de/lehre/v/ws2324.pdf">
   Kommentierten Vorlesungsverzeichnis
  </a>
  (ab ca. Ende Juni)
  und in den
  <a href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/modulhandbuecher.html">
   Modulhandbüchern
  </a>
  .
 </p>
 <p>
 </p>
 <h2>
  EUCOR
 </h2>
 Links zu Vorlesungsverzeichnissen der EUCOR-Partneruniversitäten
 <ul>
  <li>
   Universität Basel:
   <a href="https://vorlesungsverzeichnis.unibas.ch/de/semester-planung">
    allgemeines Vorlesungsverzeichnis
   </a>
  </li>
  <li>
   Université de Strasbourg:
   <a href="https://irma.math.unistra.fr/linstitut/lmd_enseignement.html#masters">
    Master Mathématiques Fondamentales et Appliquées
   </a>
  </li>
  <li>
   Karlsruher Institut für Technologie:
   <a href=" https://www.math.kit.edu/vvz">
    Veranstaltungsverzeichnis Mathematik
   </a>
  </li>
 </ul>
 <p>
 </p>
 <h2>
  Hinweis
 </h2>
 Die angegebene Anzahl an ECTS-Punkten gilt für die Verwendung von Veranstaltungen im
    Wahlpflicht- oder Wahlbereich des jeweiligen Studiengangs.
    Bei Pflichtveranstaltungen bzw. bei der Verwendung der Veranstaltung in Pflichtmodulen
    ist die Anzahl der ECTS-Punkte des Moduls in der Prüfungsordnung festgeschrieben.
 <p>
  DE = Veranstaltung wird auf Deutsch angeboten; 
  EN = Veranstaltung wird auf Englisch angeboten
  <br/>
  DE/EN = Seminarvorträge sind auf Deutsch und auf Englisch möglich
  <br/>
  HS = Hörsaal; SR = Seminarraum
 </p>
 <table class="vlverz">
  <col/>
  <col/>
  <col/>
  <tr>
   <td colspan="3">
    <h2>
     1. Vorlesungen
    </h2>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h3>
     1a. Einführende Vorlesungen und Pflichtvorlesungen der verschiedenen Studiengänge
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="5_Vkurs">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      DE
     </div>
     0
     <small>
      ECTS
     </small>
    </td>
    <td>
     Vorkurs Mathematik (für Studierende der Mathematik)
    </td>
    <td>
     N. Große
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung und Tutorate,  voraussichtlich 30.09.–04.10.2024
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Freiwilliges Angebot für den Studienanfang in Mathematik.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="5_Vorkurs">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      DE
     </div>
     0
     <small>
      ECTS
     </small>
    </td>
    <td>
     Vorkurs Mathematik (für Studierende der Natur-  und Ingenieurwissenschaften)
    </td>
    <td>
     M. Hoferichter, S. Knies
    </td>
   </tr>
   <tr>
    <td colspan="2">
     <i>
      Nur zur Information – nicht für Mathematikstudierende.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="5_Ana1">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      DE
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     Analysis I
    </td>
    <td rowspan="2">
     M. Růžička
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di, Mi 8-10, HS Rundbau, Albertstr. 21
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     A. Gazca
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="5_LA1">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      DE
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     Lineare Algebra I
    </td>
    <td rowspan="2">
     S. Kebekus
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, Do 8-10, HS Rundbau, Albertstr. 21
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     A. Demleitner
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="5_AuZ">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      DE
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     Algebra und Zahlentheorie
    </td>
    <td rowspan="2">
     W. Soergel
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di, Do 10-12, HS Weismann-Haus, Albertstr. 21a
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     N. N.
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="5_Ana3">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      DE
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     Analysis III
    </td>
    <td rowspan="2">
     P. Dondl
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, Mi 10-12, HS Weismann-Haus, Albertstr. 21a
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     N. N.
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="5_ErwAn">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      DE
     </div>
     5
     <small>
      ECTS
     </small>
    </td>
    <td>
     Erweiterung der Analysis
    </td>
    <td rowspan="2">
     N. Große
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mi 8-10, HS Weismann-Haus, Albertstr. 21a
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     J. Reuß
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="5_Num">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      DE
     </div>
     5
     <small>
      ECTS
     </small>
    </td>
    <td>
     Numerik I
    </td>
    <td rowspan="2">
     S. Bartels
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mi 14-16, HS Weismann-Haus, Albertstr. 21a
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig, 14-täglich): verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     N. N.
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="5_Sto">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      DE
     </div>
     5
     <small>
      ECTS
     </small>
    </td>
    <td>
     Stochastik I
    </td>
    <td rowspan="2">
     A. Rohde
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Fr 10-12, HS Weismann-Haus, Albertstr. 21a
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig, 14-täglich): verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     J. Brutsche
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="5_Basis">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      EN
     </div>
     12
     <small>
      ECTS
     </small>
    </td>
    <td>
     Basics in Applied Mathematics
    </td>
    <td rowspan="2">
     P. Dondl, A. Rohde
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di, Do 8-10, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung: Termine werden noch festgeleget
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Praktische Übung: Termine werden noch festgeleget
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     N. N.
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Nur für den M.Sc. Mathematics in Data and Technolotgy.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     1b. Weiterführende vierstündige Vorlesungen
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="7_AuZ">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      DE
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     Algebra und Zahlentheorie
    </td>
    <td rowspan="2">
     W. Soergel
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di, Do 10-12, HS Weismann-Haus, Albertstr. 21a
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     N. N.
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_algZt">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      EN
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     Algebraic Number Theory
    </td>
    <td rowspan="2">
     A. Oswal
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di, Do 12-14, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Die Vorlesung wird evtl. nur zweistündig angeboten, dann mit 6 ECTS-Punkten.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_DG">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      DE
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     Differentialgeometrie
    </td>
    <td rowspan="2">
     S. Goette
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, Mi 14-16, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     N. N.
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_PDE1r">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      DE
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     Einführung in partielle Differentialgleichungen
    </td>
    <td rowspan="2">
     G. Wang
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, Mi 12-14, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     N. N.
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_FT">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      DE
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     Funktionentheorie
    </td>
    <td rowspan="2">
     N. N.
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, Mi 16-18, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     N. N.
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Angebot noch unter Vorbehalt.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_PDE0a">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      EN
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     Introduction to Theory and Numerics of Partial Differential Equations
    </td>
    <td rowspan="2">
     D. Salimova
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di, Fr 12-14, SR 226, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     N. N.
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_Stat">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      EN
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     Mathematical Statistics
    </td>
    <td rowspan="2">
     E. A. v. Hammerstein
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, Mi 14-16, SR 404, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     N. N.
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_WT2">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      EN
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     Probability Theory II – Stochastic Processes
    </td>
    <td rowspan="2">
     P. Pfaffelhuber
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, Mi 10-12, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     S. Adeosun
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_WT3">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      EN
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     Probability Theoriy III – Stochastic Integration and Financial Mathematics
    </td>
    <td rowspan="2">
     T. Schmidt
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, Mi 12-14, SR 404, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     N. N.
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_saGeo">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      DE
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     Semi-algebraische Geometrie
    </td>
    <td rowspan="2">
     A. Huber-Klawitter, A. Martín Pizarro
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di, Do 10-12, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     Ch. Brackenhofer
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_ML-UB">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      EN
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     Set Theory – Independence Proofs
    </td>
    <td rowspan="2">
     M. Levine
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di, Do 12-14, SR 404, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     H. Jakob
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="7_PDE2b">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      EN
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     Theory and Numerics of Partial  Differential Equations – Non-linear Problems
    </td>
    <td rowspan="2">
     S. Bartels
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di, Do 10-12, SR 226, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     N. N.
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     1c. Weiterführende zweistündige Vorlesungen
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="8_FuO">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      EN
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     Futures and Options
    </td>
    <td rowspan="2">
     E. Lütkebohmert-Holtz
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo 10-12, HS 1098, KG I
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung: Do 10-12, HS 1098, KG I
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     S. Knaust
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Kann für die Spezialisierung Finanzmathematik im M.Sc.-Studiengang auch als wirtschaftswissenschaftliches Spezialisierungsmodul zählen.
     </i>
     <br/>
     <span style="color: red">
      Räume müssen noch bestätigt werden.
     </span>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="8_LieSym">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      DE
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     Lie-Gruppen und symmetrische Räume
    </td>
    <td rowspan="2">
     M. Stegemeyer
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Do 14-16, SR 404, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="8_Markov">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      EN
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     Markov Chains
    </td>
    <td rowspan="2">
     D. Criens
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Do 12-14, SR 226, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     N. N.
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="8_Mea">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      EN
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     Measure Theory
    </td>
    <td>
     P. Pfaffelhuber
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung (2-stündig): asynchrone Videos
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     S. Adeosun
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Nur für den M.Sc. Mathematics in Data and Technology
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="8_numOp">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      EN
     </div>
     6/9
     <small>
      ECTS
     </small>
    </td>
    <td>
     Numerical Optimal Control
    </td>
    <td rowspan="2">
     M. Diehl
    </td>
   </tr>
   <tr>
    <td>
     Übung: Di 14-16, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Vorlesung (2-stündig): asynchrone Videos
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     N. N.
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Für die Online-Vorlesungen mit Übungen gibt es 6 ECTS-Punkte. Mit zusätzlicher Projektarbeit (3 ECTS-Punkte) als Vorlesung mit 9 ECTS-Punkten anrechenbar.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     1d. Lehrexportveranstaltungen
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="9_M1In">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      DE
     </div>
    </td>
    <td>
     Mathematik I für Studierende der Informatik und der Ingenieurwissenschaften
    </td>
    <td rowspan="2">
     E. Kuwert
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo, Mi 16-18, HS Rundbau, Albertstr. 21
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     F. Johne
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="9_M1NW">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      DE
     </div>
    </td>
    <td>
     Mathematik I für Studierende der Naturwissenschaften
    </td>
    <td rowspan="2">
     S. Knies
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mo 14-16, Fr 8-10, HS Rundbau, Albertstr. 21
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     S. Andres
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="9_LInf">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      DE
     </div>
    </td>
    <td>
     Logik für Studierende der Informatik
    </td>
    <td rowspan="2">
     M. Junker
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mi 10-12, HS 00-026, Geb. 101, Georges-Köhler-Allee
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     Ch. Bartnick
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="9_LPhil">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      DE
     </div>
    </td>
    <td>
     Logik für Studierende der Philosophie
    </td>
    <td rowspan="2">
     A. Martín Pizarro
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Mi 10-12, (Raum nicht bekannt)
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung (2-stündig): verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     S. Ludwig
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="9_MMfEF">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      EN
     </div>
    </td>
    <td>
     Mathematical Methods for Economics and Finance
    </td>
    <td rowspan="2">
     E. A. v. Hammerstein
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung: Di 10-12, HS 1098, KG I
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Übung: Fr 10-12, HS 1199, KG I
    </td>
    <td>
     N. N.
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <span style="color: red">
      Räume müssen noch bestätigt werden.
     </span>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h2>
     2. Praxisorientierte Veranstaltungen
    </h2>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h3>
     2a. Begleitveranstaltungen
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="10_LdL">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      DE
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     Lernen durch Lehren
    </td>
    <td>
     <i>
      Organisation:
     </i>
     S. Knies
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="10_Grula">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     0
     <small>
      ECTS
     </small>
    </td>
    <td>
     Grundlagenübungen
    </td>
    <td>
     <i>
      Organisation:
     </i>
     Fachschaft
    </td>
   </tr>
   <tr>
    <td colspan="2">
     <i>
      Fortgeschrittene Studierende helfen Erstsemestern beim Einstieg in das Mathematikstudium.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="10_bRech">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
     0
     <small>
      ECTS
     </small>
    </td>
    <td>
     Betreutes Rechnen
    </td>
    <td>
     <i>
      Organisation:
     </i>
     Fachschaft
    </td>
   </tr>
   <tr>
    <td colspan="2">
     <i>
      Tutoren helfen bei Fragen zu Übungsaufgaben und Vorlesungen. Freiwilliges Angebot, typischerweise für Drittsemester-Vorlesungen.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     2b. Fachdidaktik
    </h3>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    Bitte beachten Sie die im Kommentierten Vorlesungsverzeichnis veröffentlichten Voranmeldefristen, die teilweise schon zu Ende der Vorlesungszeit des Sommersemesters liegen können.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tbody class="course_snip" id="11_EinFD">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      DE
     </div>
     5
     <small>
      ECTS
     </small>
    </td>
    <td>
     Einführung in die Fachdidaktik der Mathematik
    </td>
    <td rowspan="2">
     K. Böcherer-Linder
    </td>
   </tr>
   <tr>
    <td>
     Vorlesung mit Übung: Mo 10-12, SR 226, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorat (2-stündig zur Wahl):(Zeit/Ort nicht bekannt)
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Der Besuch des Didaktischen Seminars (einzelne Termine dienstags 18:30 Uhr) wird erwartet!
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="11_FD-FA">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      DE
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     Didaktik der Funktionen und der Analysis
    </td>
    <td rowspan="2">
     K. Böcherer-Linder
    </td>
   </tr>
   <tr>
    <td>
     Do 9-12, SR 404, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="11_FD-SA">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      DE
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     Didaktik der Stochastik und der Algebra
    </td>
    <td rowspan="2">
     A. Dreher
    </td>
   </tr>
   <tr>
    <td>
     Fr 9-12, SR 226, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="11_FD-Ky">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      DE
     </div>
     4
     <small>
      ECTS
     </small>
    </td>
    <td>
     Fachdidaktikseminar: Medieneinsatz im Mathematikunterricht
    </td>
    <td rowspan="2">
     J. Kury
    </td>
   </tr>
   <tr>
    <td>
     Seminar: Mi 15-18, SR 127, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Bitte Veranstaltung in HISinOne belegen!
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="11_FDSPH">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      DE
     </div>
     4
     <small>
      ECTS
     </small>
    </td>
    <td>
     Fachdidaktikseminare der PH Freiburg
    </td>
    <td>
     Dozent:inn:en der PH Freiburg
    </td>
   </tr>
   <tr>
    <td colspan="2">
     <i>
      Sofern Studienplätze zur Verfügung stehen, können auch geeignete Veranstaltungen der PH Freiburg für das Modul "Fachdidaktische Entwicklung" in den M.Ed.-Studiengängen absolviert werden.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="11_FFModul">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      DE
     </div>
     4
     <small>
      ECTS
     </small>
    </td>
    <td>
     Fachdidaktische Forschung
    </td>
    <td>
     Dozent:inn:en der PH Freiburg
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="11_FF-E">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Teil 1: Fachdidaktische Entwicklungsforschung zu ausgewählten Schwerpunkten
    </td>
    <td rowspan="2">
     F. Reinhold
    </td>
   </tr>
   <tr>
    <td>
     Mo 14-16, (Raum nicht bekannt)
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Teilnahme nur nach persönlicher Anmeldung wie im Kommentierten Vorlesungsverzeichnis beschrieben.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="11_FF-M">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Teil 2: Methoden der mathematikdidaktischen Forschung
    </td>
    <td rowspan="2">
     F. Reinhold
    </td>
   </tr>
   <tr>
    <td>
     Mo 16-19, Raum noch nicht bekannt, -
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Die Veranstaltung findet in den letzten fünf Wochen der Vorlesungszeit statt.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="11_FF-S">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Teil 3: Entwicklung und Optimierung eines fachdidaktischen Forschungsprojekts
    </td>
    <td>
     Dozent:inn:en der PH Freiburg
    </td>
   </tr>
   <tr>
    <td>
     Termine nach Vereinbarung
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     2c. Praktische Übungen
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="12_PrNum">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      DE
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     Praktische Übung zu "Numerik"
    </td>
    <td>
     S. Bartels
    </td>
   </tr>
   <tr>
    <td>
     2-stündig, 14-täglich: verschiedene Termine
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     N. N.
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      1. Teil der zweisemestrigen Veranstaltung
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="12_Pr0a">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      EN
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     Praktische Übung zu "Introduction to Theory and Numerics of Partial Differential Equations"
    </td>
    <td>
     D. Salimova
    </td>
   </tr>
   <tr>
    <td>
     2-stündig: Termin wird noch festgelegt
    </td>
    <td>
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Assistenz
    </td>
    <td>
     N. N.
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h2>
     3. Seminare
    </h2>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h3>
     3a. Proseminare
    </h3>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    Bitte beachten Sie die in den Kommentaren zum Vorlesungsverzeichnis veröffentlichten Anmeldemodalitäten zu den einzelnen Proseminaren: In der Regel erfolgt die Platzvergabe nach Voranmeldung per E-Mail bei der Vorbesprechung am Ende der Vorlesungszeit des Sommersemesters. Anschließend müssen Sie sich noch online zur Prüfung anmelden; der Anmeldezeitraum läuft vom 1. August 2024 bis voraussichtlich 9. Oktober 2024.
    <br/>
    Sollten Sie ein Proseminar belegen wollen, haben aber keine Platz erhalten, melden Sie sich bitte umgehend bei der Studiengangkoordination.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tbody class="course_snip" id="13_PS-Kn">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      DE
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     Proseminar: Knies
    </td>
    <td rowspan="2">
     S. Knies
    </td>
   </tr>
   <tr>
    <td>
     Do 12-14, SR 125, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium zum Proseminar (Termine nach Vereinbarung)
    </td>
    <td>
     N. N.
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="13_PS-Ro">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      DE
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     Proseminar: Rohde
    </td>
    <td rowspan="2">
     A. Rohde
    </td>
   </tr>
   <tr>
    <td>
     Mi 12-14, SR 125, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium zum Proseminar (Termine nach Vereinbarung)
    </td>
    <td>
     J. Brutsche
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="13_PS-So">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      DE
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     Proseminar: Soergel
    </td>
    <td rowspan="2">
     W. Soergel
    </td>
   </tr>
   <tr>
    <td>
     Di 14-16, SR 127, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium zum Proseminar (Termine nach Vereinbarung)
    </td>
    <td>
     N. N.
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     3b. Seminare
    </h3>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    Bitte beachten Sie die in den Kommentaren zum Vorlesungsverzeichnis veröffentlichten Anmeldemodalitäten zu den einzelnen Seminaren: In der Regel erfolgt die Platzvergabe nach Voranmeldung per E-Mail bei der Vorbesprechung am Ende der Vorlesungszeit des Sommersemesters. Anschließend müssen Sie sich noch online zur Prüfung anmelden; der Anmeldezeitraum läuft vom 1. August 2024 bis voraussichtlich 9. Oktober 2024.
   </td>
  </tr>
  <tr>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tbody class="course_snip" id="14_S-vH">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      DE
     </div>
     3
     <small>
      ECTS
     </small>
    </td>
    <td>
     Seminar: tba
    </td>
    <td>
     E. A. v. Hammerstein
    </td>
   </tr>
   <tr>
    <td>
     Tutorium zum Seminar (Termine nach Vereinbarung)
    </td>
    <td>
     E. A. v. Hammerstein
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Seminar nach dem Praxissemester; vorzugsweise für Studierende im M.Ed. Übrige Plätze können an Studierende anderer Studiengänge vergeben werden und bei ansprechende anspruchsvollen Themen dort mit 6 ECTS-Punkten angerechnet werden.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-HK">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      DE/EN
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     Seminar: Theorie der nicht-kommutativen Algebren
    </td>
    <td rowspan="2">
     A. Huber-Klawitter
    </td>
   </tr>
   <tr>
    <td>
     Fr 8-10, SR 404, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium zum Seminar (Termine nach Vereinbarung)
    </td>
    <td>
     X. Ren
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-Go">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      DE/EN
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     Seminar zur algebraischen Topologie
    </td>
    <td rowspan="2">
     S. Goette
    </td>
   </tr>
   <tr>
    <td>
     Di 14-16, SR 125, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium zum Seminar (Termine nach Vereinbarung)
    </td>
    <td>
     N. N.
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-Wa">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      DE/EN
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     Seminar: Minimalflächen
    </td>
    <td rowspan="2">
     G. Wang
    </td>
   </tr>
   <tr>
    <td>
     Mi 16-18, SR 125, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium zum Seminar (Termine nach Vereinbarung)
    </td>
    <td>
     N. N.
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-Sm">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      DE/EN
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     Seminar: Machine Learning and Stochastic Analysis
    </td>
    <td rowspan="2">
     T. Schmidt
    </td>
   </tr>
   <tr>
    <td>
     Fr 10-12, SR 125, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td>
     Tutorium zum Seminar (Termine nach Vereinbarung)
    </td>
    <td>
     N. N.
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="14_S-Bi">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      DE/EN
     </div>
     6
     <small>
      ECTS
     </small>
    </td>
    <td>
     Seminar: Medical Data Science
    </td>
    <td rowspan="2">
     H. Binder
    </td>
   </tr>
   <tr>
    <td>
     Mi 10-11:30, HS Medizinische Biometrie, Stefan-Meier-Str. 26
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h2>
     4.  Projektseminare, Oberseminare und Kolloquien
    </h2>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <h3>
     4a. Projektseminare und Lesekurse
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="16_LkWA">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
      DE/EN
     </div>
     9
     <small>
      ECTS
     </small>
    </td>
    <td>
     Lesekurse „Wissenschaftliches Arbeiten“
    </td>
    <td>
     Alle Dozent:inn:en der Mathematik
    </td>
   </tr>
   <tr>
    <td colspan="2">
     <i>
      Nach persönlicher Absprache. Nähere Informationen siehe Kommentiertes Vorlesungsverzeichnis.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="16_Pj-GA">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Projektseminar: Geometrische Analysis
    </td>
    <td rowspan="2">
     E. Kuwert, G. Wang
    </td>
   </tr>
   <tr>
    <td>
     Di 16-18, SR 125, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="16_Pj-Ru">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Projektseminar: Nicht-Newtonsche Flüssigkeiten
    </td>
    <td rowspan="2">
     M. Růžička
    </td>
   </tr>
   <tr>
    <td>
     Fr 10-12, SR 127, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     4b. Oberseminare
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="15_OS-A">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Oberseminar: Algebra, Zahlentheorie und algebraische Geometrie
    </td>
    <td rowspan="2">
     A. Huber-Klawitter, S. Kebekus, A. Oswal, W. Soergel
    </td>
   </tr>
   <tr>
    <td>
     Fr 10-12, SR 404, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="15_OS-AM">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Oberseminar: Angewandte Mathematik
    </td>
    <td rowspan="2">
     S. Bartels, P. Dondl, M. Růžička, D. Salimova
    </td>
   </tr>
   <tr>
    <td>
     Di 14-16, SR 226, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="15_OS-DG">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Oberseminar: Differentialgeometrie
    </td>
    <td rowspan="2">
     S. Goette, N. Große
    </td>
   </tr>
   <tr>
    <td>
     Mo 16-18, SR 404, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="15_OS-ML">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Oberseminar: Mathematische Logik
    </td>
    <td rowspan="2">
     A. Martín Pizarro, M. Junker
    </td>
   </tr>
   <tr>
    <td>
     Di 14-16, SR 404, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="15_OS-MS">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Oberseminar: Stochastik
    </td>
    <td rowspan="2">
     D. Criens, P. Pfaffelhuber, A. Rohde, T. Schmidt
    </td>
   </tr>
   <tr>
    <td>
     Mi 16-17, SR 226, Hermann-Herder-Str. 10
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="15_OS-Med">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Oberseminar: Medizinische Statistik
    </td>
    <td rowspan="2">
     H. Binder
    </td>
   </tr>
   <tr>
    <td>
     Mi 11:30-13:00, HS Medizinische Biometrie, Stefan-Meier-Str. 26
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tr>
   <td colspan="3">
    <h3>
     4c. Kolloquien und weitere Veranstaltungen
    </h3>
   </td>
  </tr>
  <tbody class="course_snip" id="17_DidS">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Didaktisches Seminar
    </td>
    <td rowspan="2">
     K. Böcherer-Linder, E. Kuwert
    </td>
   </tr>
   <tr>
    <td>
     Di 18:30-20:00, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Etwa ein Termin pro Monat; Programm siehe Webseite.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="17_Koll">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Kolloquium der Mathematik
    </td>
    <td rowspan="2">
     <i>
      Organisation:
     </i>
     N. Große, A. Martín Pizarro
    </td>
   </tr>
   <tr>
    <td>
     Do 15-16, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Drei Termine im Semester, Ankündigung auf der Webseite des Instituts.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="17_KMSc">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Mathematisches Kolloquium für Studierende
    </td>
    <td rowspan="2">
     <i>
      Organisation:
     </i>
     A. Huber-Klawitter, M. Junker, A. Martín Pizarro
    </td>
   </tr>
   <tr>
    <td>
     Do 14-15, HS II, Albertstr. 23b
    </td>
   </tr>
   <tr>
    <td>
    </td>
    <td colspan="2">
     <i>
      Vortragsreihe für Master-Studierende, fortgeschrittene Bachelor-Studierende und Doktorand:inn:en. Drei Termine im Semester, Ankündigung auf der Webseite des Instituts.
     </i>
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
  <tbody class="course_snip" id="17_FDM">
   <tr>
    <td rowspan="2">
     <div style="white-space: nowrap">
     </div>
    </td>
    <td>
     Seminar über Datenanalyse und Modellbildung
    </td>
    <td rowspan="2">
     H. Binder, P. Pfaffelhuber, A. Rohde, T. Schmidt, J. Timmer
    </td>
   </tr>
   <tr>
    <td>
     Fr 12-13, SR 404, Ernst-Zermelo-Str. 1
    </td>
   </tr>
   <tr>
    <td colspan="3">
    </td>
   </tr>
  </tbody>
 </table>
</div>
