<h4>(A) Zulassungsvoraussetzungen</h4>
<p>
  Genaue Regelungen finden sich in der rechtlich bindenden
  <a
    href="https://www.studium.uni-freiburg.de/de/studienangebot/studienfaecher/info/363#collapse-Satzungen"
  >
    Zulassungsordnung</a
  >. Wir fassen die Zulassungsvoraussetzungen hier zusammen:
</p>
<b> (1) </b>
{% if site == "showmsc" %}
Ein in Deutschland anerkannter
<u
  data-bs-toggle="tooltip"
  title="Eine Mindest-Note ist nicht erforderlich. Der Abschluss muss zum Zeitpunkt der Bewerbung noch nicht vorliegen, spätestens aber zum Zeitpunkt der Einschreibung."
  >Bachelor-Abschluss</u
>
in Mathematik
<u
  data-bs-toggle="tooltip"
  title="Über die Gleichwertigkeit entscheidet eine Zulassungskommission"
  >oder gleichwertiger</u
>
Abschluss, der folgende Bedingungen erfüllt:
<br style="margin-bottom: 5px" />
Mindestens 103 ECTS-Punkte aus fachwissenschaftlichen Lehrveranstaltungen in
Mathematik (ggf. inklusive mathematischer Bachelor-Arbeit), darunter je
mindestens 16 ECTS-Punkte aus
<b> Grundvorlesungen in Analysis</b>,
<b>Grundvorlesungen in Linearer Algebra,</b>
<b> weiterführenden Veranstaltungen aus der Reinen Mathematik, </b>
<b> weiterführenden Veranstaltungen aus der Angewandten Mathematik. </b>
{% elif site == "showmscdata" %}
Ein in Deutschland anerkannter
<u
  data-bs-toggle="tooltip"
  title="Eine Mindest-Note ist nicht erforderlich. Der Abschluss muss zum Zeitpunkt der Bewerbung noch nicht vorliegen, spätestens aber zum Zeitpunkt der Einschreibung."
  >Bachelor-Abschluss</u>, der folgende Bedingungen erfüllt:
<br style="margin-bottom: 5px" />
Mindestens 30 ECTS-Punkte aus fachwissenschaftlichen Lehrveranstaltungen in
Mathematik (ggf. inklusive mathematischer Bachelor-Arbeit), darunter 
mindestens 12 ECTS-Punkte aus dem Bereich 
<b>Grundlagen der Analysis und Grundlagen der Linearen Algebra</b>.
{% endif %}


<p>
  <b> (2) </b>
  Sprachkenntnisse: 
  {% if site == "showmsc" %}
  Niveau B2 in Deutsch und
  <u data-bs-toggle="tooltip" title="B2 bei der Profillinie Finanzmathematik"
    >B1 in Englisch</u
  >
  {% elif site == "showmscdata" %}
  Niveau B2 in Englisch
  {% endif %}
  (
  <a
    href="https://www.studium.uni-freiburg.de/de/studierendenservices/sprachnachweise"
  >
    akzeptierte Nachweise
  </a>
  )
</p>
<h4>(B) Bewerbungfristen</h4>
<p>
  1. Juni bis 15. September für das Wintersemester; ca. 15. Dezember bis
  15. März für das Sommersemester.
  <br />
  Bewerbungen, die bis 15. Juli bzw. 15. Januar eingehen, bekommen bis Ende Juli
  bzw. Ende Januar einen Bescheid.
</p>
<h4>(C) Benötigte Dokumente</h4>
<ol>
  <li style="margin-bottom: 5px">
    Eine Leistungsübersicht (
    <i> transcript of records </i>
    ) oder alternative Darstellung der bisherigen Studieninhalte, ggf.
    <u
      data-bs-toggle="tooltip"
      title="Dokumente können auf Deutsch, Englisch oder Französisch eingereicht werden. Von anderssprachigen Dokumenten muss eine beglaubigte Übersetzung ins Deutsche oder Englische beigefügt werden."
    >
      mit Übersetzung</u
    >.
  </li>
  <li style="margin-bottom: 5px">
    Das Zeugnis des berufsqualifizierenden Hochschulabschlusses, der Grundlage
    für den Zugang zum Master-Studium ist (
    <i> typischerweise Bachelor {% if site == showmsc %}in Mathematik{% endif %} </i>
    ), ggf.
    <u
      data-bs-toggle="tooltip"
      title="Dokumente können auf Deutsch, Englisch oder Französisch eingereicht werden. Von anderssprachigen Dokumenten muss eine beglaubigte Übersetzung ins Deutsche oder Englische beigefügt werden."
    >
      mit Übersetzung.</u
    >
    <br style="margin-bottom: 5px" />
    Falls das Studium noch nicht abgeschlossen ist und die Informationen nicht
    aus der Leistungsübersicht hervorgehen: Nachweis über Benotung, Abgabe oder
    Anmeldung der Bachelor-Arbeit oder, falls dies nicht möglich ist,
    Bestätigung der Hochschule über das voraussichtliche Abschlussdatum des
    Studiums.
  </li>
  <li style="margin-bottom: 5px">
    Für Bewerber aus China, Indien und Vietnam: die APS-Bescheinigung.
  </li>
  {% if site == "showmsc" %}
  <li style="margin-bottom: 5px">
    Nachweis über Deutschkenntnisse: mindestens Niveau B2 (
    <a
      href="https://www.studium.uni-freiburg.de/de/studierendenservices/sprachnachweise"
    >
      akzeptierte Nachweise
    </a>
    )
  </li>
  {% endif %}
  <li style="margin-bottom: 5px">
    Nachweis über Englischkenntnisse: mindestens Niveau B{% if site == "showmsc" %}1{% elif site == "showmscdata" %}2{% endif %} (
    <a
      href="https://www.studium.uni-freiburg.de/de/studierendenservices/sprachnachweise"
    >
      akzeptierte Nachweise
    </a>
    )
  </li>
  <li style="margin-bottom: 5px">
    Das unterschriebene (von HISinOne erzeugte) Bestätigungsformular.
  </li>
</ol>

<h4>(D) Bewerbungsablauf</h4>
<ol>
  <li>
    Falls Sie nicht schon an der Universität Freiburg studieren, müssen sich
    zunächst als Studienbewerber im Campus-Management-System
    <a
      href="https://campus.uni-freiburg.de/qisserver/pages/psv/selbstregistrierung/pub/selbstregistrierung.xhtml?_flowId=selfRegistrationRegister-flow&amp;_flowExecutionKey=e1s1"
    >
      HISinOne
    </a>
    registrieren.
  </li>
  <li>
    Bereiten Sie alle Bewerbungsunterlagen als pdf- oder jpg-Dateien vor (siehe
    Liste unten, maximal 5 MB pro Datei). Bitte benennen Sie die Dateien mit
    Ihrem Nachnamen und der Art des Dokuments, z. B.
    <i> Mueller-Leistungsuebersicht.pdf </i>
    .
  </li>
  <li>
    Ab Beginn der Bewerbungsfrist können Sie Ihre Bewerbung (den „Antrag auf
    Zulassung“) in HISinOne eingeben. Laden Sie dabei die nötigen Dokumente
    hoch. Die Originale müssen bei der Einschreibung vorgelegt werden.
  </li>
  <li>
    Am Ende der Eingabe wird ein Bestätigungsformular erzeugt, das Sie
    ausdrucken, unterschreiben, einscannen und hochladen müssen.
  </li>
  <li>
    <i>Vergessen Sie nicht, die Bewerbung (den „Antrag auf Zulassung“) auch
    abzuschicken! Es reicht nicht, die Dokumente nur hochzuladen.</i>
  </li>
  <li>
    Die Bewerbung wird fachlich von der Zulassungskommission geprüft; außerdem
    prüft das Studierenden­sekretariat bzw. bei internationalen Studierenden
    <a href="https://www.studium.uni-freiburg.de/en/counseling/ias/">
      International Admissions and Services
    </a>
    (IAS) die eingereichten Dokumente.
    <br />
    Wir bemühen uns, Sie durch den entsprechenden Eintrag im Bewerberportal oder
    per Mail möglichst schnell über das Ergebnis zu informieren. Bitte
    kontaktieren Sie bei Fragen die Studienberatung des Mathematischen
    Instituts.
  </li>
  <li>
    Das Bachelor-Zeugnis muss spätestens bei der Einschreibung vorgelegt werden.
  </li>
</ol>
