{% if lang == "de" %}
<h4>(A) Zulassungsvoraussetzungen</h4>
<p>
  Genaue Regelungen finden sich in der rechtlich bindenden
  <a
    href="https://www.studium.uni-freiburg.de/de/studienangebot/studienfaecher/info/363#collapse-Satzungen"
  >
    Zulassungsordnung</a
  >. Wir fassen die Zulassungsvoraussetzungen hier zusammen:
</p>
<b> (1) </b>
Ein in Deutschland anerkannter
<u
  data-bs-toggle="tooltip"
  title="Eine Mindest-Note ist nicht erforderlich. Der Abschluss muss zum Zeitpunkt der Bewerbung noch nicht vorliegen, spätestens aber zum Zeitpunkt der Einschreibung."
  >Bachelor-Abschluss</u
>
in Mathematik
<u
  data-bs-toggle="tooltip"
  title="Über die Gleichwertigkeit entscheidet eine Zulassungskommission"
  >oder gleichwertiger</u
>
Abschluss, der folgende Bedingungen erfüllt:
<br style="margin-bottom: 5px" />
Mindestens 103 ECTS-Punkte aus fachwissenschaftlichen Lehrveranstaltungen in
Mathematik (ggf. inklusive mathematischer Bachelor-Arbeit), darunter je
mindestens 16 ECTS-Punkte aus
<b> Grundvorlesungen in Analysis</b>,
<b>Grundvorlesungen in Linearer Algebra,</b>
<b> weiterführenden Veranstaltungen aus der Reinen Mathematik, </b>
<b> weiterführenden Veranstaltungen aus der Angewandten Mathematik. </b>

<p>
  <b> (2) </b>
  Sprachkenntnisse: Niveau B2 in Deutsch und
  <u data-bs-toggle="tooltip" title="B2 bei der Profillinie Finanzmathematik"
    >B1 in Englisch</u
  >
  (
  <a
    href="https://www.studium.uni-freiburg.de/de/studierendenservices/sprachnachweise"
  >
    akzeptierte Nachweise
  </a>
  )
</p>
<h4>(B) Bewerbungfristen</h4>
<p>
  1. Juni bis 15. September für das Wintersemester; ca. 15. Dezember bis
  15. März für das Sommersemester.
  <br />
  Bewerbungen, die bis 15. Juli bzw. 15. Januar eingehen, bekommen bis Ende Juli
  bzw. Ende Januar einen Bescheid.
</p>
<h4>(C) Benötigte Dokumente</h4>
<ol>
  <li style="margin-bottom: 5px">
    Eine Leistungsübersicht (
    <i> transcript of records </i>
    ) oder alternative Darstellung der bisherigen Studieninhalte, ggf.
    <u
      data-bs-toggle="tooltip"
      title="Dokumente können auf Deutsch, Englisch oder Französisch eingereicht werden. Von anderssprachigen Dokumenten muss eine beglaubigte Übersetzung ins Deutsche oder Englische beigefügt werden."
    >
      mit Übersetzung</u
    >.
  </li>
  <li style="margin-bottom: 5px">
    Das Zeugnis des berufsqualifizierenden Hochschulabschlusses, der Grundlage
    für den Zugang zum Master-Studium ist (
    <i> typischerweise Bachelor in Mathematik </i>
    ), ggf.
    <u
      data-bs-toggle="tooltip"
      title="Dokumente können auf Deutsch, Englisch oder Französisch eingereicht werden. Von anderssprachigen Dokumenten muss eine beglaubigte Übersetzung ins Deutsche oder Englische beigefügt werden."
    >
      mit Übersetzung.</u
    >
    <br style="margin-bottom: 5px" />
    Falls das Studium noch nicht abgeschlossen ist und die Informationen nicht
    aus der Leistungsübersicht hervorgehen: Nachweis über Benotung, Abgabe oder
    Anmeldung der Bachelor-Arbeit oder, falls dies nicht möglich ist,
    Bestätigung der Hochschule über das voraussichtliche Abschlussdatum des
    Studiums.
  </li>
  <li style="margin-bottom: 5px">
    Für Bewerber aus China, Indien und Vietnam: die APS-Bescheinigung.
  </li>
  <li style="margin-bottom: 5px">
    Nachweis über Deutschkenntnisse: mindestens Niveau B2 (
    <a
      href="https://www.studium.uni-freiburg.de/de/studierendenservices/sprachnachweise"
    >
      akzeptierte Nachweise
    </a>
    )
  </li>
  <li style="margin-bottom: 5px">
    Nachweis über Englischkenntnisse: mindestens Niveau B1 (
    <a
      href="https://www.studium.uni-freiburg.de/de/studierendenservices/sprachnachweise"
    >
      akzeptierte Nachweise
    </a>
    )
  </li>
  <li style="margin-bottom: 5px">
    Das unterschriebene (von HISinOne erzeugte) Bestätigungsformular.
  </li>
</ol>

<h4>(D) Bewerbungsablauf</h4>
<ol>
  <li>
    Falls Sie nicht schon an der Universität Freiburg studieren, müssen sich
    zunächst als Studienbewerber im Campus-Management-System
    <a
      href="https://campus.uni-freiburg.de/qisserver/pages/psv/selbstregistrierung/pub/selbstregistrierung.xhtml?_flowId=selfRegistrationRegister-flow&amp;_flowExecutionKey=e1s1"
    >
      HISinOne
    </a>
    registrieren.
  </li>
  <li>
    Bereiten Sie alle Bewerbungsunterlagen als pdf- oder jpg-Dateien vor (siehe
    Liste unten, maximal 5 MB pro Datei). Bitte benennen Sie die Dateien mit
    Ihrem Nachnamen und der Art des Dokuments, z. B.
    <i> Mueller-Leistungsuebersicht.pdf </i>
    .
  </li>
  <li>
    Ab Beginn der Bewerbungsfrist können Sie Ihre Bewerbung (den „Antrag auf
    Zulassung“) in HISinOne eingeben. Laden Sie dabei die nötigen Dokumente
    hoch. Die Originale müssen bei der Einschreibung vorgelegt werden.
  </li>
  <li>
    Am Ende der Eingabe wird ein Bestätigungsformular erzeugt, das Sie
    ausdrucken, unterschreiben, einscannen und hochladen müssen.
  </li>
  <li>
    <i
      >Vergessen Sie nicht, die Bewerbung (den „Antrag auf Zulassung“) auch
      abzuschicken! Es reicht nicht, die Dokumente nur hochzuladen.</i
    >
  </li>
  <li>
    Die Bewerbung wird fachlich von der Zulassungskommission geprüft; außerdem
    prüft das Studierenden­sekretariat bzw. bei internationalen Studierenden
    <a href="https://www.studium.uni-freiburg.de/en/counseling/ias/">
      International Admissions and Services
    </a>
    (IAS) die eingereichten Dokumente.
    <br />
    Wir bemühen uns, Sie durch den entsprechenden Eintrag im Bewerberportal oder
    per Mail möglichst schnell über das Ergebnis zu informieren. Bitte
    kontaktieren Sie bei Fragen die Studienberatung des Mathematischen
    Instituts.
  </li>
  <li>
    Das Bachelor-Zeugnis muss spätestens bei der Einschreibung vorgelegt werden.
  </li>
</ol>
{% else %}
<h4>(A) Admission requirements</h4>
<p>
  Detailed regulations can be found in the legally binding
  <a
    href="https://www.studium.uni-freiburg.de/de/studienangebot/studienfaecher/info/363#collapse-Satzungen"
  >
    Admission regulations</a
  >. We summarise the admission requirements here:
</p>
<b> (1) </b>
A degree recognised in Germany
<u
  data-bs-toggle="tooltip"
  title="A minimum grade is not required. The degree does not have to be available at the time of application, but at the latest at the time of enrolment."
  >Bachelor's degree</u
>
in mathematics
<u
  data-bs-toggle="tooltip"
  title="An admissions committee decides on equivalence"
  >or equivalent</u
>
Degree that fulfils the following conditions:
<br style="margin-bottom: 5px" />
At least 103 ECTS credits from specialised courses in Mathematics (including the
mathematical Bachelor's thesis, if applicable), including at least 16 ECTS
credits from
<b> Basic lectures in Analysis</b>,
<b>basic lectures in linear algebra,</b>
<b> advanced courses from Pure Mathematics, </b>
<b> advanced courses from applied mathematics. </b>

<p>
  <b> (2) </b>
  Language skills: Level B2 in German and
  <u
    data-bs-toggle="tooltip"
    title="B2 in the Financial Mathematics profile line"
    >B1 in English</u
  >
  (
  <a
    href="https://www.studium.uni-freiburg.de/de/studierendenservices/sprachnachweise"
  >
    Accepted proofs
  </a>
  )
</p>
<h4>(B) Application deadlines</h4>
<p>
  1 June to 15 September for the winter semester; approx. 15 December to 15
  March for the summer semester.
  <br />
  Applications received by 15 July or 15 January will be notified by the end of
  July or the end of January.
</p>
<h4>(C) Required documents</h4>
<ol>
  <li style="margin-bottom: 5px">
    A transcript of records (
    <i> transcript of records </i>
    ) or alternative presentation of the previous study contents, if applicable
    <u
      data-bs-toggle="tooltip"
      title="Documents can be submitted in German, English or French. Documents in other languages must be accompanied by a certified translation into German or English."
    >
      with translation</u
    >.
  </li>
  <li style="margin-bottom: 5px">
    The certificate of the professionally qualifying university degree, which is
    the basis for admission to the Master's programme (
    <i> typically Bachelor's degree in mathematics </i>), if applicable.
    <u
      data-bs-toggle="tooltip"
      title="Documents can be submitted in German, English or French. Documents in other languages must be accompanied by a certified translation into German or English."
    >
      with translation</u
    >
    <br style="margin-bottom: 5px" />
    If the degree programme has not yet been completed and the information is
    not from the transcript of records: Proof of grading, submission or
    registration of the Bachelor's thesis or, if this is not possible,
    Confirmation from the university of the expected completion date of the
    degree programme.
  </li>
  <li style="margin-bottom: 5px">
    For applicants from China, India and Vietnam: the APS certificate.
  </li>
  <li style="margin-bottom: 5px">
    Proof of German language skills: at least level B2 (
    <a
      href="https://www.studium.uni-freiburg.de/de/studierendenservices/sprachnachweise"
    >
      Accepted proofs
    </a>
    )
  </li>
  <li style="margin-bottom: 5px">
    Proof of English language proficiency: at least level B1 (
    <a
      href="https://www.studium.uni-freiburg.de/de/studierendenservices/sprachnachweise"
    >
      Accepted proofs
    </a>
    )
  </li>
  <li style="margin-bottom: 5px">
    The signed confirmation form (generated by HISinOne).
  </li>
</ol>

<h4>(D) Application procedure</h4>
<ol>
  <li>
    If you are not already studying at the University of Freiburg, you must
    first register as a student applicant in the campus management system
    <a
      href="https://campus.uni-freiburg.de/qisserver/pages/psv/selbstregistrierung/pub/selbstregistrierung.xhtml?_flowId=selfRegistrationRegister-flow&amp;_flowExecutionKey=e1s1"
    >
      HISinOne
    </a>
    register.
  </li>
  <li>
    Prepare all application documents as pdf or jpg files (see list below,
    maximum list below, maximum 5 MB per file). Please name the files with your
    surname and the type of document, e.g.
    <i> Mueller-Leistungsuebersicht.pdf </i>
    .
  </li>
  <li>
    From the start of the application period, you can enter your application
    (the ‘Antrag auf admission") in HISinOne. Please upload the necessary
    documents upload. The originals must be presented at the time of enrolment.
  </li>
  <li>
    At the end of the enrolment process, a confirmation form will be generated,
    which you print out, sign, scan and upload.
  </li>
  <li>
    <i
      >Don't forget to also send the application (the ‘application for
      admission’)! send it off! It is not enough just to upload the
      documents.</i
    >
  </li>
  <li>
    The application will be checked by the Admissions Committee; in addition the
    Registrar's Office or, in the case of international students
    <a href="https://www.studium.uni-freiburg.de/en/counseling/ias/">
      International Admissions and Services
    </a>
    (IAS) will also check the documents submitted.
    <br />
    We will endeavour to inform you of the result as quickly as possible via the
    corresponding entry in the applicant portal or inform you of the result as
    quickly as possible. Please questions, please contact the student
    counselling service of the Institute.
  </li>
  <li>
    The Bachelor's certificate must be presented at the latest upon enrolment.
  </li>
</ol>
{% endif %}
