<div class="container" id="inhalt">
  <h1>Master of Science in Mathematik (PO 2014)</h1>

  {% if lang == "de" %}
  <p>
    <br />
    Der Master of Science Mathematik bereitet sowohl auf die Arbeitswelt einer
    Mathematikerin oder eines Mathematikers vor, als auch auf die Bearbeitung
    von Forschungsfragen, etwa im Rahmen einer
    <a
      href="{{ url_for('showstudiengang', studiengang='promotion', lang = lang) }}"
      >Promotion</a
    >.
    <br />
    Fragen der Studienorganisation (Belegung, Prüfungsanmeldung, etc) finden Sie
    auf den Seiten des
    <a
      href="{{ url_for('showstudiendekanat', unterseite = 'pruefungsamt', lang=lang) }}"
      >Prüfungsamts</a
    >.

    <br />
    Einige Fragen beantwortet das
    <a href="{{ url_for('showstufaq', lang=lang) }}"> FAQ</a>. Falls Fragen
    offen bleiben, wenden Sie sich gerne an die
    <a href="{{ url_for('showstudiendekanat', lang=lang) }}">
      Studienberatung des Mathematischen Instituts
    </a>
  </p>
  {% else %}
  <p>
    <br />
    The Master of Science in Mathematics prepares students both for the working
    world of a mathematician, and for making research in mathematics, for
    example in the context of a
    <a
      href="{{ url_for('showstudiengang', studiengang='promotion', lang = lang) }}"
      >PhD</a
    >.
    <br />
    Questions regarding the organisation of your studies (enrolment, exam
    registration, etc.) can be found on the pages of the
    <a
      href="{{ url_for('showstudiendekanat', unterseite = 'pruefungsamt', lang=lang) }}"
      >Examinations Office</a
    >.

    <br />
    Some questions are answered by the
    <a href="{{ url_for('showstufaq', lang=lang) }}"> FAQ</a>. For remaining
    questions, please contact the
    <a href="{{ url_for('showstudiendekanat', lang=lang) }}">
      Student Advisory Service of the Institute of Mathematics
    </a>
  </p>
  {% endif %}
  <div class="container text-end">
    <div class="row">
      <div class="col">
        <a
          href="{{ url_for('showstufaq', lang=lang) }}"
          class="btn btn-primary"
          role="button"
          aria-disabled="true"
        >
          FAQ
        </a>

        <!--        <a
          href="{{ url_for('showweiterbildung', lang=lang)}}"
          class="btn btn-primary"
          role="button"
          aria-disabled="true"
        >
          Weiterbildung
        </a>-->
        <a
          href="{{ url_for('showstudiengang', studiengang='promotion', lang = lang) }}"
          class="btn btn-primary"
          role="button"
          aria-disabled="true"
        >
          {% if lang == "de" %} Promotion{% else %} PhD{% endif %}
        </a>
        <a
          href="mailto:studienberatung@math.uni-freiburg.de"
          class="btn btn-primary"
          role="button"
          aria-disabled="true"
        >
          {% if lang == "de" %} Studienberatung{% else %}Academic advise {%
          endif %}
        </a>
      </div>
    </div>
  </div>

  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h3 class="accordion-header" id="headerkurz">
        <button
          type="button"
          class="accordion-button {% if anchor != 'kurz' %}collapsed{% endif %}"
          data-bs-target="#kurzContent"
          aria-controls="kurzContent"aria-expanded="{% if anchor == 'kurz' %}true{% else %}false{% endif %}"
          data-bs-toggle="collapse"
        >
          <h3 class="h5">
            {% if lang == "de" %} Kurzbeschreibung {% else %} Short profile {%
            endif %}
          </h3>
        </button>
      </h3>
      <div
        aria-labelledby="kurzContent"
        class="accordion-collapse collapse {% if anchor == 'kurz' %}show{% endif %}"
        data-bs-parent="#accordionExample"
        id="kurzContent"
      >
        <div class="accordion-body">
          {% include "/studiengaenge/msc/kurz.html" %}
        </div>
      </div>
    </div>
    <div class="accordion-item" id="bewerbung">
      <h4 class="accordion-header" id="headerbewerbung">
        <button
          aria-controls="bewerbungContent"
          aria-expanded="{% if anchor == 'bewerbung' %}true{% else %}false{% endif %}"
          class="accordion-button {% if anchor != 'bewerbung' %}collapsed{% endif %}"
          data-bs-target="#bewerbungContent"
          data-bs-toggle="collapse"
          type="button"
        >
          <h3 class="h5">
            {% if lang == "de" %}Bewerbung{% else %}Application {% endif %}
          </h3>
        </button>
      </h4>
      <div
        aria-labelledby="bewerbungContent"
        class="accordion-collapse collapse {% if anchor == 'bewerbung' %}show{% endif %}"
        data-bs-parent="#accordionExample"
        id="bewerbungContent"
      >
        <div class="accordion-body">
          {% include "/studiengaenge/msc/bewerbung.html" %}
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h4 class="accordion-header">
        <button
          aria-controls="dokumenteContent"
          aria-expanded="{% if anchor == 'dokumente' %}true{% else %}false{% endif %}"
          class="accordion-button {% if anchor != 'dokumente' %}collapsed{% endif %}"
          data-bs-target="#dokumenteContent"
          data-bs-toggle="collapse"
          type="button"
        >
          <h3 class="h5">
            {% if lang == "de" %}Dokumente{% else %}Documents {% endif %}
          </h3>
        </button>
      </h4>
      <div
        aria-labelledby="dokumenteContent"
        class="accordion-collapse collapse {% if anchor == 'dokumente' %}show{% endif %}"
        data-bs-parent="#accordionExample"
        id="dokumenteContent"
      >
        <div class="accordion-body">
          {% include "studiengaenge/msc/dokumente.html" %}
        </div>
      </div>
    </div>
    <div class="accordion-item" id="verlauf">
      <h3 class="accordion-header" id="headerverlauf">
        <button
          aria-controls="verlaufContent"
          aria-expanded="{% if anchor == 'studienverlauf' %}true{% else %}false{% endif %}"
          class="accordion-button {% if anchor != 'studienverlauf' %}collapsed{% endif %}"
          data-bs-target="#verlaufContent"
          data-bs-toggle="collapse"
          type="button"
        >
          <h3 class="h5">
            {% if lang == "de" %}Studienverlauf{% else %}Study program {% endif
            %}
          </h3>
        </button>
      </h3>
      <div
        aria-labelledby="verlaufContent"
        class="accordion-collapse collapse {% if anchor == 'studienverlauf' %}show{% endif %}"
        data-bs-parent="#accordionExample"
        id="verlaufContent"
      >
        <div class="accordion-body">
          {% include "/studiengaenge/msc/studienverlauf.html" %}
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h3 class="accordion-header">
        <button
          aria-controls="finanzContent"
          aria-expanded="{% if anchor == 'finanz' %}true{% else %}false{% endif %}"
          class="accordion-button {% if anchor != 'finanz' %}collapsed{% endif %}"
          data-bs-target="#finanzContent"
          data-bs-toggle="collapse"
          type="button"
        >
          <h3 class="h5">
            {% if lang == "de" %}Spezialisierung Finanzmathematik{% else %}Focus
            in Financial mathematics {% endif %}
          </h3>
        </button>
      </h3>
      <div
        aria-labelledby="finanzContent"
        class="accordion-collapse collapse {% if anchor == 'finanz' %}show{% endif %}"
        data-bs-parent="#accordionExample"
        id="finanzContent"
      >
        <div class="accordion-body">
          {% include "/studiengaenge/msc/spezialisierung_finanzmathematik.html"
          %}
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h4 class="accordion-header">
        <button
          aria-controls="modulplan"
          aria-expanded="{% if anchor == 'modulplan' %}true{% else %}false{% endif %}"
          class="accordion-button {% if anchor != 'modulplan' %}collapsed{% endif %}"
          data-bs-target="#modulplan"
          data-bs-toggle="collapse"
          type="button"
        >
          <h3 class="h5">
            {% if lang == 'de' %}Modulplan{% else %}Plan of modules{% endif %}
          </h3>
        </button>
      </h4>
      <div
        aria-labelledby="modulplan"
        class="accordion-collapse collapse {% if anchor == 'modulplan' %}show{% endif %}"
        data-bs-parent="#accordionExample"
        id="modulplan"
      >
        <div class="accordion-body" id="afContent">
          {% include "/studiendekanat/modulplan_msc.html" %}
        </div>
      </div>
    </div>
  </div>
</div>
