<div class="container" id="inhalt">
  <h1>Master of Science in Mathematik (PO 2014)</h1>
  <div class="container py-1" id="featured-3">
    <a
      class="btn btn-primary btn-space px-3 mr-1"
      role="button"
      href="{{url_for('showstudienberatungbase', lang=lang)}}"
    >
      <h2>
        <i class="fa fa-circle-right fa-4" aria-hidden="true"></i>
        Studienberatung
      </h2>
    </a>
    <a
      class="btn btn-primary mr-1 px-4 mx-5"
      href="{{url_for('showfaq', lang=lang)}}"
      role="button"
    >
      <h2>
        <i class="fa fa-circle-right fa-4" aria-hidden="true"></i>
        FAQ
      </h2>
    </a>
    <a
      class="btn btn-primary mr-1 px-4 mx-5"
      href="{{url_for('showpruefungsamt', unterseite='modulplan', anchor='msc', lang=lang)}}"
      role="button"
    >
      <h2>
        <i class="fa fa-circle-right fa-4" aria-hidden="true"></i>
        Modulplan
      </h2>
    </a>
  </div>

  <div class="accordion" id="accordionExample">
    <div class="accordion-item" id="kurz">
      <h3 class="accordion-header" id="headerkurz">
        <button
          type="button"
          class="accordion-button"
          data-bs-target="#kurzContent"
          aria-controls="kurzContent"
          aria-expanded="false"
          data-bs-toggle="collapse"
        >
          <h3 class="h5">
            {% if lang == "de" %} Kurzbeschreibung {% else %} Short profile {%
            endif %}
          </h3>
        </button>
      </h3>
      <div
        aria-labelledby="kurzContent"
        class="accordion-collapse collapse {% if anchor == 'kurzbeschreibung' %}show{% endif %}"
        data-bs-parent="#accordionExample"
        id="kurzContent"
      >
        <div class="accordion-body">
          {% include "/studiengaenge/msc/kurzbeschreibung.html" %}
        </div>
      </div>
    </div>
    <div class="accordion-item" id="bewerbung">
      <h4 class="accordion-header" id="headerbewerbung">
        <button
          aria-controls="bewerbungContent"
          aria-expanded="false"
          class="accordion-button collapsed"
          data-bs-target="#bewerbungContent"
          data-bs-toggle="collapse"
          type="button"
        >
          <h3 class="h5">
            {% if lang == "de" %}Bewerbung{% else %}Application {% endif %}
          </h3>
        </button>
      </h4>
      <div
        aria-labelledby="bewerbungContent"
        class="accordion-collapse collapse {% if anchor == 'bewerbung' %}show{% endif %}"
        data-bs-parent="#accordionExample"
        id="bewerbungContent"
      >
        <div class="accordion-body">
          {% include "/studiengaenge/msc/bewerbung.html" %}
        </div>
      </div>
    </div>
    <div class="accordion-item" id="dokumente">
      <h4 class="accordion-header" id="headerdokumente">
        <button
          aria-controls="dokumenteContent"
          aria-expanded="false"
          class="accordion-button collapsed"
          data-bs-target="#dokumenteContent"
          data-bs-toggle="collapse"
          type="button"
        >
          <h3 class="h5">
            {% if lang == "de" %}Dokumente{% else %}Documents {% endif %}
          </h3>
        </button>
      </h4>
      <div
        aria-labelledby="dokumenteContent"
        class="accordion-collapse collapse {% if anchor == 'dokumente' %}show{% endif %}"
        data-bs-parent="#accordionExample"
        id="dokumenteContent"
      >
        <div class="accordion-body">
          {% include "studiengaenge/msc/dokumente.html" %}
        </div>
      </div>
    </div>
    <div class="accordion-item" id="verlauf">
      <h3 class="accordion-header" id="headerverlauf">
        <button
          aria-controls="verlaufContent"
          aria-expanded="false"
          class="accordion-button collapsed"
          data-bs-target="#verlaufContent"
          data-bs-toggle="collapse"
          type="button"
        >
          <h3 class="h5">
            {% if lang == "de" %}Studienverlauf{% else %}Study program {% endif
            %}
          </h3>
        </button>
      </h3>
      <div
        aria-labelledby="verlaufContent"
        class="accordion-collapse collapse {% if anchor == 'studienverlauf' %}show{% endif %}"
        data-bs-parent="#accordionExample"
        id="verlaufContent"
      >
        <div class="accordion-body">
          {% include "/studiengaenge/msc/studienverlauf.html" %}
        </div>
      </div>
    </div>
    <div class="accordion-item" id="finanz">
      <h3 class="accordion-header" id="headerfinanz">
        <button
          aria-controls="finanzContent"
          aria-expanded="false"
          class="accordion-button collapsed"
          data-bs-target="#finanzContent"
          data-bs-toggle="collapse"
          type="button"
        >
          <h3 class="h5">
            {% if lang == "de" %}Spezialisierung Finanzmathematik{% else %}Focus
            in Financial mathematics {% endif %}
          </h3>
        </button>
      </h3>
      <div
        aria-labelledby="finanzContent"
        class="accordion-collapse collapse {% if anchor == 'spezialisierung_finanzmathematik' %}show{% endif %}"
        data-bs-parent="#accordionExample"
        id="finanzContent"
      >
        <div class="accordion-body">
          {% include "/studiengaenge/msc/spezialisierung_finanzmathematik.html"
          %}
        </div>
      </div>
    </div>
  </div>
</div>
