<div class="container">
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-12">
    <div class="feature col-3"></div>
    <div class="feature col-6">
      Das
      <a href="{{url_for('showstudiendekanat', unterseite = 'pruefungsamt', lang=lang)}}"
        >Prüfungsamt Mathematik</a
      >
      hält alle Unterlagen folgender Studiengänge vor.
      <br><br><br>
      <div class="feature-icon bg-gradient text-center">
        <h2><i class="fa fa-refresh fa-4" aria-hidden="true"></i></h2>
        <h2>BSc Mathematik, Prüfungsordnung 2012</h2>
      </div>
      <div>
        <p>
          Diese Prüfungsordnung (PO) wurde im WS 2021 abgelöst. 
          Studierende in der PO von 2012 haben bis zum 30. September 2025 die Möglichkeit,
          das Studium in dieser Prüfungsordnungsversion abzuschließen. 
          Sie können aber auch jederzeit den Wechsel in die aktuelle PO-Version bantragn (schriftlich über das Prüfungsamt).
        </p>
          <!-- Die meisten Studierenden, die zur Einführung der neuen PO bereits im BSc
          Mathematik eingeschrieben waren, haben sich in die neue PO
          umgeschrieben. Hier die wichtigsten Änderungen:
        </p>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">PO 2012</th>
              <th scope="col">PO 2021</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Analysis 2: Klausur als Studienleistung</td>
              <td>Analysis 2: keine Klausur</td>
            </tr>
            <tr>
              <td>xxx</td>
              <td>xxx</td>
            </tr>
          </tbody>
        </table> -->
      </div>
    </div>
    <div class="feature col-3"></div>
    <div class="feature col-3"></div>
    <div class="feature col-6">
      <div class="feature-icon bg-gradient text-center">
        <h2><i class="fa fa-recycle fa-4" aria-hidden="true"></i></h2>
        <h2>Lehramt nach GymPo</h2>
      </div>
      <div>
        <!--<p>Der Staatsexamens-Studiengang Gymnasiales Lehramt nach GymPO konnte letztmals zum Sommersemester 2015 begonnen werden und wurde dann durch das aktuelle Bachelor-Master-System ersetzt. Prüfungsanmeldungen zu studienbegleitenden Prüfungen sind in Mathematik nur noch schriftlich über das Prüfungsamt des Mathematischen Instituts möglich. </p>-->
        <p>Der Staatsexamens-Studiengang Gymnasiales Lehramt nach GymPO ist zum Wintersemester 2024/25 aufgehoben worden.</p>
      </div>
    </div>
    <div class="feature col-3"></div>
    <div class="feature col-3"></div>
    <div class="feature col-6">
      <div class="feature-icon bg-gradient text-center">
        <h2><i class="fa fa-remove fa-4" aria-hidden="true"></i></h2>
        <h2>Diplom-Mathematik</h2>
      </div>
      <div>
        <p>Der Diplom-Studiengang Mathematik wurde 2008 durch das aktuelle Bachelor-Master-System ersetzt. 
          Studierende, die noch in diesem Studiengang eingeschrieben sind und zur Diplom-Hauptprüfung zugelassen sind, 
          können in diesem Studiengang weiterstudieren.</p>
      </div>
    </div>
    <div class="feature col-3"></div>
  </div>
</div>
