<div class="container" id="inhalt">
  <h1>Bachelor of Science in Mathematik (PO 2021)</h1>
  <p>
    Hier finden Sie Informationen zum Studiengang
    <i> Bachelor of Science in Mathematik </i>
    an der Universität Freiburg.
    <br />
    Falls Fragen offen bleiben, können Sie sich gerne an die
    <a href="https://www.math.uni-freiburg.de/lehre/studienberatung.html">
      Studienberatung des Mathematischen Instituts
    </a>
    (
    <a href="mailto:studienberatung@math.uni-freiburg.de">
      ✉
      <!--studienberatung&#x40;&#x6d;&#x61;&#x74;&#x68;&#x2e;&#x75;&#x6e;&#x69;&#x2d;&#x66;&#x72;&#x65;&#x69;&#x62;&#x75;&#x72;&#x67;&#x2e;&#x64;&#x65;-->
    </a>
    ) wenden.
    <br style="margin-bottom: 5px" />
    Möglicherweise suchen Sie auch:
  </p>
  <ul>
    <li style="margin-top: -5px">
      <a href="https://www.math.uni-freiburg.de/lehre/studieninteresse.html">
        Informationen für Studieninteressierte
      </a>
    </li>
    <li>
      den
      <a
        href="https://www.math.uni-freiburg.de/lehre/studiengaenge/2hfb-2021.html"
      >
        Polyvalenten Zwei-Hauptfächer-Bachelor-Studiengang
      </a>
    </li>
    <li>
      die frühere Prüfungsordnungsversion
      <a href="bsc-2012.html"> PO 2012 </a>
    </li>
  </ul>
  <div class="accordion accordion-flush" id="accordionExample">
    <div class="accordion-item" id="kurz">
      <h3 class="accordion-header" id="headerkurz">
        <button
          aria-controls="kurzContent"
          aria-expanded="false"
          class="accordion-button collapsed"
          data-bs-target="#kurzContent"
          data-bs-toggle="collapse"
          type="button"
        >
          Kurzbeschreibung des Studiengangs
        </button>
      </h3>
      <div
        aria-labelledby="kurzContent"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
        id="kurzContent"
      >
        <div class="accordion-body" id="kurzContent">
          <p>
            <a
              href="studienverlauf-bsc-2021.html"
              rel="noopener"
              target="_blank"
            >
              <img
                alt="Beispielhafter Studienverlauf im B.Sc.-Studiengang Mathematik"
                src="https://www.math.uni-freiburg.de/lehre/bilder/BSc21.png"
                style="width: 35%; float: right"
                title="Beispielhafter Studienverlauf im B.Sc.-Studiengang Mathematik"
              />
            </a>
          </p>
          <p>Der Studiengang ist dreijährig und deutschsprachig.</p>
          <ul>
            <li>
              <b> Mathematik: </b>
              Nach grundlegenden Vorlesungen in Analysis und Linearer Algebra
              und Einführungen in einige wichtige Teilgebiete der Mathematik
              lässt der Studiengang große Freiräume in der Wahl weiterführender
              Veranstaltungen und des Themas der Bachelor-Arbeit. Seminare und
              Computerübungen runden das mathematische Studienprogramm ab.
            </li>
            <li>
              Hinzu kommen ein
              <b> Anwendungfach </b>
              (
              <i> Informatik </i>
              ,
              <i> Physik </i>
              ,
              <i> Wirtschafts­wissenschaften </i>
              ,
              <i> Philosophie </i>
              u.v.m.),
              <b> Schlüsselqualifikationen </b>
              und ein großzügiger
              <b> Wahlbereich </b>
              für Veranstaltungen beliebiger Fächer.
            </li>
          </ul>
          Der Studiengang lässt den Studierenden große Gestaltungsmöglichkeiten,
          auch da die einzelnen Bereiche unterschiedlich stark gewichtet werden
          können. Typischerweise schließt sich der
          <a href="msc-2014.html"> Master of Science in Mathematik </a>
          an.
        </div>
      </div>
    </div>
    <div class="accordion-item" id="vor">
      <h3 class="accordion-header" id="headervor">
        <button
          aria-controls="vorContent"
          aria-expanded="false"
          class="accordion-button collapsed"
          data-bs-target="#vorContent"
          data-bs-toggle="collapse"
          type="button"
        >
          Studienbeginn, Bewerbung und Zulassung
        </button>
      </h3>
      <div
        aria-labelledby="vorContent"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
        id="vorContent"
      >
        <div class="accordion-body" id="vorContent">
          <p>
            Studienbeginn ist nur zum Wintersemester möglich. Der Studiengang
            ist nicht zulassungsbeschränkt; die Einschreibung ist bis etwa zehn
            Tage vor Vorlesungsbeginn im Oktober möglich. Eine vorherige
            Bewerbung ist nicht nötig. Es gibt keine gesonderte Einschreibung
            für das Anwendungsfach.
          </p>
          <ul>
            <li>
              <a
                href="https://www.studium.uni-freiburg.de/de/fristen-und-veranstaltungen/fristen"
              >
                Fristen
              </a>
              für Bewerbungen und Einschreibungen
            </li>
            <li>
              Informationsseite der Universität zur
              <a
                href="https://www.studium.uni-freiburg.de/de/studierendenservices/immatrikulation"
              >
                Einschreibung / Immatrikulation
              </a>
            </li>
            <li>
              <a
                href="https://www.studium.uni-freiburg.de/de/studierendenservices/studierendensekretariat"
              >
                Studierendensekretariat
              </a>
              – technische Abwicklung der Einschreibung
            </li>
            <li>
              <a href="https://www.studium.uni-freiburg.de/de/beratung/ias">
                International Admissions and Services
              </a>
              – Bewerbung für ausländische Studienbewerber:innen
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item" id="links">
      <h3 class="accordion-header" id="headerlinks">
        <button
          aria-controls="linksContent"
          aria-expanded="false"
          class="accordion-button collapsed"
          data-bs-target="#linksContent"
          data-bs-toggle="collapse"
          type="button"
        >
          Dokumente und nützliche Links
        </button>
      </h3>
      <div
        aria-labelledby="linksContent"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
        id="linksContent"
      >
        <div class="accordion-body" id="linksContent">
          <p>
            <b> Beratung: </b>
          </p>
          <ul>
            <li>
              <a
                href="https://www.math.uni-freiburg.de/lehre/studienberatung.html"
              >
                Studienberatung Mathematik
              </a>
            </li>
            <li>
              <a href="https://www.studium.uni-freiburg.de/de/beratung">
                Zentrale Studienberatung der Uni (ZSB)
              </a>
            </li>
          </ul>
          <p>
            <b> Computersysteme: </b>
          </p>
          <ul>
            <li>
              Campus-Management-System
              <a href="https://campus.uni-freiburg.de"> HISinOne </a>
              mit Anleitungen im
              <a
                href="https://wiki.uni-freiburg.de/campusmanagement/doku.php?id=hisinone:studieren:start"
              >
                Campus Management Wiki
              </a>
            </li>
            <li>
              Lernplattform
              <a href="https://ilias.uni-freiburg.de"> ILIAS </a>
            </li>
            <li>
              <a href="https://myaccount.uni-freiburg.de"> myAccount </a>
              : Verwaltung des eigenen Uni-Accounts
            </li>
          </ul>
          <p>
            <b> Lehrveranstaltungen </b>
            :
          </p>
          <ul style="margin-top: -7px">
            <li>
              <a
                href="https://www.studium.uni-freiburg.de/de/fristen-und-veranstaltungen/semester-und-vorlesungszeiten/"
              >
                Semester- und Vorlesungszeiten
              </a>
            </li>
            <li>
              <a href="https://www.math.uni-freiburg.de/lehre/v/index.html">
                Vorlesungsverzeichnis Mathematik
              </a>
              mit Kommentaren
            </li>
            <li style="margin-bottom: 10px">
              <a
                href="https://campus.uni-freiburg.de/qisserver/pages/cm/exa/coursecatalog/showCourseCatalog.xhtml?_flowId=showCourseCatalog-flow"
              >
                Vorlesungsverzeichnis Universität
              </a>
              in HISinOne
            </li>
            <li>
              <a
                href="https://www.international.uni-freiburg.de/de/european-campus"
              >
                Eucor – The European Campus / Le Campus Européen
              </a>
            </li>
            <li>
              <a href="https://www.sli.uni-freiburg.de/">
                Sprachlehrinstitut (SLI)
              </a>
            </li>
            <li>
              <a href="https://www.studiumgenerale.uni-freiburg.de/">
                Studium generale
              </a>
            </li>
            <li>
              <a href="https://www.zfs.uni-freiburg.de/">
                Zentrum für Schlüsselqualifikationen (ZfS)
              </a>
            </li>
          </ul>
          <p>
            <b> Modulhandbuch und Studienplanung </b>
            ::
          </p>
          <ul style="margin-top: -7px">
            <li>
              <a
                href="https://www.math.uni-freiburg.de/lehre/studiengaenge/modulhandbuecher.html"
              >
                Modulhandbücher
              </a>
              mit den Anforderungen an Studien- und Prüfungsleistungen
            </li>
            <li>
              <a
                href="https://www.math.uni-freiburg.de/lehre/dokumente/uebersicht-vorlesungen.pdf"
              >
                Übersicht über die regelmäßig angebotenen Wahlvorlesungen in
                Mathematik
              </a>
              (pdf)
            </li>
            <li>
              <a
                href="https://www.math.uni-freiburg.de/lehre/studiengaenge/schwerpunkte.html"
              >
                Studienverläufe in den Schwerpunktgebiete
              </a>
              (inkl. Voraussetzungen für Bachelor-Arbeiten)
            </li>
          </ul>
          <p>
            <b> Prüfungen / Prüfungsordnung: </b>
          </p>
          <ul style="margin-top: -7px">
            <li>
              <a href="../pruefungsamt/termine.html"> Anmeldefristen </a>
            </li>
            <li>
              <a
                href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/abschlussarbeiten.html"
              >
                Bachelor-Arbeit
              </a>
            </li>
            <li>
              <a href="../pruefungsamt/index.html"> Prüfungsamt </a>
            </li>
            <li>
              <a
                href="https://www.studium.uni-freiburg.de/de/studienangebot/studienfaecher/info/303#collapse-Satzungen"
              >
                Prüfungsordnung
              </a>
            </li>
          </ul>
          <p>
            <b> Weitere Links: </b>
          </p>
          <ul style="margin-top: -7px">
            <li>
              <a
                  href="https://www.math.uni-freiburg.de/forschung/arbeitsgruppen.html"
              >
                Arbeitsgruppen am Mathematischen Institut
              </a>
            </li>
            <li>
              <a href="https://www.math.uni-freiburg.de/personen/dozenten.html">
                Forschungsgebiete der Dozent:inn:en
              </a>
            </li>
            <li>
              <a
                href="https://www.studium.uni-freiburg.de/de/beratung/welcome-guide-for-international-students"
              >
                welcome guide for international students
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item" id="verlauf">
      <h3 class="accordion-header" id="headerverlauf">
        <button
          aria-controls="verlaufContent"
          aria-expanded="false"
          class="accordion-button collapsed"
          data-bs-target="#verlaufContent"
          data-bs-toggle="collapse"
          type="button"
        >
          Aufbau des Studiengangs und Studienverlauf
        </button>
      </h3>
      <div
        aria-labelledby="verlaufContent"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
        id="verlaufContent"
      >
        <div class="accordion-body" id="verlaufContent">
          <p>
            Das Studium umfasst 180 ECTS-Punkte (Regelstudienzeit 6 Semester)
            und gliedert sich in die Bereiche:
          </p>
          <ul>
            <li>
              <b> Mathematik </b>
              – mindestens 132 Punkte, inklusive
              <ul>
                <li>13 Punkte für die Bachelor-Arbeit samt Präsentation</li>
                <li>
                  12 Punkte für sogenannte „interne berufsfeldorientierte
                  Kompetenzen“
                  <br />
                  (
                  <i> Praktische Übung Numerik, Proseminar, Seminar </i>
                  )
                </li>
              </ul>
            </li>
            <li>
              „Externe“
              <b> Berufsfeldorientierte Kompetenzen </b>
              – obligatorisch, 8 bis 16 Punkte
              <br />
              <!-- style="margin-bottom:3px;"> -->
              (
              <i>
                in der Regel Kurse am
                <a href="https://www.zfs.uni-freiburg.de/">
                  Zentrum für Schlüsselqualifikationen
                </a>
                (ZfS) oder am
                <a href="https://www.sli.uni-freiburg.de/">
                  Sprachlehrinstitut
                </a>
                (SLI)
              </i>
              )
            </li>
            <li>
              <b> Anwendungsfach </b>
              – obligatorisch, 15 bis 22 Punkte, je nach gewähltem Fach
            </li>
            <li>
              <b> Wahlmodule </b>
              – optional, 0 bis 20 Punkte
            </li>
          </ul>
          <p>
            Durch die Flexibilität in der Gewichtung der einzelnen Bereiche
            können Sie über die Wahl des Anwendungsfachs und der weiterführenden
            Vorlesungen hinaus einen individuellen Schwerpunkt Ihres Studiums
            setzen, zum Beispiel:
          </p>
          <ul>
            <li>
              „Schwerpunkt Mathematik“ (
              <i> möglichst viele Mathematik-Module </i>
              )
            </li>
            <li>
              „Großes Anwendungsfach“ (
              <i>
                Anwendungsfach mit möglichst vielen Wahlmodulen aus dem gleichen
                Fach
              </i>
              )
            </li>
            <li>
              „Zwei Wahlfächer“ (
              <i>
                Anwendungsfach und möglichst viele Wahlmodule aus einem weiteren
                Fach
              </i>
              )
            </li>
            <li>
              „Schwerpunkt Vielfalt“ (
              <i>
                möglichst viele BOK-Kurse und Wahlmodule aus verschiedenen
                Fächern
              </i>
              )
            </li>
          </ul>
          <p>
            Beispielhafter Studienverlauf:
            <!--  (siehe auch die <a href="https://www.math.uni-freiburg.de/lehre/dokumente/uebersicht-bsc2021-studienplan.pdf">detailiertere Übersicht</a>): -->
          </p>
          <p></p>
          <center>
            <img
              alt="Beispielhafter Studienverlauf im B.Sc.-Studiengang Mathematik"
              src="https://www.math.uni-freiburg.de/lehre/bilder/BSc21.png"
              style="width: 80%"
              title="Beispielhafter Studienverlauf im B.Sc.-Studiengang Mathematik"
            />
          </center>
          <p>
            Dieser Plan ist
            <b> nur eine Orientierungshilfe! </b>
            Es gibt keine Abfolgebedingungen für die Mathematikveranstaltungen
            oder Festlegungen auf bestimmte Fachsemester. Zu beachten ist aber:
          </p>
          <ul>
            <li style="margin-top: -7px">
              Die beiden Klausuren zu
              <i> Analysis I </i>
              und zu
              <i> Lineare Algebra I </i>
              müssen als Orientierungsleistung am Ende des 3. Fachsemesters
              bestanden sein.
            </li>
            <li>
              Die Veranstaltungen haben inhaltliche Voraussetzungen (beschrieben
              im
              <a
                href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/modulhandbuecher.html"
              >
                Modulhandbuch
              </a>
              )
            </li>
            <li>
              Die Bachelor-Arbeit darf erst geschrieben werden, wenn
              80 ECTS-Punkte in Mathematik erworben wurden.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item" id="af">
      <h3 class="accordion-header" id="headeraf">
        <button
          aria-controls="afContent"
          aria-expanded="false"
          class="accordion-button collapsed"
          data-bs-target="#afContent"
          data-bs-toggle="collapse"
          type="button"
        >
          Anwendungsfächer
        </button>
      </h3>
      <div
        aria-labelledby="afContent"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
        id="afContent"
      >
        <div class="accordion-body" id="afContent">
          <p>
            Das Studium im B.Sc. Mathematik sieht verpflichtend ein sogenanntes
            „Anwendungsfach“ vor. Pro Anwendungsfach gibt es einen festen
            Studienplan (teils mit Wahlmöglichkeiten) und die Noten der
            Prüfungen gehen in die Endnote ein.
          </p>
          <p>
            Frei gewählt werden kann aus einem der
            <b> Standard-Anwendungsfächer </b>
            :
          </p>
          <ul>
            <li style="margin-top: -7px">
              <i> Betriebswirtschaftslehre (BWL) </i>
            </li>
            <li>
              <i> Biologie </i>
              (vorherige Teilnahme an der Sicherheitsunterweisung erforderlich!)
            </li>
            <li>
              <i> Informatik </i>
            </li>
            <li>
              <i> Physik </i>
            </li>
            <li>
              <i> Volkswirtschaftslehre (VWL) </i>
            </li>
          </ul>
          <p>
            Andere Anwendungsfächer („
            <b> Sonder-Anwendungsfächer </b>
            “) sind auf Antrag möglich, sofern die Lehreinheit, die das Fach
            anbietet, zustimmt und einen passenden Studienplan erstellt, der
            mindestens 15 und höchstens 22 ECTS-Punkten umfasst. (Siehe auch das
            <a
              href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/merkblaetter/Merkblatt-Sonderanwendungsfaecher.pdf"
            >
              Merkblatt für Sonder-Anwendungsfächer
            </a>
            .)
            <br />
            Folgende Anwendungsfächer sind in der Vergangenheit bereits
            genehmigt worden:
          </p>
          <ul>
            <li style="margin-top: -7px">
              <!--<i>Bioinformatik</i> </li> 
      <li>-->
              <i> Chemie </i>
            </li>
            <li>
              <i> Geographie </i>
            </li>
            <li>
              <i> Geowissenschaften </i>
            </li>
            <li>
              <i> Hydrologie </i>
            </li>
            <li>
              <i> Kognitionswissenschaften </i>
            </li>
            <li>
              <i> Meteorologie </i>
            </li>
            <li>
              <i> Mikrosystemtechnik </i>
            </li>
            <li>
              <i> Molekulare Medizin </i>
            </li>
            <li>
              <i> Musikwissenschaften </i>
            </li>
            <li>
              <i> Philosophie </i>
              <!--(beschränkte Studienplatzzahl)-->
            </li>
            <li>
              <i> Politikwissenschaften </i>
            </li>
            <li>
              <i> Psychologie </i>
              (nur ganz wenige Studienplätze)
            </li>
            <li>
              <i> Soziologie </i>
              <!--(beschränkte Studienplatzzahl)-->
            </li>
            <li>
              <i> Sportwissenschaften </i>
            </li>
            <li>
              <i> Waldwirtschaft und Umwelt </i>
            </li>
          </ul>
          <p>
            Das Anwendungsfach wird im Laufe des Studiums festgelegt und kann
            dann noch einmal (durch formlosen schriftlichen Antrag an das
            Prüfungsamt) geändert werden. Die Festlegung erfolgt für ein
          </p>
          <ul style="margin-top: -7px">
            <li>
              Sonder-Anwendungsfach durch die Genehmigung des schriftlichen
              Antrags,
            </li>
            <li>
              Standard-Anwendungsfach durch die Anmeldung einer Prüfung oder
              Registrierung einer Studienleistung.
              <br />
              (
              <i>
                Achtung: Die Belegung einer Veranstaltung des Anwendungsfachs in
                HISinOne blockiert bereits die Prüfungsanmeldung bzw.
                Studienleistungsregistrierung in einem anderen Anwendungsfach,
                zählt aber noch nicht als Festlegung des Anwendungsfachs. Sie
                können solche Belegungen im Prüfungsamt auf das sogenannte
                "Globale Überlaufskonto" umbuchen lassen, falls Sie ein anderes
                Anwendungsfach wählen wollen.
              </i>
              )
            </li>
          </ul>
          Es ist auch möglich, zunächst in mehrere der Standardanwendungsfächer
          „hineinzuschnuppern“, und dann Module aus den nicht gewählten Fächern
          als Wahlmodule anrechnen zu lassen.
          <p>
            <b>
              Studienpläne und -verläufe in den Standard-Anwendungsfächern
            </b>
            (in Klammern ECTS-Punkte)
          </p>
          <center>
            <img
              alt="Studienverläufe in den Standard-Anwendungsfächern"
              src="https://www.math.uni-freiburg.de/lehre/bilder/BSc21-AF.png"
              style="width: 80%"
              title="Studienverläufe in den Standard-Anwendungsfächern"
            />
          </center>
        </div>
      </div>
    </div>
  </div>
</div>
