{% if lang == "de" %}
<p>
  Freiburg ist eine grüne Stadt am Fuße des Schwarzwaldes mit vielen
  Möglichkeiten zur Freizeitgestaltung. Die Universität Freiburg hat nicht nur
  eine lange Tradition in allen Bereichen der Natur- und Geisteswissenschaften,
  sondern ist auch in der Forschung sehr aktiv, wie ihr Forschungsranking zeigt.
  Das mathematische Institut, an dem der größte Teil dieses Studiengangs
  beherbergt, deckt ein breites Spektrum an Themen ab, von der mathematischen
  Logik bis zum maschinellen Lernen.
</p>
{% else %}
<p>
  Freiburg is a green city close to the Black Forest with many opportunities for
  outdoor activities. The University of Freiburg has not only has a long
  tradition in all areas of the natural sciences and humanities, but is also
  very active in research, as its rankings show. The mathematical institute,
  which hosts the largest part of this program, covers a broad spectrum of
  topics, from mathematical logic to machine learning.
</p>
{% endif %}
