<div class="row row-cols-md-3 row-cols-sm-2 row-cols-xs-1 g-5">
  <div class="col">
    <div class="card h-100">
      <a
        href="{{url_for('showmscdatanews', lang = lang, anchor = 'kurzzusammenfassung')}}"
      >
        <center>
          <img
            src="/static/latex/MScdata.jpg"
            class="card-img-fluid"
            alt="..."
            style="height: 15vw; object-fit: cover"
          />
        </center>
      </a>
      <div class="card-body">
        <h3 class="h5">Master of Science Mathematics in Data and Technology</h3>
        <div class="card-text">
          <p>
            Dieser englisch-sprachige Master ist anwendungsorientert mit einem
            Blick auf Datenwissenschaft, Optimierung und Numerik. Die
            mathematischen Voraussetzungen sind deutlich geringer als im MSc
            Mathematik. <br /><b> Geplanter Start: WS 2024</b>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <a
        href="{{url_for('showmeddual', lang = lang, anchor = 'kurzzusammenfassung')}}"
      >
        <center>
          <img
            src="/static/latex/MEddual.jpg"
            class="card-img-fluid"
            alt="..."
            style="height: 15vw; object-fit: cover"
          />
        </center>
      </a>
      <div class="card-body">
        <h3 class="h5">Master of Education — dual</h3>
        <div class="card-text">
          <p>
            Für Studierende mit eine BSc Informatik oder BSc Physik wird hier
            als Modellversuch eine Möglichkeit für einen Einstieg ins Lehramt
            Gymansium geschaffen.
            <br /><b> Geplanter Start: WS 2024</b>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
