<div class="row row-cols-1 row-cols-md-4 g-3">
  <div class="col">
    <div class="card h-100">
      <center>
        <img
          src="/static/pdf/latex/2HfB.jpg"
          class="card-img-fluid d-none d-md-block"
          alt="..."
          style="height: 100%; width: 100%; object-fit: cover"
        />
      </center>
      <div class="card-body">
        <h3 class="h5">Zwei-Hauptfächer-Bachelor mit Lehramtsoption</h3>
        <div class="card-text">
          <p>
            Die Lehramtsoption ist der Einstieg für Studierende mit Berufsziel
            <i>gymnasiale Mathematik-Lehrer*in</i>. In den ersten zwei Semestern
            ist ein Wechsel zum BSc Mathematik relativ problemlos möglich.
          </p>
          <p align="right">
            <a
              class="btn btn-outline-primary active bg-white"
              style="border-color: #004a99"
              href="{{url_for('showstudiengang', studiengang='2hfb', lang = lang)}}"
              role="button"
            >
              <i class="fa-solid fa-link" style="color: #004a99"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <center>
        <img
          src="/static/pdf/latex/MEd.jpg"
          class="card-img-fluid d-none d-md-block"
          alt="..."
          style="height: 100%; width: 100%; object-fit: cover"
        />
      </center>

      <div class="card-body">
        <h3 class="h5">Master of Education</h3>
        <div class="card-text">
          <p>
            Für angehende <i>gymnasiale Mathematik-Lehrer*innen</i>. Hier wird
            das Studium der beiden Fächer aus dem Zwei-Hauptfächer-Bachelor
            fortgesetzt.
          </p>
          <p align="right">
            <a
              class="btn btn-outline-primary active bg-white"
              style="border-color: #004a99"
              href="{{url_for('showstudiengang', studiengang='med', lang = lang)}}"
              role="button"
            >
              <i class="fa-solid fa-link" style="color: #004a99"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <center>
        <img
          src="/static/pdf/latex/MEderw.jpg"
          class="card-img-fluid d-none d-md-block"
          alt="..."
          style="height: 100%; width: 100%; object-fit: cover"
        />
      </center>
      <div class="card-body">
        <h3 class="h5">Master of Education</h3>
        <h5>Erweiterungsfach</h5>
        <div class="card-text">
          <p>
            Für angehende <i>gymansiale Mathematik-Lehrer*innen</i> mit
            Drittfach Mathematik. Will man als Lehrer*in nicht nur zwei, sondern
            drei Fächer unterrichten, so studiert man den MEd als
            Erweiterungsfach. Dies ist dann entweder ein Beifach (befähigt, den
            Unterricht im dritten Fach bis einschließlich Sekundarstufe I), oder
            als Hauptfach (befähigt auch für die Sekundarstufe II).
          </p>
          <p align="right">
            <a
              class="btn btn-outline-primary active bg-white"
              style="border-color: #004a99"
              href="{{url_for('showstudiengang', studiengang='med_erw', lang = lang)}}"
              role="button"
            >
              <i class="fa-solid fa-link" style="color: #004a99"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <center>
        <img
          src="/static/pdf/latex/MEddual.jpg"
          class="card-img-fluid d-none d-md-block"
          alt="..."
          style="height: 100%; width: 100%; object-fit: cover"
        />
      </center>
      <div class="card-body">
        <h3 class="h5">Master of Education — dual</h3>
        <div class="card-text">
          <p>
            Für <i>Quereinstieg als Lehrer*in (Gymnasium)</i>. Möglich in den Fächerkombinationen Informatik/Mathematik und Physik/Mathematik, Zugangsvoraussetzung ist ein 
            BSc Informatik, BSc Physik oder ein gleichwertiger Abschluss.
            <br /><b> Start: WS 2024</b>
          </p>
          <p align="right">
            <a
              class="btn btn-outline-primary active bg-white"
              style="border-color: #004a99"
              href="{{url_for('showstudiengang', studiengang='med_dual', lang = lang)}}"
              role="button"
            >
              <i class="fa-solid fa-link" style="color: #004a99"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
