<html>
  <body>
    <div class="container" id="inhalt">
      <h1>Master of Science in Mathematik (PO 2014)</h1>
      <!--      <p>
        Bei Fragen können Sie sich gerne an die
        <a href="https://www.math.uni-freiburg.de/lehre/studienberatung.html">
          Studienberatung des Mathematischen Instituts
        </a>
        <a href="mailto:studienberatung@math.uni-freiburg.de"></a> wenden.
      </p>-->

      <div class="accordion accordion-flush" id="accordionExample">
        <div class="accordion-item" id="kurz">
          <h3 class="accordion-header" id="headerkurz">
            <button
              aria-controls="kurzContent"
              aria-expanded="false"
              class="accordion-button"
              data-bs-target="#kurzContent"
              data-bs-toggle="collapse"
              type="button"
            >
              Kurzbeschreibung
            </button>
          </h3>
          <div
            aria-labelledby="kurzContent"
            class="accordion-collapse collapse show"
            data-bs-parent="#accordionExample"
            id="kurzContent"
          >
            <div class="accordion-body" id="kurzContent">
              <div
                class="row align-items-center g-4 py-5 row-cols-1 row-cols-lg-2"
              >
                <div class="feature col">
                  <p>
                    <a href="#" data-toggle="tooltip" class="btn" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit.">Hola</a> 
                    
                    Der Studiengang vermittelt vertiefte Kenntnisse im Bereich
                    der Mathematik mit dem Ziel des selsbtständigen
                    wissenschaftlichen Arbeitens. Die Studierenden können, bis
                    auf Minimalanforderungen an die Breite des Studiums, frei
                    aus dem Vorlesungsangebot wählen und können sich nach
                    eigenem Interesse in einem unserer Schwerpunktgebiete
                    vertiefen:
                  </p>
                  <p>
                    <b>Algebra und Zahlentheorie</b>, <b>Analysis</b>,
                    <b>Angewandte Analysis und Numerik</b>,
                    <b>Geometrie und Topologie</b>,
                    <b>Mathematische Logik</b> (Mengenlehre / Modelltheorie),
                    <b>Mathematische Stochastik</b> und Finanzmathematik.
                  </p>
                  <p>
                    Die
                    <b> Spezialisierung Finanzmathematik </b>
                    wird auf dem Zeugnis besonders ausgewiesen. Sie ergänzt die
                    mathematische Vertiefung durch wirtschaftswissenschaftliche
                    Spezialisierungsmodule.
                  </p>
                </div>
                <div class="feature col">
                  <h2></h2>
                  <div>
                    <table class="table table-striped">
                      <tbody>
                        <tr>
                          <td>
                            {% if lang == "de" %}Abschluss{% else %}Degree{%
                            endif %}
                          </td>
                          <td>Master of Science</td>
                        </tr>
                        <tr>
                          <td>
                            {% if lang == "de" %}Dauer{% else %}Duration{% endif
                            %}
                          </td>
                          <td>
                            {% if lang == "de" %}4 Semester{% else %}4
                            semesters{% endif %}
                          </td>
                        </tr>
                        <tr>
                          <td>ECTS</td>
                          <td>120</td>
                        </tr>
                        <tr>
                          <td>Start</td>
                          <td>
                            {% if lang == "de" %}Winter- und Sommersemester{%
                            else %}Winter and summer term{% endif %}
                          </td>
                        </tr>
                        <tr>
                          <td>
                            {% if lang == "de" %}Voraussetzung{% else
                            %}Prerequisites{% endif %}
                          </td>
                          <td>
                            {% if lang == "de" %}BSc mit mindestens 103 ECTS
                            Mathematik{% else %}BSc with at least 103 ECTS of
                            mathematics{% endif %}
                          </td>
                        </tr>
                        <tr>
                          <td>
                            {% if lang == "de" %}Sprache{% else %}language{%
                            endif %}
                          </td>
                          <td>
                            {% if lang == "de" %}Deutsch{% else %}German{% endif
                            %}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item" id="bewerbung">
          <h3 class="accordion-header" id="headerbewerbung">
            <button
              aria-controls="bewerbungContent"
              aria-expanded="false"
              class="accordion-button"
              data-bs-target="#bewerbungContent"
              data-bs-toggle="collapse"
              type="button"
            >
              Bewerbung
            </button>
          </h3>
          <div
            aria-labelledby="bewerbungContent"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
            id="bewerbungContent"
          >
            <div class="accordion-body" id="bewerbungContent">
              <p>
                Bei Fragen zur Bewerbung wenden Sie sich bitte an die
                <a
                  href="https://www.math.uni-freiburg.de/lehre/studienberatung.html"
                >
                  Studienberatung des Mathematischen Instituts
                </a>
                (
                <a href="mailto:studienberatung@math.uni-freiburg.de">
                  studienberatung@math.uni-freiburg.de
                </a>
                (und nicht an das Prüfungsamt!)
              </p>
              <p>
                <b> Studienbeginn </b>
                ist sowohl zum Wintersemester als auch zum Sommersemester
                möglich.
              </p>
              <p>
                <b> Bewerbungfristen </b>
                : 1. Juni bis 15. September für das Wintersemester; ca.
                15. Dezember bis 15. März für das Sommersemester.
                <br />
                Bewerbungen, die bis 15. Juli bzw. 15. Januar eingehen, bekommen
                bis Ende Juli bzw. Ende Januar einen Bescheid.
              </p>
              <p>
                <b> Bewerbungsablauf </b>
              </p>
              <ol>
                <li>
                  Falls Sie nicht schon an der Universität Freiburg studieren,
                  müssen sich zunächst als Studienbewerber im
                  Campus-Management-System
                  <a
                    href="https://campus.uni-freiburg.de/qisserver/pages/psv/selbstregistrierung/pub/selbstregistrierung.xhtml?_flowId=selfRegistrationRegister-flow&amp;_flowExecutionKey=e1s1"
                  >
                    HISinOne
                  </a>
                  registrieren.
                </li>
                <li>
                  Bereiten Sie alle Bewerbungsunterlagen als pdf- oder
                  jpg-Dateien vor (siehe Liste unten, maximal 5 MB pro Datei).
                  Bitte benennen Sie die Dateien mit Ihrem Nachnamen und der Art
                  des Dokuments, z. B.
                  <i> Mueller-Leistungsuebersicht.pdf </i>
                  .
                </li>
                <li>
                  Ab Beginn der Bewerbungsfrist können Sie Ihre Bewerbung (den
                  „Antrag auf Zulassung“) in HISinOne eingeben. Laden Sie dabei
                  die nötigen Dokumente hoch. Die Originale müssen bei der
                  Einschreibung vorgelegt werden.
                </li>
                <li>
                  Am Ende der Eingabe wird ein Bestätigungsformular erzeugt, das
                  Sie ausdrucken, unterschreiben, einscannen und hochladen
                  müssen.
                </li>
                <li style="color: #c1002a">
                  Vergessen Sie nicht, die Bewerbung (den „Antrag auf
                  Zulassung“) auch abzuschicken! Es reicht nicht, die Dokumente
                  nur hochzuladen.
                </li>
                <li>
                  Nach Ende der Bewerbungsfrist tagt die Zulassungskommission;
                  anschließend prüft das Studierenden­sekretariat bzw. bei
                  internationalen Studierenden
                  <a
                    href="https://www.studium.uni-freiburg.de/en/counseling/ias/"
                  >
                    International Admissions and Services
                  </a>
                  (IAS) die eingereichten Dokumente.
                  <br />
                  Wir bemühen uns, Sie durch den entsprechenden Eintrag im
                  Bewerberportal oder per Mail möglichst schnell über das
                  Ergebnis zu informieren. Bitte kontaktieren Sie bei Fragen die
                  Studienberatung des Mathematischen Instituts.
                </li>
                <li>
                  Das Bachelor-Zeugnis muss spätestens bei der Einschreibung
                  vorgelegt werden.
                </li>
              </ol>
              <p>
                <b> Benötigte Unterlagen </b>
              </p>
              <p></p>
              <ol>
                <li style="margin-bottom: 5px">
                  Eine Leistungsübersicht (
                  <i> transcript of records </i>
                  ) oder alternative Darstellung der bisherigen Studieninhalte,
                  ggf.
                  <span style="color: #c1002a"> * </span>
                  mit Übersetzung.
                </li>
                <li style="margin-bottom: 5px">
                  Das Zeugnis des berufsqualifizierenden Hochschulabschlusses,
                  der Grundlage für den Zugang zum Master-Studium ist (
                  <i> typischerweise Bachelor in Mathematik </i>
                  ), ggf.
                  <span style="color: #c1002a"> * </span>
                  mit Übersetzung.
                  <br style="margin-bottom: 5px" />
                  Falls das Studium noch nicht abgeschlossen ist und die
                  Informationen nicht aus der Leistungsübersicht hervorgehen:
                  Nachweis über Benotung, Abgabe oder Anmeldung der
                  Bachelor-Arbeit oder, falls dies nicht möglich ist,
                  Bestätigung der Hochschule über das voraussichtliche
                  Abschlussdatum des Studiums.
                </li>
                <li style="margin-bottom: 5px">
                  Für Bewerber aus China, Vietnam und der Mongolei: die
                  APS-Bescheinigung.
                </li>
                <li style="margin-bottom: 5px">
                  Nachweis über Deutschkenntnisse: mindestens Niveau B2 (
                  <a
                    href="https://www.studium.uni-freiburg.de/de/studierendenservices/sprachnachweise"
                  >
                    akzeptierte Nachweise
                  </a>
                  )
                </li>
                <li style="margin-bottom: 5px">
                  Nachweis über Englischkenntnisse: mindestens Niveau B1 (
                  <a
                    href="https://www.studium.uni-freiburg.de/de/studierendenservices/sprachnachweise"
                  >
                    akzeptierte Nachweise
                  </a>
                  )
                </li>
                <li style="margin-bottom: 5px">
                  Das unterschriebene (von HISinOne erzeugte)
                  Bestätigungsformular.
                </li>
              </ol>
              <span style="color: #c1002a">
                * Dokumente können auf Deutsch, Englisch oder Französisch
                eingereicht werden. Von anderssprachigen Dokumenten muss eine
                beglaubigte Übersetzung ins Deutsche oder Englische beigefügt
                werden.
              </span>
            </div>
          </div>
        </div>
        <div class="accordion-item" id="zulassung">
          <h3 class="accordion-header" id="headerzulassung">
            <button
              aria-controls="zulassungContent"
              aria-expanded="false"
              class="accordion-button"
              data-bs-target="#zulassungContent"
              data-bs-toggle="collapse"
              type="button"
            >
              Zulassungsvoraussetzungen
            </button>
          </h3>
          <div
            aria-labelledby="zulassungContent"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
            id="zulassungContent"
          >
            <div class="accordion-body" id="zulassungContent">
              <p>
                <b> (1) </b>
                Ein in Deutschland anerkannter Bachelor-Abschluss in Mathematik
                oder gleichwertiger Abschluss, der folgende Bedingungen erfüllt:
                <br style="margin-bottom: 5px" />
                Mindestens 103 ECTS-Punkte aus fachwissenschaftlichen
                Lehrveranstaltungen in Mathematik (ggf. inklusive mathematischer
                Bachelor-Arbeit), darunter je mindestens 16 ECTS-Punkte aus
              </p>
              <ul>
                <li>Grundvorlesungen in Analysis,</li>
                <li>Grundvorlesungen in Linearer Algebra,</li>
                <li>
                  weiterführenden Veranstaltungen aus der Reinen Mathematik,
                </li>
                <li>
                  weiterführenden Veranstaltungen aus der Angewandte
                  Mathematikcourses in applied mathematics.
                </li>
              </ul>
              Der Abschluss muss zum Zeitpunkt der Bewerbung noch nicht
              vorliegen, spätestens aber zum Zeitpunkt der Einschreibung. Eine
              Mindestnote ist nicht erforderlich.
              <p>
                <b> (2) </b>
                Sprachkenntnisse: Niveau B2 in Deutsch und B1 in Englisch (
                <a
                  href="https://www.studium.uni-freiburg.de/de/studierendenservices/sprachnachweise"
                >
                  akzeptierte Nachweise
                </a>
                )
              </p>
              <p>
                Über die inhaltliche Gleichwertigkeit anderer Abschlüsse sowie
                über Ausnahmen von einzelnen Bedingungen entscheidet die
                Zulassungskommission. Vor der Sitzung der Zulassungskommission
                können keine verbindlichen Aussagen gemacht werden.
                <br style="margin-bottom: 5px" />
                Über die juristische Gleichwertigkeit anderer Abschlüsse, die
                Anerkennung ausländischer Abschlüsse und die Anerkennung von
                Sprachnachweisen entscheidet
                <a href="https://www.studium.uni-freiburg.de/de/beratung/ias">
                  International Admissions and Services
                </a>
                auf Grundlage der gesetzlichen Bestimmungen bzw. der Abkommen
                mit anderen Staaten.
              </p>
              <p>
                <i>
                  Hinweis: Diese Seite dient nur der Information. Rechtlich
                  bindend ist allein die
                  <a
                    href="https://www.studium.uni-freiburg.de/de/studienangebot/studienfaecher/info/363#collapse-Satzungen"
                  >
                    Zulassungsordnung.
                  </a>
                </i>
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item" id="verlauf">
          <h3 class="accordion-header" id="headerverlauf">
            <button
              aria-controls="verlaufContent"
              aria-expanded="false"
              class="accordion-button"
              data-bs-target="#verlaufContent"
              data-bs-toggle="collapse"
              type="button"
            >
              Studienverlauf
            </button>
          </h3>
          <div
            aria-labelledby="verlaufContent"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
            id="verlaufContent"
          >
            <div class="accordion-body" id="verlaufContent">
              <p>
                Das Studium umfasst 120 ECTS-Punkte (Regelstudienzeit 4
                Semester) und gliedert sich in die Teile:
              </p>
              <ul>
                <li>
                  <b> Vorlesungsmodule </b>
                  mit mündlichen Abschlussprüfungen (54 Punkte)
                </li>
                <li>
                  <b> Seminare </b>
                  (12 Punkte)
                </li>
                <li>
                  <b> Wahlmodule Mathematik </b>
                  (9 bis 21 Punkte)
                </li>
                <li>
                  <b> fachfremde Wahlmodule </b>
                  (0 bis 12 Punkte)
                </li>
                <li>
                  <b> Master-Arbeit </b>
                  mit Präsentation (33 Punkte)
                </li>
              </ul>
              In der Spezialisierung Finanzmathematik sind die Wahlmodule bis
              auf 3 ECTS-Punkte durch wirtschaftwissenschaftliche
              Spezialisierungsmodule ersetzt.

              <h3>Beispielhafter Studienverlauf</h3>

              <p>
                Dieser Plan ist
                <b> nur eine Orientierungshilfe! </b>
                Es gibt keine Festlegungen auf bestimmte Fachsemester und keine
                Abfolgebedingungen für die Mathematikveranstaltungen, abgesehen
                von den Zulassungskriterien für die Master-Arbeit (60 im
                Studiengang erworbene ECTS-Punkte). Natürlich sind die
                inhaltlichen Voraussetzungen der gewählten Veranstaltungen zu
                beachten.
              </p>
              <div class="row">
                <div class="col-8">
                  <p style="margin-top: 30px"></p>
                  <table
                    border="1"
                    cellpadding="5"
                    cellspacing="5"
                    class="bg-white table-responsive"
                  >
                    <!--style="transform:scale(0.9);">-->
                    <tr class="bg-ufr-blue-20">
                      <td
                        align="center"
                        style="width: 5%; height: 50px"
                        valign="bottom"
                      >
                        Sem
                      </td>
                      <td align="center" colspan="3" style="width: 72%">
                        <b> Mathematik </b>
                        <br />
                        (mindestens 75 Punkte + 33 Punkte Master-Arbeit inkl.
                        Präsentation)
                      </td>
                      <td align="center" style="width: 23%">
                        <b> Wahlmodule </b>
                        <br />
                        (fachfremd bis 12 Punkte)
                      </td>
                    </tr>
                    <tr>
                      <td colspan="5"></td>
                    </tr>
                    <tr>
                      <td
                        align="center"
                        class="bg-ufr-blue-20"
                        style="height: 70px"
                      >
                        4
                      </td>
                      <td align="center" class="abschlussarbeit" colspan="2">
                        <b> Master-Arbeit </b>
                      </td>
                      <td align="center" class="praesentation-abschlussarbeit">
                        <b>
                          Präsentation der
                          <br />
                          Master-Arbeit
                        </b>
                      </td>
                      <td align="center"></td>
                    </tr>
                    <tr>
                      <td
                        align="center"
                        class="bg-ufr-blue-20"
                        style="height: 70px"
                      >
                        3
                      </td>
                      <td
                        align="center"
                        class="mathematik"
                        rowspan="2"
                        style="width: 24%"
                      >
                        <b> Vertiefungsmodul </b>
                      </td>
                      <td align="center" style="width: 24%"></td>
                      <td align="center" class="seminar" style="width: 24%">
                        <b> Seminar B </b>
                      </td>
                      <td align="center" class="wahlmodul">
                        <b> Wahlmodul </b>
                      </td>
                    </tr>
                    <tr>
                      <td
                        align="center"
                        class="bg-ufr-blue-20"
                        style="height: 70px"
                      >
                        2
                      </td>
                      <td align="center" class="mathematik">
                        <b> Mathematik </b>
                      </td>
                      <td align="center" class="seminar">
                        <b> Seminar A </b>
                      </td>
                      <td align="center" class="wahlmodul">
                        <b> Wahlmodul </b>
                      </td>
                    </tr>
                    <tr>
                      <td
                        align="center"
                        class="bg-ufr-blue-20"
                        style="height: 70px"
                      >
                        1
                      </td>
                      <td align="center" class="mathematik">
                        <b>
                          Reine
                          <br />
                          Mathematik
                        </b>
                      </td>
                      <td align="center" class="mathematik">
                        <b>
                          Angewandte
                          <br />
                          Mathematik
                        </b>
                      </td>
                      <td align="center"></td>
                      <td align="center" class="wahlmodul">
                        <b> Wahlmodul </b>
                      </td>
                    </tr>
                  </table>
                  <p></p>
                  <table border="0" cellspacing="20" style="width: 100%">
                    <tr>
                      <td colspan="6">
                        <b> Legende </b>
                      </td>
                    </tr>
                    <tr>
                      <td>Punkte</td>
                      <td>=</td>
                      <td>ECTS-Punkte</td>
                      <td>Sem</td>
                      <td>=</td>
                      <td>Semester</td>
                    </tr>
                    <tr>
                      <td class="mathematik"></td>
                      <td>=</td>
                      <td>Pflichtmodul mit Wahlvorlesungen</td>
                      <td class="abschlussarbeit"></td>
                      <td>=</td>
                      <td>Master-Arbeit</td>
                    </tr>
                    <tr>
                      <td class="seminar"></td>
                      <td>=</td>
                      <td>Pflichtmodul mit Seminar</td>
                      <td class="praesentation-abschlussarbeit"></td>
                      <td>=</td>
                      <td>Präsentation</td>
                    </tr>
                    <tr>
                      <td class="wahlmodul"></td>
                      <td>=</td>
                      <td colspan="4">
                        Wahlmodule (Mathematik oder fachfremd, beliebige
                        Veranstaltungsart)
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item" id="studienplan">
          <h3 class="accordion-header" id="headerstudienplan">
            <button
              aria-controls="studienplanContent"
              aria-expanded="false"
              class="accordion-button"
              data-bs-target="#studienplanContent"
              data-bs-toggle="collapse"
              type="button"
            >
              Studienorganisation und Dokumente
            </button>
          </h3>
          <div
            aria-labelledby="studienplanContent"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
            id="studienplanContent"
          >
            <div class="accordion-body" id="studienplanContent">
              <p></p>
              <p>
                <b style="font-size: 110%">
                  (A) Belegungen von Veranstaltungen:
                </b>
              </p>
              <ul>
                <li>
                  Belegungen von Vorlesungen, d.h. Abgabe eines
                  Teilnahmewunschs, können über das Vorlesungsverzeichnis in
                  <a href="https://campus.uni-freiburg.de"> HISinOne </a>
                  (Menüpunkt 'Veranstaltungen suchen') ab September bzw. März
                  erfolgen.
                </li>
                <li>
                  Die Anmeldung zu Übungsgruppen/Tutoraten erfolgt nach dem in
                  der Vorlesung bekanntgegebenen Verfahren in der ersten
                  Vorlesungswoche.
                </li>
                <li>
                  Studienpätze für Seminare werden bei der Vorbesprechung am
                  Ende der Vorsemesters vergeben. Die Termine dafür und ggf. die
                  Art der Voranmeldung sind im
                  <a href="https://www.math.uni-freiburg.de/lehre/v/index.html">
                    Kommentierten Vorlesungsverzeichnis
                  </a>
                  angegeben.
                  <br />
                  Es gibt keine Belegung über HISinOne, aber die fristgerechte
                  Anmeldung der Prüfung über HISinOne ist erforderlich!
                </li>
              </ul>
              <p>
                <b style="font-size: 110%">
                  (B) Anmeldungen von Prüfungen und Registrierung von
                  Studienleistungen:
                </b>
              </p>
              <ul>
                <li>
                  Alle Prüfungen müssen vor Ablegen der Prüfung angemeldet
                  werden und alle Studienleistungen registriert werden. Bis auf
                  wenige Ausnahmen geht dies über den Studienplaner in HISinOne
                </li>
                <li>
                  Achtung: Die Belegung einer Veranstaltung ersetzt nicht die
                  Anmeldung der Prüfung bzw. Registrierung der Studienleistung!
                  Insbesondere ist mit der Zuteilung zu einer Übungsgruppe zu
                  Vorlesungsbeginn noch nicht die „Studienleistung Übung“
                  registriert!
                </li>
                <li>
                  Vor der Anmeldung der ersten Prüfungsleistung müssen Sie beim
                  Prüfungsamt einen
                  <a
                    href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/index.html#formulare"
                  >
                    Antrag auf Zulassung zu den studienbegleitenden Prüfungen im
                    Master
                  </a>
                  stellen. Das Prüfungsamt braucht dazu eine vollständige
                  Leistungsübersicht aus Ihrem zugrundeliegenden
                  Bachelor-Studiengang.
                </li>
              </ul>
              <p>
                <b style="font-size: 110%"> (C) Dokumente </b>
              </p>
              <ul>
                <li>
                  <a
                    href="https://www.studium.uni-freiburg.de/de/studienangebot/studienfaecher/info/363#collapse-Satzungen"
                  >
                    Prüfungsordnung
                  </a>
                </li>
                <li>
                  <a
                    href="https://www.math.uni-freiburg.de/lehre/studiengaenge/modulhandbuecher.html"
                  >
                    Modulhandbücher
                  </a>
                  mit den Anforderungen an Studien- und Prüfungsleistungen in
                  den Lehrveranstaltungen
                </li>
                <li>


                  Welche Veranstaltungen für Module mit Wahlmöglichkeiten in Frage
                  kommen, ist im
                  <a href="https://www.math.uni-freiburg.de/lehre/v/index.html">
                    Kommentierten Vorlesungs­verzeichnis
                  </a>
                  und in den
                  <a
                    href="https://www.math.uni-freiburg.de/lehre/studiengaenge/modulhandbuecher.html"
                  >
                    aktuellen Ergänzungen der Modulhandbücher
                  </a>
                  beschrieben. Kompakt findet sich die Information in den
                  <a
                    href="https://www.math.uni-freiburg.de/lehre/studiengaenge/modulhandbuecher.html"
                  >
                    Verwendungstabellen
                  </a>
                  .
    

                  Die genauen Anforderungen an Prüfungs- und Studienleistungen
                  sind semesterweise in den
                  <a
                    href="https://www.math.uni-freiburg.de/lehre/studiengaenge/modulhandbuecher.html"
                  >
                    aktuellen Ergänzungen der Modulhandbücher
                  </a>
                  beschrieben.
                </li>
                <li>
                  <a
                    href="https://www.studium.uni-freiburg.de/de/studienangebot/studienfaecher/info/363#collapse-Satzungen"
                  >
                    Zulassungsordnung.
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item" id="finanz">
          <h3 class="accordion-header" id="headerfinanz">
            <button
              aria-controls="finanzContent"
              aria-expanded="false"
              class="accordion-button"
              data-bs-target="#finanzContent"
              data-bs-toggle="collapse"
              type="button"
            >
              Spezialisierung Finanzmathematik
            </button>
          </h3>
          <div
            aria-labelledby="finanzContent"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
            id="finanzContent"
          >
            <div class="accordion-body" id="finanzContent">
              <p>
                Innerhalb der M.Sc.-Studiengangs Mathematik kann die
                <b> Spezialisierung Finanzmathematik </b>
                gewählt werden. Es gibt dafür keine gesonderte Bewerbung,
                Einschreibung oder Anmeldung. Es werden allerdings
                Englisch-Kenntnisse vom Niveau B2 vorausgesetzt. Wenn am Ende
                alle Bedingungen erfüllt sind, wird die Spezialisierung auf dem
                Zeugnis vermerkt.
              </p>
              <p>
                <b> Kontakt und Beratung </b>
              </p>
              <p></p>
              <ul>
                <li>
                  <a
                    href="https://www.stochastik.uni-freiburg.de/mitarbeiter/hammerstein"
                  >
                    Dr. Ernst August Frhr. v. Hammerstein
                  </a>
                  <br />
                  Ernst-Zermelo-Straße 1, Raum 248
                  <br />
                  Tel. +49 761 203-5673
                  <br />
                  E-Mail:
                  <a
                    href="mailto:ernst.august.hammerstein@stochastik.uni-freiburg.de"
                  >
                    ernst.august.hammerstein@stochastik.uni-freiburg.de
                  </a>
                </li>
              </ul>
              <p>
                <b> Anforderungen der Spezialisierung </b>
              </p>
              <p>
                Es gilt der Studienplan des normalen Master-Studiengangs mit
                folgenden Änderungen:
              </p>
              <p>
                <b> (1) </b>
                In den Modulen „Angewandte Mathematik“, „Mathematik“ und im
                Vertiefungsmodul müssen in mindestens drei der folgende Bereiche
                Prüfungsleistungen erbracht werden:
              </p>
              <ul>
                <li>Stochastische Prozesse</li>
                <li>Stochastische Integration</li>
                <li>Finanzmathematik</li>
                <li>Mathematische Statistik</li>
              </ul>
              <p>
                <b> (2) </b>
                Die Master-Arbeit muss über ein Thema aus der Finanzmathematik
                geschrieben werden.
              </p>
              <p>
                <b> (3) </b>
                An Stelle der Wahlmodule treten wirtschaftswissenschaftliche
                Module im Umfang von mindestens 18 ECTS-Punkten. Zugelassen
                dafür sind die für die Spezialisierung Finance des
                Master-Studiengangs in Economics vorgesehenen Pflicht- oder
                Wahlpflichtmodule. Mindestens 6 ECTS-Punkte müssen auf
                „spezielle Wahlpflichtmodule“ entfallen; das sind die für das
                zweite Studienjahr vorgesehenen Kurse.
                <br style="margin-bottom: 5px" />
                Die wirtschaftswissenschaftlichen Module werden auf Englisch
                angeboten; die Teilnahme setzt ausreichende Englisch-Kenntnisse
                voraus (Niveau mindestens B2).
                <br style="margin-bottom: 5px" />
                Angeboten werden z.B.:
              </p>
              <ul>
                <li>
                  <i> allgemeine und spezielle Pflichtmodule: </i>
                  <br />
                  (jährlich) „Advanced Macroeconomics I“, „Advanced
                  Macroeconomics II“, „Advanced Microeconomics I“, „Advanced
                  Microeconomics II“, „Economic Policy and Public Choice“,
                  „Computational Economics“, „Intermediate Econometrics“,
                  „Principles of Finance“
                </li>
                <li>
                  <i> spezielle Wahlfplichtmodule: </i>
                  <br />
                  <i> (jährlich) </i>
                  „Futures and Options“, Seminare und Topics-Kurse aus dem
                  Bereich „Finance“
                  <br />
                  <i> (unregelmäßig) </i>
                  „Computational Finance“, „Continuous Time Finance“, „Corporate
                  Finance“, „Credit Risk“, „Financial Data Analysis“, „Interest
                  Rate Theory“, „Portfolio Management“, „Risk Management“, „Time
                  Series Analysis“
                </li>
              </ul>
              Die im SS 2023 vom Institut für Wirtschaftswissenschaften
              angebotenen Pflicht- und (speziellen) Wahlpflichtmodule im
              Finance-Profil des M.Sc. Economics können
              <a
                href="https://master.econ.uni-freiburg.de/data/overview-courses-ss2023-20230329.pdf"
              >
                dieser Tabelle
              </a>
              entnommen werden. Anrechenbar für die Spezialisierung
              Finanzmathematik sind alle Veranstaltungen außer ggf.
              <i> External Electives </i>
              .
              <p>
                Das Wahlmodul reduziert sich demgemäß auf 0–3 ECTS-Punkte. Die
                Veranstaltungen dafür können aus der Mathematik oder aus anderen
                Fächern stammen.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
