<div class="container" id="inhalt">
 <h1>
  Promotion
 </h1>
 <h2>
  Kontaktadresse
 </h2>
 <p>
  Dekanat, Ernst-Zermelo-Straße 1
  <br/>
  Roswitha Schönfeld, Raum 428, Tel: 0761 203 5534
  <br/>
  E-Mail:
  <a href="mailto:roswitha.schoenfeld@mathphys.uni-freiburg.de">
   roswitha.schoenfeld@mathphys.uni-freiburg.de
  </a>
 </p>
 <h2>
  Schritt für Schritt zur Promotion
 </h2>
 <div id="accordion">
 </div>
 <div class="accordion accordion-flush" id="accordionExample">
  <div class="accordion-item" id="_betreuung">
   <h3 class="accordion-header" id="header_betreuung">
    <button aria-controls="_betreuungContent" aria-expanded="false" class="accordion-button" data-bs-target="#_betreuungContent" data-bs-toggle="collapse" type="button">
     Betreuung der Dissertation
    </button>
   </h3>
   <div aria-labelledby="_betreuungContent" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="_betreuungContent">
    <div class="accordion-body" id="betreuungContent">
     <p>
      Abgesehen von verschiedenen
      <a href="http://www.frs.uni-freiburg.de/de/iga/promotionsprogramme">
       Promotionsprogrammen
      </a>
      müssen an einer Promotion Interessierte zunächst von einer zur Promotionsbetreuung
	berechtigte Person (siehe §3 der PO) eine Betreuungszusage erhalten.
     </p>
     <p>
      Die in Frage kommenden Betreuer/innen finden Sie unter den Dozenten auf
      <a href="https://www.math.uni-freiburg.de/forschung/index.html?l=de">
       dieser
	Seite
      </a>
      .
     </p>
     <p>
      Nach der Betreuungszusage muss zwischen Ihnen und dem Betreuer/ der Betreuerin eine Promotionsvereinbarung abgeschlossen werden.
     </p>
    </div>
   </div>
  </div>
  <div class="accordion-item" id="_vereinbarung">
   <h3 class="accordion-header" id="header_vereinbarung">
    <button aria-controls="_vereinbarungContent" aria-expanded="false" class="accordion-button" data-bs-target="#_vereinbarungContent" data-bs-toggle="collapse" type="button">
     Promotionsvereinbarung
    </button>
   </h3>
   <div aria-labelledby="_vereinbarungContent" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="_vereinbarungContent">
    <div class="accordion-body" id="vereinbarungContent">
     <p>
      Voraussetzung für die Annahme als Doktorand/in ist der Abschluss einer Promotionsvereinbarung mit dem/der Betreuer/in.
     </p>
     <ol>
      <li>
       <a href="promotion/Hinweisblatt_Promotionsvereinbarung.pdf">
        Hinweisblatt zur Promotionsvereinbarung
       </a>
      </li>
      <li>
       <a href="promotion/Promotionsvereinbarung_MathPhys_Vordruck.pdf">
        Promotionsvereinbarung
       </a>
      </li>
      <li>
       <a href="promotion/Anlage1_Promotionsvereinbarung_fin.doc">
        Anlage 1 zur Promotionsvereinbarung
       </a>
      </li>
      <li>
       <a href="promotion/Anlage2_Promotionsvereinbarung_fin.doc">
        Anlage 2 zur Promotionsvereinbarung
       </a>
      </li>
     </ol>
    </div>
   </div>
  </div>
  <div class="accordion-item" id="_annahme">
   <h3 class="accordion-header" id="header_annahme">
    <button aria-controls="_annahmeContent" aria-expanded="false" class="accordion-button" data-bs-target="#_annahmeContent" data-bs-toggle="collapse" type="button">
     Annahme als Doktorand/Doktorandin
    </button>
   </h3>
   <div aria-labelledby="_annahmeContent" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="_annahmeContent">
    <div class="accordion-body" id="annahmeContent">
     <p>
      Stellen Sie bitte zeitnah nach dem Abschluss der
	Promotionsvereinbarung den Antrag auf Annahme als Doktorand/Doktorandin
	über das Online-System-Docata.
     </p>
     <p>
      Seit der Novellierung des Hochschulstatistikgesetzes durch den Deutschen
	Bundestag im Jahr 2016 sind alle staatlichen Hochschulen dazu
	verpflichtet, bestimmte Daten von ihren Promovierenden zu erheben. Aus
	diesem Grund ist vor der eigentlichen Antragsstellung auf Annahme als
	Doktorand/in eine Datenerfassung für Promotionsinteressierte (DOC 501)
	notwendig.
      <a href="https://wiki.uni-freiburg.de/campusmanagement/doku.php?id=hisinone:promotionsinteresse:annahmeantrag#schritt_1datenerfassung_fuer_promotionsinteressierte_doc_501">
       Datenerfassung in "HISinOne"&gt;
       <p>
       </p>
       <p>
        Ihr Uni-Account muss zunächst für das Online-System Docata freigeschaltet
	werden. Weitere Informationen finden Sie auf der
        <a href="https://wiki.uni-freiburg.de/campusmanagement/doku.php?id=hisinone:promotionsinteresse:annahmeantrag">
         Wiki-Seite
        </a>
       </p>
       <p>
        Der Antrag auf Annahme als Doktorand wird in Docata erstellt.
       </p>
       <p>
        <a href="https://docata.zv.uni-freiburg.de/">
         Zu Docata
        </a>
       </p>
       <p>
        Nach Fertigstellung bitte den ausgedruckten und unterschriebenen
	Antrag zusammen mit allen weiteren notwendigen Unterlagen  (§ 6 Abs. 2)
	im Dekanat der Fakultät, Ernst-Zermelo-Str. 1, IV OG, Raum 428,
	einreichen. Bitte beachten Sie, dass eine Entscheidung über die Annahme
	als Doktorand/Doktorandin nur auf Basis eines vollständigen Antrages
	erfolgen kann. Über die Annahme entscheidet der Promotionsausschuss.
       </p>
       <p>
        Die Entscheidung des Promotionsausschusses wird Ihnen schriftlich
	mitgeteilt und im Falle der Ablehnung begründet (§ 7 Abs. 3 Satz 3
	RPO).
       </p>
      </a>
     </p>
    </div>
   </div>
  </div>
  <div class="accordion-item" id="_registrierung">
   <h3 class="accordion-header" id="header_registrierung">
    <button aria-controls="_registrierungContent" aria-expanded="false" class="accordion-button" data-bs-target="#_registrierungContent" data-bs-toggle="collapse" type="button">
     Immatrikulations - bzw. Registrierungspflicht
    </button>
   </h3>
   <div aria-labelledby="_registrierungContent" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="_registrierungContent">
    <div class="accordion-body" id="registrierungContent">
     <p>
      Nach der Annahme als Doktorand/in durch die Fakultät müssen
		Sie sich im
      <a href="http://www.studium.uni-freiburg.de/de">
       Service Center
		Studium
      </a>
      an der Universität Freiburg immatrikulieren (siehe § 38 Abs. 5,
		Satz 1, erster Halbsatz des Landeshochschulgesetzes [LHG]). Die
		Immatrikulationspflicht gilt für alle Promovierenden, die nach dem 30.März 2018
		an der Universität Freiburg als Doktorand/in angenommen werden.
     </p>
     <p>
      Eine Ausnahme besteht für Promovierende, die hauptberuflich
		an der Universität Freiburg tätig sind (Arbeitsvertrag mit einem Umfang von
		mindestens der Hälfte der regelmäßigen Arbeitszeit); sie können sich von der
		Immatrikulationspflicht befreien lassen.
     </p>
     <p>
      Alle Promovierenden, die bereits vor dem 30.März 2018 als
		Doktorand/in angenommen worden sind, sind zur Immatrikulation berechtigt, aber
		nicht verpflichtet. Promovierende, die sich nicht immatrikulieren lassen, sind
		zur Registrierung verpflichtet. Weitere Informationen finden Sie auf der Seite
		des
      <a href="https://www.frs.uni-freiburg.de/de/promovierende/index">
       Freiburg Research Services.
      </a>
     </p>
     <p>
      Siehe auch:
     </p>
     <ul>
      <li>
       <a href="promotion/Flyer_Imm_Reg_deu.pdf">
        Flyer (deutsch)
       </a>
      </li>
      <li>
       <a href="promotion/Flyer_Imm_Reg_engl.pdf">
        Flyer (engl)
       </a>
      </li>
     </ul>
     <p>
      Hinweis: Den "Antrag auf Immatrikulation/ Registrierung für Promovierende"  finden Sie auf der Webseite des Service Center Studiums. Download Link:
      <a href="http://www.studium.uni-freiburg.de/de/studierendenservices/immatrikulation/docs/Uni-Freiburg-Merkblatt-und-Immatrikulationsantrag-Promovierende.pdf">
       Merkblatt und Antrag auf Immatrikulation/Registrierung
      </a>
     </p>
    </div>
   </div>
  </div>
  <div class="accordion-item" id="_promotion">
   <h3 class="accordion-header" id="header_promotion">
    <button aria-controls="_promotionContent" aria-expanded="false" class="accordion-button" data-bs-target="#_promotionContent" data-bs-toggle="collapse" type="button">
     Während der Promotion
    </button>
   </h3>
   <div aria-labelledby="_promotionContent" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="_promotionContent">
    <div class="accordion-body" id="promotionContent">
     <p>
      <b>
       Aufgaben und Pflichten des Doktoranden/der Doktorandin sowie des
	Betreuers/der Betreuerin sind in der Promotionsvereinbarung
	geregelt.
      </b>
     </p>
     <p>
      Der verantwortliche Betreuer/Die verantwortliche Betreuerin stellt
	sicher, dass der Doktorand/die Doktorandin mit den Regeln guter
	wissenschaftlicher Praxis vertraut gemacht wurde.
     </p>
     <p>
      <a href="https://uni-freiburg.de/forschung/wp-content/uploads/sites/2/2020/10/Uni-Freiburg-Ordnung-Redlichkeit-in-der-Wissenschaft.pdf">
       Ordnung-Redlichkeit-in-der-Wissenschaft-mit-2ter-Aenderungssatzung.pdf
      </a>
     </p>
     <p>
      <a href="https://uni-freiburg.de/forschung/wp-content/uploads/sites/2/2020/10/Uni-Freiburg-Ordnung-Redlichkeit-in-der-Wissenschaft-en.pdf">
       Ordnung-Redlichkeit-in-der-Wissenschaft-mit-2ter-Aenderungssatzung-en.pdf
      </a>
     </p>
     <p>
      Zwei Jahre nach Annahme als Doktorand/Doktorandin überprüft der
	verantwortliche Betreuer/ die verantwortliche Betreuerin, ob das
	Promotionsvorhaben fortgeführt werden kann, und teilt das Ergebnis der
	Überprüfung dem Promotionsausschuss mit.
     </p>
    </div>
   </div>
  </div>
  <div class="accordion-item" id="_eroeffnung">
   <h3 class="accordion-header" id="header_eroeffnung">
    <button aria-controls="_eroeffnungContent" aria-expanded="false" class="accordion-button" data-bs-target="#_eroeffnungContent" data-bs-toggle="collapse" type="button">
     Eröffnung des Promotionsverfahren/Abgabe der Dissertation
    </button>
   </h3>
   <div aria-labelledby="_eroeffnungContent" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="_eroeffnungContent">
    <div class="accordion-body" id="eroeffnungContent">
     <p>
      Nach Fertigstellung der Dissertation stellen Sie im Dekanat
		den Antrag auf Eröffnung des Promotionsverfahrens. Dem Antrag
		sind die in der Promotionsordnung unter § 7 aufgeführten
		Unterlagen beizufügen.
     </p>
     <ol>
      <li>
       <a href="promotion/Antrag auf Eröffnung des Promotionsverfahrens.docx">
        Antrag auf Eröffnung des
		Promotionsverfahrens
       </a>
      </li>
      <li>
       <a href="promotion/Eidesstattliche Versicherung-Formular.pdf">
        Eidesstattliche Versicherung
       </a>
      </li>
      <li>
       <a href="promotion/Belehrung_eidesstattliche_Versicherung.pdf">
        Belehrung
		über die Bedeutung und die strafrechtlichen Folgen der
		Eidesstattlichen Versicherung
       </a>
      </li>
      <li>
       <a href="promotion/Veröffentlichungen.doc">
        Veröffentlichungen
       </a>
      </li>
      <li>
       <a href="promotion/Abfrage_PromVereinbarung.docx">
        Abfrage Promotionsvereinbarung
       </a>
      </li>
      <li>
       Vorlage für das Titelblatt (
       <a href="promotion/Titelblatt_Dissertation.pdf">
        pdf
       </a>
       ,
       <a href="promotion/Titelblatt_Dissertation.docx">
        docx
       </a>
       ,
       <a href="promotion/Dissertation-Titelseite-20170302.zip">
        TeX (.zip)
       </a>
       )
      </li>
     </ol>
     <h4>
      Eröffnung des Promotionsverfahrens für bereits nach der alten
	Promotionsordnung angenommene DoktorandInnen (siehe
	Übergangsbestimmung)
     </h4>
     <ul>
      <li>
       Antrag auf Eröffnung des Promotionsverfahrens nach der
		neuen PromO (
       <a href="promotion/Übergangsbestimmung_Antrag_auf_Eroeffnung_des_Promotionsverfahren_neue_PromO.docx">
        docx
       </a>
       ,
       <a href="promotion/Übergangsbestimmung_Antrag_auf_Eroeffnung_des_Promotionsverfahren_neue_PromO.pdf">
        pdf
       </a>
       )
      </li>
     </ul>
    </div>
   </div>
  </div>
  <div class="accordion-item" id="_disputation">
   <h3 class="accordion-header" id="header_disputation">
    <button aria-controls="_disputationContent" aria-expanded="false" class="accordion-button" data-bs-target="#_disputationContent" data-bs-toggle="collapse" type="button">
     Disputation / Mündliche Prüfung
    </button>
   </h3>
   <div aria-labelledby="_disputationContent" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="_disputationContent">
    <div class="accordion-body" id="disputationContent">
     <p>
      Nach Eingang sämtlicher Gutachten und dem Vorschlag der
		Gutachter auf Annahme der Dissertation bestellt der
		Promotionsauschuss die Prüfungskommission für die mündliche
		Prüfung und die Festlegung des Gesamtergebnisses der
		Promotion.
     </p>
     <p>
      Der Doktorand/Die Doktorandin vereinbart mit der
		Prüfungskommission einen Termin für die mündliche Prüfung
		(Disputation).
     </p>
     <p>
      Die Disputation, die in deutscher oder englischer Sprache
		abzuhalten ist, ist eine vertiefte wissenschaftliche
		Aussprache, die zeigen soll, dass der Doktorand/die Doktorandin
		das Fachgebiet, dem die Dissertation entstammt, beherrscht und
		aktuelle Entwicklungen seines/ihres Fachs kennt. Sie erstreckt
		sich darüber hinaus auf ausgewählte Themen angrenzender
		Fachgebiete, die sachlich und methodisch mit dem Arbeitsgebiet
		zusammenhängen. Die Disputation hat eine Dauer von etwa 90
		Minuten; sie beginnt mit einem etwa 30-minütigen Vortrag des
		Doktoranden/der Doktorandin über die Dissertation. Der/Die
		Vorsitzende der Prüfungskommission leitet die
		Disputation; er/sie kann auch Fragen aus der Öffentlichkeit zu
		dem Vortrag des Doktroanden/der Doktorandin zulassen. Die
		Disputation ist fakultätsöffentlich.
     </p>
    </div>
   </div>
  </div>
  <div class="accordion-item" id="_veroeffentlichung">
   <h3 class="accordion-header" id="header_veroeffentlichung">
    <button aria-controls="_veroeffentlichungContent" aria-expanded="false" class="accordion-button" data-bs-target="#_veroeffentlichungContent" data-bs-toggle="collapse" type="button">
     Veröffentlichung der Dissertation
    </button>
   </h3>
   <div aria-labelledby="_veroeffentlichungContent" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="_veroeffentlichungContent">
    <div class="accordion-body" id="veroeffentlichungContent">
     <p>
      Der Doktorand/Die Doktorandin ist verpflichtet, innerhalb
		eines Jahres nach Bestehen der mündlichen Prüfung die
		eingereichte und angenommene Dissertation, gegebenenfalls mit
		den von der Prüfungskommission verlangten beziehungsweise
		genehmigten Änderungen, der wissenschaftlichen Öffentlichkeit
		in angemessener Weise durch Vervielfältigung und Verbreitung
		zugänglich zu machen.
     </p>
     <p>
      Vor der Veröffentlichung ist die Dissertation zur Erteilung
		der Druckerlaubnis dem verantwortlichen Betreuer/ der
		verantwortlichen Betreuerin vorzulegen. Die Druckerlaubnis ist
		auf einem Formblatt abzugeben und zur Promotionsakte zu
		nehmen.
     </p>
     <p>
      <a href="promotion/PromO_neu_Druckerlaubnis_§13Abs.2.docx">
       Druckerlaubnis
		nach §13 Abs. 2
      </a>
     </p>
     <p>
      Die Dissertation gilt als veröffentlicht, wenn Sie die
		Bedingungen laut §13 Abs. 3 der Promotionsordnung erfüllt.
     </p>
    </div>
   </div>
  </div>
  <div class="accordion-item" id="_vollzug">
   <h3 class="accordion-header" id="header_vollzug">
    <button aria-controls="_vollzugContent" aria-expanded="false" class="accordion-button" data-bs-target="#_vollzugContent" data-bs-toggle="collapse" type="button">
     Vollzug der Promotion und Urkunde
    </button>
   </h3>
   <div aria-labelledby="_vollzugContent" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="_vollzugContent">
    <div class="accordion-body" id="vollzugContent">
     <p>
      Die Promotion wird durch die Aushändigung der Urkunde vollzogen.
     </p>
     <p>
      Die Promotionsurkunde wird erst ausgehändigt, wenn der
		Doktorand/die Doktorandin gemäß § 13 Abs. 3 die
		Pflichtexemplare der Dissertation bei der Fakultät für
		Mathematik und Physik abgeliefert hat.
     </p>
     <p>
      Vor der Aushändigung der Promotionsurkunde hat der
		Doktorand/die Doktorandin nicht das Recht, den Doktorgrad zu führen, auch nicht
		mit einem Zusatz.
     </p>
    </div>
   </div>
  </div>
  <div class="accordion-item" id="ueBest">
   <h2 class="accordion-header" id="headerueBest">
    <button aria-controls="ueBestContent" aria-expanded="false" class="accordion-button" data-bs-target="#ueBestContent" data-bs-toggle="collapse" type="button">
     Übergangsbestimmungen
    </button>
   </h2>
   <div aria-labelledby="ueBestContent" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="ueBestContent">
    <div class="accordion-body" id="ueBestContent">
     <p>
      Seit dem 1. Juni 2016 ist die neue Promotionsordnung der
Albert-Ludwigs-Universität für die Fakultät für Mathematik und Physik
rechtskräftig.
     </p>
     <p>
      Für zum Zeitpunkt des Inkrafttretens der neuen Promotionsordnung bereits zur
Promotion angenommene Doktoranden/Doktorandinnen gelten die bisherigen
Vorschriften (Promotionsordnung vom 7.Juli 2003).
     </p>
     <p>
      Auf Antrag kann die Anwendung der
      <b>
       neuen
      </b>
      Promotionsordnung
      <b>
       beantragt werden
      </b>
      .
     </p>
     <p>
      <a href="promotion/Übergangsbestimmung_Antrag_auf_Eroeffnung_des_Promotionsverfahren_neue_PromO.pdf">
       Antrag
dazu: Link
      </a>
     </p>
     <p>
      Wird dieser Antrag
      <b>
       nicht gestellt
      </b>
      , so findet das Promotionsverfahren
nach der
      <b>
       alten
      </b>
      Promotionsordnung statt.
     </p>
    </div>
   </div>
  </div>
  <div class="accordion-item" id="altePromO">
   <h2 class="accordion-header" id="headeraltePromO">
    <button aria-controls="altePromOContent" aria-expanded="false" class="accordion-button" data-bs-target="#altePromOContent" data-bs-toggle="collapse" type="button">
     Unterlagen zur alten Promotionsordnung
    </button>
   </h2>
   <div aria-labelledby="altePromOContent" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="altePromOContent">
    <div class="accordion-body" id="altePromOContent">
     <ul>
      <li>
       <a href="https://www.math.uni-freiburg.de/lehre/dokumente/promotionsordnung-fr-2003.pdf">
        Promotionsordnung (pdf)
       </a>
       <ul>
        <li>
         <a href="http://www.zuv.uni-freiburg.de/aktuelles/amtliche_bekanntmachungen/ab-2012-112/at_download/file">
          Erste Satzung zur Änderung der Promotionsordnung
         </a>
         der Universität Freiburg für die Fakultät für Mathematik und Physik (pdf)
        </li>
        <li>
         <a href="promotion/promordnung_nichtamtliche_lesefassung.pdf">
          Nichtamtliche Lesefassung des JSL
         </a>
         (obige Satzungsänderungen inbegriffen)
        </li>
       </ul>
      </li>
     </ul>
     <ul>
      <li>
       Vordrucke für das Promotionsverfahren
       <ul>
        <li>
         <strong>
          Vorveröffentlichungen (§ 6 Abs. 5)
         </strong>
         <br/>
         <br/>
         Als Dissertation kann nur eine Originalarbeit angenommen werden. Vorveröffentlichungen in referierten Fachzeitschriften, die den Inhalt der Dissertation berühren, sind
         <strong>
          vor Einreichung zur Publikation
         </strong>
         dem/der Fachvorsitzenden des Promotionsausschusses anzuzeigen und
         <strong>
          sind in der Dissertation aufzuführen
         </strong>
         .
         <br/>
         <ul>
          <li>
           <a href="promotion/Anzeige_Vorveröffentlichung.docx">
            Anzeige von Vorveröffentlichungen
           </a>
          </li>
         </ul>
         <br/>
        </li>
        <li>
         <strong>
          Zulassung zur Promotion (§ 7)
         </strong>
         <br/>
         <br/>
         Wer den Grad eines Doctor rerum naturalium an der Fakultät für Mathematik und Physik erwerben möchte, hat an den Fachvorsitzenden/die Fachvorsitzende des Promotionsausschusses ein schriftliches Gesuch um Zulassung zur Promotion zu richten.
         <br/>
         <ul>
          <li>
           <a href="promotion/Gesuch_um_Zulassung_zur_Promotion.doc">
            Gesuch um Zulassung zur Promotion
           </a>
          </li>
         </ul>
         <br/>
         Dem Gesuch sind folgende Angaben bzw. Unterlagen beizufügen:
         <ol>
          <li>
           eine kurze Darstellung des Lebenslaufs und des Studiengangs
          </li>
          <li>
           sämtliche Studienbücher für die Dauer des Promotionsverfahrens
          </li>
          <li>
           beglaubigte Kopien von Zeugnissen über Studienabschlüsse gemäß § 4, gegebenenfalls der Bescheid des Promotionsausschusses über den erfolgreichen Abschluss des Eignungsfeststellungsverfahrens gemäß § 4 Absatz 4
          </li>
          <li>
           bereits angefertigte Diplomarbeiten, wissenschaftliche Arbeiten im   Lehramtsstudiengang, Master- oder Magisterarbeiten sowie gegebenenfalls bereits veröffentlichte wissenschaftliche Arbeiten für die Dauer des Promotionsverfahrens
          </li>
          <li>
           die druckreife oder gedruckte Dissertation in vier Exemplaren, von denen zwei Exemplare DIN A4 Format haben müssen
          </li>
          <li>
           eine
           <a href="promotion/Erklärungen-Zulassung_zur_Promotion.pdf">
            Erklärung
           </a>
           folgenden Inhalts: "Ich erkläre hiermit, dass ich die vorliegende Arbeit ohne unzulässige Hilfe Dritter und ohne Benutzung anderer als der angegebenen Hilfsmittel angefertigt habe. Die aus anderen Quellen direkt oder indirekt übernommenen Daten und Konzepte sind unter Angabe der Quelle gekennzeichnet. Insbesondere habe ich hierfür nicht die entgeltliche Hilfe von Vermittlungs-  beziehungsweise Beratungsdiensten (Promotionsberater/-beraterinnen oder anderer Personen) in Anspruch genommen. Die Arbeit wurde bisher weder im In- noch im Ausland in gleicher oder ähnlicher Form einer Prüfungsbehörde vorgelegt."
          </li>
          <li>
           gegebenenfalls die Angabe von Name, Status und Anschrift des Betreuers   bzw. der Betreuer der Dissertation
          </li>
          <li>
           eine
           <a href="promotion/Erklärungen-Zulassung_zur_Promotion.pdf">
            Erklärung
           </a>
           darüber, ob der Bewerber sich bereits an einer in- oder ausländischen Hochschule um die Promotion beworben hat oder gleichzeitig bewirbt. Dabei vorgelegte Promotionsgesuche sind unter Angabe von Ort, Fakultät, Zeitpunkt und Thema der eingereichten Dissertation mitzuteilen
          </li>
          <li>
           eine
           <a href="promotion/Erklärungen-Zulassung_zur_Promotion.pdf">
            Erklärung
           </a>
           folgenden Inhalts: "Die Bestimmungen der Promotionsordnung der Universität Freiburg für die Fakultät für Mathematik und Physik sind mir bekannt; insbesondere weiß ich, dass ich vor der Aushändigung der Doktorurkunde zur Führung des Doktorgrades nicht berechtigt bin."
          </li>
          <li>
           ein
           <a href="promotion/fuehrungszeugnis.html">
           </a>
           Führungszeugnis neueren Datums nach dem Bundeszentralregistergesetz
           <p>
            (
            <em>
             Das Führungszeugnis ist bei der Stadt-/Gemeindeverwaltung, bei der man
	  einen Haupt- oder Nebenwohnsitz hat, zu beantragen. In Freiburg ist das
             <a href="http://www.freiburg.de/pb/,Lde/205252.html">
              Bürgeramt
             </a>
             zuständig. 
	  Das Führungszeugnis ist drei Monate lang gültig.
            </em>
            )
           </p>
          </li>
         </ol>
         Zusätzlich ist eine Erklärung über die bereits angezeigten und erfolgten Vorveröffentlichungen in referierten Fachzeitschriften zusammen mit dem Gesuch um Zulassung zur Promotion einzureichen.
         <br/>
         <ul>
          <li>
           <a href="promotion/Erklärung_Vorveröffentlichungen-Zulassung_zur_Promotion.doc">
            Erklärung zu Vorveröffentlichungen in referierten Zeitschriften
           </a>
          </li>
         </ul>
        </li>
       </ul>
       <br/>
      </li>
     </ul>
    </div>
   </div>
  </div>
  <div class="accordion-item" id="links">
   <h2 class="accordion-header" id="headerlinks">
    <button aria-controls="linksContent" aria-expanded="false" class="accordion-button" data-bs-target="#linksContent" data-bs-toggle="collapse" type="button">
     Links und Downloads
    </button>
   </h2>
   <div aria-labelledby="linksContent" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="linksContent">
    <div class="accordion-body" id="linksContent">
     <h3>
      Vordrucke neue Promotionsordnung:
     </h3>
     <ul>
      <li>
       <a href="promotion/promotionsordnung-fr-2016.pdf">
        Promotionsordnung
       </a>
       (
       <a href="promotion/promotionsordnung-fr-2016_eng.pdf">
        in english
       </a>
       )
      </li>
      <li>
       <a href="promotion/Merkblatt_und_Immatrikulationsantrag_Promovierende.pdf">
        Merkblatt und Antrag auf Immatrikulation/Registrierung
       </a>
      </li>
      <li>
       <a href="promotion/Promotionsvereinbarung_MathPhys_Vordruck.pdf">
        Promotionsvereinbarung
       </a>
      </li>
      <li>
       <a href="promotion/Anlage1_Promotionsvereinbarung_fin.doc">
        Anlage 1 zur Promotionsvereinbarung
       </a>
      </li>
      <li>
       <a href="promotion/Anlage2_Promotionsvereinbarung_fin.doc">
        Anlage 2 zur Promotionsvereinbarung
       </a>
      </li>
      <li>
       <a href="promotion/Antrag auf Eröffnung des Promotionsverfahrens.docx">
        Antrag auf Eröffnung des Promotionsverfahrens
       </a>
      </li>
      <li>
       <a href="promotion/Abfrage_PromVereinbarung.docx">
        Abfrage Promotionsvereinbarung
       </a>
      </li>
      <li>
       Vorlage für das Titelblatt (
       <a href="promotion/Titelblatt_Dissertation.pdf">
        pdf
       </a>
       ,
       <a href="promotion/Titelblatt_Dissertation.docx">
        docx
       </a>
       )
      </li>
      <li>
       <a href="promotion/Eidesstattliche Versicherung-Formular.pdf">
        Eidesstattliche Versicherung
       </a>
      </li>
      <li>
       <a href="promotion/Veröffentlichungen.doc">
        Veröffentlichungen
       </a>
      </li>
      <li>
       <a href="promotion/PromO_neu_Druckerlaubnis_§13Abs.2.docx">
        Druckerlaubnis nach §13 Abs. 2
       </a>
      </li>
     </ul>
     <h3>
      Vordrucke alte Promotionsordnung:
     </h3>
     <ul>
      <li>
       <a href="https://www.math.uni-freiburg.de/lehre/dokumente/promotionsordnung-fr-2003.pdf">
        Promotionsordnung (pdf)
       </a>
      </li>
      <li>
       <a href="promotion/Anzeige_Vorveröffentlichung.docx">
        Anzeige von Vorveröffentlichungen
       </a>
      </li>
      <li>
       <a href="promotion/Gesuch_um_Zulassung_zur_Promotion.doc">
        Gesuch um Zulassung zur Promotion
       </a>
      </li>
      <li>
       <a href="promotion/Erklärungen-Zulassung_zur_Promotion.pdf">
        Erklärung
       </a>
      </li>
      <li>
       <a href="promotion/Erklärung_Vorveröffentlichungen-Zulassung_zur_Promotion.doc">
        Erklärung zu Vorveröffentlichungen in referierten Zeitschriften
       </a>
      </li>
     </ul>
     <a href="http://www.frs.uni-freiburg.de/de/iga/kurse/dateien/antrag_registrierung">
      Antrag auf Registrierung (IGA)
     </a>
    </div>
   </div>
  </div>
  <div class="accordion-item" id="konvent">
   <h2 class="accordion-header" id="headerkonvent">
    <button aria-controls="konventContent" aria-expanded="false" class="accordion-button" data-bs-target="#konventContent" data-bs-toggle="collapse" type="button">
     Doktorandenvertretung der Fakultät für Mathematik und Physik
    </button>
   </h2>
   <div aria-labelledby="konventContent" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="konventContent">
    <div class="accordion-body" id="konventContent">
     Die Doktorandenvertreter der Fakultät für Mathematik und Physik kümmern
sich um die Vernetzung der Promovierenden durch Organisation von
Veranstaltungen und um die Vertretung ihrer Rechte. Alle weiteren Infos
finden sich auf der Website der Doktorandenvertretung:
     <br/>
     <a href="https://www.phd.mathphys.uni-freiburg.de/">
      https://www.phd.mathphys.uni-freiburg.de
     </a>
     <br/>
     <br/>
     Neue Promovierende können sich auf den Mailverteiler der Doktorandenvertretung anmelden durch Senden einer leeren Mail an:
     <br/>
     <a href="mailto:phdstudents-subscribe@mathphys.uni-freiburg.de">
      phdstudents-subscribe@mathphys.uni-freiburg.de
     </a>
    </div>
   </div>
  </div>
  <div class="accordion-item" id="beratung">
   <h2 class="accordion-header" id="headerberatung">
    <button aria-controls="beratungContent" aria-expanded="false" class="accordion-button" data-bs-target="#beratungContent" data-bs-toggle="collapse" type="button">
     Beratungseinrichtungen an der Albert-Ludwigs-Universität Freiburg
    </button>
   </h2>
   <div aria-labelledby="beratungContent" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="beratungContent">
    <div class="accordion-body" id="beratungContent">
     <ul>
      <li>
       <a href="http://www.frs.uni-freiburg.de/de/iga">
        IGA
       </a>
      </li>
      <li>
       <a href="http://www.frs.uni-freiburg.de/">
        Seite des
		Freiburg Research Services
       </a>
      </li>
      <li>
       <a href="https://www.frs.uni-freiburg.de/de/iga/finanzierung/foerderberatung">
        Förderberatung
       </a>
      </li>
      <li>
       <a href="http://www.welcomecenter.uni-freiburg.de/front-page">
        Welcome Service for Internationals
       </a>
      </li>
      <li>
       <a href="https://www.frs.uni-freiburg.de/de/ombudsstelle/index">
        Ombudsverfahren für Promovierende und Betreuende
       </a>
      </li>
      <li>
       <a href="http://www.frs.uni-freiburg.de/de/iga/beratung/korrekturservice">
        Korrekturservice
       </a>
      </li>
      <li>
       <a href="http://www.frs.uni-freiburg.de/de/iga/beratung/sprachtandem">
        Sprachtandem
       </a>
      </li>
      <li>
       <a href="http://www.frs.uni-freiburg.de/de/iga/beratung/schreibberatung">
        Schreibberatung
       </a>
      </li>
      <li>
       <a href="http://www.frs.uni-freiburg.de/de/iga/beratung/karriereberatung">
        Karriereberatung
       </a>
      </li>
      <li>
       <a href="http://www.frs.uni-freiburg.de/de/iga/beratung/gruendungsberatung">
        Gründungsberatung
       </a>
      </li>
      <li>
       <a href="http://www.frs.uni-freiburg.de/de/iga/beratung/individuelles-coaching">
        Transfer-Coaching
       </a>
      </li>
      <li>
       <a href="http://www.frs.uni-freiburg.de/de/iga/promotion/betreuungskultur">
        Kompass zur guten Betreuung von Promovierenden
       </a>
      </li>
     </ul>
    </div>
   </div>
  </div>
 </div>
</div>
