<div class="row row-cols-1 row-cols-md-4 g-3">
  <div class="col">
    <div class="card h-100">
      <center>
        <img
          src="/static/pdf/latex/promotion.jpg"
          class="card-img-fluid d-none d-md-block"
          alt="..."
          style="height: 100%; width: 100%; object-fit: cover"
        />
      </center>
      <div class="card-body">
        <h3 class="h5">Promotion in Mathematik</h3>
        <div class="card-text">
          <p>
            Für alle, die auch nach dem Studium noch mathematisch forschen
            wollen.
            <!-- In den ersten zwei Semestern ist ein Wechsel zum Zwei-Hauptfach-Bachelor relativ problemlos möglich. -->
          </p>
          <p align="right">
            <a
              class="btn btn-outline-primary active bg-white"
              style="border-color: #004a99"
              href="{{url_for('showstudiengang', studiengang='promotion', lang = lang)}}"
              role="button"
            >
              <i class="fa-solid fa-link" style="color: #004a99"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
