<html>

<body>
    <div class="container" id="inhalt">
        <h1>
            Beispielhafter Studienverlauf im
            <br />
            Master-of-Science-Studiengang Mathematik
        </h1>
        <p style="margin-top:30px;">
        </p>
        <table border="1" cellpadding="5" cellspacing="5" class="bg-white">
            <!--style="transform:scale(0.9);">-->
            <tr class="bg-ufr-blue-20">
                <td align="center" style="width:5%; height:50px;" valign="bottom">
                    Sem
                </td>
                <td align="center" colspan="3" style="width:72%;">
                    <b>
                        Mathematik
                    </b>
                    <br />
                    (mindestens 75 Punkte + 33 Punkte Master-Arbeit inkl. Präsentation)
                </td>
                <td align="center" style="width:23%;">
                    <b>
                        Wahlmodule
                    </b>
                    <br />
                    (fachfremd bis 12 Punkte)
                </td>
            </tr>
            <tr>
                <td colspan="5">
                </td>
            </tr>
            <tr>
                <td align="center" class="bg-ufr-blue-20" style="height:70px;">
                    4
                </td>
                <td align="center" class="abschlussarbeit" colspan="2">
                    <b>
                        Master-Arbeit
                    </b>
                </td>
                <td align="center" class="praesentation-abschlussarbeit">
                    <b>
                        Präsentation der
                        <br />
                        Master-Arbeit
                    </b>
                </td>
                <td align="center">
                </td>
            </tr>
            <tr>
                <td align="center" class="bg-ufr-blue-20" style="height:70px;">
                    3
                </td>
                <td align="center" class="mathematik" rowspan="2" style="width:24%;">
                    <b>
                        Vertiefungsmodul
                    </b>
                </td>
                <td align="center" style="width:24%;">
                </td>
                <td align="center" class="seminar" style="width:24%;">
                    <b>
                        Seminar B
                    </b>
                </td>
                <td align="center" class="wahlmodul">
                    <b>
                        Wahlmodul
                    </b>
                </td>
            </tr>
            <tr>
                <td align="center" class="bg-ufr-blue-20" style="height:70px;">
                    2
                </td>
                <td align="center" class="mathematik">
                    <b>
                        Mathematik
                    </b>
                </td>
                <td align="center" class="seminar">
                    <b>
                        Seminar A
                    </b>
                </td>
                <td align="center" class="wahlmodul">
                    <b>
                        Wahlmodul
                    </b>
                </td>
            </tr>
            <tr>
                <td align="center" class="bg-ufr-blue-20" style="height:70px;">
                    1
                </td>
                <td align="center" class="mathematik">
                    <b>
                        Reine
                        <br />
                        Mathematik
                    </b>
                </td>
                <td align="center" class="mathematik">
                    <b>
                        Angewandte
                        <br />
                        Mathematik
                    </b>
                </td>
                <td align="center">
                </td>
                <td align="center" class="wahlmodul">
                    <b>
                        Wahlmodul
                    </b>
                </td>
            </tr>
        </table>
        <p>
        </p>
        <table border="0" cellspacing="20" style="width:100%;">
            <tr>
                <td colspan="6">
                    <b>
                        Legende
                    </b>
                </td>
            </tr>
            <tr>
                <td>
                    Punkte
                </td>
                <td>
                    =
                </td>
                <td>
                    ECTS-Punkte
                </td>
                <td>
                    Sem
                </td>
                <td>
                    =
                </td>
                <td>
                    Semester
                </td>
            </tr>
            <tr>
                <td class="mathematik">
                </td>
                <td>
                    =
                </td>
                <td>
                    Pflichtmodul mit Wahlvorlesungen
                </td>
                <td class="abschlussarbeit">
                </td>
                <td>
                    =
                </td>
                <td>
                    Master-Arbeit
                </td>
            </tr>
            <tr>
                <td class="seminar">
                </td>
                <td>
                    =
                </td>
                <td>
                    Pflichtmodul mit Seminar
                </td>
                <td class="praesentation-abschlussarbeit">
                </td>
                <td>
                    =
                </td>
                <td>
                    Präsentation
                </td>
            </tr>
            <tr>
                <td class="wahlmodul">
                </td>
                <td>
                    =
                </td>
                <td colspan="4">
                    Wahlmodule (Mathematik oder fachfremd, beliebige Veranstaltungsart)
                </td>
            </tr>
        </table>
        <p>
            Weitere Informationen siehe in den verschiedenen Abschnitten der
            <a href="msc-2014.html">
                Informationsseite zum Studiengang
            </a>
            !
        </p>
        <!-- Verantwortlich für diese Seite: Markus Junker -->
        <div class="accordion accordion-flush" id="accordionExample">
        </div>
    </div>
</body>

</html>