<html>
 <body>
  <div class="container" id="inhalt">
   <h1>
    Beispielhafter Studienverlauf im
    <br/>
    Master-of-Science-Studiengang Mathematik
   </h1>
   <p style="margin-top:30px;">
   </p>
   <table bgcolor border="1" cellpadding="5" cellspacing="5" class="bg-ufr-blue-40">
    <!--style="transform:scale(0.9);">-->
    <tr bgcolor class="bg-ufr-blue-20">
     <td align="center" style="width:5%; height:50px;" valign="bottom">
      Sem
     </td>
     <td align="center" colspan="3" style="width:72%;">
      <b>
       Mathematik
      </b>
      <br/>
      (mindestens 75 Punkte + 33 Punkte Master-Arbeit inkl. Präsentation)
     </td>
     <td align="center" style="width:23%;">
      <b>
       Wahlmodule
      </b>
      <br/>
      (fachfremd bis 12 Punkte)
     </td>
    </tr>
    <tr>
     <td colspan="5">
     </td>
    </tr>
    <tr>
     <td align="center" bgcolor class="bg-ufr-blue-20" style="height:70px;">
      4
     </td>
     <td align="center" bgcolor class="bg-ufr-sand" colspan="2">
      <b>
       Master-Arbeit
      </b>
     </td>
     <td align="center" bgcolor>
      <b>
       Präsentation der
       <br/>
       Master-Arbeit
      </b>
     </td>
     <td align="center">
     </td>
    </tr>
    <tr>
     <td align="center" bgcolor class="bg-ufr-blue-20" style="height:70px;">
      3
     </td>
     <td align="center" bgcolor class="bg-ufr-yellow" rowspan="2" style="width:24%;">
      <b>
       Vertiefungsmodul
      </b>
     </td>
     <td align="center" style="width:24%;">
     </td>
     <td align="center" bgcolor class="bg-ufr-yellow-60" style="width:24%;">
      <b>
       Seminar B
      </b>
     </td>
     <td align="center" bgcolor class="bg-ufr-pink">
      <b>
       Wahlmodul
      </b>
     </td>
    </tr>
    <tr>
     <td align="center" bgcolor class="bg-ufr-blue-20" style="height:70px;">
      2
     </td>
     <td align="center" bgcolor class="bg-ufr-yellow">
      <b>
       Mathematik
      </b>
     </td>
     <td align="center" bgcolor class="bg-ufr-yellow-60">
      <b>
       Seminar A
      </b>
     </td>
     <td align="center" bgcolor class="bg-ufr-pink">
      <b>
       Wahlmodul
      </b>
     </td>
    </tr>
    <tr>
     <td align="center" bgcolor class="bg-ufr-blue-20" style="height:70px;">
      1
     </td>
     <td align="center" bgcolor class="bg-ufr-yellow">
      <b>
       Reine
       <br/>
       Mathematik
      </b>
     </td>
     <td align="center" bgcolor class="bg-ufr-yellow">
      <b>
       Angewandte
       <br/>
       Mathematik
      </b>
     </td>
     <td align="center">
     </td>
     <td align="center" bgcolor class="bg-ufr-pink">
      <b>
       Wahlmodul
      </b>
     </td>
    </tr>
   </table>
   <p>
   </p>
   <table border="0" cellspacing="20" style="width:100%;">
    <tr>
     <td colspan="6">
      <b>
       Legende
      </b>
     </td>
    </tr>
    <tr>
     <td>
      Punkte
     </td>
     <td>
      =
     </td>
     <td>
      ECTS-Punkte
     </td>
     <td>
      Sem
     </td>
     <td>
      =
     </td>
     <td>
      Semester
     </td>
    </tr>
    <tr>
     <td bgcolor class="bg-ufr-yellow">
     </td>
     <td>
      =
     </td>
     <td>
      Pflichtmodul mit Wahlvorlesungen
     </td>
     <td bgcolor class="bg-ufr-sand">
     </td>
     <td>
      =
     </td>
     <td>
      Master-Arbeit
     </td>
    </tr>
    <tr>
     <td bgcolor class="bg-ufr-yellow-60">
     </td>
     <td>
      =
     </td>
     <td>
      Pflichtmodul mit Seminar
     </td>
     <td bgcolor>
     </td>
     <td>
      =
     </td>
     <td>
      Präsentation
     </td>
    </tr>
    <tr>
     <td bgcolor class="bg-ufr-pink">
     </td>
     <td>
      =
     </td>
     <td colspan="4">
      Wahlmodule (Mathematik oder fachfremd, beliebige Veranstaltungsart)
     </td>
    </tr>
   </table>
   <p>
    Weitere Informationen siehe in den verschiedenen Abschnitten der
    <a href="msc-2014.html">
     Informationsseite zum Studiengang
    </a>
    !
   </p>
   <!-- Verantwortlich für diese Seite: Markus Junker -->
   <div class="accordion accordion-flush" id="accordionExample">
   </div>
  </div>
 </body>
</html>
