<html>
 <body>
  <div class="container" id="inhalt">
   <h1>
    Beispielhafter Studienverlauf im
    <br/>
    Bachelor-of-Science-Studiengang Mathematik (PO 2021)
   </h1>
   <p style="margin-top:30px;">
   </p>
   <table bgcolor="#e7e7e7" border="1">
    <tr bgcolor="#d7d7e7">
     <td align="center" style="width:6%; height:50px;" valign="bottom">
      Sem
     </td>
     <td align="center" colspan="3" style="width:52%;">
      <b>
       Mathematik
      </b>
      <br/>
      (mindestens 120 Punkte)
     </td>
     <td align="center" colspan="2">
      <b>
       Berufsfeldorientierte
       <br/>
       Kompetenzen
      </b>
      (20 Punkte)
     </td>
     <td align="center" style="width:18%;">
      <b>
       Andere Fächer
      </b>
      <br/>
      (bis 40 Punkte)
     </td>
    </tr>
    <tr>
     <td colspan="7">
     </td>
    </tr>
    <tr>
     <td align="center" bgcolor class="bg-ufr-darkblue">
      <br/>
      6
      <br/>
     </td>
     <td align="center" bgcolor class="bg-ufr-yellow-80" style="width:26%;">
      <b>
       weiterführende
       <br/>
       Vorlesung
      </b>
     </td>
     <td align="center" bgcolor class="bg-ufr-sand" colspan="2">
      <b>
       Bachelor-Arbeit
      </b>
     </td>
     <td align="center" bgcolor class="bg-ufr-yellow-60" style="width:12%;">
      <b>
       Seminar
      </b>
     </td>
     <td align="center" bgcolor class="bg-ufr-yellow-40" rowspan="4" style="width:12%;">
      <b>
       Kurse am
       <br style="Margin-bottom:2px;"/>
       Zentrum für Schlüssel- qualifika- tionen (ZfS)
       <br style="Margin-bottom:2px;"/>
       oder
       <br style="Margin-bottom:2px;"/>
       Sprachlehr- institut (SLI)
      </b>
     </td>
     <td align="center" bgcolor class="bg-ufr-pink" rowspan="2">
      <b>
       Wahlmodule
      </b>
     </td>
    </tr>
    <tr>
     <td align="center" bgcolor class="bg-ufr-darkblue">
      <br/>
      5
      <br/>
     </td>
     <td align="center" bgcolor class="bg-ufr-yellow-80" colspan="3">
      <b>
       weiterführende Vorlesungen / Seminare
      </b>
     </td>
     <td align="center" bgcolor class="bg-ufr-yellow-60">
      <b>
       Proseminar
      </b>
     </td>
    </tr>
    <tr>
     <td align="center" bgcolor class="bg-ufr-darkblue">
      <br/>
      4
      <br/>
     </td>
     <td align="center" bgcolor class="bg-ufr-yellow-80" colspan="2">
      <b>
       weiterführende Vorlesungen
      </b>
     </td>
     <td align="center" bgcolor class="bg-ufr-yellow" rowspan="2" style="width:13%;">
      Numerik II
      <br/>
      <br/>
      —
      <b>
       Numerik
      </b>
      —
      <br/>
      <br/>
      Numerik I
     </td>
     <td align="center" bgcolor class="bg-ufr-yellow-60" rowspan="2">
      <b>
       Praktische Übung Numerik
      </b>
     </td>
     <td align="center" bgcolor class="bg-ufr-blue-60" rowspan="4">
      <b>
       Anwendungsfach
      </b>
      <br style="margin-bottom:5px;"/>
      z.B. Physik,
      <br/>
      Informatik,
      <br/>
      Wirtschaft,
      <br/>
      Philosophie
      <br/>
      <br/>
      fester Studienplan
      <br/>
      pro Fach
     </td>
    </tr>
    <tr>
     <td align="center" bgcolor class="bg-ufr-darkblue">
      <br/>
      3
      <br/>
     </td>
     <td align="center" bgcolor class="bg-ufr-yellow">
      <b>
       Analysis III
      </b>
     </td>
     <td align="center" bgcolor class="bg-ufr-yellow" style="width:13%;">
      <b>
       Stochastik I
      </b>
     </td>
    </tr>
    <tr>
     <td align="center" bgcolor class="bg-ufr-darkblue">
      <br/>
      2
      <br/>
     </td>
     <td align="center" bgcolor class="bg-ufr-yellow" colspan="1" rowspan="2">
      Analysis II
      <br/>
      <br/>
      ————
      <b>
       Analysis
      </b>
      ————
      <br/>
      <br/>
      Analysis I
     </td>
     <td align="center" bgcolor class="bg-ufr-yellow" colspan="2" rowspan="2">
      Lineare Algebra II
      <br/>
      <br/>
      –——
      <b>
       Lineare Algebra
      </b>
      ——–
      <br/>
      <br/>
      Lineare Algebra I
     </td>
     <td>
     </td>
     <td align="center" bgcolor class="bg-ufr-yellow-40">
      <b>
       Programmier -praktikum
      </b>
     </td>
    </tr>
    <tr>
     <td align="center" bgcolor class="bg-ufr-darkblue">
      <br/>
      1
      <br/>
     </td>
    </tr>
    <p>
    </p>
    <table border="0" cellspacing="20" style="width:100%;">
     <tr>
      <td colspan="6">
       <b>
        Legende:
       </b>
      </td>
     </tr>
     <tr>
      <td>
       Punkte
      </td>
      <td>
       =
      </td>
      <td>
       Leistungspunkte (entsprechend dem geschätzten Aufwand)
      </td>
      <td>
       Sem
      </td>
      <td>
       =
      </td>
      <td>
       Semester
      </td>
     </tr>
     <tr>
      <td bgcolor class="bg-ufr-yellow">
      </td>
      <td>
       =
      </td>
      <td>
       Pflichtveranstaltung in Mathematik
      </td>
      <td bgcolor class="bg-ufr-sand">
      </td>
      <td>
       =
      </td>
      <td>
       Bachelor-Arbeit
      </td>
     </tr>
     <tr>
      <td bgcolor class="bg-ufr-yellow-80">
      </td>
      <td>
       =
      </td>
      <td>
       Wahlveranstaltung in Mathematik
      </td>
      <td bgcolor class="bg-ufr-pink">
      </td>
      <td>
       =
      </td>
      <td>
       Wahlmodule (beliebige Fächer)
      </td>
     </tr>
     <tr>
      <td bgcolor class="bg-ufr-yellow-60">
      </td>
      <td>
       =
      </td>
      <td>
       berufsfeldorientierte Kompetenzen in Mathematik
      </td>
      <td bgcolor class="bg-ufr-blue-60">
      </td>
      <td>
       =
      </td>
      <td>
       Anwendungsfach
      </td>
     </tr>
     <tr>
      <td bgcolor class="bg-ufr-yellow-40">
      </td>
      <td>
       =
      </td>
      <td>
       "externe" berufsfeldorientierte Kompetenzen
      </td>
     </tr>
    </table>
    <p>
     Weitere Informationen siehe in den verschiedenen Abschnitten der
     <a href="bsc-2012.html">
      Informationsseite zum Studiengang
     </a>
     !
    </p>
    <!-- Verantwortlich für diese Seite: Markus Junker -->
    <div id="fusszeile">
     <ul>
      <li>
       <a href="https://www.math.uni-freiburg.de/impressum.html">
        Impressum
       </a>
      </li>
      <li>
       <a href="https://www.math.uni-freiburg.de/datenschutz.html">
        Datenschutz
       </a>
      </li>
      <li>
       <a href="https://www.math.uni-freiburg.de/suchen.html">
        Suche
       </a>
      </li>
     </ul>
    </div>
    <div id="lastwords">
     <span style="float: right">
      <a href="https://validator.w3.org/check?uri=referer" rel="nofollow">
       Validate
      </a>
     </span>
    </div>
   </table>
   <div class="accordion accordion-flush" id="accordionExample">
   </div>
  </div>
 </body>
</html>
