<html>
 <body>
  <div class="container" id="inhalt">
   <h1>
    Beispielhafter Studienverlauf im
    <br/>
    Master-of-Education-Studiengang mit Fach Mathematik
   </h1>
   <p style="margin-top:30px;">
   </p>
   <table bgcolor border="1" cellpadding="5" cellspacing="5" class="bg-ufr-blue-40">
    <!--style="transform:scale(0.9);">-->
    <tr bgcolor class="bg-ufr-blue-20">
     <td align="center" style="width:5%;height:50px;" valign="bottom">
      Sem
     </td>
     <td align="center" style="width:30%;">
      <b>
       Fachwissenschaft Mathematik
      </b>
      <br/>
      (17 Punkte)
     </td>
     <td align="center" style="width:32%;">
      <b>
       Fachdidaktik Mathematik
      </b>
      <br/>
      (10 Punkte)
     </td>
     <td align="center" style="width:19%;">
      <b>
       Bildungswissenschaft
      </b>
      <br/>
      (35 Punkte)
     </td>
     <td align="center" style="width:14%;">
      <b>
       Zweites Fach
      </b>
      <br/>
      (27 Punkte)
     </td>
    </tr>
    <tr>
     <td colspan="5">
     </td>
    </tr>
    <tr>
     <td align="center" bgcolor class="bg-ufr-blue-20" rowspan="2" style="height:70px;">
      4
     </td>
     <td align="center" bgcolor class="bg-ufr-sand" colspan="4">
      <b>
       Master-Arbeit
      </b>
      <br/>
      (15 Punkte)
     </td>
    </tr>
    <tr>
     <td align="center" bgcolor class="bg-ufr-yellow-80" rowspan="2">
      <b>
       Mathematische Ergänzung
      </b>
      (*)
     </td>
     <td align="center" bgcolor rowspan="2">
      <b>
       Fachdidaktische Entwicklung
      </b>
      (*)
      <br/>
      oder
      <br/>
      <b>
       Fachdidaktische Forschung
      </b>
      (**)
     </td>
     <td align="center" bgcolor class="bg-ufr-green-60" rowspan="2">
      <b>
       Module in Bildungs- wissenschaft
      </b>
     </td>
     <td align="center" bgcolor class="bg-ufr-blue-60" rowspan="2">
      <b>
       Module im zweiten Fach
      </b>
     </td>
    </tr>
    <tr>
     <td align="center" bgcolor class="bg-ufr-blue-20" rowspan="2" style="height:70px;">
      3
     </td>
    </tr>
    <tr>
     <td align="center" bgcolor class="bg-ufr-yellow-40" colspan="4">
      <b>
       Schulpraxissemester
      </b>
      <br/>
      (16 Punkte)
     </td>
    </tr>
    <tr>
     <td align="center" bgcolor class="bg-ufr-blue-20" style="height:70px;">
      2
     </td>
     <td align="center" bgcolor class="bg-ufr-yellow-80">
      <b>
       Mathematische Vertiefung
      </b>
      <br/>
      oder
      <br/>
      <b>
       Wissenschaftliches Arbeiten
      </b>
     </td>
     <td align="center" bgcolor class="bg-ufr-green">
      <b>
       Didaktik der Stochastik und der Algebra
      </b>
      (***)
     </td>
     <td align="center" bgcolor class="bg-ufr-green-60" rowspan="2">
      <b>
       Module in Bildungs- wissenschaft
      </b>
     </td>
     <td align="center" bgcolor class="bg-ufr-blue-60" rowspan="2">
      <b>
       Module im zweiten Fach
      </b>
     </td>
    </tr>
    <tr>
     <td align="center" bgcolor class="bg-ufr-blue-20" style="height:70px;">
      1
     </td>
     <td align="center" bgcolor class="bg-ufr-yellow">
      <b>
       Erweiterung der Analysis
      </b>
     </td>
     <td align="center" bgcolor class="bg-ufr-green">
      <b>
       Didaktik der Analysis und der Funktionen
      </b>
      (***)
     </td>
    </tr>
   </table>
   (*) je nach Wahl im 3. oder 4. Semester
   <br/>
   (**) im 2. bis 4. Semester oder im 3. und 4. Semester
   <br/>
   (***) werden in der Regel in jedem Semester angeboten
   <p>
   </p>
   <table border="0" cellspacing="20" style="width:100%">
    <tr>
     <td colspan="6">
      <b>
       Legende:
      </b>
     </td>
    </tr>
    <tr>
     <td>
      Punkte
     </td>
     <td>
      =
     </td>
     <td>
      Leistungspunkte (entsprechend dem geschätzten Aufwand)
     </td>
     <td>
      Sem
     </td>
     <td>
      =
     </td>
     <td>
      Semester
     </td>
    </tr>
    <tr>
     <td bgcolor class="bg-ufr-yellow">
     </td>
     <td>
      =
     </td>
     <td>
      Pflichtveranstaltung Fachwissenschaft Mathematik
     </td>
     <td bgcolor class="bg-ufr-sand">
     </td>
     <td>
      =
     </td>
     <td>
      Master-Arbeit
     </td>
    </tr>
    <tr>
     <td bgcolor class="bg-ufr-yellow-80">
     </td>
     <td>
      =
     </td>
     <td>
      Wahlveranstaltung Fachwissenschaft Mathematik
     </td>
     <td bgcolor class="bg-ufr-yellow-40">
     </td>
     <td>
      =
     </td>
     <td>
      Schulpraxis
     </td>
    </tr>
    <tr>
     <td bgcolor class="bg-ufr-green">
     </td>
     <td>
      =
     </td>
     <td>
      Pflichtveranstaltung Fachdidaktik Mathematik
     </td>
     <td bgcolor class="bg-ufr-green-60">
     </td>
     <td>
      =
     </td>
     <td>
      Bildungswissenschaften
     </td>
    </tr>
    <tr>
     <td bgcolor>
     </td>
     <td>
      =
     </td>
     <td>
      Wahlveranstaltung Fachdidaktik Mathematik
     </td>
     <td bgcolor class="bg-ufr-blue-60">
     </td>
     <td>
      =
     </td>
     <td>
      zweites Fach
     </td>
    </tr>
   </table>
   <p>
    Weitere Informationen siehe in den verschiedenen Abschnitten der
    <a href="med-2018.html">
     Informationsseite zum Studiengang
    </a>
    !
   </p>
   <!-- Verantwortlich für diese Seite: Markus Junker -->
   <div class="accordion accordion-flush" id="accordionExample">
   </div>
  </div>
 </body>
</html>
