table.vlverz td, table.vlverz th {
    border: none;
}

table.vlverz td {
    vertical-align: top;
}

dd {
    vertical-align: top;
    position:relative;
}

dt {
    vertical-align: top;
    float: left;
    width: 5em;
}

dl {
    vertical-align:top;
}
