<div class="container" id="inhalt">
 <h1>
  Bachelor- und Master-Arbeiten in Mathematik
 </h1>
 <p>
  <img alt="[In der Bibliothek]" src="https://www.math.uni-freiburg.de/i/Webseite-oben-alte_Buecher.jpg" style="width:100%;" title="In der Bibliothek (Foto: Martin Kramer, © Mathematisches Institut Freiburg)"/>
 </p>
 <p>
  Die rechtlichen Regelungen für Bachelor- und Masterarbeiten findet man jeweils im allgemeinen Teil der Prüfungs­ordnung,
  derzeit (
  <i>
   Februar 2022
  </i>
  ) in folgenden Paragraphen:
 </p>
 <center>
  <b>
   2-Hf.-Bachelor:
  </b>
  § 19 –
  <b>
   B.Sc.
  </b>
  : § 21 –
  <b>
   M.Ed.:
  </b>
  § 19 –
  <b>
   M.Ed. als Erweiterungsfach:
  </b>
  § 19 –
  <b>
   M.Sc.:
  </b>
  § 20
  <br style="margin-bottom:3px;"/>
  (Links zu den Prüfungsordnungen auf den
  <a href="https://www.math.uni-freiburg.de/lehre/index.html#aktuell">
   Informationsseiten zu den Studiengängen
  </a>
  )
 </center>
 <br/>
 Rechtlich bindend sind die jeweils aktuellen Regelungen der Prüfungsordnung;
  die unten folgenden Informationen sind informell und rechtlich ohne Gewähr.
 <p>
  In den Angaben unten fehlt jeweils noch der Studiengang "M.Ed. als Erweiterungsfach",
  für den aber das Gleiche wie für den "normalen M.Ed." gelten sollte (muss aber noch überprüft werden!).
 </p>
 <div id="accordion">
 </div>
 <div class="accordion accordion-flush" id="accordionExample">
  <div class="accordion-item" id="_10">
   <h3 class="accordion-header" id="header_10">
    <button aria-controls="_10Content" aria-expanded="false" class="accordion-button" data-bs-target="#_10Content" data-bs-toggle="collapse" type="button">
     Voraussetzungen für eine Bachelor- bzw. Master-Arbeit, Bearbeitungsdauer, ECTS-Punkte
    </button>
   </h3>
   <div aria-labelledby="_10Content" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="_10Content">
    <div class="accordion-body" id="10Content">
     <p>
     </p>
     <table border="1" style="width:100%;">
      <tr style="background-color: #dae3ea;">
       <td>
        <b>
         Studiengang
        </b>
       </td>
       <td>
        <b>
         Voraussetzung
        </b>
       </td>
       <td>
        <b>
         Bearbeitungsdauer
        </b>
       </td>
       <td>
        <b>
         ECTS
        </b>
       </td>
      </tr>
      <tr>
       <td colspan="4" style="background-color:#dddddd;">
       </td>
      </tr>
      <tr>
       <td style="width:25%;">
        Zwei-Hauptfächer-Bachelor
       </td>
       <td>
        60 ECTS-Punkte im Fach der Arbeit sind absolviert
       </td>
       <td style="text-align:center;">
        3 Monate
       </td>
       <td style="text-align:center;">
        10
       </td>
      </tr>
      <tr>
       <td colspan="4" style="background-color:#dddddd;">
       </td>
      </tr>
      <tr>
       <td rowspan="2">
        Bachelor of Science
       </td>
       <td>
        80 ECTS-Punkte im Pflicht- und Wahlpflichtbereich Mathematik (inkl. internem BOK) sind absolviert
       </td>
       <td style="text-align:center;">
        3 Monate
       </td>
       <td style="text-align:center;">
        12
       </td>
      </tr>
      <tr>
       <td colspan="2" style="text-align:right;">
        <i>
         zusätzlich in PO 2021:
        </i>
        Präsentation der Bachelor-Arbeit
       </td>
       <td style="text-align:center;">
        1
       </td>
      </tr>
      <tr>
       <td colspan="4" style="background-color:#dddddd;">
       </td>
      </tr>
      <tr>
       <td>
        Master of Education
        <br/>
        (auch Erweiterungsmaster)
       </td>
       <td>
        60 ECTS-Punkte im Studiengang sind absolviert
       </td>
       <td style="text-align:center;">
        4 Monate
       </td>
       <td style="text-align:center;">
        15
       </td>
      </tr>
      <tr>
       <td colspan="4" style="background-color:#dddddd;">
       </td>
      </tr>
      <tr>
       <td rowspan="2">
        Master of Science
       </td>
       <td>
        60 ECTS-Punkte im Studiengang sind absolviert
       </td>
       <td style="text-align:center;">
        6 Monate
       </td>
       <td style="text-align:center;">
        30
       </td>
      </tr>
      <tr>
       <td colspan="2" style="text-align:right;">
        <i>
         zusätzlich:
        </i>
        Präsentation der Master-Arbeit
       </td>
       <td style="text-align:center;">
        3
       </td>
      </tr>
     </table>
     Es gibt weder Vorgaben an den Seitenumfang der Arbeiten noch an Dauer und Rahmen der Präsentation von Bachelor- bzw. Master-Arbeit.
    Dies muss mit der Betreuerin / dem Betreuer der Arbeit abgesprochen werden.
     <p>
      Die Bearbeitungszeit beginnt an dem Tag, an dem das Thema offiziell vergeben wird.
     </p>
    </div>
   </div>
  </div>
  <div class="accordion-item" id="_20">
   <h3 class="accordion-header" id="header_20">
    <button aria-controls="_20Content" aria-expanded="false" class="accordion-button" data-bs-target="#_20Content" data-bs-toggle="collapse" type="button">
     Wer darf Bachelor- und Master-Arbeiten betreuen?
    </button>
   </h3>
   <div aria-labelledby="_20Content" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="_20Content">
    <div class="accordion-body" id="20Content">
     <p>
      <b>
       Betreuung am Mathematischen Institut:
      </b>
     </p>
     <p>
      Die Betreuung von Bachelor- und Master-Arbeiten übernehmen in erster Linie die
      <b>
       Professorinnen und Professoren
      </b>
      (inklusive Juniorprofessor/innen) und
      <b>
       Privatdozentinnen und -dozenten
      </b>
      des Mathematischen Instituts.
    Diese sind mit Ihren Forschungs- und Interessensgebieten auf der Seite
      <a href="https://www.math.uni-freiburg.de/forschung/index.html">
       Dozenten und Forschungsgebiete
      </a>
      aufgeführt.
     </p>
     <p>
      <b>
       Nicht-habilitierte wissenschaftliche Mitarbeiterinnen und Mitarbeiter
      </b>
      (die also nicht den Titel "Privatdozent/in" oder "Dr. habil." führen),
    dürfen nur dann Bachelor- oder Master-Arbeiten offiziell betreuen, wenn ihnen die Berechtigung dazu erteilt wurde. Dies muss man im Zweifelsfall erfragen.
     </p>
     <p>
      Es kann durchaus sein, dass die Arbeit
      <i>
       de facto
      </i>
      von einem/einer Wissenschaftlichen Mitarbeiter/in betreut wird.
    Dies spielt aber juristisch keine Rolle – mit "Betreuer/in" ist hier immer die für die Betreuung der Arbeit offiziell bestimmte und verantwortliche Person gemeint.
     </p>
     <p>
      <b>
       Externe Betreuungen:
      </b>
     </p>
     <p>
      Das Recht zur Betreuung mathematischer Abschlussarbeiten haben auch die
      <b>
       kooptierten Professorinnen und Professoren
      </b>
      :
    Dies sind in der Regel Mathematikerinnen und Mathematiker, die eine Professur an einer anderen Fakultät haben,
    durch die Kooptierung aber innerhalb der Mathematik prüfungsberechtigt sind.
    Sie sind ebenfalls auf der Seite
      <a href="https://www.math.uni-freiburg.de/forschung/index.html">
       Dozenten und Forschungsgebiete
      </a>
      aufgeführt.
     </p>
     <p>
      In Ausnahmefällen kann eine Arbeit auch von einer Professorin / einem Professor oder einer Privatdozentin / einem Privatdozenten
      <b>
       einer anderen Fakultät
      </b>
      oder
      <b>
       einer anderen Hochschule
      </b>
      betreut werden, wenn dies in Einvernehmen mit 
    einer Professorin / einem Professor bzw. einer Privatdozentin / einem Privatdozenten des Mathematischen Instituts der Universität Freiburg geschieht.
    Eine solche externe Betreuung über das Anmeldeformular der Arbeit beantragt und vom Fachprüfungsausschuss genehmigt werden.
     </p>
     <p>
      Master-of-Education-Arbeiten in Fachdidaktik Mathematik können nur extern betreut werden,
    in der Regel von Mathematik-Professorinnen und -Professoren der
      <b>
       Pädagogischen Hochschule Freiburg
      </b>
      . 
    Dies ist im Rahmen der Betreuungskapazität der Pädagogischen Hochschule möglich und setzt die Absolvierung des Moduls "Fachdidaktische Forschung" voraus.
    Bitte melden Sie Ihr Interesse bei der Abteilung für Didaktik der Mathematik an.
      <br/>
      Für das Einvernehmen mit einem Professor / einer Professorin des Mathematischen Instituts der Universität Freiburg
    wenden Sie sich entweder an jemanden, der dem Thema der Arbeit fachlich nahe steht,
    oder an den Geschäftsführenden Direktor der
      <a href="https://home.mathematik.uni-freiburg.de/didaktik/">
       Abteilung für Didaktik der Mathematik
      </a>
      .
     </p>
     <p>
      Eine Bachelor- oder Master-Arbeit kann auch in Zusammenarbeit mit einem
      <b>
       Unternehmen
      </b>
      geschrieben werden.
    Dann findet aber entweder die offizielle Betreuung am Mathematischen Institut statt oder die Ansprechperson im Unternehmen
    ist zufälligerweise habilitiert oder gar Professor/in und die im vorherigen Abschnitt beschriebene Ausnaheregelung ist möglich.
    Im ersten Fall ist erfahrungsgemäß eine gründliche Absprache zwischen dem/der offiziellen Betreuer/in der Arbeit
    und dem/der
      <i>
       de-facto
      </i>
      -Betreuer/in im Unternehmen notwendig.
     </p>
    </div>
   </div>
  </div>
  <div class="accordion-item" id="_30">
   <h3 class="accordion-header" id="header_30">
    <button aria-controls="_30Content" aria-expanded="false" class="accordion-button" data-bs-target="#_30Content" data-bs-toggle="collapse" type="button">
     Wie kommt man an eine Betreuerin / einen Betreuer und an ein Thema?
    </button>
   </h3>
   <div aria-labelledby="_30Content" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="_30Content">
    <div class="accordion-body" id="30Content">
     <p>
      Am besten ist es, wenn Sie bereits eine Vorstellung davon haben, in welche Richtung Ihre Arbeit gehen soll bzw. in welchem Schwerpunktgebiet Sie Ihre Arbeit schreiben wollen.
    Dann können Sie gezielt Dozentinnen oder Dozenten ansprechen, die in dieser Richtung arbeiten oder in diesem Schwerpunktgebiet tätig sind.
    Schauen Sie dazu auf die Seiten
      <a href="https://www.math.uni-freiburg.de/forschung/index.html">
       Dozenten und Forschungsgebiete
      </a>
      und
      <a href="https://www.math.uni-freiburg.de/lehre/studiengaenge/schwerpunkte.html">
       Typische Studienabläufe in den Schwerpunktgebieten
      </a>
      .
    Am besten machen Sie einen Sprechstundentermin aus.
    Dozentinnen oder Dozenten, bei denen Sie gerade eine Vorlesung hören oder ein Seminar besuchen,
    können Sie natürlich gerne am Rande der Veranstaltung ansprechen.
     </p>
     <p>
      Falls Sie auf diesem Weg niemanden für die Betreuung Ihrer Arbeit finden,
    können Sie einen Antrag an das Prüfungsamt auf Zuteilung eine Betreuerin / eines Betreuers stellen.
    Dies ist aber eher ungewöhnlich.
     </p>
     <p>
      <b>
       Zwei-Hauptfächer-Bachelor
      </b>
      :
      <br/>
      Dadurch, dass der Studienplan wenig Wahlmöglichkeiten lässt, sind die Themen für Bachelor-Arbeiten etwas eingeschränkt.
    Sie können an die weiterführenden Vorlesungen in Algebra und Zahlentheorie, Elementargeometrie, Numerik oder Stochastik anschließen,
    eventuell auch an die Thematik des Proseminars, das Sie besucht haben.
    Manche Dozentinnen und Dozenten vergeben auch Themen, die auf den Grundvorlesungen in Analysis und Linearer Algebra aufbauen.
    Scheuen Sie sich nicht, Dozentinnen und Dozenten anzusprechen; nutzen Sie die Sprechstunden!
    Falls Sie Ihre Arbeit gerne in Mathematik schreiben wollen, aber keine rechte Vorstellung haben, wer Ihre Arbeit betreuen sollte,
    kann auch ein Gespräch mit der Studienberatung des Mathematischen Instituts sinnvoll sein.
     </p>
     <p>
      <b>
       Bachelor of Science
      </b>
      :
      <br/>
      Im Laufe des Studiums entwickeln Sie durch Ihre Pflicht- und Wahlpflichtveranstaltungen in der Regel eine Vorstellung davon,
    in welchem Schwerpunktgebiete Ihre Arbeit angesiedelt sein sollte. In diesem Bereich sollten Sie dann idealerweise auch eine
    vertiefte Vorlesung hören und ein Seminar besuchen. Hilfreich ist die Seite
      <a href="https://www.math.uni-freiburg.de/lehre/studiengaenge/schwerpunkte.html">
       Typische Studienabläufe in den Schwerpunktgebieten
      </a>
      .
    Sprechen Sie gerne frühzeitig die Dozentinnen und Dozenten dieses Schwerpunktgebiets an.
    Es bietet sich unter Umständen an (wie in der alten Prüfungsordnung von 2012 noch verpflichtend vorgesehen),
    die Arbeit aufbauend auf einen Seminarvortrag zu schreiben. Dies muss aber keinswegs sein; vor allem, wenn kein passendes Seminar angeboten wird.
     </p>
     <p>
      <b>
       Master of Education
      </b>
      :
      <br/>
      Ihre Master-Arbeit können Sie in einem der beiden Fächer in Fachwissenschaft oder Fachdidaktik oder in den Bildungswissenschaften schreiben.
    Auch interdisziplinäre Arbeiten oder Arbeiten, die fachwissenschaftliche und fachdidaktische Aspekte verbinden, sind möglich.
    (Zeitweise gab es das Gerücht, man müsse die Master-Arbeit in dem anderen Fach als die Bachelor-Arbeit schreiben; dies stimmt nicht.)
      <br/>
      Falls Sie Ihre Arbeit in Mathematik schreiben wollen, ist die Entscheidung wichtig, ob es in Fachdidaktik oder Fachwissenschaft sein soll, weil davon der Studienplan abhängt:
     </p>
     <ul>
      <li>
       Für eine Arbeit in Fachdidakitk der Mathematik müssen Sie das Modul "Fachdidaktische Forschung" an der PH Freiburg absolvieren.
	Im Rahmen dieses Seminars werden Sie dann auch Ihre Betreuerin / Ihren Betreuer finden.
      </li>
      <li>
       Eine fachwissenschaftliche Arbeit kann gut auf der vertieften Vorlesung oder auf einem im Modul "Mathematische Ergänzung" absolvierten Seminar aufbauen.
	Falls Sie schon wissen, in welchem Schwerpunktgebiet Sie Ihre Arbeit schreiben möchten, lohnt es sich, die Dozentinnen und Dozenten dieses Gebiets anzusprechen:
	Dann können Sie anstelle des vertieften Vorlesung das Modul "Wissenschaftliches Arbeiten" absolvieren, in dem Sie sich in die Thematik der Master-Arbeit einarbeiten können.
      </li>
     </ul>
     <p>
      <b>
       Master of Education als Erweiterungsfach
      </b>
      :
      <br/>
      In der "Hauptfachvariante" mit 120 ECTS-Punkten ist eine Master-Arbeit in Fachwissenschaft oder Fachdidaktik möglich;
    es gilt ansonsten das Gleiche wie für den M.Ed.-Studiengang.
      <br/>
      In der "Nebenfachvariante" mit 90 ECTS-Punkten ist eine rein fachdidaktische Arbeit nicht erlaubt.
    Man kann sich hierfür an den Angaben zum Zwei-Hauptfächer-Bacheor orientieren.
     </p>
     <p>
      <b>
       Master of Science
      </b>
      :
      <br/>
      Studierende im Master of Science haben üblicherweise bereits einen guten Einblick in die Mathematik und eine Vorstellung davon,
    in welchem Schwerpunktgebiet sie sich spezialisieren wollen. Sinnvoll ist ein Blick auf die Seite
      <a href="https://www.math.uni-freiburg.de/lehre/studiengaenge/schwerpunkte.html">
       Typische Studienabläufe in den Schwerpunktgebieten
      </a>
      .
    Sprechen Sie gerne Dozentinnen und Dozenten am Rande von Vorlesungen und Seminaren an.
    Idealerweise arbeitet man sich im Vertiefungsmodul oder im Wahlmodul in einem Lesekurs "Wissenschaftliches Arbeiten" in die Thematik der Master-Arbeit ein.
     </p>
    </div>
   </div>
  </div>
  <div class="accordion-item" id="_40">
   <h3 class="accordion-header" id="header_40">
    <button aria-controls="_40Content" aria-expanded="false" class="accordion-button" data-bs-target="#_40Content" data-bs-toggle="collapse" type="button">
     Anmeldung der Arbeit
    </button>
   </h3>
   <div aria-labelledby="_40Content" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="_40Content">
    <div class="accordion-body" id="40Content">
     <p>
      Die Anmeldung erfolgt schriftlich im Prüfungsamt mit dem dafür vorgesehenen Formular
    (auf der
      <a href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/index.html#form">
       Prüfungsamtsseite
      </a>
      unter "Formulare und Merkblätter" online verfügbar).
    Das Formular muss auch von der Betreuerin / dem Betreuer der Arbeit unterschrieben werden
    und danach beim Prüfungsamt abgegeben werden (Briefkasten vor dem Prüfungsamt oder per E-Mail),
    und zwar spätestens zwei Wochen, nachdem das Thema gestellt wurde.
    Der Fachprüfungsausschuss vergibt dann offiziell das Thema. Mit dieserr vergabe beginnt die Bearbeitungszeit.
     </p>
     <p>
      Im B.Sc.-Studiengang Mathematik nach "alter" Prüfungsordnung von 2012 muss die Anmeldung der Arbeit spätestens am Tag des Vortrags im Bachelor-Seminar erfolgen.
    In die umgekehrte Richtung gibt es keine Vorgaben: Der Vortrag kann beliebig lange nach Anmeldung der Arbeit erfolgen.
      <br/>
      Im B.Sc.-Studiengang Mathematik nach "neuer" Prüfungsordnung von 2021 gibt es kein Bachelor-Seminar mehr.
    Sie müssen zwar ein Seminar absolvieren, das aber in keinem Zusammenhang zur Bachelor-Arbeit stehen muss.
     </p>
     <p>
      Bei der Anmeldung einer Bachelor- oder Master-Arbeit muss man bestätigen, mit
    den
      <i>
       Regeln guter wissenschaftlicher Praxis
      </i>
      vertraut zu sein. Eine einführung in diese Regeln ist 
    auf der
      <a href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/index.html#AbisZ">
       Prüfungsamtsseite
      </a>
      unter "A bis Z", Stichwort "Regeln wissenschaftlicher Redlichkeit" nachzulesen.
     </p>
     <p>
      Bei der Anmeldung wird das
      <i>
       Thema der Arbeit
      </i>
      festgelegt,
    der dazu angegebene
      <i>
       Arbeitstitel
      </i>
      kann später angepasst werden.
    Das Thema darf innerhalb gewisser Fristen einmalig geändert werden (siehe unter "Neues Thema").
     </p>
     <p>
      Bei der Anmeldung der Arbeit können Sie mit Einverständnis der Betreuerin / des Betreuers beantragen,
    die Arbeit auf Englisch (oder einer anderen Sprache) zu schreiben.
     </p>
    </div>
   </div>
  </div>
  <div class="accordion-item" id="_50">
   <h3 class="accordion-header" id="header_50">
    <button aria-controls="_50Content" aria-expanded="false" class="accordion-button" data-bs-target="#_50Content" data-bs-toggle="collapse" type="button">
     Neues Thema / Verlängerung der Bearbeitungszeit
    </button>
   </h3>
   <div aria-labelledby="_50Content" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="_50Content">
    <div class="accordion-body" id="50Content">
     <p>
      Ein Thema für eine Abschlussarbeit kann einmalig durch ein neues Thema ersetzt werden,
    ohne dass es als Fehlversuch zählt, wenn die "Rückgabe des Themas" innerhalb der folgenden Fristen geschieht:
     </p>
     <ul>
      <li>
       2-Hf.-Bachelor: zwei Wochen
      </li>
      <li>
       B.Sc.: zwei Wochen
      </li>
      <li>
       M.Ed. (auch Erweiterungsfach): vier Wochen
      </li>
      <li>
       M.Sc.: zwei Monate
      </li>
     </ul>
     Die Rückgabe des Themas muss fristgerecht schriftlich dem Prüfungsamt mitgeteilt werden
    (und natürlich sollte das unbedingt vorher mit der Betreuerin / dem Betreuer besprochen werden). 
    Ein neues Thema muss dann innerhalb von vier Wochen vergeben werden; die Bearbeitungszeit beginnt dann neu.
     <p>
      In begründeten Fällen kann der Fachprüfungsausschuss auf Antrag die Bearbeitungszeit verlängern, und zwar um folgende Maximalzeiten:
     </p>
     <ul>
      <li>
       2-Hf.-Bachelor: maximal sechs Wochen
      </li>
      <li>
       B.Sc.: maximal anderthalb Monate
      </li>
      <li>
       M.Ed.: maximal acht Wochen
      </li>
      <li>
       M.Ed. als Erweiterungsfach: maximal sechs Wochen (im Entwurf der Prüfungsordnung)
      </li>
      <li>
       M.Sc.: maximal drei Monate
      </li>
     </ul>
     Wird die Verlängerung wegen Erkrankung beantragt, muss ein ärztliches Attest vorgelegt werden, "das die für die Beurteilung nötigen medizinischen Befundtatsachen enthält".
    Wird die Verlängerung beantragt, weil das Thema für die eigentlich vorgesehen Zeit zu umfangreich ist,
    muss die Betreuerin / der Betreuer ein Votum dazu abgeben.
    </div>
   </div>
  </div>
  <div class="accordion-item" id="_55">
   <h3 class="accordion-header" id="header_55">
    <button aria-controls="_55Content" aria-expanded="false" class="accordion-button" data-bs-target="#_55Content" data-bs-toggle="collapse" type="button">
     Betreuung und Bearbeitungsgrundsätze
    </button>
   </h3>
   <div aria-labelledby="_55Content" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="_55Content">
    <div class="accordion-body" id="55Content">
     <p>
      In Mathematik ist die Bachelor-Arbeit typischerweise die erste größere Ausarbeitung, die im Studium vorkommt
    – im M.Ed.-Studiengang kann es auch die Master-Arbeit sein. Daher ist eine gute Betreuung besonders wichtig.
    Regelmäßige Betreuungsgespräche während der Anfertigung der Arbeit sollten selbstverständlich sein,
    und Sie sollten diese auch einfordern, falls der Betreuer / die Betreuerin nicht sowieso darauf besteht.
    Dies gilt natürlich ebenfalls für eine Master-Arbeit, falls Sie schon eine Bachelor-Arbeit in Mathematik geschrieben haben.
     </p>
     <p>
      Ziel einer Abschlussarbeit ist es, ein Thema nach "wissenschaftlichen Methoden zu bearbeiten und die Ergebnisse sachgerecht darzustellen".
    Dabei müssen die "Regeln guter wissenschaftlicher Praxis" beachtet werden,
    wie sie u.a. in der
      <a href="https://uni-freiburg.de/forschung/wp-content/uploads/sites/2/2020/10/Uni-Freiburg-Ordnung-Redlichkeit-in-der-Wissenschaft.pdf">
       Redlichkeitsordnung
    der Universität
      </a>
      beschrieben sind. Insbesondere hat man "nach den anerkannten Regeln (
      <i>
       lege artis
      </i>
      )" des Faches zu arbeiten.
    Es ist Aufgabe des Betreuers / der Betreuerin, Ihnen diese Regeln zu vermitteln.
     </p>
     <p>
      Insbesondere muss Ihnen dabei vermittelt werden, wie und wann mathematische Ergebnisse, die nicht von Ihnen selbst erzielt wurden,
    zitiert werden. Bitte beachten Sie, dass dafür weder die Art, wie mit der Bearbeitung von Übungsaufgaben in den Tutoraten zu Vorlesungen umgegangen wird,
    noch Vorlesungsskripte geeignete Vorbilder sind.
    Hinweise zum Zitieren in mathematischen Arbeiten finden Sie auf der
      <a href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/index.html#AbisZ">
       Prüfungsamtsseite
      </a>
      unter "A bis Z", Stichwort "Regeln wissenschaftlicher Redlichkeit".
    Zweifelsfälle sollten Sie mit dem Betreuer / der Betreuerin Ihrer Arbeit besprechen (und im Zweifelsfall lieber mehr als weniger zitieren).
     </p>
    </div>
   </div>
  </div>
  <div class="accordion-item" id="_60">
   <h3 class="accordion-header" id="header_60">
    <button aria-controls="_60Content" aria-expanded="false" class="accordion-button" data-bs-target="#_60Content" data-bs-toggle="collapse" type="button">
     Sprache, Formatierung und Ähnliches
    </button>
   </h3>
   <div aria-labelledby="_60Content" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="_60Content">
    <div class="accordion-body" id="60Content">
     <p>
      Abschlussarbeiten müssen auf Deutsch geschrieben werden, es sei denn,
    man beantragt bei der Anmeldung der Arbeit mit Zustimmung der Betreuerin / des Betreuers, die Arbeit in einer anderen Sprache zu schreiben.
    Dies muss dann durch den Fachprüfungsausschuss genehmigt werden, die Begutachtung (mit eventuell Zweit- und Drittgutachten) muss sichergestellt sein
    und die Arbeit muss eine deutsche Zusammenfassung enthalten.
      <br/>
      Es stellt normalerweise kein Problem dar, eine Arbeit auf Englisch zu schreiben.
    Französisch ist eventuell auch möglich; alle anderen Sprachen sind vermutlich schwierig.
     </p>
     <p>
      Die Prüfungsordnung macht keine Vorgaben an den Seitenumfang oder die Formatierung einer Arbeit
    (also Schriftgröße, Zeilenabstand, Größe des Rands, Zitierstil, etc.). 
    Bitte besprechen Sie alle diese Punkte mit der Betreuerin / dem Betreuer Ihrer Arbeit.
    Abhängig vom Thema gibt es sicher Vorstellungen der Betreuerin / des Betreuers über den Umfang der Arbeit;
    Formatierungsfragen sind erfahrungsgemäß dagegen eher zweitrangig. 
    Üblich ist es allerdings, die Arbeit im DIN-A4-Format zu erstellen und das mathematische Textverarbeitungsprogramm LaTeX zu verwenden.
    (LaTeX ist nicht vorgeschrieben, macht das Leben aber leichter.)
     </p>
     <p>
      Das Titelblatt sollte folgende Informationen enthalten: Name des Kandidaten/der Kandidatin, Titel, Art der Arbeit, Fach, Universität, Semester (der Einreichung).
    Weitere Angaben  wie z.B. der Name des Betreuers/der Betreuerin sind fakultätaiv.
      <br/>
      Für das Titelblatt kann
      <a href="formulare/Muster-Titelblatt.pdf">
       dieses Muster
      </a>
      verwendet werden.
    Im (neuen)
      <a href="https://cd.uni-freiburg.de/buerovorlagen/#titelbild">
       Corporate Design
      </a>
      gibt es eine Vorlage für ein Titelblatt, die aber (Stand 07.03.2023) nicht brauchbar ist,
    da wichtige Informationen fehlen und nicht angegeben ist, was man ändern darf und was nicht.
     </p>
    </div>
   </div>
  </div>
  <div class="accordion-item" id="_70">
   <h3 class="accordion-header" id="header_70">
    <button aria-controls="_70Content" aria-expanded="false" class="accordion-button" data-bs-target="#_70Content" data-bs-toggle="collapse" type="button">
     Abgabe der Arbeit und formale Anforderungen
    </button>
   </h3>
   <div aria-labelledby="_70Content" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="_70Content">
    <div class="accordion-body" id="70Content">
     <p>
      Die Arbeit ist fristgerecht in
      <i>
       zwei
      </i>
      – bzw. im M.Sc.-Studiengang Mathematik in
      <i>
       drei
      </i>
      –
    gedruckten und gebundenen Exemplaren beim Prüfungsamt des Mathematischen Instituts abzugeben
    (persönlich, in den Briefkasten vorm Prüfungsamt oder per Post – dann gilt das Datum des Poststempels als Zeitpunkt der Einreichung).
      <br/>
      Zusätzlich muss die Arbeit (vorzugsweise per E-Mail) als pdf-Datei abgegeben werden.
    In der Regel möchte auch die Betreuerin / der Betreuer die abschließende Version der Arbeit als pdf-Datei per E-Mail haben.
     </p>
     <p>
      Zur Fristwahrung reicht die elektronische Abgabe; die gedruckten Exemplare müssen dann innerhalb der nächsten zwei Wochen nachgeliefert werden
    zusammen mit einer schriftlichen Versicherung, dass die gedruckte Version mit der pdf-Version übereinstimmt.
     </p>
     <p>
      Bei der Einreichung der Arbeit muss man schriftlich versichern,
     </p>
     <ol>
      <li>
       dass man die eingereichte Arbeit selbständig verfasst hat,
      </li>
      <li>
       dass man keine anderen als die angegebenen Quellen und Hilfsmittel benutzt und alle wörtlich oder
	sinngemäß aus anderen Werken übernommenen Inhalte als solche kenntlich gemacht hat
      </li>
      <li>
       und dass die eingereichte Arbeit weder vollständig noch in wesentlichen Teilen Gegenstand eines
	anderen Prüfungsverfahrens ist oder war.
      </li>
     </ol>
     Lesen Sie genauen Anforderungen und den genauern Wortlaut unbedingt in der aktuellen Version des allgemeinen Teils des Prüfungsordnung nach; Änderungen sind möglich!
    (Die Prüfungsordnungen sind auf den
     <a href="https://www.math.uni-freiburg.de/lehre/index.html#aktuell">
      Informationsseiten zu den Studiengängen
     </a>
     verlinkt.)
     <p>
      Enthält die Arbeit einen Programmierteil, muss der zugehörige Programmiercode mit der Abgabe der Arbeit als separate Datei elektronisch eingereicht werden. 
    Vorab sollte man mit der Betreuerin / dem Betreuer klären, ob dies ausreichend ist,
    oder ob ein Ausdruck des Programmiercodes (ggf. als Teil der Arbeit) erforderlich ist.
     </p>
    </div>
   </div>
  </div>
  <div class="accordion-item" id="_80">
   <h3 class="accordion-header" id="header_80">
    <button aria-controls="_80Content" aria-expanded="false" class="accordion-button" data-bs-target="#_80Content" data-bs-toggle="collapse" type="button">
     Präsentation der Arbeit
    </button>
   </h3>
   <div aria-labelledby="_80Content" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="_80Content">
    <div class="accordion-body" id="80Content">
     <p>
      Eine Präsentation der Bachelor-Arbeit ist nur im B.Sc.-Studiengang nach neuer Prüfungsordnung von 2021 vorgeschrieben;
    eine Präsentation der Master-Arbeit nur im M.-Sc.-Studiengang.
    Die Präsentationen sind unbenotete Studienleistungen über 1 ECTS-Punkt im B.Sc.-Studiengang und 3 ECTS-Punkte im M.Sc.-Studiengang.
     </p>
     <p>
      Eine separate Anmeldng zur Präsentation ist weder schriftlich noch über HISinOne vorgesehen.
     </p>
     <p>
      Die Präsentation der Bachelor-Arbeit sollte etwa 30 Minuten lang sein, kann im gegenseitigen Einvernehmen aber auch länger dauern.
    Darüber hinaus gibt es keine formalen und zeitlichen Vorgaben, insbesondere nicht für die Präsentation von Master-Arbeiten. 
    Eine Präsentation darf schon vor Ende der Abgabe einer Arbeit stattfinden (sinnvollerweise nicht zu früh) und sollte nicht zu spät danach erfolgen.
    Der äußere Rahmen kann sehr variabel sein: von einem Gespräch mit Betreuer/in und Beisitzer/in in einem Büro
    bis hin zu einem Vortrag vor Publikum in einem Ober- oder Projektseminar.
    Sowohl der Termin als auch die näheren Umstände müssen mit der Betreuerin / dem Betreuer abgesprochen werden.
     </p>
    </div>
   </div>
  </div>
  <div class="accordion-item" id="_90">
   <h3 class="accordion-header" id="header_90">
    <button aria-controls="_90Content" aria-expanded="false" class="accordion-button" data-bs-target="#_90Content" data-bs-toggle="collapse" type="button">
     Begutachtung
    </button>
   </h3>
   <div aria-labelledby="_90Content" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="_90Content">
    <div class="accordion-body" id="90Content">
     <p>
      Eine Abschlussarbeit wird von dem/der offiziellen Betreuer/in begutachtet und bewertet. 
    In machen Fällen gibt es auch eine/n zweite/n Gutachter/in, und zwar immer im M.Sc. Mathematik und in Ausnahmefällen im M.Ed.
      <br/>
      (Diese Ausnahmefälle sind: bei interdisziplinären Arbeiten; bei Arbeiten mit externer Betreuung,
    es sei denn, es handelt sich um eine an der PH Freiburg betreute fachdidaktische Arbeit, für die es nur ein Gutachten gibt).
      <br/>
      Der/die Zweitgutachter/in wird vom zuständigen Prüfungsamt bestellt, in der Regel auf Vorschlag der Betreuerin / des Betreuers –
    darum muss man sich als Studierende/r nicht kümmern.
     </p>
     <p>
      Die Dauer der Begutachtung sollte sechs Wochen nicht überschreiten.
    Wenn Sie das Gutachten eilig brauchen (z.B. wegen Einschreibung in einen Master-Studiengang oder Antritt einer Arbeitsstelle),
    besprechen Sie dies bitte möglichst frühzeitig mit der Betreuerin / dem Betreuer.
    Sollte sich die Begutachtung verzögern, sprechen Sie bitte Ihre Betreuerin / Ihrem Betreuer und das Prüfungsamt an.
     </p>
     <p>
      Falls es nur ein Gutachten gibt und dieses die Arbeit als bestanden wertet, ist die Note des Gutachtens die Note für die Arbeit.
    Bewertet das Gutachten die Arbeit als nicht bestanden, wird vom Fachprüfungsausschuss ein Zweitgutachten bestellt.
    Bewertet das Zweitgutachten die Arbeit ebenfalls als nicht bestanden, ist die Arbeit nicht bestanden.
    Bewertet das Zweitgutachten die Arbeit als bestanden mit Note x, wird vom Fachprüfungsausschuss ein Drittgutachten bestellt,
    das die endgültige Note y mit x ≤ y ≤ 5,0 festlegt und damit insbesondere  festlegt, ob die Arbeit bestanden ist oder nicht.
      <br/>
      Falls es zwei Gutachten gibt, ist das auf eine Nachkommastelle abgerundete arithmetische Mittel der beiden Einzelnoten die Note für die Arbeit,
    es sei denn, die beiden Einzelnoten x
      <sub>
       1
      </sub>
      und x
      <sub>
       2
      </sub>
      weichen um mindestens zwei Notenstufen voneinander ab.
    (Notenstufen sind "
      <i>
       sehr gut
      </i>
      ", "
      <i>
       gut
      </i>
      ", etc. – es geht also nicht um die Differenz der beiden Noten.)
    In diesem Fall wird vom Fachprüfungsausschuss ein Drittgutachten bestellt,
    das die endgültige Note y mit min{x
      <sub>
       1
      </sub>
      ,x
      <sub>
       2
      </sub>
      } ≤ y ≤ max{x
      <sub>
       1
      </sub>
      ,x
      <sub>
       2
      </sub>
      } festlegt
    und ggf. damit insbesondere festlegt, ob die Arbeit bestanden ist oder nicht.
     </p>
    </div>
   </div>
  </div>
  <div class="accordion-item" id="_100">
   <h3 class="accordion-header" id="header_100">
    <button aria-controls="_100Content" aria-expanded="false" class="accordion-button" data-bs-target="#_100Content" data-bs-toggle="collapse" type="button">
     Wiederholung einer Abschlussarbeit
    </button>
   </h3>
   <div aria-labelledby="_100Content" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="_100Content">
    <div class="accordion-body" id="100Content">
     <p>
      Eine Abschlussarbeit kann im Falle des Nichtbestehens genau einmal wiederholt werden.
    Dazu muss man spätestens zwei Monate nach dem Bescheid über das Nichtbestehen
    die Wiederholungsarbeit anmelden oder einen Antrag auf Vergabe eines neuen Themas stellen.
     </p>
     <p>
      Der Wiederholungsversuch kann von einer anderen Person betreut werden und das Thema kann aus einem anderen Schwerpunktgebiet der Mathematik stammen. 
    Die Wiederholung einer Arbeit im 2-Hf.-Bachelor bzw. M.Ed. muss allerdings im gleichen Fach erfolgen.
     </p>
     <p>
      Eine Rückgabe des Themas ist im Wiederholungsfall nur erlaubt, wenn von dieser Möglichkeit im Erstversuch noch nicht Gebrauch gemacht wurde.
     </p>
    </div>
   </div>
  </div>
  <div class="accordion-item" id="_110">
   <h3 class="accordion-header" id="header_110">
    <button aria-controls="_110Content" aria-expanded="false" class="accordion-button" data-bs-target="#_110Content" data-bs-toggle="collapse" type="button">
     Anschlussstudium: Was ist zu beachten?
    </button>
   </h3>
   <div aria-labelledby="_110Content" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="_110Content">
    <div class="accordion-body" id="110Content">
     <p>
      <b>
       Master an der Universität Freiburg
      </b>
     </p>
     <p>
      Generell gilt an der Universität Freiburg, dass für die
      <i>
       Bewerbung
      </i>
      für einen Master-Studiengang 
    der zugrundeliegende Bachelor-Studiengang noch nicht abgeschlossen sein muss.
    Wichtig: Die
      <i>
       Bewerbungsfrist
      </i>
      (in Mathematik bisher 15. Juli bzw. 15. Januar, ab Mitte 2024 voraussichtlich bis 15. September bzw. 15. März) darf keinesfalls verpasst werden,
    völlig unabhängig vom Stand der Bachelor-Arbeit!
      <br/>
      Für die
      <i>
       Einschreibung
      </i>
      muss das Bachelor-Studium allerdings abgeschlossen sein.
    Für Freiburger Bachelor-Absolvent:inn:en reicht es, wenn der Abschluss des Bachelor-Studiums in HISinOne dokumentiert ist;
    das Zeugnis muss noch nicht unbedingt vorliegen. (Auswärtige Bewerber:innen brauchen zur Einschreibung das Zeugnis.)
      <br/>
      Für die Einschreibung wird normalerweise eine Frist Anfang Oktober für das Winter- bzw. Anfang April für das Sommersemester gesetzt.
    Diese Frist kann aber in Absprache mit dem Studierendensekrektariat bis etwa Ende der zweiten Vorlesungswoche verlängert werden,
    wenn zum Beispiel die Gutachten der Bachelor-Arbeit noch ausstehen.
      <br/>
      (Eine Einschreibung unter Vorbehalt ist nicht möglich – das gab es nur während der Corona-Pandemie für den Fall, 
    dass sich der Abschluss des Bachelor-Studiums aus corona-bedingten Gründen verzögert hat.)
     </p>
     <p>
      Konkret bedeutet dies für Freiburger Studierende, die an der Uni Freiburg einen Master-Studiengang anschließen wollen:
    Wenn es knapp wird, sollte man sich zum Folgesemester in den Bachelor-Studiengang rückmelden und die Anmeldung der Bachelor-Arbeit so planen,
    dass das Gutachten spätestens zu Beginn der Vorlesungszeit vorliegt, um sich dann in den Master umschreiben zu können.
    Wieviel Zeit der/die Betreuer:in für das Gutachten braucht, sollte man mit ihr/ihm vorher absprechen.
    Das Prüfungsamt braucht in der Regel nur einen Tag, um die Note in HISinOne einzutragen, ist aber möglicherweise nicht täglich besetzt.
      <br/>
      Möchte man die Arbeit zum Beispiel in den Monaten Juni bis August schreiben, reichen die für das Gutachten vorgesehenen sechs Wochen,
    um sich anschließend Mitte Oktober in den Master umschreiben zu können.
    Möchte man die Arbeit dagegen in den Monaten Juli bis September schreiben, muss das Gutachten innerhalb von zwei bis drei Wochen erstellt werden,
    damit noch eine rechtzeitige Ein- bzw. Umschreibung erfolgen kann: Das geht nur nach vorheriger Absprache mit dem/der Betreuer:in!
     </p>
     <p>
      <b>
       Master an anderen Hochschulen
      </b>
     </p>
     <p>
      Für eine Einschreibung an anderen Hochschulen muss in der Regel das Zeugnis vorliegen
    und es müssen natürlich die Bewerbungs- und Einschreibefristen der jeweiligen Hochschule beachtet werden, die möglicherweise deutlich früher enden.
    Man kann daher schwerlich einen allgemeinen Zeitplan angeben. 
    Außerdem braucht auch das Prüfungsamt Zeit, um das Zeugnis zu erstellen und unterschreiben zu lassen,
    insbesondere wenn die typische Sommerferienzeit betroffen ist.     
    Einige wenige Hochschule ermöglichen eine Einschreibung unter Vorbehalt; das muss man aber mit der Hochschule klären.
     </p>
    </div>
   </div>
  </div>
 </div>
</div>
