<!-- Hier alle Fälle aus ('all', 'bsc', '2hfb', 'msc', 'mscdata', 'med', 'mederw') auflisten, falls diese Frage in dem entsprechenden FAQ auftauchen soll. -->
{% if which in ('all', 'bsc', '2hfb', 'msc', 'mscdata', 'med', 'mederw',
'meddual') %}
<div class="accordion-item">
  <h3 class="accordion-header">
    <button
      type="button"
      class="accordion-button"
      style="background-color: white"
      data-bs-target="#{{key}}"
      aria-controls="{{key}}"
      aria-expanded="true"
      data-bs-toggle="collapse"
    >
      <h3 class="h5">
        Ich will eine Masterarbeit im Bereich X bei Dozent:in Y schreiben. Was
        muss ich beachten?
      </h3>
    </button>
  </h3>
  <div aria-labelledby="{{key}}" class="accordion-collapse collapse {% if show
  == "alleantworten" %}show{% endif %}" data-bs-parent="#accordionFAQ"
  id="{{key}}" >
  <div class="accordion-body">
    Kontaktieren Sie den Dozenten bzw. die Dozentin. Mit ihm/ihr besprechen Sie
    das Thema der Arbeit. Als Prüfungsleistung wird auch die Master-Arbeit beim
    Prüfungsamt angemeldet. Verwenden Sie hierfür das Formular xxx. Nach
    Anmeldung der Arbeit ist die Bearbeitungszeit 6 Monate. Eine Verlängerung
    ist nur mit Angaben wichtiger Gründe um maximal xxx möglich.
  </div>
</div>
{% endif %}
