<div class="container" id="inhalt">
  <h1>FAQ</h1>
  <p>
    Das FAQ besteht aus Fragen, die immer wieder in der Beratung der
    Studiengänge des Mathematischen Instituts gestellt werden. Sollten weitere
    Fragen auftauchen, können Sie sich gerne an die
    <a href="https://www.math.uni-freiburg.de/lehre/studienberatung.html">
      Studienberatung des Mathematischen Instituts
    </a>
    <a href="mailto:studienberatung@math.uni-freiburg.de"></a> wenden.
  </p>

  <div class="accordion" id="accordionFAQ">
    {% for key, value in faq_dict.items() %} {% include value %} {% endfor %}
  </div>
</div>

Kategorien:

Allgemeines

Belegung von Veranstaltungen

Prüfungen und deren Anmeldungen

Abschlussarbeit

Sonstiges

