<p>
  <b style="font-size: 110%"> (A) Belegungen von Veranstaltungen: </b>
</p>
<ul>
  <li>
    Belegungen von Vorlesungen, d.h. Abgabe eines Teilnahmewunschs, können über
    das Vorlesungsverzeichnis in
    <a href="https://campus.uni-freiburg.de"> HISinOne </a>
    (Menüpunkt 'Veranstaltungen suchen') ab September bzw. März erfolgen.
  </li>
  <li>
    Die Anmeldung zu Übungsgruppen/Tutoraten erfolgt nach dem in der Vorlesung
    bekanntgegebenen Verfahren in der ersten Vorlesungswoche.
  </li>
  <li>
    Studienpätze für Seminare werden bei der Vorbesprechung am Ende der
    Vorsemesters vergeben. Die Termine dafür und ggf. die Art der Voranmeldung
    sind im
    <a href="https://www.math.uni-freiburg.de/lehre/v/index.html">
      Kommentierten Vorlesungsverzeichnis
    </a>
    angegeben.
    <br />
    Es gibt keine Belegung über HISinOne, aber die fristgerechte Anmeldung der
    Prüfung über HISinOne ist erforderlich!
  </li>
</ul>
<p>
  <b style="font-size: 110%">
    (B) Anmeldungen von Prüfungen und Registrierung von Studienleistungen:
  </b>
</p>
<ul>
  <li>
    Alle Prüfungen müssen vor Ablegen der Prüfung angemeldet werden und alle
    Studienleistungen registriert werden. Bis auf wenige Ausnahmen geht dies
    über den Studienplaner in HISinOne
  </li>
  <li>
    Achtung: Die Belegung einer Veranstaltung ersetzt nicht die Anmeldung der
    Prüfung bzw. Registrierung der Studienleistung! Insbesondere ist mit der
    Zuteilung zu einer Übungsgruppe zu Vorlesungsbeginn noch nicht die
    „Studienleistung Übung“ registriert!
  </li>
  <li>
    Vor der Anmeldung der ersten Prüfungsleistung müssen Sie beim Prüfungsamt
    einen
    <a
      href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/index.html#formulare"
    >
      Antrag auf Zulassung zu den studienbegleitenden Prüfungen im Master
    </a>
    stellen. Das Prüfungsamt braucht dazu eine vollständige Leistungsübersicht
    aus Ihrem zugrundeliegenden Bachelor-Studiengang.
  </li>
</ul>
