<div class="container" id="inhalt">
 <h1>
  Master of Education in Mathematik (PO 2018)
 </h1>
 <!--<p>
  <img src="https://www.math.uni-freiburg.de/lehre/bilder/studium.19x2.jpg" title="Hörsaal (Foto: Peter Mesenholl, Ausschnitt, Freikon #727971)" alt="Hörsaal" style="width:100%;">
</p>
<p>
  <img src="https://www.math.uni-freiburg.de/lehre/bilder/Freikon23359a-Thomas_Kunz_2007-Ausschnitt.jpg" title="Im Hörsaal Rundbau (Foto: Thomas Kunz, Ausschnitt)" alt="Im Hörsaal Rundbau (Foto: Thomas Kunz, Ausschnitt)" style="width:100%;">
</p>-->
 <p>
  Hier finden Sie Informationen zum Fach Mathematik im Studiengang
  <i>
   Master of Education
  </i>
  an der Universität Freiburg.
  <br/>
  Falls Fragen offen bleiben, können Sie sich gerne an die
  <a href="https://www.math.uni-freiburg.de/lehre/studienberatung.html">
   Studienberatung des Mathematischen Instituts
  </a>
  (
  <a href="mailto:studienberatung@math.uni-freiburg.de">
   ✉
  </a>
  ) wenden.
  <br style="margin-bottom:5px;"/>
  Möglicherweise suchen Sie auch:
 </p>
 <ul>
  <li style="margin-top:-5px;">
   <a href="https://www.math.uni-freiburg.de/lehre/studiengaenge/med-erweiterung-2021.html">
    Mathematik als Erweiterungsfach
   </a>
   (Mathematik als Drittfach)
  </li>
  <li>
   <a href="https://www.math.uni-freiburg.de/lehre/studiengaenge/2hfb-2021.html">
    Polyvalenter Zwei-Hauptfächer-Bachelor
   </a>
   (mit Lehramtsoption)
  </li>
  <li>
   <a href="https://www.math.uni-freiburg.de/lehre/studiengaenge/msc-2014.html">
    Master of Science in Mathematik
   </a>
  </li>
 </ul>
 <div class="accordion accordion-flush" id="accordionExample">
  <div class="accordion-item" id="kurz">
   <h3 class="accordion-header" id="headerkurz">
    <button aria-controls="kurzContent" aria-expanded="false" class="accordion-button collapsed" data-bs-target="#kurzContent" data-bs-toggle="collapse" type="button">
     Kurzbeschreibung des Studiengangs
    </button>
   </h3>
   <div aria-labelledby="kurzContent" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="kurzContent">
    <div class="accordion-body" id="kurzContent">
     <p>
      Der Studiengang ist zweijährig und (in Mathematik) deutschsprachig. 
    Er besteht aus zwei gleichberechtigten Fächern mit je Fachwissenschaft und Fachdidaktik 
    sowie Bildungswissenschaften, Schulpraxissemester und Master-Arbeit.
     </p>
     <p>
      <a href="studienverlauf-med-2018.html" rel="noopener" target="_blank">
       <img alt="Beispielhafter Studienverlauf im Master-of-Education-Studiengang Mathematik" src="https://www.math.uni-freiburg.de/lehre/bilder/MEd18.png" style="width:35%; float:right;" title="Beispielhafter Studienverlauf im Master-of-Education-Studiengang Mathematik"/>
      </a>
     </p>
     <p>
     </p>
     <ul>
      <li>
       In
       <b>
        Mathematik
       </b>
       werden in Fachwissenschaft und Fachdidaktik die für das Lehramt an Gymnasien nötigen
	Inhalte vermittelt, die über den Zwei-Hauptfächer-Bachelor-Studiengang hinausgehen.
	Wahlmöglichkeiten erlauben eine adäquate Vorbereitung sowohl fachwissenschaftlicher als auch fachdidaktischer
	Master-Arbeiten, in Fachwissenschaft in einem Schwerpunktgebiet eigener Wahl.
      </li>
      <li>
       <b>
        Bildungswissenschaften
       </b>
       und das
       <b>
        Schulpraxissemester
       </b>
       bilden zusammen einen 
	Hauptbestandteil des Studiengangs.
       <br/>
       Die
       <b>
        Master-Arbeit
       </b>
       kann nach Wahl in einem der beiden Fächer in Fachwissenschaft oder 
	Fachdidaktik
	oder in Bildungswissenschaften geschrieben werden kann.
      </li>
      <li>
       <a href="https://www.studium.uni-freiburg.de/de/studienangebot/studienfaecher?degree=5&amp;show=s&amp;senden=Auswahl+anzeigen/">
        <b>
         Liste der Fächer
        </b>
       </a>
       , mit denen Mathematik an der Universität Freiburg 
	kombiniert werden kann.
       <br/>
       Als zweites Hauptfach kann auch
       <b>
        Musik
       </b>
       an einer Musikhochschule oder
       <b>
        Bildende Kunst
       </b>
       an einer Kunsthochschule studiert werden.
      </li>
      <li>
       Mathematik kann auch als
       <a href="https://www.math.uni-freiburg.de/lehre/studiengaenge/med-erweiterung-2021.html">
        <b>
         Erweiterungsfach
        </b>
       </a>
       mit 90 oder 120 ECTS-Punkten studiert werden.
      </li>
     </ul>
    </div>
   </div>
  </div>
  <div class="accordion-item" id="bewerbung">
   <h3 class="accordion-header" id="headerbewerbung">
    <button aria-controls="bewerbungContent" aria-expanded="false" class="accordion-button collapsed" data-bs-target="#bewerbungContent" data-bs-toggle="collapse" type="button">
     Studienbeginn und Bewerbung
    </button>
   </h3>
   <div aria-labelledby="bewerbungContent" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="bewerbungContent">
    <div class="accordion-body" id="bewerbungContent">
     <p>
      <b>
       Studienbeginn
      </b>
      zum Wintersemester ist in allen Fächerkombinationen möglich.
      <br/>
      Studienbeginn zum Sommersemester ist nur möglich, nur wenn beide Fächer es zulassen. Mathematik erlaubt es.
     </p>
     <p>
      Die
      <b>
       Bewerbung
      </b>
      erfolgt zentral über die Universität. 
    Ende der Bewerbungsfrist ist jeweils 15. Juli für das Wintersemester und 15. Januar für das Sommersemester.
     </p>
     <ul>
      <li>
       <a href="https://www.studium.uni-freiburg.de/de/bewerbung">
        Informationsseite der Universität
	  für Studienbewerber/innen
       </a>
       mit Link zur online-Bewerbung.
       <br/>
      </li>
      <li>
       <a href="https://www.studium.uni-freiburg.de/service_und_beratungsstellen/ias/">
        International Admissions and Services
       </a>
       – für ausländische Studienbewerber/innen
      </li>
     </ul>
     <p>
     </p>
     <table border="1">
      <tr>
       <td bgcolor="#f8e498">
        <b>
         Wichtiger Hinweis für Bewerber:innen mit anderem Abschluss als dem "Polyvalenten 
	  Zwei-Hauptfächer-Bachelor" der Universität Freiburg:
        </b>
        <br style="margin-bottom:7px;"/>
        Aufgrund der Vorgaben des Kultusminsteriums müssen auswärtige Bewerber:innen
	    unter Umständen Leistungen aus unserem Bachelor-Studiengang nachholen –
	    auch wenn sie einen lehramtsbezogenem Bachelor-Abschluss haben
	    und unabhängig von einer ggf. bereits erfolgten Zulassung zum Master of Education.
	    Im Gegenzug können unter Umständen Leistungen aus dem Bachelor- für den Master-Studiengang anererkannt werden.
        <br/>
        Bitte setzen Sie sich unbedingt frühzeitig mit der Studienberatung Ihrer beiden Fächer
	  in Verbindung, um den Umfang der ggf. nachzuholenden Leistungen abzuklären!
       </td>
      </tr>
     </table>
    </div>
   </div>
  </div>
  <div class="accordion-item" id="zulassung">
   <h3 class="accordion-header" id="headerzulassung">
    <button aria-controls="zulassungContent" aria-expanded="false" class="accordion-button collapsed" data-bs-target="#zulassungContent" data-bs-toggle="collapse" type="button">
     Zulassung
    </button>
   </h3>
   <div aria-labelledby="zulassungContent" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="zulassungContent">
    <div class="accordion-body" id="zulassungContent">
     <p>
      <b>
       Zulassungsvoraussetzung
      </b>
      zum Fach Mathematik im M.Ed.-Studiengang ist
     </p>
     <ul>
      <li>
       entweder ein „erster Abschluss an einer deutschen Hochschule in einem lehramtsbezogenen Bachelorstudiengang
	für einen Lehramtstyp der Rahmenvereinbarungen der Kultusministerkonferenz im Fach Mathematik oder
	in einem gleichwertigen mindestens dreijährigen Studiengang an einer deutschen oder ausländischen Hochschule“
       <br/>
       (
       <i>
        zum Beispiel den Zwei-Hauptfächer-Bachelor-Studiengang der Universität Freiburg
       </i>
       )
      </li>
      <li>
       oder – in Ausnahmefällen – 
	ein „Abschluss in einem Bachelorstudiengang an einer deutschen Hochschule oder
	in einem gleichwertigen mindestens dreijährigen Studiengang an einer deutschen oder ausländischen Hochschule,
	der fachwissenschaftliche und fachdidaktische Studienanteile im Fach Mathematik und
	einem weiteren in § 6 Absatz 5 RahmenVO-KM aufgeführten Fach,
	bildungswissenschaftliche Studienanteile und schulpraktische Studien umfasst“
	",
	wobei gegebenenfalls fehlende und daher nachzuholenden fachliche Qualifikationen und
	schulpraktische Studien zusammen einen Leistungsumfang von 50 ECTS-Punkten nicht überschreiten dürfen.
      </li>
      <li>
       Ausländische Bewerber brauchen zudem einen ausreichenden Nachweis deutscher Sprachkenntnisse
	
	 (
       <i>
        als Orientierung: Niveau C1
       </i>
       ).
      </li>
      <li>
       Alle Bewerber müssen die
       <a href="https://www.face-freiburg.de/studium/lehrer-lehrerin-werden/online-selbstreflexion-osel/">
        Online-Selbstreflexion Lehramtsstudium und Lehrer*innenberuf (OSEL)
       </a>
       oder ein äquivalentes Orientierungsverfahren absolviert haben.
      </li>
     </ul>
     <p>
      Hinweis: Diese Seite dient nur der Information. Rechtlich bindend ist allein die
      <a href="https://www.studium.uni-freiburg.de/de/studienangebot/studienfaecher/info/715#collapse-Satzungen">
       Zulassungsordnung
      </a>
     </p>
     <p>
     </p>
     <table border="1">
      <tr>
       <td bgcolor="#f8e498">
        <b>
         Wichtiger Hinweis für Bewerber mit anderem Abschluss als dem "Polyvalenten Zwei-Hauptfächer-Bachelor" 
	  der Universität Freiburg:
        </b>
        <br style="margin-bottom:7px;"/>
        Aufgrund der Vorgaben des Kultusminsteriums müssen auswärtige Bewerber
	  in der Regel Leistungen aus unserem Bachelor-Studiengang nachholen –
	  auch wenn sie einen lehramtsbezogenem Bachelor-Abschluss haben
	  und unabhängig von einer ggf. bereits erfolgten Zulassung zum M.Ed. 
	  Bitte setzen Sie sich unbedingt frühzeitig mit der Studienberatung Ihrer beiden Fächer
	  in Verbindung, um den Umfang der ggf. nachzuholenden Leistungen abzuklären!
       </td>
      </tr>
     </table>
    </div>
   </div>
  </div>
  <div class="accordion-item" id="links">
   <h3 class="accordion-header" id="headerlinks">
    <button aria-controls="linksContent" aria-expanded="false" class="accordion-button collapsed" data-bs-target="#linksContent" data-bs-toggle="collapse" type="button">
     Dokumente und nützliche Links
    </button>
   </h3>
   <div aria-labelledby="linksContent" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="linksContent">
    <div class="accordion-body" id="linksContent">
     <p>
      <b>
       Computersysteme:
      </b>
     </p>
     <ul>
      <li>
       Campus-Management-System
       <a href="https://campus.uni-freiburg.de">
        HISinOne
       </a>
       mit Anleitungen im
       <a href="https://wiki.uni-freiburg.de/campusmanagement/doku.php?id=hisinone:studieren:start">
        Campus Management Wiki
       </a>
      </li>
      <li>
       Lernplattform
       <a href="https://ilias.uni-freiburg.de">
        ILIAS
       </a>
      </li>
      <li>
       <a href="https://myaccount.uni-freiburg.de">
        myAccount
       </a>
       : Verwaltung des eigenen Uni-Accounts
      </li>
     </ul>
     <p>
      <b>
       Lehrveranstaltungen:
      </b>
     </p>
     <ul style="margin-top:-7px;">
      <li>
       <a href="https://www.studium.uni-freiburg.de/de/fristen-und-veranstaltungen/semester-und-vorlesungszeiten/">
        Semester- und Vorlesungszeiten
       </a>
      </li>
      <li>
       <a href="https://www.math.uni-freiburg.de/lehre/v/index.html">
        Vorlesungsverzeichnis Mathematik
       </a>
       mit Kommentaren
      </li>
      <li>
       <a href="https://campus.uni-freiburg.de/qisserver/pages/cm/exa/coursecatalog/showCourseCatalog.xhtml?_flowId=showCourseCatalog-flow">
        Vorlesungsverzeichnis Universität
       </a>
       in HISinOne
      </li>
      <li style="margin-top:10px;">
       <a href="https://www.international.uni-freiburg.de/de/european-campus">
        Eucor – The European Campus / Le Campus Européen
       </a>
      </li>
      <li>
       <a href="https://www.sli.uni-freiburg.de/">
        Sprachlehrinstitut (SLI)
       </a>
      </li>
      <li>
       <a href="https://www.studiumgenerale.uni-freiburg.de/">
        Studium generale
       </a>
      </li>
     </ul>
     <p>
      <b>
       Modulhandbuch und Studienplanung:
      </b>
     </p>
     <ul style="margin-top:-7px;">
      <li>
       <a href="https://www.math.uni-freiburg.de/lehre/studiengaenge/modulhandbuecher.html">
        Modulhandbücher
       </a>
       mit den Anforderungen an Studien- und Prüfungsleistungen in den Lehrveranstaltungen
      </li>
      <li>
       <a href="https://www.math.uni-freiburg.de/lehre/dokumente/uebersicht-vorlesungen.pdf">
        Überblick über die regelmäßig angebotenen Mathematik-Vorlesungen
       </a>
      </li>
      <li>
       <a href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/abschlussarbeiten.html">
        Informationen zur Master-Arbeit
       </a>
      </li>
     </ul>
     <p>
      <b>
       Prüfungen / Prüfungsordnung:
      </b>
     </p>
     <ul style="margin-top:-7px;">
      <li>
       <a href="../pruefungsamt/termine.html">
        Anmeldefristen
       </a>
      </li>
      <!--    <li> <a href="../pruefungsamt/pruefungen.html#med18">Erläuterungen zu den Prüfungen </a>im Fach Mathematik </li> -->
      <li>
       Prüfungsamt:
       <br style="margin-bottom:5px;"/>
       –
       <a href="../pruefungsamt/termine.html">
        Prüfungsamt Mathematik:
       </a>
       (zuständig für Prüfungen in Mathematik-Modulen)
       <br style="margin-bottom:5px;"/>
       –
       <a href="https://www.face-freiburg.de/studium-lehre/zentrales-pruefungsamt-m-ed-uni/">
        Zentrales Prüfungsamt
       </a>
       (zuständig für Bildungswissenschaften, Abschlussdokumente u.Ä.)
      </li>
      <li>
       <a href="https://www.studium.uni-freiburg.de/de/studienangebot/studienfaecher/info/715#collapse-Satzungen">
        Prüfungsordnung
       </a>
      </li>
     </ul>
     <p>
      <b>
       Weitere Links:
      </b>
     </p>
     <ul style="margin-top:-7px;">
      <li>
       <a href="https://www.face-freiburg.de/studium-lehre/beratung/">
        Beratungsstelle der Universität für das Lehramtsstudium
       </a>
      </li>
      <li>
       <a href="https://www.face-freiburg.de">
        „Freiburg Advanced Center of Education“ (FACE)
       </a>
      </li>
      <li>
       <a href="https://www.ph-freiburg.de">
        Pädagogische Hochschule Freiburg
       </a>
      </li>
     </ul>
    </div>
   </div>
  </div>
  <div class="accordion-item" id="verlauf">
   <h3 class="accordion-header" id="headerverlauf">
    <button aria-controls="verlaufContent" aria-expanded="false" class="accordion-button collapsed" data-bs-target="#verlaufContent" data-bs-toggle="collapse" type="button">
     Aufbau des Studiengangs und Studienverlauf
    </button>
   </h3>
   <div aria-labelledby="verlaufContent" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="verlaufContent">
    <div class="accordion-body" id="verlaufContent">
     <p>
      Das Studium umfasst
     120 ECTS-Punkte (Regelstudienzeit 4 Semester) und gliedert sich in die Bereiche:
     </p>
     <ul>
      <li>
       <b>
        Fachwissenschaft
       </b>
       (17 Punkte pro Fach)
      </li>
      <li>
       <b>
        Fachdidaktik
       </b>
       (10 Punkte pro Fach)
      </li>
      <li>
       <b>
        Bildungswissenschaften
       </b>
       (35 Punkte)
      </li>
      <li>
       <b>
        Schulpraxissemester
       </b>
       (16 Punkte)
      </li>
      <li>
       <b>
        Master-Arbeit
       </b>
       in Bildungswissenschaften, Fachdidaktik oder Fachwissenschaft (15 Punkte)
      </li>
     </ul>
     Im Bereich der Fachdidaktiken und der Bildungswissenschaften kooperiert die Universität mit der PH Freiburg.
     <p>
      <a href="https://www.math.uni-freiburg.de/lehre/studiengaenge/studienverlauf-med.html">
      </a>
      Beispielhafter Studienverlauf bei Studienbeginn im Wintersemester:
     </p>
     <center>
      <a href="studienverlauf-med-2018.html" rel="noopener" target="_blank">
       <img alt="Beispielhafter Studienverlauf im Master-of-Education-Studiengang Mathematik" src="https://www.math.uni-freiburg.de/lehre/bilder/MEd18.png" style="width:80%;" title="Beispielhafter Studienverlauf im Master-of-Education-Studiengang Mathematik"/>
      </a>
     </center>
     <p>
      Dieser Plan ist
      <b>
       nur eine Orientierungshilfe!
      </b>
      Bis auf die Zulassungskriterien für die Master-Arbeit gibt es keine Abfolgebedingungen für die Mathematikveranstaltungen. 
    (Bei den Wahlveranstaltungen sind ggf. inhaltliche Voraussetzungen zu beachten.)
    Im Falle von Terminüberschneidungen aufgrund der Fächerkombination 
    müssen Sie bei der Studienplanung flexibel vorgehen; ebenso bei Studienbeginn im Sommersemester. 
    Hierfür kann man sich an der Semesterreihenfolge 2 – 3 – 4 – 1 orientieren.
     </p>
    </div>
   </div>
  </div>
 </div>
</div>
