<div class="container" id="inhalt">
 <h1>
  Beispielhafter Studienverlauf im Master of Education als Erweiterungsfach
  <br/>
  'Hauptfachvariante' mit 120 ECTS-Punkte (PO 2021)
 </h1>
 <p>
 </p>
 <p style="margin-top:30px;">
 </p>
 <table bgcolor="#e7e7e7" border="1">
  <tr bgcolor="#d7d7e7">
   <td align="center" style="width:4%; height:50px;" valign="bottom">
    Sem
   </td>
   <td align="center" colspan="6">
    <b>
     Fachwissenschaft
    </b>
    <br/>
    (90 Punkte)
   </td>
   <td align="center" style="width:12%;">
    <b>
     Master-Arbeit
    </b>
    <br/>
    (15 Punkte )
   </td>
   <td align="center" style="width:17%;">
    <b>
     Fachdidaktik
    </b>
    <br/>
    (15 Punkte)
   </td>
  </tr>
  <tr>
   <td colspan="9">
   </td>
  </tr>
  <tr>
   <td align="center" bgcolor="#d7d7e7">
    <br/>
    4
    <br/>
   </td>
   <td align="center" bgcolor="#ffffb3" colspan="2" style="width:19%;">
    <b>
     Mathematische Vertiefung
    </b>
   </td>
   <td align="center" bgcolor="#ffff66" rowspan="3" style="width:12%;">
    Numerik II
    <br/>
    <br/>
    –
    <b>
     Numerik
    </b>
    –
    <br/>
    <br/>
    Numerik I
   </td>
   <td align="center" bgcolor="#ffff66" rowspan="3" style="width:12%;">
    Stochastik II
    <br/>
    <br/>
    -
    <b>
     Stochastik
    </b>
    -
    <br/>
    <br/>
    Stochastik I
   </td>
   <td colspan="2">
   </td>
   <td align="center" bgcolor="#ffd058" rowspan="2">
    <b>
     Master-Arbeit
    </b>
   </td>
   <td align="center" bgcolor="#da9292">
    <b>
     Fachdidaktische Entwicklung
     <i>
      oder
     </i>
     Fd. Forschung
    </b>
   </td>
  </tr>
  <tr>
   <td align="center" bgcolor="#d7d7e7" rowspan="2">
    <br/>
    3
    <br/>
   </td>
   <td align="center" bgcolor="#ffff66" colspan="2" rowspan="2">
    <b>
     Algebra und Zahlentheorie
    </b>
   </td>
   <td align="center" bgcolor="#ffff66" rowspan="2" style="width:13%;">
    <b>
     Erweiterung der Analysis
    </b>
   </td>
   <td align="center" bgcolor="#ffff66" rowspan="2" style="width:11%;">
    <b>
     Pro- seminar
    </b>
   </td>
   <td align="center" bgcolor="#da9292" rowspan="2">
    <b>
     Didaktik der Stochastik und der Algebra
    </b>
   </td>
  </tr>
  <tr>
   <td rowspan="3">
    <br/>
    <br/>
   </td>
  </tr>
  <tr>
   <td align="center" bgcolor="#d7d7e7" valign="top">
    <br/>
    2
    <br/>
   </td>
   <td align="center" bgcolor="#ffff66" colspan="2" rowspan="2">
    Analysis II
    <br/>
    <br/>
    ——
    <b>
     Analysis
    </b>
    ——
    <br/>
    <br/>
    Analysis I
   </td>
   <td align="center" bgcolor="#ffff66" colspan="2" rowspan="2">
    Lineare Algebra II
    <br/>
    <br/>
    –—
    <b>
     Lineare Algebra
    </b>
    —–
    <br/>
    <br/>
    Lineare Algebra I
   </td>
   <td align="center" bgcolor="#ffff66">
    <b>
     Elementar- geometrie
    </b>
   </td>
   <td align="center" bgcolor="#ffff66">
    <b>
     Praktische Übung
    </b>
   </td>
   <td align="center" bgcolor="#da9292">
    <b>
     Didaktik der Funktionen und der Analysis
    </b>
   </td>
  </tr>
  <tr>
   <td align="center" bgcolor="#d7d7e7" rowspan="1">
    <br/>
    1
    <br/>
   </td>
   <td colspan="2">
   </td>
   <td align="center" bgcolor="#da9292">
    <b>
     Einführung in Fachdidaktik der Mathematik
    </b>
   </td>
  </tr>
 </table>
 <p>
 </p>
 <table border="0" cellspacing="20" style="width:100%;">
  <tr>
   <td colspan="6">
    <b>
     Legende:
    </b>
   </td>
  </tr>
  <tr>
   <td>
    Punkte
   </td>
   <td>
    =
   </td>
   <td>
    Leistungspunkte (entsprechend dem geschätzten Aufwand)
   </td>
   <td>
    Sem
   </td>
   <td>
    =
   </td>
   <td>
    Semester
   </td>
  </tr>
  <tr>
   <td bgcolor="#ffff66">
   </td>
   <td>
    =
   </td>
   <td>
    Pflichtveranstaltung in Mathematik
   </td>
   <td bgcolor="#ffd058">
   </td>
   <td>
    =
   </td>
   <td>
    Master-Arbeit
   </td>
  </tr>
  <tr>
   <td bgcolor="#ffffb3">
   </td>
   <td>
    =
   </td>
   <td>
    Wahlveranstaltung in Mathematik
   </td>
   <td bgcolor="#da9292">
   </td>
   <td>
    =
   </td>
   <td>
    Fachdidaktik
   </td>
  </tr>
 </table>
 <p>
  Weitere Informationen siehe in den verschiedenen Abschnitten der
  <a href="med-erweiterung-2021.html">
   Informationsseite zum Studiengang
  </a>
  !
 </p>
 <!-- Verantwortlich für diese Seite: Markus Junker -->
 <div class="accordion accordion-flush" id="accordionExample">
 </div>
</div>
