<div class="container px-4 py-5" id="featured-3">
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-1">
    <div class="feature col">
      <div class="feature-icon bg-gradient"></div>
      <div>
        <header class="entry-header">
          <h3>
            {% if lang == "de" %}Bildnachweis{% else %}Photo credits{% endif %}
          </h3>
        </header>
        {% for d in data %}
        <h4>{{ d['titel'] }}</h4>
        <div class="entry-content">
          {% for v in d['data'] %}
          <p>
            <img
              src="data:image/{{ v['mime'] }};base64, {{ v['bild'] }}"
              class="px-4"
              style="width: 10vw; height: auto"
            />
            {{ v['bildnachweis'] }}
          </p>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
