<div class="container px-4 py-5" id="featured-3">
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-1">
    <div class="feature col">
      <div class="feature-icon bg-gradient"></div>
      <div>
        <header class="entry-header">
          <h3>Bildnachweis</h3>
        </header>
        <div class="entry-content">
          {% for key, value in data.items() %}
          <p>
            <img
              src="{{ key }}"
              class="px-4"
              style="width: 10vw; height: auto"
            />
            {{ value }}
          </p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
