<div class="container px-4 py-5" id="featured-3">
  <div class="row g-4 py-2 row-cols-1 row-cols-lg-1">
    <div class="feature col">
      <div class="feature-icon bg-gradient"></div>
      <div>
        <div class="entry-content">
          <h3>Interne Tools</h3>
          <div class="container">
            <div class="row">
              <div class="col">
                <u
                  data-bs-toggle="tooltip"
                  title="Zur Übertragung von Daten aus Bewerbugnsformularen in das Einstellungsfformular für wissenschaftliche Hilfskräfte."
                >
                  <a
                    href="https://pdfform1.mathematik.privat"
                    class="btn btn-primary bg-ufr-blue link-dark"
                    role="button"
                    aria-disabled="true"
                  >
                    Ausfüllhilfe P166
                  </a></u
                >
                <u
                  data-bs-toggle="tooltip"
                  title="Einteilung der drei Prüferwünsche auf die Prüfer:innen für die mündlichen Prüfungen der Grundvorlesungen."
                >
                  <a
                    href="https://mi-wunsch1.mathematik.privat"
                    class="btn btn-primary bg-ufr-blue link-dark"
                    role="button"
                    aria-disabled="true"
                  >
                    Prüfungseinteilung
                  </a></u
                >
                <u
                  data-bs-toggle="tooltip"
                  title="App zur Erstellung von Statistiken in der Lehre."
                >
                  <a
                    href="https://mi-stat1.mathematik.privat"
                    class="btn btn-primary bg-ufr-blue link-dark"
                    role="button"
                    aria-disabled="true"
                  >
                    STAT
                  </a></u
                >
                <u
                  data-bs-toggle="tooltip"
                  title="App zum Editieren von den Accordion-Seite auf den Lehre-Seiten, Informationen zum Studiendekanat, Planer für gemeinsame Aufgaben."
                >
                  <a
                    href="https://mi-faq1.mathematik.privat"
                    class="btn btn-primary bg-ufr-blue link-dark"
                    role="button"
                    aria-disabled="true"
                  >
                    FAQ
                  </a></u
                >

                <u
                  data-bs-toggle="tooltip"
                  title="App zum Eintragen von Neuigkeiten auf Homepage, Monitor im EG, Wochenprogramm"
                >
                  <a
                    href="https://mi-news1.mathematik.privat"
                    class="btn btn-primary bg-ufr-blue link-dark"
                    role="button"
                    aria-disabled="true"
                  >
                    NEWS
                  </a></u
                >
                <u
                  data-bs-toggle="tooltip"
                  title="App zum Eintragen von Personen am Mathematischen Institut"
                >
                  <a
                    href="https://mi-person1.mathematik.privat"
                    class="btn btn-primary bg-ufr-blue link-dark"
                    role="button"
                    aria-disabled="true"
                  >
                    PERSON
                  </a></u
                >
                <u
                  data-bs-toggle="tooltip"
                  title="App zum Eintragen von Informationen zu unseren Lehrveranstaltungen (Klausuren, Dozent:innen, Räume etc)"
                >
                  <a
                    href="https://mi-vvz1.mathematik.privat"
                    class="btn btn-primary bg-ufr-blue link-dark"
                    role="button"
                    aria-disabled="true"
                  >
                    VVZ
                  </a></u
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row g-4 py-2 row-cols-1 row-cols-lg-1">
    <div class="feature col">
      <div class="feature-icon bg-gradient"></div>
      <div>
        <div class="entry-content">
          <h3>Interne Webseiten</h3>
          <div class="container">
            <div class="row">
              <div class="col">
                <a
                  href="{{url_for('showmonitor')}}"
                  class="btn btn-primary bg-ufr-blue link-dark"
                  role="button"
                  aria-disabled="true"
                >
                  Monitor
                </a>
                <a
                  href="{{url_for('showlehrveranstaltungendeputate', lang=lang)}}"
                  class="btn btn-primary bg-ufr-blue link-dark"
                  role="button"
                  aria-disabled="true"
                >
                  Deputate
                </a>
                <a
                  href="{{url_for('showlehrveranstaltungennextsemester', lang=lang)}}"
                  class="btn btn-primary bg-ufr-blue link-dark"
                  role="button"
                  aria-disabled="true"
                >
                  Lehrveranstaltungen des kommenden Semesters (unveröffentlicht)
                </a>
                <a
                  href="{{url_for('showlexikon', lang = lang)}}"
                  class="btn btn-primary bg-ufr-blue link-dark"
                  role="button"
                  aria-disabled="true"
                >
                  Lexikon (de/en)
                </a>
                <a
                  href="{{url_for('showvpnaccordion_nlehre', lang = lang, kurzname = 'homepage')}}"
                  class="btn btn-primary bg-ufr-blue link-dark"
                  role="button"
                  aria-disabled="true"
                >
                  Unsere Homepage
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
