<div class="container" id="inhalt">
  <div class="container text-end mb-3">
    <a
      href="{{url_for('shownews', lang=lang, anfang = data['previousanfang'], end = data['anfang'])}}"
      class="btn btn-primary"
      role="button"
    >
      <i class="fas fa-angles-up" style="transform: rotate(270deg)"></i>
    </a>
    <a
      href="{{url_for('shownews', lang=lang, anfang = data['end'], end = data['nextend'])}}"
      class="btn btn-primary"
      role="button"
    >
      <i class="fas fa-angles-up" style="transform: rotate(90deg)"></i>
    </a>
  </div>

  <h2>
    {% if lang == "de" %}News-Archiv des Mathematischen Instituts{% else
    %}News archive of the Mathematical Institute{% endif %}
  </h2>

  <h3>{{ data['zeitraum'] }}</h3>

  <div class="ufr-news-list" id="message-container">
    {% for item in data["news"] %}
    <article
      class="ufr-news-item
        {% if item['today'] and item['showlastday'] %}is-today{% endif %}
        {% if loop.index0 % 2 %}is-reversed{% endif %}"
    >
      {% if item['image'] != [] %}
      <div class="ufr-news-image">
        <img
          src="data:image/{{ item['mime'] }};base64,{{ item['image'][0]['data'] }}"
          alt=""
        />
      </div>
      {% endif %}

      <div class="ufr-news-text">
        {% if loop.index0 % 2 == 0 %}
        <h3>
          {% if lang == "de" %}{{ item['home']['title_de']|markdown }}{% else %}{{ item['home']['title_en']|markdown }}{% endif %}
        </h3>
        <div>
          {% if lang == "de" %}{{ item['home']['text_de']|markdown }}{% else %}{{ item['home']['text_en']|markdown }}{% endif %}
        </div>
        {% else %}
        <h3>{{ item['monitor']['title']|markdown }}</h3>
        <div>{{ item['monitor']['text']|markdown }}</div>
        {% endif %}

        {% if item['link'] != '' %}
        <a class="ufr-accordion-link" href="{{ item['link'] }}">
          <i class="fa-solid fa-link" aria-hidden="true"></i>
          {% if lang == "de" %}Mehr erfahren{% else %}Read more{% endif %}
        </a>
        {% endif %}
      </div>
    </article>
    {% endfor %}
  </div>
</div>
