<div class="container" id="pruefungen_meh">
  <p>
    <b style="font-size: 110%"> Studienleistungen: </b>
    <br />
  </p>
  <table border="1" width="100%">
    <tr bgcolor="#a7c1e3">
      <td colspan="3">
        <b> Modul </b>
      </td>
      <td rowspan="2" style="vertical-align: bottom">
        <i> Anmeldung </i>
      </td>
    </tr>
    <tr bgcolor="#a7c1e3">
      <td width="30%">
        <i> Studienleistung </i>
      </td>
      <td width="27%">
        <i> Nummer </i>
      </td>
      <td>
        <i> Semester </i>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <b> Analysis </b>
      </td>
      <td rowspan="31" style="vertical-align: top">
        <br />
        Alle Registrierungen über
        <a href="https://campus.uni-freiburg.de"> HISinOne </a>
        ;
        <br />
        <br />
        <a
          href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/termine.html"
        >
          Fristende
        </a>
        ca. zwei Wochen vor Ende der Vorlesungszeit
        <br style="margin-bottom: 380px" />
        Registrierung der SL zur
        <i> Praktischen Übung Numerik </i>
        erst im Sommersemester!
      </td>
    </tr>
    <tr>
      <td>Übung Analysis I</td>
      <td>07LE23SL-Ü-0-Ana1</td>
      <td>Wintersemester</td>
    </tr>
    <tr>
      <td>Klausur Analysis I</td>
      <td>07LE23SL-K-0-Ana1</td>
      <td>jedes Semester</td>
    </tr>
    <tr>
      <td>Übung Analysis II</td>
      <td>07LE23SL-Ü-0-Ana2</td>
      <td>Sommersemester</td>
    </tr>
    <tr>
      <td colspan="3">
        <b> Lineare Algebra </b>
      </td>
    </tr>
    <tr>
      <td>Übung Lineare Algebra I</td>
      <td>07LE23SL-Ü-0-LA1</td>
      <td>Wintersemester</td>
    </tr>
    <tr>
      <td>Klausur Lineare Algebra I</td>
      <td>07LE23SL-K-0-LA1</td>
      <td>jedes Semester</td>
    </tr>
    <tr>
      <td>Übung Lineare Algebra II</td>
      <td>07LE23SL-Ü-0-LA2</td>
      <td>Sommersemester</td>
    </tr>
    <tr>
      <td colspan="3">
        <b> Algebra und Zahlentheorie </b>
      </td>
    </tr>
    <tr>
      <td>Übung</td>
      <td>07LE23SL-Ü-1-AuZ</td>
      <td>Wintersemester</td>
    </tr>
    <tr>
      <td colspan="3">
        <b> Elementargeometrie </b>
      </td>
    </tr>
    <tr>
      <td>Übung</td>
      <td>07LE23SL-Ü-3-ElGeo</td>
      <td>Sommersemester</td>
    </tr>
    <tr>
      <td colspan="3">
        <b> Erweiterung der Analysis </b>
      </td>
    </tr>
    <tr>
      <td>Übung</td>
      <td>07LE23SL-Ü-0-EAna</td>
      <td>Wintersemester</td>
    </tr>
    <tr>
      <td colspan="3">
        <b> Numerik </b>
      </td>
    </tr>
    <tr>
      <td>Übung Numerik I</td>
      <td>07LE23SL-Ü-5-Num1</td>
      <td>Wintersemester</td>
    </tr>
    <tr>
      <td>Übung Numerik II</td>
      <td>07LE23SL-Ü-5-Num2</td>
      <td>Sommersemester</td>
    </tr>
    <tr>
      <td colspan="3">
        <b> Stochastik </b>
      </td>
    </tr>
    <tr>
      <td>Übung Stochastik I</td>
      <td>07LE23SL-Ü-6-Sto1</td>
      <td>Wintersemester</td>
    </tr>
    <tr>
      <td>Übung Stochastik II</td>
      <td>07LE23SL-Ü-6-Sto2</td>
      <td>Sommersemester</td>
    </tr>
    <tr>
      <td colspan="3">
        <b> Praktische Übung </b>
      </td>
    </tr>
    <tr>
      <td>Praktische Übung</td>
      <td>07LE23SL-MEH21-WP-PÜ</td>
      <td>je nach Wahl</td>
    </tr>
    <tr>
      <td colspan="3">
        <b> Mathematische Vertiefung </b>
        <i> oder </i>
        <b> Wissenschaftliches Arbeiten </b>
      </td>
    </tr>
    <tr>
      <td>
        Übung vertiefte Vorlesung
        <br />
        <i> oder </i>
        <br />
        Studienleistung Lesekurs
      </td>
      <td>
        07LE23SL-Ü-..-....
        <br />
        <i> bzw. </i>
        <br />
        07LE23SL-MEH21-WP-WA
      </td>
      <td>jedes Semester</td>
    </tr>
    <tr>
      <td colspan="3">
        <b> Fachdidaktik Mathematik </b>
      </td>
    </tr>
    <tr>
      <td>Übung und Klausur Einführung in die Fachdidaktik</td>
      <td>07LE23SL-5E-7-EFdMathe</td>
      <td>jedes Semester</td>
    </tr>
    <tr>
      <td colspan="3">
        <b> Fachdidaktik der mathematischen Teilgebiete </b>
      </td>
    </tr>
    <tr>
      <td>SL Didaktik der Funktionen und der Analysis</td>
      <td>07LE23SL-S-7-DidFunkAna</td>
      <td>jedes Semester</td>
    </tr>
    <tr>
      <td>SL Didaktik der Stochastik und der Algebra</td>
      <td>07LE23SL-S-7-DidStoAlg</td>
      <td>jedes Semester</td>
    </tr>
    <tr>
      <td colspan="3">
        <b> Fachdidaktische Entwicklung </b>
        <i> oder </i>
        <b> Fachdidaktische Forschung </b>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top">
        SL Fachdidaktikseminar
        <br style="margin-bottom: 3px" />
        <i> bzw. drei Teil-Studienleistungen </i>
        <br />
        Fachdidaktische Forschung
      </td>
      <td style="vertical-align: top">
        07LE23SL-Med-WP-FE
        <br style="margin-bottom: 3px" />
        07LE23SL-SÜ-7-FF_1Entw
        <br />
        07LE23SL-SÜ-7-FF_2Meth
        <br />
        07LE23SL-SÜ-7-FF_3Sem
      </td>
      <td>jedes Semester</td>
    </tr>
  </table>
  <p>
    <b style="font-size: 110%"> Prüfungen: </b>
    <br />
  </p>
  <table border="1" width="100%">
    <tr bgcolor="#a7c1e3">
      <td width="25%">
        <i> Modul </i>
      </td>
      <td width="20%">
        <i> Art und Dauer </i>
      </td>
      <td>
        <i> Zeitpunkt </i>
      </td>
      <td>
        <i> Anmeldung </i>
      </td>
    </tr>
    <tr>
      <td>
        <b> Analysis </b>
        (I und II) *
      </td>
      <td>
        <a
          href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/pruefungen.html#analinalg"
        >
          mündliche Prüfung
        </a>
        <br />
        (ca. 30 Minuten)
      </td>
      <td rowspan="2">jedes Semester am Ende der vorlesungsfreien Zeit</td>
      <td rowspan="2">
        Anmeldung über
        <a href="https://campus.uni-freiburg.de"> HISinOne </a>
        ;
        <br />
        <a
          href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/termine.html"
        >
          Fristende
        </a>
        ca. zwei Wochen vor Ende der Vorlesungszeit des Semesters, zu dessen
        Ende die Prüfung stattfinden soll.
      </td>
    </tr>
    <tr>
      <td>
        <b> Lineare Algebra </b>
        (I und II) *
      </td>
      <td>
        <a
          href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/pruefungen.html#analinalg"
        >
          mündliche Prüfung
        </a>
        <br />
        (ca. 30 Minuten)
      </td>
    </tr>
    <tr>
      <td>
        <b> Algebra und Zahlentheorie </b>
      </td>
      <td>
        Klausur
        <br />
        (2–3 Stunden)
      </td>
      <td>am Ende des Wintersemesters</td>
      <td rowspan="6">
        Anmeldung über
        <a href="https://campus.uni-freiburg.de"> HISinOne </a>
        ;
        <br />
        <a
          href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/termine.html"
        >
          Fristende
        </a>
        ca. zwei Wochen vor Ende der Vorlesungszeit
      </td>
    </tr>
    <tr>
      <td>
        <b> Elementargeometrie </b>
      </td>
      <td>
        Klausur
        <br />
        (2–3 Stunden)
      </td>
      <td>am Ende des Sommersemesters</td>
    </tr>
    <tr>
      <td>
        <b> Erweiterung der Analysis </b>
      </td>
      <td>
        Klausur
        <br />
        (2–3 Stunden)
      </td>
      <td>am Ende des Wintersemesters</td>
    </tr>
    <tr>
      <td>
        <b> Fachdidaktik der mathematischen Teilgebiete </b>
      </td>
      <td>
        Klausur
        <br />
        (2–3 Stunden)
      </td>
      <td>am Ende jedes Semesters</td>
    </tr>
    <tr>
      <td>
        <b> Numerik </b>
        (I und II)
      </td>
      <td>
        Klausur
        <br />
        (2–3 Stunden)
      </td>
      <td>am Ende des Sommersemesters</td>
    </tr>
    <tr>
      <td>
        <b> Stochastik </b>
        (I und II)
      </td>
      <td>
        Klausur
        <br />
        (2–3 Stunden)
      </td>
      <td>am Ende des Sommersemesters</td>
    </tr>
    <tr>
      <td>
        <b> Proseminar </b>
      </td>
      <td>
        Vortrag
        <br />
        (ca. 90 Minuten)
      </td>
      <td>während des Semesters</td>
      <td>
        Anmeldung über
        <a href="https://campus.uni-freiburg.de"> HISinOne </a>
        ;
        <br />
        <a
          href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/termine.html"
        >
          Fristende
        </a>
        Mittwoch vor Beginn der Vorlesungszeit
      </td>
    </tr>
    <tr>
      <td>
        <b> Mathematische Vertiefung </b>
        <br />
        <i> oder </i>
        <b> Wissenschaftliches Arbeiten </b>
      </td>
      <td>
        <a
          href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/pruefungen.html#muendlichmastes"
        >
          mündliche Prüfung
        </a>
        <br />
        (ca. 30 Minuten)
      </td>
      <td>individuelle Terminvereinbarung</td>
      <td>
        Anmeldung schriftlich über das Prüfungsamt (
        <a
          href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/index.html#formulare"
        >
          Formular
        </a>
        )
      </td>
    </tr>
    <tr>
      <td>
        <a
          href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/abschlussarbeiten.html"
        >
          <b> Master-Arbeit </b>
        </a>
        **
      </td>
      <td>
        schriftliche Arbeit
        <br />
        (4 Monate)
      </td>
      <td>jederzeit</td>
      <td>
        Anmeldung schriftlich über das Prüfungsamt (
        <a
          href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/index.html#formulare"
        >
          Formular
        </a>
        ) ***
      </td>
    </tr>
  </table>
  (*) Diese Prüfungen haben Zulassungsvoraussetzungen, nämlich die bestandene
  Klausur in Analysis I bzw. Lineare Algebra I und die bestandene Übung in
  Analysis II bzw. Lineare Algebra II. Die Prüfungsanmeldung kann unter
  Vorbehalt in dem Semester erfolgen, in dem diese Studienleistungen noch
  erworben werden.
  <br style="margin-bottom: 5px" />
  Zusätzlich zur Prüfungsanmeldung können gegen Ende der Anmeldefrist
  <a
    href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/prueferwuensche.html"
  >
    Prüferwünsche
  </a>
  abgegeben werden.
  <br style="margin-bottom: 10px" />
  (**) Zulassungsvoraussetzung für die Zulassung zur Master-Arbeit ist, dass
  mindestens 60 ECTS-Punkte absolvoiert sind und dass der lehramtsbezogene
  BAchelor-Studiengang in den anderne Fächern abgeschlossen ist.
  <br />
  Mit der Anmeldung der Arbeit beginnt die viermonatige Bearbeitungszeit.
  <br style="margin-bottom: 5px" />
  (***) Für den Fall, dass die Arbeit in Mathematik geschrieben wird (
  <a
    href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/abschlussarbeiten.html"
  >
    weitere Informationen zur Abschlussarbeit
  </a>
  ).
</div>
