<div class="container" id="studienplan">
  <p>
    <b style="font-size: 110%"> Modulplan mit Erläuterungen: </b>
    <br style="margin-bottom: 10px" />
    Alle hier im Überblick gegebenen Informationen finden sich ausführlicher im
    <a
      href="https://www.math.uni-freiburg.de/lehre/studiengaenge/modulhandbuecher.html"
    >
      Modulhandbuch
    </a>
    .
  </p>
  <table border="1" style="margin-top: 20px">
    <tr>
      <td
        bgcolor="#a7c1e3"
        colspan="4"
        style="
          border-left: black 2px solid;
          border-top: black 2px solid;
          border-right: black 2px solid;
        "
      >
        <b style="font-size: 110%"> 1. FACHWISSENSCHAFT MATHEMATIK </b>
        <b style="font-size: 150%">
          <sub> </sub>
        </b>
        (17 ECTS-Punkte)
      </td>
    </tr>
    <tr
      bgcolor="#dae3ea"
      style="
        border-left: black 2px solid;
        border-bottom: black 2px solid;
        border-right: black 2px solid;
      "
    >
      <td style="width: 30%">Modulteil</td>
      <td style="width: 20%">Nummer in HISinOne</td>
      <td style="width: 20%">Angebot / Zeitpunkt</td>
      <td style="width: 30%">Anmeldung</td>
    </tr>
    <tr style="border-left: #f4f3f3 2px solid; border-right: #f4f3f3 2px solid">
      <td colspan="4"></td>
    </tr>
    <!-- ================================================================================================================================== -->
    <tr style="background-color: #ffff66" valign="top">
      <td colspan="4">
        <b> ERWEITERUNG DER ANALYSIS </b>
        <b style="font-size: 150%">
          <sub> </sub>
        </b>
        (Pflichtmodul, 5 ECTS-Punkte)
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Voraussetzungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">
        Notwendige Vorkenntnisse: Analysis I und II, Lineare Algebra I
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Veranstaltungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>
        Erweiterung der Analysis
        <br />
        <i> 2-stündige Vorlesung </i>
      </td>
      <td>07LE23V2-0-EAna</td>
      <td rowspan="2">jedes Wintersemester</td>
      <td rowspan="2">
        Belegung der Vorlesung bis Vorlesungsbeginn
        <br style="margin-bottom: 5px" />
        Belegung der Übung in der Regel in der ersten Vorlesungswoche
      </td>
    </tr>
    <tr valign="top">
      <td>
        Erweiterung der Analysis
        <br />
        <i> 2-stündige Übung </i>
      </td>
      <td>07LE23Ü-0-EAna</td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Studienleistungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>Übung Erweiterung der Analysis</td>
      <td>07LE23SL-Ü-0-EAna</td>
      <td>Wintersemester</td>
      <td>
        Registrierung bis
        <a
          href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/termine.html"
          title="in der Regel bis etwa zwei Wochen vor Vorlesungsende"
        >
          Fristende
        </a>
        im Wintersemester
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Prüfungsleistungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>
        Klausur Erweiterung der Analysis
        <br style="margin-bottom: 5px" />
        <i> Dauer 2–3 Stunden </i>
      </td>
      <td>07LE23PL-MEd18-P-EAna</td>
      <td>im Wintersemester, nach oder zum Ende der Vorlesungszeit</td>
      <td>
        Anmeldung der Prüfung bis
        <a
          href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/termine.html"
          title="in der Regel bis etwa zwei Wochen vor Vorlesungsende"
        >
          Fristende
        </a>
        im Wintersemester
      </td>
    </tr>
    <tr style="border-left: #f4f3f3 2px solid; border-right: #f4f3f3 2px solid">
      <td colspan="4"></td>
    </tr>
    <!-- ================================================================================================================================== -->
    <tr style="background-color: #ffffb3" valign="top">
      <td colspan="4">
        <b> MATHEMATISCHE ERGÄNZUNG </b>
        <b style="font-size: 150%">
          <sub> </sub>
        </b>
        (Pflichtmodul mit Wahlveranstaltung, 3 ECTS-Punkte)
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Voraussetzungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">
        Die notwendigen Vorkenntnissen hängen von der gewählten Veranstaltung
        ab, siehe
        <a href="https://www.math.uni-freiburg.de/lehre/v/index.html">
          Kommentiertes Vorlesungs­verzeichnis
        </a>
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Veranstaltungen </b>
        , eine zur Wahl
      </td>
    </tr>
    <tr valign="top">
      <td>
        <i> Seminar (2-stündig) </i>
        <br style="margin-bottom: 5px" />
        (kein Proseminar, kein Fachdidaktikseminar)
      </td>
      <td>
        07LE23S-x-??
        <br style="margin-bottom: 5px" />
        (x ≠ 7)
      </td>
      <td>
        jedes Semester
        <br style="margin-bottom: 5px" />
        insbesondere Blockseminar nach dem Praxissemester
      </td>
      <td>
        Voranmeldung nach Angaben im
        <a href="https://www.math.uni-freiburg.de/lehre/v/index.html">
          Komm. Vorlesungsverzeichnis
        </a>
        ; Sudienplatzvergabe bei der Vorbesprechung am Ende des Vorsemesters
      </td>
    </tr>
    <tr valign="top">
      <td>
        <i> Praktische Übung (2-stündig) </i>
        <br style="margin-bottom: 5px" />
        eine der im Bachelor noch nicht absolvierten Praktischen Übungen
      </td>
      <td>07LE23PÜ-....</td>
      <td>
        jedes Semester
        <br style="margin-bottom: 5px" />
        (PÜ Numerik ist zweisemestrig!)
      </td>
      <td>Belegung der Praktischen Übung bis Vorlesungsbeginn</td>
    </tr>
    <tr valign="top">
      <td>
        <i> Vorlesung (2- oder 4-stündig, in der Regel mit Übung) </i>
      </td>
      <td>
        07LE23V-...
        <br />
        (07LE23Ü-...)
      </td>
      <td>jedes Semester</td>
      <td>
        Belegung der Vorlesung bis Vorlesungsbeginn
        <br style="margin-bottom: 5px" />
        Belegung der Übung in der Regel in der ersten Vorlesungswoche
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Studienleistungen </b>
        (genaue Anforderungen siehe
        <a
          href="https://www.math.uni-freiburg.de/lehre/studiengaenge/modulhandbuecher.html"
        >
          aktuelle Ergänzungen der Modulhandbücher
        </a>
        )
      </td>
    </tr>
    <tr valign="top">
      <td>
        Seminar:
        <br />
        Vortrag und aktive Mitarbeit
      </td>
      <td>07LE23SL-MEd18-P-ME_Sem</td>
      <td>im jeweiligen Semester</td>
      <td>
        Registrierung bis
        <a
          href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/termine.html"
          title="in der Regel bis Mittwoch vor Vorlesungsbeginn"
        >
          Fristende
        </a>
        vor Vorlesungsbeginn
      </td>
    </tr>
    <tr valign="top">
      <td>
        Praktische Übung:
        <br />
        Programmieraufgaben
      </td>
      <td>07LE23SL-MEd18-P-ME_PÜ</td>
      <td>im jeweiligen Semester</td>
      <td>
        Registrierung bis
        <a
          href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/termine.html"
          title="in der Regel bis etwa zwei Wochen vor Vorlesungsende"
        >
          Fristende
        </a>
        im jeweiligen Semester
      </td>
    </tr>
    <tr valign="top">
      <td>
        Vorlesung:
        <br />
        Übungen und/oder Abschlusstest
      </td>
      <td>07LE23SL-MEd18-P-ME_V</td>
      <td>im jeweiligen Semester</td>
      <td>
        Registrierung bis
        <a
          href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/termine.html"
          title="in der Regel bis etwa zwei Wochen vor Vorlesungsende"
        >
          Fristende
        </a>
        im jeweiligen Semester
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Prüfungsleistungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">keine</td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Bemerkungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">
        Es gibt für das Modul eine Auswahl an Veranstaltungen, deren
        Arbeitsaufwand genau den 3 ECTS-Punkten des Modul entspricht (
        <i>
          Praktiscfhe Übung Numerik oder Stochastik; Blockseminar nach dem
          Praxissemester
        </i>
        ). Es können bei Interesse aber auch Veranstaltungen mit höherem
        Arbeitsaufwand gewählt werden (
        <i> z.B. 2-stündige Vorlesung mit 2-stündigen Übungen </i>
        ). Dann müssen sämtliche Anforderungen der Veranstaltung absolviert
        werden.
      </td>
    </tr>
    <tr style="border-left: #f4f3f3 2px solid; border-right: #f4f3f3 2px solid">
      <td colspan="4"></td>
    </tr>
    <!-- ================================================================================================================================== -->
    <tr style="background-color: #ffffb3" valign="top">
      <td colspan="4">
        <b> MATHEMATISCHE VERTIEFUNG </b>
        <b style="font-size: 150%">
          <sub> </sub>
        </b>
        (Wahlpflichtmodul *, 9 ECTS-Punkte)
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <span style="color: red">
          * Dieses Modul oder „Wissenschaftliches Arbeiten“ muss absolviert
          werden.
        </span>
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Voraussetzungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">
        Die notwendigen Vorkenntnissen hängen von der gewählten Vorlesung ab,
        siehe
        <a href="https://www.math.uni-freiburg.de/lehre/v/index.html">
          Kommentiertes Vorlesungs­verzeichnis
        </a>
        .
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Veranstaltungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>
        <i> 4-stündige Vorlesung </i>
        , z.B.
        <br style="margin-bottom: 5px" />
        –
        <i> Analysis III </i>
        <br />
        –
        <i> Einf. Th.u.Num PDE </i>
        <br />
        –
        <i> Funktionentheorie </i>
        <br />
        –
        <i> Kommutative Algebra </i>
        <br />
        –
        <i> Kurven und Flächen </i>
        <br />
        –
        <i> Mathematische Logik </i>
        <br />
        –
        <i> Topologie </i>
        <br />
        –
        <i> Wahrscheinlichkeitstheorie </i>
      </td>
      <td>
        <br style="margin-bottom: 5px" />
        07LE23V-0-Ana3
        <br />
        07LE23V-5-PDE0a
        <br />
        07LE23V-3-FunkTh
        <br />
        07LE23V-1-KommA
        <br />
        07LE23V-3-KuF
        <br />
        07LE23V-4-Logik
        <br />
        07LE23V-3-Top
        <br />
        07LE23V-6-WT
      </td>
      <td>
        jedes Semester:
        <br style="margin-bottom: 5px" />
        Winter
        <br />
        Winter
        <br />
        Winter
        <br />
        Sommer
        <br />
        Sommer
        <br />
        Sommer
        <br />
        Sommer
        <br />
        Sommer
      </td>
      <td rowspan="2">
        Belegung der Vorlesung bis Vorlesungsbeginn
        <br style="margin-bottom: 5px" />
        Belegung der Übung in der Regel in der ersten Vorlesungswoche
      </td>
    </tr>
    <tr valign="top">
      <td>
        <i> zugehörige 2-stündige Übung </i>
      </td>
      <td>07LE23Ü-?-???</td>
      <td>wie die Vorlesung</td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Studienleistungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>Übung zu der gewählten Vorlesung</td>
      <td>07LE23SL-Ü-?-???</td>
      <td>im jeweiligen Semester</td>
      <td>
        Registrierung bis
        <a
          href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/termine.html"
          title="in der Regel bis etwa zwei Wochen vor Vorlesungsende"
        >
          Fristende
        </a>
        im jeweiligen Semester
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Prüfungsleistungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>
        mündliche Prüfung
        <br style="margin-bottom: 5px" />
        <i> Dauer ca. 30 Minuten </i>
      </td>
      <td>07LE23PL-MEd18-WP-MV</td>
      <td>nach individueller Terminvereinbarung mit Prüfer:in</td>
      <td>
        Anmeldung spätestens drei Wochen vor Prüfung schriftlich im Prüfungs­amt
        (
        <a
          href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/index.html#formulare"
        >
          Formular
        </a>
        )
      </td>
    </tr>
    <tr style="border-left: #f4f3f3 2px solid; border-right: #f4f3f3 2px solid">
      <td colspan="4"></td>
    </tr>
    <!-- ================================================================================================================================== -->
    <tr style="background-color: #ffffb3" valign="top">
      <td colspan="4">
        <b> WISSENSCHAFTLICHES ARBEITEN </b>
        <b style="font-size: 150%">
          <sub> </sub>
        </b>
        (Wahlpflichtmodul *, 9 ECTS-Punkte)
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <span style="color: red">
          * Dieses Modul oder „Mathematische Vertiefung“ muss absolviert werden.
        </span>
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Voraussetzungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">
        Die notwendigen Vorkenntnissen hängen vom konkreten Lesekurs ab.
        Lesekurse werden in individueller Absprache mit einem/einer Dozent:in
        angeboten und erscheinen nicht im Vorlesungsverzeichnis.
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Veranstaltungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>
        <i>
          Lesekurs (= betreutes Selbst­studium) im Umfang einer 4-stündigen
          Vorlesung
        </i>
      </td>
      <td>(nicht in HISinOne)</td>
      <td>jedes Semester</td>
      <td>Persönliche Anmeldung bei dem/der Dozent:in</td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Studienleistungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>Studienleistungen wie abgesprochen</td>
      <td>07LE23SL-MEd18-WP-WA</td>
      <td>im jeweiligen Semester</td>
      <td>
        Registrierung bis
        <a
          href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/termine.html"
          title="in der Regel bis etwa zwei Wochen vor Vorlesungsende"
        >
          Fristende
        </a>
        im Wintersemester
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Prüfungsleistungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>
        mündliche Prüfung
        <br style="margin-bottom: 5px" />
        <i> Dauer ca. 30 Minuten </i>
      </td>
      <td>07LE23PL-MEd18-WP-WA</td>
      <td>nach individueller Terminvereinbarung mit Prüfer:in</td>
      <td>
        Anmeldung spätestens drei Wochen vor Prüfung schriftlich im Prüfungs­amt
        (
        <a
          href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/index.html#formulare"
        >
          Formular
        </a>
        )
      </td>
    </tr>
    <tr style="border-left: #f4f3f3 2px solid; border-right: #f4f3f3 2px solid">
      <td colspan="4"></td>
    </tr>
    <!-- ================================================================================================================================== -->
    <tr>
      <td
        bgcolor="#a7c1e3"
        colspan="4"
        style="
          border-left: black 2px solid;
          border-top: black 2px solid;
          border-right: black 2px solid;
        "
      >
        <b style="font-size: 110%"> 2. FACHDIDAKTIK MATHEMATIK </b>
        <b style="font-size: 150%">
          <sub> </sub>
        </b>
        (10 ECTS-Punkte)
      </td>
    </tr>
    <tr
      bgcolor="#dae3ea"
      style="
        border-left: black 2px solid;
        border-bottom: black 2px solid;
        border-right: black 2px solid;
      "
    >
      <td style="width: 30%">Modulteil</td>
      <td style="width: 20%">Nummer in HISinOne</td>
      <td style="width: 20%">Angebot / Zeitpunkt</td>
      <td style="width: 30%">Anmeldung</td>
    </tr>
    <tr style="border-left: #f4f3f3 2px solid; border-right: #f4f3f3 2px solid">
      <td colspan="4"></td>
    </tr>
    <!-- ================================================================================================================================== -->
    <tr style="background-color: #da9292" valign="top">
      <td colspan="4">
        <b> FACHDIDAKTIK DER MATHEMATISCHEN TEILGEBIETE </b>
        <b style="font-size: 150%">
          <sub> </sub>
        </b>
        (Pflichtmodul, 6 ECTS-Punkte)
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Voraussetzungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">
        Notwendige Vorkenntnisse: „Einführung in die Fachdidaktik der
        Mathematik“ sowie „Analysis I“ und „Numerik“ für den ersten
        Veranstaltuntgsteil, „Stochastik“ und „Algebra und Zahlentheorie“ für
        den zweiten Veranstaltuntgsteil
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Veranstaltungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>
        Didaktik der Funktionen und der Analysis
        <br />
        <i> 3-stündiges Seminar mit Übung </i>
      </td>
      <td>07LE23S-7-DidFunkAna</td>
      <td rowspan="2">
        beide Veranstaltungen werden nach Möglichkeit jedes Semester angeboten
      </td>
      <td>Belegung der Veranstaltung bis Vorlesungsbeginn</td>
    </tr>
    <tr valign="top">
      <td>
        Didaktik der Stochastik und der Algebra
        <br />
        <i> 3-stündiges Seminar mit Übung </i>
      </td>
      <td>07LE23S-7-DidStoAlg</td>
      <td>Belegung der Veranstaltung bis Vorlesungsbeginn</td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Studienleistungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>Studienleistungen in Didaktik der Funktionen und der Analysis</td>
      <td>07LE23SL-S-7-DidFunkAna</td>
      <td>im jeweiligen Semester</td>
      <td>
        Registrierung bis
        <a
          href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/termine.html"
          title="in der Regel bis etwa zwei Wochen vor Vorlesungsende"
        >
          Fristende
        </a>
        im jeweiligen Semester
      </td>
    </tr>
    <tr valign="top">
      <td>Studienleistungen in Didaktik der Stochastik und der Algebra</td>
      <td>07LE23SL-S-7-DidStoAlg</td>
      <td>im jeweiligen Semester</td>
      <td>
        Registrierung bis
        <a
          href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/termine.html"
          title="in der Regel bis etwa zwei Wochen vor Vorlesungsende"
        >
          Fristende
        </a>
        im jeweiligen Semester
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Prüfungsleistungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>
        Klausur Fachdidaktik der mathematischen Teilgebiete
        <br style="margin-bottom: 5px" />
        <i> Dauer 2–3 Stunden </i>
      </td>
      <td>07LE23PL-MEd18-P-FMT</td>
      <td>jedes Semester, nach oder zum Ende der Vorlesungszeit</td>
      <td>
        Anmeldung der Prüfung bis
        <a
          href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/termine.html"
          title="in der Regel bis etwa zwei Wochen vor Vorlesungsende"
        >
          Fristende
        </a>
        im jeweiligen Semester
      </td>
    </tr>
    <tr style="border-left: #f4f3f3 2px solid; border-right: #f4f3f3 2px solid">
      <td colspan="4"></td>
    </tr>
    <!-- ================================================================================================================================== -->
    <tr style="background-color: #dab3b3" valign="top">
      <td colspan="4">
        <b> FACHDIDAKTISCHE ENTWICKLUNG </b>
        <b style="font-size: 150%">
          <sub> </sub>
        </b>
        (Wahlpflichtmodul *, 4 ECTS-Punkte)
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <span style="color: red">
          * Dieses Modul oder „Fachdidaktische Forschung“ muss absolviert
          werden.
        </span>
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Voraussetzungen </b>
      </td>
    </tr>
    <tr>
      <td colspan="4">
        Notwendige Vorkenntnisse: „Einführung in die Fachdidaktik der
        Mathematik“
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Veranstaltungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>
        ein Fachdidaktikseminar
        <br />
        <i> 2- bis 3-stündiges Seminar </i>
      </td>
      <td>007LE23S-Sem-7-??</td>
      <td>jedes Semester</td>
      <td>
        Anmeldung zur Veranstaltung siehe
        <a href="https://www.math.uni-freiburg.de/lehre/v/index.html">
          Kommentiertes Vorlesungs­verzeichnis
        </a>
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Studienleistungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>
        Hängen vom gewählten Fachdidaktikseminar ab;
        <br />
        siehe
        <a
          href="https://www.math.uni-freiburg.de/lehre/studiengaenge/modulhandbuecher.html"
        >
          aktuelle Ergänzungen der Modulhandbücher
        </a>
      </td>
      <td>07LE23SL-MEd-WP-FE</td>
      <td>im jeweiligen Semester</td>
      <td>
        Registrierung bis
        <a
          href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/termine.html"
          title="in der Regel bis etwa zwei Wochen vor Vorlesungsende"
        >
          Fristende
        </a>
        im jeweiligen Semester
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Prüfungsleistungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">keine</td>
    </tr>
    <tr style="border-left: #f4f3f3 2px solid; border-right: #f4f3f3 2px solid">
      <td colspan="4"></td>
    </tr>
    <!-- ================================================================================================================================== -->
    <tr style="background-color: #dab3b3" valign="top">
      <td colspan="4">
        <b> FACHDIDAKTISCHE FORSCHUNG </b>
        <b style="font-size: 150%">
          <sub> </sub>
        </b>
        (Wahlpflichtmodul *, 4 ECTS-Punkte)
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <span style="color: red">
          * Dieses Modul oder „Fachdidaktische Entwicklung“ muss absolviert
          werden.
        </span>
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Voraussetzungen </b>
      </td>
    </tr>
    <tr>
      <td colspan="4">
        Dieses Modul ist notwendige Grundlage für eine Master-Arbeit in
        Fachdiddaktik der Mathematik und aufgrund der begrenzten
        Betreuungskapazitäten dafür reserviert. Teilnahmevoraussetzung ist daher
        die Zuteilung eines Studienplatzes im Modul nach voherigen Anmeldung.
        <br style="margin-bottom: 5px" />
        Notwendige Vorkenntnisse: „Einführung in die Fachdidaktik der
        Mathematik“
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Veranstaltungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>
        Fachdidaktische Entwicklungs­forschung zu ausgewählten Schwer­punkten
        <br />
        <i> 2-stündiges Seminar mit Übung </i>
      </td>
      <td>07LE23S-SÜ-7-FF_1Entw</td>
      <td rowspan="3">
        Veranstaltungen der PH Freiburg.
        <br style="margin-bottom: 5px" />
        Jedes Semester angeboten; idealerweise in der vorgegeben Reihenfolge zu
        absolvieren!
      </td>
      <td rowspan="3">
        Voranmeldung per E-Mail wie im
        <a href="https://www.math.uni-freiburg.de/lehre/v/index.html">
          Kommentierten Vorlesungs­verzeichnis
        </a>
        angegeben für alle, die neu an dem Modul teilnemen möchten
        <br style="margin-bottom: 5px" />
        Teilnahme am zweiten und dritten Teil nach Absprache mit den
        Dozent:inn:en der PH
      </td>
    </tr>
    <tr valign="top">
      <td>
        Methoden mathematik­didaktischer Forschung
        <br />
        <i> 3-stündiges Blockseminar in den ca. 5 letzten Semesterwochen </i>
      </td>
      <td>07LE23S-SÜ-7-FF_2Meth</td>
    </tr>
    <tr valign="top">
      <td>
        Entwicklung und Optimierung eines fach­didaktischen Forschungs­projekts
        <br />
        <i> Begleitseminar zur Master-Arbeit </i>
      </td>
      <td>07LE23S-SÜ-7-FF_3Sem</td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Studienleistungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>
        Aufgaben zu Fach­didaktische Entwicklungs­forschung zu ausgewählten
        Schwer­punkten
      </td>
      <td>07LE23SL-SÜ-7-FF_1Entw</td>
      <td>im jeweiligen Semester</td>
      <td>
        Registrierung bis
        <a
          href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/termine.html"
          title="in der Regel bis etwa zwei Wochen vor Vorlesungsende"
        >
          Fristende
        </a>
        im jeweiligen Semester
      </td>
    </tr>
    <tr valign="top">
      <td>Aufgaben zu Methoden mathe­matik­didaktischer Forschung</td>
      <td>07LE23SL-SÜ-7-FF_2Meth</td>
      <td>im jeweiligen Semester</td>
      <td>
        Registrierung bis
        <a
          href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/termine.html"
          title="in der Regel bis etwa zwei Wochen vor Vorlesungsende"
        >
          Fristende
        </a>
        im jeweiligen Semester
      </td>
    </tr>
    <tr valign="top">
      <td>
        Aufgaben zu Entwicklung und Optimierung eines fach­didaktischen
        Forschungs­projekts
      </td>
      <td>07LE23SL-SÜ-7-FF_3Sem</td>
      <td>im jeweiligen Semester</td>
      <td>
        Registrierung bis
        <a
          href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/termine.html"
          title="in der Regel bis etwa zwei Wochen vor Vorlesungsende"
        >
          Fristende
        </a>
        im jeweiligen Semester
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Prüfungsleistungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">keine</td>
    </tr>
    <tr style="border-left: #f4f3f3 2px solid; border-right: #f4f3f3 2px solid">
      <td colspan="4"></td>
    </tr>
    <!-- ================================================================================================================================== -->
    <tr style="border: black 2px solid; background-color: #ffd058">
      <td colspan="4">
        <b style="font-size: 110%"> 3. MASTER-ARBEIT </b>
        <b style="font-size: 150%">
          <sub> </sub>
        </b>
        (Pflichtmodul, 15 ECTS-Punkte)
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Voraussetzungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">
        Die Master-Arbeit kann nach freier Wahl der Studierenden in einem der
        beiden Hauptfächer in Fachwissenschaft oder Fachdidaktik geschrieben
        werden oder in den Bildungswissenschaften. Voraussetzung für die
        Zulassung zur Master-Arbeit sind stets 60 im Studiengang absolvierte
        ECTS-Punkte.
        <br />
        Inhaltliche Voraussetzung für eine fachdidaktische Master-Arbeit in
        Mathematik ist das Modul „Fachdidaktische Forschung“; hierfür gibt es
        begrenzte Betreuungskapazitäten.
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Prüfungsleistungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>
        Verfassen der schriftlichen Arbeit
        <br style="margin-bottom: 5px" />
        <i> Bearbeitungszeit: 4 Monate </i>
      </td>
      <td>07LE23PL-8000-MEd18-105-2018</td>
      <td>beliebiger Zeitpunkt, in Absprache mit Betreuer:in</td>
      <td>
        in Mathematik: Anmeldung schriftlich im Prüfungsamt (
        <a
          href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/index.html#formulare"
        >
          Formular
        </a>
        )
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Bemerkungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">
        <ul>
          <li>
            <a
              href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/abschlussarbeiten.html"
            >
              detaillierte Informationen zu Abschlussarbeiten
            </a>
            in Mathematik
          </li>
          <li>
            Die Wahl des Fachs der Bachelor-Arbeit hat keine Auswirkungen auf
            die Master-Arbeit im M.Ed.; beide Arbeiten können im gleichen Fach
            geschrieben werden.
          </li>
        </ul>
      </td>
    </tr>
    <tr style="border-left: #f4f3f3 2px solid; border-right: #f4f3f3 2px solid">
      <td colspan="4"></td>
    </tr>
    <!-- ================================================================================================================================== -->
    <tr style="border: black 2px solid">
      <td bgcolor="#6e99d4" colspan="4">
        <b style="font-size: 110%">
          4. FACHWISSENSCHAFT UND FACHDIDAKTIK IM ZWEITEN FACH
        </b>
        <b style="font-size: 150%">
          <sub> </sub>
        </b>
        (17 + 10 ECTS-Punkte)
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">
        <ul>
          <li>Informationen zum Studienplan liefert das jeweilige Fach.</li>
          <li>
            Für die Prüfungsverwaltung ist das Prüfungsamt des jeweiliges Fachs
            zuständig.
          </li>
        </ul>
      </td>
    </tr>
    <tr style="border-left: #f4f3f3 2px solid; border-right: #f4f3f3 2px solid">
      <td colspan="4"></td>
    </tr>
    <!-- ================================================================================================================================== -->
    <tr style="border: black 2px solid">
      <td bgcolor="#cfd096" colspan="4">
        <b style="font-size: 110%"> 5. BILDUNGSWISSENSCHAFTEN </b>
        <b style="font-size: 150%">
          <sub> </sub>
        </b>
        (35 ECTS-Punkte)
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">
        <ul>
          <li>
            <a
              href="https://ezw.uni-freiburg.de/studiengaenge/master-studiengang-2/"
            >
              Studienplan Bildungswissenschaften im M.Ed.
            </a>
            beim Institut für Erziehungswissenschaft
          </li>
          <li>
            Für das Anmeldeverfahren und die Verbuchung des Schulpraxissemesters
            zuständig ist das
            <a
              href="https://www.face-freiburg.de/studium-lehre/zentrales-pruefungsamt-m-ed-uni/"
            >
              Zentrale Prüfungsamt Master of Education
            </a>
            .
          </li>
        </ul>
      </td>
    </tr>
    <tr style="border-left: #f4f3f3 2px solid; border-right: #f4f3f3 2px solid">
      <td colspan="4"></td>
    </tr>
    <!-- ================================================================================================================================== -->
    <tr style="border: black 2px solid">
      <td bgcolor="#cce666" colspan="4">
        <b style="font-size: 110%"> 6. SCHULPRAXISSEMESTER </b>
        <b style="font-size: 150%">
          <sub> </sub>
        </b>
        (16 ECTS-Punkte)
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">
        <ul>
          <li>
            <a
              href="https://www.face-freiburg.de/studium-lehre/im-studium/uni-praktika-osp-sps/"
            >
              Informationen zum Schulpraxissemester
            </a>
            bei FACE Freiburg
          </li>
          <li>
            Für das Anmeldeverfahren und die Verbuchung des Schulpraxissemesters
            zuständig ist das
            <a
              href="https://www.face-freiburg.de/studium-lehre/zentrales-pruefungsamt-m-ed-uni/"
            >
              Zentrale Prüfungsamt Master of Education
            </a>
            .
          </li>
        </ul>
      </td>
    </tr>
  </table>
</div>
