{% extends "base_nlehre.html" %} {% block styles %}
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
  rel="stylesheet"
/>
<script
  src="https://cdn.jsdelivr.net/npm/jquery@3.7.0/dist/jquery.min.js"
  integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
  crossorigin="anonymous"
></script>
<style>
  .fc .fc-col-header-cell-cushion {
    display: inline-block;
    padding: 2px 4px;
  }
  .fc-event {
    margin-top: 0px;
    margin-bottom: 0px;
  }
</style>
{% endblock %} {% block navbar %} {% include 'navbar_nlehre.html' %} {% endblock %} {%
block content %} 
<div class="container">
  <h3>Planung Studiendekanat Mathematik</h3>
  <h4>Verantwortliche</h4>
</div>
<div class="container" style="max-width: 140vh">
{% for u in faq_users %}
  <div class="row">
    <div class="col-1 mx-3" style="background: {{ u['color'] }}; color: {{ u['color'] }}; ">d</div>
    <div class="col-4">{{ u["vorname"] }} {{ u["name"] }}</div>
  </div>
{% endfor %}
</div>
<br />

<div class="container" style="max-width: 140vh">
  <div id="calendar"></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/bootstrap5@6.1.11/index.global.min.js"></script>
<script src="fullcalendar/core/index.global.js"></script>
<script src="fullcalendar/core/locales/de.global.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var calendarEl = document.getElementById("calendar");
    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      timeZone: "local",
      locale: "de",
      expandRows: true,
      buttonText: {
        today: "heute",
        month: "Monat",
        week: "Woche",
        day: "Tag",
        list: "Liste"
      },
      firstDay: 1,
      themeSystem: 'bootstrap5',
      headerToolbar: {
        left: "prev,next,today",
        center: "title",
        right: "dayGridMonth,timeGridWeek,timeGridDay,listMonth",
      },
      weekNumbers: true,
      dayMaxEvents: true, // allow "more" link when too many events
      eventTimeFormat: { // like '14:30:00'
        hour: '2-digit',
        minute: '2-digit',
        meridiem: false
      },
      eventClick: function(info) {
        alert('Event: ' + info.event.title);
      },
     events: [
            {% for event in events %}
            {
              start: '{{ event.start}}',
              end: '{{ event.end }}',
              allDay: '{{ event.allDay}}',
              title: '{{ event.title}}',
              backgroundColor: '{{ event.color}}',
              textColor: '{{ event.textcolor}}',
            },
            {% endfor %}
          ],
    });
    calendar.render();
  });
</script>
{% endblock %}
