<div class="container" id="studienplan">
  <p>
    <b style="font-size: 110%"> Modulplan mit Erläuterungen: </b>
    <br style="margin-bottom: 10px" />
    Alle hier im Überblick gegebenen Informationen finden sich ausführlicher im
    <a
      href="{{ url_for('showdownloads', anchor = 'studiendokumente', lang=lang)}}"
    >
      Modulhandbuch
    </a>
    .
  </p>
  <table border="1" style="margin-top: 20px">
    <tr>
      <td
        bgcolor="#a7c1e3"
        colspan="4"
        style="
          border-left: black 2px solid;
          border-top: black 2px solid;
          border-right: black 2px solid;
        "
      >
        <b style="font-size: 110%"> 1. FACHWISSENSCHAFT MATHEMATIK </b>
        <b style="font-size: 150%">
          <sub> </sub>
        </b>
        (75 ECTS-Punkte)
      </td>
    </tr>
    <tr
      bgcolor="#dae3ea"
      style="
        border-left: black 2px solid;
        border-bottom: black 2px solid;
        border-right: black 2px solid;
      "
    >
      <td style="width: 30%">Modulteil</td>
      <td style="width: 20%">Nummer in HISinOne</td>
      <td style="width: 20%">Angebot / Zeitpunkt</td>
      <td style="width: 30%">Anmeldung</td>
    </tr>
    <tr style="border-left: #f4f3f3 2px solid; border-right: #f4f3f3 2px solid">
      <td colspan="4"></td>
    </tr>
    <!-- ================================================================================================================================== -->
    <tr style="background-color: #ffff66" valign="top">
      <td colspan="4">
        <b> LINEARE ALGEBRA </b>
        <b style="font-size: 150%">
          <sub> </sub>
        </b>
        (Pflichtmodul, 18 ECTS-Punkte)
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Voraussetzungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">
        Notwendige Vorkenntnisse für Lineare Algebra I: Oberstufenmathematik
        <br />
        Notwendige Vorkenntnisse für Lineare Algebra II: Lineare Algebra I
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Veranstaltungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>
        Lineare Algebra I
        <br />
        <i> 4-stündige Vorlesung </i>
      </td>
      <td>07LE23V-0-LA1</td>
      <td rowspan="2">jedes Wintersemester</td>
      <td rowspan="4">
        Belegung der Vorlesung bis Vorlesungsbeginn
        <br style="margin-bottom: 5px" />
        Belegung der Übung in der Regel in der ersten Vorlesungswoche
      </td>
    </tr>
    <tr valign="top">
      <td>
        Lineare Algebra I
        <br />
        <i> 2-stündige Übung </i>
      </td>
      <td>07LE23Ü-0-LA1</td>
    </tr>
    <tr valign="top">
      <td>
        Lineare Algebra II
        <br />
        <i> 4-stündige Vorlesung </i>
      </td>
      <td>07LE23V-0-LA2</td>
      <td rowspan="2">jedes Sommersemester</td>
    </tr>
    <tr valign="top">
      <td>
        Lineare Algebra II
        <br />
        <i> 2-stündige Übung </i>
      </td>
      <td>07LE23Ü-0-LA2</td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Studienleistungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>Übung Lineare Algebra I</td>
      <td>07LE23SL-Ü-0-LA1</td>
      <td>Wintersemester</td>
      <td rowspan="3">
        Registrierung jeder Studien­leistung bis
        <a
          href="{{ url_for('showstudiendekanat', lang=lang, unterseite='termine')}}"
          title="in der Regel bis etwa zwei Wochen vor Vorlesungsende"
        >
          Fristende
        </a>
        im jeweiligen Semester
      </td>
    </tr>
    <tr valign="top">
      <td>Klausur Lineare Algebra I (*)</td>
      <td>07LE23SL-K-0-LA1</td>
      <td>jedes Semester</td>
    </tr>
    <tr valign="top">
      <td>Übung Lineare Algebra II</td>
      <td>07LE23SL-Ü-0-LA2</td>
      <td>Sommersemester</td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Prüfungsleistungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>
        <a
          href="https://www.math.uni-freiburg.de/nlehre/de/studiendekanat/anmeldung/"
        >
          Mündliche Prüfung über Lineare Algebra I und II
        </a>
        (**)
        <br style="margin-bottom: 5px" />
        <i> Dauer ca. 30 Minuten </i>
      </td>
      <td>07LE23PL-2HfB21-P-LA</td>
      <td>jedes Semester am Ende der vorlesungs­freien Zeit</td>
      <td>
        Anmeldung der Prüfung bis
        <a
          href="{{ url_for('showstudiendekanat', lang=lang, unterseite='termine')}}"
          title="in der Regel bis etwa zwei Wochen vor Vorlesungsende"
        >
          Fristende
        </a>
        in dem Semester, zu dessen Ende die Prüfung stattfinden soll (**)
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Bemerkungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">
        (*) Mindestens eine der beiden Klausuren
        <i> Lineare Algebra I </i>
        und
        <i> Analysis I </i>
        muss bis zum Ende des 3. Fachsemesters bestanden sein.
        <br style="margin-bottom: 5px" />
        (**) Zulassungsvoraussetzung zur Prüfung ist die bestandene Klausur in
        Lineare Algebra I und die bestandene Übung in Lineare Algebra II. Die
        Prüfungsanmeldung kann unter Vorbehalt in dem Semester erfolgen, in dem
        diese Studienleistungen noch erworben werden. Dies setzt aber voraus,
        dass diese Studienleistung zuvor registreirt werden.
        <br style="margin-bottom: 5px" />
        Zusätzlich zur Prüfungsanmeldung können gegen Ende der Anmeldefrist
        <a
          href="{{ url_for('showstufaq', show = 'qa_66da158e9e0180e85ac50fcb', lang=lang)}}"
        >
          Prüferwünsche
        </a>
        abgegeben werden.
      </td>
    </tr>
    <tr style="border-left: #f4f3f3 2px solid; border-right: #f4f3f3 2px solid">
      <td colspan="4"></td>
    </tr>
    <!-- ================================================================================================================================== -->
    <tr style="background-color: #ffff66" valign="top">
      <td colspan="4">
        <b> ANALYSIS </b>
        <b style="font-size: 150%">
          <sub> </sub>
        </b>
        (Pflichtmodul, 18 ECTS-Punkte)
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Voraussetzungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">
        Notwendige Vorkenntnisse für Analysis I: Oberstufenmathematik
        <br />
        Notwendige Vorkenntnisse für Analysis II: Analysis I sowie
        Grundkenntnisse in Linearer Algebra, die in Studienplanvariante 3 durch
        einen Brückenkurs erworben werden können
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Veranstaltungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>
        Analysis I
        <br />
        <i> 4-stündige Vorlesung </i>
      </td>
      <td>07LE23V-0-Ana1</td>
      <td rowspan="2">jedes Wintersemester</td>
      <td rowspan="4">
        Belegung der Vorlesung bis Vorlesungsbeginn
        <br style="margin-bottom: 5px" />
        Belegung der Übung in der Regel in der ersten Vorlesungswoche
      </td>
    </tr>
    <tr valign="top">
      <td>
        Analysis I
        <br />
        <i> 2-stündige Übung </i>
      </td>
      <td>07LE23Ü-0-Ana1</td>
    </tr>
    <tr valign="top">
      <td>
        Analysis II
        <br />
        <i> 4-stündige Vorlesung </i>
      </td>
      <td>07LE23V-0-Ana2</td>
      <td rowspan="2">jedes Sommersemester</td>
    </tr>
    <tr valign="top">
      <td>
        Analysis II
        <br />
        <i> 2-stündige Übung </i>
      </td>
      <td>07LE23Ü-0-Ana2</td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Studienleistungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>Übung Analysis I</td>
      <td>07LE23SL-Ü-0-Ana1</td>
      <td>Wintersemester</td>
      <td rowspan="3">
        Registrierung jeder Studien­leistung bis
        <a
          href="{{ url_for('showstudiendekanat', lang=lang, unterseite='termine')}}"
          title="in der Regel bis etwa zwei Wochen vor Vorlesungsende"
        >
          Fristende
        </a>
        im jeweiligen Semester
      </td>
    </tr>
    <tr valign="top">
      <td>Klausur Analysis I (*)</td>
      <td>07LE23SL-K-0-Ana1</td>
      <td>jedes Semester</td>
    </tr>
    <tr valign="top">
      <td>Übung Analysis II</td>
      <td>07LE23SL-Ü-0-Ana2</td>
      <td>Sommersemester</td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Prüfungsleistungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>
        <a
          href="{{ url_for('showstudiendekanat', lang=lang, unterseite='anmeldung')}}"
          title="Nähere Informationen zur Prüfung"
        >
          Mündliche Prüfung über
          <br />
          Analysis I und II
        </a>
        (**)
        <br style="margin-bottom: 5px" />
        <i> Dauer ca. 30 Minuten </i>
      </td>
      <td>07LE23PL-2HfB21-P-Ana</td>
      <td>jedes Semester am Ende der vorlesungs­freien Zeit</td>
      <td>
        Anmeldung der Prüfung bis
        <a
          href="{{ url_for('showstudiendekanat', lang=lang, unterseite='termine')}}"
          title="in der Regel bis etwa zwei Wochen vor Vorlesungsende"
        >
          Fristende
        </a>
        in dem Semester, zu dessen Ende die Prüfung stattfinden soll (**)
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Bemerkungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">
        (*) Mindestens eine der beiden Klausuren
        <i> Analysis I </i>
        und
        <i> Lineare Algebra I </i>
        muss bis zum Ende des 3. Fachsemesters bestanden sein.
        <br style="margin-bottom: 5px" />
        (**) Zulassungsvoraussetzung zur Prüfung ist die bestandene Klausur in
        Analysis I und die bestandene Übung in Analysis II. Die
        Prüfungsanmeldung kann unter Vorbehalt in dem Semester erfolgen, in dem
        diese Studienleistungen noch erworben werden. Dies setzt aber voraus,
        dass diese Studienleistung zuvor registreirt werden.
        <br style="margin-bottom: 5px" />
        Zusätzlich zur Prüfungsanmeldung können gegen Ende der Anmeldefrist
        <a
          href="{{ url_for('showstufaq', show = 'qa_66da158e9e0180e85ac50fcb', lang=lang)}}"
        >
          Prüferwünsche
        </a>
        abgegeben werden.
      </td>
    </tr>
    <tr style="border-left: #f4f3f3 2px solid; border-right: #f4f3f3 2px solid">
      <td colspan="4"></td>
    </tr>
    <!-- ================================================================================================================================== -->
    <tr style="background-color: #ffff66" valign="top">
      <td colspan="4">
        <b> ALGEBRA UND ZAHLENTHEORIE </b>
        <b style="font-size: 150%">
          <sub> </sub>
        </b>
        (Pflichtmodul, 9 ECTS-Punkte)
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Voraussetzungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">Notwendige Vorkenntnisse: Lineare Algebra I und II</td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Veranstaltungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>
        Algebra und Zahlentheorie
        <br />
        <i> 4-stündige Vorlesung </i>
      </td>
      <td>07LE23V-1-AuZ</td>
      <td rowspan="2">jedes Wintersemester</td>
      <td rowspan="2">
        Belegung der Vorlesung bis Vorlesungsbeginn
        <br style="margin-bottom: 5px" />
        Belegung der Übung in der Regel in der ersten Vorlesungswoche
      </td>
    </tr>
    <tr valign="top">
      <td>
        Algebra und Zahlentheorie
        <br />
        <i> 2-stündige Übung </i>
      </td>
      <td>07LE23Ü-1-AuZ</td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Studienleistungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>Übung Algebra und Zahlentheorie</td>
      <td>07LE23SL-Ü-1-AuZ</td>
      <td>Wintersemester</td>
      <td>
        Registrierung bis
        <a
          href="{{ url_for('showstudiendekanat', lang=lang, unterseite='termine')}}"
          title="in der Regel bis etwa zwei Wochen vor Vorlesungsende"
        >
          Fristende
        </a>
        im Wintersemester
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Prüfungsleistungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>
        Klausur Algebra und Zahlentheorie
        <br style="margin-bottom: 5px" />
        <i> Dauer 2–3 Stunden </i>
      </td>
      <td>07LE23PL-2HfB21-P-AuZ</td>
      <td>im Wintersemester, nach oder zum Ende der Vorlesungszeit</td>
      <td>
        Anmeldung der Prüfung bis
        <a
          href="{{ url_for('showstudiendekanat', lang=lang, unterseite='termine')}}"
          title="in der Regel bis etwa zwei Wochen vor Vorlesungsende"
        >
          Fristende
        </a>
        im Wintersemester
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Bemerkungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">
        "Algebra und Zahlentheorie" sollte nicht mit "Algebraischer
        Zahlentheorie" verwechselt werden, was es auch gibt.
      </td>
    </tr>
    <tr style="border-left: #f4f3f3 2px solid; border-right: #f4f3f3 2px solid">
      <td colspan="4"></td>
    </tr>
    <!-- ================================================================================================================================== -->
    <tr style="background-color: #ffff66" valign="top">
      <td colspan="4">
        <b> ELEMENTARGEOMETRIE </b>
        <b style="font-size: 150%">
          <sub> </sub>
        </b>
        (Pflichtmodul, 6 ECTS-Punkte)
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Voraussetzungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">
        Notwendige Vorkenntnisse: Lineare Algebra I und etwas mathematische
        Erfahrung. Elementargeometrie im 2. Fachsemester ist in
        Studienplanvariante 2 möglich, stellt aber eine gewisse Herausforderung
        dar.
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Veranstaltungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>
        Elementargeometrie
        <br />
        <i> 4-stündige Vorlesung </i>
      </td>
      <td>07LE23V-3-ElGeo</td>
      <td rowspan="2">jedes Sommersemester</td>
      <td rowspan="2">
        Belegung der Vorlesung bis Vorlesungsbeginn
        <br style="margin-bottom: 5px" />
        Belegung der Übung in der Regel in der ersten Vorlesungswoche
      </td>
    </tr>
    <tr valign="top">
      <td>
        Elementargeometrie
        <br />
        <i> 2-stündige Übung </i>
      </td>
      <td>07LE23Ü-3-ElGeo</td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Studienleistungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>Übung Elementargeometrie</td>
      <td>07LE23SL-Ü-3-ElGeo</td>
      <td>Sommersemester</td>
      <td>
        Registrierung bis
        <a
          href="{{ url_for('showstudiendekanat', lang=lang, unterseite='termine')}}"
          title="in der Regel bis etwa zwei Wochen vor Vorlesungsende"
        >
          Fristende
        </a>
        im Sommersemester
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Prüfungsleistungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>
        Klausur Elementargeometrie
        <br style="margin-bottom: 5px" />
        <i> Dauer 2–3 Stunden </i>
      </td>
      <td>07LE23PL-2HfB21-P-ElGeo</td>
      <td>im Sommersemester, nach oder zum Ende der Vorlesungszeit</td>
      <td>
        Anmeldung der Prüfung bis
        <a
          href="{{ url_for('showstudiendekanat', lang=lang, unterseite='termine')}}"
          title="in der Regel bis etwa zwei Wochen vor Vorlesungsende"
        >
          Fristende
        </a>
        im Sommersemester
      </td>
    </tr>
    <tr style="border-left: #f4f3f3 2px solid; border-right: #f4f3f3 2px solid">
      <td colspan="4"></td>
    </tr>
    <!-- ================================================================================================================================== -->
    <tr style="background-color: #ffff66" valign="top">
      <td colspan="4">
        <b> NUMERIK </b>
        <b style="font-size: 150%">
          <sub> </sub>
        </b>
        (Pflichtmodul, 9 ECTS-Punkte)
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Voraussetzungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">
        Notwendige Vorkenntnisse für Numerik I: Lineare Algebra I, II und
        Analysis I (kann gleichzeitig gehört werden)
        <br />
        Notwendige Vorkenntnisse für Numerik II: Numerik I und Analysis II (kann
        gleichzeitig gehört werden)
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Veranstaltungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>
        Numerik I
        <br />
        <i> 2-stündige Vorlesung </i>
      </td>
      <td>07LE23V-5-Num1</td>
      <td rowspan="2">jedes Wintersemester</td>
      <td rowspan="4">
        Belegung der Vorlesung bis Vorlesungsbeginn
        <br style="margin-bottom: 5px" />
        Belegung der Übung in der Regel in der ersten Vorlesungswoche
      </td>
    </tr>
    <tr valign="top">
      <td>
        Numerik I
        <br />
        <i> 2-stündige Übung, 14-täglich </i>
      </td>
      <td>07LE23Ü1-5-Num1</td>
    </tr>
    <tr valign="top">
      <td>
        Numerik II
        <br />
        <i> 2-stündige Vorlesung </i>
      </td>
      <td>07LE23V-5-Num2</td>
      <td rowspan="2">jedes Sommersemester</td>
    </tr>
    <tr valign="top">
      <td>
        Numerik II
        <br />
        <i> 2-stündige Übung, 14-täglich </i>
      </td>
      <td>07LE23Ü1-5-Num2</td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Studienleistungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>Übung Numerik I</td>
      <td>07LE23SL-Ü-5-Num1</td>
      <td>Wintersemester</td>
      <td rowspan="2">
        Registrierung jeder Studien­leistung bis
        <a
          href="{{ url_for('showstudiendekanat', lang=lang, unterseite='termine')}}"
          title="in der Regel bis etwa zwei Wochen vor Vorlesungsende"
        >
          Fristende
        </a>
        im jeweiligen Semester
      </td>
    </tr>
    <tr valign="top">
      <td>Übung Numerik II</td>
      <td>07LE23SL-Ü-5-Num2</td>
      <td>Sommersemester</td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Prüfungsleistungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>
        Klausur Numerik
        <br />
        (
        <i> über Numerik I und II </i>
        )
        <br style="margin-bottom: 5px" />
        <i> Dauer 2–3 Stunden </i>
      </td>
      <td>07LE23PL-2HfB21-P-Num</td>
      <td>im Sommersemester, nach oder zum Ende der Vorlesungszeit</td>
      <td>
        Anmeldung der Prüfung bis
        <a
          href="{{ url_for('showstudiendekanat', lang=lang, unterseite='termine')}}"
          title="in der Regel bis etwa zwei Wochen vor Vorlesungsende"
        >
          Fristende
        </a>
        im Sommersemester
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Bemerkungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">
        Begleitend zur Vorlesung gibt es die zweisemestrige "Praktische Übung
        Numerik", die für das Modul
        <i> Praktische Übung </i>
        gewählt werden kann, für die allerdins Programmiervorkenntnisse z.B. aus
        dem Kurs "Einführung in die Programmierung für Studierende der
        Naturwissenschaften" günstig sind.
      </td>
    </tr>
    <tr style="border-left: #f4f3f3 2px solid; border-right: #f4f3f3 2px solid">
      <td colspan="4"></td>
    </tr>
    <!-- ================================================================================================================================== -->
    <tr style="background-color: #ffff66" valign="top">
      <td colspan="4">
        <b> STOCHASTIK </b>
        <b style="font-size: 150%">
          <sub> </sub>
        </b>
        (Pflichtmodul, 9 ECTS-Punkte)
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Voraussetzungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">
        Notwendige Vorkenntnisse für Stochastik I: Analysis I, II und Lineare
        Algebra I (kann gleichzeitig gehört werden)
        <br />
        Notwendige Vorkenntnisse für Stochastik I: Stochastik II
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Veranstaltungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>
        Stochastik I
        <br />
        <i> 2-stündige Vorlesung </i>
      </td>
      <td>07LE23V-6-Sto1</td>
      <td rowspan="2">jedes Wintersemester</td>
      <td rowspan="4">
        Belegung der Vorlesung bis Vorlesungsbeginn
        <br style="margin-bottom: 5px" />
        Belegung der Übung in der Regel in der ersten Vorlesungswoche
      </td>
    </tr>
    <tr valign="top">
      <td>
        Stochastik I
        <br />
        <i> 2-stündige Übung, 14-täglich </i>
      </td>
      <td>07LE23Ü1-6-Sto1</td>
    </tr>
    <tr valign="top">
      <td>
        Stochastik II
        <br />
        <i> 2-stündige Vorlesung </i>
      </td>
      <td>07LE23V-6-Sto2</td>
      <td rowspan="2">jedes Sommersemester</td>
    </tr>
    <tr valign="top">
      <td>
        Stochastik II
        <br />
        <i> 2-stündige Übung, 14-täglich </i>
      </td>
      <td>07LE23Ü1-6-Sto2</td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Studienleistungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>Übung Stochastik I</td>
      <td>07LE23SL-Ü-6-Sto1</td>
      <td>Wintersemester</td>
      <td rowspan="2">
        Registrierung jeder Studien­leistung bis
        <a
          href="{{ url_for('showstudiendekanat', lang=lang, unterseite='termine')}}"
          title="in der Regel bis etwa zwei Wochen vor Vorlesungsende"
        >
          Fristende
        </a>
        im jeweiligen Semester
      </td>
    </tr>
    <tr valign="top">
      <td>Übung Stochastik II</td>
      <td>07LE23SL-Ü-6-Sto2</td>
      <td>Sommersemester</td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Prüfungsleistungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>
        Klausur Stochastik
        <br />
        (
        <i> über Stochastik I und II </i>
        )
        <br style="margin-bottom: 5px" />
        <i> Dauer 2–3 Stunden </i>
      </td>
      <td>07LE23PL-2HfB21-P-Sto</td>
      <td>im Sommersemester, nach oder zum Ende der Vorlesungszeit</td>
      <td>
        Anmeldung der Prüfung bis
        <a
          href="{{ url_for('showstudiendekanat', lang=lang, unterseite='termine')}}"
          title="in der Regel bis etwa zwei Wochen vor Vorlesungsende"
        >
          Fristende
        </a>
        im Sommersemester
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Bemerkungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">
        Im B.Sc.-Studiengang Mathematik gibt es getrennte Klausuren über
        Stochastik I und II.
        <br style="margin-bottom: 5px" />
        Begleitend zu Stochastik II gibt es die "Praktische Übung Stochastik",
        die für das Modul
        <i> Praktische Übung </i>
        gewählt werden kann. Sie kann problemlos auch in einem der folgenden
        Semester absolviert werden.
      </td>
    </tr>
    <tr style="border-left: #f4f3f3 2px solid; border-right: #f4f3f3 2px solid">
      <td colspan="4"></td>
    </tr>
    <!-- ================================================================================================================================== -->
    <tr style="background-color: #ffffb3" valign="top">
      <td colspan="4">
        <b> PROSEMINAR </b>
        <b style="font-size: 150%">
          <sub> </sub>
        </b>
        (Pflichtmodul mit Wahlveranstaltung, 3 ECTS-Punkte)
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Voraussetzungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">
        Die notwendige Vorkenntnisse hängen vom konkreten Proseminar ab; siehe
        Angaben im
        <a href="{{ url_for('showlehrveranstaltungenbase', lang=lang)}}">
          Kommentierten Vorlesungsverzeichnis
        </a>
        .
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Veranstaltungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>eines der angebotenen Proseminar (*)</td>
      <td>
        07LE23S-PSem-0-01
        <br />
        bis
        <br />
        07LE23S-PSem-0-05
      </td>
      <td>jedes Semester</td>
      <td>
        Voranmeldung nach Angaben im
        <a href="{{ url_for('showlehrveranstaltungenbase', lang=lang)}}">
          Komm. Vorlesungsverzeichnis
        </a>
        ; Sudienplatzvergabe bei der Vorbesprechung am Ende des Vorsemesters
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Studienleistungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="2">
        in der Regel aktive und regelmäßige Teilnahme
        <br />
        (weitere oder konkretere Anforderungen sind möglich)
      </td>
      <td>jeweiliges Semester</td>
      <td>keine separate Registrierung</td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Prüfungsleistungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>
        Vortrag
        <br style="margin-bottom: 5px" />
        <i> Dauer 45–90 Minuten </i>
      </td>
      <td>07LE23PL-2HfB21-WP-PSem</td>
      <td>
        an dem während der Vorbesprechung festgelegten Tag
        <br style="margin-bottom: 5px" />
      </td>
      <td>
        Anmeldung der Prüfung bis
        <a
          href="{{ url_for('showstudiendekanat', lang=lang, unterseite='termine')}}"
          title="in der Regel bis Mittwoch vor Vorlesungsbeginn"
        >
          Fristende
        </a>
        vor Vorlesungsbeginn
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Bemerkungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">
        (*) Bei Interesse und ausreichenden Vorkenntnissen kann auch ein Seminar
        gewählt werden.
      </td>
    </tr>
    <tr style="border-left: #f4f3f3 2px solid; border-right: #f4f3f3 2px solid">
      <td colspan="4"></td>
    </tr>
    <!-- ================================================================================================================================== -->
    <tr style="background-color: #ffffb3" valign="top">
      <td colspan="4">
        <b> PRAKTISCHE ÜBUNG </b>
        <b style="font-size: 150%">
          <sub> </sub>
        </b>
        (Pflichtmodul mit Wahlveranstaltung, 3 ECTS-Punkte)
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Voraussetzungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">
        Die notwendige Vorkenntnisse hängen von der konkreten Praktischen Übung
        ab; siehe Angaben im
        <a href="{{ url_for('showlehrveranstaltungenbase', lang=lang)}}">
          Kommentierten Vorlesungsverzeichnis
        </a>
        .
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Veranstaltungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">angeboten werden regelmäßig zur Wahl:</td>
    </tr>
    <tr valign="top">
      <td>
        Praktische Übung Numerik
        <br />
        (
        <i> zweisemestrig </i>
        )
      </td>
      <td>07LE23PÜ1-5-Num1 / 07LE23PÜ1-5-Num2</td>
      <td>Winter- und Sommersemester</td>
      <td>
        Belegung in der Regel in jedem Semester in der ersten Vorlesungswoche
      </td>
    </tr>
    <tr valign="top">
      <td>Praktische Übung Stochastik</td>
      <td>07LE23PÜ-6-Sto</td>
      <td>jedes Semester</td>
      <td>Belegung bis Vorlesungsbeginn</td>
    </tr>
    <tr valign="top">
      <td>
        Einführung in die Programmierung für Studierende der Naturwissenschaften
      </td>
      <td>07LE23PÜ-5-EinfProgNW</td>
      <td>Sommeremester</td>
      <td>Belegung bis Vorlesungsbeginn, nur über den Studienplaner!</td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Studienleistungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>
        Hängen von der gewählten Praktischen Übung ab und sind semesterweise in
        den
        <a
          href="{{ url_for('showdownloads', anchor = 'studiendokumente', lang=lang)}}"
        >
          aktuellen Ergänzungen der Modulhandbücher
        </a>
        beschrieben.
      </td>
      <td>07LE23SL-2HfB21-WP-PÜ</td>
      <td>jeweiliges Semester</td>
      <td>
        Registrierung jeder Studien­leistung bis
        <a
          href="{{ url_for('showstudiendekanat', lang=lang, unterseite='termine')}}"
          title="in der Regel bis etwa zwei Wochen vor Vorlesungsende"
        >
          Fristende
        </a>
        im jeweiligen Semester In Numerik erst im Sommersemester!
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Prüfungsleistungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">keine</td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Bemerkungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">
        Der Kurs "Einführung in die Programmierung für Studierende der
        Naturwissenschaften" ergänzt das Angebot an eigentlichen Praktischen
        Übungen. Er ist mathematisch weniger anspruchsvoll, hat aber einen
        Arbeitsaufwand von 6 ECTS-Punkten, der voll erbracht werden muss.
        Alternativ stehen Praktische Übungen mit einem Arbeitsaufwand von
        3 ECTS-Punkten zur Wahl.
        <br style="margin-bottom: 5px" />
        Weitere Praktische Übungen etwa zur Algebra oder zur Geometrie könnten
        in einzelnen Semestern das Angebot ergänzen.
      </td>
    </tr>
    <tr style="border-left: #f4f3f3 2px solid; border-right: #f4f3f3 2px solid">
      <td colspan="4"></td>
    </tr>
    <!-- ================================================================================================================================== -->
    <tr style="border: black 2px solid">
      <td bgcolor="#a7c1e3" colspan="4">
        <b style="font-size: 110%"> 2. FACHWISSENSCHAFT IM ZWEITEN FACH </b>
        <b style="font-size: 150%">
          <sub> </sub>
        </b>
        (75 ECTS-Punkte)
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">
        Informationen zum Studienplan liefert das jeweilige Fach.
        <br />
        Für die Prüfungsverwaltung ist das Prüfungsamt des jeweiliges Fachs
        zuständig.
      </td>
    </tr>
    <tr style="border-left: #f4f3f3 2px solid; border-right: #f4f3f3 2px solid">
      <td colspan="4"></td>
    </tr>
    <!-- ================================================================================================================================== -->
    <tr>
      <td
        bgcolor="#a7c1e3"
        colspan="4"
        style="
          border-left: black 2px solid;
          border-top: black 2px solid;
          border-right: black 2px solid;
        "
      >
        <b style="font-size: 110%"> 3. BACHELOR-ARBEIT </b>
        <b style="font-size: 150%">
          <sub> </sub>
        </b>
        (10 ECTS-Punkte)
      </td>
    </tr>
    <tr
      bgcolor="#dae3ea"
      style="
        border-left: black 2px solid;
        border-bottom: black 2px solid;
        border-right: black 2px solid;
      "
    >
      <td style="width: 30%">Modulteil</td>
      <td style="width: 20%">Nummer in HISinOne</td>
      <td style="width: 20%">Angebot / Zeitpunkt</td>
      <td style="width: 30%">Anmeldung</td>
    </tr>
    <tr style="border-left: #f4f3f3 2px solid; border-right: #f4f3f3 2px solid">
      <td colspan="4"></td>
    </tr>
    <tr style="background-color: #ffd058" valign="top">
      <td colspan="4">
        <b> BACHELOR-ARBEIT </b>
        <b style="font-size: 150%">
          <sub> </sub>
        </b>
        (Pflichtmodul, 10 ECTS-Punkte)
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Voraussetzungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">
        Die Bachelor-Arbeit ist eine fachwissenschaftliche Arbeit, die nach
        freier Wahl der Studierenden in einem der beiden Hauptfächer geschrieben
        werden kann. Voraussetzung für die Zulassung zur Bachelor-Arbeit sind
        stets 60 im Fach der Arbeit absolvierte ECTS-Punkte.
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Prüfungsleistungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>
        Verfassen der schriftlichen Arbeit
        <br style="margin-bottom: 5px" />
        <i> Bearbeitungszeit: 3 Monate </i>
      </td>
      <td>07LE23PL-8000-2HF-105-2021</td>
      <td>beliebiger Zeitpunkt, in Absprache mit Betreuer:in</td>
      <td>
        in Mathematik: Anmeldung schriftlich im Prüfungsamt (
        <a
          href="{{ url_for('showdownloads', anchor = 'formulare', lang=lang)}}"
        >
          Formular
        </a>
        )
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Bemerkungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">
        <a href="{{ url_for('showstufaq', lang=lang)}}">
          detaillierte Informationen zu Abschlussarbeiten
        </a>
        in Mathematik
        <br style="margin-bottom: 5px" />
        Je nach Fach der Bachelor-Arbeit wird der Grad "Bachelor of Science"
        oder "Bachelor of Arts" verliehen.
        <br style="margin-bottom: 5px" />
        Die Wahl des Fachs der Bachelor-Arbeit hat keine Auswirkungen auf die
        Master-Arbeit im M.Ed.; beide Arbeiten können im gleichen Fach
        geschrieben werden.
      </td>
    </tr>
    <tr style="border-left: #f4f3f3 2px solid; border-right: #f4f3f3 2px solid">
      <td colspan="4"></td>
    </tr>
    <!-- ================================================================================================================================== -->
    <tr>
      <td
        bgcolor="#a7c1e3"
        colspan="4"
        style="
          border-left: black 2px solid;
          border-top: black 2px solid;
          border-right: black 2px solid;
        "
      >
        <b style="font-size: 110%">
          4a. OPTIONSBEREICH bei Wahl der Lehramtsoption
        </b>
        <b style="font-size: 150%">
          <sub> </sub>
        </b>
        (20 ECTS-Punkte)
      </td>
    </tr>
    <tr
      bgcolor="#dae3ea"
      style="
        border-left: black 2px solid;
        border-bottom: black 2px solid;
        border-right: black 2px solid;
      "
    >
      <td style="width: 30%">Modulteil</td>
      <td style="width: 20%">Nummer in HISinOne</td>
      <td style="width: 20%">Angebot / Zeitpunkt</td>
      <td style="width: 30%">Anmeldung</td>
    </tr>
    <tr style="border-left: #f4f3f3 2px solid; border-right: #f4f3f3 2px solid">
      <td colspan="4"></td>
    </tr>
    <tr style="background-color: #da9292" valign="top">
      <td colspan="4">
        <b> FACHDIDAKTIK MATHEMATIK </b>
        <b style="font-size: 150%">
          <sub> </sub>
        </b>
        (Pflichtmodul der Lehramtsoption, 5 ECTS-Punkte)
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Voraussetzungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">
        Vorkenntnisse aus den Mathematik-Grundvorlesungen (Analysis I und II,
        Lineare Algebra I und II) sind empfohlen.
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Veranstaltungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>
        Einführung in die Fachdidaktik der Mathematik
        <br />
        <i> 2-stündige Vorlesung </i>
      </td>
      <td>
        07LE23V2-7-EFdMathe
        <br />
      </td>
      <td rowspan="2">jedes Semester</td>
      <td rowspan="2">Belegung bis Vorlesungsbeginn</td>
    </tr>
    <tr valign="top">
      <td>
        Einführung in die Fachdidaktik der Mathematik
        <br />
        <i> 2-stündige Übung mit integrierten Seminaranteilen </i>
      </td>
      <td>07LE23Ü-7-EFdMathe</td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Studienleistungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>Übungen und Seminar</td>
      <td rowspan="2">
        07LE23SL-5E-7-EFdMathe
        <br style="margin-bottom: 3px" />
        (
        <i> für Übungen und Klausur zusammen </i>
        )
      </td>
      <td>im jeweiligen Semester</td>
      <td rowspan="2">
        Registrierung der Studienleistung bis
        <a
          href="{{ url_for('showstudiendekanat', lang=lang, unterseite='termine')}}"
          title="in der Regel bis etwa zwei Wochen vor Vorlesungsende"
        >
          Fristende
        </a>
        im jeweiligen Semester.
      </td>
    </tr>
    <tr valign="top">
      <td>Klausur</td>
      <td>nach oder zum Ende der Vorlesungszeit</td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Prüfungsleistungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">keine</td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Bemerkungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">
        Bei einem Wechsel der Option kann das Modul „Fachdidaktik Mathematik“
        für den Bereich „Fachwissenschaft und Interdisziplinarität“ anerkannt
        werden, nicht aber als Berufsfeldorientierte Kompetenzen.
      </td>
    </tr>
    <tr style="border-left: #f4f3f3 2px solid; border-right: #f4f3f3 2px solid">
      <td colspan="4"></td>
    </tr>
    <!-- ================================================================================================================================== -->
    <tr style="background-color: #da9292" valign="top">
      <td colspan="4">
        <b> Fachdidaktikmodul(e) im zweiten Fach </b>
        <b style="font-size: 150%">
          <sub> </sub>
        </b>
        (Pflichtmodule der Lehramtsoption, 5 ECTS-Punkte)
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">Informationen dazu liefert das jeweilige Fach.</td>
    </tr>
    <tr style="border-left: #f4f3f3 2px solid; border-right: #f4f3f3 2px solid">
      <td colspan="4"></td>
    </tr>
    <!-- ================================================================================================================================== -->
    <tr style="background-color: #cfd096" valign="top">
      <td colspan="4">
        <b> BILDUNGSWISSENSCHAFTEN </b>
        <b style="font-size: 150%">
          <sub> </sub>
        </b>
        (Pflichtmodul der Lehramtsoption, 10 ECTS-Punkte)
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Veranstaltungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>
        Einführung in die Bildungswissenschaften
        <br />
        <i> 2-stündige Vorlesung </i>
      </td>
      <td>03LE30V-EZW0003</td>
      <td>Wintersemester</td>
      <td>
        siehe beim
        <a href="https://ezw.uni-freiburg.de">
          Instituts für Erziehungswissenschaft
        </a>
      </td>
    </tr>
    <tr valign="top">
      <td>Orientierungspraktikum samt Vor- und Nachbereitung</td>
      <td style="text-align: center">—</td>
      <td>vorlesungsfreie Zeit zwischen Winter- und Sommersemester</td>
      <td>
        siehe bei
        <a
          href="https://www.face-freiburg.de/studium-lehre/im-studium/uni-praktika-osp-sps/"
        >
          FACE
        </a>
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Bemerkungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">
        Bei einem Wechsel der Option kann das Orientierungspraktikum samt Vor-
        und Nachbereitung für den Bereich „Berufsfeldorientierte Kompetenzen“
        anerkannt werden, die Vorlesung „Einführung in die
        Bildungswissenschaften&amp;ldquo für den Bereich „Fachwissenschaft und
        Interdisziplinarität“.
        <br style="margin-bottom: 5px" />
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Weitere Informationen: </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">
        <ul>
          <li style="margin-top: -7px">
            <a href="https://ezw.uni-freiburg.de">
              Institut für Erziehungswissenschaft
            </a>
            , bietet die Vorlesung „Einführung in die Bildungswissenschaften“ an
            und verantwortet das Modul
          </li>
          <li>
            <a href="https://www.zfs.uni-freiburg.de/de/osp">
              Zentrum für Schlüsselqualifikationen
            </a>
            : bietet die Begleitelement des Orientierungspraktikums an
          </li>
          <li>
            <a
              href="https://www.face-freiburg.de/studium-lehre/im-studium/uni-praktika-osp-sps/"
            >
              FACE
            </a>
            : berät zu allen Fragen um das Orientierungspraktikum
            <br style="margin-bottom: 5px" />
          </li>
        </ul>
      </td>
    </tr>
    <tr style="border-left: #f4f3f3 2px solid; border-right: #f4f3f3 2px solid">
      <td colspan="4"></td>
    </tr>
    <!-- ================================================================================================================================== -->
    <tr>
      <td
        bgcolor="#a7c1e3"
        colspan="4"
        style="
          border-left: black 2px solid;
          border-top: black 2px solid;
          border-right: black 2px solid;
        "
      >
        <b style="font-size: 110%">
          4b. OPTIONSBEREICH bei Wahl der Option „Individuelle
          Studiengestaltung“
        </b>
        <b style="font-size: 150%">
          <sub> </sub>
        </b>
        (20 ECTS-Punkte)
      </td>
    </tr>
    <tr
      bgcolor="#dae3ea"
      style="
        border-left: black 2px solid;
        border-bottom: black 2px solid;
        border-right: black 2px solid;
      "
    >
      <td style="width: 30%">Modulteil</td>
      <td style="width: 20%">Nummer in HISinOne</td>
      <td style="width: 20%">Angebot / Zeitpunkt</td>
      <td style="width: 30%">Anmeldung</td>
    </tr>
    <tr style="border-left: #f4f3f3 2px solid; border-right: #f4f3f3 2px solid">
      <td colspan="4"></td>
    </tr>
    <tr style="background-color: #af8daa" valign="top">
      <td colspan="4">
        <b> Mathematik-Module </b>
        <b style="font-size: 150%">
          <sub> </sub>
        </b>
        (Wahlmodule , bis zu 12 anrechenbare ECTS-Punkte)
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Voraussetzungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">
        Siehe semesterweise unter der gewählten Veranstaltung im
        <a href="{{ url_for('showlehrveranstaltungenbase', lang=lang)}}">
          Kommentierten Vorlesungsverzeichnis
        </a>
        .
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Veranstaltungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">Besonders geeignet sind:</td>
    </tr>
    <tr valign="top">
      <td>
        weiterführende Vorlesungen, z.B.
        <br />
        –
        <i> Analysis III </i>
        <br />
        –
        <i> Funktionentheorie </i>
        <br />
        –
        <i> Kommutative Algebra </i>
        <br />
        –
        <i> Kurven und Flächen </i>
        <br />
        –
        <i> Mathematische Logik </i>
        <br />
        –
        <i> Topologie </i>
        <br />
      </td>
      <td>
        (
        <i> ? ist V bzw. Ü </i>
        )
        <br />
        07LE23?-0-Ana3
        <br />
        07LE23?-3-FunkTh
        <br />
        07LE23?-1-KommA
        <br />
        07LE23?-3-KuF
        <br />
        07LE23?-4-Logik
        <br />
        07LE23?-3-Top
      </td>
      <td>
        <br />
        Wintersemester
        <br />
        –
        <sub> " </sub>
        –
        <br />
        Sommersemester
        <br />
        – " –
        <br />
        – " –
        <br />
        – " –
      </td>
      <td>
        Belegung von Vorlesungen bis Vorlesungsbeginn
        <br style="margin-bottom: 5px" />
        Belegung von Übungen in der Regel in der ersten Vorlesungswoche
      </td>
    </tr>
    <tr valign="top">
      <td colspan="2">Seminare</td>
      <td>jedes Semester</td>
      <td>Verfahren wie beim Proseminar</td>
    </tr>
    <tr valign="top">
      <td colspan="2">weitere Praktische Übungen</td>
      <td>jedes Semester</td>
      <td>wie oben</td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Studienleistungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="3">
        Hängen von den gewählten Veranstaltungen ab und sind semesterweise in
        den
        <a
          href="{{ url_for('showdownloads', anchor = 'studiendokumente', lang=lang)}}"
        >
          aktuellen Ergänzungen der Modulhandbücher
        </a>
        beschrieben.
      </td>
      <td>
        Registrierung bis
        <a
          href="{{ url_for('showstudiendekanat', lang=lang, unterseite='termine')}}"
          title="in der Regel bis etwa zwei Wochen vor Vorlesungsende, bei Seminaren bis Mittwoch vor Vorlesungebginn"
        >
          Fristende
        </a>
        im jeweiligen Semester
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Prüfungsleistungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">keine</td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Bemerkungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">
        Module, die vollständig über die geforderten ECTS-Punkte oder über die
        Lehramtsoption hinausgehen, werden als Zusatzleistungen ausgewiesen und
        können ggf. in weiterführenden Studiengängen anerkannt werden.
        <br style="margin-bottom: 5px" />
        Für den Zugang zum M.Sc.in Mathematik sind mindestens weitere 18
        ECTS-Punkte an fachwissenschaftlichen Mathematikveranstaltungen nötig,
        darunter sollte Analysis III sein.
      </td>
    </tr>
    <tr style="border-left: #f4f3f3 2px solid; border-right: #f4f3f3 2px solid">
      <td colspan="4"></td>
    </tr>
    <!-- ================================================================================================================================== -->
    <tr style="background-color: #af8daa" valign="top">
      <td colspan="4">
        <b> Module anderer Fächer </b>
        <b style="font-size: 150%">
          <sub> </sub>
        </b>
        (Wahlmodule, bis zu 12 anrechenbare ECTS-Punkte)
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">
        Bitte informieren Sie sich bei den jeweiligen Fächern.
      </td>
    </tr>
    <tr style="border-left: #f4f3f3 2px solid; border-right: #f4f3f3 2px solid">
      <td colspan="4"></td>
    </tr>
    <!-- ================================================================================================================================== -->
    <tr style="background-color: #cce666" valign="top">
      <td colspan="4">
        <b> Berufsfeldorientierte Kompetenzen </b>
        <b style="font-size: 150%">
          <sub> </sub>
        </b>
        (Wahlpflichtmodule, 8–20 ECTS-Punkte)
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Veranstaltungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">
        Zur Auswahl stehen:
        <ul>
          <li style="margin-top: -7px">
            BOK-Kurse des
            <a href="https://www.zfs.uni-freiburg.de">
              Zentrums für Schlüsselqualifikationen
            </a>
            (ohne Einschränkungen an die Bereiche)
          </li>
          <li style="margin-bottom: -7px">
            für den BOK-Bereich zugelassene Sprachkurse des
            <a href="https://www.sli.uni-freiburg.de/"> Sprachlehrinstituts </a>
            und der Philologischen und der Philosophischen Fakultät
          </li>
        </ul>
        Weitere Informationen siehe bei den anbietenden Einheiten!
        <br style="margin-bottom: 5px" />
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Bemerkungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">
        Bei einem Wechsel aus der Lehramtsoption kann das Orientierungspraktikum
        samt Vor- und Nachbereitung als Berufsfeldorientierte Kompetenzen
        anerkannt werden.
      </td>
    </tr>
  </table>
</div>
