<div class="container" id="studienplan">
  <p>
    <b style="font-size: 110%"> Modulplan mit Erläuterungen: </b>
    <br style="margin-bottom: 10px" />
    Alle hier im Überblick gegebenen Informationen finden sich ausführlicher im
    <a
      href="{{ url_for('showdownloads', anchor = 'studiendokumente', lang=lang)}}"
    >
      Modulhandbuch
    </a>
    .
    <!-- a7c1e3 -->
  </p>
  <table border="1" style="margin-top: 20px">
    <tr>
      <td
        bgcolor="#ffff66"
        colspan="4"
        style="
          border-left: black 2px solid;
          border-top: black 2px solid;
          border-right: black 2px solid;
        "
      >
        <b style="font-size: 110%"> 1. VORLESUNGSMODULE </b>
        <b style="font-size: 150%">
          <sub> </sub>
        </b>
        (54 ECTS-Punkte)
      </td>
    </tr>
    <tr
      bgcolor="#dae3ea"
      style="
        border-left: black 2px solid;
        border-bottom: black 2px solid;
        border-right: black 2px solid;
      "
    >
      <td style="width: 30%">Modulteil</td>
      <td style="width: 20%">Nummer in HISinOne</td>
      <td style="width: 20%">Angebot / Zeitpunkt</td>
      <td style="width: 30%">Anmeldung</td>
    </tr>
    <tr style="border-left: #f4f3f3 2px solid; border-right: #f4f3f3 2px solid">
      <td colspan="4"></td>
    </tr>
    <!-- ================================================================================================================================== -->
    <tr style="background-color: #ffff66" valign="top">
      <td colspan="4">
        <b> REINE MATHEMATIK </b>
        <b style="font-size: 150%">
          <sub> </sub>
        </b>
        (Pflichtmodul mit Wahlveranstaltung, 11 ECTS-Punkte)
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Voraussetzungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">
        Die notwendigen Vorkenntnissen hängen von der gewählten Vorlesung ab,
        siehe
        <a href="{{ url_for('showlehrveranstaltungenbase', lang=lang)}}">
          Kommentiertes Vorlesungs­verzeichnis
        </a>
        .
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Veranstaltungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>
        <i> 4-stündige Vorlesung </i>
        <br />
        oder
        <br />
        <i> zwei 2-stündige Vorlesungen </i>
        <br />
        aus der Reinen Mathematik
      </td>
      <td>07LE23V-?-??</td>
      <td rowspan="2">jedes Semester</td>
      <td rowspan="2">
        Belegung der Vorlesung bis Vorlesungsbeginn
        <br style="margin-bottom: 5px" />
        Belegung der Übung in der Regel in der ersten Vorlesungswoche
      </td>
    </tr>
    <tr valign="top">
      <td>
        zu jeder Vorlesung in der Regel
        <i> 2-stündige Übung </i>
      </td>
      <td>07LE23Ü-?-??</td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Studienleistungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>
        zu jeder Vorlesung Kategorie II:
        <br />
        – Übung
        <br />
        – Klausur
      </td>
      <td valign="bottom">
        07LE23SL-Ü-?-??
        <br />
        07LE23SL-K-?-??
      </td>
      <td rowspan="2">im jeweiligen Semester</td>
      <td rowspan="2">
        Registrierung bis
        <a
          href="{{ url_for('showstudiendekanat', lang=lang, unterseite='termine')}}"
          title="in der Regel bis etwa zwei Wochen vor Vorlesungsende"
        >
          Fristende
        </a>
        im Wintersemester
      </td>
    </tr>
    <tr valign="top">
      <td>
        zu jeder Vorlesung Kategorie&amp;nbspIII:
        <br />
        – Übung mit ggf. Klausur/Prüfung
      </td>
      <td>07LE23SL-?E-?-??</td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Prüfungsleistungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>
        mündliche Prüfung über alle Modulteile
        <br />
        <i> Dauer: 30 Minuten </i>
      </td>
      <td>07LE23PL-MSc14-P-RM</td>
      <td>nach individueller Terminvereinbarung mit Prüfer:in</td>
      <td>
        Anmeldung spätestens drei Wochen vor Prüfung schriftlich im Prüfungs­amt
        (
        <a
          href="{{ url_for('showdownloads', anchor = 'formulare', lang=lang)}}"
        >
          Formular
        </a>
        )
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Bemerkungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">
        <ul>
          <li>
            Welche Vorlesungen zur Reinen Mathematik gezählt werden und für das
            Modul zugelassen sind, ist im
            <a href="{{ url_for('showlehrveranstaltungenbase', lang=lang)}}">
              Kommentierten Vorlesungs­verzeichnis
            </a>
            und in den
            <a href="{{ url_for('showlehrveranstaltungenbase', lang=lang)}}">
              aktuellen Ergänzungen der Modulhandbücher
            </a>
            beschrieben. Kompakt findet sich die Information in den
            <a href="{{ url_for('showlehrveranstaltungenbase', lang=lang)}}">
              Verwendungstabellen
            </a>
            .
          </li>
          <li>
            2-stündige Vorlesungen gehen mit 4,5 ECTS-Punkten in das Modul ein,
            unabhängig vom Umfang der Übungen, also unabhängig davon, wie viele
            ECTS-Punkte sie als Wahlmodul bekommen.
            <br />
            Die Zusammensetzung der Moduls aus 2-stündigen Vorlesungen ist mit
            dem/der Prüfer:in abzusprechen.
            <br />
            Das Modul kann auch von zwei Prüfer:inne:n geprüft werden.
          </li>
          <li>
            In maximal zwei der vier Vorlesungsmodule darf der/die selbe
            Prüfer:in prüfen.
          </li>
        </ul>
      </td>
    </tr>
    <tr style="border-left: #f4f3f3 2px solid; border-right: #f4f3f3 2px solid">
      <td colspan="4"></td>
    </tr>
    <!-- ================================================================================================================================== -->
    <tr style="background-color: #ffff66" valign="top">
      <td colspan="4">
        <b> ANGEWANDTE MATHEMATIK </b>
        <b style="font-size: 150%">
          <sub> </sub>
        </b>
        (Pflichtmodul mit Wahlveranstaltung, 11 ECTS-Punkte)
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Voraussetzungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">
        Die notwendigen Vorkenntnissen hängen von der gewählten Vorlesung ab,
        siehe
        <a href="{{ url_for('showlehrveranstaltungenbase', lang=lang)}}">
          Kommentiertes Vorlesungs­verzeichnis
        </a>
        .
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Veranstaltungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>
        <i> 4-stündige Vorlesung </i>
        <br />
        oder
        <br />
        <i> zwei 2-stündige Vorlesungen </i>
        <br />
        aus der Angewandten Mathematik
      </td>
      <td>07LE23V-?-??</td>
      <td rowspan="2">jedes Semester</td>
      <td rowspan="2">
        Belegung der Vorlesung bis Vorlesungsbeginn
        <br style="margin-bottom: 5px" />
        Belegung der Übung in der Regel in der ersten Vorlesungswoche
      </td>
    </tr>
    <tr valign="top">
      <td>
        zu jeder Vorlesung in der Regel
        <i> 2-stündige Übung </i>
      </td>
      <td>07LE23Ü-?-??</td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Studienleistungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>
        zu jeder Vorlesung Kategorie II:
        <br />
        – Übung
        <br />
        – Klausur
      </td>
      <td valign="bottom">
        07LE23SL-Ü-?-??
        <br />
        07LE23SL-K-?-??
      </td>
      <td rowspan="2">im jeweiligen Semester</td>
      <td rowspan="2">
        Registrierung bis
        <a
          href="{{ url_for('showstudiendekanat', lang=lang, unterseite='termine')}}"
          title="in der Regel bis etwa zwei Wochen vor Vorlesungsende"
        >
          Fristende
        </a>
        im Wintersemester
      </td>
    </tr>
    <tr valign="top">
      <td>
        zu jeder Vorlesung Kategorie&amp;nbspIII:
        <br />
        – Übung mit ggf. Klausur/Prüfung
      </td>
      <td>07LE23SL-?E-?-??</td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Prüfungsleistungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>
        mündliche Prüfung über alle Modulteile
        <br />
        <i> Dauer: 30 Minuten </i>
      </td>
      <td>07LE23PL-MSc14-P-AM</td>
      <td>nach individueller Terminvereinbarung mit Prüfer:in</td>
      <td>
        Anmeldung spätestens drei Wochen vor Prüfung schriftlich im Prüfungs­amt
        (
        <a
          href="{{ url_for('showdownloads', anchor = 'formulare', lang=lang)}}"
        >
          Formular
        </a>
        )
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Bemerkungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">
        <ul>
          <li>
            Welche Vorlesungen zur Angewandten Mathematik gezählt werden und für
            das Modul zugelassen sind, ist im
            <a href="{{ url_for('showlehrveranstaltungenbase', lang=lang)}}">
              Kommentierten Vorlesungs­verzeichnis
            </a>
            und in den
            <a href="{{ url_for('showlehrveranstaltungenbase', lang=lang)}}">
              aktuellen Ergänzungen der Modulhandbücher
            </a>
            beschrieben. Kompakt findet sich die Information in den
            <a href="{{ url_for('showlehrveranstaltungenbase', lang=lang)}}">
              Verwendungstabellen
            </a>
            .
          </li>
          <li>
            2-stündige Vorlesungen gehen mit 4,5 ECTS-Punkten in das Modul ein,
            unabhängig vom Umfang der Übungen, also unabhängig davon, wie viele
            ECTS-Punkte sie als Wahlmodul bekommen.
            <br />
            Die Zusammensetzung der Moduls aus 2-stündigen Vorlesungen ist mit
            dem/der Prüfer:in abzusprechen.
            <br />
            Das Modul kann auch von zwei Prüfer:inne:n geprüft werden.
          </li>
          <li>
            In maximal zwei der vier Vorlesungsmodule darf der/die selbe
            Prüfer:in prüfen.
          </li>
        </ul>
      </td>
    </tr>
    <tr style="border-left: #f4f3f3 2px solid; border-right: #f4f3f3 2px solid">
      <td colspan="4"></td>
    </tr>
    <!-- ================================================================================================================================== -->
    <tr style="background-color: #ffff66" valign="top">
      <td colspan="4">
        <b> MATHEMATIK </b>
        <b style="font-size: 150%">
          <sub> </sub>
        </b>
        (Pflichtmodul mit Wahlveranstaltung, 11 ECTS-Punkte)
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Voraussetzungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">
        Die notwendigen Vorkenntnissen hängen von der gewählten Vorlesung ab,
        siehe
        <a href="{{ url_for('showlehrveranstaltungenbase', lang=lang)}}">
          Kommentiertes Vorlesungs­verzeichnis
        </a>
        , oder vom konkreten Lesekurs. Lesekurse werden in individueller
        Absprache mit einem/einer Dozent:in angeboten und erscheinen nicht im
        Vorlesungsverzeichnis.
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Veranstaltungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>
        <i> 4-stündige Vorlesung </i>
        <br />
        oder
        <br />
        <i> zwei 2-stündige Vorlesungen </i>
        <br />
        jeweils Kategorie III
      </td>
      <td>07LE23V-?-??</td>
      <td rowspan="3">jedes Semester</td>
      <td>Belegung der Vorlesung bis Vorlesungsbeginn</td>
    </tr>
    <tr valign="top">
      <td>
        zu jeder Vorlesung in der Regel
        <i> 2-stündige Übung </i>
      </td>
      <td>07LE23Ü-?-??</td>
      <td>Belegung der Übung in der Regel in der ersten Vorlesungswoche</td>
    </tr>
    <tr valign="top">
      <td>
        alternativ:
        <br />
        <i>
          Lesekurs (= betreutes Selbst­studium) im Umfang einer 4-stündigen
          Vorlesung
        </i>
      </td>
      <td>(nicht in HISinOne)</td>
      <td>
        Belegung eines Lesekurses durch persönliche Anmeldung bei dem/der
        Dozent:in
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Studienleistungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>
        zu jeder Vorlesung:
        <br />
        Übung mit ggf. Klausur/Prüfung
      </td>
      <td>07LE23SL-?E-?-??</td>
      <td rowspan="2">im jeweiligen Semester</td>
      <td rowspan="2">
        Registrierung bis
        <a
          href="{{ url_for('showstudiendekanat', lang=lang, unterseite='termine')}}"
          title="in der Regel bis etwa zwei Wochen vor Vorlesungsende"
        >
          Fristende
        </a>
        im Wintersemester
      </td>
    </tr>
    <tr valign="top">
      <td>
        zum Lesekurs:
        <br />
        Studienleistungen wie abgesprochen
      </td>
      <td>07LE23SL-MSc14-P-M_WA</td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Prüfungsleistungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>
        mündliche Prüfung über alle Modulteile
        <br />
        <i> Dauer: 30 Minuten </i>
      </td>
      <td>07LE23PL-MSc14-P-M</td>
      <td>nach individueller Terminvereinbarung mit Prüfer:in</td>
      <td>
        Anmeldung spätestens drei Wochen vor Prüfung schriftlich im Prüfungs­amt
        (
        <a
          href="{{ url_for('showdownloads', anchor = 'formulare', lang=lang)}}"
        >
          Formular
        </a>
        )
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Bemerkungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">
        <ul>
          <li>
            Welche Vorlesungen zur Kategorie III zählen, ist im
            <a href="{{ url_for('showlehrveranstaltungenbase', lang=lang)}}">
              Kommentierten Vorlesungs­verzeichnis
            </a>
            und in den
            <a href="{{ url_for('showlehrveranstaltungenbase', lang=lang)}}">
              aktuellen Ergänzungen der Modulhandbücher
            </a>
            beschrieben. Kompakt findet sich die Information in den
            <a href="{{ url_for('showlehrveranstaltungenbase', lang=lang)}}">
              Verwendungstabellen
            </a>
            .
          </li>
          <li>
            2-stündige Vorlesungen gehen mit 4,5 ECTS-Punkten in das Modul ein,
            unabhängig vom Umfang der Übungen, also unabhängig davon, wie viele
            ECTS-Punkte sie als Wahlmodul bekommen.
            <br />
            Die Zusammensetzung der Moduls aus 2-stündigen Vorlesungen ist mit
            dem/der Prüfer:in abzusprechen.
            <br />
            Das Modul kann auch von zwei Prüfer:inne:n geprüft werden.
          </li>
          <li>
            In maximal zwei der vier Vorlesungsmodule darf der/die selbe
            Prüfer:in prüfen.
          </li>
        </ul>
      </td>
    </tr>
    <tr style="border-left: #f4f3f3 2px solid; border-right: #f4f3f3 2px solid">
      <td colspan="4"></td>
    </tr>
    <!-- ================================================================================================================================== -->
    <tr style="background-color: #ffff66" valign="top">
      <td colspan="4">
        <b> VERTIEFUNSGMODUL </b>
        <b style="font-size: 150%">
          <sub> </sub>
        </b>
        (Pflichtmodul mit Wahlveranstaltung, 21 ECTS-Punkte)
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Voraussetzungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">
        Die notwendigen Vorkenntnissen hängen von den gewählten Vorlesungen ab,
        siehe
        <a href="{{ url_for('showlehrveranstaltungenbase', lang=lang)}}">
          Kommentiertes Vorlesungs­verzeichnis
        </a>
        , oder von den konkreten Lesekursen. Lesekurse werden in individueller
        Absprache mit einem/einer Dozent:in angeboten und erscheinen nicht im
        Vorlesungsverzeichnis.
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Veranstaltungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>
        <i> zwei 4-stündige Vorlesung </i>
        <br />
        oder statt jeder 4-stündigen:
        <br />
        <i> zwei 2-stündige Vorlesungen </i>
        <br />
        jeweils Kategorie III
      </td>
      <td>07LE23V-?-??</td>
      <td rowspan="3">jedes Semester</td>
      <td>Belegung der Vorlesung bis Vorlesungsbeginn</td>
    </tr>
    <tr valign="top">
      <td>
        zu jeder Vorlesung in der Regel
        <i> 2-stündige Übung </i>
      </td>
      <td>07LE23Ü-?-??</td>
      <td>Belegung der Übung in der Regel in der ersten Vorlesungswoche</td>
    </tr>
    <tr valign="top">
      <td>
        alternativ statt jeder 4-stündigen Vorlesung:
        <br />
        <i>
          Lesekurs (= betreutes Selbst­studium) im Umfang einer 4-stündigen
          Vorlesung
        </i>
      </td>
      <td>(nicht in HISinOne)</td>
      <td>
        Belegung eines Lesekurses durch persönliche Anmeldung bei dem/der
        Dozent:in
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Studienleistungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>
        zu jeder Vorlesung:
        <br />
        Übung mit ggf. Klausur/Prüfung
      </td>
      <td>07LE23SL-?E-?-??</td>
      <td rowspan="2">im jeweiligen Semester</td>
      <td rowspan="2">
        Registrierung bis
        <a
          href="{{ url_for('showstudiendekanat', lang=lang, unterseite='termine')}}"
          title="in der Regel bis etwa zwei Wochen vor Vorlesungsende"
        >
          Fristende
        </a>
        im Wintersemester
      </td>
    </tr>
    <tr valign="top">
      <td>
        zum Lesekurs:
        <br />
        Studienleistungen wie abgesprochen
      </td>
      <td>07LE23SL-MSc14-P-VM_WA_?</td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Prüfungsleistungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>
        mündliche Prüfung über alle Modulteile
        <br />
        <i> Dauer: 45 Minuten </i>
      </td>
      <td>07LE23PL-MSc14-P-VM</td>
      <td>nach individueller Terminvereinbarung mit Prüfer:in</td>
      <td>
        Anmeldung spätestens drei Wochen vor Prüfung schriftlich im Prüfungs­amt
        (
        <a
          href="{{ url_for('showdownloads', anchor = 'formulare', lang=lang)}}"
        >
          Formular
        </a>
        )
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Bemerkungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">
        <ul>
          <li>
            Welche Vorlesungen zur Kategorie III zählen, ist im
            <a href="{{ url_for('showlehrveranstaltungenbase', lang=lang)}}">
              Kommentierten Vorlesungs­verzeichnis
            </a>
            und in den
            <a href="{{ url_for('showlehrveranstaltungenbase', lang=lang)}}">
              aktuellen Ergänzungen der Modulhandbücher
            </a>
            beschrieben. Kompakt findet sich die Information in den
            <a href="{{ url_for('showlehrveranstaltungenbase', lang=lang)}}">
              Verwendungstabellen
            </a>
            .
          </li>
          <li>
            2-stündige Vorlesungen gehen mit 4,5 ECTS-Punkten in das Modul ein,
            unabhängig vom Umfang der Übungen, also unabhängig davon, wie viele
            ECTS-Punkte sie als Wahlmodul bekommen.
          </li>
          <li>
            Die Zusammensetzung der Moduls ist mit dem/der Prüfer:in
            abzusprechen; die Modulteile sollten eine inhaltliche Nähe und ein
            angemessenes Niveau aufweisen.
            <br />
            Das Modul kann auch von zwei Prüfer:inne:n geprüft werden.
            <br />
            In maximal zwei der vier Vorlesungsmodule darf der/die selbe
            Prüfer:in prüfen.
          </li>
        </ul>
      </td>
    </tr>
    <tr style="border-left: #f4f3f3 2px solid; border-right: #f4f3f3 2px solid">
      <td colspan="4"></td>
    </tr>
    <!-- ================================================================================================================================== -->
    <tr>
      <td
        bgcolor="#e6e666"
        colspan="4"
        style="
          border-left: black 2px solid;
          border-top: black 2px solid;
          border-right: black 2px solid;
        "
      >
        <b style="font-size: 110%"> 2. SEMINARE </b>
        <b style="font-size: 150%">
          <sub> </sub>
        </b>
        (12 ECTS-Punkte)
      </td>
    </tr>
    <tr
      bgcolor="#dae3ea"
      style="
        border-left: black 2px solid;
        border-bottom: black 2px solid;
        border-right: black 2px solid;
      "
    >
      <td style="width: 30%">Modulteil</td>
      <td style="width: 20%">Nummer in HISinOne</td>
      <td style="width: 20%">Angebot / Zeitpunkt</td>
      <td style="width: 30%">Anmeldung</td>
    </tr>
    <tr style="border-left: #f4f3f3 2px solid; border-right: #f4f3f3 2px solid">
      <td colspan="4"></td>
    </tr>
    <!-- ================================================================================================================================== -->
    <tr style="background-color: #e6e666" valign="top">
      <td colspan="4">
        <b> MATHEMATISCHES SEMINAR A </b>
        <b style="font-size: 150%">
          <sub> </sub>
        </b>
        (Pflichtmodul mit Wahlveranstaltung, 6 ECTS-Punkte)
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Voraussetzungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">
        Die notwendigen Vorkenntnissen hängen vom gewählten Seminar ab, siehe
        <a href="{{ url_for('showlehrveranstaltungenbase', lang=lang)}}">
          Kommentiertes Vorlesungs­verzeichnis
        </a>
        .
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Veranstaltungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>
        <i> Seminar (2-stündig) </i>
      </td>
      <td>
        07LE23S-x-??
        <br style="margin-bottom: 5px" />
        (x ≠ 7)
      </td>
      <td>jedes Semester</td>
      <td>
        Voranmeldung nach Angaben im
        <a href="{{ url_for('showlehrveranstaltungenbase', lang=lang)}}">
          Komm. Vorlesungsverzeichnis
        </a>
        ; Sudienplatzvergabe bei der Vorbesprechung am Ende des Vorsemesters
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Studienleistungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>regelmäßige Anwesenheit und aktive Mitarbeit</td>
      <td>07LE23SL-MSc14-P-SemA</td>
      <td>im jeweiligen Semester</td>
      <td>keine separate Registrierung</td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Prüfungsleistungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>
        Vortrag
        <br />
        <i> Dauer: ca. 90 Minuten </i>
      </td>
      <td>07LE23PL-MSc14-P-SemA</td>
      <td>im jeweiligen Semester</td>
      <td>
        Prüfungsanmeldung bis
        <a
          href="{{ url_for('showstudiendekanat', lang=lang, unterseite='termine')}}"
          title="in der Regel bis Mittwoch vor Vorlesungsbeginn"
        >
          Fristende
        </a>
        vor Vorlesungsbeginn
      </td>
    </tr>
    <tr style="border-left: #f4f3f3 2px solid; border-right: #f4f3f3 2px solid">
      <td colspan="4"></td>
    </tr>
    <!-- ================================================================================================================================== -->
    <tr style="background-color: #e6e666" valign="top">
      <td colspan="4">
        <b> MATHEMATISCHES SEMINAR B </b>
        <b style="font-size: 150%">
          <sub> </sub>
        </b>
        (Pflichtmodul mit Wahlveranstaltung, 6 ECTS-Punkte)
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">identisch mit „Mathematisches Seminar A“</td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Bemerkungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">
        In den Modulen „Mathematisches Seminar A“ und „Mathematisches Seminar B“
        müssen zwei Seminare besucht werden – zwei Vorträge in einem Seminar
        reichen nicht. Es können allerdings zwei titelgleiche Seminare in
        verschiedenen Semestern absolviert werden, wenn diese Seminare
        verschiedenen Inhalt haben.
      </td>
    </tr>
    <tr style="border-left: #f4f3f3 2px solid; border-right: #f4f3f3 2px solid">
      <td colspan="4"></td>
    </tr>
    <!-- ================================================================================================================================== -->
    <tr style="border: black 2px solid; background-color: #ffd058">
      <td colspan="4">
        <b style="font-size: 110%"> 3. MASTER-MODUL </b>
        <b style="font-size: 150%">
          <sub> </sub>
        </b>
        (Pflichtmodul, 33 ECTS-Punkte)
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Voraussetzungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">
        Voraussetzung für die Zulassung zur Master-Arbeit sind 60 im Studiengang
        absolvierte ECTS-Punkte. Die inhaltlichen Voraussetzungen müssen mit
        dem/der Betreuer:in abgesprochen werden.
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Prüfungsleistungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>
        Verfassen der Master-Arbeit
        <br style="margin-bottom: 5px" />
        <i> Bearbeitungszeit: 6 Monate </i>
      </td>
      <td>07LE23PL-8000-MSc-105-2014</td>
      <td>beliebiger Zeitpunkt, in Absprache mit Betreuer:in</td>
      <td>
        Anmeldung schriftlich im Prüfungsamt (
        <a
          href="{{ url_for('showdownloads', anchor = 'formulare', lang=lang)}}"
        >
          Formular
        </a>
        )
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Studienleistungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>
        Präsentation der Master-Arbeit
        <br style="margin-bottom: 5px" />
        <i> Dauer: nicht festgelegt, ca. 60–90 Minuten </i>
      </td>
      <td>07LE23SL-MSc14-P-MMod</td>
      <td>
        beliebiger Zeitpunkt gegen/nach Ende der Bearbeitungszeit, in Absprache
        mit Betreuer:in
      </td>
      <td>keine separate Anmeldung</td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Bemerkungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">
        <a href="{{ url_for('showstufaq', lang=lang)}}">
          detaillierte Informationen zu Abschlussarbeiten
        </a>
        in Mathematik
      </td>
    </tr>
    <tr style="border-left: #f4f3f3 2px solid; border-right: #f4f3f3 2px solid">
      <td colspan="4"></td>
    </tr>
    <!-- ================================================================================================================================== -->
    <tr>
      <td
        bgcolor="#af8daa"
        colspan="4"
        style="
          border-left: black 2px solid;
          border-top: black 2px solid;
          border-right: black 2px solid;
        "
      >
        <b style="font-size: 110%"> 4. WAHLMODULE </b>
        <b style="font-size: 150%">
          <sub> </sub>
        </b>
        (21 ECTS-Punkte)
      </td>
    </tr>
    <tr
      bgcolor="#dae3ea"
      style="
        border-left: black 2px solid;
        border-bottom: black 2px solid;
        border-right: black 2px solid;
      "
    >
      <td style="width: 30%">Modulteil</td>
      <td style="width: 20%">Nummer in HISinOne</td>
      <td style="width: 20%">Angebot / Zeitpunkt</td>
      <td style="width: 30%">Anmeldung</td>
    </tr>
    <tr style="border-left: #f4f3f3 2px solid; border-right: #f4f3f3 2px solid">
      <td colspan="4">
        <br />
        <b>
          Für die Spezialisierung Finanzmathematik (siehe im entsprechenden
          Abschnitt) gelten gesonderte Bedingungen an die Wahlmodule!
        </b>
        <br />
      </td>
    </tr>
    <!-- ================================================================================================================================== -->
    <tr style="background-color: #af8daa" valign="top">
      <td colspan="4">
        <b> MATHEMATIK-MODULE </b>
        <b style="font-size: 150%">
          <sub> </sub>
        </b>
        (Wahlmodule, mindestens 9 ECTS-Punkte)
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Voraussetzungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">
        Die notwendigen Vorkenntnissen hängen von der gewählten Veranstaltung
        ab, siehe
        <a href="{{ url_for('showlehrveranstaltungenbase', lang=lang)}}">
          Kommentiertes Vorlesungs­verzeichnis
        </a>
        .
        <br />
        Teilnahmebedingung für „Lernen durch Lehren“ ist eine Tutoratsstelle zu
        einer Vorlesung des Mathematischen Instituts im laufenden Semester
        (mindestens eine zweistündige oder zwei einstündige Übungsgruppen über
        das ganze Semester).
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Veranstaltungen </b>
        , zur Wahl:
      </td>
    </tr>
    <tr valign="top">
      <td>Vorlesung (mit Übung)</td>
      <td>
        07LE23V-?-??
        <br />
        (07LE23Ü-?-??)
      </td>
      <td>jedes Semester</td>
      <td>
        Belegung der Vorlesung bis Vorlesungsbeginn
        <br style="margin-bottom: 5px" />
        Belegung der Übung in der Regel in der ersten Vorlesungswoche
      </td>
    </tr>
    <tr valign="top">
      <td>Praktische Übung</td>
      <td>07LE23PÜ-?-??</td>
      <td>variabel</td>
      <td>Belegung in der Regel in der ersten Vorlesungswoche</td>
    </tr>
    <tr valign="top">
      <td>
        Wissenschaftliches Arbeiten
        <br style="margin-bottom: 5px" />
        (
        <i> maximal einmal im Wahlmodul </i>
        )
      </td>
      <td>(nicht in HISinOne)</td>
      <td>jedes Semester, nach Absprache mit Dozent:in</td>
      <td>Persönliche Anmeldung bei dem/der Dozent:in</td>
    </tr>
    <tr valign="top">
      <td>
        Seminar
        <br style="margin-bottom: 5px" />
        (
        <i>
          bis zu vier Seminare – bitte melden Sie sich im Prüfungsamt, wenn Sie
          die in HISinOne einge­richtete Anzahl überschreiten
        </i>
        )
      </td>
      <td>07LE23S-?-??</td>
      <td>jedes Semester</td>
      <td>
        Voranmeldung nach Angaben im
        <a href="{{ url_for('showlehrveranstaltungenbase', lang=lang)}}">
          Komm. Vorlesungsverzeichnis
        </a>
        ; Sudienplatzvergabe bei der Vorbesprechung am Ende des Vorsemesters
      </td>
    </tr>
    <tr valign="top">
      <td>
        Lernen durch Lehren
        <br style="margin-bottom: 5px" />
        (
        <i> maximal zweimal im M.Sc. </i>
        )
      </td>
      <td>07LE23V-?-??</td>
      <td>jedes Semester</td>
      <td>
        Voranmeldung per E-Mail, siehe
        <a href="https://home.mathematik.uni-freiburg.de/ldl/index1.html">
          hier
        </a>
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Studienleistungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td>Seminar: Vortrag, regelmäßige Anwesenheit und aktive Mitarbeit</td>
      <td>07LE23SL-MSc14-WM6-Sem?</td>
      <td>im jeweiligen Semester</td>
      <td>
        Registrierung bis
        <a
          href="{{ url_for('showstudiendekanat', lang=lang, unterseite='termine')}}"
          title="in der Regel bis Mittwoch vor Vorlesungsbeginn"
        >
          Fristende
        </a>
        vor Vorlesungsbeginn
      </td>
    </tr>
    <tr valign="top">
      <td>
        zu jeder Vorlesung Kategorie II:
        <br />
        – Übung
        <br />
        – Klausur
      </td>
      <td valign="bottom">
        07LE23SL-Ü-?-??
        <br />
        07LE23SL-K-?-??
      </td>
      <td rowspan="2">im jeweiligen Semester</td>
      <td rowspan="2">
        Registrierung bis
        <a
          href="{{ url_for('showstudiendekanat', lang=lang, unterseite='termine')}}"
          title="in der Regel bis etwa zwei Wochen vor Vorlesungsende"
        >
          Fristende
        </a>
        im jeweiligenemester
      </td>
    </tr>
    <tr valign="top">
      <td>
        zu allen anderen Veranstaltungen gibt es genau eine zu registrierende
        Studienleistung
      </td>
      <td>07LE23SL-...</td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Prüfungsleistungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">keine</td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Bemerkungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">
        <ul>
          <li>
            Welche Vorlesungen und Praktischen Übungen als Wahlmodule zugelassen
            sind, ist im
            <a href="{{ url_for('showlehrveranstaltungenbase', lang=lang)}}">
              Kommentierten Vorlesungs­verzeichnis
            </a>
            und in den
            <a href="{{ url_for('showlehrveranstaltungenbase', lang=lang)}}">
              aktuellen Ergänzungen der Modulhandbücher
            </a>
            beschrieben. Kompakt findet sich die Information in den
            <a href="{{ url_for('showlehrveranstaltungenbase', lang=lang)}}">
              Verwendungstabellen
            </a>
            .
          </li>
          <li>
            Für Wahlmodule werden 21 ECTS-Punkte auf die zu erreichenden
            120 ECTS-Punkte angerechnet, es dürfen aber mehr Punkte absolviert
            werden. Module, die vollständig über dem Soll liegen, werden als
            Zusatzleistungen ausgewiesen.
          </li>
        </ul>
      </td>
    </tr>
    <tr style="border-left: #f4f3f3 2px solid; border-right: #f4f3f3 2px solid">
      <td colspan="4"></td>
    </tr>
    <!-- ================================================================================================================================== -->
    <tr style="background-color: #af8daa" valign="top">
      <td colspan="4">
        <b> MODULE ANDERER FÄCHER </b>
        <b style="font-size: 150%">
          <sub> </sub>
        </b>
        (Wahlmodule, höchstens 12 anrechenbare ECTS-Punkte)
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Voraussetzungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">
        Eventuelle Teilnahmebedingungen und notwendigen Vorkenntnisse hängen von
        den gewählten Veranstaltungen ab und müssen selbständig in Erfahrung
        gebracht werden. Insbesondere muss geklärt werden, ob die gewünschte
        Veranstaltung für fachfremde Studierende offen steht.
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Veranstaltungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">
        Fachfremde Wahlmodule müssen laut Prüfungsordnung „dem
        Anforderungsniveau der Lehrveranstaltungen des Masterstudiengangs
        Mathematik entsprechen“ Zugelassen sind insbesondere
        <ul style="margin-top: 2px; margin-bottom: 2px; margin-left: -2em">
          <li>
            Veranstaltungen aus einem Master-Studiengang des betreffenden Fachs,
          </li>
          <li>
            Wahlveranstaltungen aus dem dritten Studienjahr eines
            Bachelor-Studiengangs des betreffenden Fachs,
          </li>
          <li style="margin-bottom: 10px">
            Veranstaltungen, die als wirtschaftswissenschaftliche
            Spezialisierungsmodule der Spezialisierung „Finanzmathematik“
            zugelassen sind.
          </li>
        </ul>
        Nicht erlaubt sind
        <ul style="margin-top: 2px; margin-bottom: 2px; margin-left: -2em">
          <li>
            Veranstaltungen der Standard-Anwendungsfächer im B.Sc. Mathematik,
          </li>
          <li>
            einführende Veranstaltungen aus den ersten Studienjahren eines
            Bachelor-Studiengangs,
          </li>
          <li>
            Sprachkurse und BOK-Kurse, insbesondere ZfS-Kurse,
            Fachdidaktikveranstaltungen, Praktika und Schulpraxis,
          </li>
          <li style="margin-bottom: 10px">
            fachfremde Veranstaltungen, die sich inhaltlich substantiell mit
            unserem eigenen Angebot überschneiden.
          </li>
        </ul>
        Zweifelsfälle müssen vorher geklärt werden; die erfolgreiche Teilnahme
        an einer Veranstaltung garantiert nicht, dass sie angerechnet werden
        kann!
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Studienleistungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td rowspan="2">
        Für Module
        <br />
        – der Technischen Fakultät
        <br />
        – der Wirtschaftswissenschaften
        <br />
        in der Regel eine zu registrierende Studienleistung
      </td>
      <td>07LE23SL-WF?-??</td>
      <td>im jeweiligen Semester</td>
      <td>Online-Registrierung bis Ende der Frist des jeweiligen Fachs</td>
    </tr>
    <tr>
      <td colspan="3">
        Die Möglichkeit der Online-Registrierung wird bei Bedarf eingerichtet;
        dazu ist eine
        <a
          href="{{ url_for('showstudiendekanat', lang=lang, unterseite='termine')}}"
        >
          rechtzeitige
        </a>
        Meldung an die Studiengangkoordination erforderlich.
      </td>
    </tr>
    <tr valign="top">
      <td>Für andere Module</td>
      <td colspan="3">
        In der Regel keine vorherige Registrierung der Studienleistung.
        Bescheinigungen über absolvierte Leistungen bitte dem Prüfungsamt
        Mathematik zur Verbuchung einreichen.
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Prüfungsleistungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">
        Keine – aber alle bei der Verwendung der gewählten Veranstaltung in
        einem Studiengang des anbietenden Fachs vorgesehen Studien- wie
        Prüfungsleistungen sind als Studienleistungen zu absolvieren.
      </td>
    </tr>
    <tr valign="top">
      <td bgcolor="#dddddd" colspan="4">
        <b> Bemerkungen </b>
      </td>
    </tr>
    <tr valign="top">
      <td colspan="4">
        Für fachfremde Wahlmodule werden maximal 12 ECTS-Punkte auf die zu
        erreichenden 120 ECTS-Punkte angerechnet, es dürfen aber mehr Punkte
        absolviert werden. Module, die vollständig über dem Soll liegen, werden
        als Zusatzleistungen ausgewiesen.
      </td>
    </tr>
  </table>
</div>
