<div class="container" id="pruefungen_meb">
  <h3>
    Prüfungen und Studienleistungen für die "Beifachvariante" (90 ECTS-Punkte)
    <span class="arrow"> </span>
  </h3>
  <p>
    Alle Prüfungen müssen vor Ablegen der Prüfung angemeldet werden und alle
    Studienleistungen registriert werden. Bis auf wenige Ausnahmen geht dies
    über den Studienplaner in HISinOne:
  </p>
  <table>
    <tr bgcolor="#dae3ea">
      <td>
        <ol>
          <li>
            In
            <a href="https://campus.uni-freiburg.de"> HISinOne </a>
            'Mein Studium &gt; Studienplaner mit Modulplan' (ggf. mit richtigem
            Studiengang) auswählen.
          </li>
          <li>
            Links oben das richtige Semester auswählen und recht oben bei
            Veranstaltungen 'keine' und bei Prüfungs-/Studienleistungen 'alle'
            anklicken.
          </li>
          <li>
            Dann in der Liste das gewünschte Modul bzw. die gewünschte
            Veranstaltung suchen.
          </li>
          <li>
            Auf 'Prüfung anmelden' bzw. 'Studienleistung registrieren' gehen.
          </li>
          <li>Gegebenenfalls noch die richtige Gruppe auswählen.</li>
        </ol>
      </td>
    </tr>
  </table>
  Achtung: Die Belegung einer Veranstaltung zu Vorlesungsbeginn ist ein anderer
  Vorgang und ersetzt nicht die Anmeldung der Prüfung bzw. Registrierung der
  Studienleistung. Insbesondere ist mit der Wahl einer Übungsgruppe zu
  Vorlesungsbeginn noch nicht die Studienleistung in der Übung registriert!
  <p>
    Weitere Informationen zu den konkreten zuabsolvierenden Studien- und
    Prüfungsleistungen folgen noch!
  </p>
</div>
