<div class="container" id="inhalt">
  <div>
    <h2>Studienberatung</h2>
  </div>
  <div class="container g-3">
    Die allgemeine Studienberatung der Mathematik ist offen für alle Studierende der Mathematik-Studiengänge. 
  </div>
    <div class="container text-end">
    <div class="row">
      <div class="col">
        <a
          href="{{ url_for('showstufaq', lang=lang) }}"
          class="btn btn-primary bg-ufr-blue link-dark"
          role="button"
          aria-disabled="true"
        >
          FAQ
        </a>
      <a
          href="{{url_for('static', filename='pdf/studienberatung/uebersicht-vorlesungen.pdf')}}"
          class="btn btn-primary bg-ufr-blue link-dark"
          role="button"
          aria-disabled="true"
          >
          Regelmäßig angebotene Vorlesungen
        </a>
      <a
          href="{{ url_for('showstudiendekanat', lang=lang, unterseite='modulplan') }}"
          class="btn btn-primary bg-ufr-blue link-dark"
          role="button"
          aria-disabled="true"
          >
          Modulpläne der Studiengänge
        </a>
      <a
          href="{{ url_for('showstudiendekanat', lang=lang, unterseite='warum_mathematik') }}"
          class="btn btn-primary bg-ufr-blue link-dark"
          role="button"
          aria-disabled="true"
          >
          Warum Mathematik?
        </a>
      <a
          href="{{ url_for('showstudiendekanat', lang=lang, unterseite='schwerpunktgebiete') }}"
          class="btn btn-primary bg-ufr-blue link-dark"
          role="button"
          aria-disabled="true"
          >
          Schwerpunktgebiete in Freiburg
        </a>
      </div>
    </div>
  </div>


  <br />
  <p></p>
  <br />
  <div class="row g-2">
    {% for item in data %} 
    <div class="col-md-4">
      <div class="card h-100">
        <a
          class="btn bg-ufr-yellow-60 link-dark"
          {% if item['link']!= '' %} href="{{ item['link'] }}" {% endif %}
          type="button"
          style="width: 100%; border-radius: 12px"
        >
          <center>
            <h4>
              {% if lang == "de" %} {% if item['rolle_de'] != "" %}
              {{item['rolle_de']|safe}} {% endif %} {% else %} {% if
              item['rolle_en'] != "" %} {{item['rolle_en']|safe}}{% endif %}
              {% endif %}
            </h4>
            <h4>
              <i class="fa fa-circle-right fa-4" aria-hidden="true"></i>
              {% if lang == "de" %} {{ item['name_de']|safe }} {% else %} {{ item['name_en']|safe }}{% endif %}
            </h4>
            </center>
        </a>
        <div class="card-body">
          <div class="card-text">
                {% if item['mail']!= '' %} {% set mail = item['mail'] %}
                {% if lang == 'de' %}
                {% if item['raum_de'] !='' %} Raum: {{ item['raum_de'] | safe }} {% endif %} <br>
                {% if item['tel_de'] !='' %} Tel.: {{ item['tel_de'] | safe }} {% endif %}<br>
                {% if item['mail'] !='' %} Mail: <a href='mailto:{{mail|safe }}'>{{mail}}</a> {% endif %}<br>
                {% if item['sprechstunde_de'] !='' %} Sprechstunde: {{ item['sprechstunde_de'] | safe }} {% endif %}<br>
                {% else %}
                {% if item['raum_en'] !='' %} Room: {{ item['raum_de'] | safe }} {% endif %} <br>
                {% if item['tel_en'] !='' %} Tel.: {{ item['tel_en'] | safe }} {% endif %}<br>
                {% if item['mail'] !='' %} Mail: <a href='mailto:{{mail|safe }}'>{{mail}}</a> {% endif %}<br>
                {% if item['sprechstunde_en'] !='' %} Office hours: {{ item['sprechstunde_en'] | safe }} {% endif %}<br>
                {% endif %}
            <p align="right">
              <button
                type="button"
                class="btn btn-outline-primary active bg-white"
                data-bs-toggle="popover"
                data-bs-html="true"
                style="color: #004a99"
                title="{{ item['name'] | safe }}"
                data-bs-content="
                {% if lang == 'de'  and item['text_de'] != [] %}
                <ul>
                {% for x in item['text_de'] %}
                <li>{{ x|safe }}</li>
                {% endfor %}
                </ul>
                {% elif lang == 'en' and item['text_en'] != [] %}
                <ul>
                {% for x in item['text_en'] %}
                <li>{{ x|safe }}</li>
                {% endfor %}
                </ul>
                {% endif %}"
              >
                <i class="fa-solid fa-info" style="color: #004a99"></i>
              </button>
              {% endif %} 
              <!-- {% if item['link']!= '' %}
              <a
                class="btn btn-outline-primary active bg-white"
                style="border-color: #004a99"
                href="{{ item['link'] }}"
                role="button"
              >
                <i class="fa-solid fa-link" style="color: #004a99"></i>
              </a>
              {% endif %} -->
            </p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
