<div class="container" id="inhalt">
  <h1>Prüfungen in den Mathematikstudiengängen: Anmeldefristen und Termine</h1>
  <div class="container g-3">
    <ul>
      <li>
        <p>
          Vor jeder Prüfung muss man sich (rechtzeitig!) zu dieser Prüfung
          anmelden – teils über das Campus-Management-System
          <a href="https://campus.uni-freiburg.de">HISinOne</a>, teils schriftlich über das
          <a href="{{ url_for('showdownloads', anchor = 'formulare', lang=lang)}}">
            Prüfungsamt des Mathematischen Instituts</a>.
          Studienleistungen, die man absolvieren möchte, muss man in der Regel
          über HISinOne registrieren, damit sie verbucht werden können.
          Die Belegung der betreffenden Veranstaltung reicht dafür nicht aus.
        </p>
        <p>
          Falls eine online-Anmeldung vorgesehen, aber nicht möglich ist oder
          nicht funktioniert, wenden Sie sich frühzeitig und unbedingt unter
          Wahrung der Anmeldefrist an das zuständige Prüfungsamt!
        </p>
      </li>
      <li>
        Auf welche Art die Prüfungsanmeldungen jeweils erfolgen und welche
        Studienleistungen registriert werden müssen steht auf den
        Informationsseiten zu den einzelnen
        <a href="{{ url_for('showstudiengaenge', lang=lang )}}">
          Studiengängen</a>.
        Allgemeine Informationen zu Prüfungen und Studienleistungen erfahren
        Sie auf der Seite
        <a href="{{ url_for('showstudiendekanat', lang=lang, unterseite='anmeldung')}}">
          Informationen zur Prüfungsanmeldung</a>.
      </li>
    </ul>
  </div>
  <div class="container">
    <div class="row">
      <div class="col text-end">
        <a href="{{ url_for('showstudiendekanat', unterseite='anmeldung', lang=lang) }}"
          class="btn btn-primary bg-ufr-blue link-dark" role="button" aria-disabled="true">
          Anleitung Prüfungsanmeldung
        </a>
        <a href="{{ url_for('showstudiendekanat', unterseite = 'calendar', lang=lang)}}"
          class="btn btn-primary bg-ufr-blue link-dark" role="button" aria-disabled="true">
          Prüfungskalender
        </a>
        <a href="https://campus.uni-freiburg.de/" class="btn btn-primary bg-ufr-blue link-dark" role="button"
          aria-disabled="true">
          HISinOne
        </a>
      </div>
    </div>
  </div>

  <div class="accordion accordion-flush" id="accordionExample">

    <!--
    <div class="accordion-item" id="_ss24">
      <h4 class="accordion-header" id="header_ss24">
        <button
          aria-controls="_ss24Content"
          aria-expanded="false"
          class="accordion-button collapsed"
          data-bs-target="#_ss24Content"
          data-bs-toggle="collapse"
          type="button"
        >
          <h3 class="h5">Anmeldefristen im Sommersemester 2024</h3>
        </button>
      </h4>
      <div
        aria-labelledby="_ss24Content"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
        id="_ss24Content"
      >
        <div class="accordion-body" id="ss24Content">
          <p>
            <b> Proseminare und fachwissenschaftliche Seminare </b>
            :
          </p>
          <ul>
            <li>
              Online-Prüfungsanmeldung von 01. 03. 2024
              <span style="color: #c1002a"> bis 10. 04. 2024 </span>
              nach Studienplatzzuteilung und verbindlicher Teilnahmezusage in
              der Vorbesprechung.
            </li>
          </ul>
          <p>
            <b> Mündliche Prüfungen im M.Sc. und M.Ed.: </b>
          </p>
          <ul>
            <li>
              Schriftliche Anmeldung im Prüfungsamt
              <span style="color: #c1002a">
                bis spätestens drei Wochen vor der Prüfung
              </span>
              nach individueller Terminvereinbarung mit dem Prüfer.
            </li>
          </ul>
          <p>
            <b>
              Andere Mathematik-Veranstaltungen (inkl. Seminare in
              Fachdidaktik):
            </b>
            <br style="margin-bottom: 3px" />
            (einschließlich der mündlichen Prüfungen in Analysis und in Linearer
            Algebra und der Lesekurse)
          </p>
          <ul>
            <li>
              Online-Prüfungsanmeldung bzw. -Studienleistungsregistrierung von
              15. 04. 2024
              <span style="color: #c1002a"> bis 05. 07. 2024 </span>
              .
            </li>
            <li>
              Die
              <a href="https://www.math.uni-freiburg.de/aktuell/studinfo/">
                aktuellen Informationen für Studierende
              </a>
              informieren ggf. über den genauen Stand: Für einzelne Prüfungen
              werden Anmeldemöglichkeiten ggf. erst ab einem späteren
              Starttermin eingerichtet.
            </li>
            <li>
              Kontrolle, ob alle gewünschten Anmeldemöglichkeiten eingerichtet
              sind, und andernfalls Mitteilung an die Studiengangkoordination:
              <span style="color: #c1002a">
                bis spätestens Mitte Juni 2024
              </span>
              .
            </li>
            <li>
              <a
                href="https://home.mathematik.uni-freiburg.de/pruefungsamt/prueferwuensche.html"
              >
                Abgabe der Prüferwünsche
              </a>
              für die mündliche Prüfungen in Analysis bzw. Linearer Algebra:
              voraussichtlich ab Anfang Juli 2024. Die Abgabe der Prüferwünsche
              ersetzt nicht die Prüfungsanmeldung!
            </li>
          </ul>
          <p>
            <b> Module anderer Fächer und Einrichtungen: </b>
          </p>
          <ul>
            <li>
              Mitteilung von fachfremden Wahlmodulen, für die Studienleistungen
              über das Campus-Management-System angemeldet werden sollen
              <span style="color: #c1002a">
                bis spätestens Mitte Juni 2024
              </span>
              an die Studiengangkoordination.
            </li>
            <li>
              Für Module des Anwendungsfachs im B.Sc. und für fachfremde
              Wahlmodule im B.Sc. und M.Sc. gelten die Anmeldefristen des
              jeweiligen Faches. Zuständig ist trotzdem das Prüfungsamt des
              Mathematischen Institut:
              <span style="color: #c1002a">
                Wenden Sie sich bei Problemen nicht an das Prüfungsamt des
                anderen Faches!
              </span>
            </li>
            <li>
              Für das andere Fach im 2-Hauptfächer-Bachelor oder M.Ed. gelten
              die Anmeldefristen des jeweiligen Faches. Für externe BOK-Kurse
              gelten die Fristen des ZfS. Für lehramtsspezifische
              Studienelemente (Bildungswissenschaft, Schulpraxis) jeweils die
              Fristen der zuständigen Einrichtung.
            </li>
          </ul>
        </div>
      </div>
    </div> -->
    <div class="accordion-item" id="_ws24">
      <h4 class="accordion-header" id="header_ws24">
        <button aria-controls="_ws24Content" aria-expanded="false" class="accordion-button collapsed"
          data-bs-target="#_ws24Content" data-bs-toggle="collapse" type="button">
          <h3 class="h5">Anmeldefristen im Wintersemester 2024/25</h3>
        </button>
      </h4>
      <div aria-labelledby="_ws24Content" class="accordion-collapse collapse" data-bs-parent="#accordionExample"
        id="_ws24Content">
        <div class="accordion-body" id="ws24Content">
          <!--<p>
            <b style="color: #c1002a">NOCH OHNE GEWÄHR!</b>
          </p>-->
          <p>
            <b> Proseminare und fachwissenschaftliche Seminare:</b>
          </p>
          <ul>
            <li>
              Prüfungsanmeldung über HISinOne.
            </li>
            <li>
              Frist: <span style="color: #c1002a;">01. 09. 2024 bis 09. 10. 2024</span>
            </li>
            <li>
              Bedingung: In der Vorbesprechung haben Sie einen Platz im Seminar und ein Vortragsthema bekommen.
            </li>
          </ul>
          <p>
            <b>Mündliche Prüfungen im M.Sc. und M.Ed.:</b>
          </p>
          <ul>
            <li>
              Schriftliche Anmeldung im Prüfungsamt.
            </li>
            <li>
              Frist: bis spätestens <span style="color: #c1002a">drei Wochen vor der Prüfung</span>
              (nach individueller Terminvereinbarung mit dem Prüfer/der Prüferin).
            </li>
          </ul>
          <p>
            <b>
              Andere Mathematik-Prüfungen
            </b>
            (inkl. Fachdidaktikseminaren, Lesekursen und mündlichen Prüfungen in Analysis/Linearer Algebra):
          </p>
          <ul>
            <li>
              Prüfungsanmeldung bzw. Studienleistungsregistrierung über HISinOne.
            </li>
            <li>Frist: <span style="color: #c1002a">14. 10. 2024 bis 24. 01. 2024</span><br />
              Meldung fehlender Anmeldemöglichkeiten
              bis spätestens <span style="color: #c1002a">09. 01. 2025</span> an die Studiengangkoordination.
            </li>
            <li>
              <a href="#"></a> Abgabe der Prüferwünsche für die mündliche Prüfungen in Analysis bzw. Linearer Algebra:
              voraussichtlich Ende Januar 2025.<br />
              Die Abgabe der Prüferwünsche ersetzt nicht die Prüfungsanmeldung!
            </li>
          </ul>
          <p>
            <b> Module anderer Fächer und Einrichtungen: </b>
          </p>
          <ul>
            <li>
              Für B.Sc. und M.Sc. gelten:
              <ul>
                <li>
                  Module aus Wirtschaftswissenschaften, Technischer Fakultät, Physik, Biologie:
                  Prüfungsanmeldung bzw. Studienleistungsregistrierung über HISinOne &ndash;
                  ggf. nach rechtzeitiger Meldung an die Studiengangkoordination.
                </li>
                <li>
                  Module in Sonder-Anwendungsfächern: Schriftliche Anmeldung im Prüfungsamt des Mathematischen
                  Instituts.
                </li>
                <li>
                  Andere Studienleistungen: In der Regel ist keine separate Registrierung erforderlich.
                  Sie reichen nach absolvierter Leistung eine Bestätigung beim Prüfungsamt ein.
                </li>
              </ul>
              Für das zweite Fach im Zwei-Hauptfächer-Bachelor/M.Ed., für die lehramtsspezifischen
              Studienelemente (Bildungswissenschaft, Schulpraxis) sowie für ZfS-Kurse gelten die Bedingungen und Fristen
              des jeweiligen Fachs bzw. der jeweils zuständigen Einrichtung.
              <li>
              <li>
                Frist: Es gelten die <span style="color: #c1002a">Fristen des anbietenden Fachs</span>! <br />
                Bis <span style="color: #c1002a">Ende November 2024</span>:
                Mitteilung an die Studiengangkoordination, für welche fachfremden Wahlmodulen in HISinOne
                die Möglichkeit der Registrierung der Studienleistung eingerichtet werden muss.
              </li>
              <li>
                Bemerkung: Zuständig für die Anmeldung/Registrierung/Verbuchung von Leistungen in den Anwendungsfächern
                und in fachfremden Wahlmodulen (B.sc./M.Sc.) ist trotzdem das Prüfungsamt des Mathematischen Institut:
                <span style="color: #c1002a">
                  Wenden Sie sich bei Problemen nicht an das Prüfungsamt des anderen Faches!
                </span>
              </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item" id="abmeldung">
      <h4 class="accordion-header" id="headerabmeldung">
        <button aria-controls="abmeldungContent" aria-expanded="false" class="accordion-button collapsed"
          data-bs-target="#abmeldungContent" data-bs-toggle="collapse" type="button">
          <h3 class="h5">Abmeldefristen</h3>
        </button>
      </h4>
      <div aria-labelledby="abmeldungContent" class="accordion-collapse collapse" data-bs-parent="#accordionExample"
        id="abmeldungContent">
        <div class="accordion-body" id="abmeldungContent">
          <p>
            <b> 1) Fristen für einen Rücktritt von einer Prüfung </b>
          </p>
          <ul>
            <li>
              Ein Antrag auf Rücktritt von der Prüfung sollte unmittelbar nach
              Bekanntwerden des Rücktrittsgrundes gestellt werden. Im
              Krankheitsfall muss der Antrag samt Attest spätestens am dritten
              Tag nach der Prüfung im Prüfungsamt eingehen; der Arztbesuch muss
              spätestens am Tag der Prüfung erfolgen.
            </li>
            <li>
              Ein Rücktritt nach absolvierter Prüfung ist nur in ganz seltenen
              Ausnahmefällen genehmigungsfähig.
            </li>
            <li>
              Bei einem genehmigten Rücktritt meldet das Prüfungsamt automatisch
              zum nächstmöglichen Prüfungsversuch an.
            </li>
          </ul>
          Hinweise zu akzeptierten und nicht akzeptierten Rücktrittsgründen
          finden Sie unter den
          <a href="{{ url_for('showstudiendekanat', unterseite = 'anmeldung', lang=lang)}}">
            Allgemeinen Informationen zur Prüfungsanmeldung
          </a>
          , Formulare zum Antrag auf Rücktritt wegen Krankheit auf der
          <a href="{{ url_for('showdownloads', anchor = pruefungsamt, lang=lang)}}"> Download-Seite</a>
          .
          <p>
            <b> 2a) Fristen für die Abmeldung von einer Prüfung </b>
          </p>
          <ul>
            <li>
              Bei Online-Anmeldungen gilt, dass man sich während des
              Anmeldezeitraums auch wieder abmelden kann.
            </li>
            <li>
              Die Anmeldungen zu den mündlichen Modulprüfungen in den
              Master-Studiengängen (
              <i>
                im M.Ed. als Erweiterungsfach nur im Modul "Mathematische
                Vertiefung" bzw. "Wissenschaftliches Arbeiten"
              </i>
              ) sowie die Anmeldungen zu einer Abschlussarbeit sind definitiv:
              Eine Abmeldung ist nicht möglich.
            </li>
            <li>
              In Seminaren und Proseminaren ist eine Abmeldung von
              Prüfungsleistungen nach Ende des Anmeldezeitraums nicht mehr
              möglich.
            </li>
            <li>
              Zu allen anderen studienbegleitende Prüfungen in den
              Mathematik-Studiengängen kann man sich vom Erstversuch nach den
              unter 2b) beschriebenen Regeln bis eine Woche vor der Prüfung
              schriftlich im Prüfungsamt des Mathematischen Instituts abmelden.
            </li>
            <li>
              Eine Abmeldung setzt in den Stand zurück, als wäre man nie
              angemeldet gewesen. Möchte man die Prüfung zu einem späteren
              Zeitpunkt ablegen, muss man sich erneut und zu den vorgesehenen
              Fristen anmelden. Eine Teilnahme an einer Wiederholungsprüfung ist
              typischerweise nicht möglich.
            </li>
          </ul>
          <p>
            <b>
              2b) Regeln für die nachträgliche Abmeldung von einer Prüfung
            </b>
          </p>
          <ul>
            <li>
              Die Abmeldemöglichkeit besteht nur für den Erstversuch, nicht für
              Wiederholungsversuche. (Ein genehmigter Rücktritt zählt nicht als
              Erstversuch.)
            </li>
            <li>
              Die Abmeldung muss schriftlich erfolgen: per E-Mail, Post oder
              durch persönliche Abgabe im Prüfungsamt. Es reicht nicht aus, nur
              den Prüfer zu informieren!
            </li>
            <li>
              Die schriftliche Abmeldung muss spätestens am letzten Arbeitstag,
              der sieben Tage vor der Prüfung liegt, im
              <a href="{{ url_for('showstudiendekanat', unterseite = 'pruefungsamt', lang=lang)}}">
                Prüfungsamt des Mathematischen Instituts
              </a>
              eingegangen sein. Als Arbeitstage zählen Montag bis Freitag (ohne
              Feiertage). Bitte beachten Sie die Öffnungszeiten des
              Prüfungsamts.
            </li>
            <li>
              Falls das Prüfungsamt wegen Urlaub oder Krankheit nicht besetzt
              ist, kann die Abmeldung ersatzweise im Dekanat oder beim
              Studiengangkoordinator oder in einem Sekretariat abgegeben werden.
              <br />
              In Ausnahmefällen, bei denen niemand das Schreiben entgegennehmen
              kann (zum Beispiel bei Prüfungen kurz nach der Weihnachtspause),
              sollte sicherheitshalber zusätzlich eine e-Mail mit der
              Ankündigung der Abmeldung an das Prüfungsamt und an den Prüfer
              geschickt werden.
            </li>
            <li>
              Die Abmeldung ist definitiv. Eine nachträgliche Umentscheidung und
              Teilnahme an der Prüfung ist ausgeschlossen.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item" id="termine">
      <h4 class="accordion-header" id="headertermine">
        <button aria-controls="termineContent" aria-expanded="false" class="accordion-button collapsed"
          data-bs-target="#termineContent" data-bs-toggle="collapse" type="button">
          <h3 class="h5">Prüfungstermine</h3>
        </button>
      </h4>
      <div aria-labelledby="termineContent" class="accordion-collapse collapse" data-bs-parent="#accordionExample"
        id="termineContent">
        <div class="accordion-body" id="termineContent">
          <p>
            <b> Klausurtermine: </b>
          </p>
          <ul>
            <li>
              Die Klausurtermine werden in der Regel in den ersten
              Veranstaltungswochen bekanntgegeben. Die Klausuren finden meistens
              in der vorlesungsfreien Zeit bis Semesterende statt, in
              Einzelfällen auch in der letzten Vorlesungswoche.
            </li>
            <li>
              Im August gibt es eine dreiwöchige prüfungsfreie Phase (in etwa
              die letzten drei Augustwochen).
            </li>
            <li>
              <a href="{{ url_for('showstudiendekanat', unterseite = 'calendar', lang=lang)}}">
                Prüfungsplan des laufenden Semesters
              </a>
            </li>
          </ul>
          <p>
            <a name="mPAnaLa"> </a>
            <b> Mündliche Prüfungen in Analysis und Linearer Algebra: </b>
          </p>
          <ul>
            <li>
              Die mündlichen Prüfungen in Analysis und in Linearer Algebra
              (Bachelor-Studiengänge und M.Ed. als Erweiterungsfach) werden in
              der Regel Anfang April und Anfang Oktober abgenommen – etwa drei
              Wochen vor bis eine Woche nach Vorlesungsbeginn. Jede:r Prüfer:in
              hat einen eigenen Prüfungszeitraum von etwa einer Woche, der auf
              der
              <a href="#">
                Seite der Prüfer:innen:wünsche
              </a>
              angegeben wird.
            </li>
            <li>
              Der Prüfungsplan wird etwa einen Monat vor den ersten Prüfungen
              veröffentlicht (Eintrag in HISinOne). Die Prüfungen finden
              üblicherweise im Büro des Prüfers/der Prüferin statt.
            </li>
          </ul>
          <p>
            <b> Mündliche Prüfungen im M.Sc.- und M.Ed.-Studiengang: </b>
          </p>
          <ul>
            <li>
              Bitte vereinbaren Sie die Prüfungstermine individuell mit den
              Prüfer:inne:n. Die schriftliche Anmeldung der Prüfung muss
              spätestens drei Wochen vor der Prüfung im Prüfungsamt abgegeben
              werden.
            </li>
          </ul>
          <p>
            <b> Andere mündliche Prüfungen: </b>
          </p>
          <ul>
            <li>Hierfür gelten die Regeln für Klausuren.</li>
          </ul>
          <p>
            <b> Seminare und Proseminare: </b>
          </p>
          <ul>
            <li>
              Der Prüfungstermin in Seminaren und Proseminaren ist der Tag des
              Prüfungsvortrags und wird in der Regel bei der Vorbesprechung
              festgelegt.
            </li>
          </ul>
          <p>
            <b>
              Termine für die Wissenschaftliche Staatsprüfung für das Lehramt an
              Gymnasien
            </b>
          </p>
          <ul>
            <li>
              Die Termine der wenigen verbliebenen Prüfungen werden im Rahmen
              der Vorgaben des
              <a href="https://llpa.kultus-bw.de/,Lde/Startseite/Aussenstellen/beim+Regierungspraesidium+Freiburg">
                Landeslehrerprüfungsamts
              </a>
              festgelegt.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>