<div class="container" id="inhalt">
 <h1>
  Polyvalenter Zwei-Hauptfächer-Bachelor, Mathematik (PO 2021)
 </h1>
 <p>
  Hier finden Sie Informationen zum Fach Mathematik im
  <i>
   Polyvalenten Zwei-Hauptfächer-Bachelor-Studiengang
  </i>
  .
  <br/>
  Falls Fragen offen bleiben, können Sie sich gerne an die
  <a href="https://www.math.uni-freiburg.de/lehre/studienberatung.html">
   Studienberatung des Mathematischen Instituts
  </a>
  (
  <a href="mailto:studienberatung@math.uni-freiburg.de">
   ✉
   <!--studienberatung&#x40;&#x6d;&#x61;&#x74;&#x68;&#x2e;&#x75;&#x6e;&#x69;&#x2d;&#x66;&#x72;&#x65;&#x69;&#x62;&#x75;&#x72;&#x67;&#x2e;&#x64;&#x65;-->
  </a>
  ) wenden.
  <br style="margin-bottom:5px;"/>
  Möglicherweise suchen Sie auch:
 </p>
 <ul>
  <li style="margin-top:-5px;">
   <a href="https://www.math.uni-freiburg.de/lehre/studieninteresse.html">
    Informationen für Studieninteressierte
   </a>
  </li>
  <li>
   den Studiengang
   <a href="https://www.math.uni-freiburg.de/lehre/studiengaenge/bsc-2021.html">
    Bachelor of Science in Mathematik
   </a>
  </li>
  <li>
   den Lehramts-Studiengang
   <a href="https://www.math.uni-freiburg.de/lehre/studiengaenge/med-erweiterung-2021.html">
    Mathematik als Erweiterungsfach
   </a>
   (Mathematik als Drittfach)
  </li>
 </ul>
 <div class="accordion accordion-flush" id="accordionExample">
  <div class="accordion-item" id="kurz">
   <h3 class="accordion-header" id="headerkurz">
    <button aria-controls="kurzContent" aria-expanded="false" class="accordion-button collapsed" data-bs-target="#kurzContent" data-bs-toggle="collapse" type="button">
     Kurzbeschreibung des Studiengangs
    </button>
   </h3>
   <div aria-labelledby="kurzContent" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="kurzContent">
    <div class="accordion-body" id="kurzContent">
     <p>
      Der Studiengang ist dreijährig und in Mathematik deutschsprachig.
    Er besteht aus zwei gleichberechtigten Fächern und einem "Optionsbereich" genannten Wahlbereich.
     </p>
     <p>
      <a href="studienverlauf-2hfb-2021.html" rel="noopener" target="_blank">
       <img alt="Beispielhafter Studienverlauf im Zwei-Hauptfächer-Bachelor-Studiengang Mathematik" src="https://www.math.uni-freiburg.de/lehre/bilder/2HfB21.png" style="width:35%; float:right;" title="Beispielhafter Studienverlauf im Zwei-Hauptfächer-Bachelor-Studiengang Mathematik"/>
      </a>
     </p>
     <p>
     </p>
     <ul>
      <li>
       In
       <b>
        Mathematik
       </b>
       beginnt der Studiengang mit grundlegenden Vorlesungen in Analysis und Linearer Algebra und führt dann 
	in einige wichtige Teilgebiete der Mathematik ein:
	Algebra, Geometrie, Numerik und Stochastik. Ergänzend kommen ein Proseminar und eine Praktische Übung (Computerübung) hinzu.
	Die Bachelor-Arbeit kann in Mathematik oder dem anderen Fach geschrieben werden.
      </li>
      <li>
       Bei Wahl der
       <b>
        Lehramtsoption
       </b>
       besteht der Optionsbereich aus Fachdidaktik und Bildungswissenschaft. 
	Zusammen mit anschließendem
       <a href="med-2018.html">
        Master of Education
       </a>
       und Referendariat ermöglicht der Studiengang dann den 
	Zugang zum Lehramt an Gymnasien.
      </li>
      <li>
       <b>
        Alternativ
       </b>
       kann der Optionsbereich für fachwissenschaftliche Wahlveranstaltungen und Schlüsselqualifikationen genutzt werden.
	Mit einigen Zusatzleistungen kann der
       <a href="msc-2014.html">
        Master of Science in Mathematik
       </a>
       angeschlossen werden.
      </li>
      <li>
       Mathematik kann mit allen an der Universität Freiburg angebotenen
       <a href="https://www.studium.uni-freiburg.de/de/studienangebot/studienfaecher?degree=19&amp;show=s&amp;senden=Auswahl+anzeigen/">
        Schulfächern
       </a>
       kombiniert werden.
       <br/>
       Als zweites Hauptfach kann auch Musik an einer Musikhochschule oder Bildende Kunst an einer Kunsthochschule studiert werden.
	 Der Studiengang ist dann vierjährig.
      </li>
      <li>
       Mathematik kann auch als
       <a href="https://www.math.uni-freiburg.de/lehre/studiengaenge/med-erweiterung-2021.html">
        Erweiterungsfach
       </a>
       (Lehramts-Drittfach) studiert werden.
      </li>
     </ul>
    </div>
   </div>
  </div>
  <div class="accordion-item" id="vor">
   <h3 class="accordion-header" id="headervor">
    <button aria-controls="vorContent" aria-expanded="false" class="accordion-button collapsed" data-bs-target="#vorContent" data-bs-toggle="collapse" type="button">
     Studienbeginn, Bewerbung und Zulassung
    </button>
   </h3>
   <div aria-labelledby="vorContent" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="vorContent">
    <div class="accordion-body" id="vorContent">
     <p>
      Studienbeginn ist nur zum Wintersemester möglich. Das Fach Mathematik ist nicht zulassungsbeschränkt.
      <br style="margin-bottom:3px;"/>
      Bei Kombination mit einem weiteren nicht-zulassungsbeschränkten Fach ist die Einschreibung bis etwa zehn Tage vor Vorlesungsbeginn im Oktober möglich.
    Eine vorherige Bewerbung ist dann nicht nötig.
      <br/>
      Bei Kombination mit einem zulassungs­beschränkten Fach müssen Sie sich bewerben und die Fristen beachten (Bewerbungsfrist, ggf. Frist für eine Aufnahmeprüfung im Zweitfach).
     </p>
     <ul>
      <li>
       <a href="https://www.studium.uni-freiburg.de/de/fristen-und-veranstaltungen/fristen">
        Fristen für Bewerbungen und Einschreibungen
       </a>
      </li>
      <li>
       <a href="https://www.studium.uni-freiburg.de/de/bewerbung">
        Informationsseite der Universität zur Bewerbung
       </a>
      </li>
      <li>
       <a href="https://www.studium.uni-freiburg.de/de/studierendenservices/immatrikulation">
        Informationsseite der Universität zur Einschreibung / Immatrikulation
       </a>
      </li>
      <li>
       <a href="https://www.studium.uni-freiburg.de/de/studierendenservices/studierendensekretariat">
        Studierendensekretariat
       </a>
       – technische Abwicklung von Bewerbung und Einschreibung
      </li>
      <li>
       <a href="https://www.studium.uni-freiburg.de/de/beratung/ias">
        International Admissions and Services
       </a>
       – Bewerbung für ausländische Studienbewerber:innen
      </li>
     </ul>
    </div>
   </div>
  </div>
  <div class="accordion-item" id="links">
   <h3 class="accordion-header" id="headerlinks">
    <button aria-controls="linksContent" aria-expanded="false" class="accordion-button collapsed" data-bs-target="#linksContent" data-bs-toggle="collapse" type="button">
     Dokumente und nützliche Links
    </button>
   </h3>
   <div aria-labelledby="linksContent" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="linksContent">
    <div class="accordion-body" id="linksContent">
     <p>
      <b>
       Beratung:
      </b>
     </p>
     <ul>
      <li>
       <a href="https://www.math.uni-freiburg.de/lehre/studienberatung.html">
        Studienberatung Mathematik
       </a>
      </li>
      <li>
       <a href="https://www.face-freiburg.de/studium-lehre/beratung/">
        Beratungsstelle der Universität für das Lehramtsstudium
       </a>
       beim
       <a href="https://www.face-freiburg.de">
        „Freiburg Advanced Center of Education“ (FACE)
       </a>
      </li>
      <li>
       <a href="https://www.studium.uni-freiburg.de/de/beratung">
        Zentrale Studienberatung der Uni
       </a>
      </li>
     </ul>
     <p>
     </p>
     <p>
      <b>
       Computersysteme:
      </b>
     </p>
     <ul>
      <li>
       Campus-Management-System
       <a href="https://campus.uni-freiburg.de">
        HISinOne
       </a>
       mit Anleitungen im
       <a href="https://wiki.uni-freiburg.de/campusmanagement/doku.php?id=hisinone:studieren:start">
        Campus Management Wiki
       </a>
      </li>
      <li>
       Lernplattform
       <a href="https://ilias.uni-freiburg.de">
        ILIAS
       </a>
      </li>
      <li>
       <a href="https://myaccount.uni-freiburg.de">
        myAccount
       </a>
       : Verwaltung des eigenen Uni-Accounts
      </li>
     </ul>
     <p>
      <b>
       Lehrveranstaltungen
      </b>
      :
     </p>
     <ul style="margin-top:-7px;">
      <li>
       <a href="https://www.studium.uni-freiburg.de/de/fristen-und-veranstaltungen/semester-und-vorlesungszeiten/">
        Semester- und Vorlesungszeiten
       </a>
      </li>
      <li>
       <a href="https://www.math.uni-freiburg.de/lehre/v/index.html">
        Vorlesungsverzeichnis Mathematik
       </a>
       mit Kommentaren
      </li>
      <li>
       <a href="https://campus.uni-freiburg.de/qisserver/pages/cm/exa/coursecatalog/showCourseCatalog.xhtml?_flowId=showCourseCatalog-flow">
        Vorlesungsverzeichnis Universität
       </a>
       in HISinOne
      </li>
      in HISinOne
      <li style="margin-top:10px;">
       <a href="https://www.international.uni-freiburg.de/de/european-campus">
        Eucor – The European Campus / Le Campus Européen
       </a>
      </li>
      <li>
       <a href="https://www.sli.uni-freiburg.de/">
        Sprachlehrinstitut (SLI)
       </a>
      </li>
      <li>
       <a href="https://www.studiumgenerale.uni-freiburg.de/">
        Studium generale
       </a>
      </li>
      <li>
       <a href="https://www.zfs.uni-freiburg.de/">
        Zentrum für Schlüsselqualifikationen (ZfS)
       </a>
      </li>
     </ul>
     <p>
      <b>
       Modulhandbuch und Studienplanung
      </b>
      :
     </p>
     <ul style="margin-top:-7px;">
      <li>
       <a href="https://www.math.uni-freiburg.de/lehre/dokumente/studienplan-2hfb-2021.pdf">
        Studienplan
       </a>
       : diese Seite als pdf-Datei
      </li>
      <li>
       <a href="https://www.math.uni-freiburg.de/lehre/studiengaenge/modulhandbuecher.html">
        Modulhandbücher
       </a>
       mit den Anforderungen an Studien- und Prüfungsleistungen in den Lehrveranstaltungen
      </li>
      <li>
       <a href="https://www.zfs.uni-freiburg.de/de/osp">
        Informationen zum Orientierungspraktikum
       </a>
      </li>
     </ul>
     <p>
      <b>
       Prüfungen / Prüfungsordnung:
      </b>
     </p>
     <ul style="margin-top:-7px;">
      <li>
       <a href="../pruefungsamt/termine.html">
        Anmeldefristen
       </a>
      </li>
      <li>
       <a href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/abschlussarbeiten.html">
        Bachelor-Arbeit
       </a>
      </li>
      <li>
       <a href="../pruefungsamt/">
        Prüfungsamt Mathematik
       </a>
      </li>
      <li>
       <a href="https://www.studium.uni-freiburg.de/de/studienangebot/studienfaecher/info/671#collapse-Satzungen">
        Prüfungsordnung
       </a>
      </li>
     </ul>
    </div>
   </div>
  </div>
  <div class="accordion-item" id="verlauf">
   <h3 class="accordion-header" id="headerverlauf">
    <button aria-controls="verlaufContent" aria-expanded="false" class="accordion-button collapsed" data-bs-target="#verlaufContent" data-bs-toggle="collapse" type="button">
     Aufbau des Studiengangs und Studienverlauf
    </button>
   </h3>
   <div aria-labelledby="verlaufContent" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="verlaufContent">
    <div class="accordion-body" id="verlaufContent">
     <p>
      Das Studium umfasst 180 ECTS-Punkte (Regelstudienzeit 6 Semester) und gliedert sich in die Bereiche:
     </p>
     <ol>
      <li>
       <b>
        Mathematik
       </b>
       (75 Punkte)
       <br style="margin-bottom:3px;"/>
       bestehend aus den Modulen: "Analysis", "Lineare Algebra", "Algebra und Zahlentheorie", "Elementargeometrie", "Numerik", "Stochastik", "Praktische Übung", "Proseminar"
      </li>
      <li>
       <b>
        Zweites Hauptfach
       </b>
       (75 Punkte)
      </li>
      <li>
       <b>
        Bachelor-Arbeit
       </b>
       in einem der beiden Hauptfächer (10 Punkte)
      </li>
      <li>
       <b>
        Optionsbereich
       </b>
       (20 Punkte)
      </li>
     </ol>
     <p>
      Im Optionsbereich wählt man im Laufe des Studiums entweder die
      <b>
       Lehramtsoption
      </b>
      mit festem Studienplan und dem
      <a href="med-2018.html">
       Master of Education
      </a>
      als Anschlussmöglichkeit oder
    die
      <b>
       Option Individuelle Studiengestaltung
      </b>
      . 
    Für letztere ist die Kombinationen von Mathematik mit Physik, Informatik
    oder Wirtschaftwissenschaft naheliegend, aber z.B. auch mit einem Fach wie Philosophie reizvoll.
      <br style="margin-bottom:5px;"/>
      Man kann den
      <a href="msc-2014.html">
       Master of Science in Mathematik
      </a>
      in Freiburg anzuschließen,
    wenn man die Bachelor-Arbeit in Mathematik schreibt und im Optionsbereich weitere 18 ECTS-Punkte an Mathematik-Veranstaltungen
    absolviert (darunter
      <i>
       Analysis III
      </i>
      ).
    Alternativ ist ein Wechsel in den B.Sc.-Studiengang oder ein Doppelstudium möglich.
     </p>
     <p>
      <b>
       Studienverlaufspläne:
      </b>
     </p>
     <p>
      Abhängig davon, wann Ihre Veranstaltungen im zweiten Fach liegen und ob Sie am Anfang eher etwas mehr Mathematik
    machen möchten oder eher etwas mehr im Ihrem anderen Fach,
    können Sie entweder mit beiden Grundvorlesungen
      <i>
       Lineare Algebra I
      </i>
      und
      <i>
       Analysis I
      </i>
      anfangen (Studienplanvariante 1)
    oder nur mit einer von beiden (Studienplanvarianten 2 und 3).
      <br style="margin-bottom:5px;"/>
      Die folgenden Pläne sind
      <b>
       Orientierungshilfen
      </b>
      – der tatsächliche Studienverlauf kann flexibler gestaltet werden:
      <br/>
      Die Grundvorlesungen in Analysis und Linearer Algebra sollten möglichst früh gehört werden und die Bachelor-Arbeit steht am Ende.
    Die anderen Veranstaltungen kann man dagegen beliebig auf die Semester, in denen sie angeboten werden, verteilen
    (unter Beachtung der  im
      <a href="https://www.math.uni-freiburg.de/lehre/studiengaenge/modulhandbuecher.html">
       Modulhandbuch
      </a>
      beschriebenen notwendigen Vorkenntnisse).
    Individuelle Verläufe können gerne mit der
      <a href="https://www.math.uni-freiburg.de/lehre/studienberatung.html">
       Studienberatung
      </a>
      besprochen werden.
      <br style="margin-bottom:5px;"/>
      Bitte beachten Sie, dass mindestens eine der beiden Klausuren zu
      <i>
       Analysis I
      </i>
      und zu
      <i>
       Lineare Algebra I
      </i>
      spätestens am Ende des 3. Fach­semesters bestanden sein muss.
    Dies gilt auch für Studierende in der Kombination mit Musik / Bildender Kunst, die den Studienplan ansonsten auf 8 Semester strecken können.
     </p>
     <p>
      <b>
       Variante 1
      </b>
      (
      <i>
       Studienbeginn mit beiden Grundvorlesungen
      </i>
      ) bietet den 
    besten Einstieg in das Studium der Mathematik,
    erfordert in den ersten beiden Semestern allerdings etwa zwei Drittel Ihrer Arbeitszeit.
    Falls Ihre Fächerkombination es erlaubt, können Sie mit beiden Grundvorlesungen beginnen 
    und nach einigen Wochen entscheiden,
    ob Sie dabei bleiben oder in Variante 2 oder 3 wechseln.
     </p>
     <center>
      <a href="studienverlauf-2hfb-2021.html" rel="noopener" target="_blank">
       <img alt="Beispielhafter Studienverlauf im Zwei-Hauptfächer-Bachelor-Studiengang Mathematik, Variante 1" src="https://www.math.uni-freiburg.de/lehre/bilder/2HfB21-v1.png" style="width:80%;" title="Beispielhafter Studienverlauf im Zwei-Hauptfächer-Bachelor-Studiengang Mathematik"/>
      </a>
     </center>
     <p>
      <b>
       Variante 2
      </b>
      (
      <i>
       Studienbeginn nur mit Linearer Algebra
      </i>
      ) bietet eine gleichmäßigere Verteilung
    der Mathematik-Veranstaltungen auf die Studiensemester.
      <i>
       Elementar­geometrie
      </i>
      und das Proseminar können gegenüber dem beispeilhaften Studienverlauf auch vorgezogen werden.
     </p>
     <center>
      <a href="studienverlauf-2hfb-2021.html" rel="noopener" target="_blank">
       <img alt="Beispielhafter Studienverlauf im Zwei-Hauptfächer-Bachelor-Studiengang Mathematik, Variante 2" src="https://www.math.uni-freiburg.de/lehre/bilder/2HfB21-v2.png" style="width:80%;" title="Beispielhafter Studienverlauf im Zwei-Hauptfächer-Bachelor-Studiengang Mathematik"/>
      </a>
     </center>
     <p>
      <b>
       Variante 3
      </b>
      (
      <i>
       Studienbeginn nur mit Analysis
      </i>
      ) bietet ebenfalls eine gleichmäßigere Verteilung
    der Mathematik-Veranstaltungen auf die Studiensemester, hat aber gegenüber Variante 2 den Nachteil,
    dass Teile der Linearen Algebra für das Verständnis von
      <i>
       Analysis II
      </i>
      nötig sind.
    Zu Beginn des Sommersemesters wird bei Bedarf als Unterstützung ein „Brückenkurs Lineare Algebra“
    in Form eines begleiteten Selbststudiums angeboten. Vorteilhaft an Variante 3 ist,
    dass
      <i>
       Analysis I
      </i>
      eine eng mit dem Schulstoff zusammenhängende Vorlesung ist,
    die dadurch vielen den Eintieg in die universitäre Mathematik erleichtert.
     </p>
     <center>
      <a href="studienverlauf-2hfb-2021.html" rel="noopener" target="_blank">
       <img alt="Beispielhafter Studienverlauf im Zwei-Hauptfächer-Bachelor-Studiengang Mathematik, Variante 3" src="https://www.math.uni-freiburg.de/lehre/bilder/2HfB21-v3.png" style="width:80%;" title="Beispielhafter Studienverlauf im Zwei-Hauptfächer-Bachelor-Studiengang Mathematik"/>
      </a>
     </center>
    </div>
   </div>
  </div>
 </div>
</div>
