<div class="container" id="inhalt">
  <h1>Polyvalenter Zwei-Hauptfächer-Bachelor, Mathematik (PO 2021)</h1>
  <p>
    <br />
    Bitte beachten Sie, dass es den Zwei-Hauptfächer-Studiengang in zwei
    Studienvarianten gibt: mit <i>Lehramtsoption</i> (d.h. mit dem Ziel,
    Gymnasiallehrer*in zu werden) und mit
    <i>individueller Studiengestaltung</i> (die man etwa dann wählt, wenn man
    zwar zwei Fächer studieren möchte, aber beide in gleichem Umfang).
    <br />
    Fragen der Studienorganisation (Belegung, Prüfungsanmeldung, etc) finden Sie
    auf den Seiten des
    <a href="{{ url_for('showpruefungsamtbase', lang=lang) }}">Prüfungsamts</a>.

    <br />
    Einige Fragen beantwortet das
    <a href="{{ url_for('showfaq', lang=lang) }}"> FAQ</a>. Falls Fragen offen
    bleiben, wenden Sie sich gerne an die
    <a href="{{ url_for('showstudienberatungbase', lang=lang) }}">
      Studienberatung des Mathematischen Instituts
    </a>
    wenden.
  </p>

  <div class="container text-end">
    <div class="row">
      <div class="col">
        <a
          href="{{ url_for('showfaq', lang=lang) }}"
          class="btn btn-primary"
          role="button"
          aria-disabled="true"
        >
          FAQ
        </a>

        <!--        <a
          href="{{ url_for('showweiterbildung', lang=lang)}}"
          class="btn btn-primary"
          role="button"
          aria-disabled="true"
        >
          Weiterbildung
        </a>
        <a
          href="promotion"
          class="btn btn-primary"
          role="button"
          aria-disabled="true"
        >
          Promotion
        </a>-->
        <a
          href="mailto:studienberatung@math.uni-freiburg.de"
          class="btn btn-primary"
          role="button"
          aria-disabled="true"
        >
          Studienberatung
        </a>
      </div>
    </div>
  </div>

  <div class="accordion accordion-flush" id="accordionExample">
    <div class="accordion-item">
      <h4 class="accordion-header">
        <button
          aria-controls="kurzContent"
          aria-expanded="{% if anchor == 'kurz' %}true{% else %}false{% endif %}"
          class="accordion-button {% if anchor != 'kurz' %}collapsed{% endif %}"
          data-bs-target="#kurzContent"
          data-bs-toggle="collapse"
          type="button"
        >
          <h3 class="h5">Kurzbeschreibung des Studiengangs</h3>
        </button>
      </h4>
      <div
        aria-labelledby="kurzContent"
        class="accordion-collapse collapse {% if anchor == 'kurz' %}show{% endif %}"
        data-bs-parent="#accordionExample"
        id="kurzContent"
      >
        <div class="accordion-body" id="kurz">
          {% include "studiengaenge/2hfb/kurz.html" %}
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h4 class="accordion-header">
        <button
          aria-controls="vorContent"
          aria-expanded="{% if anchor == 'bewerbung' %}true{% else %}false{% endif %}"
          class="accordion-button {% if anchor != 'bewerbung' %}collapsed{% endif %}"
          data-bs-target="#vorContent"
          data-bs-toggle="collapse"
          type="button"
        >
          <h3 class="h5">Studienbeginn, Bewerbung und Zulassung</h3>
        </button>
      </h4>
      <div
        aria-labelledby="vorContent"
        class="accordion-collapse collapse {% if anchor == 'bewerbung' %}show{% endif %}"
        data-bs-parent="#accordionExample"
        id="vorContent"
      >
        <div class="accordion-body" id="bewerbung">
          <p>
            Studienbeginn ist nur zum Wintersemester möglich. Das Fach
            Mathematik ist nicht zulassungsbeschränkt.
            <br style="margin-bottom: 3px" />
            Bei Kombination mit einem weiteren nicht-zulassungsbeschränkten Fach
            ist die Einschreibung bis etwa zehn Tage vor Vorlesungsbeginn im
            Oktober möglich. Eine vorherige Bewerbung ist dann nicht nötig.
            <br />
            Bei Kombination mit einem zulassungs­beschränkten Fach müssen Sie
            sich bewerben und die Fristen beachten (Bewerbungsfrist, ggf. Frist
            für eine Aufnahmeprüfung im Zweitfach).
          </p>
          <ul>
            <li>
              <a
                href="https://www.studium.uni-freiburg.de/de/fristen-und-veranstaltungen/fristen"
              >
                Fristen für Bewerbungen und Einschreibungen
              </a>
            </li>
            <li>
              <a href="https://www.studium.uni-freiburg.de/de/bewerbung">
                Informationsseite der Universität zur Bewerbung
              </a>
            </li>
            <li>
              <a
                href="https://www.studium.uni-freiburg.de/de/studierendenservices/immatrikulation"
              >
                Informationsseite der Universität zur Einschreibung /
                Immatrikulation
              </a>
            </li>
            <li>
              <a
                href="https://www.studium.uni-freiburg.de/de/studierendenservices/studierendensekretariat"
              >
                Studierendensekretariat
              </a>
              – technische Abwicklung von Bewerbung und Einschreibung
            </li>
            <li>
              <a href="https://www.studium.uni-freiburg.de/de/beratung/ias">
                International Admissions and Services
              </a>
              – Bewerbung für ausländische Studienbewerber:innen
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h4 class="accordion-header">
        <button
          aria-controls="dokumenteContent"
          aria-expanded="{% if anchor == 'dokumente' %}true{% else %}false{% endif %}"
          class="accordion-button {% if anchor != 'dokumente' %}collapsed{% endif %}"
          data-bs-target="#dokumenteContent"
          data-bs-toggle="collapse"
          type="button"
        >
          <h3 class="h5">
            {% if lang == "de" %}Dokumente{% else %}Documents {% endif %}
          </h3>
        </button>
      </h4>
      <div
        aria-labelledby="dokumenteContent"
        class="accordion-collapse collapse {% if anchor == 'dokumente' %}show{% endif %}"
        data-bs-parent="#accordionExample"
        id="dokumenteContent"
      >
        <div class="accordion-body" id="dokumente">
          {% include "studiengaenge/2hfb/dokumente.html" %}
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h4 class="accordion-header">
        <button
          aria-controls="verlaufContent"
          aria-expanded="{% if anchor == 'studienverlauf' %}true{% else %}false{% endif %}"
          class="accordion-button {% if anchor != 'studienverlauf' %}collapsed{% endif %}"
          data-bs-target="#verlaufContent"
          data-bs-toggle="collapse"
          type="button"
        >
          <h3 class="h5">Aufbau des Studiengangs und Studienverlauf</h3>
        </button>
      </h4>
      <div
        aria-labelledby="verlaufContent"
        class="accordion-collapse collapse {% if anchor == 'studienverlauf' %}show{% endif %}"
        data-bs-parent="#accordionExample"
        id="verlaufContent"
      >
        <div class="accordion-body" id="studienverlauf">
          <p>
            Das Studium umfasst 180 ECTS-Punkte (Regelstudienzeit 6 Semester)
            und gliedert sich in die Bereiche:
          </p>
          <ol>
            <li>
              <b> Mathematik </b>
              (75 Punkte)
              <br style="margin-bottom: 3px" />
              bestehend aus den Modulen: "Analysis", "Lineare Algebra", "Algebra
              und Zahlentheorie", "Elementargeometrie", "Numerik", "Stochastik",
              "Praktische Übung", "Proseminar"
            </li>
            <li>
              <b> Zweites Hauptfach </b>
              (75 Punkte)
            </li>
            <li>
              <b> Bachelor-Arbeit </b>
              in einem der beiden Hauptfächer (10 Punkte)
            </li>
            <li>
              <b> Optionsbereich </b>
              (20 Punkte)
            </li>
          </ol>
          <p>
            Im Optionsbereich wählt man im Laufe des Studiums entweder die
            <b> Lehramtsoption </b>
            mit festem Studienplan und dem
            <a href="med-2018.html"> Master of Education </a>
            als Anschlussmöglichkeit oder die
            <b> Option Individuelle Studiengestaltung </b>
            . Für letztere ist die Kombinationen von Mathematik mit Physik,
            Informatik oder Wirtschaftwissenschaft naheliegend, aber z.B. auch
            mit einem Fach wie Philosophie reizvoll.
            <br style="margin-bottom: 5px" />
            Man kann den
            <a href="msc-2014.html"> Master of Science in Mathematik </a>
            in Freiburg anzuschließen, wenn man die Bachelor-Arbeit in
            Mathematik schreibt und im Optionsbereich weitere 18 ECTS-Punkte an
            Mathematik-Veranstaltungen absolviert (darunter
            <i> Analysis III </i>
            ). Alternativ ist ein Wechsel in den B.Sc.-Studiengang oder ein
            Doppelstudium möglich.
          </p>
          <p>
            <b> Studienverlaufspläne: </b>
          </p>
          <p>
            Abhängig davon, wann Ihre Veranstaltungen im zweiten Fach liegen und
            ob Sie am Anfang eher etwas mehr Mathematik machen möchten oder eher
            etwas mehr im Ihrem anderen Fach, können Sie entweder mit beiden
            Grundvorlesungen
            <i> Lineare Algebra I </i>
            und
            <i> Analysis I </i>
            anfangen (Studienplanvariante 1) oder nur mit einer von beiden
            (Studienplanvarianten 2 und 3).
            <br style="margin-bottom: 5px" />
            Die folgenden Pläne sind
            <b> Orientierungshilfen </b>
            – der tatsächliche Studienverlauf kann flexibler gestaltet werden:
            <br />
            Die Grundvorlesungen in Analysis und Linearer Algebra sollten
            möglichst früh gehört werden und die Bachelor-Arbeit steht am Ende.
            Die anderen Veranstaltungen kann man dagegen beliebig auf die
            Semester, in denen sie angeboten werden, verteilen (unter Beachtung
            der im
            <a
              href="https://www.math.uni-freiburg.de/lehre/studiengaenge/modulhandbuecher.html"
            >
              Modulhandbuch
            </a>
            beschriebenen notwendigen Vorkenntnisse). Individuelle Verläufe
            können gerne mit der
            <a
              href="https://www.math.uni-freiburg.de/lehre/studienberatung.html"
            >
              Studienberatung
            </a>
            besprochen werden.
            <br style="margin-bottom: 5px" />
            Bitte beachten Sie, dass mindestens eine der beiden Klausuren zu
            <i> Analysis I </i>
            und zu
            <i> Lineare Algebra I </i>
            spätestens am Ende des 3. Fach­semesters bestanden sein muss. Dies
            gilt auch für Studierende in der Kombination mit Musik / Bildender
            Kunst, die den Studienplan ansonsten auf 8 Semester strecken können.
          </p>
          {% include "studiengaenge/2hfb/studienverlauf-2hfb-2021.html" %}
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h4 class="accordion-header">
        <button
          aria-controls="modulplanContent"
          aria-expanded="{% if anchor == 'modulplan' %}true{% else %}false{% endif %}"
          class="accordion-button {% if anchor != 'modulplan' %}collapsed{% endif %}"
          data-bs-target="#modulplanContent"
          data-bs-toggle="collapse"
          type="button"
        >
          <h3 class="h5">
            {% if lang == 'de' %}Modulplan{% else %}Plan of modules{% endif %}
          </h3>
        </button>
      </h4>
      <div
        aria-labelledby="modulplanContent"
        class="accordion-collapse collapse {% if anchor == 'modulplan' %}show{% endif %}"
        data-bs-parent="#accordionExample"
        id="modulplanContent"
      >
        <div class="accordion-body" id="modulplan">
          {% include "/studiendekanat/belegung_2hfb.html" %}
        </div>
      </div>
    </div>
  </div>
</div>
