<html>
  <body>
    <div class="container" id="inhalt">
      <h1>
        Beispielhafte Studienverläufe im Fach Mathematik
        <br />
        im Polyvalenten Zwei-Hauptfächer-Bachelor-Studiengang (PO 2021)
      </h1>
      <p style="margin-top: 30px"></p>
      <h3>Variante 1: Studienbeginn mit beiden Grundvorlesungen</h3>
      <p>
        Diese Variante bietet den besten Einstieg in das Studium der Mathematik,
        erfordert in den ersten beiden Semestern allerdings etwa zwei Drittel
        Ihrer Arbeitszeit. Falls Ihre Fächerkombination es erlaubt, können Sie
        mit beiden Grundvorlesungen beginnen und nach einigen Wochen
        entscheiden, ob Sie dabei bleiben oder in Variante 2 oder 3 wechseln.
      </p>
      <table border="1" class="bg-white">
        <tr class="bg-ufr-blue-20">
          <td align="center" style="width: 5%; height: 50px" valign="bottom">
            Sem
          </td>
          <td align="center" colspan="4" style="width: 48%">
            <b> Mathematik </b>
            <br />
            (75 Punkte + 10 Punkte Bachelor-Arbeit)
          </td>
          <td align="center" colspan="2" style="width: 32%">
            <b> Optionsbereich </b>
            <br />
            (20 Punkte)
          </td>
          <td align="center" style="width: 15%">
            <b> Zweites Fach </b>
            <br />
            (75 Punkte)
          </td>
        </tr>
        <tr>
          <td colspan="8"></td>
        </tr>
        <tr>
          <td align="center" class="bg-ufr-blue-20">
            <br />
            6
            <br />
          </td>
          <td rowspan="2" style="width: 12%"></td>
          <td align="center" class="mathematik" style="width: 12%">
            <b> Elementar- geometrie </b>
          </td>
          <td
            align="center"
            class="abschlussarbeit"
            colspan="2"
            style="width: 24%"
          >
            <b> Bachelor-Arbeit </b>
            <br style="margin-bottom: 3px" />
            <i> oder im 2. Fach </i>
          </td>
          <td align="center" rowspan="2" style="width: 16%" valign="bottom">
            <i>
              mit Lehramtsoption:
              <br style="margin-bottom: 25px" />
              Fachdidaktik
              <br />
              ab 2. Sem.
            </i>
          </td>
          <td align="center" style="width: 16%" valign="bottom">
            <i> ohne Lehramtsoption: </i>
          </td>
          <td align="center" class="anwendungsfach" rowspan="8">
            <b>
              Fachwissen- schaft
              <br />
              im 2. Fach
            </b>
          </td>
        </tr>
        <tr>
          <td align="center" class="bg-ufr-blue-20">
            <br />
            5
            <br />
          </td>
          <td align="center" class="mathematik" colspan="2" style="width: 24%">
            <b>
              Algebra und
              <br />
              Zahlentheorie
            </b>
          </td>
          <td rowspan="2" style="width: 12%"></td>
          <td align="center" class="wahlmodul" rowspan="3">
            <b> Wahlmodule </b>
            <br style="margin-bottom: 3px" />
            <i> beliebige Sem. </i>
          </td>
        </tr>
        <tr>
          <td align="center" class="bg-ufr-blue-20">
            <br />
            4
            <br />
          </td>
          <td align="center" class="mathematik" rowspan="2" style="width: 12%">
            Numerik II
            <br />
            <br />
            –
            <b> Numerik </b>
            –
            <br />
            <br />
            Numerik I
          </td>
          <td
            align="center"
            class="mathematik-weitere"
            rowspan="2"
            style="width: 12%"
          >
            <b> Praktische Übung </b>
            <br style="margin-bottom: 3px" />
            <i> 3. / 4. Sem. </i>
          </td>
          <td align="center" class="mathematik" rowspan="2" style="width: 12%">
            Stochastik II
            <br />
            <br />
            -
            <b> Stochastik </b>
            -
            <br />
            <br />
            Stochastik I
          </td>
          <td align="center" class="fachdidaktik" rowspan="1">
            <b> Einführung in Fachdidaktik der Mathematik </b>
          </td>
        </tr>
        <tr>
          <td align="center" class="bg-ufr-blue-20">
            <br />
            3
            <br />
          </td>
          <td align="center" class="mathematik-weitere" style="width: 12%">
            <b> Proseminar </b>
            <br style="margin-bottom: 3px" />
            <i> 3.–5. Sem. </i>
          </td>
          <td align="center" class="fachdidaktik">
            <b>
              Fachdidaktik
              <br />
              im 2. Fach
            </b>
          </td>
        </tr>
        <tr>
          <td align="center" class="bg-ufr-blue-20" rowspan="2" valign="top">
            <br />
            2
          </td>
          <td align="center" class="mathematik" colspan="2" rowspan="4">
            Lineare Algebra II
            <br />
            <br />
            —–
            <b> Lineare Algebra </b>
            —–
            <br />
            <br />
            Lineare Algebra I
          </td>
          <td align="center" class="mathematik" colspan="2" rowspan="4">
            Analysis II
            <br />
            <br />
            ———
            <b> Analysis </b>
            ———
            <br />
            <br />
            Analysis I
          </td>
          <td></td>
          <td align="center" class="bok" rowspan="4">
            <b> Berufsfeld- orientierte Kompetenzen </b>
            <br style="margin-bottom: 3px" />
            <i> beliebige Sem. </i>
          </td>
        </tr>
        <tr>
          <td align="center" class="bok" rowspan="2">
            <b> Orientierungs- praktikum </b>
          </td>
        </tr>
        <tr>
          <td align="center" class="bg-ufr-blue-20" rowspan="2">
            <br />
            1
            <br />
          </td>
        </tr>
        <tr>
          <td align="center" class="bildungswissenschaft">
            <b> Einführung in Bildungswiss. </b>
          </td>
        </tr>
      </table>
      <p style="margin-top: 30px"></p>
      <h3>Variante 2: Studienbeginn nur mit Linearer Algebra</h3>
      <p>
        Diese Variante bietet eine gleichmäßigere Verteilung der
        Mathematik-Veranstaltungen auf die Studiensemester. Elementar­geometrie
        und das Proseminar können gegenüber dem beispeilhaften Studienverlauf
        auch vorgezogen werden.
      </p>
      <table border="1" class="bg-white">
        <tr class="bg-ufr-blue-20">
          <td align="center" style="width: 5%; height: 50px" valign="bottom">
            Sem
          </td>
          <td align="center" colspan="4" style="width: 48%">
            <b> Mathematik </b>
            <br />
            (75 Punkte + 10 Punkte Bachelor-Arbeit)
          </td>
          <td align="center" colspan="2" style="width: 32%">
            <b> Optionsbereich </b>
            <br />
            (20 Punkte)
          </td>
          <td align="center" style="width: 15%">
            <b> Zweites Fach </b>
            <br />
            (75 Punkte)
          </td>
        </tr>
        <tr>
          <td colspan="8"></td>
        </tr>
        <tr>
          <td align="center" class="bg-ufr-blue-20">
            <br />
            6
            <br />
          </td>
          <td align="center" class="mathematik" rowspan="2" style="width: 12%">
            Stochastik II
            <br />
            <br />
            -
            <b> Stochastik </b>
            -
            <br />
            <br />
            Stochastik I
          </td>
          <td align="center" class="mathematik" style="width: 12%">
            <b> Elementar- geometrie </b>
          </td>
          <td
            align="center"
            class="abschlussarbeit"
            colspan="2"
            style="width: 24%"
          >
            <b> Bachelor-Arbeit </b>
            <br style="margin-bottom: 3px" />
            <i> oder im 2. Fach </i>
          </td>
          <td align="center" rowspan="2" style="width: 16%" valign="bottom">
            <i>
              mit Lehramtsoption:
              <br style="margin-bottom: 25px" />
              Fachdidaktik
              <br />
              ab 2. Sem.
            </i>
          </td>
          <td align="center" style="width: 16%" valign="bottom">
            <i> ohne Lehramtsoption: </i>
          </td>
          <td align="center" class="anwendungsfach" rowspan="8">
            <b>
              Fachwissen- schaft
              <br />
              im 2. Fach
            </b>
          </td>
        </tr>
        <tr>
          <td align="center" class="bg-ufr-blue-20">
            <br />
            5
            <br />
          </td>
          <td align="center" class="mathematik" colspan="2" style="width: 24%">
            <b>
              Algebra und
              <br />
              Zahlentheorie
            </b>
          </td>
          <td align="center" class="mathematik-weitere" style="width: 12%">
            <b> Proseminar </b>
          </td>
          <td align="center" class="wahlmodul" rowspan="3">
            <b> Wahlmodule </b>
            <br style="margin-bottom: 3px" />
            <i> beliebige Sem. </i>
          </td>
        </tr>
        <tr>
          <td align="center" class="bg-ufr-blue-20">
            <br />
            4
            <br />
          </td>
          <td align="center" class="mathematik" rowspan="2" style="width: 12%">
            Numerik II
            <br />
            <br />
            –
            <b> Numerik </b>
            –
            <br />
            <br />
            Numerik I
          </td>
          <td
            align="center"
            class="mathematik-weitere"
            rowspan="2"
            style="width: 12%"
          >
            <b> Praktische Übung </b>
            <br style="margin-bottom: 3px" />
            <i> 3. / 4. Sem. </i>
          </td>
          <td align="center" class="mathematik" colspan="2" rowspan="2">
            Analysis II
            <br />
            <br />
            ———
            <b> Analysis </b>
            ———
            <br />
            <br />
            Analysis I
          </td>
          <td align="center" class="fachdidaktik" rowspan="1">
            <b> Einführung in Fachdidaktik der Mathematik </b>
          </td>
        </tr>
        <tr>
          <td align="center" class="bg-ufr-blue-20">
            <br />
            3
            <br />
          </td>
          <td align="center" class="fachdidaktik">
            <b>
              Fachdidaktik
              <br />
              im 2. Fach
            </b>
          </td>
        </tr>
        <tr>
          <td align="center" class="bg-ufr-blue-20" rowspan="2" valign="top">
            <br />
            2
          </td>
          <td align="center" class="mathematik" colspan="2" rowspan="4">
            Lineare Algebra II
            <br />
            <br />
            —–
            <b> Lineare Algebra </b>
            —–
            <br />
            <br />
            Lineare Algebra I
          </td>
          <td colspan="2" rowspan="4"></td>
          <td></td>
          <td align="center" class="bok" rowspan="4">
            <b> Berufsfeld- orientierte Kompetenzen </b>
            <br style="margin-bottom: 3px" />
            <i> beliebige Sem. </i>
          </td>
        </tr>
        <tr>
          <td align="center" class="bok" rowspan="2">
            <b> Orientierungs- praktikum </b>
          </td>
        </tr>
        <tr>
          <td align="center" class="bg-ufr-blue-20" rowspan="2">
            <br />
            1
            <br />
          </td>
        </tr>
        <tr>
          <td align="center" class="bildungswissenschaft">
            <b> Einführung in Bildungswiss. </b>
          </td>
        </tr>
      </table>
      <p style="margin-top: 30px"></p>
      <h3>Variante 3: Studienbeginn nur mit Analysis</h3>
      <p>
        Diese Variante bietet ebenfalls eine gleichmäßigere Verteilung der
        Mathematik-Veranstaltungen auf die Studiensemester, hat aber gegenüber
        Variante 2 den Nachteil, dass Teile der Linearen Algebra für das
        Verständnis von Analysis II nötig sind. Zu Beginn des Sommersemesters
        wird bei Bedarf als Unterstützung ein „Brückenkurs Lineare Algebra“ in
        Form eines begleiteten Selbststudiums angeboten. Vorteilhaft an Variante
        3 ist, dass Analysis I eine eng mit dem Schulstoff zusammenhängende
        Vorlesung ist, die dadurch vielen den Eintieg in die universitäre
        Mathematik erleichtert.
      </p>
      <table border="1" class="bg-white">
        <tr class="bg-ufr-blue-20">
          <td align="center" style="width: 5%; height: 50px" valign="bottom">
            Sem
          </td>
          <td align="center" colspan="4" style="width: 48%">
            <b> Mathematik </b>
            <br />
            (75 Punkte + 10 Punkte Bachelor-Arbeit)
          </td>
          <td align="center" colspan="2" style="width: 32%">
            <b> Optionsbereich </b>
            <br />
            (20 Punkte)
          </td>
          <td align="center" style="width: 15%">
            <b> Zweites Fach </b>
            <br />
            (75 Punkte)
          </td>
        </tr>
        <tr>
          <td colspan="8"></td>
        </tr>
        <tr>
          <td align="center" class="bg-ufr-blue-20">
            <br />
            6
            <br />
          </td>
          <td align="center" class="mathematik" rowspan="2" style="width: 12%">
            Numerik II
            <br />
            <br />
            –
            <b> Numerik </b>
            –
            <br />
            <br />
            Numerik I
          </td>
          <td
            align="center"
            class="mathematik-weitere"
            rowspan="2"
            style="width: 12%"
          >
            <b> Praktische Übung </b>
            <br style="margin-bottom: 3px" />
            <i> 3. / 4. Sem. </i>
          </td>
          <td
            align="center"
            class="abschlussarbeit"
            colspan="2"
            style="width: 24%"
          >
            <b> Bachelor-Arbeit </b>
            <br style="margin-bottom: 3px" />
            <i> oder im 2. Fach </i>
          </td>
          <td align="center" rowspan="2" style="width: 16%" valign="bottom">
            <i>
              mit Lehramtsoption:
              <br style="margin-bottom: 25px" />
              Fachdidaktik
              <br />
              ab 2. Sem.
            </i>
          </td>
          <td align="center" style="width: 16%" valign="bottom">
            <i> ohne Lehramtsoption: </i>
          </td>
          <td align="center" class="anwendungsfach" rowspan="8">
            <b>
              Fachwissen- schaft
              <br />
              im 2. Fach
            </b>
          </td>
        </tr>
        <tr>
          <td align="center" class="bg-ufr-blue-20">
            <br />
            5
            <br />
          </td>
          <td align="center" class="mathematik" colspan="2" style="width: 24%">
            <b>
              Algebra und
              <br />
              Zahlentheorie
            </b>
          </td>
          <td align="center" class="wahlmodul" rowspan="3">
            <b> Wahlmodule </b>
            <br style="margin-bottom: 3px" />
            <i> beliebige Sem. </i>
          </td>
        </tr>
        <tr>
          <td align="center" class="bg-ufr-blue-20">
            <br />
            4
            <br />
          </td>
          <td align="center" class="mathematik" colspan="2" rowspan="2">
            Lineare Algebra II
            <br />
            <br />
            —–
            <b> Lineare Algebra </b>
            —–
            <br />
            <br />
            Lineare Algebra I
          </td>
          <td align="center" class="mathematik" rowspan="2" style="width: 12%">
            Stochastik II
            <br />
            <br />
            -
            <b> Stochastik </b>
            -
            <br />
            <br />
            Stochastik I
          </td>
          <td align="center" class="mathematik" style="width: 12%">
            <b> Elementar- geometrie </b>
          </td>
          <td align="center" class="fachdidaktik" rowspan="1">
            <b> Einführung in Fachdidaktik der Mathematik </b>
          </td>
        </tr>
        <tr>
          <td align="center" class="bg-ufr-blue-20">
            <br />
            3
            <br />
          </td>
          <td align="center" class="mathematik-weitere" style="width: 12%">
            <b> Proseminar </b>
          </td>
          <td align="center" class="fachdidaktik">
            <b>
              Fachdidaktik
              <br />
              im 2. Fach
            </b>
          </td>
        </tr>
        <tr>
          <td align="center" class="bg-ufr-blue-20" rowspan="2" valign="top">
            <br />
            2
          </td>
          <td colspan="1" rowspan="4"></td>
          <td align="center" class="mathematik-weitere" rowspan="2">
            Brückenkurs Lineare Algebra
          </td>
          <td align="center" class="mathematik" colspan="2" rowspan="4">
            Analysis II
            <br />
            <br />
            ———
            <b> Analysis </b>
            ———
            <br />
            <br />
            Analysis I
          </td>
          <td></td>
          <td align="center" class="bok" rowspan="4">
            <b> Berufsfeld- orientierte Kompetenzen </b>
            <br style="margin-bottom: 3px" />
            <i> beliebige Sem. </i>
          </td>
        </tr>
        <tr>
          <td align="center" class="bok" rowspan="2">
            <b> Orientierungs- praktikum </b>
          </td>
        </tr>
        <tr>
          <td align="center" class="bg-ufr-blue-20" rowspan="2">
            <br />
            1
            <br />
          </td>
          <td rowspan="2"></td>
        </tr>
        <tr>
          <td align="center" class="bildungswissenschaft">
            <b> Einführung in Bildungswiss. </b>
          </td>
        </tr>
      </table>
      <p></p>
      <table border="0" cellspacing="20" style="width: 100%">
        <tr>
          <td colspan="6">
            <b> Legende: </b>
          </td>
        </tr>
        <tr>
          <td>Punkte</td>
          <td>=</td>
          <td>Leistungspunkte (entsprechend dem geschätzten Aufwand)</td>
          <td>Sem</td>
          <td>=</td>
          <td>Semester</td>
        </tr>
        <tr>
          <td class="mathematik"></td>
          <td>=</td>
          <td>Pflichtveranstaltung in Mathematik</td>
          <td class="abschlussarbeit"></td>
          <td>=</td>
          <td>Bachelor-Arbeit</td>
        </tr>
        <tr>
          <td class="mathematik-weitere"></td>
          <td>=</td>
          <td>Wahlpflichtveranstaltung in Mathematik</td>
          <td class="fachdidaktik"></td>
          <td>=</td>
          <td>Fachdidaktik</td>
        </tr>
        <tr>
          <td class="bok"></td>
          <td>=</td>
          <td>Berufsfeldorientierte Kompetenzen</td>
          <td class="wahlmodul"></td>
          <td>=</td>
          <td>Wahlmodule (beliebige Fächer)</td>
        </tr>
        <tr>
          <td class="bildungswissenschaft"></td>
          <td>=</td>
          <td>Bildungswissenschaften</td>
          <td class="anwendungsfach"></td>
          <td>=</td>
          <td>Fachwissenschaft zweites Fach</td>
        </tr>
      </table>
      <p>
        Weitere Informationen siehe in den verschiedenen Abschnitten der
        <a href="2hfb-2021.html"> Informationsseite zum Studiengang </a>
        !
      </p>
      <div class="accordion accordion-flush" id="accordionExample"></div>
    </div>
  </body>
</html>
