     Interessenten können sich gegen eine geringe Gebühr als
      <a href="https://www.wb.uni-freiburg.de/gast">
       Gasthörer:in einschreiben
      </a>
      und an Mathematikvorlesungen und Übungen und u.U. auch Seminaren teilnehmen. 
  Welche Veranstaltungen in Frage kommen, hängt sehr von der mathematischen Vorbildung ab.
  Bitte nehmen Sie bei Interesse daher Kontakt mit der
      <a href="/lehre/studienberatung.html">
       allgemeinen Studienberatung
      </a>
 

 <a href="https://www.science-und-technologie.de/science-days">
        Science Days
       </a>

       
      Sommerfest



             Wissenschaftliche Vorträge:
      </b>
     </p>
     <ul>
      <li>
       Aktuelle Vortragsankündigungen auf der
       <a href="https://www.math.uni-freiburg.de/">
        Startseite des Mathematischen Instituts
       </a>
       .


              Didaktisches Seminar
      </b>
      :
      <br style="margin-bottom:10px;"/>
      Das Didaktische Seminar findet während der Vorlesungszeit regelmäßig
    etwa alle zwei Wochen dienstags statt und wendet sich an Lehrer:innen,
    an Studierende und an alle, die am Thema
      <i>
       Mathematik in der Schule
      </i>
      interessiert sind.
     </p>
     <ul>
      <li>
       <a href="https://home.mathematik.uni-freiburg.de/didaktik/veranstaltungen.html">
        Link zum aktuellen Programm



               <a href="https://freiburger-wissenschaftsmarkt.de/user/37/">
        Freiburger Wissenschaftsmarkt
       </a>
       :
	alle zwei Jahre in den ungeraden Jahren.
