<div class="container" id="inhalt">
  <h2>
    {% if lang == "de" %}Interesse am Mathematik-Studium in Freiburg?{% else
    %}Do you want to study with us?{% endif %}
  </h2>
  <div class="container g-3">
    <div class="row">
      <p>
        {% if lang == "de" %} An der Universität Freiburg können Sie mit einem
        Bachelor- oder Lehramts-Studium in die Mathematik einsteigen, aber auch
        unsere Angebote im Master-Bereich und der Promotion nutzen. Für
        Schüler*innen bieten wir zahlreiche
        <a
          href="{{url_for('showinteresse', lang = lang, anchor = 'meetus', _anchor = 'meetus')}}"
          >Workshops</a
        >
        an.
        <a href="{{url_for('showweiterbildung', lang = lang)}}"
          >Weiterbildungsangebote</a
        >, zu denen Sie auch ohne eine Einschreibung an der Universität
        teilnehmen können, gibt es beispielsweise für Mathematik-Lehrer*innen.
        Unser Online-Studienwahl-Assistent
        <a href="https://www.osa.uni-freiburg.de/mathematik/">(OSA)</a> soll
        Ihnen bei der Entscheidung für ein Mathematik-Studium helfen. Bei Fragen
        melden Sie sich gerne bei unserer
        <a href="{{ url_for('showstudiendekanat', lang=lang) }}"
          >Studienberatung</a
        >. {% else %} At the University of Freiburg, you can start your studies
        in mathematics with a Bachelor's or teacher training course. In
        addition, we have Master's programs and a PhD program. We offer numerous
        workshops for pupils.
        <a href="{{url_for('showweiterbildung', lang = lang)}}"
          >Additional offers</a
        >, which you can also attend without being enrolled at the university,
        are available for mathematics teachers, for example. Our online study
        assistant
        <a href="https://www.osa.uni-freiburg.de/mathematik/">(OSA)</a> is
        designed to help you decide if mathematics is the right subject for you.
        If you have any questions please contact our
        <a href="{{ url_for('showstudiendekanat', lang=lang) }}"
          >Academic advice office</a
        >. {% endif %}
      </p>
    </div>
  </div>
  <div class="container text-end">
    <div class="row">
      <div class="col">
        <a
          href="https://www.osa.uni-freiburg.de/mathematik/"
          class="btn btn-primary"
          role="button"
          aria-disabled="true"
        >
          {% if lang == "de" %} Online-Studienwahl-Assistent {% else %} Online
          study assistant {% endif %}
        </a>
        <a
          href="{{ url_for('showstudiendekanat', unterseite='warum_mathematik', lang=lang) }}"
          class="btn btn-primary"
          role="button"
          aria-disabled="true"
        >
          {% if lang == "de" %} Warum Mathematik? {% else %} Why mathematics {%
          endif %}
        </a>
        <!-- <a
          href="{{ url_for('showweiterbildung', lang=lang)}}"
          class="btn btn-primary"
          role="button"
          aria-disabled="true"
        >
          {% if lang == "de" %} Weiterbildung {% else %} Further education {%
          endif %}
        </a>-->
        <a
          href="{{ url_for('showstudiendekanat', lang=lang) }}"
          class="btn btn-primary"
          role="button"
          aria-disabled="true"
        >
          {% if lang == "de" %} Studienberatung {% else %} Academic advice
          office {% endif %}
        </a>
      </div>
    </div>
  </div>
</div>
