<div class="container" id="inhalt">
 <h1>
  Interesse an Mathematik?
 </h1>
 <p>
  <img alt="[Symbolbild Fahrradschloss]" src="https://www.math.uni-freiburg.de/i/Webseite-oben-Fahrradschloss.jpg" style="width:100%;" title="Symbolbild Fahrradschloss 
(Foto: Martin Kramer, © Mathematisches Institut Freiburg)"/>
 </p>
 <div id="accordion">
  <!--
<div id="_besonderes" class="fold">
  <h3>Archiv: Mathematik in Freiburg &ndash; Besonderes aus früheren Jahren<span class="arrow"></span></h3>
<div id="besonderesContent" class="foldContent collapse">

<p>
  <b>Umbenennung der Eckerstraße in Ernst-Zermelo-Straße:</b> <br>
  Ernst Zermelo war Lehrstuhlinhaber an der Universität Zürich und seit 1926 Honorarprofessor in Freiburg.
  Er leistete wichtige Beiträge insbesondere zur axiomatischen Mengenlehre.
  Seit April 2018 heißt die Straße, an der das Mathematische Institut Freiburg liegt, "Ernst-Zermelo-Straße".
  <ul>
    <li> <a href="https://home.mathematik.uni-freiburg.de/mildenberger/freiburg2014/zermelo.html">Zermelo and Freiburg</a> (englisch)</li>
    <li> Heinz-Dieter Ebbinghaus:
      <a href="https://www.math.uni-freiburg.de/institut/geschichte/dokumente/Zermelo_Ebbinghaus_2007.pdf">
	"Ernst Zermelo, der Schöpfer der axiomatischen Mengenlehre"</a> (pdf); 2007. </li>
    <li> <a href="https://de.wikipedia.org/wiki/Ernst_Zermelo">Wikipedia-Seite zu Ernst Zermelo</a> </li>
    <li> <a href="https://www.spektrum.de/wissen/ernst-zermelo-meister-der-ordnung/1640104?utm_source=zon&utm_medium=teaser&utm_content=news&utm_campaign=ZON_KOOP">Artikel über Ernst Zermelo in "Spektrum der Wissenschaft"</a> </li>
  </ul>
</p>

<p> <b>Workshops:</b> <br>
  Die <a href="https://home.mathematik.uni-freiburg.de/didaktik/">Abteilung für Didaktik der Mathematik</a>
hat seit 2013 regelmäßig verschiedene Workshops organisiert, z.B.
<ul>
  <li> "Robotik als Abenteuer": drei fünftägige Workshops für Kinder und Jugendliche, für Lehrer und Referendare, für Interessierte ab 60; Februar/März 2018. </li>
  <li> "Falten bis zum Mond" für Schüler der Klassen 5 bis 7; August 2013.
</ul>
</p>

<p>
  <b>Interdiszipliäres</b>: <br>
  <ul> 
    <li> Ringvorlesung  <a href="https://portal.uni-freiburg.de/ndl/personen/dozenten/albrecht/phantasie">Exakte Phantasie &ndash; Historische, philosophische und kulturwissenschaftliche Reflexionen der Mathematik</a>;  2010/11. </li>
    <li> "Fiktum versus Faktum" Interdisziplinäre Tagung zum Verhältnis zwischen Literatur und Wissenschaft; März 2009.
      Tagungsband erschienen im Erich Schmidt Verlag, Berlin 2012. </li>
  </ul>  
</p>

<p>
  <b>Quadratur des Kreises:</b> <br>
  In Freiburg hat Ferdinand Lindemann 1882 die Unmöglichkeit der Quadratur des Kreises bewiesen.
  <ul>
    <li> <a href="/information/archiv/Lindemann3.pdf">125 Jahre Beweis der Transzendenz von &pi;</A> (pdf); 2007. </li>
  </ul>
</p>

<li> Jahr der Mathematik 2008:
  <ul>
  <li><a href="https://www.jdm.uni-freiburg.de/">Programm der Uni Freiburg</a></li>
  <li>und insbesondere <a href="https://www.jdm.uni-freiburg.de/#Uniradio">Beiträge fürs Uniradio</a> (mp3-Dateien zum Anhören).
  </ul>
</li>


</div>
</div>
-->
 </div>
 <div class="accordion accordion-flush" id="accordionExample">
  <div class="accordion-item" id="_angebote">
   <h3 class="accordion-header" id="header_angebote">
    <button aria-controls="_angeboteContent" aria-expanded="false" class="accordion-button" data-bs-target="#_angeboteContent" data-bs-toggle="collapse" type="button">
     Angebote für Studieninteressierte
    </button>
   </h3>
   <div aria-labelledby="_angeboteContent" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="_angeboteContent">
    <div class="accordion-body" id="angeboteContent">
     <p>
      (Zurück) zur Webseite „
      <a href="/lehre/studieninteresse.html">
       Informationen für Studieninteressierte
      </a>
      "
     </p>
     <p>
      <b style="font-size:110%">
       Tag der offenen Tür:
      </b>
      <br style="margin-bottom:10px;"/>
      Jährlich im November (in der Regel am Buß-und-Bettag) findet der Tag der offenen Tür der Universität statt
    mit einer Vorstellung des Studienangebots, Vorträgen, dem Angebot, in eine Erstsemestervorlesung hineinzuschnuppern, und der Möglichkeit zum Gespräch mit Studierenden.
     </p>
     <ul>
      <!--      <li> Das Programm für 2023 wird kurzfristig im November 2023 zur Verfügung stehen.
       </li> -->
      <li>
       <a href="tag_der_offenen_tuer.html">
        Programm 2023 für das Fach Mathematik
       </a>
      </li>
     </ul>
     Das Programm aller Fächer und der zentralen Informationsveranstaltungen finden Sie jeweils aktuell 
    auf den Seiten der
     <a href="https://www.studium.uni-freiburg.de/de/beratung">
      Zentralen Studienberatung der Universität
     </a>
     .
     <p>
      <a href="https://www.osa.uni-freiburg.de/mathematik">
       <img alt="Startseite OSA" src="https://www.math.uni-freiburg.de/lehre/bilder/MAT_kachel_OSA-Stempel_364.jpg" style="width:30%; float: right;" title="Startseite OSA"/>
      </a>
      <b style="font-size:110%">
       OSA Mathematik:
      </b>
      <br style="margin-bottom:10px;"/>
      Der „
      <a href="https://www.osa.uni-freiburg.de/mathematik">
       Online Studienwahl-Assistent
      </a>
      “ (OSA) bietet
     </p>
     <ul>
      <li>
       Informationen zu den Mathematik-Studiengängen,
      </li>
      <li>
       Videos mit Studierenden, Dozent:inn:en und Studienberater:inne:n,
      </li>
      <li>
       einen Erwartungsabgleich
      </li>
      <li>
       und ein paar Aufgaben, die man nicht lösen können muss, aber an denen man testen kann,
       ob es einem Freude machen würde, sich damit auseinanderzusetzen und die Lösung zu verstehen.
      </li>
     </ul>
     <p>
      <b style="font-size:110%">
       Freiburger Mathematik-Tag:
      </b>
      <br style="margin-bottom:10px;"/>
      Das Mathematische Institut veranstaltet einmal pro Jahr, in der Regel im September oder Oktober,
    den
      <a href="http://home.mathematik.uni-freiburg.de/didaktik/veranstaltungen.html#mathetage">
       „Freiburger Mathematik-Tag“
      </a>
      ein ein - bois zweitägiges Programm für Schüler:innen der Klassen 10 bis 13,
    die Freude am Knobeln und am Lösen von Aufgaben haben, sich gern mit Mathematik beschäftigen oder
    vielleicht einmal Mathematik oder eine Naturwissenschaft studieren wollen.
     </p>
     <p>
      <b style="font-size:110%">
       Schnupperstudium in Naturwissenschaft und Technik:
      </b>
      <br style="margin-bottom:10px;"/>
      Das „
      <a href="https://www.studium.uni-freiburg.de/de/beratung/schnupperstudium">
       Schnupperstudium in Naturwissenschaft und Technik
      </a>
      “
    für Schüler:innen der Klassen 10 bis 13 findet jährlich im Frühjahr statt. Es bietet einen Einblick in die Fächer
    Chemie, Embedded Systems Engineering, Geowissenschaften, Informatik, Mathematik, Mikrosystemtechnik und Physik.
     </p>
     <p>
      In der Corona-Zeit und auch 2023 musste das Angebot leider entfallen; wir hoffen auf einen Neubeginn im Jahr 2024.
    2023 gibt es ersatzweise ein
      <a href="https://www.girls-day.de/@/Show/mathematisches-institut.1/freiburg-breisgau/magie-mit-mathe">
       Angebot am Girls Day
      </a>
      am 27. April 2023!
     </p>
     <p>
      <b style="font-size:110%">
       Begleitung eines:einer Mathematik-Student:in für einen Tag:
      </b>
      <br style="margin-bottom:10px;"/>
      Um Schüler:inne:n die Möglichkeit zu geben, den Studien-Alltag schon einmal im Vorhinein zu erleben, bieten wir an, 
    euch einen Tag zu unseren Veranstaltungen und allem Anderen mitzunehmen. 
    Zum Reinschnuppern eignen sich am besten die Vorlesungen im ersten Semester, daher ist ein Termin im Oktober/November optimal. Aber auch zu anderen Zeitpunkten geben wir euch gerne einen Einblick ins Studium. Bei Interesse bitte an die
      <a href="https://mfsfreiburg.wordpress.com/">
       Fachschaft Mathematik
      </a>
      wenden!
     </p>
     <p>
      <b style="font-size:110%">
       Kooperation mit Schulen:
      </b>
      <br style="margin-bottom:10px;"/>
      Gerne kommen Studierende oder Dozent:inn:en der Mathematik an Schulen, um die Studiengänge oder etwas aus der Mathematik vorzustellen.
    Bitte wenden Sie sich bei Interesse an einem Besuch durch Studierende an die
      <a href="https://mfsfreiburg.wordpress.com/">
       Fachschaft Mathematik
      </a>
      und bei Interesse an einem Besuch durch Dozent:inn:en oder einen Studienberater an den
      <a href="https://home.mathematik.uni-freiburg.de/junker/">
       Studiengangkoordinator
      </a>
      .
     </p>
     <p>
      <b style="font-size:110%">
       Freiburg-Seminar:
      </b>
      <br style="margin-bottom:10px;"/>
      Das
      <a href="https://freiburg-seminar.de/">
       Freiburg-Seminar
      </a>
      fördert besonders befähigte und interessierte Schüler:innen
    im Regierungsbezirk Freiburg und ermöglicht in ebsonderen Fällen ein Schülerstudium.
     </p>
    </div>
   </div>
  </div>
  <div class="accordion-item" id="_studium">
   <h3 class="accordion-header" id="header_studium">
    <button aria-controls="_studiumContent" aria-expanded="false" class="accordion-button" data-bs-target="#_studiumContent" data-bs-toggle="collapse" type="button">
     Studienmöglichkeiten
    </button>
   </h3>
   <div aria-labelledby="_studiumContent" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="_studiumContent">
    <div class="accordion-body" id="studiumContent">
     <p>
      <a href="https://www.osa.uni-freiburg.de/mathematik">
       <img alt="Startseite OSA" src="https://www.math.uni-freiburg.de/lehre/bilder/MAT_kachel_OSA-Stempel_364.jpg" style="width:30%; float: right;" title="Startseite OSA"/>
      </a>
     </p>
     <p>
      <b style="font-size:110%">
       Wissenschaftliches Studium mit Abschluss:
      </b>
     </p>
     <ul>
      <li>
       <a href="/lehre/index.html">
        Studiengänge
       </a>
       in Mathematik
      </li>
      <li>
       <a href="/lehre/studienberatung.html">
        Studienberatung
       </a>
       des Mathematischen Instituts
      </li>
      <li>
       <a href="/lehre/studieninteresse.html">
        Informationen für Studieninteressierte
       </a>
      </li>
      <li>
       <a href="https://www.osa.uni-freiburg.de/mathematik">
        Online-Studienwahl-Assistent Mathematik
       </a>
      </li>
     </ul>
     <p>
      <b style="font-size:110%">
       Schüler:innen-Studium:
      </b>
      <br style="margin-bottom:10px;"/>
      Besonders begabte Schüler:innen können u.U. bereits während der Schulzeit an
  Mathematikveranstaltungen teilnehmen. Dies wird über das 
  „
      <a href="https://freiburg-seminar.de/">
       Freiburg Seminar
      </a>
      “ organisiert.
     </p>
     <p>
      <b style="font-size:110%">
       Gasthörer:innen-Studium:
      </b>
      <br style="margin-bottom:10px;"/>
      Interessenten können sich gegen eine geringe Gebühr als
      <a href="https://www.wb.uni-freiburg.de/gast">
       Gasthörer:in einschreiben
      </a>
      und an Mathematikvorlesungen und Übungen und u.U. auch Seminaren teilnehmen. 
  Welche Veranstaltungen in Frage kommen, hängt sehr von der mathematischen Vorbildung ab.
  Bitte nehmen Sie bei Interesse daher Kontakt mit der
      <a href="/lehre/studienberatung.html">
       allgemeinen Studienberatung
      </a>
      des Mathematischen Instituts auf.
     </p>
     <ul>
      <li>
       <a href="https://www.math.uni-freiburg.de/lehre/v/index.html">
        Lehrveranstaltungsprogramm des Mathematischen Instituts
       </a>
      </li>
      <li>
       <a href="https://www.math.uni-freiburg.de/">
        Aktuelle Veranstaltungen und Nachrichten auf der Startseite des Mathematischen Instituts
       </a>
      </li>
      <li>
       <a href="https://wochenprogramm.mathematik.uni-freiburg.de/index.html">
        Veranstaltungskalender des Mathematischen Instituts
       </a>
      </li>
     </ul>
    </div>
   </div>
  </div>
  <div class="accordion-item" id="_videos">
   <h3 class="accordion-header" id="header_videos">
    <button aria-controls="_videosContent" aria-expanded="false" class="accordion-button" data-bs-target="#_videosContent" data-bs-toggle="collapse" type="button">
     Videos
    </button>
   </h3>
   <div aria-labelledby="_videosContent" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="_videosContent">
    <div class="accordion-body" id="videosContent">
     <p>
      <b style="font-size:110%">
       YouTube-Kanäle:
      </b>
     </p>
     <ul>
      <li>
       <a href="https://www.YouTube.com/channel/UCmJElIlXbUogzf4Csfm9yjw">
        YouTube-Kanal des Mathematichen Instituts
       </a>
       , u.a. pre-course 2021 und viele Vorlesungen.
      </li>
      <li>
       <a href="https://www.YouTube.com/channel/UCO88NM05bOwv64u339P2hmw">
        YouTube-Kanal von Peter Pfaffelhuber
       </a>
       , u.a. pre-course 2020.
      </li>
     </ul>
     <p>
      <b style="font-size:110%">
       Videos zu unseren Schwerpunktgebieten:
      </b>
     </p>
     <ul>
      <li>
       Prof. Dr. Thorsten Schmidt
       <a href="https://www.youtube.com/watch?v=_3bT8IjO7jI">
        „Künstliche Intelligenz und Machine Learning“
       </a>
       (YouTube)
      </li>
      <li>
       Prof. Dr. Patrick Dondl
       <a href="https://www.youtube.com/watch?v=LpTzpSl6GXI">
        „Mathematische Strukturen in Formgedächtnismetallen“
       </a>
       (YouTube)
      </li>
      <li>
       Brendan Stuber-Rousselle M.Sc.
       <a href="https://www.youtube.com/watch?v=9BqKrZf0YfA">
        „Kann ein Mensch mehr beweisen als ein Computer?“
       </a>
       (YouTube)
      </li>
      <li>
       Prof. Dr. Nadine Große
       <a href="https://www.youtube.com/watch?v=Atu9LM09mjY">
        „Gitarre oder Trommel?“
       </a>
       (YouTube)
      </li>
      <li>
       Luca Courte „Was ist Angewandte Mathematik?“, Vortrag für den Tag der offenen Tür 2020
       <br/>
       <br/>
       <center>
        <video controls="" poster="./videos/Was_ist_Angewandte_Mathematik.png" width="30%">
         <source src="./videos/Was_ist_Angewandte_Mathematik.mkv" type="video/mkv">
          <source src="./videos/Was_ist_Angewandte_Mathematik.mp4" type="video/mp4">
           Was ist Angewandte Mathematik?"
          </source>
         </source>
        </video>
       </center>
      </li>
     </ul>
     <p>
      <b style="font-size:110%">
       Mathesongs
      </b>
      (zur Vorbetreitung einer Examensprüfung im Sommer 2020, über YouTube):
     </p>
     <ul>
      <li>
       <a href="https://www.youtube.com/watch?v=M6iHIjYe69E">
        Funktionentheorie
       </a>
      </li>
      <li>
       <a href="https://www.youtube.com/watch?v=d8vn_RPioPU">
        Numerik
       </a>
      </li>
      <li>
       <a href="https://www.youtube.com/watch?v=d3-9pGneuh4">
        Algebra
       </a>
      </li>
     </ul>
     <p>
      <b style="font-size:110%">
       Videos zur Uni und den Studiengängen:
      </b>
     </p>
     <ul>
      <li>
       <a href=" https://www.videoportal.uni-freiburg.de/video/Mathematik-Marius-stellt-seinen-Studiengang-vor/49f286bea9e1a34a0380900b5bab8938">
        Marius stellt seinen Studiengang vor
       </a>
      </li>
      <li>
       <a href="https://www.osa.uni-freiburg.de/campustour/institutsviertel/">
        Campustour Institutsviertel
       </a>
      </li>
      <li>
       <a href="https://www.youtube.com/watch?v=kufHlX4WEPg&amp;list=PL0KNNSWJHMYS7SMT8BYNEgD5pGuWISHUP">
        Die Uni von oben
       </a>
       (über YouTube)
       <br/>
       (
       <i>
        Das Mathematisches Institut befindet sich etwa drei Blöcke links vom Rektorat, ab 0:22)
       </i>
      </li>
      <li>
       Weitere Videos mit Studierenden und Dozent:inn:en im
       <a href="https://www.osa.uni-freiburg.de/mathematik">
        Online Studienwahl-Assistent
       </a>
      </li>
     </ul>
    </div>
   </div>
  </div>
  <div class="accordion-item" id="_aktivitaeten">
   <h3 class="accordion-header" id="header_aktivitaeten">
    <button aria-controls="_aktivitaetenContent" aria-expanded="false" class="accordion-button" data-bs-target="#_aktivitaetenContent" data-bs-toggle="collapse" type="button">
     Weiterbildung / Angebote für die Öffentlichkeit
    </button>
   </h3>
   <div aria-labelledby="_aktivitaetenContent" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="_aktivitaetenContent">
    <div class="accordion-body" id="aktivitaetenContent">
     <p>
      <b style="font-size:110%">
       Gasthörer:innen-Studium:
      </b>
     </p>
     <ul>
      <li>
       Siehe unter „Studienmöglichkeiten“.
      </li>
     </ul>
     <p>
      <b style="font-size:110%">
       Wissenschaftliche Vorträge:
      </b>
     </p>
     <ul>
      <li>
       Aktuelle Vortragsankündigungen auf der
       <a href="https://www.math.uni-freiburg.de/">
        Startseite des Mathematischen Instituts
       </a>
       .
      </li>
      <li>
       Längerfristige Termine im
       <a href="https://wochenprogramm.mathematik.uni-freiburg.de/index.html">
        Veranstaltungskalender des Mathematischen Instituts
       </a>
       .
      </li>
     </ul>
     <p>
      <b style="font-size:110%">
       Didaktisches Seminar
      </b>
      :
      <br style="margin-bottom:10px;"/>
      Das Didaktische Seminar findet während der Vorlesungszeit regelmäßig
    etwa alle zwei Wochen dienstags statt und wendet sich an Lehrer:innen,
    an Studierende und an alle, die am Thema
      <i>
       Mathematik in der Schule
      </i>
      interessiert sind.
     </p>
     <ul>
      <li>
       <a href="https://home.mathematik.uni-freiburg.de/didaktik/veranstaltungen.html">
        Link zum aktuellen Programm
       </a>
      </li>
     </ul>
     <p>
      <b style="font-size:110%">
       Mathematik in der Öffentlichkeit:
      </b>
     </p>
     <ul>
      <li>
       <a href="https://freiburger-wissenschaftsmarkt.de/user/37/">
        Freiburger Wissenschaftsmarkt
       </a>
       :
	alle zwei Jahre in den ungeraden Jahren.
      </li>
      <li>
       <a href="https://www.science-und-technologie.de/science-days">
        Science Days
       </a>
       : 
	jährlich im Herbst im Europark Rust.
      </li>
     </ul>
     <p>
      <b style="font-size:110%">
       Alumni-/Alumnae-Tag und Sommerfest
      </b>
      <br style="margin-bottom:10px;"/>
      Jährlich in der Regel Anfang Juli im Hörsaal Rundbau und im Innenhof des Physikalischen Instituts.
     </p>
     <p>
      <b style="font-size:110%">
       Diverses:
      </b>
     </p>
     <ul>
      <li>
       Platonische Körper falten:
       <a href="https://home.mathematik.uni-freiburg.de/junker/preprints/platonischeKoerper.pdf">
        Faltanleitung
       </a>
       (pdf)
      </li>
      <li>
       <a href="https://www.math.uni-freiburg.de/institut/geschichte.html">
        Zur Geschichte der Mathematik an der Universität Freiburg
       </a>
      </li>
     </ul>
    </div>
   </div>
  </div>
  <div class="accordion-item" id="_links">
   <h3 class="accordion-header" id="header_links">
    <button aria-controls="_linksContent" aria-expanded="false" class="accordion-button" data-bs-target="#_linksContent" data-bs-toggle="collapse" type="button">
     Links zur Welt der Mathematik
    </button>
   </h3>
   <div aria-labelledby="_linksContent" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="_linksContent">
    <div class="accordion-body" id="linksContent">
     <p>
     </p>
     <ul>
      <!--<li><a href="https://home.mathematik.uni-freiburg.de/didaktik/links.html">
	  Internetadressen zu mathematischen Wettbewerben</a>
	  und viele andere interessante Links der Seite der Abteilung für Didaktik-->
      <li>
       <a href="https://www.claymath.org/millennium-problems">
        Die sieben Probleme, für deren Lösung das Clay-Institute je 1 Mio Dollar bietet
       </a>
      </li>
      <li>
       <a href="https://www-history.mcs.st-andrews.ac.uk/Day_files/Now.html">
        Mathematician of the day
       </a>
      </li>
      <li>
       <a href="http://math.furman.edu/~mwoodard/mquot.html">
        Mathematical quotation server
       </a>
      </li>
      <li>
       <a href="https://www-history.mcs.st-andrews.ac.uk/BiogIndex.html">
        Biografien bekannter Mathematiker:innen
       </a>
      </li>
      <li>
       <a href="https://www-history.mcs.st-andrews.ac.uk/">
        Material zur Geschichte der Mathematik
       </a>
      </li>
      <li>
       <a href="hhttps://www.genealogy.math.ndsu.nodak.edu/">
        Mathematics Genealogy Project
       </a>
      </li>
      <li>
       <a href="https://mathworld.wolfram.com/">
        MathWorld
       </a>
      </li>
      <li>
       Und ein paar
       <a href="/lehre/studieninteresse/literatur.html">
        Literaturempfehlungen
       </a>
       zum Thema Mathematik!
      </li>
     </ul>
    </div>
   </div>
  </div>
 </div>
</div>
