<div class="container" id="inhalt">
  <h1>Angebote für Schüler:innen</h1>
  <h2>Workshops etc.</h2>
  <div class="row row-cols-md-4 row-cols-sm-2 row-cols-xs-1 g-3">
    <div class="col">
      <div class="card h-100">
        <center>
          <img
            src="/static/Bilder/girlsday.png"
            class="card-img-fluid"
            alt="..."
            style="height: 15vw; object-fit: contain"
          />
        </center>
        <div class="card-body">
          <h3 class="h5">Girls Day</h3>
          <div class="card-text">
            <p>Angebot am Girls Day am 25. April 2024!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <center>
          <img
            src="/static/Bilder/HN17058826.jpg"
            class="card-img-fluid"
            alt="..."
            style="height: 15vw; object-fit: cover"
          />
        </center>
        <div class="card-body">
          <h3 class="h5">
            Freiburger Mathematik-Tag für Schülerinnen und Schüler
          </h3>
          <div class="card-text">
            <p>
              Das Mathematische Institut veranstaltet einmal pro Jahr, in der
              Regel im September oder Oktober, den
              <a
                href="http://home.mathematik.uni-freiburg.de/didaktik/veranstaltungen.html#mathetage"
              >
                „Freiburger Mathematik-Tag“
              </a>
              ein ein - bis zweitägiges Programm für Schüler:innen der Klassen
              10 bis 13, die Freude am Knobeln und am Lösen von Aufgaben haben,
              sich gern mit Mathematik beschäftigen oder vielleicht einmal
              Mathematik oder eine Naturwissenschaft studieren wollen.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <center>
          <img
            src="/static/Bilder/S1_mit Sonne-naeher-web.jpg"
            class="card-img-fluid"
            alt="..."
            style="height: 15vw; object-fit: cover"
          />
        </center>
        <div class="card-body">
          <h3 class="h5">Tag der offenen Tür</h3>
          <div class="card-text">
            <p>
              Jährlich im November (in der Regel am Buß-und-Bettag) findet der
              Tag der offenen Tür der Universität statt mit einer Vorstellung
              des Studienangebots, Vorträgen, dem Angebot, in eine
              Erstsemestervorlesung hineinzuschnuppern, und der Möglichkeit zum
              Gespräch mit Studierenden. Das Programm aller Fächer und der
              zentralen Informationsveranstaltungen finden Sie jeweils aktuell
              auf den Seiten der
              <a href="https://www.studium.uni-freiburg.de/de/beratung">
                Zentralen Studienberatung der Universität</a
              >.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <center>
          <img
            src="/static/Bilder/Logo_Freiburg_Seminar.png"
            class="card-img-fluid"
            alt="..."
            style="height: 15vw; object-fit: contain"
          />
        </center>
        <div class="card-body">
          <h3 class="h5">Freiburg Seminar</h3>
          <div class="card-text">
            <p>
              Das
              <a href="https://freiburg-seminar.de/"> Freiburg-Seminar </a>
              fördert besonders befähigte und interessierte Schüler:innen im
              Regierungsbezirk Freiburg und ermöglicht in besonderen Fällen ein
              Schülerstudium.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h1>Online</h1>
  <div class="row row-cols-md-2 row-cols-sm-2 row-cols-xs-1 g-3">
    <div class="col">
      <div class="card h-100">
        <a href="{{url_for('showmediathek', lang=lang)}}">
          <center>
            <img
              src="/static/Bilder/MAT_kachel_OSA-Stempel_546.jpg"
              class="card-img-fluid"
              alt="..."
              style="height: 15vw; object-fit: cover"
            />
          </center>
        </a>
        <div class="card-body">
          <h3 class="h5">Online Studienwahl-Assistent</h3>
          <div class="card-text">
            <p>
              <b style="font-size: 110%"> OSA Mathematik: </b>
              <br style="margin-bottom: 10px" />
              Der Online Studienwahl-Assistent (OSA) bietet
            </p>
            <ul>
              <li>Informationen zu den Mathematik-Studiengängen,</li>
              <li>
                Videos mit Studierenden, Dozent:inn:en und
                Studienberater:inne:n,
              </li>
              <li>einen Erwartungsabgleich</li>
              <li>
                und ein paar Aufgaben, die man nicht lösen können muss, aber an
                denen man testen kann, ob es einem Freude machen würde, sich
                damit auseinanderzusetzen und die Lösung zu verstehen.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <a href="{{url_for('showmediathek', lang=lang)}}">
          <center>
            <img
              src="/static/Bilder/studint-song.jpg"
              class="card-img-fluid"
              alt="..."
              style="height: 15vw; object-fit: cover"
            /></center
        ></a>
        <div class="card-body">
          <h3 class="h5">Mediathek</h3>
          <div class="card-text">
            <p>
                In unserer Mediathek sind Videos mit Studierenden, Beratenden, Dozent:innen und noch viel mehr Material über die Freiburger Mathematik..
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
