      Die Freiburger Mathematik teilt sich auf sechs Bereiche auf,
  die untereinander mehr oder weniger starke Berührungspunkte haben:
     </p>
     <ul>
      <li>
       <b>
        Mathematische Logik
       </b>
       formuliert unter anderem die axiomatischen Grundgesetze der Mathematik
      und untersucht die Beweisbarkeit mathematischer Aussagen.
       <!-- <br style="margin-bottom:3px;">
      In Freiburg insbesondere: <i>Mengenlehre</i> und <i>Modelltheorie</i>.-->
      </li>
      <li>
       <b>
        Algebra und Zahlentheorie
       </b>
       beschäftigt sich mit Zahlbereichen und ihren Verallgemeinerungen,
      insbesondere mit dem Ziel, Aussagen über die Lösbarkeit von Gleichungen zu gewinnen.
       <!--<br style="margin-bottom:3px;">
      In Freiburg insbesondere: <i>Algebraische Geometrie</i>,
      <i>Algebraische Zahlentheorie</i> und <i>Darstellungstheorie</i>.-->
      </li>
      <li>
       <b>
        Geometrie und Topologie
       </b>
       erforscht zum Beispiel Krümmungseigenschaften von Kurven und Flächen
      und ihrer höherdimensionalen Verallgemeinerungen.
       <!-- <br style="margin-bottom:3px;">
      In Freiburg insbesondere: <i>Differentialgeometrie</i>,
      <i>Differentialtopologie</i>, <i>Globale Analysis</i> und <i>Mathematische Physik (Quantenfeldtheorie)</i>.-->
      </li>
      <li>
       <b>
        Analysis
       </b>
       studiert Eigenschaften auch mehrwertiger Funktionen und Lösungen von Differentialgleichungen.
       <!--<br style="margin-bottom:3px;">
      In Freiburg insbesondere: <i>Funktionalanalysis</i>,
      <i>Partielle Differentialgleichungen</i> und <i>Variationsrechnung</i>.-->
      </li>
      <li>
       <b>
        Angewandte Analysis und Numerik
       </b>
       entwirft Verfahren zur systematischen, rechnerischen Lösung
      mathematischer Probleme.
       <!--<br style="margin-bottom:3px;">
      In Freiburg insbesondere: <i>Nichlineare Elastizität</i>, 
      <i>Numerik partieller Differentialgleichungen</i>, <i>Strömungsmechanik</i> und <i>Variationsprobleme</i>.-->
      </li>
      <li>
       <b>
        Stochastik und Statistik
       </b>
       modelliert zufällige Ereignisse und entwickelt Methoden
      zum optimalen Umgang mit zufälligen Ereignissen oder mit großen Datenmengen.
       <!--<br style="margin-bottom:3px;">
      In Freiburg insbesondere: <i>Biomathematik</i>, <i>Finanzmathematik</i>,
      <i>Mathematische Statistik</i> und <i>Stochastische Analysis</i>.-->
      </li>
     </ul>
     <p>
      <a href="https://www.math.uni-freiburg.de/personen/dozenten.html">
       <img alt="Dozenten und ihre Forschungsgebiete" src="https://www.math.uni-freiburg.de/lehre/bilder/Dozenten.jpg" style="width:20%; float:right;" title="Dozenten und ihre Forschungsgebiete"/>
      </a>
     </p>
     <p>
      Vertreten durch Kooperationen mit Mathematiker:inne:n aus anderen Fakultäten sind außerdem die Gebiete:
     </p>
     <ul>
      <li>
       Machine Learning und Big Data
      </li>
      <li>
       Medizinische Biometrie und Statistik
      </li>
      <li>
       Quantitative Finanzmarktforschung
      </li>
      <li>
       Systemtheorie, Regelungstechnik und Optimierung
      </li>
     </ul>
     <p>
      Detailliertere Informationen finden Sie auf der Seite:
      <br/>
      <a href="https://www.math.uni-freiburg.de/personen/dozenten.html">
       <b>
        Dozenten/Dozentinnen und ihre Schwerpunktgebiete
       </b>
       .
      </a>
