<div class="container">
  <br />
  <div id="formulare" defer="defer"><h3>Formulare</h3></div>
  <p>Bitte die Formulare nach Möglichkeit digital ausfüllen!</p>
  <ul>
    <li>
      <b> Abmeldung und Rücktritt von Prüfungen </b>
      <br />
      – Merkblatt
      <a
        href="{{url_for('static', filename = 'pruefungsamt/Merkblatt-Pruefungsabmeldung_und_Ruecktritt.pdf')}}"
      >
        alle Studiengänge
      </a>
      <br />
      – Abmeldeformular
      <a
        href="{{url_for('static', filename = 'pruefungsamt/formular-pruefungsabmeldung.pdf')}}"
      >
        alle Studiengänge
      </a>
      <br />
      – Antrag auf Genehmigung eines Rücktritts
      <a
        href="{{url_for('static', filename = 'pruefungsamt/formular-ruecktritt.pdf')}}"
      >
        alle Studiengänge
      </a>
    </li>
    <li>
      <b> Abschlussarbeit </b>
      <br />
      – Anmeldeformular
      <a
        href="{{url_for('static', filename = 'pruefungsamt/formular-vergabe_abschlussarbeit.pdf')}}"
      >
        alle Studiengänge
      </a>
      <br />
      – Muster-Titelblatt
      <a
        href="{{url_for('static', filename = 'pruefungsamt/Muster-Titelblatt.pdf')}}"
      >
        alle Studiengänge
      </a>
      <br />
      – Bestätigung der erfolgreichen Präsentation
      <a
        href="{{url_for('static', filename = 'pruefungsamt/formular-praesentation_abschlussarbeit.pdf')}}"
      >
        B.Sc. // M.Sc.
      </a>
    </li>
    <li>
      <b> Absolvent:inn:enfeier </b>
      <br />
      –
      <a
        href="{{url_for('static', filename = 'pruefungsamt/formular-absolventinnenfeier.pdf')}}"
      >
        Teilnahmeformular für alle Studiengänge
      </a>
    </li>
    <li>
      <b> Anerkennung und Anrechnung von Leistungen: </b>
      <br />
      – Anerkennungsformular
      <a
        href="{{url_for('static', filename = 'pruefungsamt/formular-anerkennung-2hfb.pdf')}}"
      >
        2-Hf.-B.
      </a>
      //
      <a
        href="{{url_for('static', filename = 'pruefungsamt/formular-anerkennung-bsc.pdf')}}"
      >
        B.Sc.
      </a>
      //
      <a
        href="{{url_for('static', filename = 'pruefungsamt/formulare/formular-anerkennung-med.pdf')}}"
      >
        M.Ed.
      </a>
      //
      <a
        href="{{url_for('static', filename = 'pruefungsamt/formular-anerkennung-med120.pdf')}}"
      >
        Erweiterungsfach 120 ECTS
      </a>
      //
      <a
        href="{{url_for('static', filename = 'pruefungsamt/formular-anerkennung-med90.pdf')}}"
      >
        90 ECTS
      </a>
      //
      <a
        href="{{url_for('static', filename = 'pruefungsamt/formular-anerkennung-msc.pdf')}}"
      >
        M.Sc.
      </a>
      <br />
      – Dokumentation erbrachter Studienleistungen für fachfremde Wahlmodule
      <a
        href="{{url_for('static', filename = 'pruefungsamt/formular-dokumentation_studienleistungen.pdf')}}"
      >
        B.Sc. // M.Sc.
      </a>
    </li>
    <li>
      <b> Anwendungsfächer im B.Sc. </b>
      <br />
      –
      <a
        href="{{url_for('static', filename = 'pruefungsamt/formular-anwendungsfach.pdf')}}"
      >
        Antrag auf Sonder-Anwendungfach
      </a>
      <br />
      –
      <a
        href="{{url_for('static', filename = 'pruefungsamt/Merkblatt-Sonderanwendungsfaecher.pdf')}}"
      >
        Merkblatt Sonder-Anwendungsfächer
      </a>
      <br />
      –
      <a
        href="{{url_for('static', filename = 'pruefungsamt/formular-pruefungsanmeldung_sonderanwendungsfach.pdf')}}"
      >
        Prüfungsanmeldung im Sonderanwendungsfach
      </a>
      <br />
      –
      <a
        href="{{url_for('static', filename = 'pruefungsamt/formular-anwendungsfach.pdf')}}"
      >
        Antrag auf Wechsel des Anwendungfachs
      </a>
      <br />
    </li>
    <li>
      <b> BAföG-Bescheinigungen nach dem 4. Semester: </b>
      <br />
      – Merkblatt
      <a
        href="{{url_for('static', filename = 'pruefungsamt/Merkblatt-BAfoeG.pdf')}}"
      >
        2-Hf.-B. // B.Sc.
      </a>
    </li>
    <li>
      <b> Prüfungen im Master </b>
      <br />
      – Zulassung zu den Prüfungen
      <a
        href="{{url_for('static', filename = 'pruefungsamt/formular-zulassung_pruefungen_master.pdf')}}"
      >
        M.Ed. (auch Erweiterungsfach) // M.Sc.
      </a>
      <br />
      – Anmeldeformular für mündliche Prüfung
      <a
        href="{{url_for('static', filename = 'pruefungsamt/formular-muendliche_pruefung_med.pdf')}}"
      >
        M.Ed. (auch Erweiterungsfach 120 ECTS)
      </a>
      //
      <a
        href="{{url_for('static', filename = 'pruefungsamt/formular-muendliche_pruefung_msc.pdf')}}"
      >
        M.Sc.
      </a>
    </li>
    <li>
      <b> Prüfungen per Video-Konferenz </b>
      <br />
      –
      <a
        href="{{url_for('static', filename = 'pruefungsamt/formular-alleStg-Datenschutzerklaerung_muendliche_Pruefung-2020.05.27.pdf')}}"
      >
        Datenschutzerklärung für alle Studiengänge
      </a>
    </li>
    <li>
      <b> Rücktritt aus Krankheitsgründen </b>
      siehe "Abmeldung und Rücktritt von Prüfungen"
    </li>
    <li>
      <b> Vorgezogene mündliche Prüfung </b>
      <br />
      – Antragsformular
      <a
        href="{{url_for('static', filename = 'formular-vorgezogene_pruefung.pdf')}}"
      >
        2-Hf.-B. // B.Sc. // M.Ed. als Erweiterungsfach
      </a>
    </li>
    <li>
      <b> Wiederholungsprüfung </b>
      <br />
      – Merkblatt
      <a
        href="{{url_for('static', filename = 'pruefungsamt/Merkblatt-Pruefungswiederholung-2HfB21.pdf')}}"
      >
        2-Hf.-B.
      </a>
      //
      <a
        href="{{url_for('static', filename = 'pruefungsamt/Merkblatt-Pruefungswiederholung-BSc21.pdf')}}"
      >
        B.Sc. (PO 2021)
      </a>
      //
      <a
        href="{{url_for('static', filename = 'pruefungsamt/Merkblatt-Pruefungswiederholung-BSc12.pdf')}}"
      >
        B.Sc. (PO 2012)
      </a>
      //
      <a
        href="{{url_for('static', filename = 'pruefungsamt/Merkblatt-Pruefungswiederholung-MEd18.pdf')}}"
      >
        M.Ed.
      </a>
      // Erweiterungsfach
      <a
        href="{{url_for('static', filename = 'pruefungsamt/Merkblatt-Pruefungswiederholung-MEH21.pdf')}}"
      >
        120 ECTS
      </a>
      //
      <a
        href="{{url_for('static', filename = 'pruefungsamt/Merkblatt-Pruefungswiederholung-MEB21.pdf')}}"
      >
        90 ECTS
      </a>
      //
      <a
        href="{{url_for('static', filename = 'pruefungsamt/Merkblatt-Pruefungswiederholung-MSc14.pdf')}}"
      >
        M.Sc.
      </a>
    </li>
  </ul>
</div>
