<div class="container" id="inhalt">
  <h1>Prüfungsverwaltung der Mathematik-Studiengänge</h1>
  <div class="accordion accordion-flush" id="accordionExample">
    <div class="accordion-item" id="allgemein">
      <h3 class="accordion-header" id="headerallgemein">
        <button
          aria-controls="allgemeinContent"
          aria-expanded="false"
          class="accordion-button"
          data-bs-target="#allgemeinContent"
          data-bs-toggle="collapse"
          type="button"
        >
          Prüfungsamt Mathematik (Geschäftsstelle der Fachprüfungsausschüsse
          Mathematik)
        </button>
      </h3>
      <div
        aria-labelledby="allgemeinContent"
        class="accordion-collapse collapse show"
        data-bs-parent="#accordionExample"
        id="allgemeinContent"
      >
        <div class="accordion-body" id="allgemeinContent">
          <p></p>
          <table style="width: 100%">
            <tr>
              <td style="vertical-align: top; text-align: right">
                Postanschrift:
              </td>
              <td style="width: 1%"></td>
              <td>
                Mathematisches Institut
                <br />
                Prüfungsamt
                <br />
                Ernst-Zermelo-Straße 1
                <br />
                79104 Freiburg im Breisgau
              </td>
            </tr>
            <tr>
              <td colspan="3"></td>
            </tr>
            <tr style="vertical-align: top; background-color: #e2e1dd">
              <td style="text-align: right">
                <b> Sekretariat: </b>
              </td>
              <td></td>
              <td>Anne Caffier, Esther Di Nunzio, Ramona Rabe</td>
            </tr>
            <tr>
              <td colspan="3"></td>
            </tr>
            <tr>
              <td style="vertical-align: top; text-align: right">Raum:</td>
              <td></td>
              <td>Ernst-Zermelo-Straße 1, Raum 333</td>
            </tr>
            <tr>
              <td style="vertical-align: top; text-align: right">Telefon:</td>
              <td></td>
              <td>+49 761 203-67682 oder +49 761 203-5576</td>
            </tr>
            <tr>
              <td style="vertical-align: top; text-align: right">E-Mail:</td>
              <td></td>
              <td>
                <a href="mailto:pruefungsamt@math.uni-freiburg.de">
                  pruefungsamt@math.uni-freiburg.de
                </a>
              </td>
            </tr>
            <tr style="vertical-align: top">
              <td style="text-align: right">Sprechzeiten:</td>
              <td></td>
              <td>
                Montag 13– 15 Uhr, Dienstag 9–11 Uhr und Donnerstag 9–11 Uhr
              </td>
              <!--<td>in der Regel Montag13&ndash; 15 Uhr, Dienstag 09&ndash;11 Uhr und Donnerstag 9&ndash;11 Uhr</td>-->
            </tr>
            <!--      <tr>
	<td></td><td></td>
	<td><b>Die Sprechstunde am Di, 05.12.23 entfällt. Ersatzsprechstunde Mi, 06.12.2023 von 10-12 Uhr.
	  </b> </td>
      </tr> -->
            <tr>
              <td></td>
              <td></td>
              <td>
                <i>
                  Während der Sprechzeiten sind wir telefonisch nicht immer
                  erreichbar. Sie können uns auch eine E-Mail mit Ihrem Anliegen
                  zusenden; wir beantworten diese sobald wie möglich.
                </i>
              </td>
            </tr>
            <tr>
              <td style="vertical-align: top; text-align: right">
                Zuständigkeiten:
              </td>
              <td></td>
              <td>
                Master of Education:
                <br />
                Ramona Rabe, Telefon +49 761 203-5574, erreichbar Di, Fr
                8–10 Uhr
              </td>
            </tr>
            <tr>
              <td style="vertical-align: top; text-align: right"></td>
              <td></td>
              <td>
                andere Studiengänge:
                <br />
                Anne Caffier, Esther Di Nunzio, Telefon siehe oben
              </td>
            </tr>
            <tr>
              <td colspan="3"></td>
            </tr>
            <tr style="background-color: #e2e1dd">
              <td style="vertical-align: top; text-align: right">
                <b> Leitung: </b>
              </td>
              <td></td>
              <td>Prof. Dr. Peter Pfaffelhuber</td>
            </tr>
            <tr>
              <td colspan="3"></td>
            </tr>
            <!-- <tr>
	<td style="vertical-align:top; text-align:right;">Raum:</td><td></td>
	<td>Ernst-Zermelo-Stra&szlig;e 1, Raum 233</td>
      </tr> -->
            <tr>
              <td style="vertical-align: top; text-align: right">
                Sprechstunde:
              </td>
              <td></td>
              <td>Donnerstag 9-10 Uhr in den Räumen des Prüfungsamts.</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>
                <b>
                  Am Donnerstag, den 01.02.2024, entfällt die Sprechstunde.
                </b>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>
                <i>
                  Sie können sich auch per E-Mail an das Prüfungsamt nach der
                  nächsten Sprechstunde erkundigen.
                </i>
              </td>
            </tr>
            <tr style="vertical-align: top; background-color: #e2e1dd">
              <td style="width: 20%; text-align: right">
                <b> Beratung: </b>
              </td>
              <td style="width: 1%"></td>
              <td>PD Dr. Markus Junker</td>
            </tr>
            <tr>
              <td colspan="3"></td>
            </tr>
            <tr>
              <td style="vertical-align: top; text-align: right">Raum:</td>
              <td></td>
              <td>Ernst-Zermelo-Straße 1, Raum 312</td>
            </tr>
            <tr>
              <td style="vertical-align: top; text-align: right">Telefon:</td>
              <td></td>
              <td>+49 761 203-5537</td>
            </tr>
            <tr>
              <td style="text-align: right">E-Mail:</td>
              <td></td>
              <td>
                <a href="mailto:studienberatung@math.uni-freiburg.de">
                  studienberatung@math.uni-freiburg.de
                </a>
              </td>
            </tr>
            <tr>
              <td style="vertical-align: top; text-align: right">
                Sprechstunde:
              </td>
              <td></td>
              <td>
                Aktuelle Sprechstunde auf der
                <a href="https://home.mathematik.uni-freiburg.de/junker/">
                  persönlichen Homepage
                </a>
                .
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>
                Weitere Beratungsangebote, insbesondere zentrale Anlaufstellen
                der Universität, finden Sie auf der Seite
                <a
                  href="https://www.math.uni-freiburg.de/lehre/studienberatung.html"
                >
                  Studienberatung Mathematik
                </a>
                .
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="accordion-item" id="vorsitz">
      <h3 class="accordion-header" id="headervorsitz">
        <button
          aria-controls="vorsitzContent"
          aria-expanded="false"
          class="accordion-button collapsed"
          data-bs-target="#vorsitzContent"
          data-bs-toggle="collapse"
          type="button"
        >
          Fachprüfungsausschüsse Mathematik
        </button>
      </h3>
      <div
        aria-labelledby="vorsitzContent"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
        id="vorsitzContent"
      >
        <div class="accordion-body" id="vorsitzContent">
          <p>
            Es gibt für jeden Mathematik-Studiengang einen eigenen
            Fachprüfungsausschuss mit teils unterschiedlicher Besetzung.
            Traditionell sind Vorsitz und stellvertretender Vorsitz in allen
            diesen Ausschüssen in Personalunion besetzt.
          </p>
          <p></p>
          <table style="width: 100%">
            <tr style="vertical-align: top; background-color: #e2e1dd">
              <td style="width: 20%; text-align: right">
                <b> Vorsitz: </b>
              </td>
              <td style="width: 1%"></td>
              <td>Prof. Dr. Peter Pfaffelhuber</td>
            </tr>
            <tr>
              <td colspan="3"></td>
            </tr>
            <tr>
              <td style="vertical-align: top; text-align: right">Raum:</td>
              <td></td>
              <td>Ernst-Zermelo-Straße 1, Raum 240</td>
            </tr>
            <tr>
              <td style="vertical-align: top; text-align: right">Telefon:</td>
              <td></td>
              <td>+49 761 203-5574</td>
            </tr>
            <tr>
              <td style="vertical-align: top; text-align: right">E-Mail:</td>
              <td></td>
              <td>
                <a href="mailto:pruefungsamt@math.uni-freiburg.de">
                  pruefungsamt@math.uni-freiburg.de
                </a>
              </td>
            </tr>
            <tr>
              <td style="vertical-align: top; text-align: right">
                Sprechstunde:
              </td>
              <td></td>
              <td>nach Vereinbarung</td>
            </tr>
            <tr>
              <td colspan="3"></td>
            </tr>
            <tr style="vertical-align: top; background-color: #e2e1dd">
              <td style="vertical-align: top; text-align: right">
                <b> Stellvertretung: </b>
              </td>
              <td></td>
              <td>
                Prof. Dr. Heike Mildenberger
                <br />
              </td>
            </tr>
            <tr>
              <td colspan="3"></td>
            </tr>
            <tr>
              <td style="vertical-align: top; text-align: right">Raum:</td>
              <td></td>
              <td>Ernst-Zermelo-Straße 1, Raum 240</td>
            </tr>
            <tr>
              <td style="vertical-align: top; text-align: right">Telefon:</td>
              <td></td>
              <td>+49 761 203-5574</td>
            </tr>
            <tr>
              <td style="vertical-align: top; text-align: right">E-Mail:</td>
              <td></td>
              <td>
                <a href="mailto:pruefungsamt@math.uni-freiburg.de">
                  pruefungsamt@math.uni-freiburg.de
                </a>
              </td>
            </tr>
            <tr>
              <td style="text-align: right">Sprechstunde:</td>
              <td></td>
              <td>nach Vereinbarung</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="accordion-item" id="dokumente">
      <h3 class="accordion-header" id="headerdokumente">
        <button
          aria-controls="dokumenteContent"
          aria-expanded="false"
          class="accordion-button"
          data-bs-target="#dokumenteContent"
          data-bs-toggle="collapse"
          type="button"
        >
          Offizielle Studiendokumente
        </button>
      </h3>
      <div
        aria-labelledby="dokumenteContent"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
        id="dokumenteContent"
      >
        <div class="accordion-body" id="dokumenteContent">
          <p></p>
          <ul>
            <li style="margin-bottom: 10px">
              <a
                href="https://www.jsl.uni-freiburg.de/Rechtsgrundlagen/corona-satzung"
              >
                Corona-Satzung
              </a>
            </li>
            <li style="margin-bottom: 10px">
              <a
                href="https://www.math.uni-freiburg.de/lehre/studiengaenge/modulhandbuecher.html"
              >
                Modulhandbücher
              </a>
              <br />
              mit den Anforderungen an Prüfungs- und Studienleistungen in den
              einzelnen Veranstaltungen
            </li>
            <li style="margin-bottom: 10px">
              <b> Prüfungsordnungen </b>
              :
              <ul>
                <li>
                  <a
                    href="https://www.studium.uni-freiburg.de/de/studienangebot/studienfaecher/info/303#collapse-Satzungen"
                  >
                    Bachelor of Science
                  </a>
                </li>
                <li>
                  <a
                    href="https://www.studium.uni-freiburg.de/de/studienangebot/studienfaecher/info/671#collapse-Satzungen"
                  >
                    Zwei-Hauptfächer-Bachelor
                  </a>
                </li>
                <li>
                  <a
                    href="https://www.studium.uni-freiburg.de/de/studienangebot/studienfaecher/info/715#collapse-Satzungen"
                  >
                    Master of Education
                  </a>
                  / als Erweiterungsfach
                  <a
                    href="https://www.studium.uni-freiburg.de/de/studienangebot/studienfaecher/info/747#collapse-Satzungen"
                  >
                    mit 120 ECTS-Punkten
                  </a>
                  /
                  <a
                    href="https://www.studium.uni-freiburg.de/de/studienangebot/studienfaecher/info/748#collapse-Satzungen"
                  >
                    mit 90 ECTS-Punkten
                  </a>
                </li>
        </div>
      </div>
    </div>
    <div class="accordion-item" id="pruefungsanmeldung">
      <h3 class="accordion-header" id="headerpruefungsanmeldung">
        <button
          aria-controls="pruefungsanmeldungContent"
          aria-expanded="false"
          class="accordion-button"
          data-bs-target="#pruefungsanmeldungContent"
          data-bs-toggle="collapse"
          type="button"
        >
          Prüfungsanmeldung
        </button>
      </h3>
      <div
        aria-labelledby="pruefungsanmeldungContent"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
        id="pruefungsanmeldungContent"
      >
        <div class="accordion-body" id="pruefungsanmeldungContent">
          <p></p>
          <ul>
            <!--      <li> <a href="https://www.math.uni-freiburg.de/aktuell/studinfo/">Aktuelle Informationen für Studierende</a> </li>  -->
            <li style="margin-bottom: 10px">
              <a
                href="https://wiki.uni-freiburg.de/campusmanagement/doku.php?id=hisinone:studieren:pruefung"
              >
                Anleitung zur Online-Prüfungsanmeldung
              </a>
              im HISinOne-Wiki
            </li>
            <li style="margin-bottom: 10px">
              <a href="termine.html">
                Anmeldefristen und Termine für Prüfungen in Mathematik
              </a>
            </li>
            <li style="margin-bottom: 10px">
              <a href="pruefungen.html">
                Informationen zur Prüfungsanmeldung in Mathematik
              </a>
            </li>
            <li>
              Studiengangspezifische Informationen zur Prüfungsanmeldung auf den
              Informationsseiten zu den einzelnen Studiengängen :
              <ul>
                <li>
                  <a
                    href="https://www.math.uni-freiburg.de/lehre/studiengaenge/bsc-2021.html"
                  >
                    Bachelor of Science
                  </a>
                  (PO 2021) /
                  <a
                    href="https://www.math.uni-freiburg.de/lehre/studiengaenge/bsc-2012.html"
                  >
                    Bachelor of Science
                  </a>
                  (PO 2012)
                </li>
                <li>
                  <a
                    href="https://www.math.uni-freiburg.de/lehre/studiengaenge/2hfb-2021.html"
                  >
                    Zwei-Hauptfächer-Bachelor
                  </a>
                  (PO 2021)
                </li>
                <li>
                  <a
                    href="https://www.math.uni-freiburg.de/lehre/studiengaenge/lehramt.html"
                  >
                    Lehramt nach GymPO
                  </a>
                  (PO 2010)
                </li>
                <li>
                  <a
                    href="https://www.math.uni-freiburg.de/lehre/studiengaenge/med-2018.html"
                  >
                    Master of Education
                  </a>
                  (PO 2018) /
                  <a
                    href="https://www.math.uni-freiburg.de/lehre/studiengaenge/med-erweiterung-2021.html"
                  >
                    Master of Education als Erweiterungsfach
                  </a>
                  (PO 2021)
                </li>
                <li>
                  <a
                    href="https://www.math.uni-freiburg.de/lehre/studiengaenge/msc-2014.html"
                  >
                    Master of Science
                  </a>
                  (PO 2014)
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item" id="zustaendig">
      <h3 class="accordion-header" id="headerzustaendig">
        <button
          aria-controls="zustaendigContent"
          aria-expanded="false"
          class="accordion-button"
          data-bs-target="#zustaendigContent"
          data-bs-toggle="collapse"
          type="button"
        >
          Wer ist wofür zuständig?
        </button>
      </h3>
      <div
        aria-labelledby="zustaendigContent"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
        id="zustaendigContent"
      >
        <div class="accordion-body" id="zustaendigContent">
          <p>
            Leistungsübersichten, Bescheinigungen für das BAFöG-Amt und
            Ähnliches können Sie per E-Mail an das Prüfungsamt oder während der
            Sprechzeiten des Prüfungsamtes beantragen. Die Dokumente werden dann
            nach Unterschrift per Post zugeschickt oder liegen zu den
            Öffnungszeiten zur Abholung bereit.
            <!--  In der Sprechstunde der Vorsitzenden der Prüfungsausschüsse sollten nur Dokumente beantragt werden,
	  die sofort gebraucht werden.
	   -->
          </p>
          <p></p>
          <table style="width: 100%">
            <tr style="vertical-align: top; background-color: #e2e1dd">
              <td colspan="2">
                <b> Anerkennungen </b>
              </td>
            </tr>
            <tr style="vertical-align: top">
              <td style="width: 55%">– Anerkennung von Leistungen</td>
              <td>
                Prof. Dr. Peter Pfaffelhuber
                <!--(Prüfungsausschussvorsitzende)-->
              </td>
            </tr>
            <tr style="vertical-align: top">
              <td>– nachzuholende Leistungen für M.Ed.</td>
              <td>
                <a
                  href="https://www.stochastik.uni-freiburg.de/mitarbeiter/hammerstein"
                >
                  Dr. Ernst August v. Hammerstein
                </a>
              </td>
            </tr>
            <tr style="vertical-align: top; background-color: #e2e1dd">
              <td colspan="2">
                <b> Beratung </b>
              </td>
            </tr>
            <tr style="vertical-align: top">
              <td>– allgemeine Beratung, auch in Prüfungsangelegenheiten</td>
              <td>
                <a href="https://home.mathematik.uni-freiburg.de/junker/">
                  PD Dr. Markus Junker
                </a>
                <!--(Studiengangkoordinator)-->
              </td>
            </tr>
            <tr style="vertical-align: top">
              <td>– Profillinie Finanzmathematik</td>
              <td>
                <a
                  href="https://www.stochastik.uni-freiburg.de/mitarbeiter/hammerstein"
                >
                  Dr. Ernst August v. Hammerstein
                </a>
                <!--(Studienfachberater Stochastik)-->
              </td>
            </tr>
            <tr style="vertical-align: top; background-color: #e2e1dd">
              <td colspan="2">
                <b> Bescheinigungen und Nachweise </b>
              </td>
            </tr>
            <tr style="vertical-align: top">
              <td>– BAföG-Bescheinigungen</td>
              <td>Prof. Dr. Peter Pfaffelhuber</td>
            </tr>
            <tr style="vertical-align: top">
              <td>– Beratungsnachweise für Studienfachwechsler</td>
              <td>
                <a href="https://home.mathematik.uni-freiburg.de/junker/">
                  PD Dr. Markus Junker
                </a>
                <br />
                auch
                <a
                  href="https://www.stochastik.uni-freiburg.de/mitarbeiter/hammerstein"
                >
                  Dr. Ernst August v. Hammerstein
                </a>
              </td>
            </tr>
            <tr style="vertical-align: top">
              <td>– Einstufungsmitteilungen</td>
              <td>
                Prof. Dr. Peter Pfaffelhuber
                <!--(Prüfungsausschussvorsitzende)-->
              </td>
            </tr>
            <tr style="vertical-align: top">
              <td>– Nachteilsausgleich</td>
              <td>Prof. Dr. Peter Pfaffelhuber</td>
            </tr>
            <tr style="vertical-align: top; background-color: #e2e1dd">
              <td colspan="2">
                <b> Bewerbungen für Studiengänge </b>
                (
                <i> keine Angelegenheit des Prüfungsamts! </i>
                )
              </td>
            </tr>
            <tr style="vertical-align: top">
              <td>– auswärtige Bewerbungen M.Ed.</td>
              <td>
                <a
                  href="https://www.stochastik.uni-freiburg.de/mitarbeiter/hammerstein"
                >
                  Dr. Ernst August v. Hammerstein
                </a>
              </td>
            </tr>
            <tr style="vertical-align: top">
              <td>– M.Sc.</td>
              <td>
                <a href="https://home.mathematik.uni-freiburg.de/junker/">
                  PD Dr. Markus Junker
                </a>
                <br />
              </td>
            </tr>
            <tr style="vertical-align: top">
              <td>– andere Studiengänge</td>
              <td>
                <a href="https://www.studium.uni-freiburg.de/de/beratung">
                  Zentrale Studienberatung
                </a>
              </td>
            </tr>
            <tr style="vertical-align: top; background-color: #e2e1dd">
              <td>
                <b> Einschreibung / Exmatrikulation </b>
              </td>
              <td>
                <a
                  href="https://www.studium.uni-freiburg.de/de/studierendenservices/studierendensekretariat"
                >
                  Studierendensekretariat
                </a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="accordion-item" id="AbisZ">
      <h3 class="accordion-header" id="headerAbisZ">
        <button
          aria-controls="AbisZContent"
          aria-expanded="false"
          class="accordion-button"
          data-bs-target="#AbisZContent"
          data-bs-toggle="collapse"
          type="button"
        >
          A bis Z
        </button>
      </h3>
      <div
        aria-labelledby="AbisZContent"
        class="accordion-collapse collapse show"
        data-bs-parent="#accordionExample"
        id="AbisZContent"
      >
        <div class="accordion-body" id="AbisZContent">
          <p></p>
          <ul>
            <li>
              Abmeldung von Prüfungen:
              <a href="pruefungen.html#plab"> allgemeine Informationen </a>
              und
              <a href="termine.html#abmeldung"> Abmeldefristen </a>
            </li>
            <li>
              <a href="abschlussarbeiten.html"> Abschlussarbeiten </a>
              , d.h. Bachelor-/Master-Arbeiten
            </li>
            <li>
              <a
                href="https://uni-freiburg.de/zuv/service/amtliche-bekanntmachungen/"
              >
                Amtliche Bekanntmachungen
              </a>
              der Albert-Ludwigs-Universität Freiburg
            </li>
            <li>
              Anmeldung von Prüfungen:
              <a href="pruefungen.html#plan"> allgemeine Informationen </a>
              und
              <a href="termine.html"> Anmeldefristen </a>
            </li>
            <li>
              Anwendungsfächer im B.Sc.-Studiengang:
              <a href="./merkblaetter/Merkblatt-Sonderanwendungsfaecher.pdf">
                Merkblatt für Sonder-Anwendungsfächer
              </a>
            </li>
            <li>Attest: siehe unter "Rücktritt"</li>
            <li>
              BAföG-Bescheinigungen in den Bachelor-Studiengängen Mathematik
              nach dem 4. Semester
              <a href="./merkblaetter/Merkblatt-BAfoeG.pdf"> (pdf) </a>
            </li>
            <li>
              Bachelor:
              <ul>
                <li>
                  <a
                    href="https://www.math.uni-freiburg.de/lehre/studiengaenge/bsc-2021.html"
                  >
                    Bachelor of Science
                  </a>
                  (PO 2021) /
                  <a
                    href="https://www.math.uni-freiburg.de/lehre/studiengaenge/bsc-2012.html"
                  >
                    Bachelor of Science
                  </a>
                  (PO 2012)
                </li>
                <li>
                  <a
                    href="https://www.math.uni-freiburg.de/lehre/studiengaenge/2hfb-2021.html"
                  >
                    Zwei-Hauptfächer-Bachelor
                  </a>
                  (PO 2021)
                </li>
                <li>Bachelor-Arbeiten: siehe "Abschlussarbeiten"</li>
              </ul>
            </li>
            <li>
              <a href="pruefungen.html#belegung">
                Belegung von Veranstaltungen
              </a>
            </li>
            <li>
              Campus-Management-System:
              <a href="https://campus.uni-freiburg.de"> HISinOne </a>
            </li>
            <!--      <li>
	Corona-Hinweise:
	<ul>
	  <li> <a href="https://www.uni-freiburg.de/universitaet/corona">Webseite der Universität zum Umgang mit der Corona-Pandemie</a> </li>
	  <li> <a href="https://uni-freiburg.de/universitaet/wp-content/uploads/sites/3/2020/10/Uni-Freiburg-Lesefassung-Corona-Satzung.pdf">Corona-Satzung der Universität (Fassung vom 02.05.2022)
	       </a> </li>
	  <li> <a href="dokumente/Corona-Regelungen_Pruefungen_im_Sommersemester-2022-2022.07.14.pdf">Regelungen zu den Mathematik-Prüfungen bis 30.09.2022</a> (pdf);
	    die vereinfachte Prüfungsabmeldung gilt durch die Corona-Satzung bis 31.03.2023, die Freiversuchsregelung ist am 30.09.2022 abgelaufen. </li>
	</ul>
      </li> -->
            <li>
              Datenschutz: Informationen nach Art. 13/14
              Datenschutzgrundverordnung (DSGVO) zur Datenverarbeitung im
              Prüfungsamt entnehmen Sie bitte
              <a
                href="https://www.studium.uni-freiburg.de/de/studierendenservices/immatrikulation/docs/Uni-Freiburg-Datenschutz-Informationen-Immatrikulation-Studium-Promotion.pdf"
              >
                diesem Dokument
              </a>
              .
            </li>
            <li>
              Fristen:
              <ul>
                <li>
                  Bewerbungsfristen Master (M.Ed./M.Sc.): 15. Juli bzw 15.
                  Januar (ohne Gewähr)
                </li>
                <li>
                  <a href="termine.html#termine">
                    allgemeine Informationen und Anmeldefristen
                  </a>
                </li>
                <li>
                  <a
                    href="https://www.studium.uni-freiburg.de/de/fristen-und-veranstaltungen/"
                  >
                    Termine und Fristen der Universität
                  </a>
                </li>
              </ul>
              siehe auch "Termine"
            </li>
            <li>
              <a href="https://campus.uni-freiburg.de"> HISinOne </a>
            </li>
            <li>
              Klausurplanung:
              <ul>
                <li>
                  <a href="klausurliste_oeff.html"> laufendes Semester </a>
                  (öffentlich)
                </li>
                <li>
                  <a
                    href="https://home.mathematik.uni-freiburg.de/intern/pruefungsamt/klausurliste.html"
                  >
                    weitere Planung
                  </a>
                  (intern und vorläufig)
                </li>
              </ul>
            </li>
            <li>Krankheit: siehe unter "Rücktritt"</li>
            <li>
              <a
                href="http://www.llpa-bw.de/,Lde/Startseite/Aussenstellen+des+LLPA/beim+Regierungspraesidium+Freiburg"
              >
                Landeslehrerprüfungsamt
              </a>
              (LLPA): mit u.a. Anmeldeformularen und
              <a href="http://www.llpa-bw.de/,Lde/831736"> Terminplänen </a>
              .
            </li>
            <li>
              Lehramt:
              <ul>
                <li>
                  Bachelor/Master: siehe unter "Bachelor:
                  Zwei-Hauptfächer-Bachelor" und "Master of Education"
                </li>
                <li>
                  <a
                    href="https://www.math.uni-freiburg.de/lehre/studiengaenge/lehramt.html"
                  >
                    Lehramt nach GymPO
                  </a>
                </li>
                <!-- <br> <a href="https://home.mathematik.uni-freiburg.de/pruefungsamt/dokumente/Aushang-AnaIII-Lehramt.pdf">Informationen</a> (pdf) zur Möglichkeit, Analysis III für Mehrfachintegrale im Lehramt nach GymPO anerkennen zu lassen.
	       <li>WPO: <a href="https://www.math.uni-freiburg.de/lehre/studiengaenge/lehramt-alt.html">Studiengang und Satzungen</a> </li> -->
              </ul>
            </li>
            <li>
              Master:
              <ul>
                <li>
                  <a
                    href="https://www.math.uni-freiburg.de/lehre/studiengaenge/med-2018.html"
                  >
                    Master of Education
                  </a>
                  (PO 2018)
                </li>
                <li>
                  <a
                    href="https://www.math.uni-freiburg.de/lehre/studiengaenge/med-erweiterung-2021.html"
                  >
                    Master of Education als Erweiterungsfach
                  </a>
                  (PO 2021)
                </li>
                <li>
                  <a
                    href="https://www.math.uni-freiburg.de/lehre/studiengaenge/msc-2014.html"
                  >
                    Master of Science
                  </a>
                  (PO 2014)
                </li>
                <li>Master-Arbeiten: siehe "Abschlussarbeiten"</li>
              </ul>
            </li>
            <li>
              <a
                href="https://www.math.uni-freiburg.de/lehre/studiengaenge/modulhandbuecher.html"
              >
                Modulhandbücher
              </a>
            </li>
            <li>
              Nachteilsausgleich: Informationen dazu auf
              <a
                href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/dokumente/Informationen_zum_Nachteilsausgleich-2022.07.08.pdf"
              >
                Deutsch
              </a>
              /
              <a
                href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/dokumente/Informationen_zum_Nachteilsausgleich-2022.09.30.engl.pdf"
              >
                Englisch
              </a>
            </li>
            <li>
              Ordnungen der Albert-Ludwigs-Universität Freiburg: siehe
              "Satzungen"
            </li>
            <li>Polyvalenter Zwei-Hauptfächer-Bachelor: siehe "Bachelor"</li>
            <li>
              <a href="https://www.math.uni-freiburg.de/lehre/promotion.html">
                Promotion
              </a>
            </li>
            <li>
              <a href="./prueferwuensche.html"> Prüferwünsche </a>
              für die mündlichen Prüfungen in Analysis und Linearer Algebra
            </li>
            <li>
              Prüfungen:
              <ul>
                <li>
                  Anmeldung:
                  <a href="pruefungen.html#plan"> allgemeine Informationen </a>
                  und
                  <a href="termine.html"> Anmeldefristen </a>
                </li>
                <li>
                  Abmeldung:
                  <a href="pruefungen.html#plab"> allgemeine Informationen </a>
                  und
                  <a href="termine.html#abmeldung"> Abmeldefristen </a>
                </li>
                <li>
                  <a href="pruefungen.html#plab"> Rücktritt </a>
                </li>
                <li>Prüfungstermine: siehe "Termine"</li>
              </ul>
            </li>
            <li>
              Prüfungsordnungen:
              <ul>
                <li>
                  <a
                    href="https://www.studium.uni-freiburg.de/de/studienangebot/studienfaecher/info/671#collapse-Satzungen"
                  >
                    Zwei-Hauptfächer-Bachelor
                  </a>
                </li>
                <li>
                  <a
                    href="https://www.studium.uni-freiburg.de/de/studienangebot/studienfaecher/info/303#collapse-Satzungen"
                  >
                    Bachelor of Science
                  </a>
                </li>
                <li>
                  <a
                    href="https://www.studium.uni-freiburg.de/de/studienangebot/studienfaecher/info/715#collapse-Satzungen"
                  >
                    Master of Education
                  </a>
                  – als Erweiterungsfach mit
                  <a
                    href="https://www.studium.uni-freiburg.de/de/studienangebot/studienfaecher/info/747#collapse-Satzungen"
                  >
                    120 ECTS-Punkten
                  </a>
                  /
                  <a
                    href="https://www.studium.uni-freiburg.de/de/studienangebot/studienfaecher/info/747#collapse-Satzungen"
                  >
                    90 ECTS-Punkten
                  </a>
                </li>
                <li>
                  <a
                    href="https://www.studium.uni-freiburg.de/de/studienangebot/studienfaecher/info/363#collapse-Satzungen"
                  >
                    Master of Science
                  </a>
                  <br />
                </li>
                <li>
                  Lehramt nach GymPO:
                  <a
                    href="https://www.math.uni-freiburg.de/lehre/dokumente/GymPO-2010.pdf"
                  >
                    GymPO (pdf)
                  </a>
                  und
                  <a
                    href="https://www.studium.uni-freiburg.de/de/studienangebot/studienfaecher/info/108#collapse-Satzungen"
                  >
                    Freiburger Studien- und Prüfungsordnung
                  </a>
                </li>
              </ul>
            </li>
            <li>
              Regeln wissenschaftlicher Redlichkeit:
              <a
                href="https://www.math.uni-freiburg.de/lehre/dokumente/Regeln_wiss_Redlichkeit.Mathematik.pdf"
              >
                Präsentation
              </a>
              (pdf)
            </li>
            <!--  <ul>
	    <li>"Zitieren in mathematischen Arbeiten" <a href="https://www.math.uni-freiburg.de/lehre/dokumente/Zitate_in_mathematischen_Arbeiten.pdf">(pdf)</a> </li>
	    <li>allgemeine Regelungen <a href="https://www.math.uni-freiburg.de/lehre/dokumente/Praesentation-Redlichkeit.pdf">(pdf)</a> </li>
      </ul>-->
            <li>
              Registrierung von Studienleistungen:
              <a href="pruefungen.html#slan"> allgemeine Informationen </a>
              und
              <a href="termine.html#termine"> Fristen </a>
            </li>
            <li>
              <a href="pruefungen.html#plab"> Rücktritt von Prüfungen </a>
            </li>
            <li>
              <a
                href="https://www.jsl.uni-freiburg.de/Rechtsgrundlagen_Satzungen"
              >
                Satzungen und Ordnungen der Albert-Ludwigs-Universität Freiburg
              </a>
            </li>
            <li>
              <a
                href="https://www.studium.uni-freiburg.de/de/fristen-und-veranstaltungen/"
              >
                Semestertermine
              </a>
              der Universität
            </li>
            <li>
              Staatsexamen: siehe "Lehramt nach GymPO" und
              "Landeslehrerprüfungsamt"
            </li>
            <li>
              <a
                href="https://www.math.uni-freiburg.de/lehre/studienberatung.html"
              >
                Studienberatung
              </a>
            </li>
            <li>Studienpläne: siehe beim jeweiligen Studiengang</li>
            <li>
              Termine:
              <ul>
                <li>
                  <a href="klausurliste_oeff.html">
                    Klausurplanung Mathematik laufendes Semester
                  </a>
                  (öffentlich)
                </li>
                <li>
                  <a
                    href="https://home.mathematik.uni-freiburg.de/intern/pruefungsamt/klausurliste.html"
                  >
                    Klausurplanung Mathematik zukünftige Semester
                  </a>
                  (intern und vorläufig)
                </li>
                <li>
                  <a
                    href="https://www.studium.uni-freiburg.de/de/fristen-und-veranstaltungen/"
                  >
                    Termine und Fristen der Universität
                  </a>
                </li>
              </ul>
              siehe auch "Fristen"
            </li>
            <li>
              <a
                href="https://www.studium.uni-freiburg.de/de/fristen-und-veranstaltungen/"
              >
                Vorlesungszeiten
              </a>
            </li>
            <li>
              <a
                href="https://www.jsl.uni-freiburg.de/informationen_fuer_studierende_web/zulassungsordnungen/zimmo.pdf"
              >
                Zulassungs- und Immatrikulationsordnung
              </a>
            </li>
            <li>Zwei-Hauptfächer-Bachelor: siehe "Bachelor"</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
