<div class="container" id="inhalt">
 <h1>
  Modulhandbücher Mathematik
 </h1>
 <p>
  <img alt="[In der Bibliothek]" src="https://www.math.uni-freiburg.de/i/Webseite-oben-schmal-alte_Buecher.jpg" style="width:100%;" title="In der Bibliothek (Foto: Martin Kramer, © Mathematisches Institut Freiburg)"/>
 </p>
 <div class="accordion accordion-flush" id="accordionExample">
  <div class="accordion-item" id="modul">
   <h3 class="accordion-header" id="headermodul">
    <button aria-controls="modulContent" aria-expanded="false" class="accordion-button" data-bs-target="#modulContent" data-bs-toggle="collapse" type="button">
     Modulhandbücher nach Studiengängen
    </button>
   </h3>
   <div aria-labelledby="modulContent" class="accordion-collapse collapse show" data-bs-parent="#accordionExample" id="modulContent">
    <div class="accordion-body" id="modulContent">
     <p>
     </p>
     <table>
      <tr>
       <td colspan="2">
        <b>
         Bachelor of Science
        </b>
       </td>
       <td>
        <a href="https://www.math.uni-freiburg.de/lehre/dokumente/mhb/Modulhandbuch-Mathematik-BSc21-2023.01.16.pdf">
         PO 2021
        </a>
       </td>
       <td>
        —
        <i>
         Stand: Januar 2022
        </i>
       </td>
       <!-- 
	     %% Fehler bei ECTS-Punkte von Numerik und Stochstik in Tabelle korrigiert
	     %% Prüfungsvoraussetzungen bei LA und Ana ins Modul evrschoben, da bei PL nicht mehr ausgegeben; PL ausgeblendet
	  -->
       <!--	<td><a href="https://www.math.uni-freiburg.de/lehre/dokumente/mhb/Modulhandbuch-Mathematik-BSc21-2022.05.23.pdf">PO 2021</a></td>
	<td>&nbsp;&mdash;&nbsp; <i>Stand: Mai 2022</i></td> -->
      </tr>
      <tr>
       <td>
       </td>
      </tr>
      <tr>
       <td colspan="2">
        <b>
         Master of Education
        </b>
        (*)
       </td>
       <td>
        <a href="https://www.math.uni-freiburg.de/lehre/dokumente/mhb/Modulhandbuch-Mathematik-MEd18-2022.05.21.pdf">
         PO 2018
        </a>
       </td>
       <td>
        —
        <i>
         Stand: Mai 2022
        </i>
       </td>
      </tr>
      <tr>
       <td>
       </td>
       <td>
        M.Ed. als Erweiterungs-„bei“-fach mit 90 ECTS-Punkten:
       </td>
       <td>
        <a href="https://www.math.uni-freiburg.de/lehre/dokumente/mhb/Modulhandbuch-Mathematik-MEB21-2022.05.22.pdf">
         PO 2021
        </a>
       </td>
       <td>
        —
        <i>
         Stand: Mai 2022
        </i>
       </td>
      </tr>
      <tr>
       <td>
       </td>
       <td>
        M.Ed. als Erweiterungs-„haupt“-fach mit 120 ECTS-Punkten:
       </td>
       <td>
        <a href="https://www.math.uni-freiburg.de/lehre/dokumente/mhb/Modulhandbuch-Mathematik-MEH21-2022.05.22.pdf">
         PO 2021
        </a>
       </td>
       <td>
        —
        <i>
         Stand: Mai 2022
        </i>
       </td>
      </tr>
      <tr>
       <td>
       </td>
      </tr>
      <tr>
       <td colspan="2">
        <b>
         Master of Science
        </b>
       </td>
       <td>
        <a href="https://www.math.uni-freiburg.de/lehre/dokumente/mhb/Modulhandbuch-Mathematik-MSc14-2022.05.21.pdf">
         PO 2014
        </a>
       </td>
       <td>
        —
        <i>
         Stand: Mai 2022
        </i>
       </td>
      </tr>
      <tr>
       <td>
       </td>
      </tr>
      <tr>
       <td colspan="2">
        <b>
         Polyvalenter Zwei-Hauptfächer-Bachelor
        </b>
       </td>
       <td>
        <a href="https://www.math.uni-freiburg.de/lehre/dokumente/mhb/Modulhandbuch-Mathematik-2HfB21-2022.05.22.pdf">
         PO 2021
        </a>
       </td>
       <td>
        —
        <i>
         Stand: Mai 2022
        </i>
       </td>
      </tr>
      <tr>
       <td colspan="3" style="text-align:right;">
        <a href="https://www.math.uni-freiburg.de/lehre/dokumente/mhb/Modulhandbuch-Mathematik-2HfB21_Optionsbereich-2022.05.22.pdf">
         Mathematik-Module im Optionsbereich
        </a>
       </td>
       <td>
        —
        <i>
         Stand: Mai 2022
        </i>
       </td>
      </tr>
     </table>
     Soweit die genauen Anforderungen an Prüfungs- und Studienleistungen nicht schon in den Prüfungs­ordnungen festgelegt sind,
      werden sie pro Semester, Veranstaltung und Modul in den unten folgenden „aktuellen Ergänzungen“ der Modulhandbücher beschrieben.
     <p>
      (*) Beim Modulhandbuch für den M.Ed.-Studiengang steht irrtümlich "(2. Fach bei Musik-/Kunsthochschule)".
	Das Modulhandbuch gilt auch für Fächerkombinationen mit einem zweiten wissenschaftlichen Fach an der Universität!
      <br/>
      Zur Korrektur müssteeine Programmierung in HISinOne geändert werden.
     </p>
    </div>
   </div>
  </div>
  <div class="accordion-item" id="aktuell">
   <h3 class="accordion-header" id="headeraktuell">
    <button aria-controls="aktuellContent" aria-expanded="false" class="accordion-button" data-bs-target="#aktuellContent" data-bs-toggle="collapse" type="button">
     Aktuelle Ergänzungen nach Semestern
    </button>
   </h3>
   <div aria-labelledby="aktuellContent" class="accordion-collapse collapse show" data-bs-parent="#accordionExample" id="aktuellContent">
    <div class="accordion-body" id="aktuellContent">
     <p>
      Die aktuelle Ergänzungen führen für alle Mathematik-Veranstaltungen eines Semesters die Verwendbarkeit für die verschiedenen Module der Mathematik-Studiengänge
      sowie die genauen Bedingungen an Studien- und Prüfungs­leistungen auf.
      Sie gelten für alle Mathematik-Studiengänge und werden jeweils kurz nach Vorlesungsbeginn veröffentlicht.
      Ab Wintersemester 2023/24 sind sie in das Kommentierte Vorlesungsverzeichnis integriert.
     </p>
     <p>
     </p>
     <table>
      <!--  <tr>
	<td> <b>Wintersemester 2024/25:</b> </td>
	<td></td>
	<td><a href="https://www.math.uni-freiburg.de/lehre/v/ws2425.pdf">pdf</a></td>
	<td>&ndash;</td>
	<td colspan="3"><a href="../dokumente/Verwendbarkeit_der_Mathematikveranstaltungen-Tabelle_WS24.pdf">Verwendbarkeitstabelle</a></td>
      </tr> -->
      <tr>
       <td>
        <b>
         Sommersemester 2024:
        </b>
       </td>
       <td>
       </td>
       <td>
        <!--<a href="https://www.math.uni-freiburg.de/lehre/v/ss24.pdf">pdf</a>-->
       </td>
       <td>
        –
       </td>
       <td colspan="3">
        <a href="../dokumente/Verwendbarkeit_der_Mathematikveranstaltungen-Tabelle_SS24.pdf">
         Verwendbarkeitstabelle
        </a>
       </td>
      </tr>
      <tr>
       <td>
        <b>
         Wintersemester 2023/24:
        </b>
       </td>
       <td>
       </td>
       <td>
        <a href="https://www.math.uni-freiburg.de/lehre/v/ws2324.pdf">
         pdf
        </a>
       </td>
       <td>
        –
       </td>
       <td colspan="3">
        <a href="../dokumente/Verwendbarkeit_der_Mathematikveranstaltungen-Tabelle_WS23.pdf">
         Verwendbarkeitstabelle
        </a>
       </td>
      </tr>
      <tr>
       <td>
        <b>
         Sommersemester 2023:
        </b>
       </td>
       <td>
       </td>
       <td>
        <a href="https://www.math.uni-freiburg.de/lehre/dokumente/modulhandbuch-mathe-ss23.pdf">
         pdf
        </a>
       </td>
       <td>
        –
       </td>
       <td colspan="3">
        <a href="../dokumente/Verwendbarkeit_der_Mathematikveranstaltungen-Tabelle_SS23.pdf">
         Verwendbarkeitstabelle
        </a>
       </td>
      </tr>
      <tr>
       <td>
        <b>
         Wintersemester 2022/23:
        </b>
       </td>
       <td>
       </td>
       <td>
        <a href="https://www.math.uni-freiburg.de/lehre/dokumente/modulhandbuch-mathe-ws22.pdf">
         pdf
        </a>
       </td>
       <td>
        –
       </td>
       <td>
        <a href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/modulhandbuch-mathe-ws22.html">
         Webversion
        </a>
       </td>
       <td>
        –
       </td>
       <td>
        <a href="../dokumente/Verwendbarkeit_der_Mathematikveranstaltungen-Tabelle_WS22.pdf">
         Verwendbarkeitstabelle
        </a>
       </td>
      </tr>
      <tr>
       <td>
        <b>
         Sommersemester 2022:
        </b>
       </td>
       <td>
       </td>
       <td>
        <a href="https://www.math.uni-freiburg.de/lehre/dokumente/modulhandbuch-mathe-ss22.pdf">
         pdf
        </a>
       </td>
       <td>
        –
       </td>
       <td>
        <a href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/modulhandbuch-mathe-ss22.html">
         Webversion
        </a>
       </td>
       <td>
        –
       </td>
       <td>
        <a href="../dokumente/Verwendbarkeit_der_Mathematikveranstaltungen-Tabelle_SS22.pdf">
         Verwendbarkeitstabelle
        </a>
       </td>
      </tr>
      <tr>
       <td>
        <b>
         Wintersemester 2021/22:
        </b>
       </td>
       <td>
       </td>
       <td>
        <a href="https://www.math.uni-freiburg.de/lehre/dokumente/modulhandbuch-mathe-ws21.pdf">
         pdf
        </a>
       </td>
       <td>
        –
       </td>
       <td>
        <a href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/modulhandbuch-mathe-ws21.html">
         Webversion
        </a>
       </td>
       <td>
        –
       </td>
       <td>
        <a href="../dokumente/Verwendbarkeit_der_Mathematikveranstaltungen-Tabelle_WS21.pdf">
         Verwendbarkeitstabelle
        </a>
       </td>
      </tr>
      <tr>
       <td>
        <b>
         Sommersemester 2021:
        </b>
       </td>
       <td>
       </td>
       <td>
        <a href="https://www.math.uni-freiburg.de/lehre/dokumente/modulhandbuch-mathe-ss21.pdf">
         pdf
        </a>
       </td>
       <td>
        –
       </td>
       <td>
        <a href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/modulhandbuch-mathe-ss21.html">
         Webversion
        </a>
       </td>
       <td>
        –
       </td>
       <td>
        <a href="../dokumente/Verwendbarkeit_der_Mathematikveranstaltungen-Tabelle_SS21.pdf">
         Verwendbarkeitstabelle
        </a>
       </td>
      </tr>
      <tr>
       <td>
        <b>
         Wintersemester 2020/21:
        </b>
       </td>
       <td>
       </td>
       <td>
        <a href="https://www.math.uni-freiburg.de/lehre/dokumente/modulhandbuch-mathe-ws20.pdf">
         pdf
        </a>
       </td>
       <td>
        –
       </td>
       <td>
        <a href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/modulhandbuch-mathe-ws20.html">
         Webversion
        </a>
       </td>
       <td>
        –
       </td>
       <td>
        <a href="../dokumente/Verwendbarkeit_der_Mathematikveranstaltungen-Tabelle_WS20.pdf">
         Verwendbarkeitstabelle
        </a>
       </td>
      </tr>
      <tr>
       <td>
        <b>
         Sommersemester 2020:
        </b>
       </td>
       <td>
       </td>
       <td>
        <a href="https://www.math.uni-freiburg.de/lehre/dokumente/modulhandbuch-mathe-ss20.pdf">
         pdf
        </a>
       </td>
       <td>
        –
       </td>
       <td>
        <a href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/modulhandbuch-mathe-ss20.html">
         Webversion
        </a>
       </td>
       <td>
        –
       </td>
       <td>
        <a href="../dokumente/Verwendbarkeit_der_Mathematikveranstaltungen-Tabelle_SS20.pdf">
         Verwendbarkeitstabelle
        </a>
       </td>
      </tr>
      <tr>
       <td>
        <b>
         Wintersemester 2019/20:
        </b>
       </td>
       <td>
       </td>
       <td>
        <a href="https://www.math.uni-freiburg.de/lehre/dokumente/modulhandbuch-mathe-ws19.pdf">
         pdf
        </a>
       </td>
       <td>
        –
       </td>
       <td>
        <a href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/modulhandbuch-mathe-ws19.html">
         Webversion
        </a>
       </td>
       <td>
        –
       </td>
       <td>
        <a href="../dokumente/Verwendbarkeit_der_Mathematikveranstaltungen-Tabelle_WS19.pdf">
         Verwendbarkeitstabelle
        </a>
       </td>
      </tr>
      <tr>
       <td>
        <b>
         Sommersemester 2019:
        </b>
       </td>
       <td>
       </td>
       <td>
        <a href="https://www.math.uni-freiburg.de/lehre/dokumente/modulhandbuch-mathe-ss19.pdf">
         pdf
        </a>
       </td>
       <td>
        –
       </td>
       <td>
        <a href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/modulhandbuch-mathe-ss19.html">
         Webversion
        </a>
       </td>
       <td>
        –
       </td>
       <td>
        <a href="../dokumente/Verwendbarkeit_der_Mathematikveranstaltungen-Tabelle_SS19.pdf">
         Verwendbarkeitstabelle
        </a>
       </td>
      </tr>
      <tr>
       <td>
        <b>
         Wintersemester 2018/19:
        </b>
       </td>
       <td>
       </td>
       <td>
        <a href="https://www.math.uni-freiburg.de/lehre/dokumente/modulhandbuch-mathe-ws18.pdf">
         pdf
        </a>
       </td>
       <td>
        –
       </td>
       <td>
        <a href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/modulhandbuch-mathe-ws18.html">
         Webversion
        </a>
       </td>
      </tr>
      <tr>
       <td>
        <b>
         Sommersemester 2018:
        </b>
       </td>
       <td>
       </td>
       <td>
        <a href="https://www.math.uni-freiburg.de/lehre/dokumente/modulhandbuch-mathe-ss18.pdf">
         pdf
        </a>
       </td>
       <td>
        –
       </td>
       <td>
        <a href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/modulhandbuch-mathe-ss18.html">
         Webversion
        </a>
       </td>
      </tr>
      <tr>
       <td>
        <b>
         Wintersemester 2017/18:
        </b>
       </td>
       <td>
       </td>
       <td>
        <a href="https://www.math.uni-freiburg.de/lehre/dokumente/modulhandbuch-mathe-ws17.pdf">
         pdf
        </a>
       </td>
       <td>
        –
       </td>
       <td>
        <a href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/modulhandbuch-mathe-ws17.html">
         Webversion
        </a>
       </td>
      </tr>
      <!--      <tr>
	<td> <b>Sommersemester 2017:</b> </td>
	<td></td>
	<td></td>
	<td></td>
	<td><a href="https://www.math.uni-freiburg.de/lehre/dokumente/modulhandbuch-mathe-ss17.pdf">pdf</a></td></tr>
      <tr>
	<td> <b>Wintersemester 2016/17:</b> </td>
	<td></td>
	<td></td>
	<td></td>
	<td><a href="https://www.math.uni-freiburg.de/lehre/dokumente/modulhandbuch-mathe-ws16.pdf">pdf</a></td>
      </tr> -->
     </table>
    </div>
   </div>
  </div>
  <div class="accordion-item" id="alt">
   <h3 class="accordion-header" id="headeralt">
    <button aria-controls="altContent" aria-expanded="false" class="accordion-button" data-bs-target="#altContent" data-bs-toggle="collapse" type="button">
     Frühere Modulhandbücher
    </button>
   </h3>
   <div aria-labelledby="altContent" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="altContent">
    <div class="accordion-body" id="altContent">
     <p>
     </p>
     <ul>
      <li>
       Zwei-Hauptfächer-Bachelor (PO 2015):
       <ul>
        <li>
         1. Fassung, letzter Stand:
         <a href="https://www.math.uni-freiburg.de/lehre/dokumente/Modulhandbuch-Mathematik-2HfB15-2016.09.pdf">
          September 2016
         </a>
        </li>
        <li>
         2. Fassung vom
         <a href="https://www.math.uni-freiburg.de/lehre/dokumente/Modulhandbuch-Mathematik-2HfB15-2019.12.pdf">
          Dezember 2019
         </a>
        </li>
       </ul>
      </li>
      <li>
       Bachelor of Science (PO 2008):
       <ul>
        <li>
         1. Fassung,
         <!-- <a href="https://www.math.uni-freiburg.de/lehre/dokumente/Modulhandbuch-Mathematik-BSc08-2011.07.pdf">Juli 2011</a>, 
	    <a href="https://www.math.uni-freiburg.de/lehre/dokumente/Modulhandbuch-Mathematik-BSc08-2012.01.pdf">Januar 2012</a> -->
         letzter Stand:
         <a href="https://www.math.uni-freiburg.de/lehre/dokumente/Modulhandbuch-Mathematik-BSc08-2012.01.pdf">
          November 2012
         </a>
        </li>
       </ul>
      </li>
      <li>
       Bachelor of Science (PO 2012)
       <ul>
        <li>
         1. Fassung, letzter Stand:
         <a href="https://www.math.uni-freiburg.de/lehre/dokumente/Modulhandbuch-Mathematik-BSc12-2015.06.pdf">
          Juni 2015
         </a>
        </li>
        <li>
         2. Fassung vom Juni 2016, letzter Stand:
         <a href="https://www.math.uni-freiburg.de/lehre/dokumente/Modulhandbuch-Mathematik-BSc12-2018.05.pdf">
          Mai 2018
         </a>
        </li>
        <li>
         3. Fassung vom
         <a href="https://www.math.uni-freiburg.de/lehre/dokumente/Modulhandbuch-Mathematik-BSc12-2019.12.pdf">
          Dezember 2019
         </a>
        </li>
       </ul>
      </li>
      <li>
       Lehramt – Staatsexamen (GymPO 2010)
       <ul>
        <li>
         1. Fassung, letzter Stand:
         <a href="https://www.math.uni-freiburg.de/lehre/dokumente/modulhandbuch-mathe-la-2010.pdf">
          Juli 2015
         </a>
        </li>
       </ul>
      </li>
      <li>
       Master of Education (PO 2018)
       <ul>
        <li>
         1. Fassung vom
         <a href="https://www.math.uni-freiburg.de/lehre/dokumente/Modulhandbuch-Mathematik-MEd18-2019.12.pdf">
          Dezember 2019
         </a>
        </li>
       </ul>
      </li>
      <li>
       Master of Science (PO 2014)
       <ul>
        <li>
         1. Fassung, letzter Stand:
         <a href="https://www.math.uni-freiburg.de/lehre/dokumente/Modulhandbuch-Mathematik-MSc14-2017.11.pdf">
          November 2017
         </a>
        </li>
        <li>
         2. Fassung vom
         <a href="https://www.math.uni-freiburg.de/lehre/dokumente/Modulhandbuch-Mathematik-MSc14-2019.12.pdf">
          Dezember 2019
         </a>
        </li>
       </ul>
      </li>
     </ul>
    </div>
   </div>
  </div>
 </div>
</div>
