{% extends config['skel_name'] %} {% block content0 %}

<h4 class="wp-block-heading">{{ config['titel'] }}</h4>
{% if data["vortrag"] != [] %}{% for v in data["vortrag"] %}
<p>
  {% if v["reihentitle"] != ""%} <strong>{{ v["reihentitel"] }}</strong><br />{%
  endif %} {{ v["tag"] }}, {{ v["datum"] }}, {{ v["startzeit"] }}{% if
  v["endzeit"] != v["startzeit"] %}-{{ v["endzeit"]}}{% endif %}, {{ v["ort"]
  }}<br />{% if v['url'] != "" %}<a href="{{ v['url']}}">{{ v["titel"] }}</a> {%
  else %}{{ v["titel"] }}{% endif %}<br />{{ v["sprecher"] }}{% if
  v["sprecher_affiliation"] != "" %} ({{ v["sprecher_affiliation"] }}) {% endif
  %}
</p>
{% endfor %} {% else %}
<p>Keine Veranstaltungen in den nächsten 14 Tagen.</p>
{% endif %} {% endblock %}
