{% extends 'skel.html' %} {% block content %}
<h1>News</h1>

<div
  class="[&amp;&gt;*]:bl-relative last:[&amp;&gt;*.bl-absolute]:bl-absolute [&amp;&gt;*]:bl-z-20 last:[&amp;&gt;*]:bl-z-10 bl-relative bl-overflow-x-clip [.wp-block-ufr-section_&amp;]:bl-overflow-x-visible bl-bg-identity-yellow bl-text-identity-black dark:bl-bg-identity-teal dark:bl-text-pure-white bl-py-[24px] alignfull wp-block-ufr-section has-global-padding is-layout-constrained wp-block-section-is-layout-constrained"
>
  <div class="wp-block-group is-layout-flex wp-block-group-is-layout-flex">
    {% for item in data["news"] %}

    <a
      class="bl-@container/teaser-news bl-bg-pure-white bl-text-identity-black dark:bl-bg-identity-black dark:bl-text-pure-white bl-group hover:bl-shadow-[8px_8px_15px_rgba(0,0,0,0.25)] bl-transition-all bl-duration-[400ms] hover:bl-text-identity-black active:bl-text-identity-black hover:dark:bl-text-pure-white active:dark:bl-text-pure-white bl-block bl-relative bl-self-stretch bl-min-w-full md:bl-min-w-[670px] xl:bl-min-w-[320px] !bl-no-underline hover:!bl-no-underline wp-block-ufr-teaser-news wp-container-content-1"
      href="{{ item['home']['url']}}"
    >
      <div class="bl-flex bl-flex-col bl-h-full @lg/teaser-news:!bl-flex-row">
        <div
          class="bl-w-full @lg/teaser-news:bl-min-w-[50%] @lg/teaser-news:bl-w-[50%] @2xl/teaser-news:bl-max-w-[774px]"
        >
          <img
            decoding="async"
            src="data:image/{{ item['mime'] }};base64, {{ item['image'][0]['data'] }}"
            alt=""
            class="bl-object-cover bl-w-full bl-inline-block bl-aspect-[3/2]"
            style='height: 15vw; {{ item["image"][0]["stylehome"] }};'
          />
        </div>

        <div
          class="bl-flex-grow bl-flex bl-flex-col bl-h-full bl-justify-between bl-px-[25px] bl-py-[20px] md:bl-px-[45px] md:bl-py-[40px] xl:bl-px-[55px] xl:bl-py-[50px] [overflow-wrap:anywhere]"
        >
          <div>
            <p
              class="bl-font-medium bl-text-inherit dark:bl-text-inherit bl-text-[1.125rem] bl-leading-[1.5625rem] md:bl-text-[1.25rem] md:bl-leading-[1.5625rem] xl:bl-text-[1.5625rem] xl:bl-leading-[2.1875rem] bl-m-0 bl-mb-4 xl:bl-mb-5"
            >
              <strong
                ><strong
                  ><strong
                    >{{ item['home']['title_de']|markdown }}</strong
                  ></strong
                ></strong
              >
            </p>
            <p
              class="bl-font-book bl-text-inherit dark:bl-text-inherit bl-text-[1rem] bl-leading-[1.375rem] md:bl-text-[1.125rem] md:bl-leading-[1.375rem] xl:bl-text-[1.375rem] xl:bl-leading-[2.0625rem] bl-m-0"
            >
              <strong>{{ item['home']['text_de']|markdown}}</strong>
            </p>
          </div>
          <div>
            {% if item['home']['url'] != ""%}
            <div
              class="bl-cursor-pointer bl-float-left rtl:bl-float-right bl-text-center bl-mt-[20px] xl:bl-mt-[30px] bl-inline-block bl-font-medium bl-text-[1.125rem] xl:bl-text-[1.25rem] bl-leading-[1.5625rem] bl-no-underline hover:bl-underline bl-decoration-[2px] bl-transition-colors bl-duration-[400ms] bl-px-[26px] xl:bl-px-[32px] bl-py-[7.5px] xl:bl-py-[12.5px] focus-visible:bl-outline-dotted focus-visible:bl-outline-2 bl-outline-offset-[6px] xl:bl-outline-offset-[7px] bl-hyphens-manual bl-bg-identity-black bl-text-pure-white hover:bl-text-pure-white hover:bl-bg-identity-blue-80 active:bl-bg-identity-blue !bl-outline-identity-black dark:bl-bg-pure-white dark:bl-text-identity-black dark:hover:bl-text-identity-black dark:hover:bl-bg-identity-yellow-40 dark:active:bl-bg-identity-yellow dark:!bl-outline-pure-white"
            >
              Mehr erfahren
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </a>

    {% endfor %}
  </div>
</div>
{% endblock %}
