{% extends config['skel_name'] %} {% block content %}
<h4>News aus dem Mathematischen Institut</h4>
<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
<h4 class="wp-block-heading"><strong>Aktuelle Informationen und Nachrichten</strong></h4>

{% for item in data["news"] %}
<h5 class="wp-block-heading"><strong>{{ item['home']['title_de']|markdown }}</strong> </h5>
<p>{{ item['home']['text_de']|markdown}}
  {% if item['link'] != "" %} <a href="{{ item['link'] }}">Mehr&#8230;</a>{% endif %}</p>
<div style="height:5px" aria-hidden="true" class="wp-block-spacer"></div>
<figure class="wp-block-image alignleft size-full is-resized"><img decoding="async" width="166" height="249"
    src="data:image/{{ item['mime'] }};base64, {{ item['image'][0]['data'] }}" alt="UB Universität Freiburg"
    class="wp-image-1370" style="width:95px;height:auto" /></figure>

{% endfor %}

</div>
{% endblock %}