{% extends config['skel_name'] %} {% block content %}
<h1>{{ config['titel'] }}</h1>
{% for k1 in data %}

<h2 class="wp-block-heading">{{ k1["gruppe"] }}</h2>

<figure class="wp-block-table is-style-regular"><table class="has-fixed-layout"><tbody>
{% for p in k1["members"] %}
<tr><td>{{ p["name_titel"] | safe }}<br>E-Mail: {% for m in p["mails"] %}<a href="mailto:{{ m }}">{{ m }}</a>{% if not loop.last %}, {% endif %}{% endfor %}{% if p["kommentar"] != "" %}<br>{{ p["kommentar"] | safe }}{% endif %}</td><td class="has-text-align-center" data-align="center">{% for t in p["tels"] %}Tel: 0761 / 203 {{ t }}{% if not loop.last %}<br>{% endif %}{% endfor %}</td><td class="has-text-align-left" data-align="left">{% for r in p["raeume"] %}Raum: {{ r }}{% if not loop.last %}<br>{% endif %}{% endfor %}</td></tr>
{% endfor %}
</tbody></table></figure>
{% endfor %}

<div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
{% endblock %}
