<div class="container" id="inhalt">
 <h1>
  Informationen für Studieninteressierte: Mathestudium in Freiburg
 </h1>
 <p>
  <img alt="[Studierende vorm Mathematischen Institut]" src="https://www.math.uni-freiburg.de//i/Webseite-oben-Studierende_vorm_Mathematischen_Institut.jpg" style="width:100%;" title="Studierende vorm Mathematischen Institut 
(Foto: Martin Kramer, © Mathematisches Institut Freiburg)"/>
 </p>
 <p>
 </p>
 <p>
  Zurück zur Überblicksseite „
  <a href="/lehre/studieninteresse.html">
   Informationen für Studieninteressierte
  </a>
  “.
 </p>
 <div id="accordion">
 </div>
 <div class="accordion accordion-flush" id="accordionExample">
  <div class="accordion-item" id="_studiengaenge">
   <h3 class="accordion-header" id="header_studiengaenge">
    <button aria-controls="_studiengaengeContent" aria-expanded="false" class="accordion-button collapsed" data-bs-target="#_studiengaengeContent" data-bs-toggle="collapse" type="button">
     Welche Studiengänge gibt es?
    </button>
   </h3>
   <div aria-labelledby="_studiengaengeContent" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="_studiengaengeContent">
    <div class="accordion-body" id="studiengaengeContent">
     <p>
      Für den
      <b>
       Studienanfang
      </b>
      gibt es zwei Bachelor-Studiengänge in Mathematik.
  Bei beiden beginnt das Studium im Wintersemester. Ein Wechsel ist innerhalb der ersten
  ein, zwei Jahre gut möglich, da sie eine große Überschneidung im Studienprogramm in Mathematik haben.
     </p>
     <ul>
      <li>
       <a href="/lehre/studiengaenge/bsc-2021.html">
        <b>
         Bachelor of Science
        </b>
       </a>
       <br style="margin-bottom:5px;"/>
       – Mathematik als „großes“ Hauptfach mit Bachelor-Arbeit (
       <i>
        mind. 120 Leistungspunkte
       </i>
       )
       <br/>
       – Anwendungsfach, Wahlbereich und Schlüsselqualifikationen (
       <i>
        je ca. 20 Leistungspunkte
       </i>
       )
      </li>
      <li style="margin-top:10px;">
       <b>
        <a href="/lehre/studiengaenge/2hfb-2021.html">
         Polyvalenter Zwei-Hauptfächer-Bachelor
        </a>
        (mit oder ohne Lehramtsoption)
       </b>
       <br style="margin-bottom:5px;"/>
       – Mathematik und ein weiteres Fach als „kleine“ Hauptfächer (
       <i>
        jeweils 75 Leistungspunkte
       </i>
       )
       <br/>
       – Bachelor-Arbeit in einem der Fächer (
       <i>
        10 Leistungspunkte
       </i>
       )
       <br/>
       – Wahlbereich (
       <i>
        20 Leistungspunkte
       </i>
       )
       <br style="margin-bottom:5px;"/>
       Die Lehramtsoption im Wahlbereich ermöglicht mit anschließendem Master of Education den Zugang zum Lehramt an Gymnasien.
      Für Mathematik als Drittfach im Lehramtsstudium siehe „Master of Education als Erweiterungsfach“ unten
      </li>
     </ul>
     <p>
      Für das
      <b>
       Weiterstudium
      </b>
      gibt es die beiden Studiengänge:
     </p>
     <ul>
      <li>
       <a href="/lehre/studiengaenge/msc-2014.html">
        <b>
         Master of Science
        </b>
       </a>
       <br style="margin-bottom:5px;"/>
       <i>
        Voraussetzung: Bachelor of Science in Mathematik oder gleichwertiger Abschluss oder Zwei-Hauptfächer-Bachelor mit Zusatzleistungen
       </i>
       <br style="margin-bottom:5px;"/>
       An den Master of Science kann sich eine
       <a href="https://www.math.uni-freiburg.de/lehre/promotion.html">
        <b>
         Promotion
        </b>
       </a>
       in Mathematik anschließen.
      </li>
      <li style="margin-top:10px;">
       <a href="/lehre/studiengaenge/med-2018.html">
        <b>
         Master of Education
        </b>
       </a>
       <br style="margin-bottom:5px;"/>
       <i>
        Voraussetzung: Zwei-Hauptfächer-Bachelor mit Lehramtsoption oder gleichwertiger Abschluss
       </i>
      </li>
     </ul>
     <p>
      Für Mathematik als
      <b>
       Drittfach im Lehramtsstudium
      </b>
      gibt es den Studiengang:
     </p>
     <ul>
      <li>
       <a href="/lehre/studiengaenge/med-erweiterung-2021.html">
        <b>
         Master of Education als Erweiterungsfach
        </b>
       </a>
       <br style="margin-bottom:5px;"/>
       <i>
        Voraussetzung: ein Lehramts-Bachelor- oder Master-Studiengang in zwei weiteren Fächern wird parallel studiert oder ist bereits abgeschlossen.
       </i>
       <br style="margin-bottom:5px;"/>
       Wir empfehlen, das Erweiterungsfach parallel zum Zwei-Hauptfächer-Bachelor in den beiden anderen Fächern zu beginnen, aber frühestens im 3. Semester.
      </li>
     </ul>
    </div>
   </div>
  </div>
  <div class="accordion-item" id="_verlauf">
   <h3 class="accordion-header" id="header_verlauf">
    <button aria-controls="_verlaufContent" aria-expanded="false" class="accordion-button collapsed" data-bs-target="#_verlaufContent" data-bs-toggle="collapse" type="button">
     Studienverlauf
    </button>
   </h3>
   <div aria-labelledby="_verlaufContent" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="_verlaufContent">
    <div class="accordion-body" id="verlaufContent">
     <p>
      Beide Bachelor-Studiengänge beginnen mit grundlegenden Vorlesungen in
      <i>
       Analysis
      </i>
      und
      <i>
       Linearer Algebra
      </i>
      .
  Darauf aufbauend gibt es verpflichtende Einführungen in einige Teilgebiete der Mathematik,
  ergänzt durch ein Proseminar und Praktische Übungen (Computerübungen). 
  Im B.Sc.-Studiengang folgen mehrere weiterführende Wahlvorlesungen.
     </p>
     <p>
      <a href="https://www.math.uni-freiburg.de/lehre/studienverlauf-bsc.html">
      </a>
      <b>
       Beispielhafter Studienverlauf im Bachelor-of-Science-Studiengang Mathematik:
      </b>
     </p>
     <center>
      <img alt="Beispielhafter Studienverlauf im B.Sc-Studiengang Mathematik" src="https://www.math.uni-freiburg.de/lehre/bilder/BSc21.png" title="Beispielhafter Studienverlauf im B.Sc-Studiengang Mathematik" width="80%"/>
     </center>
     <p>
      Unter Beachtung der Vorkenntnisse kann man die Reihenfolge der Veranstaltungen umstellen,
  insbesondere in den höheren Semestern. Zusammen mit den Wahlmöglichkeiten bei Veranstaltungen
  ergeben sich so viele Freiheiten zur individuellen Studiengestaltung.
  Im Zwei-Hauptfächer-Bachelor-Studiengang sind die Studieninhalte dagegen weitgehend vorgeschrieben.
     </p>
     <p>
      <a href="https://www.math.uni-freiburg.de/lehre/studienverlauf-2hfb21.html">
      </a>
      <b>
       Beispielhafter Studienverlauf im Zwei-Hauptfächer-Bachelor-Studiengang Mathematik:
      </b>
     </p>
     <center>
      <img alt="Beispielhafter Studienverlauf im Zwei-Hauptfächer-Bachelor-Studiengang Mathematik" src="https://www.math.uni-freiburg.de/lehre/bilder/2HfB21-varianten.png" title="Beispielhafter Studienverlauf im Zwei-Hauptfächer-Bachelor-Studiengang Mathematik" width="80%"/>
     </center>
     <p>
      Abhängig vom zweiten Fach kann man entweder mit beiden Grunbdvorlesungen in Analysis und Linearer Algebra beginnen
  oder nur mit einer von beiden. Die weiterführenden Vorlesungen und Veranstaltungen bauen teilweise inhaltlich auf
  diesen Grundvorlesungen auf, können aber unter Berücksichtigung der notwendigen Vorkenntnisse beliebig auf die Semester verteilt werden.
     </p>
    </div>
   </div>
  </div>
  <div class="accordion-item" id="_schwerpunkte">
   <h3 class="accordion-header" id="header_schwerpunkte">
    <button aria-controls="_schwerpunkteContent" aria-expanded="false" class="accordion-button collapsed" data-bs-target="#_schwerpunkteContent" data-bs-toggle="collapse" type="button">
     Freiburger Schwerpunktgebiete
    </button>
   </h3>
   <div aria-labelledby="_schwerpunkteContent" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="_schwerpunkteContent">
    <div class="accordion-body" id="schwerpunkteContent">
     <p>
      Die Freiburger Mathematik teilt sich auf sechs Bereiche auf,
  die untereinander mehr oder weniger starke Berührungspunkte haben:
     </p>
     <ul>
      <li>
       <b>
        Mathematische Logik
       </b>
       formuliert unter anderem die axiomatischen Grundgesetze der Mathematik
      und untersucht die Beweisbarkeit mathematischer Aussagen.
       <!-- <br style="margin-bottom:3px;">
      In Freiburg insbesondere: <i>Mengenlehre</i> und <i>Modelltheorie</i>.-->
      </li>
      <li>
       <b>
        Algebra und Zahlentheorie
       </b>
       beschäftigt sich mit Zahlbereichen und ihren Verallgemeinerungen,
      insbesondere mit dem Ziel, Aussagen über die Lösbarkeit von Gleichungen zu gewinnen.
       <!--<br style="margin-bottom:3px;">
      In Freiburg insbesondere: <i>Algebraische Geometrie</i>,
      <i>Algebraische Zahlentheorie</i> und <i>Darstellungstheorie</i>.-->
      </li>
      <li>
       <b>
        Geometrie und Topologie
       </b>
       erforscht zum Beispiel Krümmungseigenschaften von Kurven und Flächen
      und ihrer höherdimensionalen Verallgemeinerungen.
       <!-- <br style="margin-bottom:3px;">
      In Freiburg insbesondere: <i>Differentialgeometrie</i>,
      <i>Differentialtopologie</i>, <i>Globale Analysis</i> und <i>Mathematische Physik (Quantenfeldtheorie)</i>.-->
      </li>
      <li>
       <b>
        Analysis
       </b>
       studiert Eigenschaften auch mehrwertiger Funktionen und Lösungen von Differentialgleichungen.
       <!--<br style="margin-bottom:3px;">
      In Freiburg insbesondere: <i>Funktionalanalysis</i>,
      <i>Partielle Differentialgleichungen</i> und <i>Variationsrechnung</i>.-->
      </li>
      <li>
       <b>
        Angewandte Analysis und Numerik
       </b>
       entwirft Verfahren zur systematischen, rechnerischen Lösung
      mathematischer Probleme.
       <!--<br style="margin-bottom:3px;">
      In Freiburg insbesondere: <i>Nichlineare Elastizität</i>, 
      <i>Numerik partieller Differentialgleichungen</i>, <i>Strömungsmechanik</i> und <i>Variationsprobleme</i>.-->
      </li>
      <li>
       <b>
        Stochastik und Statistik
       </b>
       modelliert zufällige Ereignisse und entwickelt Methoden
      zum optimalen Umgang mit zufälligen Ereignissen oder mit großen Datenmengen.
       <!--<br style="margin-bottom:3px;">
      In Freiburg insbesondere: <i>Biomathematik</i>, <i>Finanzmathematik</i>,
      <i>Mathematische Statistik</i> und <i>Stochastische Analysis</i>.-->
      </li>
     </ul>
     <p>
      <a href="https://www.math.uni-freiburg.de/personen/dozenten.html">
       <img alt="Dozenten und ihre Forschungsgebiete" src="https://www.math.uni-freiburg.de/lehre/bilder/Dozenten.jpg" style="width:20%; float:right;" title="Dozenten und ihre Forschungsgebiete"/>
      </a>
     </p>
     <p>
      Vertreten durch Kooperationen mit Mathematiker:inne:n aus anderen Fakultäten sind außerdem die Gebiete:
     </p>
     <ul>
      <li>
       Machine Learning und Big Data
      </li>
      <li>
       Medizinische Biometrie und Statistik
      </li>
      <li>
       Quantitative Finanzmarktforschung
      </li>
      <li>
       Systemtheorie, Regelungstechnik und Optimierung
      </li>
     </ul>
     <p>
      Detailliertere Informationen finden Sie auf der Seite:
      <br/>
      <a href="https://www.math.uni-freiburg.de/personen/dozenten.html">
       <b>
        Dozenten/Dozentinnen und ihre Schwerpunktgebiete
       </b>
       .
      </a>
     </p>
    </div>
   </div>
  </div>
 </div>
</div>
