<div class="container" id="inhalt">
  <h1>Typische Studienabläufe in den Schwerpunktgebieten</h1>
  <ul>
    <li>
      Auf dieser Seite sind typische Studienabläufe im B.Sc.- und im
      M.Sc.-Studiengang in den einzelnen Schwerpunktgebieten beschrieben,
      zusammen mit den üblichen Voraussetzungen für eine Abschlussarbeit. Siehe
      auch die
      <a
        href="{{url_for('static', filename='studienberatung/uebersicht-vorlesungen.pdf') }}"
      >
        Übersicht über die regelmäßig angebotenen Wahlvorlesungen in Mathematik.
      </a>
    </li>
    <li>
      Weitere Informationen zu den inhaltlichen Schwerpunkte der einzelnen
      Dozentinnen und Dozenten finden Sie auf den
      <a href="https://www.math.uni-freiburg.de/personen/dozenten.html">
        Personenseiten des Mathematischen Instituts
      </a>
      und den
      <a href="https://www.math.uni-freiburg.de/forschung/arbeitsgruppen.html">
        Seiten der einzelnen Arbeitsgruppen </a
      >.
    </li>
    <li>
      Im Zwei-Hauptfächer-Bachelor- und im M.Ed.-Studiengang passen die
      angegebenen Studienabläufe allerdings nicht. Bitte sprechen Sie bei
      Interesse mit einem der Dozenten.
    </li>
    <li>
      Bitte beachten Sie, dass nicht alle angegebenen Lehrveranstaltungen immer
      in jährlichem oder ganz regelmäßigem Rhythmus angeboten werden können.
    </li>
  </ul>
  <div id="accordion"></div>
  <!-- Verantwortlich für diese Seite: Markus Junker -->
  <div class="accordion accordion-flush" id="accordionExample">
    <div class="accordion-item" id="_algebra">
      <h3 class="accordion-header" id="header_algebra">
        <button
          aria-controls="_algebraContent"
          aria-expanded="false"
          class="accordion-button collapsed"
          data-bs-target="#_algebraContent"
          data-bs-toggle="collapse"
          type="button"
        >
          Algebra, Algebraische Geometrie, Arithmetische Geometrie,
          Zahlentheorie
        </button>
      </h3>
      <div
        aria-labelledby="_algebraContent"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
        id="_algebraContent"
      >
        <div class="accordion-body" id="algebraContent">
          <div class="row row-cols-md-6 row-cols-sm-4 row-cols-xs-2 g-3">
            <div class="col">
              <a
                href="https://home.mathematik.uni-freiburg.de/arithgeom/huber.html"
                class="link-dark"
              >
                <div class="card h-100">
                  <center>
                    <img
                      src="/static/Bilder/Dozenten/huber.jpg"
                      class="card-img-fluid img-fluid"
                      alt="..."
                      style="height: 16vw; object-fit: cover"
                    />
                  </center>
                  <div class="card-body">
                    <h3 class="h5">Annette Huber-Klawitter</h3>
                    <div class="card-text">
                      <p></p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col">
              <a href="https://cplx.vm.uni-freiburg.de/" class="link-dark">
                <div class="card h-100">
                  <center>
                    <img
                      src="/static/Bilder/Dozenten/kebekus.jpg"
                      class="card-img-fluid"
                      alt="..."
                      style="height: 16vw; object-fit: fill"
                    />
                  </center>
                  <div class="card-body">
                    <h3 class="h5">Stefan Kebekus</h3>
                    <div class="card-text">
                      <p></p>
                    </div>
                  </div></div
              ></a>
            </div>
            <div class="col">
              <a
                href="https://home.mathematik.uni-freiburg.de/soergel/"
                class="link-dark"
              >
                <div class="card h-100">
                  <center>
                    <img
                      src="/static/Bilder/Dozenten/soergel.jpg"
                      class="card-img-fluid"
                      alt="..."
                      style="height: 16vw; object-fit: cover"
                    />
                  </center>
                  <div class="card-body">
                    <h3 class="h5">Wolfgang Soergel</h3>
                    <div class="card-text">
                      <p></p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <p></p>
          <p>
            Das Schwerpunktgebiet beschäftigt sich mit Zahlbereichen und ihren
            Verallgemeinerungen, insbesondere mit dem Ziel, Aussagen über die
            Lösbarkeit von Gleichungen zu gewinnen. Aufgrund der breit
            gefächerten Interessen des Schwerpunktgebiets sind vielfältige
            Studienverläufe möglich. Die konkrete Gestaltung des Studiums kann
            jederzeit mit einem der Dozenten des Schwerpunktgebiets besprochen
            werden.
          </p>
          <p>
            Der Studienschwerpunkt bietet – neben Proseminaren und Seminaren –
            die folgenden Vorlesungen an:
          </p>
          <ul>
            <li>
              <i> Algebra und Zahlentheorie </i>
              (im Wintersemester)
            </li>
            <li>
              <i>
                Kommutative Algebra und Einführung in die algebraische Geometrie
              </i>
              (im Sommersemester)
            </li>
            <li>
              verschiedene weiterführende Vorlesungen, z.B.
              <i> Algebraische Zahlentheorie </i>
              (alle zwei Jahre im Sommersemester),
              <i> Darstellungstheorie </i>
              ,
              <i> Algebraische Geometrie </i>
              (unregelmäßig angeboten)
            </li>
          </ul>
          Hinzu kommen die auch zum Studienschwerpunkt Geometrie gehörenden
          Veranstaltungen:
          <ul>
            <li>
              <i> Funktionentheorie </i>
              (Wintersemester),
              <i> Topologie </i>
              (alle zwei Jahre im Sommersemester),
              <i> Differentialgeometrie </i>
              (Wintersemester)
            </li>
            <li>
              <i> Funktionentheorie II </i>
              (z.B. Riemannsche Flächen, Modulformen),
              <i> Algebraische Topologie </i>
              ,
              <i> Differentialtopologie </i>
              (unregelmäßig angeboten)
            </li>
          </ul>
          In der Regel bietet es sich an, die Veranstaltungen wie folgt zu
          durchlaufen:
          <h5>Bachelor</h5>

          <ul>
            <li>
              <i> Algebra und Zahlentheorie </i>
            </li>
            <li>
              <i>
                Kommutative Algebra und Einführung in die algebraische Geometrie
              </i>
            </li>
            <li>Seminar</li>
          </ul>
          <h5>Master</h5>
          <ul>
            <li>vertiefte Vorlesung aus der Algebra (auch mehrere)</li>
            <li>Seminar(e)</li>
            <li>
              Es sollte neben der Vertiefung auch die Basis erweitert werden,
              z.B. durch Nachholen von
              <i> Algebra und Zahlentheorie </i>
              ,
              <i> Kommutative Algebra </i>
              ,
              <i> Funktionentheorie </i>
              ,
              <i> Topologie </i>
              .
            </li>
          </ul>
          Die Vorlesung
          <i> Kommutative Algebra </i>
          kann auch ohne
          <i> Algebra und Zahlentheorie </i>
          gehört werden. Die vertieften Vorlesungen bauen in der Regel auf
          <i> Algebrau und Zahlentheorie </i>
          und/oder
          <i> Kommutative Algebra </i>
          auf. Ergänzende Kenntnisse können im angeleiteten Selbststudium (
          <i> Wissenschaftliches Arbeiten </i>
          ) erworben werden.
          <h5>Voraussetzungen</h5>
          <ul>
            <li>
              für eine Bachelor-Arbeit: in der Regel zwei Veranstaltungen
              (Vorlesungen, Proseminar, Seminare) aus dem Bereich des
              Studienschwerpunktes.
            </li>
            <li>
              für eine Master-Arbeit: zusätzlich zwei bis drei Veranstaltungen
              aus dem Bereich des Studienschwerpunktes.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item" id="_analysis">
      <h3 class="accordion-header" id="header_analysis">
        <button
          aria-controls="_analysisContent"
          aria-expanded="false"
          class="accordion-button collapsed"
          data-bs-target="#_analysisContent"
          data-bs-toggle="collapse"
          type="button"
        >
          Analysis
        </button>
      </h3>
      <div
        aria-labelledby="_analysisContent"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
        id="_analysisContent"
      >
        <div class="accordion-body" id="analysisContent">
          <div class="row row-cols-md-6 row-cols-sm-4 row-cols-xs-2 g-3">
            <div class="col">
              <a
                href="https://home.mathematik.uni-freiburg.de/kuwert/"
                class="link-dark"
              >
                <div class="card h-100">
                  <center>
                    <img
                      src="/static/Bilder/Dozenten/kuwert.jpg"
                      class="card-img-fluid"
                      alt="..."
                      style="height: 16vw; object-fit: contain"
                    />
                  </center>
                  <div class="card-body">
                    <h3 class="h5">Ernst Kuwert</h3>
                    <div class="card-text">
                      <p></p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col">
              <a
                href="https://home.mathematik.uni-freiburg.de/wang/"
                class="link-dark"
              >
                <div class="card h-100">
                  <center>
                    <img
                      src="/static/Bilder/Dozenten/wang.jpg"
                      class="card-img-fluid"
                      alt="..."
                      style="height: 16vw; object-fit: contain"
                    />
                  </center>
                  <div class="card-body">
                    <h3 class="h5">Guofang Wang</h3>
                    <div class="card-text">
                      <p></p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col">
                <a
                  href="#"
                  class="link-dark"
                >
                  <div class="card h-100">
                    <center>
                      <img
                        src="/static/Bilder/Dozenten/nn.png"
                        class="card-img-fluid"
                        alt="..."
                        style="height: 16vw; object-fit: contain"
                      />
                    </center>
                    <div class="card-body">
                      <h3 class="h5">NN</h3>
                      <div class="card-text">
                        <p></p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
          </div>
          <p></p>
          <p>
            Thema dieses Schwerpunktgebietes ist das Studium auch mehrwertiger
            Funktionen und Lösungen von Differentialgleichungen. Eine
            Spezialisierung im Bereich der
            <b> Analysis </b>
            beinhaltet in der Regel die folgenden Veranstaltungen. Alternative
            Studienabläufe besprechen Sie am besten mit einem der Dozenten des
            Schwerpunktgebiets.
          </p>
          <h5>Bachelor:</h5>
          <ul>
            <li>
              3. Semester:
              <i> Analysis III </i>
            </li>
            <li>
              4. Semester:
              <i> Funktionalanalysis </i>
            </li>
            <li>
              5. und 6. Semester: ein bis zwei weiterführende Vorlesung aus der
              Analysis wie
              <i> Einführung in Partielle Differentialgleichungen </i>
              ,
              <i> Partielle Differentialgleichungen </i>
              ,
              <i> Variationsrechnung </i>
              (alle unregelmäßig angeboten)
            </li>
            <li>6. Semester: Seminar und Bachelor-Arbeit</li>
          </ul>
          <h5>Master:</h5>
          (bei Beginn im Wintersemester; sonst entsprechende Umstellungen)
          <ul>
            <li>
              7. und 8. Semester: vertiefte Vorlesungen aus der Analysis wie
              <i> Geometrische Analysis </i>
              ,
              <i> Geometrische Maßtheorie </i>
              ,
              <i> Partielle Differentialgleichungen II </i>
              (alle unregelmäßig angeboten)
            </li>
            <li>8. und 9. Semester: jeweils ein Seminar</li>
            <li>10. Semester: Master-Arbeit</li>
          </ul>
          <p>
            Nützliche Ergänzungen im Bachelor- und Master-Studium sind die
            Vorlesungen
            <i> Kurven und Flächen </i>
            (alle zwei Jahre im Sommersemester),
            <i> Differentialgeometrie </i>
            und
            <i> Funktionentheorie </i>
            (beide Wintersemester).
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item" id="_numerik">
      <h3 class="accordion-header" id="header_numerik">
        <button
          aria-controls="_numerikContent"
          aria-expanded="false"
          class="accordion-button collapsed"
          data-bs-target="#_numerikContent"
          data-bs-toggle="collapse"
          type="button"
        >
          Angewandte Analysis und Numerik
        </button>
      </h3>
      <div
        aria-labelledby="_numerikContent"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
        id="_numerikContent"
      >
        <div class="accordion-body" id="numerikContent">
          <div class="row row-cols-md-6 row-cols-sm-4 row-cols-xs-2 g-3">
            <div class="col">
              <a
                href="https://aam.uni-freiburg.de/agba/index.html"
                class="link-dark"
              >
                <div class="card h-100">
                  <center>
                    <img
                      src="/static/Bilder/Dozenten/bartels.jpg"
                      class="card-img-fluid"
                      alt="..."
                      style="height: 16vw; object-fit: contain"
                    />
                  </center>
                  <div class="card-body">
                    <h3 class="h5">Sören Bartels</h3>
                    <div class="card-text">
                      <p></p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col">
              <a
                href="https://aam.uni-freiburg.de/agdo/index.html"
                class="link-dark"
              >
                <div class="card h-100">
                  <center>
                    <img
                      src="/static/Bilder/Dozenten/dondl.jpg"
                      class="card-img-fluid"
                      alt="..."
                      style="height: 16vw; object-fit: contain"
                    />
                  </center>
                  <div class="card-body">
                    <h3 class="h5">Patrick Dondl</h3>
                    <div class="card-text">
                      <p></p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col">
              <a
                href="https://aam.uni-freiburg.de/agru/index.html"
                class="link-dark"
              >
                <div class="card h-100">
                  <center>
                    <img
                      src="/static/Bilder/Dozenten/ruzicka.jpg"
                      class="card-img-fluid"
                      alt="..."
                      style="height: 16vw; object-fit: contain"
                    />
                  </center>
                  <div class="card-body">
                    <h3 class="h5">Michael Růžička</h3>
                    <div class="card-text">
                      <p></p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col">
              <a href="https://www.salimova.org/" class="link-dark">
                <div class="card h-100">
                  <center>
                    <img
                      src="/static/Bilder/Dozenten/salimova.jpg"
                      class="card-img-fluid"
                      alt="..."
                      style="height: 16vw; object-fit: contain"
                    />
                  </center>
                  <div class="card-body">
                    <h3 class="h5">Diyora Salimova</h3>
                    <div class="card-text">
                      <p></p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <p></p>
          <p>
            In diesem Schwerpunktegebiet werden Verfahren zur systematischen,
            rechnerischen Lösung mathematischer Probleme entworfen. Eine
            Spezialisierung im Bereich der
            <b> Angewandte Analysis / Numerik </b>
            beinhaltet in der Regel die folgenden Veranstaltungen. Alternative
            Studienabläufe besprechen Sie am besten mit der
            <a href="../studienberatung.html#abteil">
              Studienfachberatung der Abteilung für Angewandte Mathematik
            </a>
            oder einem der Dozenten des Schwerpunktgebiets.
          </p>
          <h5>Bachelor</h5>
          <ul>
            <li>
              3. Semester:
              <i> Analysis III </i>
              ,
              <i> Numerik I </i>
            </li>
            <li>
              4. Semester:
              <i> Funktionalanalysis </i>
              ,
              <i> Numerik II </i>
              ,
              <i> Numerik für Differentialgleichungen </i>
            </li>
            <li>
              5. Semester:
              <i>
                Einführung in die Theorie und Numerik für partielle
                Differentialgleichungen
              </i>
            </li>
            <li>6. Semester: Seminar und Bachelor-Arbeit</li>
          </ul>
          <h5>Master:</h5>
          (bei Beginn im Wintersemester; sonst entsprechende Umstellungen)
          <ul>
            <li>
              7. und 8. Semester: vertiefte Vorlesungen wie
              <i>
                Theorie und Numerik für partielle Differentialgleichungen – ...
              </i>
              ,
              <i> Nichtlineare Funktionalanalysis </i>
              (alle unregelmäßig angeboten)
            </li>
            <li>
              9. Semester: Spezialvorlesung oder
              <i> Wissenschaftliches Arbeiten </i>
              ; Seminar aus dem Schwerpunktgebiet
            </li>
            <li>10. Semester: Master-Arbeit</li>
          </ul>
          <p>
            Zu den numerisch orientierten Vorlesungen wird die Teilnahme an den
            dazu angebotenen Praktischen Übungen empfohlen. Den eher theoretisch
            interessierten Studierenden wird empfohlen, im 7.–9. Semester
            zusätzlich Vorlesungen zur Theorie partieller
            Differentialgleichungen zu hören.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item" id="_geometrie">
      <h3 class="accordion-header" id="header_geometrie">
        <button
          aria-controls="_geometrieContent"
          aria-expanded="false"
          class="accordion-button collapsed"
          data-bs-target="#_geometrieContent"
          data-bs-toggle="collapse"
          type="button"
        >
          Geometrie und Topologie
        </button>
      </h3>
      <div
        aria-labelledby="_geometrieContent"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
        id="_geometrieContent"
      >
        <div class="accordion-body" id="geometrieContent">
          <div class="row row-cols-md-6 row-cols-sm-4 row-cols-xs-2 g-3">
            <div class="col">
              <a
                href="https://home.mathematik.uni-freiburg.de/goette/"
                class="link-dark"
              >
                <div class="card h-100">
                  <center>
                    <img
                      src="/static/Bilder/Dozenten/goette.jpg"
                      class="card-img-fluid"
                      alt="..."
                      style="height: 16vw; object-fit: contain"
                    />
                  </center>
                  <div class="card-body">
                    <h3 class="h5">Sebastian Goette</h3>
                    <div class="card-text">
                      <p></p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col">
              <a
                href="https://home.mathematik.uni-freiburg.de/ngrosse/"
                class="link-dark"
              >
                <div class="card h-100">
                  <center>
                    <img
                      src="/static/Bilder/Dozenten/grosse.jpg"
                      class="card-img-fluid"
                      alt="..."
                      style="height: 16vw; object-fit: contain"
                    />
                  </center>
                  <div class="card-body">
                    <h3 class="h5">Nadine Große</h3>
                    <div class="card-text">
                      <p></p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <p></p>
          <p>
            erforscht zum Beispiel Krümmungseigenschaften von Kurven und Flächen
            und ihrer höherdimensionalen Verallgemeinerungen. Eine
            Spezialisierung im Bereich
            <b> Geometrie und Topologie </b>
            beinhaltet in der Regel die folgenden Veranstaltungen. Alternative
            Studienabläufe besprechen Sie am besten mit einem der Dozenten des
            Schwerpunktgebiets.
          </p>
          <h5>Bachelor</h5>
          <ul>
            <li>
              4. Semester:
              <i> Topologie </i>
              oder
              <i> Kurven und Flächen </i>
            </li>
            <li>
              5. Semester:
              <i> Differentialgeometrie </i>
            </li>
            <li>
              6. Semester:
              <i> Topologie </i>
              (falls nicht im 4. Semester gehört)
            </li>
            <li>5./6. Semester: Seminar und Bachelor-Arbeit</li>
          </ul>
          <h5>Master:</h5>
          (bei Beginn im Wintersemester; sonst entsprechende Umstellungen)
          <ul>
            <li>
              7.–9. Semester: ein bis zwei weiterführende Vorlesungen aus dem
              Schwerpunktgebiet, z.B.
              <i> Differentialgeometrie II </i>
              (in einer der verschiedenen Ausprägungen),
              <i> Differentialtopologie </i>
              ,
              <i> Algebraische Topologie </i>
              (alle unregelmäßig angeboten).
              <br />
              Alternativ zu einer Vorlesung: im 9. Semester
              <i> Wissenschaftliches Arbeiten </i>
              .
            </li>
            <li>
              8.–9. Semester: ein oder zwei Seminare aus dem Schwerpunktgebiet
            </li>
            <li>9.–10. Semester: Masterarbeit</li>
          </ul>
          <p>
            Nützliche Ergänzungen im Bachelor- und Masterstudium sind je nach
            Interesse:
            <i> Funktionentheorie </i>
            (Wintersemester), Vorlesungen aus der Analysis, Vorlesungen zur
            Algebraischen Geometrie und zu Lie-Gruppen, Vorlesungen zur
            Mathematischen Physik.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item" id="_logik">
      <h3 class="accordion-header" id="header_logik">
        <button
          aria-controls="_logikContent"
          aria-expanded="false"
          class="accordion-button collapsed"
          data-bs-target="#_logikContent"
          data-bs-toggle="collapse"
          type="button"
        >
          Mathematische Logik (Modelltheorie und Mengenlehre)
        </button>
      </h3>
      <div
        aria-labelledby="_logikContent"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
        id="_logikContent"
      >
        <div class="accordion-body" id="logikContent">
          <div class="row row-cols-md-6 row-cols-sm-4 row-cols-xs-2 g-3">
            <div class="col">
              <a
                href="https://home.mathematik.uni-freiburg.de/junker/"
                class="link-dark"
              >
                <div class="card h-100">
                  <center>
                    <img
                      src="/static/Bilder/Dozenten/junker.jpg"
                      class="card-img-fluid"
                      alt="..."
                      style="height: 16vw; object-fit: contain"
                    />
                  </center>
                  <div class="card-body">
                    <h3 class="h5">Markus Junker</h3>
                    <div class="card-text">
                      <p></p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col">
              <a
                href="https://home.mathematik.uni-freiburg.de/pizarro/"
                class="link-dark"
              >
                <div class="card h-100">
                  <center>
                    <img
                      src="/static/Bilder/Dozenten/pizarro.jpg"
                      class="card-img-fluid"
                      alt="..."
                      style="height: 16vw; object-fit: cover"
                    />
                  </center>
                  <div class="card-body">
                    <h3 class="h5">Amador Martin-Pizarro</h3>
                    <div class="card-text">
                      <p></p>
                    </div>
                  </div></div
              ></a>
            </div>
            <div class="col">
              <a
                href="https://home.mathematik.uni-freiburg.de/mildenberger/"
                class="link-dark"
              >
                <div class="card h-100">
                  <center>
                    <img
                      src="/static/Bilder/Dozenten/mildenberger.jpg"
                      class="card-img-fluid"
                      alt="..."
                      style="height: 16vw; object-fit: cover"
                    />
                  </center>
                  <div class="card-body">
                    <h3 class="h5">Heike Mildenberger</h3>
                    <div class="card-text">
                      <p></p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <p></p>
          <p>
            In der Mathematischen Logik formuliert man unter anderem die
            axiomatischen Grundgesetze der Mathematik und untersucht die
            Beweisbarkeit mathematischer Aussagen. Eine Spezialisierung im
            Bereich der
            <b> Mathematischen Logik </b>
            beinhaltet in der Regel die folgenden Veranstaltungen. Alternative
            Studienabläufe besprechen Sie am besten mit der
            <a href="../studienberatung.html#abteil">
              Studienfachberatung der Abteilung für Mathematische Logik
            </a>
            oder einem der Dozenten des Schwerpunktgebiets.
          </p>
          <h5>Bachelor</h5>
          <ul>
            <li>
              4. Semester:
              <i> Mathematische Logik </i>
            </li>
            <li>
              5. Semester: (je nach Angebot)
              <i> Mengenlehre </i>
              oder
              <i> Modelltheorie </i>
            </li>
            <li>6. Semester: Seminar und Bachelor-Arbeit</li>
          </ul>
          <p>
            Die Vorlesung
            <i> Mathematische Logik </i>
            ist die minimale Voraussetzung für eine Bachelor-Arbeit;
            wünschenswert ist dazu ein Seminar und/oder eine weitere Vorlesung
            aus dem Gebiet der Mathematischen Logik.
          </p>
          <p>
            In der Regel wechseln sich die Vorlesungen
            <i> Mengenlehre </i>
            und
            <i> Modelltheorie </i>
            im Wintersemester ab; manchmal werden auch beide gehalten. Im
            Sommersemester gibt es manchmal Fortsetzungsvorlesungen.
          </p>
          <h5>Master:</h5>
          (bei Beginn im Wintersemester; sonst entsprechende Umstellungen)
          <ul>
            <li>
              7. und 8. Semester:
              <br />
              Falls noch nicht im Bachelor gehört:
              <i> Mengenlehre </i>
              und/oder
              <i> Modelltheorie </i>
              und – sofern angeboten – weiterführende Vorlesungen aus dem
              Bereich der Mathematischen Logik, sonst Lesekurse.
              <br style="margin-bottom: 3px" />
              Ergänzend: weiterführende Vorlesungen aus der Reinen Mathematik,
              z.B.
              <i> Kommutative Algebra </i>
              ,
              <i> Topologie </i>
              ,
              <i> Algebraische Zahlentheorie </i>
            </li>
            <li>
              9. Semester:
              <i> Wissenschaftliches Arbeiten </i>
              (Lesekurs), Seminar aus dem Schwerpunktgebiet
            </li>
            <li>10. Semester: Master-Arbeit</li>
          </ul>
          <p>
            Nützliche Ergänzungen sind Anwendungen, zum Beispiel weiterführende
            Algebra, algebraische Geometrie, mengentheoretische Topologie.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item" id="_stochastik">
      <h3 class="accordion-header" id="header_stochastik">
        <button
          aria-controls="_stochastikContent"
          aria-expanded="false"
          class="accordion-button collapsed"
          data-bs-target="#_stochastikContent"
          data-bs-toggle="collapse"
          type="button"
        >
          Mathematische Stochastik und Finanzmathematik
        </button>
      </h3>
      <div
        aria-labelledby="_stochastikContent"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
        id="_stochastikContent"
      >
        <div class="accordion-body" id="stochastikContent">
          <div class="row row-cols-md-6 row-cols-sm-4 row-cols-xs-2 g-3">
            <div class="col">
              <a
                href="https://www.stochastik.uni-freiburg.de/professoren/criens"
                class="link-dark"
              >
                <div class="card h-100">
                  <center>
                    <img
                      src="/static/Bilder/Dozenten/criens.jpg"
                      class="card-img-fluid"
                      alt="..."
                      style="height: 16vw; object-fit: contain"
                    />
                  </center>
                  <div class="card-body">
                    <h3 class="h5">David Criens</h3>
                    <div class="card-text">
                      <p></p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col">
              <a
                href="https://www.stochastik.uni-freiburg.de/professoren/pfaffelhuber"
                class="link-dark"
              >
                <div class="card h-100">
                  <center>
                    <img
                      src="/static/Bilder/Dozenten/pfaffelhuber.jpg"
                      class="card-img-fluid"
                      alt="..."
                      style="height: 16vw; object-fit: contain"
                    />
                  </center>
                  <div class="card-body">
                    <h3 class="h5">Peter Pfaffelhuber</h3>
                    <div class="card-text">
                      <p></p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col">
              <a
                href="https://www.stochastik.uni-freiburg.de/professoren/rohde"
                class="link-dark"
              >
                <div class="card h-100">
                  <center>
                    <img
                      src="/static/Bilder/Dozenten/rohde.jpg"
                      class="card-img-fluid"
                      alt="..."
                      style="height: 16vw; object-fit: contain"
                    />
                  </center>
                  <div class="card-body">
                    <h3 class="h5">Angelika Rohde</h3>
                    <div class="card-text">
                      <p></p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col">
              <a
                href="https://www.stochastik.uni-freiburg.de/professoren/schmidt"
                class="link-dark"
              >
                <div class="card h-100">
                  <center>
                    <img
                      src="/static/Bilder/Dozenten/schmidt.jpg"
                      class="card-img-fluid"
                      alt="..."
                      style="height: 16vw; object-fit: contain"
                    />
                  </center>
                  <div class="card-body">
                    <h3 class="h5">Thorsten Schmidt</h3>
                    <div class="card-text">
                      <p></p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <p></p>
          <p>
            In der Stochastik modelliert man zufällige Ereignisse und entwickelt
            Methoden zum optimalen Umgang mit Zufall oder mit großen
            Datenmengen. Eine Spezialisierung im Bereich
            <b> Mathematische Stochastik und Finanzmathematik </b>
            beinhaltet in der Regel die folgenden Veranstaltungen. Alternative
            Studienverläufe besprechen Sie am besten mit der
            <a href="../studienberatung.html#abteil">
              Studienfachberatung der Abteilung für Mathematische Stochastik
            </a>
            oder einem der Dozenten des Schwerpunktgebiets.
          </p>
          <h5>Bachelor:</h5>
          <ul>
            <li>
              3. Semester:
              <i> Stochastik I </i>
              ,
              <i> Analysis III </i>
            </li>
            <li>
              4. Semester:
              <i> Wahrscheinlichkeitstheorie </i>
              <br style="margin-bottom: 3px" />
              Sinnvolle Ergänzungen sind
              <i> Stochastik II </i>
              und die
              <i> Praktische Übung Stochastik </i>
              .
            </li>
            <li>
              5. Semester:
              <i> Wahrscheinlichkeitstheorie II </i>
              (ehemals:
              <i> Stochastische Prozesse </i>
              )
            </li>
            <li>6. Semester: Seminar und Bachelor-Arbeit</li>
          </ul>
          <p>
            Die in der Vorlesung
            <i> Analysis III </i>
            vermittelte Maßtheorie ist ab
            <i> Wahrscheinlichkeitstheorie </i>
            notwendige Voraussetzung für das Verständnis der weiterführenden
            Stochastik-Vorlesungen. In der Regel wird die Maßtheorie in der
            Vorlesung
            <i> Wahrscheinlichkeitstheorie </i>
            kurz wiederholt.
          </p>
          <h5>Master:</h5>
          (bei Beginn im Wintersemester; sonst entsprechende Umstellungen)
          <ul>
            <li>
              7. Semester: Falls angeboten:
              <i> Mathematische Statistik </i>
            </li>
            <li>
              8. Semester:
              <i> Wahrscheinlichkeitstheorie III </i>
              (ehemals:
              <i> Stochastische Integration und Finanzmathematik </i>
              bzw.
              <i> Stochastische Analysis </i>
              )
            </li>
            <li>
              9. Semester:
              <i> Wissenschaftliches Arbeiten </i>
              (Lesekurs), Seminar aus dem Schwerpunktgebiet
            </li>
            <li>10. Semester: Master-Arbeit</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
