<div class="container" id="inhalt">
 <h1>
  Wegweiser für den Studienanfang im Fach Mathematik
 </h1>
 <p>
  <img alt="[Straßenschild Ernst-Zermelo-Straße]" src="https://www.math.uni-freiburg.de/i/Webseite-oben-Strassenschild.jpg" style="width:100%;" title="Straßenschild Ernst-Zermelo-Straße 
											(Foto: Markus Junker, © Mathematisches Institut Freiburg)"/>
 </p>
 <p>
  Sie haben sich für ein Mathematikstudium in Freiburg entschieden und haben sich in einen
  der beiden Bachelor-Studiengänge in Mathematik eingeschrieben
  (
  <a href="https://www.math.uni-freiburg.de/lehre/studiengaenge/bsc-2021.html">
   Bachelor of Science
  </a>
  oder
  <a href="https://www.math.uni-freiburg.de/lehre/studiengaenge/2hfb-2021.html">
   2-Hauptfächer-Bachelor
  </a>
  )
  oder in den
  <a href="https://www.math.uni-freiburg.de/lehre/studiengaenge/med-erweiterung-2021.html">
   Master of Ecucation als Erweiterungsfach
  </a>
  . 
  Was müssen Sie vor Studienbeginn nun tun?
 </p>
 <p>
  Die kurze Antwort lautet: 
  Kommen Sie bei Bedarf zum Vorkurs und unbedingt zur Einführungswoche, vorher müssen Sie in der Regel nichts tun.
  Einige typische Fragen werden auch hier beantwortet; weitere Fragen beantwortet bei Bedarf die
  <a href="https://www.math.uni-freiburg.de/lehre/studienberatung.html">
   Studienberatung
  </a>
  des Mathematischen Instituts
  oder die Studierenden der
  <a href="https://fachschaft-mathe-freiburg.de/">
   Fachschaft Mathematik
  </a>
  .
 </p>
 <div id="accordion">
 </div>
 <div class="accordion accordion-flush" id="accordionExample">
  <div class="accordion-item" id="_vorbereitung">
   <h3 class="accordion-header" id="header_vorbereitung">
    <button aria-controls="_vorbereitungContent" aria-expanded="false" class="accordion-button" data-bs-target="#_vorbereitungContent" data-bs-toggle="collapse" type="button">
     Vor dem Studium
    </button>
   </h3>
   <div aria-labelledby="_vorbereitungContent" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="_vorbereitungContent">
    <div class="accordion-body" id="vorbereitungContent">
     <p>
      <b style="font-size:105%;">
       Material
      </b>
      <br style="margin-bottom:7px;"/>
      Sie brauchen für das Mathematik-Studium zunächst nur Papier und Stifte, aber keinen Taschenrechner oder Formel­sammlung oder Ähnliches.
      Internetzugang ist extrem nützlich (es geht theoretisch auch über die PC-Pools der Uni); 
      im späteren Verlauf des Studiums wird ein eigener Computer sinnvoll sein.
      <br/>
      Eigene Bücher sind für den Studienbeginn nicht erforderlich:
      Skripte der Vorlesungen stehen häufig als pdf-Dateien zur Verfügung; 
      Lehrbücher können Sie in der Bibliothek ausleihen; über Ihren Account beim
      Rechenzentrum haben Sie zudem Zugang zu vielen mathematischen E-Books.
      <br/>
      Die wöchentlichen Übungsaufgaben erhalten Sie ebenfalls als pdf-Dateien
      (die Sie bei Bedarf auch im studentischen PC-Pool des Instituts ausdrucken können).
     </p>
     <p>
      <b style="font-size:105%;">
       Literatur
      </b>
      <br style="margin-bottom:7px;"/>
      Wer sich vor Vorlesungsbeginn schon ein wenig mit Mathematik und dem Mathematikstudium beschäftigen möchte,
      findet
      <a href="https://www.math.uni-freiburg.de/lehre/studieninteresse/literatur.html">
       auf dieser Seite
      </a>
      einige Buchempfehlungen.
     </p>
     <p>
      <b style="font-size:105%;">
       Wie kommt man an den Stundenplan?
      </b>
      <br style="margin-bottom:7px;"/>
      Den Stundenplan müssen Sie sich selbst zusammenstellen.
      Normalerweise reicht es, wenn Sie dies in der Woche vor Vorlesungsbeginn machen.
      Termine für Tutorate werden sogar erst in der ersten Vorlesungwoche festliegen.
      <br/>
      Zeiten und Räume finden Sie
     </p>
     <ul>
      <li>
       für Mathematikveranstaltungen am besten im
       <a href="https://www.math.uni-freiburg.de/lehre/v/index.html">
        Vorlesungsverzeichnis Mathematik
       </a>
       ,
      </li>
      <li>
       für alle universitären Lehrveranstaltungen im
       <a href="https://campus.uni-freiburg.de/qisserver/pages/cm/exa/coursecatalog/showCourseCatalog.xhtml?_flowId=showCourseCatalog-flow">
        Vorlesungsverzeichnis der Universität
       </a>
       in HISinOne.
      </li>
      <li>
       Wenn Sie nach einer konkreten Lehrveranstaltung suchen, ist die
       <a href="https://campus.uni-freiburg.de/qisserver/pages/startFlow.xhtml?_flowId=searchCourseNonStaff-flow&amp;_flowExecutionKey=e3s1">
        Veranstaltungssuche
       </a>
       hilfreicher.
      </li>
     </ul>
     <p>
      Alle Mathematik-Studiengänge bauen auf den Grundvorlesungen in Analysis und Linearer Algebra auf:
      <br/>
      „
      <i>
       Analysis I
      </i>
      “ und „
      <i>
       Lineare Algebra I
      </i>
      “ werden jedes Wintersemester,
      „
      <i>
       Analysis II
      </i>
      “ und „
      <i>
       Lineare Algebra II
      </i>
      “ jedes Sommersemester angeboten.
      Jede dieser Veranstaltungen besteht aus einer vierstündigen Vorlesung und einem zweistündigen Tutorat.
      <br/>
      Die Vorlesung
      <i>
       Lineare Algebra I
      </i>
      findet in der Regel montags und donnerstags und die Vorlesung
      <i>
       Analysis I
      </i>
      dienstags und mittwochs, jeweils von 8:15 bis 10 Uhr statt.
      Für die Tutorate gibt es eine Vielzahl von Terminen; die Anmeldung erfolgt in der Regel in der ersten Vorlesungswoche,
      wo man sich abhängig vom restlichen Stundenplan für ein passendes Tutorat eintragen kann.
      Die Tutorate werden von der Assistenz der Vorlesung organisiert, an die Sie sich bei Terminschwierigkeiten wenden können.
      (Wer Assistent/in ist, finden Sie im
      <a href="https://www.math.uni-freiburg.de/lehre/v/index.html">
       Vorlesungsverzeichnis Mathematik
      </a>
      ,
      die Kontraktdaten in unserem
      <a href="https://home.mathematik.uni-freiburg.de/personen/list">
       Personenverzeichnis
      </a>
      .)
     </p>
     <ul>
      <li>
       Im
       <a href="https://www.math.uni-freiburg.de/lehre/studiengaenge/bsc-2021.html">
        <b>
         Bachelor-of-Science-Studiengang Mathematik
        </b>
       </a>
       starten Sie in das Mathematikstudium mit den beiden Veranstaltungen „
       <i>
        Analysis I
       </i>
       “ und „
       <i>
        Lineare Algebra I
       </i>
       “.
	  Neben den Mathematikvenstaltungen sollten Sie auch eine Veranstaltung aus Ihrem Anwendungsfach besuchen und
	  zusätzlich evtl. ein fachfremdes Wahlmodul oder einen Ferienkurs am Zentrum für Schlüsselqualifikationen in der folgenden vorlesungsfreien Zeit.
      </li>
      <li>
       Studieren Sie Mathematik im
       <a href="https://www.math.uni-freiburg.de/lehre/studiengaenge/2hfb-2021.html">
        <b>
         Polyvalenten Zwei-Hauptfächer-Bachelor-Studiengang
        </b>
       </a>
       ,
	  können Sie entweder mit beiden Veranstaltungen „
       <i>
        Lineare Algebra I
       </i>
       “ und „
       <i>
        Analysis I
       </i>
       “ anfangen oder nur mit einer von beiden –
	  je nachdem, wann Ihre Veranstaltungen im zweiten Fach liegen und ob Sie am Anfang eher etwas mehr Mathematik machen möchten oder eher etwas mehr im Ihrem anderen Fach.
	  (Hinweise zu den verschiedenen Studienplanvarianten finden Sie
       <a href="https://www.math.uni-freiburg.de/lehre/studiengaenge/2hfb-2021.html#verlauf">
        hier
       </a>
       .)
       <br style="margin-bottom:5px;"/>
       Im Zwei-Hauptfächer-Studiengang kommen Pflichtveranstaltungen aus Ihrem anderen Hauptfach hinzu;
	  bei Wahl der Lehramtsoption evtl. auch die Vorlesung „
       <i>
        Einführung in die Bildungswissenschaften
       </i>
       “.
      </li>
      <li>
       Der Studiengang
       <a href="https://www.math.uni-freiburg.de/lehre/studiengaenge/med-erweiterung-2021.html">
        <b>
         Master of Ecucation als Erweiterungsfach
        </b>
       </a>
       (Mathematik als Drittfach) beginnt ebenfalls mir den Grundvorlesungen in Analysis und Linearer Algebra.
	  Sie studieren ihn am besten parallel zum Zwei-Hauptfächer-Bachelor-Studiengang in ihren beiden ersten Fächern,
	  sobald Sie die Orientierungsprüfung hinter sich haben. Üblicherweise haben Sie dann zunächst nur Zeit für eine der beiden Vorlesungen 
	  „
       <i>
        Lineare Algebra I
       </i>
       “ und „
       <i>
        Analysis I
       </i>
       “ und können sich an den Hinweisen zu den
       <a href="https://www.math.uni-freiburg.de/lehre/studiengaenge/2hfb-2021.html#verlauf">
        Studienplanvarianten für Mathematik im Zwei-Hauptfächer-Bachelor-Studiengang
       </a>
       orientieren.
       <!-- noch nicht übersetzt! -->
      </li>
     </ul>
     <p>
      <b style="font-size:105%;">
       Was kann / was sollte man vor Vorlesungsbeginn noch tun?
      </b>
      <br style="margin-bottom:7px;"/>
      Veranstaltungen, die Sie besuchen wollen, sollten Sie “belegen”,
      d.h. über das
      <a href="https://campus.uni-freiburg.de/">
       Campus-Management-System HISinOne
      </a>
      Ihren Teilnahmewunsch abgeben
      (Anleitung dazu im
      <a href="https://wiki.uni-freiburg.de/campusmanagement/doku.php">
       Wiki
      </a>
      ). 
      Fachfremde Veranstaltungen (vor allem an der Technischen Fakultät) sind teilweise erst nach Vorlesungsbeginn belegbar.
     </p>
     <p>
      Im
      <em>
       2-Hauptfächer-Bachelor
      </em>
      sollten Sie anhand des Stundenplan – anhängig von Ihrem zweiten Fach – prüfen
      welche Studienverlaufsplanvariante für Sie am besten in Frage kommt. Bei Problemen nehmen Sie bitte Kontakt mit der Studienberatung auf.
      Ansonsten müssen Sie nichts weiter tun.
     </p>
     <p>
      Im
      <em>
       1-Hauptfach-Bachelor
      </em>
      sollten Sie sich Gedanken über die Wahl des Anwendungsfachs machen.
      Informationen zum Anwendungsfach gibt es
      <a href="https://www.math.uni-freiburg.de/lehre/studiengaenge/bsc-2021.html#af">
       hier
      </a>
      .
      Falls Sie
     </p>
     <ul>
      <li>
       ein Sonder-Anwendungsfach studieren wollen, sollten Sie dies in der Woche vor Vorlesungsbeginn beantragen;
      </li>
      <li>
       Veranstaltungen im Anwendungsfach Biologie besuchen wollen, ist die vorherige Teilnahme an der „Allgemeinen Sicherheitsunterweisung“ nötig
	  (Online-Modul auf der Lernplattform
       <a href="https://ilias.uni-freiburg.de">
        ILIAS
       </a>
       unter
       <br/>
       <i>
        Magazin &gt; Semesterübergreifende Inhalte &gt; Fakultät für Biologie &gt; Informationen zum Studium
       </i>
       );
      </li>
      <li>
       im ersten Semester einen BOK-Kurs am Zentrum für Schlüsselqualifikationen belegen wollen,
	  müssen Sie sich ab Ende September/Anfang Oktober dazu online anmelden
	  (nähere Informationen und Fristen auf der
       <a href="https://www.zfs.uni-freiburg.de/">
        Internetseite des ZfS
       </a>
       ).
	  Die Anmeldung für Ferienkurse in der vorlesungsfreien Zeit zwischen Winter- und Sommersemester erfolgt später.
      </li>
     </ul>
    </div>
   </div>
  </div>
  <div class="accordion-item" id="_vorkurs">
   <h3 class="accordion-header" id="header_vorkurs">
    <button aria-controls="_vorkursContent" aria-expanded="false" class="accordion-button" data-bs-target="#_vorkursContent" data-bs-toggle="collapse" type="button">
     Vorkurs Mathematik
    </button>
   </h3>
   <div aria-labelledby="_vorkursContent" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="_vorkursContent">
    <div class="accordion-body" id="vorkursContent">
     <p>
      Das Mathematische Institut bietet in jedem Wintersemester (in der Regel zwei Wochen vor Vorlesungsbeginn) einen Vorkurs
      für die Studienanfänger:innen in Mathematik an.
      <!--(Studiengänge: <i>Bachelor of Science</i> in Mathematik, <i>Polyvalenter Zwei-Hauptfächer-Bachelor</i> in Mathematik und einem beliebigen weiteren Fach
      sowie <i>Master of Education</i> mit Mathematik als Erweiterungsfach). -->
      Dieser Vorkurs soll den Einstieg in das Mathematikstudium erleichtern, ist aber keine Voraussetzung für das Mathematikstudium.
      <br/>
      <i>
       Mathematikvorkurse für andere Studiengänge: siehe unten!
      </i>
     </p>
     <p>
      <b style="font-size:105%;">
       Termin
      </b>
     </p>
     <ul>
      <li>
       Montag, 2. Oktober und Mittwoch 4. bis Freitag 6. Oktober 2023, jeweils von 11 bis 16 Uhr mit Mittagspause.
       <br/>
       Er startet am 02.10. um 11 Uhr im Hörsaal Weismann-Haus (Albertstr. 21a – Nr. 29 im
       <a href="https://www.uni-freiburg.de/universitaet/universitaet-im-ueberblick/kontakt-und-wegweiser/lageplaene/institutsviertel">
        Lageplan
	    des Institutsviertels
       </a>
       ).
       <br/>
       Der Kurs kann auch nur teilweise besucht werden.
      </li>
     </ul>
     <p>
      <b style="font-size:105%;">
       Anmeldung
      </b>
     </p>
     <ul>
      <li>
       Eine vorherige Anmeldung über
       <i>
        kosmic
       </i>
       ist erwünscht:
       <a href="https://kosmic.uni-freiburg.de/login.php?target=crs_16737&amp;cmd=force_login&amp;lang=de">
        zur Anmeldung
       </a>
      </li>
     </ul>
     <!--<p>
	Die Anmeldung zum Vorkurs und insbesondere zu den &Uuml;bungsgruppen erfolgt über
	<a href="https://kosmic.uni-freiburg.de">kosmic.uni-freiburg.de</a> .
	Sie können sich in kosmic entweder mit ihrem Uni-Account einloggen, falls Sie
	schon einen haben, oder sich auch ohne Account registrieren.
	In Kosmic gibt es den Kurs <i>Vorkurs Mathematik für Mathematiker</i>,
	dieser wird ab Montag 27.09.21 online geschaltet sein.
    </p>-->
     <p>
      <b style="font-size:105%;">
       Material
      </b>
     </p>
     <ul>
      <li>
       Bitte bringen Sie Papier und Stift mit.
      </li>
     </ul>
     <p>
      <b style="font-size:105%;">
       Begleitprogramm der Fachschaft
      </b>
      <br style="margin-bottom:7px;"/>
      Im Anschluss an den Vorkurs bietet die Fachschaft ein Kennenlernprogramm an.
      Genauere Informationen folgen noch!
      <!--      <ul>
	<li> Dienstag: Kleingruppenführung durchs Institut (<i>Treffpunkt bei den Vorkursräumen</i>) </li>
	<li> Mittwoch: Mister X (<i>Treffpunkt: Foyer des Mathematischen Instituts</i>) </li>
	<li> Donnerstag: Speeddating zum Kennenlernen und Spiele (<i>Treffpunkt: Foyer des Mathematischen Instituts</i>) </li>
	<li> außerdem am Samstag 08.10.: Wanderung um 10 Uhr (<i>Treffpunkt vor dem Mathematischen Institut</i>) </li>
      </ul>-->
     </p>
     <p>
      <b style="font-size:105%;">
       Materialien aus den Vorkursen vergangener Jahre
      </b>
     </p>
     <ul>
      <li>
       <a href="https://home.mathematik.uni-freiburg.de/junker/skripte/Vorkurs-WS22.pdf">
        Notizen zum Vorkurs
       </a>
       vom Wintersemester 2022/23
      </li>
      <!--	<li> <a href="https://math.uni-freiburg.de/lehre/dokumente/Vorkurs-WS22-Aufgaben_Loesung.pdf">Lösungen zu den Übungsaufgaben</a> </li> -->
      <li>
       <a href="https://www.youtube.com/watch?v=Biod6FRh0VY">
        Videos
       </a>
       (YouTube) vom Wintersemester 2021/22
      </li>
      <li>
       <a href="https://www.youtube.com/watch?v=eV2IJIchf8o&amp;list=PLH2Mmq5HX7SzXN5shEwivl7c2LLg5nqSa">
        Videos
       </a>
       (YouTube) vom Wintersemester 2020/21
      </li>
      <li>
       <a href="https://www.stochastik.uni-freiburg.de/professoren/pfaffelhuber/inhalte/Vorkurs">
        Skript
       </a>
       vom Wintersemester 2020/21
      </li>
      <li>
       <a href="https://www.stochastik.uni-freiburg.de/professoren/pfaffelhuber/vorkurs-ws2019-aufgaben/at_download/file">
        Übungsaufgaben
       </a>
       vom Wintersemester 2019/20
      </li>
     </ul>
     <p>
      <b style="font-size:105%;">
       Mathematik-Vorkurse für andere Studiengänge
      </b>
      <br style="margin-bottom:7px;"/>
      Für Studierende anderer Studienfächer als Mathematik gibt es die folgenden Vorkurse:
     </p>
     <ul>
      <li>
       <a href="https://fachschaft.tf.uni-freiburg.de/erstsemester/mathevorkurs-1">
        Informatik
       </a>
      </li>
      <li>
       <a href="https://campus.uni-freiburg.de:443/qisserver/pages/startFlow.xhtml?_flowId=detailView-flow&amp;unitId=116148&amp;periodId=2479">
        diverse Naturwissenschaften
       </a>
       (Biologie, Geowissenschaften, Umweltnaturwissenschaften)
      </li>
      <li>
       <a href="https://campus.uni-freiburg.de:443/qisserver/pages/startFlow.xhtml?_flowId=detailView-flow&amp;unitId=10268&amp;periodId=2479">
        Physik
       </a>
      </li>
      <li>
       <a href="https://campus.uni-freiburg.de:443/qisserver/pages/startFlow.xhtml?_flowId=detailView-flow&amp;unitId=8443&amp;periodId=2479">
        Wirtschaftswissenschaften
       </a>
      </li>
     </ul>
     Studierende mit Fächerkombination Mathematik/Physik sollten vorzugsweise den Vorkurs der Physik besuchen
    </div>
   </div>
  </div>
  <div class="accordion-item" id="_beginn">
   <h3 class="accordion-header" id="header_beginn">
    <button aria-controls="_beginnContent" aria-expanded="false" class="accordion-button" data-bs-target="#_beginnContent" data-bs-toggle="collapse" type="button">
     Die ersten Wochen
    </button>
   </h3>
   <div aria-labelledby="_beginnContent" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="_beginnContent">
    <div class="accordion-body" id="beginnContent">
     <p>
     </p>
     <p>
      <b style="font-size:105%;">
       Wann und wo geht es mit dem Studium los?
      </b>
      <br style="margin-bottom:7px;"/>
      Beginn und Ende der Vorlesungszeiten jedes Semesters finden Sie
      <a href="https://www.studium.uni-freiburg.de/de/fristen-und-veranstaltungen/semester-und-vorlesungszeiten/">
       auf dieser Seite
      </a>
      .
     </p>
     <p>
      Die Erstsemester-Vorlesungen in Mathematik –
      <i>
       Analysis I
      </i>
      und
      <i>
       Lineare Algebra I
      </i>
      – starten am Montag bzw. Dienstag der ersten Vorlesungswoche um 8:15 Uhr.
      <!-- (wobei &bdquo;8&nbsp;Uhr&ldquo; im akademischen Sprachgebrauch bedeutet, dass die Veranstaltung üblicherweise um 8:15&nbsp;Uhr beginnt) -->
      Hörsaal ist in der Regel der „Rundbau“ (Nr. 28 im
      <a href="https://www.uni-freiburg.de/universitaet/universitaet-im-ueberblick/kontakt-und-wegweiser/lageplaene/institutsviertel">
       Lageplan
      </a>
      ).
     </p>
     <p>
      Für die Vorlesungen ist keine Anmeldung erforderlich, eine vorherige Belegung über das Campus-Managemenet-System HISinOne aber erwünscht. 
      In der jeweils ersten Vorlesungsstunde erhalten Sie alle relevanten Informationen.
      Insbesondere wird mitgeteilt, wie die Anmeldung zu den Übungen (Tutoraten) erfolgt.
      Für die Tutorate gibt es mehrere Alternativtermine; die Verteilung erfolgt mit oder nach der Anmeldung.
     </p>
     <p>
      <b style="font-size:105%;">
       Wo finden die Mathematik-Veranstaltungen statt?
      </b>
      <br style="margin-bottom:7px;"/>
      In den meisten Fällen in folgenden Räumen:
     </p>
     <table>
      <tr>
       <td>
        <i>
         HS = Hörsaal, SR = Seminarrraum
        </i>
       </td>
       <td>
        <i>
         Lageplan
        </i>
       </td>
       <td>
       </td>
       <td>
        <i>
         Adresse
        </i>
       </td>
      </tr>
      <tr>
       <td>
        – HS Rundbau
       </td>
       <td align="center">
        Nr. 28
       </td>
       <td>
       </td>
       <td>
        Albertstr. 21a
       </td>
      </tr>
      <tr>
       <td>
        – HS Weismann-Haus
       </td>
       <td align="center">
        Nr. 29
       </td>
       <td>
       </td>
       <td>
        Albertstr. 21
       </td>
      </tr>
      <tr>
       <td>
        – HS II
       </td>
       <td align="center">
        Nr. 13
       </td>
       <td>
       </td>
       <td>
        Albertstr. 23b
       </td>
      </tr>
      <tr>
       <td>
        – SR 119, 125, 127, 218, 318, 403, 404, 414
       </td>
       <td align="center">
        Nr. 2
       </td>
       <td>
       </td>
       <td>
        Ernst-Zermelo-Str. 1
       </td>
      </tr>
      <tr>
       <td>
        – SR 226
       </td>
       <td align="center">
        Nr. 16
       </td>
       <td>
       </td>
       <td>
        Hermann-Herder-Str. 10
       </td>
      </tr>
     </table>
     Zur Orientierung hilft der
     <a href="https://www.uni-freiburg.de/universitaet/universitaet-im-ueberblick/kontakt-und-wegweiser/lageplaene/institutsviertel">
      Lageplan
     </a>
     des Institutsviertels. Die Adresse allein ist oft nicht sehr hilfreich, da die Hörsäle nicht direkt an der Straße liegen.
     <p>
      <b style="font-size:105%;">
       Wie funktioniert die Tutoratseinteilung und was kann man bei Terminschwierigkeiten tun?
      </b>
      <br style="margin-bottom:7px;"/>
      Zu jeder Vorlesung gibt es einen Assistenten/eine Assistentin, der/die sich um alle organisatorischen Fragen kümmert und an den/die Sie sich bei Problemen wenden können,
      insbesondere wenn es Terminschwierigkeiten bei den Tutoraten gibt. Wer Assistent:in ist,
      ist im
      <a href="https://www.math.uni-freiburg.de/lehre/v/index.html">
       Vorlesungsverzeichnis des Mathematischen Instituts
      </a>
      bei jeder Vorlesung vermerkt.
     </p>
     <p>
      Die Assistent:inn:en organisieren auch die Verteilung der Studierenden auf die Übungsgruppen/Tutorate.
      Meistens wird dazu das Campus-Management-System HISinOne benutzt,
      in dem Sie sich innerhalb einer gewissen Frist online zu einem Wunschtermin anmelden können ("belegen"),
      sofern noch Plätze in dem Tutorat frei sind. Die Frist läuft in der Regel bis in die erste Vorlesungswoche hinein.
      Wenn Sie nach Ende der Frist noch einen Tutoratsplatz brauchen (weil sich der Studienbeginn aus irgenwelchen Gründen verzögert hat)
      oder wenn sich nach erfolgter Zuteilung Terminschwierigkeiten bekommen haben (z.B. wegen einer anderen Tutoratseinteilung), wenden Sie sich bitte an den Assistenten/die Assistentin!
     </p>
     <p>
      <b style="font-size:105%;">
       Was sollte man während des Studiums beachten?
      </b>
      <br style="margin-bottom:7px;"/>
      Es gibt keine Anwesenheitspflicht in Vorlesungen, aber üblicherweise in den Tutoraten (die oft erst in der zweiten Vorlesungswoche beginnen). 
      Die regelmäßige Teilnahme an den Vorlesungen ist aber dringend angeraten, und ohne
      regelmäßige Vor- und Nachbereitung der Vorlesungen ist ein erfolgreiches Studium kaum möglich.
      Es ist daher unumgänglich, von Anfang an konzentriert mitzuarbeiten.
     </p>
     <p>
      Es empfiehlt sich, die Vor- und Nachbereitung der Vorlesung und die Bearbeitung der Übungsaufgaben teilweise alleine,
      teilweise in Kleingruppen vorzunehmen, da Sie sowohl lernen sollen, mathematische Aufgaben alleine zu bewältigen, als auch mathematische Zusammenhänge zu erklären.
     </p>
     <p>
      Studentische Arbeitsplätze / PC-Arbeitsplätze / Kommunikationsräume finden Sie hier:
     </p>
     <ul>
      <li>
       Studentische Arbeitsräume im Erdgeschoss des Mathematischen Instituts, Ernst-Zermelo-Str. 1;
      </li>
      <li>
       Arbeitstische auf den Fluren in der Ernst-Zermelo-Straße 1 und in der Hermann-Herder-Str. 10 (Abteilung für Angewandte Mathematik/Rechenzentrum);
      </li>
      <li>
       Stillarbeitsplätze in der Mathematikbibliotheks in der Ernst-Zermelo-Str. 1;
      </li>
      <li>
       studentische Arbeitsplätze in der
       <a href="https://www.ub.uni-freiburg.de/">
        Universitätsbibliothek;
       </a>
      </li>
      <li>
       PC-Pool des Mathematischen Instituts in der Ernst-Zermelo-Str. 1;
      </li>
      <li>
       PC-Pool-Räume im
       <a href="https://www.rz.uni-freiburg.de/services/pc">
        Uni-Rechenzentrum
       </a>
       , Hermann-Herder-Str. 10;
      </li>
      <li>
       Kommunikationsraum der
       <a href="https://home.mathematik.uni-freiburg.de/didaktik/">
        Abteilung für Mathematische Didaktik
       </a>
       im 1. OG der Ernst-Zermelo-Str. 1.
      </li>
     </ul>
     <p>
      <b style="font-size:105%;">
       Bis wann müssen die ersten Leistungen erbracht sein und wie meldet man sich zu den Klausuren an?
      </b>
      <br style="margin-bottom:7px;"/>
      In beiden Bachelor-Studiengängen gibt es „Orientierungsleistungen“, die bis zum Ende des 3. Fachsemesters bestanden sein müssen:
     </p>
     <ul>
      <li>
       Im 1-Hauptfach-Studiengang „Bachelor of Science“ sind dies die beiden Klausuren zu
       <i>
        Analysis I
       </i>
       und zu
       <i>
        Lineare Algebra I
       </i>
       .
      </li>
      <li>
       Im 2-Hauptfächer-Bachelor muss eine der beiden Klausuren bis zum Ende des 3. Fachsemesters bestanden sein, für die andere gibt es dann keine Frist. 
	  Es kommt allerdings die Orientierungsleistung/-prüfung im zweiten Fach hinzu.
      </li>
     </ul>
     <p>
      Bitte beachten Sie, dass Sie jeder der beiden Veranstaltungen
      <i>
       Analysis I
      </i>
      und
      <i>
       Lineare Algebra I
      </i>
      zwei separate Studienleistungen bestehen müssen: Übungen und Klausur. Zu beiden müssen Sie sich
      <a href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/termine.html">
       fristgerecht
      </a>
      über das 
      Campus-Management-Systeme
      <a href="https://campus.uni-freiburg.de">
       HISinOne
      </a>
      registrieren.
      Siehe hierzu auch die Informationen zu den Prüfungen im
      <a href="https://www.math.uni-freiburg.de/lehre/studiengaenge/2hfb-2021.html#studienplan">
       Zwei-Hauptfächer-Bachelor
      </a>
      (B.Sc. folgt noch).
     </p>
    </div>
   </div>
  </div>
  <div class="accordion-item" id="_beratung">
   <h3 class="accordion-header" id="header_beratung">
    <button aria-controls="_beratungContent" aria-expanded="false" class="accordion-button" data-bs-target="#_beratungContent" data-bs-toggle="collapse" type="button">
     Weitere Informationen und Beratung
    </button>
   </h3>
   <div aria-labelledby="_beratungContent" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="_beratungContent">
    <div class="accordion-body" id="beratungContent">
     <p>
      Weitere Informationen zu den einzelnen Studiengängen, nützliche Links und Studiendokumente wie Modulhandbücher und Prüfungsordnugnen
      finden Sie auf den Informationsseiten der einzelnen Studiengänge:
     </p>
     <ul>
      <li>
       Studiengänge für Studienanfänger:innen in Mathematik:
       <ul>
        <li>
         <a href="https://www.math.uni-freiburg.de/lehre/studiengaenge/bsc-2021.html">
          Bachelor of Science
         </a>
         (1-Hauptfach-Bachelor)
        </li>
        <li>
         <a href="https://www.math.uni-freiburg.de/lehre/studiengaenge/2hfb-2021.html">
          Polyvalenter Zwei-Hauptfächer-Bachelor
         </a>
        </li>
        <li>
         <a href="https://www.math.uni-freiburg.de/lehre/studiengaenge/med-erweiterung-2021.html">
          Master of Education als Erweiterungsfach
         </a>
        </li>
       </ul>
      </li>
      <li>
       Studiengänge für das Weiterstudium:
       <ul>
        <li>
         <a href="https://www.math.uni-freiburg.de/lehre/studiengaenge/med-2018.html">
          Master of Education
         </a>
        </li>
        <li>
         <a href="https://www.math.uni-freiburg.de/lehre/studiengaenge/msc-2014.html">
          Master of Science
         </a>
        </li>
       </ul>
      </li>
     </ul>
     Für Fragen und Problemen finden Sie hier eine Liste der Beratungs- und Anlaufstellen:
     <ul>
      <li>
       <a href="https://www.math.uni-freiburg.de/lehre/studienberatung.html">
        Beratung und Anlaufstellen
       </a>
      </li>
     </ul>
     Im Zweifelsfall können Sie sich immer an die allgemeine Studienberatung des Mathematischen Instituts wenden,
      die Sie ggf. an die richtige Stelle wetierverweisen wird!
     <p>
      Weitere nützliche LInks:
     </p>
     <ul>
      <li>
       Welcome guide for international students:
       <a href="https://www.studium.uni-freiburg.de/de/beratung/welcome-guide-for-international-students">
        Deutsch
       </a>
       ,
       <a href="https://www.studium.uni-freiburg.de/en/counseling/welcome-guide-for-international-students">
        English
       </a>
      </li>
     </ul>
    </div>
   </div>
  </div>
  <div class="accordion-item" id="_ausblick">
   <h3 class="accordion-header" id="header_ausblick">
    <button aria-controls="_ausblickContent" aria-expanded="false" class="accordion-button" data-bs-target="#_ausblickContent" data-bs-toggle="collapse" type="button">
     Ausblick
    </button>
   </h3>
   <div aria-labelledby="_ausblickContent" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="_ausblickContent">
    <div class="accordion-body" id="ausblickContent">
     <p>
     </p>
     <p>
      <b style="font-size:105%;">
       Wie ist der weitere Verlauf im 2-Hauptfächer-Bachelor?
      </b>
      <br style="margin-bottom:7px;"/>
      Im 2. Fachsemester schließen sich die zweiten Teile
      <i>
       Analysis II
      </i>
      und/oder
      <i>
       Lineare Algebra II
      </i>
      an das 1. Fachsemester an. Beide enden mit einer mündlichen 
      Prüfung über
      <i>
       Analysis I und II
      </i>
      bzw.
      <i>
       Lineare Algebra I und II
      </i>
      .
      Für diese Prüfungen gibt es zwei Prüfungszeiträume im Jahr: April und Oktober 
      (genauer: jeweils etwa drei Wochen vor Vorlesungsbeginn und die erste Vorlesungswoche).
      Sie können diese beiden Prüfungen auf verschiedene Semester aufteilen, 
      auch wenn Sie beide Grundvorlesungen gleichzeitig gehört haben.
     </p>
     <p>
      Falls Sie die Lehramtsoption wählen, bietet es sich an, zwischen dem 1. und dem 2. Fachsemester
      das Orientierungspraktikum (samt Vor- und Nachbereitung) abzulegen.
      Voraussetzung ist, dass Sie im 1. Fachsemester bereits die Veranstaltung
      <i>
       Einführung in die Bildungswissenschaften
      </i>
      besucht haben.
     </p>
     <p>
      Für den weiteren Verlauf sind die Veranstaltungen im Fach Mathematik weitgehend vorgeschrieben.
      Wahlmöglichkeiten haben Sie bei der Praktischen Übung und beim Proseminar:
     </p>
     <ul>
      <li>
       Jährlich werden (mindestens) drei Praktische Übungen angeboten:
	  der Programmierkurs
       <i>
        Einführung in die Programmierung für Studierende der Naturwissenschaften
       </i>
       ,
	  die Praktische Übung Numerik (jährliche Veranstaltung beginnend im Wintersemester) und
	  die Praktische Übung Stochastik (derzeit jedes Semester).
       <br/>
       (siehe auch:
       <a href="https://fachschaft-mathe-freiburg.de/praktische-informationen-zur-praktischen-ubung/">
        Informationen der Fachschaft
       </a>
       zu den Wahlmöglichkeiten).
      </li>
      <li>
       Jedes Semester werden etwa vier Proseminare zu unterschiedlichen Themen angeboten.
	  Die Anmeldung zu einem Proseminar erfolgt gegen Ende des Vorsemesters; 
	  bitte beachten Sie dazu die in den Kommentaren zu den Lehrveranstaltungen veröffentlichten Modalitäten.
      </li>
     </ul>
     <p>
      Nach den Grundvorlesungen
      <i>
       Analysis I, II
      </i>
      bzw.
      <i>
       Lineare Algebra I, II
      </i>
      können Sie die übrigen Pflichtveranstaltungen in Mathematik beliebig auf die verbleibenden Semester verteilen.
      Die Praktische Übung sollte allerdings nicht vor der zugehörigen Vorlesung besucht werden, sondern am besten gleichzeitig.
      Einzelne der angebotenen Proseminare setzen u.U. weitere Vorlesungen als nur die Grundvorlesungen voraus.
     </p>
     <p>
      Denken Sie bitte stets an die rechtzeitige Anmeldung von Prüfungen und Registrierung von Studienleistungen!
     </p>
     <p>
      <b style="font-size:105%;">
       Wie ist der weitere Verlauf im Bachelor of Science (1-Hauptfach-Bachelor)?
      </b>
      <br style="margin-bottom:7px;"/>
      Im 2. Fachsemester schließen sich die zweiten Teile
      <i>
       Analysis II
      </i>
      und
      <i>
       Lineare Algebra II
      </i>
      an das 1. Fachsemester an. Beide enden mit einer mündlichen 
      Prüfung über
      <i>
       Analysis I und II
      </i>
      bzw.
      <i>
       Lineare Algebra I und II
      </i>
      .
      Für diese Prüfungen gibt es zwei Prüfungszeiträume im Jahr: April und Oktober 
      (genauer: jeweils etwa drei Wochen vor Vorlesungsbeginn und die erste Vorlesungswoche).
      Sie können diese beiden Prüfungen auf verschiedene Semester aufteilen,
      Im 3. Fachsemester folgt dann
      <i>
       Analysis III
      </i>
      ,
      <i>
       Numerik I
      </i>
      und
      <i>
       Stochastik I
      </i>
      als Pflichtvorlesungen.
     </p>
     <p>
      Ebenfalls für das 2. Fachsemester ist der Programmierkurs
      <i>
       Einführung in die Programmierung für Studierende der Naturwissenschaften
      </i>
      am
      <a href="https://www.zfs.uni-freiburg.de">
       Zentrum für Schlüsselqualifikationen
      </a>
      (ZfS) vorgesehen, der Teil des BOK-Bereichs bildet. Bitte beachten Sie die 
      Anmeldefristen des ZfS, die Ende März/Anfang April liegen!
     </p>
     <p>
      Etwa ab dem 3. Fachsemester können Sie zu den vorgesehenen Pflichtveranstaltungen
      weiterführende Wahlvorlesungen nach Ihren Interessen hinzunehmen; 
      eine Übersicht über das regelmäßige Angebot an geeigneten Vorlesungen finden Sie
      <a href="https://www.math.uni-freiburg.de/lehre/dokumente/uebersicht-bsc-vorlesungen.pdf">
       hier (pdf)
      </a>
      .
      Schauen Sie sich vor Semesterbeginn das Vorlesungsverzeichnis an; am besten auch in der online-Version,
      da kurzfristig interessante und für Bachelor-Studierende geeignete zweistündige Vorlesungen 
      hinzukommen können. Beachten Sie bei der Auswahl der Wahlveranstaltungen auch die nötigen Vorkenntnisse, 
      die im Modulhandbuch bzw. im Kommentierten Vorlesungsverzeichnis beschrieben sind.
     </p>
     <p>
      Am besten im 3. oder 4. Fachsemester sollten Sie das Proseminar absolvieren.
      Jedes Semester werden etwa vier Proseminare zu unterschiedlichen Themen angeboten.
      Die Anmeldung zu einem Proseminar erfolgt gegen Ende des Vorsemesters; 
      bitte beachten Sie dazu die in den Kommentaren zu den Lehrveranstaltungen veröffentlichten Modalitäten.
     </p>
     <p>
      Gerne können Sie Ihre Studienpläne mit der Studienberatung oder einem/einer der Dozent:inn:en besprechen. 
      In unregemäßigen Abständen gibt es auch Informationsveranstaltung, in der die verschiedenen
      Schwerpunktgebiete sich vorstellen und Wege zu einer Bachelor-Arbeit aufgezeigt werden.
     </p>
     <p>
      Denken Sie bitte stets an die rechtzeitige Anmeldung von Prüfungen und Registrierung von Studienleistungen!
     </p>
     <p>
      Beachten Sie bei der Studienplanung auch die Bedingungen an die ECTS-Punkte für die einzelnen Bereiche:
      mindestens 132 ECTS-Punkte in Mathematik (inklusive Bachelor-Arbeit und dem „internen BOk-Bereich“, 
      also Praktische Übung Numerik, Proseminar und Seminar); 
      mindestens 8 und maximal 16 BOK-Punkte am ZfS (davon in der Regel 6 durch den Programmierkurs); 
      abgeschlossenes Anwendungsfach und 0 bis maximal 20 anrechenbare ECTS-Punkte im Wahlbereich.
     </p>
     <!--
	<p><b>Mentorenprogramms des Mathematischen Instituts</b></p>
    <p>
      Zu Ende Ihres 3.&nbsp;Fachsemesters wird Ihnen ein Professor oder eine Professorin 
      des Mathematischen Instituts als Mentor bzw. Mentorin zugeteilt. Sie sollten dann einmal 
      pro Semester zu einem Gespräch eingeladen werden, in dem Sie über die Gestaltung ihres Studiums,
      die Wahl des Studienschwerpunkts und des Gebiets der Abschlussarbeit sprechen können. 
      Sie können aber jederzeit gerne selbst das Gespräch suchen!
    </p>
    <p>
      Das Mentorenprogramm soll Sie ermuntern, auch den Kontakt zu den
      Professoren und Professorinnen zu suchen und deren Sprechstundenangebot (siehe
      <a href="https://home.mathematik.uni-freiburg.de/personen/list/sprechstunden.de.html">Sprechstundenliste</a>)
      zu nutzen.
    </p>
    -->
     <p>
      <b style="font-size:105%;">
       Studium im Ausland
      </b>
      <br style="margin-bottom:7px;"/>
      Mit den Planungen für ein eventuelles Auslandssemester/Auslandsjahr während des Bachelor-Studiums 
      sollte spätestens Ende des 2. Fachsemesters/Beginn des 3. Fachsemesters begonnen werden.
      Näheres dazu auf der Webseite des
      <a href="https://www.math.uni-freiburg.de/lehre/studienberatung.html#ausland">
       Auslandsbeauftragten
	des Mathematischen Instituts
      </a>
      und des
      <a href="https://www.international.uni-freiburg.de/">
       International Office
      </a>
      der Universität Freiburg.
     </p>
    </div>
   </div>
  </div>
  <div class="accordion-item" id="_einfuehrungswoche">
   <h3 class="accordion-header" id="header_einfuehrungswoche">
    <button aria-controls="_einfuehrungswocheContent" aria-expanded="false" class="accordion-button" data-bs-target="#_einfuehrungswocheContent" data-bs-toggle="collapse" type="button">
     Einführungswoche
    </button>
   </h3>
   <div aria-labelledby="_einfuehrungswocheContent" class="accordion-collapse collapse show" data-bs-parent="#accordionExample" id="_einfuehrungswocheContent">
    <div class="accordion-body" id="einfuehrungswocheContent">
     <p>
      Die
      <a href="https://fachschaft-mathe-freiburg.de/">
       Fachschaft Mathematik
      </a>
      organisiert 
      jährlich eine
      <b>
       Einführungswoche
      </b>
      für die Studienanfänger:innen in Mathematik.
      Sie findet in der Woche vor Vorlesungsbeginn des Wintersemesters statt.
      In dieser Woche können die neuen Mathematik-Studierenden sich untereinander kennenlernen, aber 
      auch Studierende in höheren Semester.
      <br/>
      Die Dozent:inn:en der Erstsemestervorlesungen stellen sich vor, und es gibt Führungen 
      durch das Mathematische Institut, die Universität und die Stadt Freiburg. 
      Innerhalb der Einführungswoche bietet die
      <a href="https://www.math.uni-freiburg.de/lehre/studienberatung.html">
       Studienberatung
      </a>
      eine Informationsveranstaltung an, bei der offene Fragen zum Ablauf des Studiums geklärt werden können.
      Die Teilnahme an der Einführungswoche ist allen Studierenden im ersten Semester sehr empfohlen.
     </p>
     <p>
      Auch die
      <b>
       neuen Master-Studierenden
      </b>
      sind herzlich willkommen.
      Für die beiden Studiengänge „Master of Education“ und „Master of Science“ gibt es ebenfalls Informationsveranstaltungen:
     </p>
     <ul>
      <li>
       Master of Education: Freitag, 13. Oktober 2023 um 10:00 Uhr im SR 404
      </li>
      <li>
       Master of Science: Freitag, 13. Oktober 2023 um 11:00 Uhr im SR 404
      </li>
     </ul>
     <p>
      <b style="font-size:105%;">
       Termin
      </b>
     </p>
     <ul>
      <li>
       Die Einführungswoche findet in der Woche vor
       <a href="https://www.studium.uni-freiburg.de/de/fristen-und-veranstaltungen/semester-und-vorlesungszeiten/">
        Vorlesungsbeginn
       </a>
       statt
       <!--	  und beginnt in der Regel dienstags, <br>dieses Jahr also vom 11. bis 15.&nbsp;Oktober 2022. </li>  -->
       und beginnt dieses Jahr ausnahmsweise schon montags, geht also vom 9. bis 15. Oktober 2023.
      </li>
     </ul>
     <p>
      <b style="font-size:105%;">
       Anmeldung
      </b>
     </p>
     <ul>
      <li>
       Eine Anmeldung ist nicht erforderlich  – einfach hingehen!
      </li>
     </ul>
     <p>
      <b style="font-size:105%;">
       Programm
      </b>
     </p>
     <ul>
      <li>
       Das genaue Programm wird
       <a href="https://fachschaft-mathe-freiburg.de/uncategorized/einfuehrungswoche-der-fachschaft-mathematik-fuer-neue-studierende/">
        hier auf den Fachschaftsseiten
       </a>
       veröffentlicht
      </li>
      <li>
       <a href="https://math.uni-freiburg.de/lehre/dokumente/2023_Folien_SCS_Studienstart_Studiengänge.pdf">
        Folien der Zentralen Studienberatung
       </a>
       (2023)
      </li>
      <li>
       <a href="https://math.uni-freiburg.de/lehre/dokumente/ese2023.pdf">
        Präsentation 2023
       </a>
       zur Einführung in die Studiengänge
      </li>
     </ul>
     <p>
      <b style="font-size:105%;">
       Universitätsweite Aktionen
      </b>
     </p>
     <ul>
      <li>
       Sämtliche Angebote finden Sie auch in der
       <a href="https://www.studium.uni-freiburg.de/de/studierendenservices/studienanfaenger">
        App „Studienstart – Uni Freiburg“
       </a>
      </li>
      <li>
       Unabhängig von der Einführungswoche der Mathematik gibt es mit dem
       <a href=" https://www.studium.uni-freiburg.de/de/studierendenservices/studienanfaenger/erstsemestertag/erstsemestertag">
        Erstsemestertag
       </a>
       eine zentrale Erstsemesterbegrüßung der Universität, dieses Jahr am Freitag, 13. Oktober 2023 im Stadion des SC Freiburg.
      </li>
      <li>
       Am Donnerstag, 12. Oktober 2023, gibt es ein universitätsweites Willkommen für die Lehramtsstudierenden:
	  Begrüßungsveranstaltung Bachelor, 16–18 Uhr im Paulussaal, 
	  und Begrüßungsveranstaltung Master pof Education, 10–12 Uhr im HS 1221.
      </li>
      <!--	<li> Einführungen in den BOK-Bereich am Zentrum für Schlüsselqualifikationen gibt es für den Bachelor-of-Science-Studiengang
	  am Donnerstag, 13.&nbsp;Oktober 2022 um 18:00 Uhr im HS&nbsp;00&thinsp;026 an der Technischen Fakultät
	  und am Mittwoch 19.&nbsp;Oktober 2022 im Hörsaal&nbsp;I im Physik-Hochhaus; 
	  für den Zwei-Hauptfächer-Bachelor ohne Lehramtsoption am Donnerstag 13.&nbsp;Oktober 2022 im HS&nbsp;1010 im KG&nbsp;I. </li> -->
     </ul>
    </div>
   </div>
  </div>
 </div>
</div>
