{% if lang == "de" %}{% else %}{% endif %}

<div class="container" id="inhalt">
  <h1>Master of Science Mathematics in Data and Technology (PO 2024)</h1>
  {% if lang == "de" %}
  <!-- <p>Für die Studierenden des neuen Master-Studiengangs gibt es am <b>Montag, dem 14.10.2024, von 11-12 Uhr</b>
     eine <b>Begrüßungsveranstaltung im SR 404</b> des Mathematischen Instituts, Ernst-Zermelo-Str. 1.</p> -->
  <p>
    Fragen der Studienorganisation (Belegung, Prüfungsanmeldung, detaillierter
    Modulplan, etc) finden Sie auf den Seiten des Prüfungsamts.

    <br />
    Einige Fragen beantwortet das
    <a href="{{ url_for('showstufaq', lang=lang) }}">FAQ</a>. Falls Fragen offen
    bleiben, wenden Sie sich gerne an die
    <a href="{{ url_for('showstudiendekanat', lang=lang)}}">
      Studienberatung des Mathematischen Instituts
    </a>
    (
    <a href="mailto:studienberatung@math.uni-freiburg.de"> </a>
    ).
  </p>
  {% else %}
  <!-- <p>A <b>welcome event</b> for students of the new master course will be held on <b>Monday, October 14, 2024, from 11-12 a.m.
  in SR 404</b> of the Mathematical Institute, Ernst-Zermelo-Str. 1.</p> -->
  <p>
   Answers to questions concerning the organisation of studies (registration for courses, pass/fail assessments and exams,
   detailed plan of modules etc) can be found on the web pages of the examination office. 
   Some questions may alternatively be answered in the
   <a href="{{ url_for('showstufaq', lang=lang) }}">FAQ</a>. For further inquiries you can contact the
   <a href="{{ url_for('showstudiendekanat', lang=lang)}}">
     student counseling of the Mathematical Institute
   </a>
   (
   <a href="mailto:studienberatung@math.uni-freiburg.de"> </a>
   ).
  </p>
  {% endif %}

  <div class="container text-end">
    <div class="row">
      <div class="col">
        <a
          href="{{ url_for('showstufaq', lang=lang) }}"
          class="btn btn-primary"
          role="button"
          aria-disabled="true"
        >
          FAQ
        </a>
        <a
          href="{{ url_for('showstudiendekanat', unterseite = 'modulplan', lang=lang, anchor='mscdata') }}"
          class="btn btn-primary"
          role="button"
          aria-disabled="true"
        >
          Modulplan
        </a>
        <a
          href="mailto:studienberatung@math.uni-freiburg.de"
          class="btn btn-primary"
          role="button"
          aria-disabled="true"
        >
          Studienberatung
        </a>
      </div>
    </div>
  </div>

  <div class="accordion accordion-flush" id="accordionExample">
    <div class="accordion-item">
      <h4 class="accordion-header">
        <button
          aria-controls="kurzContent"
          aria-expanded="{% if anchor == 'kurz' %}true{% else %}false{% endif %}"
          class="accordion-button {% if anchor != 'kurz' %}collapsed{% endif %}"
          data-bs-target="#kurzContent"
          data-bs-toggle="collapse"
          type="button"
        >
          <h3 class="h5">
            {% if lang == "de" %}Kurzbeschreibung des Studiengangs{% else %}Short description of the degree program {% endif %}</h3>
        </button>
      </h4>
      <div
        aria-labelledby="kurzContent"
        class="accordion-collapse collapse {% if anchor == 'kurz' %}show{% endif %}"
        data-bs-parent="#accordionExample"
        id="kurzContent"
      >
        <div class="accordion-body" id="kurzContent">
          {% include "/studiengaenge/msc_data/kurz.html" %}
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h4 class="accordion-header">
        <button
          aria-controls="vorContent"
          aria-expanded="{% if anchor == 'bewerbung' %}true{% else %}false{% endif %}"
          class="accordion-button {% if anchor != 'bewerbung' %}collapsed{% endif %}"
          data-bs-target="#vorContent"
          data-bs-toggle="collapse"
          type="button"
        >
          <h3 class="h5">
            {% if lang == "de" %}Studienbeginn, Bewerbung und Zulassung{% else %}Start of study, application and admission {% endif %}</h3>
        </button>
      </h4>
      <div
        aria-labelledby="vorContent"
        class="accordion-collapse collapse {% if anchor == 'bewerbung' %}show{% endif %}"
        data-bs-parent="#accordionExample"
        id="vorContent"
      >
        <div class="accordion-body">
          {% include "studiengaenge/msc_data/bewerbung.html" %}
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h4 class="accordion-header">
        <button
          aria-controls="dokumenteContent"
          aria-expanded="{% if anchor == 'dokumente' %}true{% else %}false{% endif %}"
          class="accordion-button {% if anchor != 'dokumente' %}collapsed{% endif %}"
          data-bs-target="#dokumenteContent"
          data-bs-toggle="collapse"
          type="button"
        >
          <h3 class="h5">
            {% if lang == "de" %}Dokumente{% else %}Documents {% endif %}
          </h3>
        </button>
      </h4>
      <div
        aria-labelledby="dokumenteContent"
        class="accordion-collapse collapse {% if anchor == 'dokumente' %}show{% endif %}"
        data-bs-parent="#accordionExample"
        id="dokumenteContent"
      >
        <div class="accordion-body">
          {% include "studiengaenge/msc_data/dokumente.html" %}
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h3 class="accordion-header">
        <button
          aria-controls="verlaufContent"
          aria-expanded="{% if anchor == 'studienverlauf' %}true{% else %}false{% endif %}"
          class="accordion-button {% if anchor != 'studienverlauf' %}collapsed{% endif %}"
          data-bs-target="#verlaufContent"
          data-bs-toggle="collapse"
          type="button"
        >
          <h3 class="h5">
            {% if lang == "de" %}Studienverlauf{% else %}Study program {% endif
            %}
          </h3>
        </button>
      </h3>
      <div
        aria-labelledby="verlaufContent"
        class="accordion-collapse collapse {% if anchor == 'studienverlauf' %}show{% endif %}"
        data-bs-parent="#accordionExample"
        id="verlaufContent"
      >
        <div class="accordion-body" id="studienverlauf">
          {% include "/studiengaenge/msc_data/studienverlauf.html" %}
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h4 class="accordion-header">
        <button
          aria-controls="modulplanContent"
          aria-expanded="{% if anchor == 'modulplan' %}true{% else %}false{% endif %}"
          class="accordion-button {% if anchor != 'modulplan' %}collapsed{% endif %}"
          data-bs-target="#modulplanContent"
          data-bs-toggle="collapse"
          type="button"
        >
          <h3 class="h5">
            {% if lang == 'de' %}Modulplan{% else %}Plan of modules{% endif %}
          </h3>
        </button>
      </h4>
      <div
        aria-labelledby="modulplanContent"
        class="accordion-collapse collapse {% if anchor == 'modulplan' %}show{% endif %}"
        data-bs-parent="#accordionExample"
        id="modulplanContent"
      >
        <div class="accordion-body" id="modulplan">
          {% include "/studiendekanat/modulplan_mscdata.html" %}
        </div>
      </div>
    </div>
  </div>
</div>
