<!-- {% if lang == "de" %} {% else %} {% endif %} -->
<div class="container" id="featured-3">
  <h1>MSc Mathematics in Data and Technology</h1>
  <div class="container px-4 py-1" id="featured-3">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
      <div class="feature col">
        <div class="feature-icon bg-gradient text-center">
          <h2><i class="fa fa-pencil fa-4" aria-hidden="true"></i></h2>
          <h2>
            {% if lang == "de" %} Kurzprofil{% else %} Short profile {% endif %}
          </h2>
        </div>
        {% if lang == "de" %}
        <ul>
          <li>
            Für BSc-Absolventen in Mathematik, Informatik,
            Ingenieurwissenschaft, Physik,...
          </li>
          <li>Module in Numerik, Stochastik, Programmierung.</li>
          <li>Möglichkeit zu einem Industrie-Praktikum</li>
          <li>Vertiefung in Machine Learning, Optimierung, Statistik, etc.</li>
          <li>Sprache: englisch</li>
          <li>Studienstart: nur zum Wintersemester</li>
        </ul>
        {% else %}
        <ul>
          <li>
            For BSc in Mathematics, Computer Science, Physics, engineering,...
          </li>
          <li>
            Lectures in Numerical Mathematics, Probability Theory, Programming.
          </li>
          <li>Chance to take an industrial internship.</li>
          <li>
            Advanced modules in Machine Learning, Optimization, Statistics, etc.
          </li>
          <li>Language: english</li>
          <li>Start: only winter term (October 1st)</li>
        </ul>
        {% endif %}
      </div>
      <div class="feature col">
        <div class="feature-icon bg-gradient text-center">
          <!--               <h2><i class="fa fa-pencil fa-4" aria-hidden="true"></i></h2>-->
          <a
            href="https://campus.uni-freiburg.de"
            class="btn btn-primary"
            role="button"
            aria-disabled="true"
          >
            <h2>
              {% if lang == "de" %} Zur Bewerbung {% else %} Apply now {% endif
              %}
            </h2></a
          >
        </div>
        <div class="py-3 text-center">
          <div class="py-3 text-center">
            <p>A detailed description of the process can be found below.</p>
          </div>
        </div>
      </div>

      <div class="feature col">
        <div class="feature-icon bg-gradient text-center">
          <h2><i class="fa fa-pencil fa-4" aria-hidden="true"></i></h2>
          <h2>
            {% if lang == "de" %}Zulassung {% else %}Admission {% endif %}
          </h2>
        </div>
        <div>
          <p>
            {% if lang == "de" %} Sie benötigen einen Bachelor-Abschluss mit
            mindestens 30 ECTS in Mathematik, darunter 12 ECTS in Grundlagen der
            Infinitesimalrechnung und Linearen Algebra. In Englisch müssen Sie
            B2 haben. Sie können nur zum dieses Programm nur zum Wintersemester
            (1. Oktober) beginnen.
          </p>
          {% else %}
          <p>
            You need a Bachelor's degree with a minimum of 30 credits in
            Mathematics, including 12 credits in foundations of calculus and
            linear algebra. In english, you must have B2. You can only start
            this program in the winter term (October 1st).
          </p>
          {% endif %}
        </div>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-gradient text-center">
          <h2><i class="fa fa-infinity fa-4" aria-hidden="true"></i></h2>
          <h2>
            {% if lang == "de" %} Mathematik {% else %} Mathematics {% endif %}
          </h2>
        </div>
        <div>
          <p>
            {% if lang == "de" %} Wir sind der festen Überzeugung, dass die
            Mathematik die Grundlage von Datenwissenschaft und Technologie ist.
            Um die notwendigen Fähigkeiten in Bereichen wie numerische
            Mathematik, Optimierung und Wahrscheinlichkeitsrechnung zu erwerben,
            nehmen Sie an verschiedenen Kursen aus dem Studienprogramm MSc
            Mathematik teil.
          </p>
          {% else %}
          <p>
            > We believe that mathemtics is the foundation of data science and
            technology, and this program provides the mathematical foundations
            of artificial intelligence and machine learning. All necessary
            skills such as numerical mathematics, optimization, and probability
            theory are covered in various courses which are based on basic
            skills in calculus and linear algebra.
          </p>
          {% endif %}
        </div>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-gradient text-center">
          <h2><i class="fa fa-keyboard fa-4" aria-hidden="true"></i></h2>
          <h2>
            {% if lang == "de" %}Programmierung {% else %}Coding {% endif %}
          </h2>
        </div>
        <div>
          {% if lang == "de" %}
          <p>
            Anwendungen von Mathematik erfordern oftmals das Wissen, die
            Erkenntnisse eines Projektes in anwendbare Software umzuwandeln.
            Obwohl Programmierkenntnisse bei der Zulassung nicht erforderlich
            sind, wird das Programmieren ein wichtiger Teil des Basismoduls sein
            und wird in einem speziellen spezifischen Kodierungsmodul vertieft.
          </p>
          {% else %}
          <p>
            Applications of mathematics often require the knowledge to convert
            project results into applicable software. Although programming
            skills are not required upon admission, coding will be an important
            part of the basic module, and will be strengthened in a specific
            coding module.
          </p>
          {% endif %}
        </div>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-gradient text-center">
          <h2><i class="fa fa-handshake fa-4" aria-hidden="true"></i></h2>
          <h2>
            {% if lang == "de" %}Praktikum {% else %}Internship {% endif %}
          </h2>
        </div>
        <div>
          {% if lang == "de" %}
          <p>
            Das Programmierprojekt kann durch ein Industriepraktikum von
            mindestens sechs Wochen Dauer ersetzt werden. Beispielsweise haben
            wir Verbindungen zu lokalen Unternehmen wie Sick, Baloise, LBBW,
            Allianz, Fraunhofer, Bosch.
          </p>
          {% else %}
          <p>
            The programming project can be exchanged by an industrial placement
            (interneship) of at least six weeks. As examples, we have
            connections to various local companies, including Sick, Baloise,
            LBBW, Allianz, Fraunhofer, Bosch.
          </p>
          {% endif %}
        </div>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-gradient text-center">
          <h2><i class="fa fa-compass fa-4" aria-hidden="true"></i></h2>
          <h2>Freiburg</h2>
        </div>
        <div>
          {% if lang == "de" %}
          <p>
            Freiburg ist eine grüne Stadt am Fuße des Schwarzwaldes mit vielen
            Möglichkeiten zur Freizeitgestaltung. Die Universität Freiburg hat
            nicht nur eine lange Tradition in allen Bereichen der Natur- und
            Geisteswissenschaften, sondern ist auch in der Forschung sehr aktiv,
            wie ihr Forschungsranking zeigt. Das mathematische Institut, an dem
            der größte Teil dieses Studiengangs beherbergt, deckt ein breites
            Spektrum an Themen ab, von der mathematischen Logik bis zum
            maschinellen Lernen.
          </p>
          {% else %}
          <p>
            Freiburg is a green city close to the Black Forest with many
            opportunities for outdoor activities. The University of Freiburg has
            not only has a long tradition in all areas of the natural sciences
            and humanities, but is also very active in research, as its rankings
            show. The mathematical institute, which hosts the largest part of
            this program, covers a broad spectrum of topics, from mathematical
            logic to machine learning.
          </p>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="row g-4 py-5 row-cols-1 row-cols-lg-1">
      <div class="feature col">
        <div class="feature-icon bg-gradient text-center">
          <h2><i class="fa fa-puzzle-piece fa-4" aria-hidden="true"></i></h2>
          <h2>Curriculum</h2>
        </div>
        {% if lang == "de" %}
        <p>
          Sie erhalten eine solide Grundlage in Mathematik in einem Basiskurs,
          und einen zusätzlichen Aufbaukurs in angewandter Mathematik. In
          Wahlfächern können Sie aus Modulen wie Numerische Optimierung, Numerik
          für partielle Differentialgleichungen, neuronale Netze,
          Finanzmathematik, Dynamische Systeme in der Biologie, Ökonometrie,
          Computer Vision, automatisiertes maschinelles Lernen, etc. wählen.
          Mehr Informationen finden Sie
          <a
            href="{{url_for('showstudiengang', studiengang='msc_data', anchor='studienverlauf', lang=lang)}}"
            >hier</a
          >
        </p>
        {% else %}
        <p>
          You will obtain solid foundation in mathematics in a basic course, and
          an additional advanced course in applied mathematics. In the
          electives, you can choose from modules such as numerical optimization,
          numerics for partial differential equations, neural nets, financial
          mathematics, dynamical systems in biology, econometrics, computer
          vision, automated machine learning, etc. More information can be found
          <a
            href="{{url_for('showstudiengang', studiengang='msc_data', anchor='studienverlauf', lang=lang)}}"
            >here</a
          >
        </p>
        {% endif %}

        <div>
          {% if lang == "de" %} {% include
          "studiengaenge/msc_data/studienverlauf_tabelle.html" %} {% else %}
          <p></p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
