<div class="container" id="featured-3">
  <h1>MSc Mathematics in Data and Technology</h1>
  <div class="container px-4 py-1" id="featured-3">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
      <div class="feature col">
        <div class="feature-icon bg-gradient text-center">
          <!--               <h2><i class="fa fa-pencil fa-4" aria-hidden="true"></i></h2>-->
          <h2>Geplanter Start</h2>
        </div>
        <div class="text-center">
          <p>Wintersemester 2024/25</p>
        </div>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-gradient text-center">
          <!--               <h2><i class="fa fa-pencil fa-4" aria-hidden="true"></i></h2>-->
          <a
            href="#"
            class="btn btn-primary disabled"
            role="button"
            aria-disabled="true"
          >
            <h2>Zur Bewerbung</h2></a
          >
        </div>
        <div class="py-3 text-center">
          <p>Coming soon...</p>
        </div>
      </div>
      <!-- <div class="feature col">
      <h2></h2>
      <div>
        <table class="table table-striped">
          <tbody>
            <tr>
              <td>{% if lang == "de" %}Abschluss{% else %}Degree{% endif %}</td>
              <td>Master of Science</td>
            </tr>
            <tr>
              <td>{% if lang == "de" %}Dauer{% else %}Duration{% endif %}</td>
              <td>
                {% if lang == "de" %}4 Semester{% else %}4 semesters{% endif %}
              </td>
            </tr>
            <tr>
              <td>ECTS</td>
              <td>120</td>
            </tr>
            <tr>
              <td>Start</td>
              <td>
                {% if lang == "de" %}Wintersemester{% else %}Winter term{% endif
                %}
              </td>
            </tr>
            <tr>
              <td>
                {% if lang == "de" %}Zulassung{% else %}Admission{% endif %}
              </td>
              <td>
                {% if lang == "de" %}keine Beschränkung{% else %}without
                restriction{% endif %}
              </td>
            </tr>
            <tr>
              <td>{% if lang == "de" %}Sprache{% else %}language{% endif %}</td>
              <td>{% if lang == "de" %}Englisch{% else %}english{% endif %}</td>
            </tr>
            <tr>
              <td>
                {% if lang == "de" %}mehr Informationen{% else %}more
                information{% endif %}
              </td>
              <td>
                <a href="{{url_for('showstudiengang', studiengang='msc_data', anchor='none', lang=lang)}}"
                  >{% if lang == "de" %}hier{% else %}here{% endif %}</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> -->

      <div class="feature col">
        <div class="feature-icon bg-gradient text-center">
          <h2><i class="fa fa-pencil fa-4" aria-hidden="true"></i></h2>
          <h2>Short profile</h2>
        </div>
        {% if lang == "de" %}
        <ul>
          <li>
            Für BSc-Absolventen in Mathematik, Informatik,
            Ingenieurwissenschaft, Physik,...
          </li>
          <li>Module in Numerik, Stochastik, Programmierung.</li>
          <li>Möglichkeit zu einem Industrie-Praktikum</li>
          <li>Vertiefung in Machine Learning, Optimierung, Statistik, etc.</li>
          <li>Sprache: englisch</li>
          <li>Studienstart: nur zum Wintersemester</li>
        </ul>
        {% endif %}
      </div>

      <div class="feature col">
        <div class="feature-icon bg-gradient text-center">
          <h2><i class="fa fa-pencil fa-4" aria-hidden="true"></i></h2>
          <h2>Admission</h2>
        </div>
        <div>
          <p>
            You need a Bachelor's degree with a minimum of 30 credits in
            Mathematics, including 12 credits in foundations of calculus and
            linear algebra. In english, you must have B2. You can only start
            this program in the winter term (October 1st).
          </p>
        </div>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-gradient text-center">
          <h2><i class="fa fa-puzzle-piece fa-4" aria-hidden="true"></i></h2>
          <h2>Curriculum</h2>
        </div>
        <div>
          <p>
            You will obtain solid foundation in mathematics in a basic course,
            and an additional advanced course in applied mathematics. In the
            electives, you can choose from modules such as numerical
            optimization, numerics for partial differential equations, neural
            nets, financial mathematics, dynamical systems in biology,
            econometrics, computer vision, automated machine learning, etc. More
            information can be found
            <a
              href="{{url_for('showstudiengang', studiengang='msc_data', anchor='studienverlauf', lang=lang)}}"
              >here</a
            >
          </p>
        </div>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-gradient text-center">
          <h2><i class="fa fa-infinity fa-4" aria-hidden="true"></i></h2>
          <h2>Mathematics</h2>
        </div>
        <div>
          <p>
            We strongly believe that Mathemtics is the foundation of data
            science and technology. In order to provide the necessary skills
            areas such as numerical mathematics, optimization, and probability
            theory, you take part in various courses from the study program in
            the MSc Mathematics.
          </p>
        </div>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-gradient text-center">
          <h2><i class="fa fa-keyboard fa-4" aria-hidden="true"></i></h2>
          <h2>Coding</h2>
        </div>
        <div>
          <p>
            Transforming the fundamentals to applications mostly required the
            knowledge to showcase your project using an implementation. Although
            programming skills are not required upon admission, coding will be
            an important part of the basic module, and will be strengthened in a
            specific coding module.
          </p>
        </div>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-gradient text-center">
          <h2><i class="fa fa-handshake fa-4" aria-hidden="true"></i></h2>
          <h2>Internship</h2>
        </div>
        <div>
          <p>
            The programming project can be exchanged by an industrial placement
            (interneship) of at least six weeks. As examples, we have
            connections to various local companies, including Sick, Baloise,
            LBBW, Allianz, Fraunhofer, Bosch.
          </p>
        </div>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-gradient text-center">
          <h2><i class="fa fa-compass fa-4" aria-hidden="true"></i></h2>
          <h2>Freiburg</h2>
        </div>
        <div>
          <p>
            Freiburg is a lovely town at the foot of the black forest. It is a
            green city with many bicycles and opportunities to spend your free
            time. The University of Freiburg not only has a long tradition
            covering all areas from science and the humanities, but is also very
            active in research, as shown by its success in the excellence
            initiative. The mathematical institute, which hosts most of this
            study program, covers a wide range of topics, from mathematical
            logic to machine learning.
          </p>
        </div>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-gradient text-center">
          <h2><i class="fa fa-compass fa-4" aria-hidden="true"></i></h2>
          <h2>More information</h2>
        </div>
        <div>
          <p>
            Detailed description is
            <a href="{{url_for('showstudiengang', studiengang='msc_data', anchor='none', lang=lang)}}"
              >{% if lang == "de" %}hier{% else %}here{% endif %}</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
