{% if lang == "de" %}
<p>
  <b style="font-size: 110%"> (A) Belegungen von Veranstaltungen: </b>
</p>
<ul>
  <li>
    Belegungen von Vorlesungen, d.h. Abgabe eines Teilnahmewunschs, können über
    das Vorlesungsverzeichnis in
    <a href="https://campus.uni-freiburg.de"> HISinOne </a>
    (Menüpunkt 'Veranstaltungen suchen') ab September bzw. März erfolgen.
  </li>
  <li>
    Die Anmeldung zu Übungsgruppen/Tutoraten erfolgt nach dem in der Vorlesung
    bekanntgegebenen Verfahren in der ersten Vorlesungswoche.
  </li>
  <li>
    Studienpätze für Seminare werden bei der Vorbesprechung am Ende der
    Vorsemesters vergeben. Die Termine dafür und ggf. die Art der Voranmeldung
    sind im
    <a href="https://www.math.uni-freiburg.de/lehre/v/index.html">
      Kommentierten Vorlesungsverzeichnis
    </a>
    angegeben.
    <br />
    Es gibt keine Belegung über HISinOne, aber die fristgerechte Anmeldung der
    Prüfung über HISinOne ist erforderlich!
  </li>
</ul>
<p>
  <b style="font-size: 110%">
    (B) Anmeldungen von Prüfungen und Registrierung von Studienleistungen:
  </b>
</p>
<ul>
  <li>
    Alle Prüfungen müssen vor Ablegen der Prüfung angemeldet werden und alle
    Studienleistungen registriert werden. Bis auf wenige Ausnahmen geht dies
    über den Studienplaner in HISinOne
  </li>
  <li>
    Achtung: Die Belegung einer Veranstaltung ersetzt nicht die Anmeldung der
    Prüfung bzw. Registrierung der Studienleistung! Insbesondere ist mit der
    Zuteilung zu einer Übungsgruppe zu Vorlesungsbeginn noch nicht die
    „Studienleistung Übung“ registriert!
  </li>
  <li>
    Vor der Anmeldung der ersten Prüfungsleistung müssen Sie beim Prüfungsamt
    einen
    <a
      href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/index.html#formulare"
    >
      Antrag auf Zulassung zu den studienbegleitenden Prüfungen im Master
    </a>
    stellen. Das Prüfungsamt braucht dazu eine vollständige Leistungsübersicht
    aus Ihrem zugrundeliegenden Bachelor-Studiengang.
  </li>
</ul>

{% else %}
<p>
  <b style="font-size: 110%"> (A) Booking of courses: </b>
</p>
<ul>
  <li>
    Submission of a participation request, can be made via the course catalog in
    <a href="https://campus.uni-freiburg.de"> HISinOne </a>
    (menu item 'Search for courses') from September or March.
  </li>
  <li>
    Registration for exercise groups/tutorials takes place according to the
    procedure announced in the lecture in the first week of courses.
  </li>
  <li>
    Slots for seminars are allocated at the preliminary meeting at the end of
    the preceeding semester. The dates for this and, if applicable, the type of
    pre-registration are listed in the
    <a href="https://www.math.uni-freiburg.de/lehre/v/index.html">
      course catalog </a
    >.
    <br />
    For the course, there is no registration via HISinOne, but the timely
    registration <i>of the exam</i> via HISinOne is required!
  </li>
</ul>
<p>
  <b style="font-size: 110%">
    (B) Registration for graded examinations and registration of pass/fail
    examinations:
  </b>
</p>
<ul>
  <li>
    All examinations must be registered before the examination is taken and all
    coursework must be registered. With a few exceptions, this can be done via
    the study planner in HISinOne.
  </li>
  <li>
    Please note: Registering for a course does not replace the registration for
    the graded examinations or registration of the pass/fail examinations! In
    particular, the assignment to an tutorial group at the beginning of the
    lecture does not mean that you are registered for the corresponding
    pass/fail examination!
  </li>
  <li>
    Before registering for the first examination, you must apply to the
    Examination Office an
    <a
      href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/index.html#formulare"
    >
      application for admission to the examinations during the Master's program
    </a>
    must be submitted. The Examinations Office requires a complete transcript of
    your Bachelor's degree.
  </li>
</ul>

{% endif %}
