<h2>Unterlagen das Rechtsverhältnis zum Land Baden-Württemberg betreffend</h2>
<p>
  Um in das genannte öffentlich-rechtliche Rechstverhältnis eingestellt werden
  zu können, ist eine Bewerbung beim Regierungspräsidium Freiburg erforderlich.
  Die Bewerbungsfrist ist der 15.07. des Jahres des Studienbeginns, es sind
  dabei folgende Unterlagen einzureichen:
</p>
<ol>
  <li>
    Lebenslauf tabellarisch und mit Angaben über den Bildungsweg und
    Berufstätigkeiten
  </li>
  <li>Abiturzeugnis (in beglaubigter Form)</li>
  <li>Nachweis über den Fachbachelorabschluss (in beglaubigter Form)</li>
  <li>
    Zulassungsbescheid zum dualen lehramtsbezogenen Masterstudiengang der
    Hochschule (in beglaubigter Form oder im Original)
  </li>
  <li>
    eine Erklärung, ob und wo bereits ein Antrag auf Einstellung in ein
    Rechtsverhältnis für den dualen lehramtsbezogenen Master oder ein Antrag auf
    Zulassung zu einem Vorbereitungsdienst für ein Lehramt gestellt oder ein
    Vorbereitungsdienst ganz oder teilweise abgeleistet worden ist,
    gegebenenfalls in welchem Umfang
  </li>
  <li>Personalausweis oder Reisepass (in beglaubigter Form)</li>
  <li>
    Erklärung betreffend Vorstrafen (<a
      href="/static/pdf/studiengaenge/med_dual/Erklaerung_Strafverfahren.pdf"
      >Vorlage zum Download</a
    >)
  </li>
  <li>
    Erklärung und Belehrung zur Verfassungstreue (<a
      href="/static/pdf/studiengaenge/med_dual/Belehrung_Erklaerung-Verfassungstreue.pdf"
      >Vorlage zum Download</a
    >)
  </li>
  <li>
    aktueller Nachweis über den Masernschutz (<a
      href="/static/pdf/studiengaenge/med_dual/Masern_Musterbescheinigung.pdf"
      >Vorlage zum Download</a
    >)
  </li>
  <li>
    Nachweis über Teilnahme an einer Ausbildung in Erster Hilfe (mind. 9
    Unterrichtseinheiten, nicht älter als 2 Jahre) (im Original oder als
    beglaubigte Kopie)
  </li>
  <li>Erweitertes Führungszeugnis (Belegart OE)</li>
  <li>
    Immatrikulationsurkunde bis spätestens zum 15.10. des Jahres des
    Studienbeginns
  </li>
</ol>
