<p>
  Die
  <a
    href="https://www.studium.uni-freiburg.de/de/studienangebot/lehramtsoptionen/info/779"
    >offizielle Seite</a
  >
  des Service Center Studium enthält noch mehr Links zu offiziellen Dokumenten.
</p>
<div class="row row-cols-md-3 row-cols-sm-2 row-cols-xs-1 g-5">
  <div class="col">
    <div class="card h-100">
      <center>
        <img
          src="/static/images/zulassungsordnung.jpg"
          class="card-img-fluid"
          alt="..."
          style="height: 15vw; object-fit: cover"
        />
      </center>
      <div class="card-body">
        <h3 class="h5">
          <a
            href="https://www.jsl.uni-freiburg.de/informationen_fuer_studierende_web/zulassungsordnungen/auswahlsatzung-masterstudiengang-lehramt-gymnasium-dual"
            >Auswahlsatzung</a
          >
        </h3>
        <div class="card-text">
          <p>Diese Ordnung regelt das Zulassungsverfahren.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <center>
        <img
          src="/static/images/ordnung.jpg"
          class="card-img-fluid"
          alt="..."
          style="height: 15vw; object-fit: cover"
        />
      </center>
      <div class="card-body">
        <h3 class="h5">
          <a
            href="https://www.jsl.uni-freiburg.de/informationen_fuer_studierende_web/pruefungsordnungen/studien-und-pruefungsordnung-masterstudiengang-lehramt-gymnasium-dual/"
          >
            Studien- und Prüfungsordnung</a
          >
        </h3>
        <div class="card-text">
          Hier sind grundlegende Regularien dieses Studienganges festgehalten.
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <center>
        <img
          src="/static/images/modulhandbuch.jpg"
          class="card-img-fluid"
          alt="..."
          style="height: 15vw; object-fit: cover"
        />
      </center>
      <div class="card-body">
        <a href="/static/pdf/studiengaenge/med_dual/Modulhandbuch.pdf"> <h3 class="h5">Modulhandbuch</h3></a>
        <p class="card-text">
          Das Modulhandbuch wird bald hier veröffentlicht.
        </p>
      </div>
    </div>
  </div>
</div>
