<h2>Hintergrund</h2>
<p>
  <a
    href="https://mwk.baden-wuerttemberg.de/de/service/presse/pressemitteilung/pid/dualer-lehramtsbezogener-masterstudiengang-kommt-als-modellversuch?highlight=dualer%20Master"
    >Zum Wintersemester 2024/2025 führt Baden-Württemberg im Rahmen eines
    Modellversuchs in Freiburg, Karlsruhe und Stuttgart duale lehramtsbezogene
    Masterstudiengänge ein.</a
  >
  Diese bestehen aus einem viersemestrigen Masterstudium in enger Zusammenarbeit
  von Hochschulen und Seminaren mit umfangreichen Praxisphasen. An die
  lehramtsbezogenen dualen Masterstudiengänge schließt sich ein verkürzter
  Vorbereitungsdienst zum Erwerb der Laufbahnbefähigung an. Damit bietet das
  Land einen neuen Weg ins Lehramt an. Der duale
  lehramtsbezogene Master richtet sich an Absolventinnen und Absolventen
  einschlägiger Fachbachelorstudiengänge ohne lehramtsbezogene Elemente, die
  Lehrerin bzw. Lehrer werden möchten.
</p>
<p>
  Die Universität Freiburg bietet in enger Zusammenarbeit mit dem Seminar für
  die Ausbildung und Fortbildung der Lehrkräfte Freiburg einen dualen
  lehramtsbezogenen Masterstudiengang mit 20 Studienanfängerplätzen für das Lehramt
  Gymnasium mit den Fächerkombinationen Physik – Mathematik oder Informatik –
  Mathematik an.
</p>
<p>
  Auf diesem Weg können Sie bereits nach drei Jahren eine Laufbahnbefähigung für
  das Lehramt Gymnasium erwerben:
</p>
<ul>
  <li>
    In das viersemestrige Masterstudium (Regelstudienzeit) sind Inhalte aus dem
    klassischen Vorbereitungsdienst inklusive Praxisanteilen, die in enger
    Abstimmung zwischen Seminar und Schule stattfinden, integriert.
  </li>
  <li>
    An das Masterstudium schließt sich ein auf ein Jahr verkürzter
    Vorbereitungsdienst zum Erwerb der Laufbahnbefähigung an.
  </li>
</ul>
<p>
  Das Studium wird im Rahmen eines öffentlich-rechtlichen
  <a href="{{url_for('showstudiengang', lang = 'de', studiengang = 'med_dual', anchor = 'rechtsverhaeltnis')}}"
    >Rechtsverhältnisses</a
  >
  (kein Arbeitsverhältnis, kein Beamtenverhältnis) zum Land Baden-Württemberg
  durchlaufen. Die Einstellung in das öffentlich-rechtliche Rechtsverhältnis ist
  Voraussetzung, um einen dualen lehramtsbezogenen Masterstudiengang absolvieren
  zu können. Vorgesehen ist eine Unterhaltsbeihilfe, die in etwa 60 Prozent des
  Anwärtergrundbetrages für das jeweilige Lehramt entspricht. 
  Informationen zum Bewerbungsverfahren, Studienaufbau etc. erfragen Sie gerne
  bei der
  <a href="mailto:lehramt-dual@zv.uni-freiburg.de">Studiengangkoordination</a>.
</p>
