<div class="container" id="featured-3">
  <h1>Masterstudiengang Lehramt Gymnasium – dual</h1>
  <div class="container px-4 py-1" id="featured-3">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
      <div class="feature col">
        <div class="feature-icon bg-gradient text-center">
          <!--               <h2><i class="fa fa-pencil fa-4" aria-hidden="true"></i></h2>-->
          <h2>Geplanter Start</h2>
        </div>
        <div class="text-center">
          <p>Wintersemester 2024/25</p>
        </div>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-gradient text-center">
          <!--               <h2><i class="fa fa-pencil fa-4" aria-hidden="true"></i></h2>-->

          <a
            href="#"
            class="btn btn-primary disabled"
            role="button"
            aria-disabled="true"
          >
            <h2>Zur Bewerbung</h2></a
          >
        </div>
        <div class="py-3 text-center">
          <p>Coming soon...</p>
        </div>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-gradient text-center">
          <h2><i class="fa fa-pencil fa-4" aria-hidden="true"></i></h2>
          <h2>Kurzbeschreibung</h2>
        </div>
        <div>
          <p>
            Der Studiengang ist erster Bestandteil einer dreijährigen Ausbildung
            zum Informatik/Mathematik bzw. Physik/Mathematik-Lehrer*in. Nach dem
            Master-Abschluss nach zwei Jahren folgt eine vom SAL Freiburg
            verantwortete Ausbildungsphase. Studierende befinden sich in einem
            vergüteten Ausbildungsverhältnis.
          </p>
        </div>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-gradient text-center">
          <h2><i class="fa fa-person fa-4" aria-hidden="true"></i></h2>
          <h2>Zielgruppe</h2>
        </div>
        <div>
          <p>
            Hier werden ausschließlich Absolvierende eines BSc Informatik oder
            BSc Physik zugelassen, die gymansiale*r Mathematik-Lehrer*in werden
            wollen. Der Masterstudiengang kann nur zum Wintersemester
            aufgenommen werden.
          </p>
        </div>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-gradient text-center">
          <h2><i class="fa fa-keyboard fa-4" aria-hidden="true"></i></h2>
          <h2>Curriculum</h2>
        </div>
        <div>
          <p>
            Das Studium umfasst die Fachdidaktik (10 ECTS) des ersten Faches
            (Physik bzw. Informatik), fachdidaktische (10 ECTS) und
            fachwissenschaftliche (27 ECTS) Anteile des Faches Mathematik,
            Bildungswissenschaften (25 ECTS), schulpraktische Elemente (33 ECTS)
            und eine Master-Arbeit (15 ECTS).
          </p>
        </div>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-gradient text-center">
          <h2><i class="fa fa-paintbrush fa-4" aria-hidden="true"></i></h2>
          <h2>Schulpraxis</h2>
        </div>
        <div>
          <p>
            Studierende sind für drei Jahre einem Gymnasium im Freiburger Raum
            zugeteilt. Sie werden bereits während des Masterstudiums praktisch
            ausgebilet (vier Wochen Schulpraktikum vor Studienbeginn, verstärkte
            Praxisphasen in Semester 3 und 4). Diese Studieninhalte werden vom
            <a href="https://gym-fr.seminare-bw.de/Startseite"
              >Studienseminar Freiburg
            </a>
            organisiert und durchgeführt.
          </p>
        </div>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-gradient text-center">
          <h2><i class="fa fa-link fa-4" aria-hidden="true"></i></h2>
          <h2>Links</h2>
        </div>
        <div>
          <p></p>
          <ul>
            <li>
              <a href="">Studienberatung Lehramt der Universität Freiburg</a>
            </li>
            <li>
              <a href="">Informationen zum Ausbildungsverhältnis</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
