<!-- {% if lang == "de" %} {% else %} {% endif %} -->
<div class="container" id="featured-3">
  <h1>Masterstudiengang Lehramt Gymnasium - dual</h1>
  <p>
    Der Studiengang ist erster Bestandteil einer dreijährigen Ausbildung zum
    Informatik/Mathematik bzw. Physik/Mathematik-Lehrer*in. Nach dem
    Master-Abschluss nach zwei Jahren folgt eine vom SAF Freiburg verantwortete
    Ausbildungsphase. Studierende befinden sich in einem vergüteten
    Rechtsverhältnis.
  </p>
  <div class="container px-4 py-1" id="featured-3">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
      <div class="feature col">
        <div class="feature-icon bg-gradient text-center">
          <h2><i class="fa fa-pencil fa-4" aria-hidden="true"></i></h2>
          <h2>Kurzprofil</h2>
        </div>
        <ul>
          <li>
            Abschluss: Master of Education und Erwerb der Laufbahnbefähigung für
            das Lehramt Gymnasium in Baden-Württemberg.
          </li>
          <li>
            Dauer: 4 Semester Studiengang M.Ed. (Universität Freiburg) 1 Jahr
            verkürzter Vorbereitungsdienst (SAF Freiburg)
          </li>
          <li>Credits: 120 ECTS-Punkte</li>
        </ul>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-gradient text-center">
          <!--               <h2><i class="fa fa-pencil fa-4" aria-hidden="true"></i></h2>-->
          <a
            href="https://campus.uni-freiburg.de"
            class="btn btn-primary disabled"
            role="button"
            aria-disabled="true"
          >
            <h2>Zur Bewerbung</h2></a
          >
        </div>
        <div class="py-5">
          <ul>
            <li>Bewerbungsfrist: 1.Mai – 30. Juni 2024</li>
            <li>Der Studiengang ist zulassungsbeschränkt (20 Plätze).</li>
            <li>Eine Zulassung ins höhere Semester ist nicht möglich.</li>
          </ul>
        </div>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-gradient text-center">
          <h2><i class="fa fa-key fa-4" aria-hidden="true"></i></h2>
          <h2>Voraussetzungen</h2>
        </div>
        <div>
          <ul>
            <li>
              abgeschlossenes Fachbachelorstudium in den Fächern Physik oder
              Informatik oder ein gleichwertiger Abschluss 
            </li>
            <li>
              parallele Bewerbung um ein öffentlich-rechtliches Dienstverhältnis
              beim Regierungspräsidium Freiburg notwendig
            </li>
            <li>
              nicht möglich mit einem lehramtsbezogenen Bacherlorabschluss in
              Physik oder Informatik
            </li>
          </ul>
          <p>
            Zu Zulassungsbedingungen und Auswahlkriterien berät die
            <a href="mailto:lehramt-dual@zv.uni-freiburg.de"
              >Studiengangkoordination
            </a>
          </p>
        </div>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-gradient text-center">
          <h2><i class="fa fa-check-circle fa-4" aria-hidden="true"></i></h2>
          <h2>Vorteile</h2>
        </div>
        <div>
          <ul>
            <li>
              Vollständige Ausbildung zur Gymnasial-Lehrkraft in nur drei Jahren
            </li>
            <li>Praxisbezug von Anfang an</li>
            <li>verbunden mit einem Einkommen (Details siehe “Hintergrund”)</li>
          </ul>
        </div>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-gradient text-center">
          <h2><i class="fa fa-dollar-sign fa-4" aria-hidden="true"></i></h2>
          <h2>Vergütetes Rechtsverhältnis</h2>
        </div>
        <div>
          Studierende des Masterstudiengangs Lehramt Gymnasium – dual befinden
          sich parallel zu ihrem Studium in einem öffentlich-rechtlichen,
          finanziell vergüteten Rechtsverhältnis und sind für drei Jahre
          einem allgemeinbildenden Gymnasium im Freiburger Raum zugeteilt.
        </div>
      </div>
    </div>

    <div class="row g-4 py-5 row-cols-1 row-cols-lg-1">
      <div class="feature col">
        <div class="feature-icon bg-gradient text-center">
          <h2><i class="fa fa-puzzle-piece fa-4" aria-hidden="true"></i></h2>
          <h2>Curriculum</h2>
        </div>
        <div>
          <img src
            ="/static/pdf/studiengaenge/med_dual/Studienplan-Lehramt-Gymnasium-dual-1536x1086.jpg"
          />
        </div>
      </div>
    </div>
  </div>
</div>
