{% extends "base.html" %}

{% block styles %}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.0/dist/jquery.min.js"
    integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous">
    </script>
<!-- imports calendar.js -->
<script src="{{url_for('static', filename = 'calendar.js')}}">
</script>
{% endblock %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}

<div class="container">
    <br>
    <div id="calendar" defer="defer">Calendar</div>
    <script>
        let currentMonth = (new Date().getMonth() + 1).toString().padStart(2, '0')
        new Calendar('#calendar', '{{ lang }}', {
          maxPastMonth: 3,
        }).importEvents(
          [
            {% for event in events %}
            {
              start: '{{ event["start"]}}',
              end: '{{ event["end"]}}',
              title: '{{ event["title"]}}',
              description: '{{ event["description"]}}',
              responsible: '{{ event["responsible"]}}',
              backgroundColor: '{{ event["backgroundColor"]}}',
              {% if event["striped"] == True %}striped: true, {% endif %} 
            },
            {% endfor %}
          ]
        )
          .renderCalendar();
      </script>
    </div>
{% endblock %}
