<div class="container" id="inhalt">
  <h1>Downloads</h1>
  <p>
    Hier finden Sie die meisten Dokumente, die wir zum Download anbieten. Das
    kommentierte Vorlesungsverzeichnis ist <a href="">hier</a>.
  </p>

  <div id="accordion"></div>
  <div class="accordion accordion-flush" id="accordionExample">
    <div class="accordion-item">
      <h3 class="accordion-header">
        <button
          type="button"
          class="accordion-button {% if anchor != 'formulare' %}collapsed{% endif %}"
          data-bs-target="#formulare"
          aria-controls="formulare"
          aria-expanded="true"
          data-bs-toggle="collapse"
        >
          <h2>Formulare und Merkblätter des Prüfungsamtes</h2>
        </button>
      </h3>
      <div
        aria-labelledby="formulare"
        class="accordion-collapse collapse {% if anchor == 'formulare' %}show{% endif %}"
        data-bs-parent="#accordionExample"
        id="formulare"
      >
        <div class="accordion-body" id="formulareContent">
          <p>Bitte die Formulare nach Möglichkeit digital ausfüllen!</p>
          <ul>
            <li>
              <b> Abmeldung und Rücktritt von Prüfungen </b>
              <br />
              – Merkblatt
              <a
                href="/static/pdf/pruefungsamt/Merkblatt-Pruefungsabmeldung_und_Ruecktritt.pdf"
              >
                alle Studiengänge
              </a>
              <br />
              – Abmeldeformular
              <a
                href="/static/pdf/pruefungsamt/formular-pruefungsabmeldung.pdf"
              >
                alle Studiengänge
              </a>
              <br />
              – Antrag auf Genehmigung eines Rücktritts
              <a href="/static/pdf/pruefungsamt/formular-ruecktritt.pdf">
                alle Studiengänge
              </a>
            </li>
            <li>
              <b> Abschlussarbeit </b>
              <br />
              – Anmeldeformular
              <a
                href="/static/pdf/pruefungsamt/formular-vergabe_abschlussarbeit.pdf"
              >
                alle Studiengänge
              </a>
              <br />
              – Muster-Titelblatt
              <a href="/static/pdf/pruefungsamt/Muster-Titelblatt.pdf">
                alle Studiengänge
              </a>
              <br />
              – Bestätigung der erfolgreichen Präsentation
              <a
                href="/static/pdf/pruefungsamt/formular-praesentation_abschlussarbeit.pdf"
              >
                B.Sc. // M.Sc.
              </a>
            </li>
            <li>
              <b> Absolvent:inn:enfeier </b>
              <br />
              –
              <a
                href="/static/pdf/pruefungsamt/formular-absolventinnenfeier.pdf"
              >
                Teilnahmeformular für alle Studiengänge
              </a>
            </li>
            <li>
              <b> Anerkennung und Anrechnung von Leistungen: </b>
              <br />
              – Anerkennungsformular
              <a href="/static/pdf/pruefungsamt/formular-anerkennung-2hfb.pdf">
                2-Hf.-B.
              </a>
              //
              <a href="/static/pdf/pruefungsamt/formular-anerkennung-bsc.pdf">
                B.Sc.
              </a>
              //
              <a
                href="/static/pdf/pruefungsamt/formulare/formular-anerkennung-med.pdf"
              >
                M.Ed.
              </a>
              //
              <a
                href="/static/pdf/pruefungsamt/formular-anerkennung-med120.pdf"
              >
                Erweiterungsfach 120 ECTS
              </a>
              //
              <a href="/static/pdf/pruefungsamt/formular-anerkennung-med90.pdf">
                90 ECTS
              </a>
              //
              <a href="/static/pdf/pruefungsamt/formular-anerkennung-msc.pdf">
                M.Sc.
              </a>
              <br />
              – Dokumentation erbrachter Studienleistungen für fachfremde
              Wahlmodule
              <a
                href="/static/pdf/pruefungsamt/formular-dokumentation_studienleistungen.pdf"
              >
                B.Sc. // M.Sc.
              </a>
            </li>
            <li>
              <b> Anwendungsfächer im B.Sc. </b>
              <br />
              –
              <a href="/static/pdf/pruefungsamt/formular-anwendungsfach.pdf">
                Antrag auf Sonder-Anwendungfach
              </a>
              <br />
              –
              <a
                href="/static/pdf/pruefungsamt/Merkblatt-Sonderanwendungsfaecher.pdf"
              >
                Merkblatt Sonder-Anwendungsfächer
              </a>
              <br />
              –
              <a
                href="/static/pdf/pruefungsamt/formular-pruefungsanmeldung_sonderanwendungsfach.pdf"
              >
                Prüfungsanmeldung im Sonderanwendungsfach
              </a>
              <br />
              –
              <a href="/static/pdf/pruefungsamt/formular-anwendungsfach.pdf">
                Antrag auf Wechsel des Anwendungfachs
              </a>
              <br />
            </li>
            <li>
              <b> BAföG-Bescheinigungen nach dem 4. Semester: </b>
              <br />
              – Merkblatt
              <a href="/static/pdf/pruefungsamt/Merkblatt-BAfoeG.pdf">
                2-Hf.-B. // B.Sc.
              </a>
            </li>
            <li>
              <b> Nachteilsausgleich: </b>
              <br />
              – Informationsblatt
              <a
                href="/static/pdf/pruefungsamt/Informationen_zum_Nachteilsausgleich-2022.07.08.pdf"
              >
                (deutsch)
              </a>
              <a
                href="/static/pdf/pruefungsamt/Informationen_zum_Nachteilsausgleich-2022.09.30.engl.pdf"
              >
                (englisch)
              </a>
            </li>
            <li>
              <b> Prüfungen im Master </b>
              <br />
              – Zulassung zu den Prüfungen
              <a
                href="/static/pdf/pruefungsamt/formular-zulassung_pruefungen_master.pdf"
              >
                M.Ed. (auch Erweiterungsfach) // M.Sc.
              </a>
              <br />
              – Anmeldeformular für mündliche Prüfung
              <a
                href="/static/pdf/pruefungsamt/formular-muendliche_pruefung_med.pdf"
              >
                M.Ed. (auch Erweiterungsfach 120 ECTS)
              </a>
              //
              <a
                href="/static/pdf/pruefungsamt/formular-muendliche_pruefung_msc.pdf"
              >
                M.Sc.
              </a>
            </li>
            <li>
              <b> Protokoll von Prüfungen</b>
              <br />
              – leeres Protokoll einer mündlichen Prüfung
              <a href="/static/pdf/pruefungsamt/blankoprotokoll.pdf">
                alle Studiengänge
              </a>
            </li>
            <li>
              <b> Prüfungen per Video-Konferenz </b>
              <br />
              –
              <a
                href="/static/pdf/pruefungsamt/formular-alleStg-Datenschutzerklaerung_muendliche_Pruefung-2020.05.27.pdf"
              >
                Datenschutzerklärung für alle Studiengänge
              </a>
            </li>
            <li>
              <b> Redlichkeit</b>
              –
              <a
                href="/static/pdf/pruefungsamt/Regeln_wiss_Redlichkeit.Mathematik.pdf"
                >Informationen zur Redlichkeit im Studium der Mathematik
              </a>
            </li>
            <li>
              <b> Rücktritt aus Krankheitsgründen </b>
              siehe "Abmeldung und Rücktritt von Prüfungen"
            </li>
            <li>
              <b> Vorbehaltserklärung bei fehlender Klausuranmeldung </b>
              <br />
              – Formular
              <a href="/static/pdf/pruefungsamt/vorbehaltserklaerung.pdf">
                alle Studiengänge
              </a>
            </li>
            <li>
              <b> Vorgezogene mündliche Prüfung </b>
              <br />
              – Antragsformular
              <a href="/static/pdf/formular-vorgezogene_pruefung.pdf">
                2-Hf.-B. // B.Sc. // M.Ed. als Erweiterungsfach
              </a>
            </li>
            <li>
              <b> Wiederholungsprüfung </b>
              <br />
              – Merkblatt
              <a
                href="/static/pdf/pruefungsamt/Merkblatt-Pruefungswiederholung-2HfB21.pdf"
              >
                2-Hf.-B.
              </a>
              //
              <a
                href="/static/pdf/pruefungsamt/Merkblatt-Pruefungswiederholung-BSc21.pdf"
              >
                B.Sc. (PO 2021)
              </a>
              //
              <a
                href="/static/pdf/pruefungsamt/Merkblatt-Pruefungswiederholung-BSc12.pdf"
              >
                B.Sc. (PO 2012)
              </a>
              //
              <a
                href="/static/pdf/pruefungsamt/Merkblatt-Pruefungswiederholung-MEd18.pdf"
              >
                M.Ed.
              </a>
              // Erweiterungsfach
              <a
                href="/static/pdf/pruefungsamt/Merkblatt-Pruefungswiederholung-MEH21.pdf"
              >
                120 ECTS
              </a>
              //
              <a
                href="/static/pdf/pruefungsamt/Merkblatt-Pruefungswiederholung-MEB21.pdf"
              >
                90 ECTS
              </a>
              //
              <a
                href="/static/pdf/pruefungsamt/Merkblatt-Pruefungswiederholung-MSc14.pdf"
              >
                M.Sc.
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h3 class="accordion-header">
        <button
          type="button"
          class="accordion-button {% if anchor != 'studiendokumente' %}collapsed{% endif %}"
          data-bs-target="#studiendokumente"
          aria-controls="studiendokumente"
          aria-expanded="true"
          data-bs-toggle="collapse"
        >
          <h2>Studiendokumente (Prüfungsordnungen, Modulhandbücher etc.)</h2>
        </button>
      </h3>
      <div
        aria-labelledby="studiendokumente"
        class="accordion-collapse collapse {% if anchor == 'studiendokumente' %}show{% endif %}"
        data-bs-parent="#accordionExample"
        id="studiendokumente"
      >
        <div class="accordion-body">
          <h3>Modulhandbücher nach Studiengängen</h3>
          <p>
            Soweit die genauen Anforderungen an Prüfungs- und Studienleistungen
            nicht schon in den Prüfungsordnungen festgelegt sind, werden sie pro
            Semester, Veranstaltung und Modul in den
            <a href="{{ url_for('showlehrveranstaltungenbase', lang=lang)}}"
              >aktuellen Ergänzungen der Modulhandbücher</a
            >
            beschrieben.
          </p>
          <table
            class="table table-lg table-striped table-hover table-borderless"
          >
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">
                  <center>
                    <div>Prüfungs- und</div>
                    <div>Zulassungsordnungen</div>
                  </center>
                </th>
                <th scope="col">
                  <center>
                    <div></div>
                    <div>Modulhandbuch</div>
                  </center>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Bachelor of Science Mathematik</th>
                <td>
                  <center>
                    <a
                      href="https://www.studium.uni-freiburg.de/de/studienangebot/studienfaecher/info/303#collapse-Satzungen"
                      ><i class="fa-solid fa-link"></i
                    ></a>
                  </center>
                </td>
                <td>
                  <center>
                    <a
                      href="/static/pdf/studiengaenge/bsc/Modulhandbuch-Mathematik-BSc21-2023.01.16.pdf"
                      >Stand Mai 2022</a
                    >
                  </center>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Polyvalenter Zwei-Hauptfächer-Bachelor (PO 2021)
                </th>
                <td>
                  <center>
                    <a
                      href="https://www.studium.uni-freiburg.de/de/studienangebot/studienfaecher/info/671#collapse-Satzungen
"
                      ><i class="fa-solid fa-link"></i
                    ></a>
                  </center>
                </td>
                <td>
                  <center>
                    <div>
                      <a
                        href="/static/pdf/studiengaenge/2hfb/Modulhandbuch-Mathematik-2HfB21-2022.05.22.pdf"
                        >Stand Mai 2022</a
                      >
                    </div>
                    <div>
                      <a
                        href="/static/pdf/studiengaenge/2hfb/Modulhandbuch-Mathematik-2HfB21_Optionsbereich-2022.05.22.pdf"
                        >Mathematikmodule im Optionsbereich - Stand Mai 2022</a
                      >
                    </div>
                  </center>
                </td>
              </tr>
              <tr>
                <th scope="row">Master of Science Mathematik (PO 2014)</th>
                <td>
                  <center>
                    <a
                      href="https://www.studium.uni-freiburg.de/de/studienangebot/studienfaecher/info/363#collapse-Satzungen"
                      ><i class="fa-solid fa-link"></i
                    ></a>
                  </center>
                </td>
                <td>
                  <center>
                    <a
                      href="/static/pdf/studiengaenge/msc/Modulhandbuch-Mathematik-MSc14-2022.05.21.pdf"
                      >Stand Mai 2022</a
                    >
                  </center>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Master of Science Mathematics in Data and Technology (PO 2024)
                </th>
                <td>
                  <center>
                    <a
                      href="https://www.studium.uni-freiburg.de/de/studienangebot/master/info/776#collapse-Satzungen"
                      ><i class="fa-solid fa-link"></i
                    ></a>
                  </center>
                </td>
                <td>
                  <center>
                    <a
                      href="/static/pdf/studiengaenge/msc_data/Modulhandbuch-MSc_Maths_in_Data_and_Technology.pdf"
                      >Stand Juni 2024</a
                    >
                  </center>
                </td>
              </tr>
              <tr>
                <th scope="row">Master of Education (PO 2018)*</th>
                <td>
                  <center>
                    <a
                      href="https://www.studium.uni-freiburg.de/de/studienangebot/studienfaecher/info/715#collapse-Satzungen"
                      ><i class="fa-solid fa-link"></i
                    ></a>
                  </center>
                </td>
                <td>
                  <center>
                    <a
                      href="/static/pdf/studiengaenge/med/Modulhandbuch-Mathematik-MEd18-2022.05.21.pdf"
                      >Stand Mai 2022</a
                    >
                  </center>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Master of Education als Erweiterungsbeifach mit 90
                  ECTS-Punkten (PO 2021)
                </th>
                <td>
                  <center>
                    <a
                      href="https://www.studium.uni-freiburg.de/de/studienangebot/studienfaecher/info/748#collapse-Satzungen"
                      ><i class="fa-solid fa-link"></i
                    ></a>
                  </center>
                </td>
                <td>
                  <center>
                    <a
                      href="/static/pdf/studiengaenge/med_erw/Modulhandbuch-Mathematik-MEB21-2022.05.22.pdf"
                      >Stand Mai 2022</a
                    >
                  </center>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Master of Education als Erweiterungshauptfach mit 120
                  ECTS-Punkten (PO 2021)
                </th>
                <td>
                  <center>
                    <a
                      href="https://www.studium.uni-freiburg.de/de/studienangebot/studienfaecher/info/747#collapse-Satzungen"
                      ><i class="fa-solid fa-link"></i
                    ></a>
                  </center>
                </td>
                <td>
                  <center>
                    <a
                      href="/static/pdf/studiengaenge/med_erw/Modulhandbuch-Mathematik-MEB21-2022.05.22.pdf"
                      >Stand Mai 2022</a
                    >
                  </center>
                </td>
              </tr>
            </tbody>
          </table>

          <p>
            (*) Beim Modulhandbuch für den M.Ed.-Studiengang steht irrtümlich
            "(2. Fach bei Musik-/Kunsthochschule)". Das Modulhandbuch gilt auch
            für Fächerkombinationen mit einem zweiten wissenschaftlichen Fach an
            der Universität! Zur Korrektur müsste eine Programmierung in
            HISinOne geändert werden.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h3 class="accordion-header">
        <button
          type="button"
          class="accordion-button {% if anchor != 'bericht' %}collapsed{% endif %}"
          data-bs-target="#bericht"
          aria-controls="bericht"
          aria-expanded="true"
          data-bs-toggle="collapse"
        >
          <h2>Berichtswesen und sonstige Dokumente</h2>
        </button>
      </h3>
      <div
        aria-labelledby="bericht"
        class="accordion-collapse collapse {% if anchor == 'bericht' %}show{% endif %}"
        data-bs-parent="#accordionExample"
        id="bericht"
      >
        <div class="accordion-body" id="berichtContent">
          <ul>
            <li>
              <a
                href="/static/pdf/bericht/Qualitaetsziele_Studium-und-Lehre_MathPhys-2018.04.30.pdf"
                >Qualitätsziele der Fakultät für Mathematik und Physik in
                Studium und Lehre</a
              >
            </li>
            <li>
              <a
                href="/static/pdf/bericht/Uni-Freiburg-Datenschutz-Informationen-Immatrikulation-Studium-Promotion.pdf')}}"
                >Informationen nach Art. 13/14 Datenschutzgrundverordnung
                (DSGVO)</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
