<div class="container" id="inhalt">
  <br />
  <div class="row row-cols-md-3 row-cols-sm-2 row-cols-xs-1 g-3">
    <div class="col">
      <div class="card h-100 bg-ufr-yellow-60">
        <a href="{{url_for('showinteresse', lang = lang)}}" class="link-dark">
          <center>
            <img
              src="/static/Bilder/Penrose-Mosaik-2021_klein.jpg"
              class="card-img-fluid"
              alt="© Mathematisches Institut"
              style="height: 100%; width: 100%; object-fit: cover"
            />
          </center>

          <div class="card-body">
            <h3 class="h5">Für Studieninteressierte</h3>
            <div class="card-text">
              <p>
              </p>
            </div>
          </div></a
        >
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <a
          href="{{url_for('showstudienberatungschwerpunktgebiete', lang = lang)}}"
          class="link-dark"
        >
          <center>
            <img
              src="/static/Bilder/startseite_dozenten_2023_klein.jpg"
              class="card-img-fluid"
              alt="© Mathematisches Institut"
              style="height: 100%; width: 100%; object-fit: cover"
            />
          </center>
          <div class="card-body">
            <h3 class="h5">Schwerpunktgebiete</h3>
            <div class="card-text">
              <p>
              </p>
            </div>
          </div></a
        >
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <a href="{{url_for('showmscdatanews', lang = lang)}}" class="link-dark">
          <center>
            <img
              src="/static/Bilder/aad8d969-9619-455b-a8f4-e9f2da2b7200_klein.jpg"
              class="card-img-fluid"
              alt="mit Dall-E produziert"
              style="height: 100%; width: 100%; object-fit: cover"
            />
          </center>
          <div class="card-body">
            <h3 class="h5">
              Neuer Studiengang MSC Mathematics in Data and Technology
            </h3>
            <div class="card-text">
              <p>
                Start voraussichtlich WS 2024!
              </p>
            </div>
          </div></a
        >
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <a href="{{url_for('showlehrveranstaltungenaktuelles', lang=lang)}}" class="link-dark">
          <center>
            <img
              src="/static/Bilder/Uni_Freiburg_Okt_2021_4.jpg"
              class="card-img-fluid"
              alt="..."
              style="height: 100%; width: 100%; object-fit: cover"
            />
          </center>
          <div class="card-body">
            <h3 class="h5">Lehrveranstaltungen des laufenden Semesters</h3>
            <div class="card-text">
              <p></p>
            </div></div
        ></a>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <a href="{{url_for('showlehrveranstaltungenkommendes', lang=lang)}}" class="link-dark">
          <center>
            <img
              src="/static/Bilder/Uni_Freiburg_Okt_2021_23.jpg"
              class="card-img-fluid"
              alt="..."
              style="height: 100%; width: 100%; object-fit: cover"
            />
          </center>
          <div class="card-body">
            <h3 class="h5">Lehrveranstaltungen des kommenden Semesters</h3>
            <div class="card-text">
              <p></p>
            </div></div
        ></a>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <a
          href="{{url_for('showmsc', lang = lang, anchor = 'kurzzusammenfassung')}}"
          class="link-dark"
        >
          <center>
            <img
              src="/static/Bilder/ALU_Rektorat_116.jpg"
              class="card-img-fluid"
              alt="..."
              style="height: 100%; width: 100%; object-fit: cover"
            />
          </center>
          <div class="card-body">
            <h3 class="h5">Formulare</h3>
            <div class="card-text">
              <p></p>
            </div></div
        ></a>
      </div>
    </div>
  </div>
</div>
