<div class="container" id="inhalt">
 <h1>
  Studium und Lehre
 </h1>
 <p>
  <img alt="[Hörsaal]" src="https://www.math.uni-freiburg.de/i/Webseite-oben-Studierende_im_Hoersaal.jpg" style="width:100%;" title="Hörsaal (Foto: Peter Mesenholl, Ausschnitt, © Freikon #727971)"/>
 </p>
 <!-- Verantwortlich für diese Seite: Markus Junker -->
 <div class="accordion accordion-flush" id="accordionExample">
  <div class="accordion-item" id="vor">
   <h3 class="accordion-header" id="headervor">
    <button aria-controls="vorContent" aria-expanded="false" class="accordion-button" data-bs-target="#vorContent" data-bs-toggle="collapse" type="button">
     Zur Orientierung vor dem Studium und beim Studienbeginn
    </button>
   </h3>
   <div aria-labelledby="vorContent" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="vorContent">
    <div class="accordion-body" id="vorContent">
     <ul>
      <li>
       <a href="https://www.math.uni-freiburg.de/lehre/studieninteresse.html#beratung">
        Informationen für Studieninteressierte
       </a>
      </li>
      <li>
       <a href="https://www.osa.uni-freiburg.de/mathematik">
        OSA Mathematik
       </a>
       (Online-Studienwahl-Assistent)
      </li>
      <li>
       <a href="https://www.math.uni-freiburg.de/lehre/mathematikinteresse.html">
        Angebote für Schüler:innen und an Mathematik Interessierte
       </a>
      </li>
      <li>
       <a href="https://www.math.uni-freiburg.de/lehre/studienberatung.html">
        Studienberatung Mathematik
       </a>
      </li>
      <li>
       <a href="https://www.math.uni-freiburg.de/lehre/studienanfang.html">
        Wegweiser für den Studienanfang in Mathematik
       </a>
      </li>
     </ul>
    </div>
   </div>
  </div>
  <div class="accordion-item" id="aktuell">
   <h3 class="accordion-header" id="headeraktuell">
    <button aria-controls="aktuellContent" aria-expanded="false" class="accordion-button" data-bs-target="#aktuellContent" data-bs-toggle="collapse" type="button">
     Aktuelle Studiengänge
    </button>
   </h3>
   <div aria-labelledby="aktuellContent" class="accordion-collapse collapse show" data-bs-parent="#accordionExample" id="aktuellContent">
    <div class="accordion-body" id="aktuellContent">
     <ul>
      <li>
       <a href="https://www.math.uni-freiburg.de/lehre/studiengaenge/bsc-2021.html">
        Bachelor of Science
       </a>
       (PO 2021)
    – 1-Hauptfach-Studiengang
      </li>
      <li>
       <a href="https://www.math.uni-freiburg.de/lehre/studiengaenge/2hfb-2021.html">
        Zwei-Hauptfächer-Bachelor
       </a>
       (PO 2021)
    – mit Lehramtsoption
      </li>
      <li>
       <a href="https://www.math.uni-freiburg.de/lehre/studiengaenge/msc-2014.html">
        Master of Science
       </a>
       (PO 2014)
    – mit Profillinie Finanzmathematik
      </li>
      <!--    <ul>
      <li><a href="https://www.math.uni-freiburg.de/lehre/studiengaenge/msc-2014.finance.html">Profillinie Finanzmathematik</a></li>
      <li><a href="https://www.math.uni-freiburg.de/lehre/studiengaenge/msc-2014.bewerbung.html">Bewerbung und Zulassung</a></li>
    </ul>-->
      <li>
       <a href="https://www.math.uni-freiburg.de/lehre/studiengaenge/med-2018.html">
        Master of Education
       </a>
       (PO 2018)
      </li>
      <li>
       <a href="https://www.math.uni-freiburg.de/lehre/studiengaenge/ewm-2021.html">
        Master of Education, Mathematik als Erweiterungsfach
       </a>
       (PO 2021)
      </li>
     </ul>
    </div>
   </div>
  </div>
  <div class="accordion-item" id="geplant">
   <h3 class="accordion-header" id="headergeplant">
    <button aria-controls="geplantContent" aria-expanded="false" class="accordion-button" data-bs-target="#geplantContent" data-bs-toggle="collapse" type="button">
     Geplante Studiengänge
    </button>
   </h3>
   <div aria-labelledby="geplantContent" class="accordion-collapse collapse show" data-bs-parent="#accordionExample" id="geplantContent">
    <div class="accordion-body" id="geplantContent">
     <ul>
      <li>
       Das Mathematische Institut möchte zum Wintersemester 2024/25 einen neuen M.Sc.-Studiengang „Mathematics in Data and Technology“ einrichten.
      Der Studiengang wird eine anwendungsoriertierte Vertiefung in den Bereichen Data Science, Numerik, Stochastik ermöglichen
      und auch für Absolvent:inn:en mathematiknaher Bachelor-Studiengänge (Informatik, Ingenieurstudiengänge, Physik) zugänglich sein.
      </li>
      <li>
       Das Kultusministerium plant einen „Dualen M.Ed.-Studiengang“ zum Quereinstieg
      in das gymnasiale Lehramt für Absolvent:inn:en eines B.Sc.-Studiums in Physik oder Informatik,
      mit Mathematik als zweitem Fach. Die Universität Freiburg ist als Pilotuniversität daran beteiligt, 
      der Studiengang ist jedoch noch in der Planungsphase und kommt frühestens zum Wintersemester 2024/25, möglicherweise erst zum Wintersemester 2025/26.
      </li>
     </ul>
    </div>
   </div>
  </div>
  <div class="accordion-item" id="aus">
   <h3 class="accordion-header" id="headeraus">
    <button aria-controls="ausContent" aria-expanded="false" class="accordion-button" data-bs-target="#ausContent" data-bs-toggle="collapse" type="button">
     Auslaufende Studiengänge und Prüfungsordnungsversionen
    </button>
   </h3>
   <div aria-labelledby="ausContent" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="ausContent">
    <div class="accordion-body" id="ausContent">
     <ul>
      <li>
       <a href="https://www.math.uni-freiburg.de/lehre/studiengaenge/bsc-2012.html">
        Bachelor of Science
       </a>
       (PO 2012)
      </li>
      <!-- <li> <a href="https://www.math.uni-freiburg.de/lehre/studiengaenge/2hfb-2015.html">Zwei-Hauptfächer-Bachelor</a> (PO 2015) </li> -->
      <!--<li> <a href="bacc.html">Baccalaureus</a> </li>-->
      <!--<li> <a href="bachelor-2008.html">Bachelor of Science (PO 2008)</a> &nbsp; (Studienbeginn vor WS 2012/13)</li>-->
      <li>
       <a href="https://www.math.uni-freiburg.de/lehre/studiengaenge/diplom.html">
        Diplom
       </a>
      </li>
      <li>
       <a href="https://www.math.uni-freiburg.de/lehre/studiengaenge/lehramt.html">
        Lehramt
       </a>
       (GymPO 2010)
      </li>
      <!--<li> <a href="lehramt-alt.html">Lehramt (WPO 2001)</a> &nbsp; (Studienbeginn vor WS 2010/11)</li>-->
      <!--<li> <a href="master-2011.html">Master of Science (PO 2011)</a> &nbsp; (Studienbeginn vor WS 2014/15)</li>-->
      <!--<li> <a href="magart.html">Magister Artium</a>
  <li> <a href="magsc.html">Magister Scientiarum</a>-->
     </ul>
    </div>
   </div>
  </div>
  <div class="accordion-item" id="hoeher">
   <h3 class="accordion-header" id="headerhoeher">
    <button aria-controls="hoeherContent" aria-expanded="false" class="accordion-button" data-bs-target="#hoeherContent" data-bs-toggle="collapse" type="button">
     Höhere akademische Abschlüsse
    </button>
   </h3>
   <div aria-labelledby="hoeherContent" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="hoeherContent">
    <div class="accordion-body" id="hoeherContent">
     <ul>
      <li>
       <a href="https://www.math.uni-freiburg.de/lehre/promotion.html">
        Promotion
       </a>
       (PO 2016)
      </li>
      <li>
       <a href="https://www.math.uni-freiburg.de/lehre/dokumente/HabilOmathphys-02-12-03_Aend_01-10-06-Druckvorlage.pdf">
        Habilitationsordnung
       </a>
       (pdf, 2006)
      </li>
     </ul>
    </div>
   </div>
  </div>
  <div class="accordion-item" id="waehrend">
   <h3 class="accordion-header" id="headerwaehrend">
    <button aria-controls="waehrendContent" aria-expanded="false" class="accordion-button" data-bs-target="#waehrendContent" data-bs-toggle="collapse" type="button">
     Studienrelevante Links und Dokumente
    </button>
   </h3>
   <div aria-labelledby="waehrendContent" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="waehrendContent">
    <div class="accordion-body" id="waehrendContent">
     <ul>
      <li>
       <a href="https://www.math.uni-freiburg.de/aktuell/studinfo/">
        Aktuelle Informationen für Studierende
       </a>
      </li>
      <li>
       <a href="https://fachschaft-mathe-freiburg.de">
        Fachschaft Mathematik
       </a>
      </li>
      <li>
       Lehrveranstaltungen:
       <a href="https://www.math.uni-freiburg.de/lehre/v/index.html">
        Mathematik
       </a>
       //
       <a href="https://campus.uni-freiburg.de/qisserver/pages/cm/exa/coursecatalog/showCourseCatalog.xhtml?_flowId=showCourseCatalog-flow">
        gesamte Universität
       </a>
       <!--unter "Studienangebot -> Vorlesungsverzeichnis anzeigen"-->
       //
       <a href="https://www.studium.uni-freiburg.de/de/fristen-und-veranstaltungen/semester-und-vorlesungszeiten/">
        Vorlesungszeiten
       </a>
      </li>
      <li>
       <a href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/modulhandbuecher.html">
        Modulhandbücher
       </a>
      </li>
      <li>
       <a href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/index.html">
        Prüfungsamt
       </a>
      </li>
      <li>
       Prüfungsordnungen:
       <a href="https://www.studium.uni-freiburg.de/de/studienangebot/studienfaecher/info/671#collapse-Satzungen">
        2-Hf.-B.
       </a>
       /
       <a href="https://www.studium.uni-freiburg.de/de/studienangebot/studienfaecher/info/303#collapse-Satzungen">
        B.Sc.
       </a>
       /
       <a href="https://www.studium.uni-freiburg.de/de/studienangebot/studienfaecher/info/108#collapse-Satzungen">
        Lehramt nach GymPO
       </a>
       und
       <a href="https://www.math.uni-freiburg.de/lehre/dokumente/GymPO-2010.pdf">
        GymPO
       </a>
       (pdf) /
       <a href="https://www.studium.uni-freiburg.de/de/studienangebot/studienfaecher/info/715#collapse-Satzungen">
        M.Ed.
       </a>
       /
       <a href="https://www.studium.uni-freiburg.de/de/studienangebot/studienfaecher/info/363#collapse-Satzungen">
        M.Sc.
       </a>
      </li>
      <li>
       <a href="https://www.math.uni-freiburg.de/lehre/studienberatung.html">
        Studienberatung Mathematik
       </a>
      </li>
      <li>
       <a href="https://www.studium.uni-freiburg.de/de/">
        Studierendenportal der Universität Freiburg
       </a>
       :
    Zentrale Informationen und Services für das Studium
      </li>
     </ul>
    </div>
   </div>
  </div>
  <div class="accordion-item" id="administrativ">
   <h3 class="accordion-header" id="headeradministrativ">
    <button aria-controls="administrativContent" aria-expanded="false" class="accordion-button" data-bs-target="#administrativContent" data-bs-toggle="collapse" type="button">
     Administrative Dokumente
    </button>
   </h3>
   <div aria-labelledby="administrativContent" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="administrativContent">
    <div class="accordion-body" id="administrativContent">
     <p>
     </p>
     <ul>
      <li>
       <a href="./dokumente/Qualitaetsziele_Studium-und-Lehre_MathPhys-2018.04.30.pdf">
        Qualitätsziele der Fakultät für Mathematik und Physik in Studium und Lehre
       </a>
      </li>
      <li>
       <a href="../aktuell/azdoku.html">
        Informationen zur Arbeitszeitdokumentation für studentische und wissenschaftliche Hilfskräfte
       </a>
      </li>
     </ul>
    </div>
   </div>
  </div>
 </div>
</div>
