<div class="container">
  <h2>Mediathek</h2>
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseVideos"
          aria-expanded="false"
          aria-controls="flush-collapseVideos"
        >
          Videos
        </button>
      </h2>
      <div
        id="flush-collapseVideos"
        class="accordion-collapse collapse show"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <div class="row row-cols-md-4 row-cols-sm-2 row-cols-xs-1 g-2">
            <div class="col">
              <div class="card h-100">
                <a
                  href="https://www.osa.uni-freiburg.de/mathematik/gesichter/studierende/"
                >
                  <center>
                    <img
                      src="{{url_for('static', filename='Bilder/Barbara-Hanser.jpg')}}"
                      class="card-img-fluid"
                      alt="..."
                      style="height: 100%; width: 100%; object-fit: cover"
                    />
                  </center>
                </a>
                <div class="card-body">
                  <h5>Studierende gefragt</h5>
                  <p class="card-text">...aus dem OSA Mathematik</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <a
                  href="https://www.osa.uni-freiburg.de/mathematik/gesichter/lehrende/"
                >
                  <center>
                    <img
                      src="{{url_for('static', filename='Bilder/Peter-Pfaffelhuber.jpg')}}"
                      class="card-img-fluid"
                      alt="..."
                      style="height: 100%; width: 100%; object-fit: cover"
                    />
                  </center>
                </a>
                <div class="card-body">
                  <h5>Lehrende gefragt</h5>
                  <p class="card-text">...aus dem OSA Mathematik</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <a
                  href="https://www.osa.uni-freiburg.de/mathematik/gesichter/beratende/"
                >
                  <center>
                    <img
                      src="{{url_for('static', filename='Bilder/Markus-Junker.jpg')}}"
                      class="card-img-fluid"
                      alt="..."
                      style="height: 100%; width: 100%; object-fit: cover"
                    />
                  </center>
                </a>
                <div class="card-body">
                  <h5>Beratende gefragt</h5>
                  <p class="card-text">...aus dem OSA Mathematik</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <a
                  href="https://www.videoportal.uni-freiburg.de/video/Mathematik-Marius-stellt-seinen-Studiengang-vor/49f286bea9e1a34a0380900b5bab8938"
                >
                  <center>
                    <img
                      src="{{url_for('static', filename='Bilder/studint-marius.jpg')}}"
                      class="card-img-fluid"
                      alt="..."
                      style="height: 100%; width: 100%; object-fit: cover"
                    />
                  </center>
                </a>
                <div class="card-body">
                  <h5>Marius stellt seinen Studiengang vor</h5>
                  <p class="card-text"></p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <a
                  href="https://www.osa.uni-freiburg.de/campustour/institutsviertel/"
                >
                  <center>
                    <img
                      src="{{url_for('static', filename='Bilder/studint-rundbau-kramer.jpg')}}"
                      class="card-img-fluid"
                      alt="..."
                      style="height: 100%; width: 100%; object-fit: cover"
                    />
                  </center>
                </a>
                <div class="card-body">
                  <h5>Campustour Institutsviertel</h5>
                  <p class="card-text"></p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <a href="https://www.osa.uni-freiburg.de/mathematik">
                  <center>
                    <img
                      src="{{url_for('static', filename='Bilder/MAT_kachel_OSA-Stempel_546.jpg')}}"
                      class="card-img-fluid"
                      alt="..."
                      style="height: 100%; width: 100%; object-fit: cover"
                    />
                  </center>
                </a>
                <div class="card-body">
                  <h5>OSA</h5>
                  <p class="card-text">Online Studienwahl-Assistent</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <a
                  href="https://www.youtube.com/watch?v=kufHlX4WEPg&list=PL0KNNSWJHMYS7SMT8BYNEgD5pGuWISHUP"
                >
                  <center>
                    <img
                      src="{{url_for('static', filename='Bilder/studint-oben.jpg')}}"
                      class="card-img-fluid"
                      alt="..."
                      style="height: 100%; width: 100%; object-fit: cover"
                    />
                  </center>
                </a>
                <div class="card-body">
                  <h5>Die Uni von oben</h5>
                  <p class="card-text"></p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <a href="https://www.youtube.com/watch?v=M6iHIjYe69E">
                  <center>
                    <img
                      src="{{url_for('static', filename='Bilder/studint-song.jpg')}}"
                      class="card-img-fluid"
                      alt="..."
                      style="height: 100%; width: 100%; object-fit: cover"
                    />
                  </center>
                </a>
                <div class="card-body">
                  <h5>Mathesong 'Funktionentheorie'</h5>
                  <p class="card-text"></p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <a href="https://www.youtube.com/watch?v=d8vn_RPioPU">
                  <center>
                    <img
                      src="{{url_for('static', filename='Bilder/yt_mathe1_resize.jpg')}}"
                      class="card-img-fluid"
                      alt="..."
                      style="height: 100%; width: 100%; object-fit: cover"
                    />
                  </center>
                </a>

                <div class="card-body">
                  <h5>Mathesong 'Numerik'</h5>
                  <p class="card-text"></p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <a href="https://www.youtube.com/watch?v=d3-9pGneuh4">
                  <center>
                    <img
                      src="{{url_for('static', filename='Bilder/yt_mathe2_resize.jpg')}}"
                      class="card-img-fluid"
                      alt="..."
                      style="height: 100%; width: 100%; object-fit: cover"
                    />
                  </center>
                </a>

                <div class="card-body">
                  <h5>Mathesong 'Algebra'</h5>
                  <p class="card-text"></p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <a
                  href="https://www.YouTube.com/channel/UCmJElIlXbUogzf4Csfm9yjw"
                >
                  <center>
                    <img
                      src="{{url_for('static', filename='Bilder/yt_mathe_channel.jpg')}}"
                      class="card-img-fluid"
                      alt="..."
                      style="height: 100%; width: 100%; object-fit: cover"
                    />
                  </center>
                </a>

                <div class="card-body">
                  <h5>YouTube-Kanal</h5>
                  <p class="card-text">des Mathematischen Instituts</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <a
                  href="https://www.YouTube.com/channel/UCO88NM05bOwv64u339P2hmw"
                >
                  <center>
                    <img
                      src="{{url_for('static', filename='Bilder/yt_pfaffelhuber.jpg')}}"
                      class="card-img-fluid"
                      alt="..."
                      style="height: 100%; width: 100%; object-fit: cover"
                    />
                  </center>
                </a>

                <div class="card-body">
                  <h5>YouTube-Kanal</h5>
                  <p class="card-text">von Peter Pfaffelhuber</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <a href="https://www.youtube.com/watch?v=_3bT8IjO7jI">
                  <center>
                    <img
                      src="{{url_for('static', filename='Bilder/yt_schmidt.jpg')}}"
                      class="card-img-fluid"
                      alt="..."
                      style="height: 100%; width: 100%; object-fit: cover"
                    />
                  </center>
                </a>

                <div class="card-body">
                  <h5>Prof. Dr. Thorsten Schmidt</h5>
                  <p class="card-text">
                    „Künstliche Intelligenz und Machine Learning“
                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <a href="https://www.youtube.com/watch?v=LpTzpSl6GXI">
                  <center>
                    <img
                      src="{{url_for('static', filename='Bilder/yt_dondl.jpg')}}"
                      class="card-img-fluid"
                      alt="..."
                      style="height: 100%; width: 100%; object-fit: cover"
                    />
                  </center>
                </a>

                <div class="card-body">
                  <h5>Prof. Dr. Patrick Dondl</h5>
                  <p class="card-text">
                    „Mathematische Strukturen in Formgedächtnismetallen“
                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <a href="https://www.youtube.com/watch?v=9BqKrZf0YfA">
                  <center>
                    <img
                      src="{{url_for('static', filename='Bilder/yt_stuber.jpg')}}"
                      class="card-img-fluid"
                      alt="..."
                      style="height: 100%; width: 100%; object-fit: cover"
                    />
                  </center>
                </a>

                <div class="card-body">
                  <h5>Brendan Stuber-Rousselle M.Sc.</h5>
                  <p class="card-text">
                    „Kann ein Mensch mehr beweisen als ein Computer?“
                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <a href="https://www.youtube.com/watch?v=Atu9LM09mjY">
                  <center>
                    <img
                      src="{{url_for('static', filename='Bilder/yt_grosse.jpg')}}"
                      class="card-img-fluid"
                      alt="..."
                      style="height: 100%; width: 100%; object-fit: cover"
                    />
                  </center>
                </a>

                <div class="card-body">
                  <h5>Prof. Dr. Nadine Große</h5>
                  <p class="card-text">„Gitarre oder Trommel?“</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseDownloads"
            aria-expanded="false"
            aria-controls="flush-collapseDownloads"
          >
            Downloads
          </button>
        </h2>
        <div
          id="flush-collapseDownloads"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            <ul>
              <li><a href="{{url_for('static', filename='pdf/Qualitaetsziele_Studium-und-Lehre_MathPhys-2018.04.30.pdf')}}">Qualitätsziele der Fakultät für Mathematik und Physik in Studium und Lehre</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
