{% extends 'basemonitor.html' %} {% block content %}
<div
  id="carouselExampleDark"
  class="carousel carousel-dark slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    {% for item in data["carouselmonitor"] %}
    <div class="carousel-item active" data-bs-interval="{{ item['interval'] }}">
      <img
        class="carousel-image"
        src="{{ item['image']}}"
        class="d-block w-100"
        alt="..."
      />
      <div class="container-sm">
        <div
          class="carousel-caption d-none d-md-block"
          style="left:{{ item['left'] }}; right:{{ item['right'] }}; bottom:{{ item['bottom'] }}; background-color: white;"
        >
          <h2>{{ item['text'] | safe}}</h2>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div><br /></div>
<div class="container" id="inhalt">
  <br />
  <div class="row row-cols-1 g-3">
    {% for item in data["news"] %}
    <div class="col">
      <div class="card h-100">
        <div class="g-0 bg-ufr-blue-20 {{ item['color'] }}">
          <div class="d-flex d-flex-row-reverse align-top">
            {% if loop.index0 %2 == 1 %}
            <img
              src="{{ item['image'] }}"
              alt="..."
              style=" max-height: 30vw; width: 100%; {{ item['style'] }}"
            />
            {% endif %}

            <div class="card-body">
              <h3 class="h5">
                {% if lang == 'de' %}{{ item['title_de'] | safe }}{% else %}{{
                item['title_en'] | safe}} {% endif %}
              </h3>
              <div class="card-text">
                {% if item['link']!= '' %}
                <img
                  src="https://api.qrserver.com/v1/create-qr-code/?data={{
                  item['link'] }}&amp;size=100x100"
                  class="float-{% if loop.index % 2 == 1 %}start{% else %}end{% endif %} me-3"
                  style="display: table-row; vertical-align: bottom"
                  alt=""
                  title="HELLO"
                  width="100"
                  height="100"
                />
                {% endif %}
                <p>
                  {% if lang == 'de' %}{{ item['text_de'] | safe}}{% else %}{{
                  item['text_en'] | safe }} {% endif %}
                </p>
              </div>
            </div>
            {% if loop.index0 %2 == 0 %}
            <img
              src="{{ item['image'] }}"
              alt="..."
              style=" max-height: 30vw; width: 100%; {{ item['style'] }}"
            />
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div><br /></div>
{% endblock %}

<div><br /></div>
<div><br /></div>
<div><br /></div>
<div><br /></div>
<div><br /></div>
<div><br /></div>
<div><br /></div>
<div><br /></div>
<div><br /></div>
<div><br /></div>
<div><br /></div>
