<div class="ufr-menu-cols">
  <ul class="ufr-menu-list">
    <li>
      <a class="ufr-menu-item" href="https://uni-freiburg.de/math/studieninteressierte/">
        {% if lang == "de" %}Studieninteresse{% else %}Study with us{% endif %}
      </a>
    </li>
    <li>
      <a class="ufr-menu-item" href="{{ url_for('showanfang', lang = lang) }}">
        {% if lang == "de" %}Studienanfang{% else %}Start of studies{% endif %}
      </a>
    </li>

    <li>
      <span class="ufr-menu-section-title">
        <a class="text-reset" href="{{ url_for('showstudiengaenge', lang = lang, anchor='aktuell') }}">
          {% if lang == "de" %}Studiengänge{% else %}Study programmes{% endif %}
        </a>
      </span>
      <ul class="ufr-menu-sub">
        <li>
          <a href="{{ url_for('showstudiengang', studiengang='bsc', lang = lang) }}">
            Bachelor of Science {% if lang == "de" %}Mathematik{% else %}Mathematics{% endif %}
          </a>
        </li>
        <li>
          <a href="{{ url_for('showstudiengang', studiengang='2hfb', lang = lang) }}">
            {% if lang == "de" %}Polyvalenter Zwei-Hauptfächer-Bachelor{% else %}Polyvalent Dual Major Bachelor{% endif %}
          </a>
        </li>
        <li>
          <a href="{{ url_for('showstudiengang', studiengang='msc', lang = lang) }}">
            Master of Science {% if lang == "de" %}Mathematik{% else %}Mathematics{% endif %}
          </a>
        </li>
        <li>
          <a href="{{ url_for('showstudiengang', studiengang='msc_data', lang = lang) }}">
            Master of Science Mathematics in Data and Technology
          </a>
        </li>
        <li>
          <a href="{{ url_for('showstudiengang', studiengang='med', lang = lang) }}">
            Master of Education
          </a>
        </li>
        <li>
          <a href="{{ url_for('showstudiengang', studiengang='med_erw', lang = lang) }}">
            Master of Education {% if lang == "de" %}Erweiterungsfach{% else %}Additional Subject{% endif %}
          </a>
        </li>
        <li>
          <a href="{{ url_for('showstudiengang', studiengang='med_dual', lang = lang) }}">
            {% if lang == "de" %}Masterstudiengang Lehramt Gymnasium – dual{% else %}Master of Education (Gymnasium) with integrated practice{% endif %}
          </a>
        </li>
        <li>
          <a href="https://uni-freiburg.de/mathphys/fakultaet/promotionen/">
            {% if lang == "de" %}Promotion{% else %}PhD{% endif %}
          </a>
        </li>
      </ul>
    </li>

    <li>
      <a class="ufr-menu-item" href="{{ url_for('showdownloads', lang = lang) }}">
        Downloads
      </a>
    </li>
  </ul>

  <ul class="ufr-menu-list">
    <li>
      <span class="ufr-menu-section-title">
        <a class="text-reset" href="{{ url_for('showlehrveranstaltungenbase', lang = lang) }}">
          {% if lang == "de" %}Lehrveranstaltungen{% else %}Courses{% endif %}
        </a>
      </span>
      <ul class="ufr-menu-sub">
        {% if show_laufendes_semester %}
        <li>
          <a href="{{ url_for('showlehrveranstaltungen', lang = lang, semester = laufendes_semester) }}">
            {% if lang == "de" %}laufendes Semester{% else %}current semester{% endif %}
          </a>
        </li>
        {% endif %}
        {% if show_kommendes_semester %}
        <li>
          <a href="{{ url_for('showlehrveranstaltungen', lang = lang, semester = kommendes_semester) }}">
            {% if lang == "de" %}kommendes Semester{% else %}upcoming semester{% endif %}
          </a>
        </li>
        {% endif %}
        <li>
          <a href="{{ url_for('showlehrveranstaltungenbase', lang = lang) }}">
            {% if lang == "de" %}alle Semester und Kommentare{% else %}all semesters{% endif %}
          </a>
        </li>
      </ul>
    </li>

    <li>
      <span class="ufr-menu-section-title">
        <a class="text-reset" href="{{ url_for('showstufaq', lang = lang) }}">
          {% if lang == "de" %}Prüfungsamt und Studienberatung{% else %}Examination office and student counseling{% endif %}
        </a>
      </span>
      <ul class="ufr-menu-sub">
        <li>
          <a href="{{ url_for('showstufaq', lang = lang) }}">FAQ</a>
        </li>
        <li>
          <a href="{{ url_for('showstudiendekanat', lang = lang) }}">
            {% if lang == "de" %}Studienberatung{% else %}Student counseling{% endif %}
          </a>
        </li>
        <li>
          <a href="{{ url_for('showstudiendekanat', unterseite = 'schwerpunktgebiete', lang = lang) }}">
            {% if lang == "de" %}Schwerpunktgebiete{% else %}Focus areas{% endif %}
          </a>
        </li>
        <li>
          <a href="{{ url_for('showstudiendekanat', unterseite = 'pruefungsamt', lang = lang) }}">
            {% if lang == "de" %}Prüfungsamt{% else %}Examination office{% endif %}
          </a>
        </li>
        <li>
          <a href="{{ url_for('showaccordion_nlehre', lang = lang, kurzname = 'downloads', show = 'downloads-studierende') }}">
            {% if lang == "de" %}Formulare und Anträge{% else %}Forms and applications{% endif %}
          </a>
        </li>
        <li>
          <a href="{{ url_for('showstudiendekanat', unterseite = 'termine', lang = lang) }}">
            {% if lang == "de" %}Fristen und Termine{% else %}Deadlines and dates{% endif %}
          </a>
        </li>
        <li>
          <a href="{{ url_for('showstudiendekanat', unterseite = 'calendar', lang = lang) }}">
            {% if lang == "de" %}Prüfungskalender{% else %}Calendar for exams{% endif %}
          </a>
        </li>
        <li>
          <a href="{{ url_for('showstudiendekanat', unterseite = 'ausland', lang = lang) }}">
            {% if lang == "de" %}Austauschprogramme{% else %}Student exchange{% endif %}
          </a>
        </li>
      </ul>
    </li>

    <li>
      <span class="ufr-menu-section-title">
        <a class="text-reset" href="{{ url_for('showmitfaq', lang = lang) }}">
          {% if lang == "de" %}Für Lehrende{% else %}For teaching staff{% endif %}
        </a>
      </span>
      <ul class="ufr-menu-sub">
        <li>
          <a href="{{ url_for('showmitfaq', lang = lang) }}">FAQ</a>
        </li>
        <li>
          <a href="{{ url_for('showlehrendevpn', unterseite = 'calendar', lang = lang) }}">
            {% if lang == "de" %}Kalender{% else %}Calendar{% endif %}
          </a>
        </li>
        <li>
          <a href="{{ url_for('showlehrende', unterseite = 'zertifikat', lang = lang) }}">
            {% if lang == "de" %}Lehrzertifikat{% else %}Teaching certificate{% endif %}
          </a>
        </li>
        <li>
          <a href="{{ url_for('showlehrveranstaltungenplanung', lang = lang, semester = laufendes_semester) }}">
            {% if lang == "de" %}Lehrplanung Zukunft{% else %}Teaching in future semesters{% endif %}
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>

<ul class="ufr-menu-footer">
  <li>
    <a href="{{ url_for('showimpressum', lang = lang) }}">
      {% if lang == "de" %}Impressum{% else %}Imprint{% endif %}
    </a>
  </li>
  <li>
    <a href="{{ url_for('showdatenschutz', lang = lang) }}">
      {% if lang == "de" %}Datenschutz{% else %}Privacy{% endif %}
    </a>
  </li>
  <li>
    <a href="https://uni-freiburg.de/barrierefreiheit/">
      {% if lang == "de" %}Barrierefreiheit{% else %}Accessibility{% endif %}
    </a>
  </li>
</ul>
