<ul class="ufr-menu-list">
  <li>
    <a class="ufr-menu-item" href="{{ url_for('showvortragsreihe', lang = lang) }}">
      {% if lang == "de" %}Alle Vorträge{% else %}All talks{% endif %}
    </a>
  </li>
  {% if reihen %}
  <li>
    <span class="ufr-menu-section-title">
      {% if lang == "de" %}Vortragsreihen{% else %}Lecture series{% endif %}
    </span>
    <ul class="ufr-menu-sub">
      {% for reihe in reihen %}
      <li>
        <a href="{{ url_for('showvortragsreihe', kurzname = reihe['kurzname'], lang = lang) }}">
          {{ reihe["title"] }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </li>
  {% endif %}
  {% if events != [] %}
  <li>
    <span class="ufr-menu-section-title">Events</span>
    <ul class="ufr-menu-sub">
      {% for event in events %}
        <li>
          <a href="{{ url_for('showevent', lang=lang, kurzname = event['kurzname']) }}">
            {{ event['title'] }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </li>
  {% endif %}
  <li>
    <a class="ufr-menu-item" href="{{ url_for('shownews', lang=lang) }}">
      {% if lang == "de" %}News-Archiv{% else %}News archive{% endif %}
    </a>
  </li>
  <li>
    <a class="ufr-menu-item" href="{{ url_for('showwoprofaq', lang=lang) }}">FAQ</a>
  </li>
</ul>

<ul class="ufr-menu-footer">
  <li>
    <a href="{{url_for('showimpressum', lang=lang)}}">
      {% if lang == "de" %}Impressum{% else %}Imprint{% endif %}
    </a>
  </li>
  <li>
    <a href="{{url_for('showdatenschutz', lang=lang)}}">
      {% if lang == "de" %}Datenschutz{% else %}Privacy{% endif %}
    </a>
  </li>
  <li>
    <a href="https://uni-freiburg.de/barrierefreiheit/">
      {% if lang == "de" %}Barrierefreiheit{% else %}Accessibility{% endif %}
    </a>
  </li>
</ul>
