<div class="container" id="inhalt">
  <h1>Downloads</h1>
  <p>
    Hier finden Sie die meisten Dokumente, die wir zum Download anbieten. Das
    kommentierte Vorlesungsverzeichnis ist <a href={{url_for('showlehrveranstaltungenbase', lang=lang)}}>hier</a>.
  </p>

  <div id="accordion"></div>
  <div class="accordion accordion-flush" id="accordionExample">
    <div class="accordion-item">
      <h4 class="accordion-header">
        <button
          type="button"
          class="accordion-button {% if anchor != 'pruefungsamt' %}collapsed{% endif %}"
          data-bs-target="#formulareContent"
          aria-controls="formulareContent"
          aria-expanded="{% if anchor == 'pruefungsamt' %}true{% else %}false{% endif %}"
          data-bs-toggle="collapse"
        >
          <h3 class="h5">
            Formulare und Merkblätter für Studierende
          </h3>
        </button>
      </h4>
      <div
        aria-labelledby="formulareContent"
        class="accordion-collapse collapse {% if anchor == 'pruefungsamt' %}show{% endif %}"
        data-bs-parent="#accordionExample"
        id="formulareContent"
      >
        <div class="accordion-body" id="pruefungsamt">
          <p>Bitte die Formulare nach Möglichkeit digital ausfüllen!</p>
          <ul>
            <li>
              <b> Abmeldung und Rücktritt von Prüfungen </b>
              <br />
              – Merkblatt
              <a
                href="/static/pdf/pruefungsamt/Merkblatt-Pruefungsabmeldung_und_Ruecktritt.pdf"
              >
                alle Studiengänge
              </a>
              <br />
              – Abmeldeformular
              <a
                href="/static/pdf/pruefungsamt/formular-pruefungsabmeldung.pdf"
              >
                alle Studiengänge
              </a>
              <br />
              – Antrag auf Genehmigung eines Rücktritts
              <a href="/static/pdf/pruefungsamt/formular-ruecktritt.pdf">
                alle Studiengänge
              </a>
            </li>
            <li>
              <b> Abschlussarbeit </b>
              <br />
              – Anmeldeformular
              <a
                href="/static/pdf/pruefungsamt/formular-vergabe_abschlussarbeit.pdf"
              >
                alle Studiengänge
              </a>
              <br />
              – Muster-Titelblatt
              <a href="/static/pdf/pruefungsamt/Muster-Titelblatt.pdf">
                alle Studiengänge
              </a>
            </li>
            <li>
              <b> Absolvent:inn:enfeier </b>
              <br />
              –
              <a
                href="/static/pdf/pruefungsamt/formular-absolventinnenfeier.pdf"
              >
                Teilnahmeformular für alle Studiengänge
              </a>
            </li>
            <li>
              <b> Anerkennung und Anrechnung von Leistungen: </b>
              <br />
              – Anerkennungsformular
              <a href="/static/pdf/pruefungsamt/formular-anerkennung-2hfb.pdf">
                2-Hf.-B.
              </a>
              //
              <a href="/static/pdf/pruefungsamt/formular-anerkennung-bsc.pdf">
                B.Sc.
              </a>
              //
              <a
                href="/static/pdf/pruefungsamt/formulare/formular-anerkennung-med.pdf"
              >
                M.Ed.
              </a>
              //
              <a
                href="/static/pdf/pruefungsamt/formular-anerkennung-med120.pdf"
              >
                Erweiterungsfach 120 ECTS
              </a>
              //
              <a href="/static/pdf/pruefungsamt/formular-anerkennung-med90.pdf">
                90 ECTS
              </a>
              //
              <a href="/static/pdf/pruefungsamt/formular-anerkennung-msc.pdf">
                M.Sc.
              </a>
            </li>
            <li>
              <b> Anwendungsfächer im B.Sc. </b>
              <br />
              –
              <a href="/static/pdf/pruefungsamt/formular-anwendungsfach.pdf">
                Antrag auf Sonder-Anwendungfach
              </a>
              <br />
              –
              <a
                href="/static/pdf/pruefungsamt/Merkblatt-Sonderanwendungsfaecher.pdf"
              >
                Merkblatt Sonder-Anwendungsfächer
              </a>
              <br />
              –
              <a
                href="/static/pdf/pruefungsamt/formular-pruefungsanmeldung_sonderanwendungsfach.pdf"
              >
                Prüfungsanmeldung im Sonderanwendungsfach
              </a>
              <br />
              –
              <a href="/static/pdf/pruefungsamt/formular-anwendungsfach.pdf">
                Antrag auf Wechsel des Anwendungfachs
              </a>
              <br />
            </li>
            <li>
              <b> BAföG-Bescheinigungen nach dem 4. Semester: </b>
              <br />
              – Merkblatt
              <a href="/static/pdf/pruefungsamt/Merkblatt-BAfoeG.pdf">
                2-Hf.-B. // B.Sc.
              </a>
            </li>
            <li>
              <b> Nachteilsausgleich: </b>
              <br />
              – Informationsblatt
              <a
                href="/static/pdf/pruefungsamt/Informationen_zum_Nachteilsausgleich-2022.07.08.pdf"
              >
                (deutsch)
              </a>
              <a
                href="/static/pdf/pruefungsamt/Informationen_zum_Nachteilsausgleich-2022.09.30.engl.pdf"
              >
                (englisch)
              </a>
            </li>
            <li>
              <b> Nachzuholende Leistungen im Master of Education: </b>
              <br />
              – Antrag Überprüfung nachzuholende Leistungen
              <a
                href="/static/pdf/pruefungsamt/formular-antrag_nachzuholende-leistungen_med.pdf"
              >
                (MEd)
              </a>
              <br />
              – Bescheinigung nachgeholte Leistungen
              <a
                href="/static/pdf/pruefungsamt/bescheinigung-nachgeholte_leistungen_med.pdf"
              >
                (MEd)
              </a>
            </li>
            <li>
              <b> Prüfungen im Master </b>
              <br />
              – Zulassung zu den Prüfungen
              <a
                href="/static/pdf/pruefungsamt/formular-zulassung_pruefungen_master.pdf"
              >
                M.Ed. (auch Erweiterungsfach) // M.Sc.
              </a>
              <br />
              – Anmeldeformular für mündliche Prüfung
              <a
                href="/static/pdf/pruefungsamt/formular-muendliche_pruefung_med.pdf"
              >
                M.Ed. (auch Erweiterungsfach 120 ECTS)
              </a>
              //
              <a
                href="/static/pdf/pruefungsamt/formular-muendliche_pruefung_msc.pdf"
              >
                M.Sc.
              </a>
            </li>
            <li>
              <b> Prüfungen per Video-Konferenz </b>
              <br />
              –
              <a
                href="/static/pdf/pruefungsamt/formular-alleStg-Datenschutzerklaerung_muendliche_Pruefung-2020.05.27.pdf"
              >
                Datenschutzerklärung für alle Studiengänge
              </a>
            </li>
            <li>
              <b> Redlichkeit</b>
              –
              <a
                href="/static/pdf/pruefungsamt/Regeln_wiss_Redlichkeit.Mathematik.pdf"
                >Informationen zur Redlichkeit im Studium der Mathematik
              </a>
            </li>
            <li>
              <b> Rücktritt aus Krankheitsgründen </b>
              siehe "Abmeldung und Rücktritt von Prüfungen"
            </li>
            <li>
              <b> Vorgezogene mündliche Prüfung </b>
              <br />
              – Antragsformular
              <a href="/static/pdf/formular-vorgezogene_pruefung.pdf">
                2-Hf.-B. // B.Sc. // M.Ed. als Erweiterungsfach
              </a>
            </li>
            <li>
              <b> Wiederholungsprüfung </b>
              <br />
              – Merkblatt
              <a
                href="/static/pdf/pruefungsamt/Merkblatt-Pruefungswiederholung-2HfB21.pdf"
              >
                2-Hf.-B.
              </a>
              //
              <a
                href="/static/pdf/pruefungsamt/Merkblatt-Pruefungswiederholung-BSc21.pdf"
              >
                B.Sc. (PO 2021)
              </a>
              //
              <a
                href="/static/pdf/pruefungsamt/Merkblatt-Pruefungswiederholung-BSc12.pdf"
              >
                B.Sc. (PO 2012)
              </a>
              //
              <a
                href="/static/pdf/pruefungsamt/Merkblatt-Pruefungswiederholung-MEd18.pdf"
              >
                M.Ed.
              </a>
              // Erweiterungsfach
              <a
                href="/static/pdf/pruefungsamt/Merkblatt-Pruefungswiederholung-MEH21.pdf"
              >
                120 ECTS
              </a>
              //
              <a
                href="/static/pdf/pruefungsamt/Merkblatt-Pruefungswiederholung-MEB21.pdf"
              >
                90 ECTS
              </a>
              //
              <a
                href="/static/pdf/pruefungsamt/Merkblatt-Pruefungswiederholung-MSc14.pdf"
              >
                M.Sc.
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h4 class="accordion-header">
        <button
          type="button"
          class="accordion-button {% if anchor != 'formulare_mitarbeiter' %}collapsed{% endif %}"
          data-bs-target="#formulareMContent"
          aria-controls="formulareMContent"
          aria-expanded="{% if anchor == 'formulare_mitarbeiter' %}true{% else %}false{% endif %}"
          data-bs-toggle="collapse"
        >
          <h3 class="h5">Formulare und Merkblätter für Lehrende</h3>
        </button>
      </h4>
      <div
        aria-labelledby="formulareMContent"
        class="accordion-collapse collapse {% if anchor == 'formulare_mitarbeiter' %}show{% endif %}"
        data-bs-parent="#accordionExample"
        id="formulareMContent"
      >
        <div class="accordion-body" id="formulare_mitarbeiter">
          <ul>
            <li>
              <b> Abschlussarbeit </b>
              <br />
              – Bestätigung der erfolgreichen Präsentation
              <a
                href="/static/pdf/lehrende/formular-praesentation_abschlussarbeit.pdf"
              >
                B.Sc. // M.Sc.
              </a>
            </li>
            <li>
              <b> Dokumentation </b>
              <br />
              – Dokumentation erbrachter Studienleistungen für fachfremde
              Wahlmodule
              <a
                href="/static/pdf/lehrende/formular-dokumentation_studienleistungen.pdf"
              >
                alle Studiengänge
              </a>
              <br />
              – Dokumentation bestandener Übungen
              <a
                href="/static/pdf/lehrende/formular-dokumentation_uebungen.pdf"
              >
                alle Studiengänge
              </a>
              <br />
              – Klausurprotokoll
              <a href="/static/pdf/lehrende/klausurprotokoll.pdf">
                alle Studiengänge
              </a>
            </li>
            <li>
              <b> Habilitation</b>
              <br />
              – 
              <a href="/static/pdf/lehrende/HabilOmathphys-02-12-03_Aend_01-10-06-Druckvorlage.pdf">
                Habilitationsordnung
              </a> 1.10.2006
            </li>
            <li>
              <b> Protokoll von Prüfungen</b>
              <br />
              – leeres Protokoll einer mündlichen Prüfung
              <a href="/static/pdf/lehrende/blankoprotokoll.pdf">
                alle Studiengänge
              </a>
            </li>
            <li>
              <b> Prüfungsbefugnis</b>
              <br />
              –
              <a href="/static/pdf/lehrende/Prüfungsbefugnis.pdf">
                Übertragung der Prüfungsbefugnis
              </a>
            </li>
            <li>
              <b> Vorbehaltserklärung bei fehlender Klausuranmeldung </b>
              <br />
              – Formular
              <a href="/static/pdf/lehrende/vorbehaltserklaerung.pdf">
                alle Studiengänge
              </a>
            </li>
            <li>
              <b> Zertifikat Hochschullehre</b>
              <br />
              –
              <a href="/static/pdf/lehrende/Satzung-Zertifikat_Hochschullehre.deutsch.pdf">
                deutsch (offiziell)
              </a>
              <a href="/static/pdf/lehrende/Satzung-Zertifikat_Hochschullehre.englisch.pdf">
                englisch
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h4 class="accordion-header">
        <button
          type="button"
          class="accordion-button {% if anchor != 'studiendokumente' %}collapsed{% endif %}"
          data-bs-target="#studiendokumente"
          aria-controls="studiendokumente"
          aria-expanded="{% if anchor == 'studiendokumente' %}true{% else %}false{% endif %}"
          data-bs-toggle="collapse"
        >
          <h3 class="h5">
            Studiendokumente (Prüfungsordnungen, Modulhandbücher etc.)
          </h3>
        </button>
      </h4>
      <div
        aria-labelledby="studiendokumente"
        class="accordion-collapse collapse {% if anchor == 'studiendokumente' %}show{% endif %}"
        data-bs-parent="#accordionExample"
        id="studiendokumente"
      >
        <div class="accordion-body">
          <h3>Modulhandbücher nach Studiengängen</h3>
          <p>
            Soweit die genauen Anforderungen an Prüfungs- und Studienleistungen
            nicht schon in den Prüfungsordnungen festgelegt sind, werden sie pro
            Semester, Veranstaltung und Modul in den
            <a href="{{ url_for('showlehrveranstaltungenbase', lang=lang)}}"
              >aktuellen Ergänzungen der Modulhandbücher</a
            >
            beschrieben.
          </p>
          <table
            class="table table-lg table-striped table-hover table-borderless"
          >
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">
                  <center>
                    <div>Prüfungs- und</div>
                    <div>Zulassungsordnungen</div>
                  </center>
                </th>
                <th scope="col">
                  <center>
                    <div></div>
                    <div>Modulhandbuch</div>
                  </center>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Bachelor of Science Mathematik</th>
                <td>
                  <center>
                    <a
                      href="https://www.studium.uni-freiburg.de/de/studienangebot/studienfaecher/info/303#collapse-Satzungen"
                      ><i class="fa-solid fa-link"></i
                    ></a>
                  </center>
                </td>
                <td>
                  <center>
                    <a
                      href="/static/pdf/studiengaenge/bsc/Modulhandbuch-Mathematik-BSc21-2023.01.16.pdf"
                      >Stand Mai 2022</a
                    >
                  </center>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Polyvalenter Zwei-Hauptfächer-Bachelor (PO 2021)
                </th>
                <td>
                  <center>
                    <a
                      href="https://www.studium.uni-freiburg.de/de/studienangebot/studienfaecher/info/671#collapse-Satzungen
"
                      ><i class="fa-solid fa-link"></i
                    ></a>
                  </center>
                </td>
                <td>
                  <center>
                    <div>
                      <a
                        href="/static/pdf/studiengaenge/2hfb/Modulhandbuch-Mathematik-2HfB21-2022.05.22.pdf"
                        >Stand Mai 2022</a
                      >
                    </div>
                    <div>
                      <a
                        href="/static/pdf/studiengaenge/2hfb/Modulhandbuch-Mathematik-2HfB21_Optionsbereich-2022.05.22.pdf"
                        >Mathematikmodule im Optionsbereich - Stand Mai 2022</a
                      >
                    </div>
                  </center>
                </td>
              </tr>
              <tr>
                <th scope="row">Master of Science Mathematik (PO 2014)</th>
                <td>
                  <center>
                    <a
                      href="https://www.studium.uni-freiburg.de/de/studienangebot/studienfaecher/info/363#collapse-Satzungen"
                      ><i class="fa-solid fa-link"></i
                    ></a>
                  </center>
                </td>
                <td>
                  <center>
                    <a
                      href="/static/pdf/studiengaenge/msc/Modulhandbuch-Mathematik-MSc14-2022.05.21.pdf"
                      >Stand Mai 2022</a
                    >
                  </center>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Master of Science Mathematics in Data and Technology (PO 2024)
                </th>
                <td>
                  <center>
                    <a
                      href="https://www.studium.uni-freiburg.de/de/studienangebot/master/info/776#collapse-Satzungen"
                      ><i class="fa-solid fa-link"></i
                    ></a>
                  </center>
                </td>
                <td>
                  <center>
                    <a
                      href="/static/pdf/studiengaenge/msc_data/Modulhandbuch-MSc_Maths_in_Data_and_Technology.pdf"
                      >Stand Juni 2024</a
                    >
                  </center>
                </td>
              </tr>
              <tr>
                <th scope="row">Master of Education (PO 2018)*</th>
                <td>
                  <center>
                    <a
                      href="https://www.studium.uni-freiburg.de/de/studienangebot/studienfaecher/info/715#collapse-Satzungen"
                      ><i class="fa-solid fa-link"></i
                    ></a>
                  </center>
                </td>
                <td>
                  <center>
                    <a
                      href="/static/pdf/studiengaenge/med/Modulhandbuch-Mathematik-MEd18-2022.05.21.pdf"
                      >Stand Mai 2022</a
                    >
                  </center>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Master of Education als Erweiterungsbeifach mit 90
                  ECTS-Punkten (PO 2021)
                </th>
                <td>
                  <center>
                    <a
                      href="https://www.studium.uni-freiburg.de/de/studienangebot/studienfaecher/info/748#collapse-Satzungen"
                      ><i class="fa-solid fa-link"></i
                    ></a>
                  </center>
                </td>
                <td>
                  <center>
                    <a
                      href="/static/pdf/studiengaenge/med_erw/Modulhandbuch-Mathematik-MEB21-2022.05.22.pdf"
                      >Stand Mai 2022</a
                    >
                  </center>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Master of Education als Erweiterungshauptfach mit 120
                  ECTS-Punkten (PO 2021)
                </th>
                <td>
                  <center>
                    <a
                      href="https://www.studium.uni-freiburg.de/de/studienangebot/studienfaecher/info/747#collapse-Satzungen"
                      ><i class="fa-solid fa-link"></i
                    ></a>
                  </center>
                </td>
                <td>
                  <center>
                    <a
                      href="/static/pdf/studiengaenge/med_erw/Modulhandbuch-Mathematik-MEB21-2022.05.22.pdf"
                      >Stand Mai 2022</a
                    >
                  </center>
                </td>
              </tr>
            </tbody>
          </table>

          <p>
            (*) Beim Modulhandbuch für den M.Ed.-Studiengang steht irrtümlich
            "(2. Fach bei Musik-/Kunsthochschule)". Das Modulhandbuch gilt auch
            für Fächerkombinationen mit einem zweiten wissenschaftlichen Fach an
            der Universität! Zur Korrektur müsste eine Programmierung in
            HISinOne geändert werden.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h4 class="accordion-header">
        <button
          type="button"
          class="accordion-button {% if anchor != 'promotion' %}collapsed{% endif %}"
          data-bs-target="#promotionContent"
          aria-controls="promotionContent"
          aria-expanded="{% if anchor == 'promotion' %}true{% else %}false{% endif %}"
          data-bs-toggle="collapse"
        >
          <h3 class="h5">Dokumente zur Promotion</h3>
        </button>
      </h4>
      <div
        aria-labelledby="promotion"
        class="accordion-collapse collapse {% if anchor == 'promotion' %}show{% endif %}"
        data-bs-parent="#accordionExample"
        id="promotionContent"
      >
        <div class="accordion-body" id="promotion">
          {% include "/studiengaenge/promotion/downloads.html" %}
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h4 class="accordion-header">
        <button
          type="button"
          class="accordion-button {% if anchor != 'gesetz' %}collapsed{% endif %}"
          data-bs-target="#gesetzContent"
          aria-controls="gesetzContent"
          aria-expanded="{% if anchor == 'gesetz' %}true{% else %}false{% endif %}"
          data-bs-toggle="collapse"
        >
          <h3 class="h5">Allgemeine Gesetze, Ordnungen, Satzungen, ...</h3>
        </button>
      </h4>
      <div
        aria-labelledby="gesetzContent"
        class="accordion-collapse collapse {% if anchor == 'gesetz' %}show{% endif %}"
        data-bs-parent="#accordionExample"
        id="gesetzContent"
      >
        <div class="accordion-body" id="gesetz">
          <p style="text-align: right">
            <i>Letzte Änderung: 04.11.2022</i>
          </p>
          Die Uni Freiburg hat leider keine Seite, auf der alle relevanten
          Gesetze, Prüfungsordnungen, Satzungen etc. versammelt wären. Sehr
          hilfreich ist
          <a href="https://search.tf.uni-freiburg.de/"
            >Hannah Basts Suchmaschine</a
          >, die u.a. BSc- und MSc-Rahmenordnung, Corona-Satzung der Uni,
          Lehramts-Rahmenverordnung und LHG enthält.
          <ul>
            <li>
              Satzungen und Ordnungen der Universität Freiburg:
              <a
                href="https://www.jsl.uni-freiburg.de/Rechtsgrundlagen_Satzungen"
                >Überblicksseite</a
              >
              und insbesondere
              <ul>
                <li>
                  <a
                    href="https://www.jsl.uni-freiburg.de/Rechtsgrundlagen/corona-satzung"
                    >Corona-Satzung</a
                  >
                </li>
                <li>
                  <a
                    href="https://www.jsl.uni-freiburg.de/Rechtsgrundlagen/links%20zu%20pdf/Links/ab-2018-61.pdf"
                    >Grundordnung</a
                  >, 26.10.2022
                </li>
                <li>
                  <a
                    href="https://www.jsl.uni-freiburg.de/Rechtsgrundlagen/links%20zu%20pdf/Links/11_2015_verfahrensordnung.pdf"
                    >Verfahrensordnung</a
                  >, 28.07.2022
                </li>
                <li>
                  <a
                    href="https://www.jsl.uni-freiburg.de/resolveuid/1b4275100fd66e8b9ae40124a47d25cd"
                    >Hausordnung</a
                  >, 20.09.2010
                </li>

                <li>
                  <a
                    href="https://www.jsl.uni-freiburg.de/Rechtsgrundlagen/links%20zu%20pdf/Links/ab-2020-13.pdf"
                    >Qualitätssicherungssatzung</a
                  >, 29.10.2021
                </li>
                <li>
                  <a
                    href="https://intranet.uni-freiburg.de/public/downloads/amtlbek/ab-2022-31.pdf"
                    >Redlichkeitsordnung</a
                  >
                  (Ordnung zur Sicherung der Redlichkeit in der Wissenschaft),
                  02.06.2022
                </li>
                <li>
                  <a
                    href="https://www.jsl.uni-freiburg.de/informationen_fuer_studierende_web/zulassungsordnungen/zimmo.pdf"
                    >Zulassungs- und Immatrikulationsordnung </a
                  >, 26.05.2023
                </li>
              </ul>
            </li>
            <li>
              <a
                href="https://uni-freiburg.de/zuv/service/amtliche-bekanntmachungen/"
                >Amtliche Bekanntmachungen der Universität Freiburg</a
              >
            </li>
            <li>
              Landesrecht:
              <a href="https://www.landesrecht-bw.de">Startseite</a> und
              insbesondere
              <ul>
                <li>
                  <a
                    href="https://www.landesrecht-bw.de/jportal/portal/t/ewt/page/bsbawueprod.psml?doc.hl=1&doc.id=jlr-KapVOBW2002rahmen&documentnumber=1&numberofresults=6&doctyp=Norm&showdoccase=1&doc.part=X&paramfromHL=true#focuspoint"
                    >Kapazitätsverordnung (KapVO VII)</a
                  >, 28.06.2016, als
                  <a
                    href="https://www.landesrecht-bw.de/jportal/portal/t/ewv/page/bsbawueprod.psml/screen/JWPDFScreen/filename/KapVO_BW_2002.pdf"
                    >pdf</a
                  >
                </li>
                <li>
                  <a
                    href="https://www.landesrecht-bw.de/jportal/portal/t/did/page/bsbawueprod.psml?doc.hl=1&doc.id=jlr-HSchulGBWV28IVZ&documentnumber=2&numberofresults=121&doctyp=Norm&showdoccase=1&doc.part=S&paramfromHL=true#focuspoint"
                    >Landeshochschulgesetz (LHG)</a
                  >, 07.02.2023, als
                  <a
                    href="https://www.landesrecht-bw.de/jportal/recherche3doc/HSchulG_BW.pdf?json=%7B%22format%22%3A%22pdf%22%2C%22params%22%3A%7B%22fixedPart%22%3A%22true%22%7D%2C%22docPart%22%3A%22X%22%2C%22docId%22%3A%22jlr-HSchulGBWrahmen%22%2C%22portalId%22%3A%22bsbw%22%7D&_=%2FHSchulG_BW.pdf"
                    >pdf</a
                  >
                </li>
                <li>
                  <a
                    href="https://www.landesrecht-bw.de/jportal/portal/t/dwb/page/bsbawueprod.psml?doc.hl=1&doc.id=jlr-LVerpflVBW2016rahmen&documentnumber=2&numberofresults=15&doctyp=Norm&showdoccase=1&doc.part=R&paramfromHL=true#focuspoint"
                    >Lehrverpflichtungsverordnung (LVVO)</a
                  >, 03.09.2016, als
                  <a
                    href="https://www.landesrecht-bw.de/jportal/portal/t/dx0/page/bsbawueprod.psml/screen/JWPDFScreen/filename/LVerpflV_BW_2016.pdf"
                    >pdf</a
                  >
                </li>
                <li>
                  <a
                    href="https://www.landesrecht-bw.de/jportal/portal/t/dzy/page/bsbawueprod.psml?pid=Dokumentanzeige&showdoccase=1&js_peid=Trefferliste&documentnumber=1&numberofresults=2&fromdoctodoc=yes&doc.id=jlr-LehrRahmenVBWrahmen&doc.part=X&doc.price=0.0&doc.hl=1#focuspoint"
                    >Rahmenvorgabenverordnung Lehramtsstudiengänge
                    (RahmenVO-KM)</a
                  >, 27.04.2015, als
                  <a
                    href="https://www.landesrecht-bw.de/jportal/portal/t/dzz/page/bsbawueprod.psml/screen/JWPDFScreen/filename/LehrRahmenV_BW.pdf"
                    >pdf</a
                  >
                </li>
                <li>
                  <a
                    href="http://www.landesrecht-bw.de/jportal/portal/t/dz5/page/bsbawueprod.psml?pid=Dokumentanzeige&showdoccase=1&js_peid=Trefferliste&documentnumber=1&numberofresults=2&fromdoctodoc=yes&doc.id=jlr-HSchulQSAkkrRglVBWrahmen&doc.part=X&doc.price=0.0&doc.hl=1#focuspoint"
                    >Studienakkreditierungsverordnung (StAkkrVO)</a
                  >, 18.04.2018, als
                  <a
                    href="https://www.landesrecht-bw.de/jportal/portal/t/dz6/page/bsbawueprod.psml/screen/JWPDFScreen/filename/HSchulQSAkkrRglV_BW.pdf"
                    >pdf</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h4 class="accordion-header">
        <button
          type="button"
          class="accordion-button {% if anchor != 'bericht' %}collapsed{% endif %}"
          data-bs-target="#berichtContent"
          aria-controls="berichtContent"
          aria-expanded="{% if anchor == 'bericht' %}true{% else %}false{% endif %}"
          data-bs-toggle="collapse"
        >
          <h3 class="h5">Berichtswesen und sonstige Dokumente</h3>
        </button>
      </h4>
      <div
        aria-labelledby="berichtContent"
        class="accordion-collapse collapse {% if anchor == 'bericht' %}show{% endif %}"
        data-bs-parent="#accordionExample"
        id="berichtContent"
      >
        <div class="accordion-body" id="bericht">
          <ul>
            <li>
              <a
                href="/static/pdf/sonstige_pdf/Qualitaetsziele_Studium-und-Lehre_MathPhys-2018.04.30.pdf"
                >Qualitätsziele der Fakultät für Mathematik und Physik in
                Studium und Lehre</a
              >
            </li>
            <li>
              <a
                href="/static/pdf/sonstige_pdf/Uni-Freiburg-Datenschutz-Informationen-Immatrikulation-Studium-Promotion.pdf"
                >Informationen nach Art. 13/14 Datenschutzgrundverordnung
                (DSGVO)</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
