<div class="container" id="inhalt">
  <!--<a href="{{ url_for('showstudiengang', lang=lang, studiengang='bsc', anchor='kurz', _anchor='modulplan')}}">Test2</a>-->
  <h1>Bachelor of Science in Mathematik (PO 2021)</h1>
  <p>
    Fragen der Studienorganisation (Belegung, Prüfungsanmeldung, etc) finden Sie
    auf den Seiten des
    <a href="{{ url_for('showstudiendekanat', unterseite = 'pruefungsamt', lang=lang) }}">Prüfungsamts</a>.

    <br />
    Einige Fragen beantwortet das
    <a href="{{ url_for('showstufaq', lang=lang) }}"> FAQ</a>. Falls Fragen offen
    bleiben, wenden Sie sich gerne an die
    <a href="{{ url_for('showstudiendekanat', lang=lang) }}">
      Studienberatung des Mathematischen Instituts
    </a>
    wenden.
  </p>

  <div class="container text-end">
    <div class="row">
      <div class="col">
        <a
          href="{{ url_for('showstufaq', lang=lang) }}"
          class="btn btn-primary"
          role="button"
          aria-disabled="true"
        >
          FAQ
        </a>

        <!--        <a
          href="{{ url_for('showweiterbildung', lang=lang)}}"
          class="btn btn-primary"
          role="button"
          aria-disabled="true"
        >
          Weiterbildung
        </a>
        <a
          href="promotion"
          class="btn btn-primary"
          role="button"
          aria-disabled="true"
        >
          Promotion
        </a>-->
        <a
          href="mailto:studienberatung@math.uni-freiburg.de"
          class="btn btn-primary"
          role="button"
          aria-disabled="true"
        >
          Studienberatung
        </a>
      </div>
    </div>
  </div>

  <div class="accordion accordion-flush" id="accordionExample">
    <div class="accordion-item">
      <h4 class="accordion-header">
        <button
          aria-controls="kurzContent"
          aria-expanded="{% if anchor == 'kurz' %}true{% else %}false{% endif %}"
          class="accordion-button {% if anchor != 'kurz' %}collapsed{% endif %}"
          data-bs-target="#kurzContent"
          data-bs-toggle="collapse"
          type="button"
        >
          <h3 class="h5">Kurzbeschreibung des Studiengangs</h3>
        </button>
      </h4>
      <div
        aria-labelledby="kurzContent"
        class="accordion-collapse collapse {% if anchor == 'kurz' %}show{% endif %}"
        data-bs-parent="#accordionExample"
        id="kurzContent"
      >
        <div class="accordion-body" id="kurz">
          {% include "studiengaenge/bsc/kurz.html" %}
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h4 class="accordion-header">
        <button
          aria-controls="vorContent"
          aria-expanded="{% if anchor == 'bewerbung' %}true{% else %}false{% endif %}"
          class="accordion-button {% if anchor != 'bewerbung' %}collapsed{% endif %}"
          data-bs-target="#vorContent"
          data-bs-toggle="collapse"
          type="button"
        >
          <h3 class="h5">Studienbeginn, Bewerbung und Zulassung</h3>
        </button>
      </h4>
      <div
        aria-labelledby="vorContent"
        class="accordion-collapse collapse {% if anchor == 'bewerbung' %}show{% endif %}"
        data-bs-parent="#accordionExample"
        id="vorContent"
      >
        <div class="accordion-body" id="bewerbung">
          <p>
            Studienbeginn ist nur zum Wintersemester möglich. Der Studiengang
            ist nicht zulassungsbeschränkt; die Einschreibung ist bis etwa zehn
            Tage vor Vorlesungsbeginn im Oktober möglich. Eine vorherige
            Bewerbung ist nicht nötig. Es gibt keine gesonderte Einschreibung
            für das Anwendungsfach.
          </p>
          <ul>
            <li>
              <a
                href="https://www.studium.uni-freiburg.de/de/fristen-und-veranstaltungen/fristen"
              >
                Fristen
              </a>
              für Bewerbungen und Einschreibungen
            </li>
            <li>
              Informationsseite der Universität zur
              <a
                href="https://www.studium.uni-freiburg.de/de/studierendenservices/immatrikulation"
              >
                Einschreibung / Immatrikulation
              </a>
            </li>
            <li>
              <a
                href="https://www.studium.uni-freiburg.de/de/studierendenservices/studierendensekretariat"
              >
                Studierendensekretariat
              </a>
              – technische Abwicklung der Einschreibung
            </li>
            <li>
              <a href="https://www.studium.uni-freiburg.de/de/beratung/ias">
                International Admissions and Services
              </a>
              – Bewerbung für ausländische Studienbewerber:innen
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item" id="dokumente">
      <h4 class="accordion-header" id="headerdokumente">
        <button
          aria-controls="dokumenteContent"
          aria-expanded="{% if anchor == 'bewerbung' %}true{% else %}false{% endif %}"
          class="accordion-button {% if anchor != 'dokumente' %}collapsed{% endif %}"
          data-bs-target="#dokumenteContent"
          data-bs-toggle="collapse"
          type="button"
        >
          <h3 class="h5">
            {% if lang == "de" %}Dokumente{% else %}Documents {% endif %}
          </h3>
        </button>
      </h4>
      <div
        aria-labelledby="dokumenteContent"
        class="accordion-collapse collapse {% if anchor == 'dokumente' %}show{% endif %}"
        data-bs-parent="#accordionExample"
        id="dokumenteContent"
      >
        <div class="accordion-body">
          {% include "studiengaenge/bsc/dokumente.html" %}
        </div>
      </div>
    </div>
    <div class="accordion-item" id="verlauf">
      <h4 class="accordion-header" id="headerverlauf">
        <button
          aria-controls="verlaufContent"
          aria-expanded="{% if anchor == 'studienverlauf' %}true{% else %}false{% endif %}"
          class="accordion-button {% if anchor != 'studienverlauf' %}collapsed{% endif %}"
          data-bs-target="#verlaufContent"
          data-bs-toggle="collapse"
          type="button"
        >
          <h3 class="h5">Aufbau des Studiengangs und Studienverlauf</h3>
        </button>
      </h4>
      <div
        aria-labelledby="verlaufContent"
        class="accordion-collapse collapse {% if anchor == 'studienverlauf' %}show{% endif %}"
        data-bs-parent="#accordionExample"
        id="verlaufContent"
      >
        <div class="accordion-body" id="studienverlauf">
          <p>
            Das Studium umfasst 180 ECTS-Punkte (Regelstudienzeit 6 Semester)
            und gliedert sich in die Bereiche:
          </p>
          <ul>
            <li>
              <b> Mathematik </b>
              – mindestens 132 Punkte, inklusive
              <ul>
                <li>13 Punkte für die Bachelor-Arbeit samt Präsentation</li>
                <li>
                  12 Punkte für sogenannte „interne berufsfeldorientierte
                  Kompetenzen“
                  <br />
                  (
                  <i> Praktische Übung Numerik, Proseminar, Seminar </i>
                  )
                </li>
              </ul>
            </li>
            <li>
              „Externe“
              <b> Berufsfeldorientierte Kompetenzen </b>
              – obligatorisch, 8 bis 16 Punkte
              <br />
              <!-- style="margin-bottom:3px;"> -->
              (
              <i>
                in der Regel Kurse am
                <a href="https://www.zfs.uni-freiburg.de/">
                  Zentrum für Schlüsselqualifikationen
                </a>
                (ZfS) oder am
                <a href="https://www.sli.uni-freiburg.de/">
                  Sprachlehrinstitut
                </a>
                (SLI)
              </i>
              )
            </li>
            <li>
              <b> Anwendungsfach </b>
              – obligatorisch, 15 bis 22 Punkte, je nach gewähltem Fach
            </li>
            <li>
              <b> Wahlmodule </b>
              – optional, 0 bis 20 Punkte
            </li>
          </ul>
          <p>
            Durch die Flexibilität in der Gewichtung der einzelnen Bereiche
            können Sie über die Wahl des Anwendungsfachs und der weiterführenden
            Vorlesungen hinaus einen individuellen Schwerpunkt Ihres Studiums
            setzen, zum Beispiel:
          </p>
          <ul>
            <li>
              „Schwerpunkt Mathematik“ (
              <i> möglichst viele Mathematik-Module </i>
              )
            </li>
            <li>
              „Großes Anwendungsfach“ (
              <i>
                Anwendungsfach mit möglichst vielen Wahlmodulen aus dem gleichen
                Fach
              </i>
              )
            </li>
            <li>
              „Zwei Wahlfächer“ (
              <i>
                Anwendungsfach und möglichst viele Wahlmodule aus einem weiteren
                Fach
              </i>
              )
            </li>
            <li>
              „Schwerpunkt Vielfalt“ (
              <i>
                möglichst viele BOK-Kurse und Wahlmodule aus verschiedenen
                Fächern
              </i>
              )
            </li>
          </ul>
          <p>
            Beispielhafter Studienverlauf:
            <!--  (siehe auch die <a href="https://www.math.uni-freiburg.de/lehre/dokumente/uebersicht-bsc2021-studienplan.pdf">detailiertere Übersicht</a>): -->
          </p>
          {% include "studiengaenge/bsc/studienverlauf-bsc-2021.html" %}
          <p>
            Dieser Plan ist
            <b> nur eine Orientierungshilfe! </b>
            Es gibt keine Abfolgebedingungen für die Mathematikveranstaltungen
            oder Festlegungen auf bestimmte Fachsemester. Zu beachten ist aber:
          </p>
          <ul>
            <li style="margin-top: -7px">
              Die beiden Klausuren zu
              <i> Analysis I </i>
              und zu
              <i> Lineare Algebra I </i>
              müssen als Orientierungsleistung am Ende des 3. Fachsemesters
              bestanden sein.
            </li>
            <li>
              Die Veranstaltungen haben inhaltliche Voraussetzungen (beschrieben
              im
              <a
                href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/modulhandbuecher.html"
              >
                Modulhandbuch
              </a>
              )
            </li>
            <li>
              Die Bachelor-Arbeit darf erst geschrieben werden, wenn
              80 ECTS-Punkte in Mathematik erworben wurden.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h4 class="accordion-header">
        <button
          aria-controls="afContent"
          aria-expanded="{% if anchor == 'anwendungsfaecher' %}true{% else %}false{% endif %}"
          class="accordion-button {% if anchor != 'anwendungsfaecher' %}collapsed{% endif %}"
          data-bs-target="#afContent"
          data-bs-toggle="collapse"
          type="button"
        >
          <h3 class="h5">Anwendungsfächer</h3>
        </button>
      </h4>
      <div
        aria-labelledby="afContent"
        class="accordion-collapse collapse {% if anchor == 'anwendungsfaecher' %}show{% endif %}"
        data-bs-parent="#accordionExample"
        id="afContent"
      >
        <div class="accordion-body" id="anwendungsfaecher">
          <p>
            Das Studium im B.Sc. Mathematik sieht verpflichtend ein sogenanntes
            „Anwendungsfach“ vor. Pro Anwendungsfach gibt es einen festen
            Studienplan (teils mit Wahlmöglichkeiten) und die Noten der
            Prüfungen gehen in die Endnote ein.
          </p>
          <p>
            Frei gewählt werden kann aus einem der
            <b> Standard-Anwendungsfächer </b>
            :
          </p>
          <ul>
            <li style="margin-top: -7px">
              <i> Betriebswirtschaftslehre (BWL) </i>
            </li>
            <li>
              <i> Biologie </i>
              (vorherige Teilnahme an der Sicherheitsunterweisung erforderlich!)
            </li>
            <li>
              <i> Informatik </i>
            </li>
            <li>
              <i> Physik </i>
            </li>
            <li>
              <i> Volkswirtschaftslehre (VWL) </i>
            </li>
          </ul>
          <p>
            Andere Anwendungsfächer („
            <b> Sonder-Anwendungsfächer </b>
            “) sind auf Antrag möglich, sofern die Lehreinheit, die das Fach
            anbietet, zustimmt und einen passenden Studienplan erstellt, der
            mindestens 15 und höchstens 22 ECTS-Punkten umfasst. (Siehe auch das
            <a
              href="https://www.math.uni-freiburg.de/lehre/pruefungsamt/merkblaetter/Merkblatt-Sonderanwendungsfaecher.pdf"
            >
              Merkblatt für Sonder-Anwendungsfächer
            </a>
            .)
            <br />
            Folgende Anwendungsfächer sind in der Vergangenheit bereits
            genehmigt worden:
          </p>
          <ul>
            <li style="margin-top: -7px">
              <!--<i>Bioinformatik</i> </li> 
      <li>-->
              <i> Chemie </i>
            </li>
            <li>
              <i> Geographie </i>
            </li>
            <li>
              <i> Geowissenschaften </i>
            </li>
            <li>
              <i> Hydrologie </i>
            </li>
            <li>
              <i> Kognitionswissenschaften </i>
            </li>
            <li>
              <i> Meteorologie </i>
            </li>
            <li>
              <i> Mikrosystemtechnik </i>
            </li>
            <li>
              <i> Molekulare Medizin </i>
            </li>
            <li>
              <i> Musikwissenschaften </i>
            </li>
            <li>
              <i> Philosophie </i>
              <!--(beschränkte Studienplatzzahl)-->
            </li>
            <li>
              <i> Politikwissenschaften </i>
            </li>
            <li>
              <i> Psychologie </i>
              (nur ganz wenige Studienplätze)
            </li>
            <li>
              <i> Soziologie </i>
              <!--(beschränkte Studienplatzzahl)-->
            </li>
            <li>
              <i> Sportwissenschaften </i>
            </li>
            <li>
              <i> Waldwirtschaft und Umwelt </i>
            </li>
          </ul>
          <p>
            Das Anwendungsfach wird im Laufe des Studiums festgelegt und kann
            dann noch einmal (durch formlosen schriftlichen Antrag an das
            Prüfungsamt) geändert werden. Die Festlegung erfolgt für ein
          </p>
          <ul style="margin-top: -7px">
            <li>
              Sonder-Anwendungsfach durch die Genehmigung des schriftlichen
              Antrags,
            </li>
            <li>
              Standard-Anwendungsfach durch die Anmeldung einer Prüfung oder
              Registrierung einer Studienleistung.
              <br />
              (
              <i>
                Achtung: Die Belegung einer Veranstaltung des Anwendungsfachs in
                HISinOne blockiert bereits die Prüfungsanmeldung bzw.
                Studienleistungsregistrierung in einem anderen Anwendungsfach,
                zählt aber noch nicht als Festlegung des Anwendungsfachs. Sie
                können solche Belegungen im Prüfungsamt auf das sogenannte
                "Globale Überlaufskonto" umbuchen lassen, falls Sie ein anderes
                Anwendungsfach wählen wollen.
              </i>
              )
            </li>
          </ul>
          Es ist auch möglich, zunächst in mehrere der Standardanwendungsfächer
          „hineinzuschnuppern“, und dann Module aus den nicht gewählten Fächern
          als Wahlmodule anrechnen zu lassen.
          <p>
            <b>
              Studienpläne und -verläufe in den Standard-Anwendungsfächern
            </b>
            (in Klammern ECTS-Punkte)
          </p>
          {% include "studiengaenge/bsc/studienverlauf-bsc-2021-af.html" %}
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h4 class="accordion-header">
        <button
          aria-controls="modulplanContent"
          aria-expanded="{% if anchor == 'modulplan' %}true{% else %}false{% endif %}"
          class="accordion-button {% if anchor != 'modulplan' %}collapsed{% endif %}"
          data-bs-target="#modulplanContent"
          data-bs-toggle="collapse"
          type="button"
        >
          <h3 class="h5">
            {% if lang == 'de' %}Modulplan{% else %}Plan of modules{% endif %}
          </h3>
        </button>
      </h4>
      <div
        aria-labelledby="modulplanContent"
        class="accordion-collapse collapse {% if anchor == 'modulplan' %}show{% endif %}"
        data-bs-parent="#accordionExample"
        id="modulplanContent"
      >
        <div class="accordion-body" id="modulplan">
          {% include "/studiendekanat/modulplan_bsc.html" %}
        </div>
      </div>
    </div>
  </div>
</div>
