<p style="margin-top: 30px"></p>
<table border="1" class="bg-white">
  <tr class="bg-ufr-blue-20">
    <td align="center" style="width: 6%; height: 50px" valign="bottom">Sem</td>
    <td align="center" colspan="3" style="width: 52%">
      <b> Mathematik </b>
      <br />
      (mindestens 120 Punkte)
    </td>
    <td align="center" colspan="2">
      <b>
        Berufsfeldorientierte
        <br />
        Kompetenzen
      </b>
      (20 Punkte)
    </td>
    <td align="center" style="width: 18%">
      <b> Andere Fächer </b>
      <br />
      (bis 40 Punkte)
    </td>
  </tr>
  <tr>
    <td colspan="7"></td>
  </tr>
  <tr>
    <td align="center" class="bg-ufr-blue-20">
      <br />
      6
      <br />
    </td>
    <td align="center" class="mathematik-weitere" style="width: 26%">
      <b>
        weiterführende
        <br />
        Vorlesung
      </b>
    </td>
    <td align="center" class="abschlussarbeit" colspan="2">
      <b> Bachelor-Arbeit </b>
    </td>
    <td align="center" class="seminar" style="width: 12%">
      <b> Seminar </b>
    </td>
    <td align="center" class="bok" rowspan="4" style="width: 12%">
      <b>
        Kurse am
        <br style="margin-bottom: 2px" />
        Zentrum für Schlüssel- qualifika- tionen (ZfS)
        <br style="margin-bottom: 2px" />
        oder
        <br style="margin-bottom: 2px" />
        Sprachlehr- institut (SLI)
      </b>
    </td>
    <td align="center" class="wahlmodul" rowspan="2">
      <b> Wahlmodule </b>
    </td>
  </tr>
  <tr>
    <td align="center" class="bg-ufr-blue-20">
      <br />
      5
      <br />
    </td>
    <td align="center" class="mathematik-weitere" colspan="3">
      <b> weiterführende Vorlesungen / Seminare </b>
    </td>
    <td align="center" class="seminar">
      <b> Proseminar </b>
    </td>
  </tr>
  <tr>
    <td align="center" class="bg-ufr-blue-20">
      <br />
      4
      <br />
    </td>
    <td align="center" class="mathematik-weitere" colspan="2">
      <b> weiterführende Vorlesungen </b>
    </td>
    <td align="center" class="mathematik" rowspan="2" style="width: 13%">
      Numerik II
      <br />
      <br />
      —
      <b> Numerik </b>
      —
      <br />
      <br />
      Numerik I
    </td>
    <td align="center" class="seminar" rowspan="2">
      <b> Praktische Übung Numerik </b>
    </td>
    <td align="center" class="anwendungsfach" rowspan="4">
      <b> Anwendungsfach </b>
      <br style="margin-bottom: 5px" />
      z.B. Physik,
      <br />
      Informatik,
      <br />
      Wirtschaft,
      <br />
      Philosophie
      <br />
      <br />
      fester Studienplan
      <br />
      pro Fach
    </td>
  </tr>
  <tr>
    <td align="center" class="bg-ufr-blue-20">
      <br />
      3
      <br />
    </td>
    <td align="center" class="mathematik">
      <b> Analysis III </b>
    </td>
    <td align="center" class="mathematik" style="width: 13%">
      <b> Stochastik I </b>
    </td>
  </tr>
  <tr>
    <td align="center" class="bg-ufr-blue-20">
      <br />
      2
      <br />
    </td>
    <td align="center" class="mathematik" colspan="1" rowspan="2">
      Analysis II
      <br />
      <br />
      ————
      <b> Analysis </b>
      ————
      <br />
      <br />
      Analysis I
    </td>
    <td align="center" class="mathematik" colspan="2" rowspan="2">
      Lineare Algebra II
      <br />
      <br />
      –——
      <b> Lineare Algebra </b>
      ——–
      <br />
      <br />
      Lineare Algebra I
    </td>
    <td></td>
    <td align="center" class="bok">
      <b> Programmier -praktikum </b>
    </td>
  </tr>
  <tr>
    <td align="center" class="bg-ufr-blue-20">
      <br />
      1
      <br />
    </td>
  </tr>
  <p></p>
  <table border="0" cellspacing="20" style="width: 100%">
    <tr>
      <td colspan="6">
        <b> Legende: </b>
      </td>
    </tr>
    <tr>
      <td>Punkte</td>
      <td>=</td>
      <td>Leistungspunkte (entsprechend dem geschätzten Aufwand)</td>
      <td>Sem</td>
      <td>=</td>
      <td>Semester</td>
    </tr>
    <tr>
      <td class="mathematik"></td>
      <td>=</td>
      <td>Pflichtveranstaltung in Mathematik</td>
      <td class="abschlussarbeit"></td>
      <td>=</td>
      <td>Bachelor-Arbeit</td>
    </tr>
    <tr>
      <td class="mathematik-weitere"></td>
      <td>=</td>
      <td>Wahlveranstaltung in Mathematik</td>
      <td class="wahlmodul"></td>
      <td>=</td>
      <td>Wahlmodule (beliebige Fächer)</td>
    </tr>
    <tr>
      <td class="seminar"></td>
      <td>=</td>
      <td>berufsfeldorientierte Kompetenzen in Mathematik</td>
      <td class="anwendungsfach"></td>
      <td>=</td>
      <td>Anwendungsfach</td>
    </tr>
    <tr>
      <td class="bok"></td>
      <td>=</td>
      <td>"externe" berufsfeldorientierte Kompetenzen</td>
    </tr>
  </table>
</table>
