<p style="margin-top:30px;">
  <table border="1" cellpadding="5" cellspacing="5" width="100%" bgcolor="#e7e7e7" style="text-align:center;">
    <tr valign="top">
      <td valign="bottom" rowspan="3" style="width:5%;" bgcolor="#d7d7e7">Sem</td>
      <td align="center" rowspan="2" style="width:19%;" bgcolor="#e6ffff"><b>BIOLOGIE</b><br>20&ndash;22 Punkte<br>3 oder 4 Module</td>
      <td align="center" rowspan="2" style="width:19%;" bgcolor="#d7f0ff"><b>INFORMATIK</b><br>18 Punkte<br>3 Module</td>
      <td align="center" rowspan="2" style="width:19%;" bgcolor="#c8e1ff"><b>PHYSIK</b><br>20 Punkte<br>2 Module</td>
      <td align="center" style="width:19%;" bgcolor="#b9d2ff"><b>BWL</b><br>18 Punkte</td>
      <td align="center" style="width:19%;" bgcolor="#aac3ff"><b>VWL</b><br>20-22 Punkte</td>
    </tr>
    <tr>
      <td colspan="2" align="center" bgcolor="#d7d7e7"><b style="color:#c1002a;">jeweils zur Wahl: 3 der 4 Semester</b></td>
    </tr> 
    <tr>
      <td colspan="6"></td>
    </tr> 
    <tr>
      <td bgcolor="#d7d7e7"><br>4<br>&nbsp;</td>
      <td bgcolor="#e6ffff" rowspan="2"><b>ein oder zwei Wahlmodule&nbsp;<span style="color:#c1002a;">*</span></b><br> (6 oder 8)<br> <i>im 3. oder im 4.&nbsp;Sem.</i></td>
      <td bgcolor="#d7f0ff" rowspan="2"><b>Modul 3&nbsp;<span style="color:#c1002a;">**</span></b> (6) <br> <i>im 3. oder im 4.&nbsp;Sem.</i></td>
      <td></td>
      <td bgcolor="#b9d2ff"><b>Unternehmens- rechnung</b> (6)</td>
      <td bgcolor="#aac3ff"><b>Makroökonomik&nbsp;II</b> (6)</td>
    </tr>
    <tr>
      <td bgcolor="#d7d7e7"><br>3<br>&nbsp;</td>
      <td bgcolor="#c8e1ff"><b>Physiklabor für Naturwissen- schaftler</b> (4)</td>
      <td bgcolor="#b9d2ff"><b>Produktion und Absatz</b> (6)</td>
      <td bgcolor="#aac3ff"><b>Makroökonomik&nbsp;I</b> (6)</td>
    </tr>
    <tr>
      <td bgcolor="#d7d7e7"><br>2<br>&nbsp;</td>
      <td bgcolor="#e6ffff"><b>Wahlmodul&nbsp;<span style="color:#c1002a;">*</span></b> (8)</td>
      <td bgcolor="#d7f0ff"><b>Modul 2&nbsp;<span style="color:#c1002a;">**</span></b> (6)</td>
      <td bgcolor="#c8e1ff" rowspan="2" ><b>mündl. Prüfung<br style="margin-bottom:5px;">Experimental- physik&nbsp;II<br style="margin-bottom:5px;">Ex.physik&nbsp;I</b><br> (zusammen 16)</td>
      <td bgcolor="#b9d2ff"><b>Investition und Finanzierung</b> (6)</td>
      <td bgcolor="#aac3ff"><b>Mikroökonomik&nbsp;II</b> (8)</td>
    </tr>
    <tr>
      <td bgcolor="#d7d7e7"><br>1<br>&nbsp;</td>
      <td bgcolor="#e6ffff"><b>Zellbiologie</b> (6)</td>
      <td bgcolor="#d7f0ff"><b>Modul 1&nbsp;<span style="color:#c1002a;">**</span></b> (6)</td>
      <td bgcolor="#b9d2ff"><B>Unternehmens- theorie</B> (6)</td>
      <td bgcolor="#aac3ff"><B>Mikroökonomik&nbsp;I + Einführung in die VWL</B> (zusammen 8)</td>
    </tr>
    <tr>
      <td bgcolor="#d7d7e7">vor- her</td>
      <td bgcolor="#e6ffff">Sicherheits- unterweisung!</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</p>
<p>
  <table>
    <tr>
      <td colspan="2"><b style="color:#c1002a;">(*) Wahlmodule in Biologie:</b></td>
    </tr>
    <tr>
      <td valign="top" width="12%">im Winter</td>
      <td><b>Genetik und Molekularbiologie</b> (6), <b>Zoologie und Evolution der Tiere</b> (8),
       <b>Pflanzenphysiologie</b> (4), <b>Tierphysiologie</b> (4) </td>
    </tr>
    <tr>
      <td valign="top">im Sommer</td>
      <td> <b>Botanik und Evolution der Pflanzen</b> (8), <b>Mikrobiologie, Immunbiologie und Biochemie</b> (8), <b>Entwicklungsbiologie</b> (8), <b>Ökologie</b> (8)  </td>
    </tr>
    <tr>
      <td colspan="2"><b style="color:#c1002a;">(**) Mögliche Module in Informatik:</b></td>
    </tr>
    <tr>
      <td valign="top" width="12%">im Winter</td>
      <td><b>Einführung in die Programmierung</b> (6), <b>Rechnernetze</b> (6), <b>Betriebssysteme</b> (6), <b>Software-Praktikum</b> (6) </td>
    </tr>
    <tr>
      <td valign="top">im Sommer</td>
      <td> <b>Algorithmen und Datenstrukturen</b> (6), <b>Fortgeschrittene Programmierung</b> (6) <b>Technische Informatik</b> (6)</td>
    </tr>
    <tr>
      <td></td>
      <td>Software-Praktikum und Fortgeschrittene Programmierung schließen sich gegenseitig aus!</td>
    <tr>
  </table>
</p>

<p>
  Weitere Informationen siehe in den verschiedenen Abschnitten der <a href="bsc-2012.html">Informationsseite zum Studiengang</a>!
</p>



